﻿@model BLL.ViewModels.ClientPOCListViewModel
@{
    ViewBag.Title = "Client POC List - " + Model.CompanyName;
}

<style type="text/css">
    .bgEditPopupCPOC {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditPopupCPOC {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 650px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
</style>
@*<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>*@
<script type="text/javascript">
    function expandSearchFilter() {
        document.getElementById("trSearchFilterContent1").style.display = "table-row";
        document.getElementById("trSearchFilterFooter1").style.display = "table-row";
        document.getElementById("lblClientPOCExpand").style.display = "none";
        document.getElementById("lblClientPOCCollapse").style.display = "inline";
    }
    function collapseSearchFilter() {
        document.getElementById("trSearchFilterContent1").style.display = "none";
        document.getElementById("trSearchFilterFooter1").style.display = "none";
        document.getElementById("lblClientPOCExpand").style.display = "inline";
        document.getElementById("lblClientPOCCollapse").style.display = "none";
    }
    $(function () {
        $.ajaxSetup({ cache: false });
    });
    function populateZipData(zipControl, stateControl, cityControl) {
        try {
            $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
              { ZipCode: $("#" + zipControl).val() },
              function (data) {
                  if (data != -1) {

                      $("#" + stateControl).val(data.State);
                      $("#" + cityControl).val(data.City);
                  }
                  else {
                      $("#" + stateControl).val("");
                      $("#" + cityControl).val("");
                  }

              });
            copyInsuredToLossOnBlur();
        } catch (err) {
        }
    }

    function refreshCPOCList() {
        $("#imgProcessingCPOC").show();
        $.ajax({
            url: '@Url.Action("ClientPOCList", "InsuranceSetup")'
            , type: 'GET'
            , data: { CompanyId: '@Model.CompanyId' }
            , cache: false
        }).done(function (result) {
            $("#divCPOCList").html(result);
            $("#imgProcessingCPOC").hide();
        }).fail(function (result) {
        });
    }
    function btnSaveCPOC_Click() {
        $("#hdnCPOCHeadCompanyId").val('@Model.CompanyId');
        var data = $("#frmCPOC").serialize();
        $("#imgProcessingNewClientPOCSubmit").show();
        $.ajax({
            url: '@Url.Action("ClientPOCEdit", "InsuranceSetup")'
        , type: 'POST'
            , data: data
        }).done(function (result) {
            if (result.Code == "1") {
                $("#divClientPOC").empty();
                disablePopupNewClientPOC();
                $("#imgProcessingNewClientPOCSubmit").hide();
                refreshCPOCList();
            }
            else if (result.Code == "-1") {
                $("#divClientPOC").html(result.Data);
                $("#imgProcessingNewClientPOCSubmit").hide();
            }
        }).fail(function (result) {
        });
    }
    function btnDeleteCPOC_Click(userId, name) {
        if (confirm("Are you sure you want to delete the Client POC, " + name + "?"))
            $.ajax(
                {
                    url: '@Url.Action("ClientPOCDelete","InsuranceSetup")'
                    , type: "POST"
                    , data: { UserId: userId }
                }).done(function (result) {
                    if (result.Code == "-2") {
                        alert(result.Data);
                    }
                    else if (result.Code == "1") {
                        refreshCPOCList();
                    }
                }).fail(function (result) {
                });
    }
    function btnNewCPOC_Click() {
        $("#spnCPOCHeading").html("Add ");
        $("#btnSaveCPOC").val("Add ");
        $("#hdnCPOCHeadCompanyId").val('@Model.CompanyId');
        $("#imgProcessingCPOC").show();
        $.ajax({
            url: '@Url.Action("ClientPOCEdit", "InsuranceSetup")'
        , type: 'GET'
            , data: { UserId: 0 }
            , cache: false
        }).done(function (result) {
            $("#divClientPOC").empty();
            $("#divClientPOC").html(result);
            loadPopupCPOC();
            $("#imgProcessingCPOC").hide();

        }).fail(function (result) {
        });
    }
    function btnEditCPOC_Click(userId) {
        $("#spnCPOCHeading").html("Edit ");
        $("#btnSaveCPOC").val("Save ");
        $("#imgProcessingCPOC").show();
        $.ajax({
            url: '@Url.Action("ClientPOCEdit", "InsuranceSetup")'
        , type: 'GET'
            , data: { UserId: userId }
            , cache: false
    }).done(function (result) {
        $("#divClientPOC").empty();
        $("#divClientPOC").html(result);
        loadPopupCPOC();
        $("#imgProcessingCPOC").hide();
    }).fail(function (result) {
    });
}
function loadPopupCPOC() {

    centerPopupNewClientPOC();
    $("#divBgEditPopupCPOC").css({
        "opacity": "0.7"
    });

    $("#divBgEditPopupCPOC").fadeIn("slow");
    $("#divCPOCPopup").fadeIn("slow");
}
function disablePopupNewClientPOC() {
    //debugger;
    //disables popup only if it is enabled 
    var popupStatus = 1;
    if (popupStatus == 1) {
        $("#divBgEditPopupCPOC").fadeOut("slow");
        $("#divCPOCPopup").fadeOut("slow");
        popupStatus = 0;
    }
}
function centerPopupNewClientPOC() {
    //request data for centering

    var windowWidth = parent.document.documentElement.clientWidth;
    var windowHeight = parent.document.documentElement.clientHeight;
    var popupHeight = $("#divCPOCPopup").height();
    var popupWidth = $("#divCPOCPopup").width();
    //centering  
    $("#divCPOCPopup").css({
        "position": "absolute",
        "top": (windowHeight / 2 - popupHeight / 2),
        "left": windowWidth / 2 - popupWidth / 2

    });
    //only need force for IE6  

    $("#divBgEditPopupCPOC").css({
        "height": windowHeight
    });
    return false;
}
</script>
<table align="left" cellspacing="0" width="100%">
    <tr>
        <td class="mainHeader">
            <table width="100%">
                <tr>
                    <td colspan="2">
                        @using (Html.BeginForm("ClientPOCList", "InsuranceSetUp", FormMethod.Post))
                        {
                            <table align="left" cellspacing="0" width="100%">
                                <tr>
                                    <td class="mainHeader">
                                        <a id="lblClientPOCExpand" style="color: black;" href="#" onclick="expandSearchFilter()">ClientPOC Filter</a>
                                        <a id="lblClientPOCCollapse" href="#" onclick="collapseSearchFilter()" style="display: none; color: black;">ClientPOC Filter</a>
                                    </td>
                                </tr>
                                <tr id="trSearchFilterContent1" style="display: none;">
                                    <td class="content">
                                        <table>
                                            <tr>
                                                <td nowrap="nowrap" valign="middle">Company Name: </td>
                                                <td valign="top">
                                                    @*@Html.HiddenFor(model => model.CompanyId);*@
                                                   @Html.DropDownListFor(model => model.CompanyId, Model.Companies1, new { style = "width:150px;" })
                                                </td>
                   
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr align="right" id="trSearchFilterFooter1" style="display: none;">
                                    <td class="footer">
                                        <input type="submit" class="buttonYellow_100" value="Search" />
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr style="height:12px;background-color:white">
                    <td align="right" cellspacing="0" width="100%" colspan="2"  ></td>
                </tr>
                <tr>
                    <td align="left">Client POC List</td>
                    <td align="right">
                        <img id="imgProcessingCPOC" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none; padding-right: 5px;" alt="Processing" />
                        <input type="button" onclick="btnNewCPOC_Click()" class="buttonLightYellow_100" value="New" />
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="content">
            <div id="divCPOCList">
                @Html.Partial("_CompanyCPOCList")
                <br />
                <br />
                <br />
            </div>
        </td>
    </tr>
    <tr align="right" id="trSearchFilterFooter">
        <td class="footer" align="left">
            @using (Html.BeginForm("CompaniesList", "InsuranceSetUp", FormMethod.Get))
            {
                <input type="submit" class="buttonYellow_100" value="Back" />
            }
        </td>
    </tr>
</table>

<div id="divCPOCPopup" style="display: none;" class="EditPopupCPOC">
    <table width="100%" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <div style="float: left">
                                    <span id="spnCPOCHeading"></span>Client Point of Contact
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupNewClientPOC();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">
                <div id="divClientPOCError" class="errorMsg" style="text-align: left; width: 100%;"></div>
                @using (Html.BeginForm("ClientPOCEdit", "InsuranceSetUp", FormMethod.Post, new { @id = "frmCPOC" }))
                {
                    <div id="divClientPOC"></div>
                }
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <img id="imgProcessingNewClientPOCSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                <input id="btnSaveCPOC" type="button" value="Save" class="buttonYellow_100" onclick="btnSaveCPOC_Click()" /></td>
        </tr>
    </table>
</div>
<div id="divBgEditPopupCPOC" onclick="disablePopupNewClientPOC();" class="bgEditPopupCPOC" style="display: none;"></div>
