﻿@model BLL.ViewModels.InsuranceTypeSearchViewModel

@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

@{
    ViewBag.Title = "Companies List";
}

<style type="text/css">
    .wideareadivNewPricing {
        width: 350px;
        height: 80px;
    }

    .wide {
        width: 350px;
    }
</style>

<script type="text/javascript">
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
    function expandSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "table-row";
        document.getElementById("trSearchFilterFooter").style.display = "table-row";
        document.getElementById("lblcompExpand").style.display = "none";
        document.getElementById("lblcompCollapse").style.display = "inline";
    }
    function collapseSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "none";
        document.getElementById("trSearchFilterFooter").style.display = "none";
        document.getElementById("lblcompExpand").style.display = "inline";
        document.getElementById("lblcompCollapse").style.display = "none";
    }
    function loadLOBPopup(url) {

        document.getElementById("iframeLOB").src = url;

        $("#LOBmodal").modal('show');
        return false;
    }

</script>

<style>
    .table-scrollable {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        border: 1px solid #e7ecf1;
        margin: 10px 0 !important;
        margin-top: 0 !important;
        padding-top: 6px;
    }

    .portlet.light.portlet-fit > .portlet-body {
        padding: 0px 0px 0px 0px !important;
    }

    .portlet {
        margin-top: 0;
        margin-bottom: 5px !important;
        padding: 0;
        border-radius: 4px;
    }

    .active {
        background-color: purple !important;
        border-color: purple !important;
    }

</style>
<style type="text/css">
    .waiting-box {
        display: block;
        position: fixed; /* fixed position so it doesn't scroll */
        _position: fixed; /* hack for internet explorer 6*/
        z-index: 99; /* on top of everything else */
          top: 0;
        left: 0;
        /*left: 50%;
        top: 50%;*/ /* displayed on the top of the page, just like Gmail's yellow info-box */
        /*background: white;*/
         background-color: black;
       
        border-radius: 4px;
        /*margin-top: -147px;*/
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
         min-height: 100%;
        width: 100%;
    }

    .waitStyle {
        opacity: 0.7;
        cursor: wait;
    }
     .loading
    {
        font-family: Arial;
        font-size: 10pt;
        /*border: 5px solid #67CFF5;*/
        width: 150px;
        height: 150px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }
</style>
<div class="loading" align="center">
    <img src="@Url.Content("~/Content/Images/spinner.gif")"  width="150" height="150" />
</div>
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <strong>Error!</strong> @ViewBag.ErrorMsg
    </div>}
<div id="right-pane">
@using (Html.BeginForm("CompaniesList", "InsuranceSetUp", FormMethod.Post, new { @id = "frmCompanySearch" }))
{
    <input type="hidden" id="hdnsorting" value="@Model.sortString" name="sortString" />
    <input type="hidden" id="hdnHeader" value="@Model.sortBy" name="sortBy" />
    <div class="portlet box" style="background-color: #406E98 !important;">
        <div class="portlet-title">
            <div class="caption">

                <div class="row">
                    <div class="col-md-1">
                        <span style="font-weight: 600; vertical-align: -webkit-baseline-middle; padding-left: 10px;">FIND:</span>
                    </div>

                    <div class="col-md-4 col-md-push-2">
                        <div class="btn-group" data-toggle="buttons">
                            @{
                              var aInActive = "";
                               var aActive = "";
                               var aAll = "";
                               if (Model.active == "1") { aActive = "active"; }
                               else if (Model.active == "0") { aInActive = "active"; }
                               else { aAll = "active"; }
                            }
                            <label class="btn blue @aInActive">
                                @Html.RadioButtonFor(model => model.active, "0", new { @class = "toggle" })Inactive
                            </label>
                            <label class="btn blue @aActive">
                                @Html.RadioButtonFor(model => model.active, "1", new { @class = "toggle" })Active
                            </label>
                            <label class="btn blue @aAll">
                                @Html.RadioButtonFor(model => model.active, "", new { @class = "toggle" })All
                            </label>
                        </div>

                    </div>

                    <div class="col-md-7">
                        <div class="input-group">

                            @Html.TextBoxFor(model => model.CompanyName, new { placeholder = "Company Name...", @class = "form-control fontsizefortbl" })
                            @*<span class="input-group-btn">
                                    <button class="btn blue" type="submit">
                                        <i class="fa fa-search"></i>

                                    </button>
                                </span>*@
                            <span class="input-group-btn">
                                <button class="btn blue uppercase bold" type="submit">Search</button>
                            </span>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="portlet-body form">

            <div class="table-scrollable">

                <table class="table table-hover fontsizefortbl">
                    <thead class="tableHeader" style="background-color: #406E98 !important;color: white;">
                        <tr valign="top">
                            <th> Company Name </th>
                            <th>
                                <a onclick="Sortinglist('City', '');" style="color:white;">City</a>
                                @{
                              string Cityacsdisplay = "";
                              string Citydecdisplay = "";
                                }

                                @if (Model.sortBy == "City")
                                {
                                    if (Model.sortString == "ASC")
                                    {
                                        Citydecdisplay = "display: none";
                                    }
                                    if (Model.sortString == "DSC")
                                    {
                                        Cityacsdisplay = "display: none";
                                    }
                                }

                                @if (Cityacsdisplay == "" && Citydecdisplay == "")
                                {
                                    Citydecdisplay = "margin-left:-11px ";
                                }
                                <i id="icomasc" class="fa fa-sort-up" style="color:white;@Cityacsdisplay" ></i>
                                <i id="icomdes" class="fa fa-sort-down" style="color:white; margin-top:1px; @Citydecdisplay" ></i>
                            </th>
                            <th>
                                <a onclick="Sortinglist('State', '');" style="color:white;">State</a>
                                @{
                                string Stateacsdisplay = "";
                                string Statedecdisplay = "";
                                }

                                @if (Model.sortBy == "State")
                                {
                                    if (Model.sortString == "ASC")
                                    {
                                        Statedecdisplay = "display: none";
                                    }
                                    if (Model.sortString == "DSC")
                                    {
                                        Stateacsdisplay = "display: none";
                                    }
                                }

                                @if (Stateacsdisplay == "" && Statedecdisplay == "")
                                {
                                    Statedecdisplay = "margin-left:-11px ";
                                }
                                <i id="icomasc" class="fa fa-sort-up" style="color:white;@Stateacsdisplay" ></i>
                                <i id="icomdes" class="fa fa-sort-down" style="color:white; margin-top:1px; @Statedecdisplay" ></i>
                            </th>
                            @*<td>Zip</td>
                            <td>WebsiteURL</td>
                            <td>Integration Type</td>*@
                            <th>LOB</th>
                            @*<td>Status</td>*@
                            <th>Claim Rep</th>
                            <th style="text-align: center;">
                                <a onclick="Sortinglist('RepsCount', '');" style="text-align:center;color:white;"># of Reps</a>
                                @{
                                string RepsCountacsdisplay = "";
                                string RepsCountdecdisplay = "";
                                }

                                @if (Model.sortBy == "RepsCount")
                                {
                                    if (Model.sortString == "ASC")
                                    {
                                        RepsCountdecdisplay = "display: none";
                                    }
                                    if (Model.sortString == "DSC")
                                    {
                                        RepsCountacsdisplay = "display: none";
                                    }
                                }

                                @if (RepsCountacsdisplay == "" && RepsCountdecdisplay == "")
                                {
                                    RepsCountdecdisplay = "margin-left:-11px ";
                                }
                                <i id="icomasc" class="fa fa-sort-up" style="color:white;@RepsCountacsdisplay" ></i>
                                <i id="icomdes" class="fa fa-sort-down" style="color:white; margin-top:1px; @RepsCountdecdisplay" ></i>
                            </th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    @{
                        int i = 0;
                        if (Model.company != null)
                        {
                            foreach (var comp in Model.company)
                            {
                                <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                    <td nowrap="nowrap">
                                        @comp.CompanyName
                                    </td>
                                    <td>
                                        @comp.City
                                    </td>
                                    <td>
                                        @comp.State
                                    </td>
                                    @*<td>
                                        @comp.Zip
                                    </td>
                                    <td>
                                        @comp.WebsiteURL
                                    </td>
                                    <td>
                       
                                        @{
                                BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                                BLL.IntegrationType it = css.IntegrationTypes.Find(comp.IntegrationTypeId);
                                <div style="display: inline;">@it.IntegrationCompany</div>
                                        }
                                    </td>*@
                                    <td><a href="javascript:void(0);" onclick="loadLOBPopup('@Url.Action("LineOfBusiness", "LineOfBusiness", new { HeadCompanyId = comp.CompanyId, LOBId = -1 })')" style="border: none; cursor: pointer;float:left;">LOB</a></td>
                                    @*  <td><a href="@Url.Action("LineOfBusiness", "LineOfBusiness", new { HeadCompanyId = comp.CompanyId, LOBId = -1 })" style="border: none; cursor: pointer;float:left;">LOB</a></td>*@
                       
                                    @*<td>
                                        @comp.IsActive
                                    </td>*@
                                    <td>
                                        <a href="javascript:;" onclick="GetClaimRepList('@comp.CompanyId');" style="border: none; cursor: pointer;float:left;">Claim Rep</a>
                                    </td>
                                    <td align="center">
                                        @comp.Users1.Count()
                                    </td>
                                    <td nowrap="nowrap" align="right">
                                        @* <a  style="text-decoration:none;padding-right:3px;" href="@Url.Action("ClientPOCList", "InsuranceSetUp", new { @CompanyId = comp.CompanyId })"><img width="15" height="15" src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Client POC" /></a>*@
                                        <a href="@Url.Action("submit", "InsuranceSetUp", new { compid = comp.CompanyId })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                            <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom; padding-right: 3px;" />
                                        </a>
                                        @if((comp.IsActive??false)==true)
                                        { 
                                        <a href="@Url.Action("DeleteCompany", "InsuranceSetUp", new { Status = comp.IsActive, compid = comp.CompanyId })" style="text-decoration:none;border: none; color: black; cursor: pointer;" onclick="javascript:return confirm('Are you sure you want to delete this company!');">
                                            <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                        </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("DeleteCompany", "InsuranceSetUp", new { Status = comp.IsActive, compid = comp.CompanyId })" style="text-decoration:none;border: none; color: black; cursor: pointer;" onclick="javascript:return confirm('Are you sure you want to Enable this company!');">
                                                <img src="~/Content/Images/Approve.png" title="Approve" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                            </a>
                                        }
                                        
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    }
                </table>

            </div>
            <div class="table-scrollable">
                @Html.Partial("_Pager", Model.Pager)
            </div>

        </div>

    </div>
}
</div>
<style type="text/css">
    .modal.modal-wide .modal-dialog {
        width: 90%;
    }

    .modal-wide .modal-body {
        overflow-y: auto;
    }

    .modalHead {
          background-color:#406E98 !important;
          color: white;
          font-weight: bold;
    }

    .holds-the-iframe {
        background: url(/Content/Images/waiting1.gif) center center no-repeat;
    }
</style>
@*LOB*@
<div id="LOBmodal" class="modal modal-wide fade in" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Line Of Business</h4>
                @*<div style="float: right; margin-right: 7px;"><a href="@Url.Content("~/LineOfBusiness/LineOfBusiness/#aloblistdiv")" style="text-decoration: none;">Scroll down to the Line of Business List</a></div>*@
            </div>
            <div class="modal-body holds-the-iframe">

                <iframe id="iframeLOB" style="width:100%;max-height: 800px;min-height: 700px;" frameborder="0" scrolling="auto" class="slimScrollDiv"></iframe>

            </div>
            <div class="modal-footer">

                <input type="button" data-dismiss="modal" class="btn btn-primary" value="Cancel">

            </div>
        </div>

    </div>
</div>

@*Claim Rep List*@
<div id="FormClaimRepList">

</div>


@*Create Rep*@
<div class="modal fade bs-modal-lg in" id="CreateRep" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#406E98 !important; color:white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="Close();"></button>
                <h4 class="modal-title">Create Claim Representative</h4>
            </div>
            <div class="modal-body">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" id="frmCreateRepr" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    First Name
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-3">
                                    <input type="hidden" id="hidID" name="ClaimRepID" />
                                    <input type="hidden" id="hidClaimRepCompanyID" name="ClaimRepCompanyID" />
                                    <input type="hidden" id="hidUserID" name="UserID" />
                                    @*@Html.TextBoxFor(model => model.Users.FirstName, Model.Users.FirstName, new { @id = "txtFirstName", @class = "form-control" })*@
                                    <input type="text" class="form-control" id="txtFirstName" name="FirstName" placeholder="Enter First Name" tabindex="1">
                                </div>
                                <label class="col-md-3 control-label">User Name</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        @*@Html.TextBoxFor(model => model.Users.UserName, Model.Users.UserName, new { @id = "txtFirstName", @class = "form-control" })*@
                                        <input type="text" class="form-control" id="txtUserName" name="UserName" placeholder="Enter User Name" tabindex="5">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Middle Name</label>
                                <div class="col-md-3">
                                    @*@Html.TextBoxFor(model => model.Users.MiddleInitial, Model.Users.MiddleInitial, new { @id = "txtMiddleName", @class = "form-control" })*@
                                    <input type="text" class="form-control" id="txtMiddleName" name="MiddleName" placeholder="Enter Middle Name" tabindex="2">
                                </div>
                                <label class="col-md-3 control-label">Password</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="password" id="txtPassword" name="Password" onfocus="HidePasswordMessage();" class="form-control" placeholder="Password" tabindex="6">
                                        @*@Html.PasswordFor(model => model.Users.Password, Model.Users.Password, new { @id = "txtPassword", @class = "form-control" })*@
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Last Name</label>
                                <div class="col-md-3">
                                    @*@Html.TextBoxFor(model => model.Users.LastName, Model.Users.LastName, new { @id = "txtLastName", @class = "form-control" })*@
                                    <input type="text" class="form-control" id="txtLastName" name="LastName" placeholder="Enter Last Name" tabindex="3">
                                </div>
                                <label class="col-md-3 control-label">Confirm Password</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="password" id="txtConfPassword" name="ConfPassword" onfocus="HidePasswordMessage();" class=" form-control" placeholder="Confirm Password" tabindex="7">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Email Address</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        @*@Html.TextBoxFor(model => model.Users.Email, Model.Users.Email, new { @id = "txtEmail", @class = "form-control" })*@
                                        <input type="email" class="form-control" id="txtEmail" name="EmailAddress" placeholder="Email Address" tabindex="4">
                                    </div>
                                </div>
                                <label class="col-md-3 control-label">Mobile Number</label>
                                <div class="col-md-3">
                                    @*@Html.TextBoxFor(model => model.Users.MobilePhone, Model.Users.MobilePhone, new { @id = "txtMobile", @class = "form-control"})*@
                                    <input type="text" class="form-control" id="txtMobile" name="MobileNumber" placeholder="Enter Mobile Number" tabindex="8">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Assign as Manger:</label>
                                <div class="col-md-3">
                                    
                                    <input type="checkbox" id="chkCRManager" name="CRManager" value="true" tabindex="9" style="margin-top :13px;">
                                   
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal" onclick="Close();">Close</button>
                <button type="button" class="btn green" id="btnSave" onclick="CreateClaimRep(1);">Save</button>
                <button type="button" class="btn green" id="btnUpdate" onclick="CreateClaimRep(2);">Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@*validation*@
<div>
    <div class="modal fade in" id="Validation" tabindex="-1" role="basic" aria-hidden="true" style="display: none; padding-right: 17px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#406E98 !important; color:white; ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Validation</h4>
                </div>
                <div class="modal-body">
                    <div id="tdConfirmPassword" valign="top" align="left" style="height: 10px; color: red; display: none; text-align: center; padding-bottom: 20px;"></div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>*@
                    <button type="button" class="btn blue" data-dismiss="modal">OK</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<style>
    div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}
</style>


@section PageLevelScript{

<script type="text/javascript">
    function ShowProgress() {
        setTimeout(function () {
            var modal = $('<div />');
            modal.addClass("waiting-box");
            $('body').append(modal);
            var loading = $(".loading");
            loading.show();
            var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
            var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
            loading.css({ top: top, left: left });
        }, 200);
    }
    $('#frmCompanySearch').on("submit", function () {
        ShowProgress();
    });

    function progressCallBack()
    {
        ShowProgress();
    }
    function StopProgress() {
        setTimeout(function () {
            //var modal = $('<div />');
            ////modal.addClass("waiting-box");
            //$('body').removeClass("waiting-box");
            var loading = $(".loading");
            var waiting = $(".waiting-box");
            //loading.show();
            loading.css({ 'display': 'none' });
            waiting.css({ 'display': 'none' });
        }, 200);
    }
</script>
    <script type="text/javascript">
      
        function Sortinglist(headername, sortid) {
            if ($("#hdnsorting").val() == '' || $("#hdnsorting").val() == 'DSC') {
                $("#hdnsorting").val('ASC');
            }
            else if ($("#hdnsorting").val() == 'ASC') {
                $("#hdnsorting").val('DSC');
            }
            $("#hdnHeader").val(headername);

         
            debugger;
            $("#frmCompanySearch").submit();
     
        }
        $(document).ready(function () {
            debugger;
        });

        function compare() {
            //Perform validation when all the previous required fields have data else let the controller handle those validations.
            debugger;
            var valueToReturn = true;
            if ($("#txtFirstName").val().length != 0 && $("#txtLastName").val().length != 0 && $("#txtUserName").val().length != 0 && $("#txtMobile").val().length != 0) {
                if ($("#tdConfirmPassword") != "") {
                    var pass = $('#txtPassword').val();
                    var confPass = $('#txtConfPassword').val();
                    var letters;
                    var numbers;
                    var alpha = /^[a-zA-Z]+$/; //PATTERN FOR ALPHABETS
                    var number = /^[0-9]+$/; //PATTERN FOR NUMBERS
                    if ($('#txtPassword').val() != $('#txtConfPassword').val()) {
                        passwordNotMatch("Passwords do not match.");
                        valueToReturn = false;
                    }
                    else if (pass.length < 6) {
                        passwordNotMatch("Password should be at least 6 characters.");
                        valueToReturn = false;
                    }
                    for (i = 0; i < pass.length; i++) {
                        if (pass.substr(i, 1).match(alpha)) {
                            letters = true; //AT LEAST ONE LETTER EXISTS
                        }
                        else if (pass.substr(i, 1).match(number)) {
                            numbers = true; //AT LEAST ONE NUMBER EXISTS
                        }
                    }
                    //IF BOTH LETTERS AND NUMBERS ARE PRESENT...
                    if (letters == true && numbers == true) {
                    }
                    else {
                        passwordNotMatch("Password should have at least one alphabet and one numeric character.");
                        valueToReturn = false;
                    }
                }
            }
            else {
                passwordNotMatch("Please enter the First Name,Last Name,Mobile Number and User Name.");
                valueToReturn = false;
            }
            return valueToReturn;
        }

        function Clear() {
            $("#hidUserID").val('');
            $("#txtFirstName").val('');
            $("#txtLastName").val('');
            $("#txtEmail").val('');
            $("#txtMiddleName").val('');
            $("#txtPassword").val('');
            $("#txtConfPassword").val('');
            $("#txtMobile").val('');
            $("#txtUserName").val('');
        }

        function passwordNotMatch(message) {
            debugger;
            $("#tdConfirmPassword").css("display", "block");

            $('#txtPassword').val('');
            $('#txtConfPassword').val('');
            $("#tdConfirmPassword").text(message);
            //$("#divJSValidation").html(message);
            $("#Validation").modal("show");
        }

        function HidePasswordMessage() {
            $("#tdConfirmPassword").css("display", "none");
        }

        function ClaimRepReject(UserID) {
            debugger;
            $.ajax({
                url: '@Url.Action("RejectClaimRep", "InsuranceSetUp")'
                , type: 'POST'
                , data: { UserID: UserID }
            , success: function (result) {
                if (result == 1) {
                    alert("Claim Rep is Used");
                }
                else {
                    alert("Rejected Successfully");
                }
            }
            });
        }
        /* Set the defaults for DataTables initialisation */
        function setDatatableCLass() {
            if($('div.dataTables_wrapper div.dataTables_filter input').length>0){
                $('div.dataTables_wrapper div.dataTables_filter input').addClass('form-control input-sm input-small input-inline');
            }
            if ($('div.dataTables_wrapper div.dataTables_length select').length > 0) {
                $('div.dataTables_wrapper div.dataTables_length select').addClass('form-control input-sm input-xsmall input-inline');
            }
        };

        function GetClaimRepList(CompanyID) {
            ShowProgress();
            debugger;
            $.ajax({
                url: '@Url.Action("ClaimRepList", "InsuranceSetUp")'
                , type: 'POST'
                , data: { CompanyID: CompanyID }
            , success: function (result) {
                debugger;
                $("#FormClaimRepList").empty().html(result);
                $("#ClaimRepPopup").modal("show");
                $("#hidCompanyID").val(CompanyID);
                $('#tbClaimRepsList').DataTable({
                    rowReorder: true,
                    columnDefs: [
           { orderable: true, className: 'reorder', targets: 0 },
           { orderable: false, targets: '_all' }
                    ]
                });
                setDatatableCLass();
                StopProgress();
            },
            error: function () {
                StopProgress();
            }
            });

        }

        function EditClaimRep(UserId, FirstName, LastName, Email, MiddleInitial, MobilePhone, UserName, Password, CompanyID,UserTypeId) {
            debugger;
            //alert(UserId +"Userid");
            $("#CreateRep").modal("show");

            $("#hidUserID").val(UserId);
            $("#hidClaimRepCompanyID").val(CompanyID);
            $("#txtFirstName").val(FirstName);
            $("#txtLastName").val(LastName);
            $("#txtEmail").val(Email);
            $("#txtMiddleName").val(MiddleInitial);
            $("#txtPassword").val(Password);
            $("#txtConfPassword").val(Password);
            $("#txtMobile").val(MobilePhone);
            $("#txtUserName").val(UserName);
            debugger;
            if (UserTypeId == 12)
            {
                $("#chkCRManager").prop('checked', true);
            }
            else {
                $("#chkCRManager").prop('checked', false);

            }
            

            $("#btnUpdate").show();
            $("#btnSave").hide();

        }

        function CreateRepPopup(ID) {
            debugger;
            var CompID = $("#hidCompanyID").val();
            $("#CreateRep").modal("show");
            if (ID == 1) {
                $("#btnUpdate").hide();
                $("#btnSave").show();
            }
            else {
                $("#btnUpdate").show();
                $("#btnSave").hide();
            }

            $("#hidClaimRepCompanyID").val(CompID);
            //alert(CompID);
        }

        function CreateClaimRep(ID) {
            $("#hidID").val(ID);
            if (compare() == true) {
                var CompID = $("#hidClaimRepCompanyID").val();
                //alert(CompID);

                debugger;
                $.ajax({
                    url: '@Url.Action("CreateClaimRepr", "InsuranceSetUp")',
                    type: 'POST',
                    data: $('#frmCreateRepr').serialize(),
                    success: function (result) {
                        debugger;

                    }
                });

                GetClaimRepList(CompID);
                $("#ClaimRepPopup").modal("hide");
                $("#CreateRep").modal("hide");
                Clear();
            }
        }

        function Close() {
            Clear();
        }
    </script>
}
