﻿@model BLL.ViewModels.InsuranceTypeSearchViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet box blue">
    <div class="portlet-title" style="background-color:#406E98 !important">
        <div class="caption">
            <i class="fa fa-gift"></i>Register Insurance Company
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            @*<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                <a href="javascript:;" class="remove" data-original-title="" title=""> </a>*@
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form id="frmCreateCompany" method="post" class="form-horizontal">
            @*<div class="form-actions top">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">Submit</button>
                            <button type="button" class="btn default">Cancel</button>
                        </div>
                    </div>
                </div>*@
            <div style="color:red">
                @Html.ValidationSummary()
            </div>
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">First Name</label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.FirstName, Model.FirstName, new { @id = "txtFirstName", @class = "form-control" })
                        @*<input type="text" id="txtFirstName" name="FirstName" class="form-control" placeholder="First Name">*@
                    </div>
                    <label class="col-md-2 control-label">Last Name</label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.LastName, Model.LastName, new { @id = "txtLastName", @class = "form-control" })                        
                        @*<input type="text" id="txtLastName" name="LastName" class="form-control" placeholder="Last Name">*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Company Name</label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.CompanyName, Model.CompanyName, new { @id = "txtCompanyName", @class = "form-control" })
                        @*<input type="text" id="txtCompanyName" class="form-control" placeholder="Enter Company Name">*@
                    </div>
                    <label class="col-md-2 control-label">Title</label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.LineOfBusiness, Model.LineOfBusiness, new { @id = "txtTitle", @class = "form-control" })                        
                        @*<input type="text" id="txtTitle" class="form-control" placeholder="Title">*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Address</label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Address, Model.Address, new { @id = "txtAddress", @class = "form-control" })
                        @*<input type="text" id="txtAddress" class="form-control" placeholder="Address">*@
                    </div>
                    <label class="col-md-2 control-label">User Name</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.UserName, Model.UserName, new { @id = "txtUserName", @class = "form-control" })
                            @*<input type="text" id="txtUserName" class="form-control" placeholder="User Name">*@
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Zip</label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Zip, Model.Zip, new { @id = "txtZip", @class = "form-control", @onblur = "populateZipData('txtZip','ddlState','txtCity')" })
                        @*<input type="text" id="txtZip" class="form-control" placeholder="Zip">*@
                    </div>
                    <label class="col-md-2 control-label">Password</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            @*<input type="password" id="txtPassword" class="form-control" placeholder="Password">*@
                            <input name="Password" id="txtPassword" type="password" onfocus="HidePasswordMessage();" class="form-control" placeholder="Password" />
                            @*@Html.TextBoxFor(model => model.Password, Model.Password, new { @id = "txtPassword", @class = "form-control" })*@
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">State</label>
                    <div class="col-md-3">                       
                        @*<input type="text" class="form-control" placeholder="Left icon">*@
                        @Html.DropDownListFor(model => model.State, Model.StateList, new { @id = "ddlState", @class = "form-control" })
                        @*@Html.DropDownListFor(model => model.claim.OwnerState, Model.InsuredStateList, new { @id = "ddlOwnerState", @class = "form-control" })*@
                    </div>
                    <label class="col-md-2 control-label">Confirm Password</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="password" id="txtConfPassword" class="form-control" onblur="compare();"  onfocus="HidePasswordMessage();" placeholder="Confirm Password">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>                           
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">City</label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.City, Model.City, new { @id = "txtCity", @class = "form-control" })
                        @*<input type="text" id="txtCity" class="form-control" placeholder="City">*@
                    </div>                   
                    <label class="col-md-2 control-label">Website URL</label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.WebsiteURL, Model.WebsiteURL, new { @id = "txtWebsiteUrl", @class = "form-control" })
                        @*<input type="text" id="txtWebsiteUrl" class="form-control" placeholder="Webstite URL">*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Phone</label>
                    <div class="col-md-3">
                        <div class="input-icon right">
                            <i class="fa fa-phone"></i>
                            @Html.TextBoxFor(model => model.PhoneNumber, Model.PhoneNumber, new { @id = "txtPhone", @class = "form-control" })
                            @*<input type="text" id="txtPhone" class="form-control" placeholder="Phone">*@
                        </div>
                    </div>
                    <label class="col-md-2 control-label">Fax</label>
                    <div class="col-md-3">
                        <div class="input-icon right">
                            <i class="fa fa-fax"></i>
                            @Html.TextBoxFor(model => model.Fax, Model.Fax, new { @id = "txtFax", @class = "form-control" })
                            @*<input type="text" id="txtFax" class="form-control" placeholder="Fax">*@
                        </div>
                    </div>
                </div>               
            </div>

            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-offset-5 col-md-9">
                        <button type="button" class="btn blue" onclick="CreateInsuranceCompany();">Submit</button>
                        <button type="button" class="btn default" onclick="location.href='@Url.Action("Login", "Account")'">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
<div>
    <div class="modal fade in" id="Validation" tabindex="-1" role="basic" aria-hidden="true" style="display: none; padding-right: 17px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#406E98 !important; color:white; ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Validation</h4>
                </div>
                <div class="modal-body">
                    <div id="tdConfirmPassword" valign="top" align="left" style="height: 10px; color: red; display: none; text-align: center; padding-bottom: 20px;" ></div> 
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>*@
                    <button type="button" class="btn blue" data-dismiss="modal">OK</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>




<script type="text/javascript">

    function populateZipData(zipControl, stateControl, cityControl) {
        try {
            $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
        { ZipCode: $("#" + zipControl).val() },
        function (data) {
            if (data != -1) {

                $("#" + stateControl).val(data.State);
                $("#" + cityControl).val(data.City);
            }
            else {
                $("#" + stateControl).val("");
                $("#" + cityControl).val("");
            }

        });
        copyInsuredToLossOnBlur();
    } catch (err) {
    }
    }


    function CreateInsuranceCompany()
    {
        if (compare() == true) {
            debugger;
            @*$.ajax({
                url: '@Url.Action("CreateCompany", "InsuranceSetUp")',
                type: 'POST',
                data: $('#frmCreateCompany').serialize(),
                success: function (result) {
                    debugger;

                }
            });*@
            $('#frmCreateCompany').submit();
        }
        else {
            event.preventDefault();
        }
        debugger;        
    }

    function compare() {
        //Perform validation when all the previous required fields have data else let the controller handle those validations.
        debugger;
        var valueToReturn = true;
        if ($("#txtFirstName").val().length != 0 && $("#txtLastName").val().length != 0 && $("#txtUserName").val().length != 0 && $("#txtCompanyName").val().length != 0) {
            if ($("#tdConfirmPassword") != "") {
                var pass = $('#txtPassword').val();
                var confPass = $('#txtConfPassword').val();
                var letters;
                var numbers;
                var alpha = /^[a-zA-Z]+$/; //PATTERN FOR ALPHABETS
                var number = /^[0-9]+$/; //PATTERN FOR NUMBERS
                if ($('#txtPassword').val() != $('#txtConfPassword').val()) {
                    passwordNotMatch("Passwords do not match.");
                    valueToReturn = false;
                }
                else if (pass.length < 6) {
                    passwordNotMatch("Password should be at least 6 characters.");
                    valueToReturn = false;
                }
                for (i = 0; i < pass.length; i++) {
                    if (pass.substr(i, 1).match(alpha)) {
                        letters = true; //AT LEAST ONE LETTER EXISTS
                    }
                    else if (pass.substr(i, 1).match(number)) {
                        numbers = true; //AT LEAST ONE NUMBER EXISTS
                    }
                }
                //IF BOTH LETTERS AND NUMBERS ARE PRESENT...
                if (letters == true && numbers == true) {
                }
                else {
                    passwordNotMatch("Password should have at least one alphabet and one numeric character.");
                    valueToReturn = false;
                }
            }
        }
        else
        {
            passwordNotMatch("Please enter the First Name,Last Name,Company Name and User Name.");
            valueToReturn = false;
        }
        return valueToReturn;
    }

    function passwordNotMatch(message) {
        debugger;
        $("#tdConfirmPassword").css("display", "block");

        $('#txtPassword').val('');
        $('#txtConfPassword').val('');
        $("#tdConfirmPassword").text(message);
        //$("#divJSValidation").html(message);
        $("#Validation").modal("show");
    }

    function HidePasswordMessage() {
        $("#tdConfirmPassword").css("display", "none");
    }
   
</script>