﻿@model BLL.ViewModels.InsuranceTypeSearchViewModel
@{
    ViewBag.Title = "Insurance Company Information";
}
<style>
    .page-content-wrapper .page-content {
        /* margin-left: 195px!important; */
        margin-top: 0 !important;
        /* min-height: 600px !important; */
        padding: 4px 14px 10px 4px !important;
    }
    .wStyle {
    margin-left: 15px !important;
    margin-right: 15px !important;

         }
</style><div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption">
           </i>Insurance Company Information
        </div>
        @*<div class="tools">


        </div>*@
    </div>
    <div class="portlet-body form">

        <!-- BEGIN FORM-->
        @using (Html.BeginForm("Submit", "InsuranceSetUp", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="errorMsg">
                @Html.ValidationSummary()
            </div>

            @Html.HiddenFor(model => model.companyid)

            @Html.Partial("_InsuranceCompanyRegistration")


            <div class="portlet light bordered" style="margin: 0px; padding-bottom: 0px;">
                <div class="portlet-title">
                    <div class="caption">
                        <input type="button" class="btn blue" value="Back" onclick="window.location.href='@Url.Action("CompaniesList", "InsuranceSetUp")    ';" />

                    </div>
                    <div class="tools">
                        <input type="submit" class="btn blue" value="Save" />
                    </div>
                </div>
                <div class="portlet-body form" style="display: block;margin-top: -14px;">

                </div>
            </div>
        }
    </div>
</div>
@section PageLevelScript{



    @*<script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.min.js"></script>*@
    <script type="text/javascript">
        $(function () {
            $("#txtZip").blur(function () {
                $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
                    { ZipCode: $("#txtZip").val() },
                     function (data) {
                         if (data != -1) {
                             $("#txtState").val(data.State);
                             $("#txtCity").val(data.City);
                         }
                         else {
                             $("#txtState").val("");
                             $("txtCity").val("");
                         }

                     });
            });
        });
        $(function () {
            //$("#TxtCompFax").mask('(999)999-9999');
            //$("#txtCompPhone").mask('999-999-9999');
        });

        $(function () {
            $("#Isactive").checked = true;
        });

        $(document).ready(function () {

            var selected = '@Model.region';
            if (selected != '' && selected != null) {
                var arr = selected.split(',');
                var obj = $('#mySelectBox');
                for (var j = 0; j < arr.length; j++) {
                    var val = arr[j];
                    obj.find('option:[value=' + val + ']').attr('selected', 1);
                }
            }
            ddlIntTypeList_OnChange();
        });

    </script>
}
