/**
 * Custom CSS for custom login form elements
 *
 * Note: this just echoes the styles to the head.
 * This is not the "best" way to do it - the best
 * would be to include these styles in a stylesheet,
 * either custom for the plugin, or added to the
 * theme.  But it is the quickest way to just apply
 * some custom CSS for this example.
 */
add_filter('wp_head', 'my_login_form_styles');
function my_login_form_styles() {
    echo '
    <style>
        /* my custom login form styles */
        .login-form-row { float:left; }
        #wpmem_login .button_div {
            width: 18%;
            float: right;
            margin: 12px 0 0 0;
        }
    </style>';
}