/*
Theme Name:     Javo Child
Description:    Make all customizations to child theme.
Author:         GWSolution
Template:       javo-directory

Colors:
Dark Blue: #0a2343
Yellow: # fdb515
Light Blue:  #2172b9
Silver Blue: #b2b7bc


(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/
.btn.javo-dark{
	background:#0a2343;
	border:solid 1px #000;
}


.btn-primary {
	color: #fff;
	background-color: #0a2343;
	border-color: #121212;
}

/* Custom Styling for Wide Map Page*/

.btn btn-dark {
background-color: #0a2343;
}

.javo_somw_panel h4.title {font-size:13px; color:#fff; text-transform:uppercase;}

#javo-map-tab .javo-map-tab-contents .javo-map-tab-lists ul li.javo-map-tab-list-item .featured {
background-color: #bbc4cb;
}

#javo-map-wide-wrapper .javo_somw_panel .category-btns-wrap .col-md-12>.newrow>select{width:100%; height:34px;}
/** bright style **/
.javo_somw_panel.bright a {color:#0a2343;}
.javo_somw_panel.bright {color:#3D445B;}
.javo_somw_panel.bright .newrow button {border: solid 1px #ddd; background-color: #eee;}
.javo_somw_panel.bright button.active {color:#fff; background:#3D445B;}
.javo_somw_panel.bright {background:#fff;}
.javo_somw_panel.bright .javo_somw_list_inner {border:0;border-top: 1px solid #ddd;background-color: #fff;}
.javo_somw_panel.bright .meta-wrap {padding:5px 3px;}
.javo_somw_panel.bright .map-top-btns .btn{background-color: #3D445B !important;}
.javo_somw_panel.bright h2 {color:#3D445B;}


.javo_somw_panel .category-btns-wrap {}
.javo_somw_panel .btn-map-panel {
border: solid 1px #555;
background-color: #0a2343;
background-image: linear-gradient(top, #0a2343 0%, #999 100%);
font-size: 11px;
padding: 3px 5px;
margin: 3px;
}


.javo_somw_panel {
background-color: #bbc4cb;
}

.javo-map-wide-desktop-form {
background-color: #b2b7bc;
color: #ffffff;
}

.javo_somw_panel .category-btns-wrap {}
.javo_somw_panel .btn-map-panel {
border: solid 1px #555;
background-color: #0a2343;
background-image: linear-gradient(top, #454545 0%, #999 100%);
font-size: 11px;
padding: 3px 5px;
margin: 3px;
}

.javo_somw_panel .btn-map-panel{color:#eee;}
.javo_somw_panel .btn-map-panel.active {
	background-color: #2172b9;
color: #fff;
border: 1px #00aeef solid
}


#javo-archive-sidebar-nav {
background-color: #ffffff;
}

/*Style for Featured Item Widget*/
.ribbon-span {
font-size: 9px;
}