﻿

@*<div id="ItemList">
  @Html.Partial("_ItemList")
</div>
<input type="text"  value="test" id="test"/>*@

@*<p>

       @using (Ajax.BeginForm("ExamineTextBox", new AjaxOptions { UpdateTargetId = "result" }))
        { 
            @Html.TextBox("textBox1")
            <input type="submit" value="Button"/> 
            <span id="result"/>
      } 
    </p>*@

@*@using (Ajax.BeginForm("RefreshItems", "Test", new AjaxOptions { UpdateTargetId = "div1" }))
{
        <div id="div1">
            @Html.TextBox("textBox1")
            <input type="submit" value="Button"/>
        </div>
 } *@
@*<scipt type="text/javascript">
$(document).ready(function () {
        var options = {
            url: "/Test/TakeFile",
            dataType: "json",
            success: showResponse
        };


        $("#File").submit(function () {
            alert("submit");
            $(this).ajaxSubmit(options);
            return false;
        });
    });


    function showResponse(responseText, statusText, xhr, $form) {
        alert("showResponse");
        alert(responseText.fileName);
    }
</script>
    @using (Html.BeginForm("Submit", "ServiceProviderRegistration"))
{
using (Html.BeginForm("TakeFile", "Test", FormMethod.Post, new { @id = "File", enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Click to submit" id="button" />
}}*@