﻿@model BLL.ViewModels.InvoiceTrackerViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
<style>


    #SampleSearchFilter .portlet-title:hover {
        cursor: pointer;
    }
</style>
<style>
    .tblL {
        text-align: center;
        width: 100%;
        border: none;
        border-collapse: separate;
    }

    .setTopHeight {
        margin-top: 5px;
    }


    .tblL > tbody > tr > td > input {
        text-align: center;
    }

    .tblL > tbody > tr > td > div {
        font-weight: bold;
    }

   
.page-content-wrapper .page-content {
    margin-left: 195px;
    margin-top: 0;
    min-height: 600px;
    padding: 5px 5px 10px !important;
}

</style>
@{string divRptFilter = "";
  if (Model.RptFilterDisplay)
{
    divRptFilter = "style=display:block;";
}
else
{
    divRptFilter = "style=display:none;";
}
}
<div class="portlet box blue-hoki" id="SampleSearchFilter" @divRptFilter>
    <div class="portlet-title" style="background-color:#406E98 !important">
        <div class="caption">
            <i class="fa fa-gift"></i>Search Filter for Invoice Tracker Report
        </div>
       
    </div>
    <div class="portlet-body BlackBody" style="display: block;">
        @using (Html.BeginForm("InvoiceTrackerReport", "Reports", FormMethod.Post, new { id = "formInvoiceTrackerReport" }))
        {
            <div class="row setTopHeight">
                <div class="form-group">
                    <label for="inputPassword12" class="col-md-2 control-label">Insurance Company:</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.InsuranceCompany, Model.InsuranceCompaniesList, new { @id = "ddlInsuranceCompany", @class = "form-control fontsizefortbl", @onchange = "GetClaimRepresentative(this.value);" })

                    </div>
                    <label class="col-md-2 control-label">Claim Representative</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ClaimRepresentativeID, Model.ClaimRepresentativeList, new { @id = "ddlClaimRepresentativeList", @class = "form-control fontsizefortbl" })
                    </div>
                </div>
            </div>
            <div class="row setTopHeight">
                <div class="form-group">
                    <label for="inputPassword12" class="col-md-2 control-label">Assignment Date:</label>
                    <div class="col-md-4">
                        <div class="input-group input-large date-picker input-daterange" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                            <input type="text" class="form-control fontsizefortbl" id="StartDate" name="StartDate" value="@Model.StartDate">
                            <span class="input-group-addon"> to </span>
                            <input type="text" class="form-control fontsizefortbl" id="EndDate" name="EndDate" value="@Model.EndDate">
                        </div>
                    </div>
                    @*<label class="col-md-2 control-label">Month</label>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker"  data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                            <input type="text" class="form-control" id="AssignmentMonth" name="AssignmentMonth" value="@Model.AssignmentMonth" readonly="">
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>*@
                </div>
            </div>
            @*<div class="row setTopHeight">
                <div class="form-group">
                    <label for="inputPassword12" class="col-md-2 control-label">Year:</label>
                    <div class="col-md-4">
                        <div class="input-group input-medium date date-picker" data-date-format="mm/yyyy" data-date-viewmode="years">
                            <input type="text" class="form-control" id="AssignmentYear" name="AssignmentYear" value="@Model.AssignmentYear" readonly="">
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                   
                </div>
            </div>*@
            <div class="row setTopHeight">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <input type="submit" name="submit" value="Search" class="btn btn-primary" />
                   &nbsp;&nbsp; <input type="button" name="ResetFilter" onclick="ResetSearchFilter()" value="Reset Filter" class="btn btn-primary" />
                </div>
            
            </div>

        }
    </div>
</div>
@{string divreportView = "";
if (Model.RptViewerDisplay)
{
    divreportView = "style=display:block;";
}
else
{
    divreportView = "style=display:none;";
}
}


<div id="reportViewer" @divreportView>
@if (Model.ReportViewer != null) {
    Html.RenderPartial("_ReportViewer", Model.ReportViewer);
  
}
</div>


@section PageLevelScript{
    <script>
        function ResetSearchFilter()
        {
            $("#StartDate").val("");
            $("#EndDate").val("");
            $("#AssignmentMonth").val("");
            $("#AssignmentYear").val("");
        }
        $('#formInvoiceTrackerReport').on('submit', function () {
            $("#SampleSearchFilter").slideUp("slow");
            $("#reportViewer").slideDown("slow");
        });
        function BackBt_Click() {
            $("#reportViewer").slideUp("slow");
            $("#SampleSearchFilter").slideDown("slow");

        }
        function GetClaimRepresentative(CompanyID) {
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#ddlClaimRepresentativeList").html(procemessage).show();

            var url = "@Url.Content("~/Reports/GetClaimRepresentativeList")";
            $.ajax({
                url: url,
                data: { CompanyID: CompanyID },
                cache: false,
                type: "POST",
                success: function (data) {
                    var RepresentativeList;
                    //if (data.length > 1) RepresentativeList += "<option value='0'>--select--</option>";
                    for (var i = 0; i < data.length; i++) {
                        RepresentativeList += "<option value=" + data[i].Value + ">" + data[i].Text + "</option>";
                    }
                    $("#ddlClaimRepresentativeList").html(RepresentativeList).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }
    </script>
}





