﻿@model BLL.ViewModels.ProcessedPayrollReportViewModel
@using CSS
@{
    ViewBag.Title = "Processed Payroll Report";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}<link href="~/assets/pages/css/profile.min.css" rel="stylesheet" />
<style type="text/css">
    .portlet.light {
    padding: 12px 20px 15px;
    background-color: #eef1f5 !important;
}
</style>
<script type="text/javascript">
    function displayPayrollReport(payrollDateTime) {
        debugger;
        var basePath = '@Url.Content("~/Reports/ProcessedPayrollSummaryReport.aspx")';
        var payrollDateTime = 'PayrollDate=' + payrollDateTime;
      
        var ServiceTypeId = 'ServiceTypeId=0';
     
        //var ServiceTypeId = 'ServiceTypeId=' +$('#ddlServiceType').val();
        var reportPath = basePath + '?' + payrollDateTime;
      @if (loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 12)
      {
          //@:var SPId = 'SPId=@Cypher.EncryptString(loggedInUser.UserId.ToString())';
          @:var SPId = 'SPId=@loggedInUser.UserId.ToString()';
          @:reportPath = reportPath + '&' + SPId;
      }

        //reportPath = reportPath + '&' + JobTypeId;
        reportPath = reportPath + '&' + ServiceTypeId;
        document.getElementById('iFReport').src = reportPath;
    }
</script>
<div >
       <!-- BEGIN PROFILE SIDEBAR -->
    <!-- ngIf: IsErrorExist -->
@using (Html.BeginForm("PayrollHistoryReport", "Reports", FormMethod.Post))
            {
    <div class="profile-sidebar">
        <!-- PORTLET MAIN -->
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Search Payroll</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="row">
                    <div ng-class="CntrlMD" class="col-md-12" style="padding-left: 0px;">
                        <div class="form-group">
                            <label class="control-label col-md-4" style="padding-left:0px">Start Date</label>
                            <div class="col-md-8">

                                <div class="input-group input-medium date date-picker" data-date-format="mm-dd-yyyy" data-date-viewmode="years" style="width:160px !important">
                                    @*<input type="text" class="form-control" readonly>*@
                                    @*@Html.TextBoxFor(model => model.claim.DateofLoss, new { @id = "txtDateofLoss", @class = "form-control" })*@
                                    <input type="text" id="txtDateofLoss" name="StartDate" value="@Model.StartDate" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="CntrlMD" class="col-md-12" style="padding-left: 0px;padding-top:2px">
                        <div class="form-group">
                            <label class="control-label col-md-4" style="padding-left:0px">End Date</label>
                            <div class="col-md-8">

                                <div class="input-group input-medium date date-picker" data-date-format="mm-dd-yyyy" data-date-viewmode="years" style="width:160px !important">
                                    @*<input type="text" class="form-control" readonly>*@
                                    @*@Html.TextBoxFor(model => model.claim.DateofLoss, new { @id = "txtDateofLoss", @class = "form-control" })*@
                                    <input type="text" id="txtDateofLoss" name="EndDate" value="@Model.EndDate" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="pa">
                    <div ng-class="CntrlMD" class="col-md-12" style="padding-left: 0px;padding-top:8px">
                        <div class="form-group" style="float:right">
                            <input type="submit" value="Search" class="btn blue" />
                        </div>
                    </div>
                </div>
                </div>
        </div>
        <!-- END PORTLET MAIN -->
        <div class="portlet light ">
            <!-- STAT -->
            <!-- END STAT -->
           
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Payroll History</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <ul>
                        @foreach (var payrollDate in Model.PayrollDates)
                        {
                            <li><a href="javascript:;" onclick="displayPayrollReport('@payrollDate')" style="text-decoration:none;"> @payrollDate</a></li>
                        }
                    </ul>

                </div>
         
        </div>
    </div>
}
    <!-- END BEGIN PROFILE SIDEBAR -->
    <!-- BEGIN PROFILE CONTENT -->
    <div class="profile-content">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light ">
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <i class="icon-globe theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase">PAYROLL HISTORY REPORT</span>
                        </div>
                       
                    </div>
                    <div class="portlet-body">
                        <iframe id="iFReport" frameborder="0" width="100%" height="1350px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PROFILE CONTENT -->
</div>