﻿@model BLL.ViewModels.PayrollSummaryReportViewModel
@using CSS
@{
    ViewBag.Title = "Payroll Summary Report";
}
<script type="text/javascript">
    function expand_Click(spId) {
        $("#imgCollapse_" + spId).show();
        $("#trDetails_" + spId).show();
        $("#imgExpand_" + spId).hide();
    }
    function collapse_Click(spId) {
        $("#imgCollapse_" + spId).hide();
        $("#trDetails_" + spId).hide();
        $("#imgExpand_" + spId).show();
    }
    function cbSelect_OnChange(sourceCheckBoxId, destinationFieldId) {
        $('#' + destinationFieldId).val($('#' + sourceCheckBoxId).attr('checked') == 'checked' ? 'true' : 'false');
    }
    function btnSelectAll_Click() {
        $('[type="checkbox"]:not(:disabled)').attr('checked', 'checked');
    }
    function btnVerifyRelease_Click() {
        var numberOfChecked = $('input[type="checkbox"]:checkbox:checked').length;
        if (numberOfChecked > 0) {
            $("#imgProcessingPayroll").show();
            $("#btnVerifyRelease").prop('disabled', true);
            $("#btnVerifyRelease2").prop('disabled', true);
            $("#frmPayrollSummaryReportProcess").submit();
            //return true;
        }
        else {
            alert("No selections were made.");
            return false;
        }
    }
</script>
<div id="right-pane" ng-class="{waitStyle:IsSpinnerVisible}" class="" style="">
    <div class="portlet box" style="background-color: #406E98 !important;">
        <div class="portlet-title">
            <div class="caption">
@using (Html.BeginForm("PayrollSummaryReport","Reports"))
{
                <div class="row">
                    <div class="col-md-1">
                        <span style="font-weight: 600; vertical-align: -webkit-baseline-middle; padding-left: 10px;">FIND:</span>
                    </div>

                    <div class="col-md-4">
                        
                      @Html.DropDownListFor(x => x.ServiceTypeID, Model.ServiceOfferingsList, new { @id = "serviceTypeList",@class="form-control" })
                    </div>

                    <div class="col-md-2" style="padding-top: 7px;">
                        Invoice Date:
                    </div>
                    <div class="col-md-4">

                        <div class="input-group input-medium date date-picker" data-date-format="mm-dd-yyyy" data-date-viewmode="years">
                            @*<input type="text" class="form-control" readonly>*@
                            @*@Html.TextBoxFor(model => model.claim.DateofLoss, new { @id = "txtDateofLoss", @class = "form-control" })*@
                            <input type="text" id="txtDateofLoss" name="EndDate" value="@Model.EndDate" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        @*<a data-toggle="modal" href="#AdvancedFilter" style="color: white; text-decoration: underline;" class="btn btn-icon-only">
                            Advanced
                        </a>*@
                        @*<button class="btn blue" ng-click="searchSPMapclick()" id="gmap_geocoding_btn">
                            <i class="fa fa-search"></i>

                        </button>*@
                        <input type="submit" value="Search" class="btn blue" />
                    </div>
                </div>
}
            </div>

        </div>
        <div class="portlet-body form">
            <div class="form-horizontal">
                <div class="col-lg-12 col-xs-12 col-sm-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart font-dark hide"></i>
                                <span class="caption-subject font-dark bold uppercase">PAYROLL SUMMARY REPORT</span>
                                <span class="caption-helper"> (Displaying records till @Model.EndDate.ToString("MM/dd/yyyy"))	</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <button type="button" class="btn yellow-crusta btn-sm" onclick="btnSelectAll_Click()">
                                        <i class="fa fa-edit"></i> Select All
                                    </button>
                                    <input type="button" value="Process Payroll" onclick="return btnVerifyRelease_Click()" class="btn green btn-sm" id="btnVerifyRelease" />
                                    <img id="imgProcessingPayroll" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Processing Payroll" />

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body" style="padding-top: 0px;">
                            @using (Html.BeginForm("PayrollSummaryReportProcess", "Reports", FormMethod.Post, new { id = "frmPayrollSummaryReportProcess" }))
                            {
                                decimal totalAmount = 0;
                                double totalSpPayPercent = 0;
                                @Html.HiddenFor(model => model.EndDate)
                                <div class="table-scrollable table-scrollable-borderless">
                                    <table class="table table-hover table-light">
                                        <tr>
                                            <td class="content" align="center" style="padding-top: 0px;">
                                                <br />

                                                <table width="98%" class="table table-hover table-light">
                                                    <thead style="background-color: #406E98 !important;color: white;">
                                                        <tr>
                                                            <th style="float:right">
                                                                <table width="230">
                                                                    <thead style="color: white !important;">
                                                                        <tr>
                                                                            <th width="80">Avg. Pay</th>
                                                                            <th width="150" style="text-align:right">Total Payment</th>

                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                       
                                                        @{
                                for (int i = 0; i < Model.PayrollSummaryReport.Count; i++)
                                {
                                    var record = Model.PayrollSummaryReport[i];
                                    totalAmount += record.Master.PaymentAmount.HasValue ? record.Master.PaymentAmount.Value : 0;
                                    totalSpPayPercent += record.Master.TotalSPPayPercentAvg.HasValue ? record.Master.TotalSPPayPercentAvg.Value : 0;
                                    <tr style="background: #e1e5ec;">
                                        <td align="left">
                                            <div style="float: left;">
                                                &nbsp;&nbsp;
                                             

                                                <a href="javascript:;">
                                                    <div class="fa-item" id="imgExpand_@(record.Master.SPId)" onclick="expand_Click('@(record.Master.SPId)')">
                                                        <i class="fa fa-plus" title="Expand" style="color: red;"></i>
                                                    </div>
                                                </a>
                                                <a href="javascript:;">
                                                    <div class="fa-item" id="imgCollapse_@(record.Master.SPId)" onclick="collapse_Click('@(record.Master.SPId)')" style="display: none;">
                                                        <i class="fa fa-minus" title="Collapse" style="color: red;"></i>
                                                    </div>
                                                </a>

                                                &nbsp;&nbsp;
                                                @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Master.SPId)
                                                @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Master.PaymentAmount)
                                                @{
                                                   if (record.isSelectable)
                                                   {
                                                       @Html.CheckBoxFor(model => Model.PayrollSummaryReport[i].isSelected, new { style = "margin-right: 10px;" })
                                                   }
                                                   else
                                                   {
                                                       @Html.CheckBox("cbDummy", false, new { @disabled = "disabled", style = "margin-right: 10px;" })
                                                   }


                                                }
                                                <b>@record.Master.SPName</b>
                                            </div>
                                            <div style="float: right">
                                                <table width="230">
                                                    <tr>
                                                        <td width="80">@record.Master.TotalSPPayPercentAvg.Value.ToString("0.00")%</td>
                                                        <td width="150" align="right"><b>$@Model.PayrollSummaryReport[i].Master.PaymentAmount.Value.ToString("#,0.00")</b></td>

                                                    </tr>
                                                </table>

                                                     </div>
                                          
                                                 </td>
                                          
                                             </tr>
                                                            <tr id="trDetails_@(record.Master.SPId)" style="display:none;">
                                                                <td align="right">
                                                                    <div class="table-scrollable table-scrollable-borderless" style="width:85%">
                                                                        <table class="table table-hover table-light">
                                                                            <thead>
                                                                                <tr class="uppercase">
                                                                                    <th>  </th>
                                                                                    <th> Claim # </th>
                                                                                    <th> Invoice # </th>
                                                                                    <th> Total Pay %age </th>
                                                                                    <th> Payment Type </th>
                                                                                    <th style="text-align: right;"> Payment Amount ($) </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @for (int pr = 0; pr < Model.PayrollSummaryReport[i].Detail.Count; pr++)
                                                                                {
                                                                                    var detail = Model.PayrollSummaryReport[i].Detail[pr];
                                                                                    <tr>
                                                                                        <td>@Html.CheckBoxFor(x => x.PayrollSummaryReport[i].Detail[pr].isAssignmentSelected)</td>
                                                                                        <td>
                                                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Detail[pr].PAId)
                                                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Detail[pr].PaymentType)
                                                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Detail[pr].PaymentAmount)
                                                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Detail[pr].HeadCompanyId)
                                                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Detail[pr].ClaimNumber)
                                                                                            @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Detail[pr].InvoiceNo)
                                                                                            @Html.ActionLink(detail.ClaimNumber, "Details", "AutoAssignment", new { claimId = Cypher.EncryptString(detail.ClaimId.ToString()) }, new { @class = "primary-link" })
                                                                                        </td>
                                                                                        <td>@detail.InvoiceNo</td>
                                                                                        <td>@detail.TotalSPPayPercent.Value.ToString("0.00")</td>
                                                                                        <td>@detail.PaymentTypeDesc</td>
                                                                                        <td align="right">@detail.PaymentAmount.ToString("0.00")</td>
                                                                                    </tr>
                                                                                }

                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </td>
                                                            </tr>

                                                          }
                                                         
                                                          if (Model.PayrollSummaryReport.Count == 0)
                                                          {
                                                              <tr><td colspan="4" align="center">- No record found - </td></tr>
                                                          }
                                                          else { totalSpPayPercent = totalSpPayPercent / Model.PayrollSummaryReport.Count; }
                                                        }

                                                    </tbody>
                                                    @if (Model.PayrollSummaryReport.Count != 0)
                                                    {
                                                        <tfoot>
                                                            <tr style="    background-color: #406E98 !important; color: white;">
                                                                <td align="center">
                                                                    <table width="98%">
                                                                        <tr>
                                                                            <td align="left">
                                                                                <div style="float: left;">

                                                                                </div>
                                                                                <div style="float: right; padding-right: 2px; margin-right: -23px;">
                                                                                    <table width="350">
                                                                                        <tr>
                                                                                            <td width="120"><b>Total</b></td>
                                                                                            <td width="80"><b>@totalSpPayPercent.ToString("0.00")%</b></td>
                                                                                            <td width="150" align="right"><b>$@totalAmount.ToString("#,0.00")</b></td>

                                                                                        </tr>
                                                                                    </table>

                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    }
                                                </table>



                                                @*<br />*@
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>