﻿@model BLL.ViewModels.HomeViewModel
@using CSS
@{
    ViewBag.Title = "Home Page";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<style type="text/css">
    #bgOverDueClaimsList {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 8;
    }

    .OverDueClaimsListPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 500px;

        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 9;
        font-size: 13px;
    }
</style>

<style type="text/css">
    .btncolor {
        border: 2px solid #F7AC0E;
        background-color: #F7AC0E !important;
    }

    .btnradious {
        border-radius: 5px !important;
        /*font-size:14px;*/
    }

    .btnwidth {
        width: 133px !important;
    }

    .btnpaddingbottom {
        padding-bottom: 2px;
    }

    .btnwidth {
        width: 40px;
        height: 40px;
    }
    /*.fontsizefortbl{
        font-size:13px !important;
    }*/

    table.fontsizefortbl td {
        font-size: 13px !important;
    }
    .page-content {
    padding-top: 10px !important;
    }
  
</style>

<div>
    <div class="col-md-10" style="padding-left: 0px;">
        @Html.Partial("_DiarySummaryHome")
    </div>
    <div class="col-md-2" style="padding-left: 0px;padding-right:0px">
        @Html.Partial("_HomeAssgnmentSearch")
    </div>
</div>
<div id="divOverDueClaimsListPopup" class="OverDueClaimsListPopup" style="width: 500px;">
    <div>
        <div style="height: 50px; background-color: #406E98 !important; text-align: center; font-size: 20px; color: white; padding-top: 6px;">
            <table width="100%">
                <tr>
                    <td><b><span id="spnOverDueClaimsTitle">Overdue</span> Claims</b></td>
                    <td align="right">
                        <div style="width: 100%; text-align: right;">
                            @*<img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableOverDueClaimsListPopup()" />*@
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <div>
                <div id="divOverDueClaimsLoading" style="display:none;">
                    <br /><br /><img src=@Url.Content("~/Content/Images/progress01.gif") height="16" width="16" style="vertical-align: middle;" alt="loading" /> Loading
                </div>
                <div id="divOverDueClaimsList" style="padding:5px 3px 0px 3px;max-height:500px;overflow-y:auto;"></div>
                <br />
            </div>

            @*<table>
                    <tr>
                        <td class="content" align="center">
                            <div id="divOverDueClaimsLoading" style="display:none;">
                                <br /><br /><img src=@Url.Content("~/Content/Images/progress01.gif") height="16" width="16" style="vertical-align: middle;" alt="loading" /> Loading
                            </div>
                            <div id="divOverDueClaimsList" style="padding:5px 3px 0px 3px;max-height:500px;overflow-y:auto;"></div>
                            <br />
                        </td>
                    </tr>
                </table>*@
        </div>
        <div style="text-align:center;">
            <button type="button" data-dismiss="modal" onclick="ClosePopup();" class="btn dark btn-outline">OK</button>
            <br />
        </div>
        <br />
    </div>
</div>
<div id="bgOverDueClaimsList" onclick="disableOverDueClaimsListPopup()"></div>

@section PageLevelScript{


    <script type="text/javascript">
        $(document).ready(function () {
            ddlInsuranceCompany
            $("#ddlInsuranceCompany").select2();
        });
        function ClosePopup()
        {
            $("#divOverDueClaimsListPopup").show();
            $("#bgOverDueClaimsList").hide();
            $("#divOverDueClaimsListPopup").hide();
        }

        function loadOverDueLevelClaimsListPopup(diaryCategoryId, diaryCategoryDesc, level1_ID, level1_Desc, level2_ID, level2_Desc, level3_ID, level3_Desc) {
            debugger;
            //var level1GroupID = $('#ddlLevel1GroupList').val();
            //var level1Group_Desc = $("#ddlLevel1GroupList option:selected").text()

            //var level2GroupID = $('#ddlLevel2GroupList').val();
            //var level2Group_Desc = $("#ddlLevel2GroupList option:selected").text()

            //var level3GroupID = $('#ddlLevel3GroupList').val();
            //var level3Group_Desc = $("#ddlLevel3GroupList option:selected").text()

            var level1GroupID = "0";
            var level1Group_Desc = "Company";
            
            var level2GroupID = "1";
            var level2Group_Desc = "Internal Contact";
            
            var level3GroupID = "2";
            var level3Group_Desc = "Service Provider"
            

            $("#divOverDueClaimsLoading").show();
            $("#spnOverDueClaimsTitle").html(diaryCategoryDesc);
            $('#divOverDueClaimsList').empty();
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: '@Url.Action("DiarySummaryLevelOverDueClaimsList", "Home")'
                , data: {
                    diaryCategoryId: diaryCategoryId, diaryCategoryDesc: diaryCategoryDesc
                            , level1GroupID: level1GroupID, level1Group_Desc: level1Group_Desc, level1_ID: level1_ID, level1_Desc: level1_Desc
                            , level2GroupID: level2GroupID, level2Group_Desc: level2Group_Desc, level2_ID: level2_ID, level2_Desc: level2_Desc
                            , level3GroupID: level3GroupID, level3Group_Desc: level3Group_Desc, level3_ID: level3_ID, level3_Desc: level3_Desc
                }
            }
            ).done(function (data) {
                $('#divOverDueClaimsList').html(data);
                centerOverDueClaimsListPopup();
                $("#divOverDueClaimsLoading").hide();

            }).fail(function (data) { });

            centerOverDueClaimsListPopup();
            $('#bgOverDueClaimsList').css({
                "opacity": "0.7"
            });
            $('#bgOverDueClaimsList').fadeIn("slow");
            $('#divOverDueClaimsListPopup').fadeIn("slow");
        }
        function loadOverDueClaimsListPopup(diaryCategoryId, diaryCategoryDesc, headCompanyId, companyName, CSSPOCUserId, CSSPOCName, SPUserId, SPName) {
            $("#divOverDueClaimsLoading").show();
            $("#spnOverDueClaimsTitle").html(diaryCategoryDesc);
            $('#divOverDueClaimsList').empty();
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: '@Url.Action("DiarySummaryOverDueClaimsList", "Home")'
                , data: { diaryCategoryId: diaryCategoryId, diaryCategoryDesc: diaryCategoryDesc, headCompanyId: headCompanyId, companyName: companyName, CSSPOCUserId: CSSPOCUserId, CSSPOCName: CSSPOCName, SPUserId: SPUserId, SPName: SPName }
            }
            ).done(function (data) {
                $('#divOverDueClaimsList').html(data);
                centerOverDueClaimsListPopup();
                $("#divOverDueClaimsLoading").hide();

            }).fail(function (data) { });

            centerOverDueClaimsListPopup();
            $('#bgOverDueClaimsList').css({
                "opacity": "0.7"
            });
            $('#bgOverDueClaimsList').fadeIn("slow");
            $('#divOverDueClaimsListPopup').fadeIn("slow");
        }
        function disableOverDueClaimsListPopup() {

            $('#bgOverDueClaimsList').fadeOut("slow");
            $('#divOverDueClaimsListPopup').fadeOut("slow");
        }
        function centerOverDueClaimsListPopup() {
            //request data for centering
            var windowWidth = document.documentElement.clientWidth;
            var windowHeight = document.documentElement.clientHeight;
            var popupHeight = $('#divOverDueClaimsListPopup').height();
            var popupWidth = $('#divOverDueClaimsListPopup').width();
            //centering
            $('#divOverDueClaimsListPopup').css({
                "position": "absolute",
                "top": windowHeight / 2 - popupHeight / 2,
                "left": windowWidth / 2 - popupWidth / 2
            });
            //only need force for IE6

            $('#bgOverDueClaimsList').css({
                "height": windowHeight
            });
            return false;
        }

        $(document).ready(function () {
            debugger;
            //var cookieval = sessionStorage.getItem('Linkidname');
            //$(".page-sidebar-menu li").removeClass('active open');
            //$("#" + cookieval).addClass('active open');

            // }
        });
        ///////////_DiarySummaryHome

        $(function () {
            refreshGroupHeading();

            var previous;

            $("#ddlLevel1GroupList").focus(function () {
                previous = this.value;
            }).change(function () {
                if ($("#ddlLevel2GroupList").val() == this.value) {
                    $("#ddlLevel2GroupList").val(previous)
                }
                else if ($("#ddlLevel3GroupList").val() == this.value) {
                    $("#ddlLevel3GroupList").val(previous)
                }
            });


            $("#ddlLevel2GroupList").one('focus', function () {
                previous = this.value;
            }).change(function () {
                if ($("#ddlLevel1GroupList").val() == this.value) {
                    $("#ddlLevel1GroupList").val(previous)
                }
                else if ($("#ddlLevel3GroupList").val() == this.value) {
                    $("#ddlLevel3GroupList").val(previous)
                }

            });

            $("#ddlLevel3GroupList").one('focus', function () {
                previous = this.value;
            }).change(function () {
                if ($("#ddlLevel1GroupList").val() == this.value) {
                    $("#ddlLevel1GroupList").val(previous)
                }
                else if ($("#ddlLevel2GroupList").val() == this.value) {
                    $("#ddlLevel2GroupList").val(previous)
                }

            });

        });

      function ddlLevel1GroupList_Change() {

        }
        function ddlLevel2GroupList_Change() {
        }
        function ddlLevel3GroupList_Change() {
        }
        function refreshGroupHeading() {
            $("#Level1GroupDesc").text($("#ddlLevel1GroupList option:selected").text());
            $("#Level2GroupDesc").text($("#ddlLevel2GroupList option:selected").text());
            $("#Level3GroupDesc").text($("#ddlLevel3GroupList option:selected").text());
        }
        function btnAdminViewRefresh_Click() {
            if ($("#ddlLevel1GroupList").val() == $("#ddlLevel2GroupList").val() || $("#ddlLevel2GroupList").val() == $("#ddlLevel3GroupList").val() || $("#ddlLevel1GroupList").val() == $("#ddlLevel3GroupList").val()) {
                $("#ddlLevel1GroupList").val("0");
                $("#ddlLevel2GroupList").val("1");
                $("#ddlLevel3GroupList").val("2");
            }
            $("#imgAdminViewRefresh").show();
            $.ajax({
                url: '@Url.Action("DiarySummaryAdmin", "Home")',
                contentType: 'application/json; charset=utf-8',
                data: $('#frmHome').serialize(),
                cache: false,
                success: function (result) {
                    $('#divDiarySummaryAdmin').empty().append(result);
                    refreshGroupHeading();
                    $("#imgAdminViewRefresh").hide();
                },
                error: function (error) {
                    $("#imgAdminViewRefresh").hide();
                }
            });
        }
 </script>
}