﻿@model BLL.ViewModels.SearchAssignmentViewModel
<style type="text/css">
    .style3 {
        width: 100%;
    }
</style>
<script type="text/javascript">
    function showSearch(id) {

        if (id == 1) {
            element = document.getElementById('tblSearch');
            element.style.display = 'block';
            element = document.getElementById('aClear');
            element.style.display = 'block';
            element = document.getElementById('aSearch');
            element.style.display = 'none';
        }
        if (id == 2) {
            element = document.getElementById('tblSearch');
            element.style.display = 'none';
            element = document.getElementById('aClear');
            element.style.display = 'none';
            element = document.getElementById('aSearch');
            element.style.display = 'block';
        }

    }

    function showClaimDetails(id) {
        if (id == 1) {
            element = document.getElementById('trClaim1');
            element.style.display = 'block';
            element = document.getElementById('imgMinus1');
            element.style.display = 'block';
            element = document.getElementById('imgPlus1');
            element.style.display = 'none';
            element = document.getElementById('trClaim12');
            element.style.display = 'block';

        }
        if (id == 2) {
            element = document.getElementById('trClaim1');
            element.style.display = 'none';
            element = document.getElementById('imgMinus1');
            element.style.display = 'none';
            element = document.getElementById('imgPlus1');
            element.style.display = 'block';
            element = document.getElementById('trClaim12');
            element.style.display = 'none';
        }
        if (id == 3) {
            element = document.getElementById('trClaim2');
            element.style.display = 'block';
            element = document.getElementById('imgMinus2');
            element.style.display = 'block';
            element = document.getElementById('imgPlus2');
            element.style.display = 'none';
            element = document.getElementById('trClaim22');
            element.style.display = 'block';
        }
        if (id == 4) {
            element = document.getElementById('trClaim2');
            element.style.display = 'none';
            element = document.getElementById('imgMinus2');
            element.style.display = 'none';
            element = document.getElementById('imgPlus2');
            element.style.display = 'block';
            element = document.getElementById('trClaim22');
            element.style.display = 'none';
        }
    }


</script>
<table class="style3">
    <tr>
        <td valign="top" width="200">
            <table align="left" cellspacing="0" width="100%">
                <tr>
                    <td class="mainHeader"><a id="aSearch" href="#" onclick="showSearch(1)" style="color: black;">Search Filter</a><a id="aClear" href="#" onclick="showSearch(2)" style="display: none; color: black;">Search Filter</a>
                    </td>
                </tr>
                <tr>
                    <td class="content">
                        <table class="style3" id="tblSearch" style="display: none;">
                            <tr>
                                <td colspan="9">&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>Claim Number: 
                                </td>
                                <td colspan="6">
                                    @Html.TextBoxFor(model => model.ClaimNumber)
                                    
                                </td>

                               
                            </tr>
                            <tr>
                                <td>State
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.State,Model.StateList)
                                    
                                </td>

                                <td>Loss Type
                                </td>
                                <td>
                                     @Html.DropDownListFor(model => model.LossType,Model.LossTypeList)
                                </td>
                                <td>RVC Range
                                </td>
                                <td>
                                    @Html.TextBox("RVCRangeMin", "", new { style = "width:80px" })
                                </td>
                                <td>to</td>
                                <td>
                                    @Html.TextBox("RVCRangeMax", "", new { style = "width:80px" })
                                </td>
                                <td align="right">
                                    <input type="submit" class="buttonLightYellow_100" value="Search" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="9">&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">Status
                                </td>
                                <td>
                                     @Html.DropDownListFor(model => model.WorkFlowStatus,Model.WorkFlowStatusList)
                                    <br />
                                      @Html.DropDownListFor(model => model.FileStatus,Model.FileStatusList)
                                    <br />
                                    <select style="width: 200px">
                                        <option value="CS">Collaboration Status - All</option>
                                    </select>
                                    <br />
                                    <select style="width: 200px">
                                        <option value="TP">Third Party - All</option>
                                    </select>
                                </td>
                                <td colspan="7"></td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>

    </tr>
    <tr>

        <td valign="top">
            <table align="left" cellspacing="0" width="100%">
                <tr>
                    <td class="mainHeader">Assignments/Claims
                    </td>
                </tr>
                <tr>
                    <td class="content">
                        <table cellpadding="3" cellspacing="0" width="100%">
                            <tr>
                                <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" nowrap="nowrap">#
                                </td>
                                <td bgcolor="#B2B2B2" style="color: #FFFFFF;"></td>
                                <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" nowrap="nowrap">Claim #
                                </td>
                                <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" nowrap="nowrap">Address
                                </td>
                                <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" nowrap="nowrap">Contacted
                                </td>
                                <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" nowrap="nowrap">Client Contact
                                </td>
                                <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" nowrap="nowrap">Inspected
                                </td>
                                <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" nowrap="nowrap">Inspection
                                </td>
                                <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" nowrap="nowrap">Insured
                                </td>
                                <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" nowrap="nowrap">QA Approved Date
                                </td>
                                <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" nowrap="nowrap">Zip
                                </td>
                                <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" nowrap="nowrap">City
                                </td>
                                <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" nowrap="nowrap">State
                                </td>
                                <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" nowrap="nowrap">Total
                                </td>
                                <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" nowrap="nowrap">Loss Date
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#EAEAEA" valign="top">1
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">
                                    <a href="#">
                                        <img id="imgPlus1" alt="plus" src="~/Content/Images/plus.png" onclick="showClaimDetails(1)" style="border: none;" /></a><a href="#"><img id="imgMinus1" onclick="showClaimDetails(2)" alt="minus" src="~/Content/Images/minus.png" style="display: none; border: none;" /></a>
                                </td>
                                <td bgcolor="#EAEAEA" valign="top" nowrap="nowrap">
                                    @Html.ActionLink("12344234", "Index", "AssignmentDetails")

                                </td>
                                <td bgcolor="#EAEAEA" valign="top">Rio Salado Parkway
                                    <br />
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">No
                                </td>
                                <td bgcolor="#EAEAEA" valign="top" nowrap="nowrap">Tim Rodrigues
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#EAEAEA" valign="top" nowrap="nowrap">AZ 85281
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">Tempe
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">AZ
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">-
                                </td>
                                <td bgcolor="#EAEAEA" valign="top" nowrap="nowrap">10-Aug-2012
                                </td>
                            </tr>
                            <tr id="trClaim1" style="display: none;">
                                <td bgcolor="#EAEAEA" valign="top"></td>

                                <td bgcolor="#EAEAEA" valign="top" colspan="2" style="color: black"><b>Claim No:</b>
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">tes-123  
                                </td>
                                <td bgcolor="#EAEAEA" valign="top" style="color: black"><b>Policy No:</b></td>
                                <td bgcolor="#EAEAEA" valign="top">test-567
                                    
                                </td>
                                <td bgcolor="#EAEAEA" valign="top" style="color: black"><b>CAT Code:</b>
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#EAEAEA" valign="top" style="color: black"><b>Cause Type of Loss:</b>
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">Fire Damage
                                </td>
                                <td bgcolor="#EAEAEA" valign="top" style="color: black"><b>Service Offering:</b>
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#EAEAEA" valign="top" colspan="2" style="color: black"><b>Date of Loss:</b>
                                </td>

                                <td bgcolor="#EAEAEA" valign="top">10-Feb-2012
                                </td>

                            </tr>
                            <tr id="trClaim12" style="display: none;">
                                <td bgcolor="#EAEAEA" valign="top"></td>

                                <td bgcolor="#EAEAEA" valign="top" colspan="2" style="color: black"><b>Insured:</b>
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">Fred Greene  
                                </td>
                                <td bgcolor="#EAEAEA" valign="top" style="color: black"><b>Insured Address:</b></td>
                                <td bgcolor="#EAEAEA" valign="top">411 E. Wisconsin Ave
                                    
                                </td>
                                <td bgcolor="#EAEAEA" valign="top" style="color: black"><b>Insured City:</b>
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">Milwaukee
                                </td>
                                <td bgcolor="#EAEAEA" valign="top" style="color: black"><b>Insured State:</b>
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">Wisconsin
                                </td>
                                <td bgcolor="#EAEAEA" valign="top" style="color: black"><b>Insured Zip:</b>
                                </td>
                                <td bgcolor="#EAEAEA" valign="top">40567666
                                </td>
                                <td bgcolor="#EAEAEA" valign="top" colspan="2" style="color: black"><b>Total Deductible:</b>
                                </td>

                                <td bgcolor="#EAEAEA" valign="top">&nbsp;
                                </td>

                            </tr>
                            <tr>
                                <td bgcolor="#F9F9F9" valign="top">2
                                </td>
                                <td bgcolor="#F9F9F9" valign="top" style="width: 5px; text-align: right;">
                                    <a href="#">
                                        <img id="imgPlus2" alt="plus" src="~/Content/Images/plus.png" onclick="showClaimDetails(3)" style="border: none;" /></a><a href="#"><img id="imgMinus2" alt="minus" onclick="showClaimDetails(4)" src="~/Content/Images/minus.png" style="display: none; border: none;" /></a>
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">
                                    @Html.ActionLink("95624234", "Index", "AssignmentDetails")
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">No
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">XYZ ABC
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">-
                                </td>
                                <td bgcolor="#F9F9F9" valign="top" nowrap="nowrap">24-Sept-2011
                                </td>
                            </tr>
                            <tr id="trClaim2" style="display: none;">
                                <td bgcolor="#F9F9F9" valign="top"></td>

                                <td bgcolor="#F9F9F9" valign="top" colspan="2" style="color: black"><b>Claim No:</b>
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">test-456  
                                </td>
                                <td bgcolor="#F9F9F9" valign="top" style="color: black"><b>Policy No:</b></td>
                                <td bgcolor="#F9F9F9" valign="top">test-789
                                    
                                </td>
                                <td bgcolor="#F9F9F9" valign="top" style="color: black"><b>CAT Code:</b>
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#F9F9F9" valign="top" style="color: black"><b>Cause Type of Loss:</b>
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">Fire Damage
                                </td>
                                <td bgcolor="#F9F9F9" valign="top" style="color: black"><b>Service Offering:</b>
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">&nbsp;
                                </td>
                                <td bgcolor="#F9F9F9" valign="top" colspan="2" style="text-align: right; color: black"><b>Date of Loss:</b>
                                </td>

                                <td bgcolor="#F9F9F9" valign="top">13-Jan-2012
                                </td>

                            </tr>
                            <tr id="trClaim22" style="display: none;">
                                <td bgcolor="#F9F9F9" valign="top"></td>

                                <td bgcolor="#F9F9F9" valign="top" colspan="2" style="color: black"><b>Insured:</b>
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">Rosy Linda  
                                </td>
                                <td bgcolor="#F9F9F9" valign="top" style="color: black"><b>Insured Address:</b></td>
                                <td bgcolor="#F9F9F9" valign="top">411 E. Stabled Ave
                                    
                                </td>
                                <td bgcolor="#F9F9F9" valign="top" style="color: black"><b>Insured City:</b>
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">Milwaukee
                                </td>
                                <td bgcolor="#F9F9F9" valign="top" style="color: black"><b>Insured State:</b>
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">Wisconsin
                                </td>
                                <td bgcolor="#F9F9F9" valign="top" style="color: black"><b>Insured Zip:</b>
                                </td>
                                <td bgcolor="#F9F9F9" valign="top">234576
                                </td>
                                <td bgcolor="#F9F9F9" valign="top" colspan="2" style="color: black"><b>Total Deductible:</b>
                                </td>

                                <td bgcolor="#F9F9F9" valign="top">&nbsp;
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="footer">&nbsp;
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
