﻿@model BLL.ViewModels.ServiceProviderRegistrationViewModel
@{
    ViewBag.Title = "Index";
}
 <script language="JavaScript" type="text/JavaScript">
    function CountryChange () {
        var url = '@Url.Content("~/Account/GetState")';

        var ddlsource = "#ddlResiState0";
        var ddltarget = "#ddlResiCity0";
        if ($(ddlsource).val() != "") {
            $.ajaxSetup({ cache: false });
            $.getJSON(url, { Sel_Country: $(ddlsource).val() }, function (data) {
                $(ddltarget).empty();
                $("#ddlResiCity0").append("<option  value=''>Select State</option>");
                $.each(data, function (index, optionData) {
                    $("#ddlResiCity0").append("<option value='" + optionData.Value + "'>" + optionData.Text + "</option>");
                 });
             });
        }
        else {
            $("#ddlResiCity0").empty();
            $("#ddlResiCity0").append("<option value=''>Select State</option>");
       }
   }
 </script>

<h2>Index</h2>

<select id="ddlResiState0" name="ddlResiState0" style="width: 100px;" onchange="CountryChange()">
    @foreach (var state in Model.StateList)
    {
        <option value="@state.Key">@state.Value</option>
    }
</select>

<select id="ddlResiCity0" name="ddlResiCity0" style="width: 100px;">
    @foreach (var city in Model.CityList)
    {
        <option value="@city.Key">@city.Value</option>
    }
</select>

