﻿@{
    ViewBag.Title = "UIControls";
}

<h2>UIControls</h2>
<link href="~/Content/JQueryUI/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
<script src="~/Scripts/JqueryUI/jquery-1.8.0.min.js"></script>
<script src="~/Scripts/JqueryUI/jquery-ui-1.8.23.custom.min.js"></script>

	<script>
	$(function() {
		$( "#slider" ).slider({
			value:100,
			min: 0,
			max: 500,
			step: 50,
			slide: function( event, ui ) {
				$( "#amount" ).val( "$" + ui.value );
			}
		});
		$( "#amount" ).val( "$" + $( "#slider" ).slider( "value" ) );
	});
	</script>
<p>
	<label for="amount">Donation amount ($50 increments):</label>
	<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" />
</p>

<div id="slider"></div>
