﻿@model BLL.ViewModels.ServiceProviderSearchViewModel
@using CSS
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();

    ViewBag.Title = "Service Providers";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    Model.Pager.IsAjax = true;
    Model.Pager.FormName = "ServiceProviders";
}

<style type="text/css">
    #backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 550px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .UserRightsPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        width: 300px;
    }

    .HeadCompany {
        background: #e1e5ec;
    }

    .SubCompany {
        background: white;
    }
</style>

<style type="text/css">
    .waiting-box {
        display: block;
        position: fixed; /* fixed position so it doesn't scroll */
        _position: fixed; /* hack for internet explorer 6*/
        z-index: 99; /* on top of everything else */
        top: 0;
        left: 0;
        /*left: 50%;
        top: 50%;*/ /* displayed on the top of the page, just like Gmail's yellow info-box */
        /*background: white;*/
        background-color: black;
        border-radius: 4px;
        /*margin-top: -147px;*/
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }


    .loading {
        font-family: Arial;
        font-size: 10pt;
        /*border: 5px solid #67CFF5;*/
        width: 150px;
        height: 150px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }
</style>
<div class="loading" align="center">
    <img src="@Url.Content("~/Content/Images/spinner.gif")" width="150" height="150" />
</div>

<div id="backgroundPopup" onclick="closeAllPopups()"></div>

@using (Html.BeginForm("Search", "ServiceProviders", FormMethod.Post, new { @id = "ServiceProviders", enctype = "multipart/form-data" }))
{
    @Html.Partial("_ServiceProviderSearchFilter")
    <div style="margin-top: -15px; text-align: right;">
        <a href="~/ServiceProviderRegistration/Submit" class="btn yellow-crusta">New Location</a>
    </div>
    <div class="portlet-body">
      <div class="table-scrollable">
            <table class="table table-hover fontsizefortbl">
                <thead style="background-color: #406E98 !important;color: white;">
                    <tr valign="top">
                        <th></th>
                        <th>
                            Full Name
                        </th>
                        <th>
                            <a onclick="Sortinglist('CompanyName', '');" style="color:white;">
                                Company Name
                              
                            </a>
                            @{
                                string companyacsdisplay = "";
                                string companydecdisplay = "";
                            }

                            @if (Model.sortBy == "CompanyName")
                            {
                                if (Model.sortString == "ASC")
                                {
                                    companydecdisplay = "display: none";
                                }
                                if (Model.sortString == "DESC")
                                {
                                    companyacsdisplay = "display: none";
                                }
                            }

                            @if (companyacsdisplay == "" && companydecdisplay == "")
                            {
                                companydecdisplay = "margin-left:-11px ";
                            }
                            <i id="icomasc" class="fa fa-sort-up" style="color:white; @companyacsdisplay"></i>
                            <i id="icomdes" class="fa fa-sort-down" style="color:white; margin-top:1px; @companydecdisplay "></i>
                        </th>
                        <th>
                            @{
                            string stateacsdisplay = "";
                            string statedecdisplay = "";
                            }

                            @if (Model.sortBy == "StateName")
                            {
                                if (Model.sortString == "ASC")
                                {
                                    statedecdisplay = "display: none ";
                                }
                                if (Model.sortString == "DESC")
                                {
                                    stateacsdisplay = "display: none ";
                                }
                            }

                            @if (stateacsdisplay == "" && statedecdisplay == "")
                            {
                                statedecdisplay = "margin-left:-11px ";
                            }
                            <a onclick="Sortinglist('StateName', '');" style="color:white;">
                                State
                                <i id="istateasc" class="fa fa-sort-up" style="color:white; @stateacsdisplay "></i>
                                <i id="icitydes" class="fa fa-sort-down" style="color:white; margin-top:1px; @statedecdisplay "></i>
                               
                            </a>
                        </th>
                        <th>
                            @{
                            string cityacsdisplay = "";
                            string citydecdisplay = "";
                            }

                            @if (Model.sortBy == "CityName")
                            {
                                if (Model.sortString == "ASC")
                                {
                                    citydecdisplay = "display: none";
                                }
                                if (Model.sortString == "DESC")
                                {
                                    cityacsdisplay = "display: none";
                                }
                            }

                            @if (cityacsdisplay == "" && citydecdisplay == "")
                            {
                                citydecdisplay = "margin-left:-11px ";
                            }
                            <a onclick="Sortinglist('CityName', '');" style="color:white;">
                                City
                                <i id="icityasc" class="fa fa-sort-up" style="color:white; @cityacsdisplay"></i>
                                <i id="icitydes" class="fa fa-sort-down" style="color:white; margin-top:1px; @citydecdisplay "></i>
                            
                            </a>
                        </th>
                        <th>
                            Zip
                        </th>
                        <th>
                            Mobile Phone
                        </th>
                        <th>
                            Email Address
                        </th>

                        <th>Rank</th>
                        <th>Status</th>
                        <th></th>
                        <th colspan="2"></th>
                        <th style="display: none;">
                            <input type="hidden" id="hdnPageSige" name="hdnPageSige" />
                            <input type="hidden" id="hdnNext" name="hdnNext" />
                            <input type="hidden" id="hdnsorting" value="@Model.sortString" name="sortString" />
                            <input type="hidden" id="hdnHeader" value="@Model.sortBy" name="sortBy" />
                        </th>
                    </tr>
                </thead>
                @{
                            int i = 0;
                            int j = Model.Pager.Page - 1;
                            int z = Convert.ToInt32(Model.Pager.RecsPerPage);
                            int k = j * z;
                            foreach (var spd in Model.ServiceProvidersList)
                            {
                                  <tr class="@(spd.MgrId == null ? "HeadCompany" : "SubCompany")">
                                    <td>@(i + 1)</td>
                                    <td nowrap="nowrap">
                                        <a href="javascript:;" onclick="SPDetails(@spd.UserId);" style="padding-right:5px; border: none; color: #337ab7; cursor: pointer;text-decoration:none;">
                                            @spd.FirstName @spd.LastName
                                        </a>
                                    </td>
                                    <td>
                                        <text>@spd.CompanyName</text>
                                    </td>

                                    <td>
                                        @spd.StateName
                                    </td>
                                    <td>
                                        @spd.City
                                    </td>

                                    <td>
                                        @spd.Zip
                                    </td>
                                    <td>
                                        @spd.MobilePhone
                                    </td>
                                    <td>
                                        <a href="mailto:@spd.Email">@spd.Email</a>
                                        
                                    </td>
                                   <td align="center"><span class="badge badge-primary">@spd.Rank </span></td>
                                    <td>
                                        @if (spd.Active == null)
                                        {

                                        }
                                        else
                                        {
                                            if (spd.Active.Value)
                                            {
                                                <span class="label label-sm label-success"> Approved </span>

                                            }
                                            if (!spd.Active.Value)
                                            {
                                                <span class="label label-sm label-danger"> Rejected </span>
                                            }
                                        }

                                    </td>
                                    <td>
                                        <img onclick="loadUserRightsPopup('@spd.UserId')" src="~/Content/Images/userRolesIcon.png" alt="User Rights" title="Manage User Rights" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom;" />
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Submit", "ServiceProviderRegistration", new { SPID = spd.UserId })" style="border: none; color: black; cursor: pointer;float:left;">
                                            <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                        </a>

                                    </td>
                                    <td nowrap="nowrap">

                                        @if (loggedInUser != null)
                                        {
                                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3)
                                            {

                                                if (spd.Active == null || spd.Active == false)
                                                {

                                                    <a href="javascript:;" onclick="loadApprovePopup('@spd.UserId','@spd.Rank')" style="padding-right:5px; border: none; color: black; cursor: pointer;text-decoration:none;">
                                                        <img src="~/Content/Images/Approve.png" title="Approve" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                    </a>
                                                }
                                                if ((spd.Active == true))
                                                {
                                                    <a href="javascript:;" onclick="loadRejectPopup('@spd.UserId')" style="border: none; color: black; cursor: pointer;text-decoration:none;">
                                                        <img src="~/Content/Images/Cancel.png" title="Reject" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                    </a>
                                                }
                                            }
                                        }
                                    </td>
                                </tr>
                             i++;
                         }
                }
            </table>
        </div>
 </div>
    <div class="table-scrollable">

        @Html.Partial("_Pager", Model.Pager)

    </div>
}


<div id="divUserRights" class="modal fade" tabindex="-1" aria-hidden="true" style="display:none;">
    @using (Html.BeginForm("UserAssignedRights", "ServiceProviders", FormMethod.Post, new { @id = "frmUserAssignedRights" }))
    {
        <div class="modal-dialog" style="width:400px">
            <div class="modal-content">
                <div class="modal-header modalHead" style="background-color: #406E98 !important; color: white !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Manage User Rights</h4>
                </div>
                <div class="modal-body">
                    <img id="imgUserRightsLoading" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="loading" />
                    <div id="divUserRightsContent">

                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <img id="imgUserRightsSaveProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                </div>
                <div class="modal-footer" style=" text-align: center;">
                    <input type="button" value="Save" onclick="btnUserRightSave_Click()" class="btn btn-primary" />
                    <input type="button" value="Cancel" onclick="CloseUserRights()" class="btn dark btn-outline sbold" />
                </div>
            </div>
        </div>
    }

</div>

<div id="divApprove" class="EditPopup">
    @using (Html.BeginForm("Approve", "ServiceProviders"))
    {
        <div>
            <div class="mainHeader" style="background-color: #406E98 !important;color: white; height: 50px; padding-left:10px; padding-top: 10px; font-size: 18px;">
                <b>Approve Service Provider</b>
            </div>
            <div class="col-md-12 ">
                <br />
                <br />
                <div class="form-group form-md-radios" style="text-align: center;">
                    <label>Select Service Provider Rank</label>
                    <input type="hidden" id="hdnApproveUserId" name="hdnApproveUserId">
                    <div class="md-radio-inline">
                        <div class="md-radio">
                            <input type="radio" id="rb1" name="Rank" value="1" class="md-radiobtn">
                            <label for="rb1">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> 1
                            </label>
                        </div>
                        <div class="md-radio">
                            <input type="radio" id="rb2" name="Rank" value="2" class="md-radiobtn" checked="">
                            <label for="rb2">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> 2
                            </label>
                        </div>
                        <div class="md-radio">
                            <input type="radio" id="rb3" name="Rank" value="3" class="md-radiobtn">
                            <label for="rb3">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> 3
                            </label>
                        </div>
                        <div class="md-radio">
                            <input type="radio" id="rb4" name="Rank" value="4" class="md-radiobtn">
                            <label for="rb4">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> 4
                            </label>
                        </div>
                        <div class="md-radio">
                            <input type="radio" id="rb5" name="Rank" value="5" class="md-radiobtn">
                            <label for="rb5">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> 5
                            </label>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="footer" style="text-align: center;">
                    <input id="btnOK" type="submit" value="OK" class="btn blue-madison " />
                    <input id="btnCancel" type="button" value="Cancel" onclick="disableApprovePopup()" class="btn dark btn-outline " />
                </div>
                <br />
            </div>
        </div>
    }
</div>

<div id="divReject" class="EditPopup">
    @using (Html.BeginForm("Reject", "ServiceProviders"))
    {
        <div class=" ">
            <div class="mainHeader " style="background-color: #406E98 !important;color: white; height: 50px; padding-left:10px; padding-top: 10px; font-size: 18px;">
                <b>Reject Service Provider</b>
            </div>
            <br />
            <br />
            <div style="padding-left:10px;">
                <div class="form-group">
                    <label for="inputPassword12" style="text-align: right;" class="col-md-4 control-label">Rejection Remarks</label>
                    <div class="col-md-6">
                        <input type="hidden" id="hdnRejectUserId" name="hdnRejectUserId">
                        <textarea id="txtRejectRemarks" name="txtRejectRemarks" class="form-control"></textarea>
                        <br />
                    </div>
                    <div style="float: left; text-align: right;" class="col-md-4">
                        @Html.CheckBox("cbEmailSPRej", true, new { @id = "cbEmailSPRej" })
                    </div>
                    <label class="col-md-6">
                        Email rejection remarks to Service Provider
                    </label>
                    <br />
                </div>
            </div>
            <div class="footer col-md-12">
                <div style="text-align: center;">
                    <br />
                    <input id="btnRejectOk" type="submit" value="OK" class="btn blue-madison " /> &nbsp;
                    <input id="btnRejectCancel" type="button" value="Cancel" onclick="disableRejectPopup()" class="btn dark btn-outline " />
                </div>
                <br />
            </div>
        </div>
    }
    <br />
</div>



<div id="SPdetail">

</div>

@section PageLevelScript{
    <script type="text/javascript">
        function ShowProgress() {
            setTimeout(function () {
                var modal = $('<div />');
                modal.addClass("waiting-box");
                $('body').append(modal);
                var loading = $(".loading");
                loading.show();
                var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
                var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
                loading.css({ top: top, left: left });
            }, 200);
        }
        $('#ServiceProviders').on("submit", function () {
            ShowProgress();
        });

        function progressCallBack() {
            ShowProgress();
        }
    </script>



    <script type="text/javascript">
        $(document).ready(function () {


        });

        function Sortinglist(headername, sortid) {
            if ($("#hdnsorting").val() == '' || $("#hdnsorting").val() == 'DESC') {
                $("#hdnsorting").val('ASC');
            }
            else if ($("#hdnsorting").val() == 'ASC') {
                $("#hdnsorting").val('DESC');
            }
            $("#hdnHeader").val(headername);

            @*@{
                Session["headername"] = @Model.sortBy;
        }*@
            //alert(sortid);
            debugger;
            $("#ServiceProviders").submit();
            //function () {
            //    debugger;
            //    if (headername == "CompanyName") {
            //        debugger;
            //        alert
            //        $("#hdnsorting").val("comdes");
            //    } else if (headername == "StateName") {
            //        $("#hdnsorting").val("statedes");
            //    } else if (headername == "CityName") {
            //        $("#hdnsorting").val("citydes");
            //    }
            //}
        }

        function SPDetails(SPID) {
            debugger;
            $.ajax({
                url: '@Url.Action("SPDetails")',
                data: { SPID: SPID },
                // type: 'POST',
                //cache: false,
                success: function (data) {
                    debugger;
                    $("#SPdetail").empty().append(data);
                    $('#imgUserRightsLoading').hide();
                    $('#SPDetailModal').modal("show")
                    //$("#SPdetail").show;
                }
            });
            debugger;
            //$('#SPDetailModal').modal("show")
            //$("#SPdetail").show;

        }

        function btnUserRightSave_Click() {
            $('#imgUserRightsSaveProcessing').show();
            $.ajax({
                type: "POST"
                , url: '@Url.Action("UserAssignedRights", "ServiceProviders")'
                , data: $("#frmUserAssignedRights").serialize()
                , success: function () {
                    $('#ServiceProviders').submit();
                }
            });

        }
        function closeAllPopups() {
            disableApprovePopup();
            disableRejectPopup();
            disableUserRightsPopup();
        }
        function loadApprovePopup(e, Rank) {
            debugger;
            var btnOK = document.getElementById("btnOK");
            var userid = e;
            var rank = 0;

            document.getElementById('hdnApproveUserId').value = userid + "";

            // popupDivVal = Edit;
            //loads popup only if it is disabled
            var popupStatus = 0;
            if (popupStatus == 0) {

                centerApprovePopup();
                $("#backgroundPopup").css({
                    "opacity": "0.7"
                });
                if (Rank > 0) {
                    //$('input:radio[name=Rank]' + " #rb" + Rank).attr('checked', true);
                    $('#rb' + Rank).prop('checked', true);

                }
                $('input:radio[name=Rank]').click(function () {
                    rank = $(this).val();;
                });
                //$("#btnOK").click(function redirect() {
                //    var url = '/ServiceProviders/Approve?id=' + userid + '&Rank=' + rank;
                //    window.location.href = url;
                //    disablePopup();
                //});


                $("#backgroundPopup").fadeIn("slow");
                $("#divApprove").fadeIn("slow");
                popupStatus = 1;
            }
            return false;
        }

        function disableApprovePopup() {
            //debugger;
            //disables popup only if it is enabled
            var popupStatus = 1;
            if (popupStatus == 1) {
                $("#backgroundPopup").fadeOut("slow");
                $("#divApprove").fadeOut("slow");
                popupStatus = 0;
            }
        }
        function centerApprovePopup() {
            //request data for centering

            var windowWidth = document.documentElement.clientWidth;
            var windowHeight = document.documentElement.clientHeight;
            var popupHeight = $("#divApprove").height();
            var popupWidth = $("#divApprove").width();
            //centering
            $("#divApprove").css({
                "position": "absolute",
                "top": windowHeight / 2 - popupHeight / 2,
                "left": windowWidth / 2 - popupWidth / 2
            });
            //only need force for IE6

            $("#backgroundPopup").css({
                "height": windowHeight
            });
            return false;
        }

        function loadRejectPopup(e) {
            var btnOK = document.getElementById("btnOK");
            var userid = e;
            document.getElementById('hdnRejectUserId').value = userid + "";
            // popupDivVal = Edit;
            //loads popup only if it is disabled
            centerRejectPopup();
            $("#backgroundPopup").css({
                "opacity": "0.7"
            });
            $("#backgroundPopup").fadeIn("slow");
            $("#divReject").fadeIn("slow");
        }

        function disableRejectPopup() {
            //debugger;
            //disables popup only if it is enabled
            var popupStatus = 1;
            if (popupStatus == 1) {
                $("#backgroundPopup").fadeOut("slow");
                $("#divReject").fadeOut("slow");
                popupStatus = 0;
            }
        }
        function centerRejectPopup() {
            //request data for centering

            var windowWidth = document.documentElement.clientWidth;
            var windowHeight = document.documentElement.clientHeight;
            var popupHeight = $("#divReject").height();
            var popupWidth = $("#divReject").width();
            //centering
            $("#divReject").css({
                "position": "absolute",
                "top": windowHeight / 2 - popupHeight / 2,
                "left": windowWidth / 2 - popupWidth / 2
            });
            //only need force for IE6

            $("#backgroundPopup").css({
                "height": windowHeight
            });
            return false;
        }

        function CloseUserRights() {
            $("#divUserRights").modal("hide")
        }

        function loadUserRightsPopup(userId) {
            $("#divUserRightsContent").empty();
            $('#imgUserRightsLoading').show();

            $.ajax({
                url: '@Url.Action("UserAssignedRights")',
                data: { userId: userId },
                type: 'GET',
                cache: false,
                success: function (data) {
                    $("#divUserRightsContent").html(data);
                    $('#imgUserRightsLoading').hide();
                }
            }


            );
            $("#divUserRights").modal("show")
            @*$.getJSON('@Url.Action("UserAssignedRights")', { userId: userId }, function (data) {
            $("#divUserRightsContent").html(data);
            $('#imgUserRightsLoading').hide();
        });*@
            //centerUserRightsPopup();
            //$("#backgroundPopup").css({
            //    "opacity": "0.7"
            //});
            //$("#backgroundPopup").fadeIn("slow");
            //$("#divUserRights").fadeIn("slow");

        }

        function disableUserRightsPopup() {

            $("#backgroundPopup").fadeOut("slow");
            $("#divUserRights").fadeOut("slow");
        }
        function centerUserRightsPopup() {
            var windowWidth = document.documentElement.clientWidth;
            var windowHeight = document.documentElement.clientHeight;
            var popupHeight = $("#divUserRights").height();
            var popupWidth = $("#divUserRights").width();
            //centering
            $("#divUserRights").css({
                "position": "absolute",
                "top": windowHeight / 2 - popupHeight / 2,
                "left": windowWidth / 2 - popupWidth / 2
            });
            //only need force for IE6

            $("#backgroundPopup").css({
                "height": windowHeight
            });
            return false;
        }
        function expandSPList() {
            collapseSearchFilter();
            collapseMap();
            $('#hdnActiveMainTab').val('SPList');
            $('#trSPList').show();
            //$('#lblSPListExpand').hide();
            //$('#lblSPListCollapse').show();
        }
        function collapseSPList() {
            $('#trSPList').hide();
            //$('#lblSPListExpand').show();
            //$('#lblSPListCollapse').hide();
        }
        function expandMap() {
            collapseSearchFilter();
            collapseSPList();
            $('#hdnActiveMainTab').val('Map');
            $('#map').show();
            initializeSPSearchMap();
            //$('#lblMapExpand').hide();
            //$('#lblMapCollapse').show();
        }
        function collapseMap() {
            $('#map').hide();
            //$('#lblMapExpand').show();
            //$('#lblMapCollapse').hide();
        }
        function expandSearchFilter() {

            //document.getElementById("trSearchFilterContent").style.display = "table-row";
            //document.getElementById("trSearchFilterFooter").style.display = "table-row";
            //document.getElementById("lblSearchExpand").style.display = "none";
            //document.getElementById("lblSearchCollapse").style.display = "inline";
        }
        function collapseSearchFilter() {
            //document.getElementById("trSearchFilterContent").style.display = "none";
            //document.getElementById("trSearchFilterFooter").style.display = "none";
            //document.getElementById("lblSearchExpand").style.display = "inline";
            //document.getElementById("lblSearchCollapse").style.display = "none";
        }
        function ConfirmationBox() {
            var result = confirm("Are you sure you want to continue?");
            var hdnIsActive = document.getElementsByName("hdnIsActive");
            if (result == true) {
                hdnIsActive.value = 1;
            }
            else {
                hdnIsActive.value = 0;
            }
        }
        $(document).ready(function () {
            @if (Model.ActiveMainTab == "Map")
        {
            @:expandMap();
                                                                                                                                                                    }
        else
        {
            @:expandSPList();
                                                                                                                                                                                    }
        });
    </script>
}
