﻿@model BLL.ViewModels.NuGenPricingScheduleViewModel
@{
    ViewBag.Title = "PricingSchedule";
}
<style type="text/css">
    .backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 550px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        
    }

    .wideareadivNewPricing {
        width: 350px;
        height: 80px;
    }

    .wide {
        width: 350px;
    }
</style>
<script type="text/javascript">
    $(document).on('change blur', '.decimal', function () {
        var amt = parseFloat(this.value);
        if (isNaN(amt)) {
            $(this).val('');
        }
        else {
            $(this).val(amt.toFixed(2));
        }
    });

    function loadPricingPopup(companylobpricingid, lobid, startrange, endrange, baseservicefee, spservicefee, rcvpercent) {
        $("#divError").empty();
        setPricingItemValues(companylobpricingid, lobid, startrange, endrange, baseservicefee, spservicefee, rcvpercent);
        var popupStatus = 0;
        if (popupStatus == 0) {
            centerPopupNewPricing();
            $("#divbackgroundPopupNewPricing").css({
                "opacity": "0.7"
            });
            $("#divbackgroundPopupNewPricing").fadeIn("slow");
            $("#divNewPricing").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function validateForm() {

        var CompanyId = '@Model.InsuranceCompany';
        var hdncompanylobpricingid = $('#hdnCompanyLOBPricingId').val();
        var ddlLOB = $('#ddlLOB').val();
        var txtstartrange = $('#txtStartRange').val();
        var txtendrange = $('#txtEndRange').val();
        var txtbaseservicefee = $('#txtBaseServiceFee').val();
        var txtSPServiceFee = $('#txtSPServiceFee').val();
        var txtRCVPercent = $('#txtRCVPercent').val();
        var isValid = true;
        var isValidErrorMsg = '';
        if (ddlLOB <= 0) {
            isValid = false;
            isValidErrorMsg += "Line of Business is required.<br/>";
            document.getElementById("divError").innerHTML = isValidErrorMsg;
        }
        if (txtstartrange.length <= 0) {
            isValid = false;
            isValidErrorMsg += "Start Range is required.<br/>";
            document.getElementById("divError").innerHTML = isValidErrorMsg;
        }
        if (txtendrange <= 0) {
            isValid = false;
            isValidErrorMsg += "End Range is required.<br/>";
            document.getElementById("divError").innerHTML = isValidErrorMsg;
        }

        $.post('@Url.Content("~/CompanyLOBPricing/isValidRange")',
                 {
                     startrange: txtstartrange, endrange: txtendrange, lobid: ddlLOB, companyid: CompanyId, companylobpricingid: hdncompanylobpricingid
                 },
                  function (data) {
                      if (data == 2) {
                          isValid = false;
                          isValidErrorMsg += "Start Range Invalid<br/>";
                          document.getElementById("divError").innerHTML = isValidErrorMsg;
                      }
                      else if (data == 3) {
                          isValid = false;
                          isValidErrorMsg += "End Range Invalid<br/>";
                          document.getElementById("divError").innerHTML = isValidErrorMsg;
                      }
                      else if (data == 0) {
                          isValid = false;
                          isValidErrorMsg += "Start Range Invalid<br/>";
                          isValidErrorMsg += "End Range Invalid<br/>";
                          document.getElementById("divError").innerHTML = isValidErrorMsg;
                      }
                      else if (data == 1) {
                          if (isValid) {

                              $.post('@Url.Action("PricingSchedule", "CompanyLOBPricing")',
                            {
                                CompanyId: CompanyId, companylobpricingid: hdncompanylobpricingid, lobid: ddlLOB, startrange: txtstartrange, endrange: txtendrange, baseservicefee: txtbaseservicefee, spservicefee: txtSPServiceFee, rcvpercent: txtRCVPercent
                            },
                             function (data) {
                                 if (data == 1) {
                                     window.location.href = "@Url.Action("PricingSchedule", "CompanyLOBPricing", new { CompanyId = Model.InsuranceCompany })";
                                     disablePopupNewPricing();
                                 }
                             });
                         }
                         else {

                             document.getElementById("divError").innerHTML = isValidErrorMsg;
                             return false;
                         }

                     }


                  });






 }

    @*function checkStartRange()
    {
        var CompanyId = '@Model.InsuranceCompany';
        var hdncompanylobpricingid = $('#hdnCompanyLOBPricingId').val();
        var ddlLOB = $('#ddlLOB').val();
        var txtstartrange = $('#txtStartRange').val();
        var txtendrange = $('#txtEndRange').val();
        var txtbaseservicefee = $('#txtBaseServiceFee').val();
        var isValid = true;
        $.post('@Url.Content("~/CompanyLOBPricing/isValidRange")',
            {
                startrange: txtstartrange, endrange: 0, lobid: ddlLOB, companyid: CompanyId, companylobpricingid: hdncompanylobpricingid
            },
             function (data) {
                 if (data == 1) {
                     isValid = false;
                     isRangeExist = false;
                     isValidErrorMsg += "Start Range Invalid<br/>";
                     alert(isValid + 'in');
                 }
             });
        return isValid;
    }
  *@
    function setPricingItemValues(companylobpricingid, lobid, startrange, endrange, baseservicefee, spservicefee, rcvpercent) {

        $('#hdnCompanyLOBPricingId').val(companylobpricingid);
        $('#ddlLOB').val(lobid);
        $('#txtStartRange').val(startrange);
        $('#txtEndRange').val(endrange);
        $('#txtBaseServiceFee').val(baseservicefee);
        $('#txtSPServiceFee').val(spservicefee);
        $('#txtRCVPercent').val(rcvpercent);
    }
    function disablePopupNewPricing() {

        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#divbackgroundPopupNewPricing").fadeOut("slow");
            $("#divNewPricing").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupNewPricing() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divNewPricing").height();
        var popupWidth = $("#divNewPricing").width();
        //centering  
        $("#divNewPricing").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#divbackgroundPopupNewPricing").css({
            "height": windowHeight
        });
        return false;
    }


</script>

@*    @using (Html.BeginForm("CompaniesList", "InsuranceSetUp",FormMethod.Post))
    {
     
*@<table width="100%" align="left" cellpadding="3" cellspacing="0">
    <tr>
        <td class="mainHeader">Line of Business Pricing Schedule
        </td>
    </tr>
    <tr>
        <td>
            <div class="errorMsg">

                @if (TempData["Error"] != null)
                { 
                    @:@TempData["Error"]
                    TempData["Error"] = null;
                }

            </div>

        </td>


    </tr>
    <tr>
        <td align="right">
            <input type="button" class="buttonLightYellow_100" value="New Pricing" onclick="loadPricingPopup('0', '0', '', '', '0', '0', '0')" />
        </td>
    </tr>

    <tr>
        <td class="mainHeader">Pricing Schedule List
        </td>
    </tr>

    <tr>
        <td class="content">

            <table cellpadding="3" cellspacing="0" width="100%">
                <thead class="tableHeader">
                    <tr valign="top">


                        <td width="25%">Line of Business            
                        </td>

                        <td align="right" widht="10%">Start Range
                        </td>
                        <td align="right" widht="10%">End Range
                        </td>
                        <td align="right" widht="15%">Base Service Fee
                        </td>
                        <td align="right" widht="10%">SP Service Fee
                        </td>
                        <td align="right" widht="10%">RCV Percent
                        </td>
                        <td align="center" width="10%">Edit</td>
                        <td align="center" width="10%">Delete</td>


                    </tr>
                </thead>
                @{
                    int i = 0;
                    if (Model.pricingschedule != null)
                    {
                        foreach (var ps in Model.pricingschedule)
                        {
                                    
        
                    <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">

                        <td width="25%">
                            @ps.LOBDescription
                        </td>

                        <td align="right" widht="10%">
                            @ps.StartRange
                        </td>
                        <td align="right" widht="10%">
                            @ps.EndRange
                        </td>

                        <td align="right" widht="15%">
                            @ps.BaseServiceFee
                        </td>
                        <td align="right" widht="10%">
                            @ps.SPServiceFee
                        </td>
                        <td align="right" widht="10%">
                            @ps.RCVPercent
                        </td>
                        <td align="center" widht="15%"><a href="#" onclick="loadPricingPopup('@ps.CompanyLOBPricingId','@ps.LOBId','@ps.StartRange','@ps.EndRange','@ps.BaseServiceFee','@ps.SPServiceFee','@ps.RCVPercent');" style="border: none; color: black; cursor: pointer;">
                            <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                        </a></td>
                        <td align="center" widht="15%">
                            <a href="@Url.Action("DeletePricingSchedule", "CompanyLOBPricing", new { CompanyId = @ps.CompanyId, CompanyLOBPricingId = @ps.CompanyLOBPricingId })" style="border: none; color: black; cursor: pointer;" onclick="javascript:return confirm('Are you sure you want to delete this record!');">
                                <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                            </a>
                        </td>


                    </tr>
                            i++;
                        }
                    }
                }
            </table>

        </td>
    </tr>
    <tr>
        <td>
            @using (Html.BeginForm("CompaniesList", "InsuranceSetUp", FormMethod.Get))
            {
                <div class="footer" style="text-align: right; padding: 10px;">
                    <input type="submit" class="buttonLightYellow_100" value="Back" />
                </div>
            }
        </td>
    </tr>


</table>
@* }*@
<div id="divNewPricing" style="display: none;" class="EditPopup">
    <div>
        <table style="width: 100%">
            <tr>
                <td class="mainHeader">
                    <div style="float: left">
                        New Pricing Schedule
                    </div>
                    <div style="float: right">
                        <img src="~/Content/Images/Cancel.png" onclick="disablePopupNewPricing();" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <table align="left" cellspacing="2" cellpadding="3" width="100%">
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr style="display: none;">
            <td>
                <input type="hidden" id="hdnCompanyLOBPricingId" name="hdnCompanyLOBPricingId" value="-1" />

            </td>
        </tr>

        <tr>
            <td></td>
            <td colspan="2">

                <div id="divError" class="errorMsg"></div>


            </td>
        </tr>
        <tr>
            <td></td>
            <td valign="top">Line of Business:
            </td>
            <td valign="top">
                @Html.DropDownListFor(model => model.CompanyLOBPricing.LOBId, Model.LineofBusinessList, new { id = "ddlLOB", @style = "width: 180px;" })
            </td>
        </tr>

        <tr>
            <td></td>
            <td valign="top">Start Range:
            </td>
            <td valign="top">
                @Html.TextBoxFor(model => model.CompanyLOBPricing.StartRange, new { id = "txtStartRange", @class = "decimal" })

            </td>
        </tr>
        <tr>
            <td></td>
            <td valign="top">End Range:
            </td>
            <td valign="top">
                @Html.TextBoxFor(model => model.CompanyLOBPricing.EndRange, new { id = "txtEndRange", @class = "decimal" })

            </td>
        </tr>

        <tr>
            <td></td>
            <td valign="top">Base Service Fee:
            </td>
            <td valign="top">

                @Html.TextBoxFor(model => model.CompanyLOBPricing.BaseServiceFee, new { id = "txtBaseServiceFee", @class = "decimal" })

            </td>
        </tr>
        <tr>
            <td></td>
            <td valign="top">SP Service Fee:
            </td>
            <td valign="top">

                @Html.TextBoxFor(model => model.CompanyLOBPricing.SPServiceFee, new { id = "txtSPServiceFee", @class = "decimal" })

            </td>
        </tr>
        <tr>
            <td></td>
            <td valign="top">RCV Percent:
            </td>
            <td valign="top">

                @Html.TextBoxFor(model => model.CompanyLOBPricing.RCVPercent, new { id = "txtRCVPercent", @class = "decimal" })

            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 10px"></td>
        </tr>
        <tr>
            <td colspan="3">
                <table width="100%">
                    <tr style="text-align: right;">
                        <td>


                            <input type="submit" value="Submit" class="buttonLightYellow_100" onclick="validateForm();" />

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 10px"></td>
        </tr>
    </table>

</div>

<div id="divbackgroundPopupNewPricing" onclick="disablePopupNewPricing();" class="backgroundPopup" style="display: none;"></div>
