﻿@model BLL.ViewModels.SPMapSearchViewModel

@{
    Layout = null;
    ViewBag.Title = "Assign Sp";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">

        function AssignSelected() {
            debugger;
            var AsgIdList = "";
            var radioButtons = document.getElementsByName("chkAssg");
            for (var x = 0; x < radioButtons.length; x++) {
                if (radioButtons[x].checked) {
                    AsgIdList += radioButtons[x].value + ",";
                }
            }
            if (AsgIdList.length > 0) {
                AsgIdList = AsgIdList.substring(0, (AsgIdList.length - 1));
            }

            //document.getElementById("ClaimIdLIst").value = AsgIdList;
            //Loop through all the assign selected and paas them to the command
            //alert('Assign selected called' + ' zip selected are' + AsgIdList);
            //document.forms["AssignSpform"].submit();
            var strspid = document.getElementById('hdnSpID').value;
            var strAsgId = document.getElementById('AsgIdList');
            strAsgId.value = AsgIdList
            // alert('assg ids ' + strAsgId.value + ' spid = ' + strspid);

            $.post('@Url.Content("~/SPMapSearch/AssignSp")',
                { strAsglist: AsgIdList, spId: strspid, post: "true" },
                function (result) {
                    if (result) {
                        // alert(result);
                        disableAssignPopup();
                        //disableEditClaimPopup();
                        // hdnIsActive.value = 1; ziplist: AsgIdList, Spid: strspid , SpAssign : true
                    }
                });
            // document.getElementById("AssignSpform").submit();
            disableEditClaimPopup();
            return false;

        }
    </script>
</head>
<body>
    @using (Html.BeginForm("AssignSp", "SPMapSearch", FormMethod.Post, new { @id = "AssignSpform" }))
    {
        <div id="dvdetails"></div>
        <input type="hidden" value="@TempData["SpIid"]"  name="hdnSpID" id="hdnSpID"/>
        <div>
            <input type="hidden" id="AsgIdList" name="AsgIdList" value="" />
            @{
        string strAssgDiv = "<table cellpadding='0'cellspacing='0'  width='100%' >";
        //strAssgDiv += "<tr class='mainHeader'><td></td></tr>";
        ////strAssgDiv += "<tr><td colspan='6' style='text-align:center'>"+ +"</td></tr>";     
        //strAssgDiv += "<tr class='content'> <td> <table>";
        strAssgDiv += "<tr><td colspan='5' align='left' style='padding:5px'> <strong>  You have selected Service provider " + TempData["SpName"].ToString() + " <strong> </td> <td style='padding:5px'>     <div style='width: 100%; text-align: right; '>  <input type='submit' title='Assign selected' onclick='return AssignSelected()' class='buttonYellow_100'  value='Assign'/></div>    </td></tr>";
        strAssgDiv += "<tr class='tableHeader'>";
        strAssgDiv += "<td> </td><td> Claim # </td><td> Policy # </td> <td> Insured Name </td><td> Company Name </td><td> Zip </td></tr>";
        bool Isodd = false;
         BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
         if(TempData["SpIid"]!=null && TempData["SpIid"]!=""){
             Int32 spid=Convert.ToInt32(TempData["SpIid"]);
        foreach (var zipcode in Model.spfilteredZip)
        {
            foreach (var obj in zipcode.SPAssignments)
            {
                if (css.UnQualifiedServiceProviders.Where(x => x.SPId == spid && x.CompanyId == obj.ClaimDetail.Company.CompanyId && x.LOBId == null && x.ClientPOCId == null || ((x.SPId == spid && x.CompanyId == obj.ClaimDetail.Company.CompanyId && x.LOBId == obj.ClaimDetail.LOBId && x.ClientPOCId == null) || (x.SPId == spid && x.CompanyId == obj.ClaimDetail.Company.CompanyId && x.ClientPOCId == obj.ClaimDetail.ClientPointOfContactUserId && x.LOBId == null))).ToList().Count() == 0)
               {
                if (Isodd)
                {
                    strAssgDiv += "<tr class='tableRow'>"; Isodd = false;
                }
                else
                {
                    strAssgDiv += "<tr class='tableRowAlternate'>"; Isodd = true;
                }
                strAssgDiv += "<td> <input type='checkbox' name='chkAssg' id='chk'" + obj.AssignmentId + "' checked ='checked' value='" + obj.AssignmentId + "' /></td>";
                strAssgDiv += "<td>" + obj.ClaimDetail.ClaimNumber + "</td>" + "<td>" + obj.ClaimDetail.PolicyNumber + "</td>" + "<td>" + obj.ClaimDetail.InsuredFirstName + " " + obj.ClaimDetail.InsuredLastName + "</td>" + "<td>" + obj.ClaimDetail.Company.CompanyName + "</td>" + "<td>" + obj.ClaimDetail.PropertyZip + "</td>";
                strAssgDiv += "</tr>";
                }
            }
        }
         }
        strAssgDiv += "<tr><td colspan='6' style='text-align:center'> </td></tr>";
        strAssgDiv += "<tr class='footer'><td colspan='6' ><br /></td></tr>";
        //strAssgDiv += "</table></td></tr>";
        strAssgDiv += "</table>"; 
            }
        </div>
        <script type="text/javascript">
            document.getElementById("dvdetails").innerHTML = $('<div/>').html('@strAssgDiv').text(); 
        </script>
    }
</body>
</html>
