﻿/*site content body padding*/
.page-content-wrapper .page-content {
    /* margin-left: 195px!important; */
    margin-top: 0 !important;
    /* min-height: 600px !important; */
    padding: 4px 5px 4px 4px !important;
}

.Cportletbox {
     background-color: #406E98 !important;
     border: 1px solid #869ab3;
     border-top: 0;
}
.CH4Style {
     background-color: #406E98 !important;
}

.fa-item {
    font-size: 14px;
   padding: 5px 0px 5px 5px !important;
}

body {
    font-size: 13px !important;
}
 .form-horizontal .form-group.form-md-line-input > label {
       font-size: 13px !important;
 }
 .form-group.form-md-line-input .form-control {
          font-size: 13px !important;
  }
 .form-group.form-md-line-input .form-control.input-sm {
       font-size: 13px !important;
  }
 .form-group.form-md-line-input .form-control ~ label {
          font-size: 13px !important;
  }
 .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm ~ label {
  font-size: 13px !important;
 }

 .form-md-checkboxes > label {
  font-size: 13px !important;
  }
 .form-md-radios > label {
   font-size: 13px !important;
 }
 .fa-item {
      font-size: 13px !important;
 }
   .dropdown-submenu > a:after {
    font-size: 13px !important; }
    .static-info .name {
   font-size: 13px !important; }
  .static-info .value {
    font-size: 13px !important;}

  .mt-checkbox {
 font-size: 13px !important; }
  .label {
   font-size: 13px !important; 
 }
   .portlet > .portlet-title > .actions .btn-icon-only.btn-default > i {
            font-size: 13px !important;  }
   .portlet.light > .portlet-title > .caption.caption-md > i {
         font-size: 13px !important;  }
      .portlet.light > .portlet-title > .inputs > .portlet-input .input-icon > i {
       font-size: 13px !important; }

      .table td,.table th {
  font-size: 13px !important; }
      .table thead tr th {
  font-size: 13px !important; }
      .table-advance thead tr th {
font-size: 13px !important;}
      .nav-pills > li > a {
   font-size: 13px !important; }

     .tiles .tile .tile-object > .number {
font-size: 13px !important; }
       .widget-gradient .widget-gradient-body .widget-gradient-body-actions li {
  font-size: 13px !important; }
.m-heading-1.m-title-sm > h3 > i {
font-size: 13px !important; }
.sweet-alert p {
font-size: 13px !important;}

.sweet-alert .btn {
font-size: 13px !important;}
.mt-element-list .list-default.mt-list-container .mt-list-title {
font-size: 13px !important;}
 .mt-element-list .list-simple.mt-list-container ul > .mt-list-item > .list-icon-container {
font-size: 13px !important;}
    .mt-element-list .list-todo.mt-list-container ul > .mt-list-item > .list-todo-item .task-list .task-list-item > .task-content > h4 {
font-size: 13px !important; }

/*control font*/
.form-control {
    font-size: 13px !important;}
