﻿body {
}

   .waiting-box {
        display: block;
        position: fixed; /* fixed position so it doesn't scroll */
        _position: fixed; /* hack for internet explorer 6*/
        z-index: 99; /* on top of everything else */
        top: 0;
        left: 0;
        /*left: 50%;
        top: 50%;*/ /* displayed on the top of the page, just like Gmail's yellow info-box */
        /*background: white;*/
        background-color: black;
        border-radius: 4px;
        /*margin-top: -147px;*/
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }


    .loading {
        font-family: Arial;
        font-size: 10pt;
        /*border: 5px solid #67CFF5;*/
        width: 150px;
        height: 150px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }
