﻿.moveDButton {
    float: right;
    width: 41px;
    height: 25px;
    /* text-indent: -5px; */
    text-decoration: underline;
    text-shadow: blanchedalmond;
    text-transform: capitalize;
    padding-top: 0px;
    margin-top: -4px;
}

.bedgstyle {
    height: 18px;
    background-color: red;
    /* float: right; */
    width: 27px;
    height: 25px;
    /* text-indent: -5px; */
    text-decoration: underline;
    text-shadow: blanchedalmond;
    text-transform: capitalize;
    /* padding-top: 0px; */
    margin-top: -4px;
    font-weight: bold;
    font-size: small;
    /* font-family: inherit; */
    margin-right: 7px;
}

.SHanimate.ng-hide-remove {
    -webkit-animation: 0.5s flipInX ease;
    -moz-animation: 0.5s flipInX ease;
    -ms-animation: 0.5s flipInX ease;
    -o-animation: 0.5s flipInX ease;
    animation: 0.5s flipInX ease;
}

/*.shanimate.ng-hide {
        opacity: 0;
        height: 0px;
    }*/
@@keyframes flipInX {
    0% {
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
    /*50% {
              transform: rotateY(-60deg);
          }*/
    100% {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}


/*Ng Repeat Animation*/
.rotationCls {
    border-color: black;
}
/*.repeatCls {
        line-height:30px;
        list-style:none;
        box-sizing:border-box;
        display: block;
      }*/
.repeatCls.ng-move,
.repeatCls.ng-enter,
.repeatCls.ng-leave {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    transition: all linear 0.5s;
    position: relative;
    display: block;
}

    .repeatCls.ng-leave.ng-leave-active,
    .repeatCls.ng-move,
    .repeatCls.ng-enter {
        opacity: 0;
        max-height: 0;
    }

        .repeatCls.ng-leave,
        .repeatCls.ng-move.ng-move-active,
        .repeatCls.ng-enter.ng-enter-active {
            opacity: 1;
            max-height: 30px;
        }

.SPMaprslt {
    background-position: 100% center;
    -webkit-transition: width 1s ease-in;
    -moz-transition: width 1s ease-in;
    -o-transition: width 1s ease-in;
    transition: width 1s ease-in;
}


/*Star Rating form Rank*/
.rating1, .rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

    .rating:hover .rating-star:hover,
    .rating:hover .rating-star:hover ~ .rating-star,
    .rating-input:checked ~ .rating-star {
        background-position: 0 0;
    }

.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    background: url('Images/star11.png') 0 -25px;
}

.rating-star1,
.rating1:hover .rating-star1 {
    position: relative;
    float: right;
    display: block;
    width: 18px;
    height: 18px;
    background: url(Images/starSelected.png) 0 -18px;
    background-repeat: round;
}
/* Just for the demo */
body {
    margin: 20px;
}

