﻿@model BLL.ViewModels.DocumentsListViewModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/zoomove/1.2.1/zoomove.min.css">

<style>
    /* styles unrelated to zoom */
    * {
        border: 0;
        margin: 0;
        padding: 0;
    }

    p {
        position: absolute;
        top: 3px;
        right: 28px;
        color: #555;
        font: bold 13px/1 sans-serif;
    }

    /* these styles are for the demo, but are not required for the plugin */
    .zoom {
        display: inline-block;
        position: relative;
    }

        /* magnifying glass icon */
        .zoom:after {
            content: '';
            display: block;
            width: 33px;
            height: 33px;
            position: absolute;
            top: 0;
            right: 0;
            background: url(icon.png);
        }

        .zoom img {
            display: block;
        }

            .zoom img::selection {
                background-color: transparent;
            }

    #ex2 img:hover {
        cursor: url(grab.cur), default;
    }

    #ex2 img:active {
        cursor: url(grabbed.cur), default;
    }
</style>
<div class="col-md-5">
    <div class="panel-group accordion scrollable" id="accordion2">
        <div class="panel panel-default" ng-if="DocumentsList.length>0">
            <div class="panel-heading" style="background-color: #67809F; color: white;">
                <h4 class="panel-title">
                    <a class="accordion-toggle" style="cursor: default; pointer-events: none;">
                        Uploaded Documents
                        &nbsp;&nbsp; <span class="badge badge-info"> @Model.DocumentsList.Count()</span>
                    </a>
                </h4>
            </div>
            <div id="collapse_2_1" class="panel-collapse in">
                <div class="panel-body" style="height: 100%;overflow:scroll">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th> Type </th>
                                    <th> Uploaded Date </th>
                                    <th> Title </th>                                    
                                    <th>  </th>
                                    @*<th> Uploaded By </th>*@
                                    @*<th> Status </th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DocumentsList)
                                {
                                    <tr>
                                        <td>
                                            @item.DocumentTypeDesc
                                        </td>
                                        <td> @item.AutoDocumentUploadedDate </td>
                                        <td>
                                            <a onclick='FileOpen(@item.AutoDocumentId)'>@item.Title</a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("DocumentAcess", "AutoAssignment", new { docTypeId = item.AutoDocumentId })"><img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" /></a>
                                         </td>
                                        @*<td> @item.DocumentUploadedByUser </td>*@
                                        @*<td>
                                                <span class="label label-sm label-success"> @item.StatusDesc </span>
                                            </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="panel panel-default" ng-if="DocumentsPreviousList.length>0">
            <div class="panel-heading" style="background-color: #67809F; color: white;">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_2">
                        Previously Uploaded Documents
                        &nbsp;&nbsp; <span class="badge badge-info"> @Model.DocumentsPreviousList.Count() </span>
                    </a>

                </h4>
            </div>
            <div id="collapse_2_2" class="panel-collapse collapse">
                <div class="panel-body" style="height: 350px;overflow:scroll">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th> Type </th>
                                    <th> Uploaded Date </th>
                                    <th> Title </th>
                                    <th>  </th>*@
                                    @*<th> File Name </th>
                                        <th> Uploaded By </th>
                                        <th> Status </th>*@
                                @*</tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DocumentsPreviousList)
                                {
                                    <tr>
                                        <td>
                                            @item.DocumentTypeDesc
                                            <input type="hidden" id="hidfirstdocPrelist" value="@Model.DocumentsList.FirstOrDefault()" />
                                        </td>
                                        <td> @item.AutoDocumentUploadedDate </td>
                                        <td>
                                            <a onclick='FileOpen(@item.AutoDocumentId)'>@item.Title </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("DocumentAcess", "AutoAssignment", new { docTypeId = item.AutoDocumentId })"><img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" /></a>
                                        </td>*@
                                        @*<td>
                                                <a onclick='FileOpen(@item.AutoDocumentId)'><img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" />@item.AutoDocumentPath</a>
                                            </td>*@
                                        @*<td> @item.DocumentUploadedByUser </td>*@
                                        @*<td>
                                                <span class="label label-sm label-success"> @item.StatusDesc </span>
                                            </td>*@
                                    @*</tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="DocumentsRejectedList.length>0">
            <div class="panel-heading" style="background-color: #67809F; color: white;">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_3">
                        Rejected Documents
                        &nbsp;&nbsp; <span class="badge badge-info"> @Model.DocumentsRejectedList.Count() </span>
                    </a>

                </h4>
            </div>
            <div id="collapse_2_3" class="panel-collapse collapse">
                <div class="panel-body" style="height: 350px;overflow:scroll">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th> Type </th>
                                    <th> Uploaded Date </th>
                                    <th> Title </th>
                                    <th> </th>*@
                                    @*<th> Uploaded By </th>*@
                                    @*<th> Status </th>*@
                                @*</tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DocumentsRejectedList)
                                {
                                    <tr>
                                        <td>
                                            @item.DocumentTypeDesc
                                        </td>
                                        <td>@item.AutoDocumentUploadedDate </td>
                                        <td>
                                            <a onclick='FileOpen(@item.AutoDocumentId)'>@item.Title</a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("DocumentAcess", "AutoAssignment", new { docTypeId = item.AutoDocumentId })"><img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" /></a>
                                        </td>*@
                                        @*<td>
                                                <a onclick='FileOpen(@item.AutoDocumentId)'><img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" />@item.AutoDocumentPath</a>
                                            </td>*@
                                        @*<td> @item.DocumentUploadedByUser </td>*@
                                        @*<td>
                                                <span class="label label-sm label-success"> @item.StatusDesc </span>
                                            </td>*@
                                    @*</tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
<style>
    .holds-the-iframe {
        background: url(/Content/Images/waiting1.gif) center center no-repeat;
    }
</style>
<div class="col-md-7" id="divdocview">
    <div id="dicifrmDoc1" class="holds-the-iframe">
        <iframe id="ifrmDoc1" style="width:100%; height:600px;" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
<script>
    $(function () {
        //$('#testjpg').zoom();
        $('#ifrmDoc1').load(function () {
            debugger;
            var $img = $('#ifrmDoc1').contents().find("img");
         
            if ($img) {
              //  var cwidth = $img[0].clientWidth - 100;
              //  var cheight = $img[0].clientHeight - 100;

               $img.css(
                    {
                        "position": "relative", "left": "4%", "top": "3%", "width": "555", "height": "700"
                        //, "width": "92%", "height": "94%"
                    }
                 );
                debugger;
               // var img = $('#ifrmDoc1').contents().find("img");
                //or however you get a handle to the IMG
               
                $img.wrap('<span style="display: inline-block;"></span>')
                .css('display', 'block').parent()
                .zoom();
            }
          
        

        });
    });
</script>