﻿@model BLL.ViewModels.DocumentsListViewModel

<div class="col-md-12" id="divdocview">
    <div>
        <iframe id="ifrmDoc" src="@Model.FirstDocument" style="width:100%; height:800px;" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
    </div>
</div>