﻿@model BLL.ViewModels.XACTAutoClaimsInfoViewModel
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

<div class="form-body" style="padding: 0px;padding-left: 11px;">
    @*<h5 class="form-section">Owner Information</h5>*@
    <div class="row">
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Claim Name :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.OwnerFirstName @Model.claim.OwnerLastName</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign "> Address :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.OwnerAddress1 </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">City :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.OwnerCity </p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">
                    Mobile :
                </label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.OwnerMobilePhone </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">State :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.OwnerState </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Zip :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.OwnerZip </p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">
                    Owner Email :
                </label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.OwnerContactEmail </p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <div class="row">

    </div>
</div>
