﻿@using CSS
@model BLL.ViewModels.XactAutoAssignmentSearchViewModel

@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    ViewBag.Title = "AutoSearch";
}
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />

@*<link href="@Url.Content("~/Content/jquery.editable-select.css")" rel="stylesheet" type="text/css" />*@


<style type="text/css">
    #bgAssignCSSPOC {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/ 
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .AssignCSSPOCPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 400px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }


    #backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }

    #backgroundPropertyInvoicePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 10;
    }

    .EditPropertyInvoicePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 600px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 11;
        font-size: 13px;
    }

    #backgroundInvoiceListPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 8;
    }

    .InvoiceListPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 500px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 9;
        font-size: 13px;
    }

    .backgroundPopupClaimsSearchList {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditPopupClaimsSearchList {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
</style>

<style type="text/css">
    .btncolor {
        border: 2px solid #F7AC0E;
        background-color: #F7AC0E !important;
    }

    .btnradious {
        border-radius: 5px !important;
        /*font-size:14px;*/
    }

    .btnwidth {
        width: 133px !important;
    }

    .btnpaddingbottom {
        padding-bottom: 2px;
    }

    .btnwidth {
        width: 40px;
        height: 40px;
    }
    /*.fontsizefortbl{
        font-size:13px !important;
    }*/

    table.fontsizefortbl td
    {
         font-size:13px !important;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        @if (String.IsNullOrEmpty(Model.autoClaimSearchResult))
{
    @:GetSearchList();
                        }
        @*var x = @Html.Raw(Model.autoClaimSearchResult);
        $("#autoclaimlistView").empty().html(x);*@


    });
    function expandSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "table-row";
        document.getElementById("trSearchFilterFooter").style.display = "table-row";
        document.getElementById("lblSearchExpand").style.display = "none";
        document.getElementById("lblSearchCollapse").style.display = "inline";
    }
    function collapseSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "none";
        document.getElementById("trSearchFilterFooter").style.display = "none";
        document.getElementById("lblSearchExpand").style.display = "inline";
        document.getElementById("lblSearchCollapse").style.display = "none";
    }

    function disableAllPopups() {
        disableEditClaimPopup();
    }

    function loadEditClaimPopup(url) {
        document.getElementById("iframeEditClaim").src = url;
        centerEditClaimPopup();

        $("#backgroundPopup").css({
            "opacity": "0.7"
        });

        $("#backgroundPopup").fadeIn("slow");
        $("#divEditClaim").fadeIn("slow");

        return false;
    }

    function disableEditClaimPopup() {

        $("#backgroundPopup").fadeOut("slow");
        $("#divEditClaim").fadeOut("slow");
        loadSubmit();
        document.forms["formSearch"].submit();

    }

    function loadSubmit() {
        var ProgressImage = document.getElementById("progress_image");
        document.getElementById("progress").style.visibility = "visible";
        setTimeout(function () { ProgressImage.src = ProgressImage.src }, 100);
        return true;
    }

    function centerEditClaimPopup() {

        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divEditClaim").height();
        var popupWidth = $("#divEditClaim").width();
        //centering
        $("#divEditClaim").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }

    function showRecordDetails(rowIndex) {
        document.getElementById('trRecordInfo' + rowIndex).style.display = 'table-row';
        document.getElementById('imgExpand' + rowIndex).style.display = 'none';
        document.getElementById('imgCollapse' + rowIndex).style.display = 'block';
    }

    function hideRecordDetails(rowIndex) {
        document.getElementById('trRecordInfo' + rowIndex).style.display = 'none';
        document.getElementById('imgExpand' + rowIndex).style.display = 'block';
        document.getElementById('imgCollapse' + rowIndex).style.display = 'none';
    }

    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"
        });
    });

    function DateCompare() {
        var from = $("#txtfrom").val();
        var to = $("#txtTo").val();

        if (Date.parse(from) > Date.parse(to)) {
            alert("Invalid Date Range");
            $("#txtTo").val(' ');
            $("#txtfrom").val(' ');
        }
    }

    function toggle() {

        var divfilter = document.getElementById("frmAutosearchfilter");
        if (divfilter.style.display == "block") {
            divfilter.style.display = "none";

        }
        else {
            divfilter.style.display = "block";

        }
    }

    function loadPropertyInvoicePopup(assignmentid, mode, invoiceId) {
        alert('cbkc');
        //$('#divinvoicemessage').empty();
        getPropertyInvoice(assignmentid, mode, invoiceId);
        $('#divPropertyInvoicePopup').modal("show");
    }
    function getPropertyInvoice(assignmentid, mode, invoiceId) {
        $('#divinvoicemessage').empty();
        $("#divFinanceSubTabLoading").show();
        $.ajax({
            url: '@Url.Content("~/AutoAssignmentInvoice/Details")',
            contentType: 'application/json; charset=utf-8',
            data: { assignmentid: assignmentid, fileOpenMode: mode, invoiceId: invoiceId },
            cache: false,
            success: function (result) {
                $('#divPropertyInvoiceDetails').empty().append(result);
                if (mode == 'Read') {
                    $('#tdPropertyInvoicefooter').css('display', 'none');
                }
                else {
                    $('#tdPropertyInvoicefooter').css('display', 'table-cell');
                }
                $('#trBackToInvoiceList').css('display', 'table-row');
                $("#divFinanceSubTabLoading").hide();
            },
            error: function (error) {
            }
        });
        $('#divinvoicemessage').css('display', 'none');
        $('#divinvoicemessage').empty();


    }



    function GetSearchList() {
        debugger;

        var data = $("#formAutoSearch").serialize();
        console.log(data);

        $("#loadinglist").show();
        $.ajax({
            url: '@Url.Action("AutoSearch", "AutoAssignment")'

            , type: 'POST'
            , data: data

        , success: function (result) {
            debugger;

            $("#autoclaimlistView").empty().html(result);
            $("#loadinglist").hide();
        }
        });
    }
    function OrderByclaim(OrderBYclaim) {
        $('#hdnCurrentPage').val('@Model.Pager.Page');
        $('#hdnOrderByValue').val(OrderBYclaim)
        GetSearchList();
    }
    function loadAcceptPopup(url) {

        if (confirm("Are you sure you want to Accept this Claim Record?")) {
            window.location.href = url;
        }

    }

    //Assign Internal Contact Popup
    function btnAssignInternalContact_Click() {
        if (getSelectedAutoAssignmentIds() != '') {
            AssignInternalContactPopup();
        }
        else {
            alert("Select Claim(s) from the list.");
        }
    }

    function ClearInternalPopup() {
        document.getElementById('ddlAssignInternalContact').value = "0";
        //$("#ddlAssignInternalContact").value = "0";
    }

    function ClearInternalContactPopup() {
        ClearInternalPopup();
    }

    function AssignInternalContactPopup() {
        $('#AssignInternalPOC').modal('show');
    }

    function getSelectedAutoAssignmentIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        $('input[name=cbSelect]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
            }
        });
        return selectedCheckBoxesValue;
    }


    function btnAssignInternalContactConfirm_Click() {
        debugger;
        if ($("#ddlAssignInternalContact").val() != "0") {
            //alert("Assign");
            $("#spanAssignInternalContactValidate").hide();
            $.ajax({
                type: "POST"
                , url: '@Url.Action("BulkAssignInternalContact", "AutoAssignment")'
                , data: { AutoAssignmentIds: getSelectedAutoAssignmentIds(), InternalContactID: $("#ddlAssignInternalContact").val() }
            }).done(function (data) {
                if (data == "1") {
                    //disableAssignCSSPOCPopup();
                    //$("#imgClaimDocEmailProgress").hide();
                    //loadSubmit();
                    //document.forms["formSearch"].submit();
                    GetSearchList();
                    alert("Assign Internal Contact Successfully");
                    $('#AssignInternalPOC').modal('hide');
                    ClearInternalPopup();
                }
                else {
                    alert("Error: " + data);
                }
            }).error(function (data) {
                alert("Error: " + data.responseText);
            });
        }
        else {
            //alert("Assign2");
            $('#AssignInternalPOC').modal('show');
            $("#spanAssignInternalContactValidate").show();
        }
    }

   

</script>

@*@Html.Partial("_QuickSearch")*@
@*@using (Html.BeginForm("AutoSearch", "AutoAssignment", FormMethod.Post, new { @id = "formAutoSearch" }))*@
@*, @style = "margin-left: -10px; margin-top: -25px; margin-right: -15px;"*@

@using (Html.BeginForm("AutoSearch", "AutoAssignment", FormMethod.Post, new { @id = "formAutoSearch" }))  
{
    <div>
        @Html.Partial("_AutoAssignmentSearchFilter")
    </div>
    <input type="hidden" id="hdnSearchcriteria" name="hdnSearchcriteria" value="@TempData.Peek("reviewType")" />
    @*<div style="text-align: right;">
        <button type="button" class="btn btn-circle yellow-crusta" style="margin-top: 8px;" onclick="btnAssignInternalContact_Click();">Assign Internal Contact</button>
    </div>*@
    <div style="left: 50%; top: 50%; z-index: 9999; position: absolute; background: white; ">
        <img id="loadinglist" src="@Url.Content("~/Content/Images/spinner.gif")" width="150" height="150" style="left:50%; top:50%; display:none" />
    </div>
    <div id="autoclaimlistView" style="padding-top:50px;">        
        @Html.Raw(Model.autoClaimSearchResult)
    </div>
}

<div id="backgroundPopup" onclick="disableAllPopups();"></div>
<div id="divEditClaim" class="EditPopup" style="width: 1000px;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Edit Auto Claim Assignment</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableEditClaimPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <iframe id="iframeEditClaim" width="1000" height="600" frameborder="0" scrolling="auto"></iframe>
            </td>
        </tr>
    </table>
</div>

<div id="AssignInternalPOC" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#406E98 !important; color:white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Assign Internal Contact</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Internal Contact :</label>
                    <div class="col-md-9">
                        @Html.DropDownList("ddlAssignCSSPOC", Model.CSSPOCList, new { @id = "ddlAssignInternalContact", @class = "form-control" })
                        <input type="hidden" id="hdnAssignmentID" name="hdnAssignmentID" />
                        <span id="spanAssignInternalContactValidate" class="errorMsg" style="display:none; color:red;">Select a Internal Contact.<br /><br /></span>
                    </div>
                </div>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline" onclick="ClearInternalContactPopup();">Cancel</button>
                <button type="button" class="btn green" onclick="btnAssignInternalContactConfirm_Click();">Assign</button>
            </div>
        </div>
    </div>
</div>
<div id="divPropertyInvoicePopup" style="width: 100%;" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width:72%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #67809F; color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><b>Update Invoice</b></h4>
            </div>
            <div class="modal-body">

                <div class="scroller" style="height:500px" data-always-visible="1" data-rail-visible1="1">
                    <div class="col-md-12 col-sm-12">
                        @using (@Html.BeginForm("SubmitPropertyInvoice", "AutoAssignmentInvoice", new { returnToPage = "ManageStatus" }, FormMethod.Post, new { @id = "frmInvoice" }))
                        {
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="mainHeader">

                                        <table width="100%">
                                            <tr>
                                                <td align="left"><b>Property Invoice</b></td>
                                                <td align="right">
                                                    <div style="width: 100%; text-align: right;">
                                                        <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePropertyInvoicePopup()" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="width: 100%">
                                            <tr>
                                                <td colspan="2">
                                                    <img id="imgProcessingPropertyInvoicedetails" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="loading" />
                                                    <div id="divPropertyInvoiceDetails" style="overflow-y: scroll; height: 500px;">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="footer" style="text-align: right">
                                        <table>
                                            <tr>
                                                <td nowrap="nowrap" width="100%" align="right">
                                                    <div id="divPISubmitProcessing" style="display: none; width: 100%">
                                                        <img src=@Url.Content("~/Content/Images/progress01.gif") height="16" width="16" style="vertical-align: middle;padding-right:5px;" alt="loading" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <input id="btnPISubmit" type="button" class="buttonLightYellow_100" value="Submit" onclick="btnPISubmit_Click()" />
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="SPBasicDetails">
   
</div>

<div id="UserInfo">

</div>
@*View Doc Popup*@
<style>
    .imagestyle {
        position: relative;
        height: 100%;
        width: 100%;
    }
</style>
<div id="divViewDoc" class="modal fade" tabindex="-1" aria-hidden="true" style="display:none;">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header modalHead" style="background-color: #406E98 !important; color: white !important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Document Viewer</h4>
            </div>
            @*src="{{FilePathURL}}"*@
            @*<iframe ng-src="{{FilePathURL}}" id="ifrmDocView" width="500px" height="900px" marginwidth="1" marginheight="1" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>*@
            <div class="modal-body">
                <iframe id="ifrmDocViewer" style="width:100%; height:800px;" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#ifrmDocViewer').load(function () {
            $('#ifrmDocViewer').contents().find("img").css(
                {
                    "position": "relative", "left": "4%", "top": "3%", "width": "92%", "height": "94%"
                }
            );

        });

      
    });
</script>
@section PageLevelScript{
<script src="~/Scripts/jquery.zoom.js"></script>

 <script>
    

     $(document).ready(function () {
         ddlInsuranceCompany
         $("#ddlInsuranceCompany").select2();
     });

        function ShowUserInfo(UserID)
        {
            debugger;
            $.ajax({                
                url: '@Url.Action("UserDetails", "AutoAssignment")/',
                data: { UserID: UserID },
                success: function (data) {
                    debugger;
                    $("#UserInfo").empty().append(data);
                    //$('#imgUserRightsLoading').hide();
                    $('#UserDetailModal').modal("show")
                    //$("#SPdetail").show;
                }
            });
        }

    function ShowSPDetails(SPID) {
        debugger;
        $.ajax({
                @*url: '@Url.Action("SPDetails")',*@
                url: '@Url.Action("SPDetails", "ServiceProviders")/',
                data: { SPID: SPID },
                // type: 'POST',
                //cache: false,
                success: function (data) {
                    debugger;
                    $("#SPBasicDetails").empty().append(data);
                    //$('#imgUserRightsLoading').hide();
                    $('#SPDetailModal').modal("show")
                    //$("#SPdetail").show;
                }
            });
            debugger;
            //$('#SPDetailModal').modal("show")
            //$("#SPdetail").show;

        }
    </script>

}
