﻿@{
    @*bool displaySuccessMsg = true;
    if (TempData["UseMasterPageLayout"] != null)
    {
        if (!Convert.ToBoolean(TempData["UseMasterPageLayout"]))
        {
            displaySuccessMsg = false;
            Layout = null;
            @:<script type="text/javascript">
            @:parent.disableEditClaimPopup();
            @:</script>
                      TempData["UseMasterPageLayout"] = null;
        }
    }*@
    ViewBag.Title = "AutoSubmitSuccess";
    bool displaySuccessMsg = true;
}

@if (displaySuccessMsg)
{
    <div>
        <h2>Save Success</h2>
        Auto Assignment details save successfully.
    </div>
    <br />
    <br />
    <div> 
        <a class="buttonYellow_100" href="@Url.Action("AutoSearch", "AutoAssignment")" style="text-decoration:none; text-align:center;vertical-align:middle;border: none; color: black; cursor: pointer;float:left;">
            Claims List
        </a>
    </div>
}

