﻿@model BLL.ViewModels.XACTAutoClaimsInfoViewModel
@using CSS
@using System.Xml
@using System.Configuration;
@using System.Data.SqlClient;
@using System.Data;
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();

    Int16 serviveid = Convert.ToInt16(Model.AutoAssignment.ServiceId ?? 0);
}

@{
    ViewBag.Title = "Details";
}

<style type="text/css">
    .FormControlMargin {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .FormControlTextAlign {
        text-align: left !important;
        font-weight: bold;
    }

    .tabbable-custom > .nav-tabs > li.active > a {
        border-top: none !important;
        font-weight: bold !important;
        border-radius: 0;
    }

    .page-content-wrapper .page-content {
        margin-left: 195px;
        margin-top: 0;
        min-height: 600px;
        padding-left: 5px !important;
        padding-top: 5px !important;
        padding-right: 15px !important;
    }

    .page-bar {
        padding: 0;
        background-color: #fff;
        margin-bottom: 6px !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
    }

    .InvoiceStatusrow {
        margin-bottom: 8px !important;
    }

    .table td, .table th, .portlet.light > .portlet-title > .caption > .caption-subject, .nav-tabs > li > a, .Commonfont {
        font-size: 13px !important;
    }

    .portletpanel {
        margin: 0px !important;
        margin-left: 4px !important;
        margin-right: 4px !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        padding-left: 8px !important;
    }

    .portletBkColor {
        background-color: #f5f8fd !important;
        border-color: #8bb4e7 !important;
    }

    #loading {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -9em; /*set to a negative number 1/2 of your height*/
        margin-left: -15em; /*set to a negative number 1/2 of your width*/
    }

</style>
<div style="left: 50%; top: 50%; z-index: 9999; position: absolute; background: white; ">
    <img id="loadinglist" src="@Url.Content("~/Content/Images/spinner.gif")" width="150" height="150" style="left:50%; top:50%; display:none" />
</div>

<div id="divViewDoc" class="modal fade" tabindex="-1" aria-hidden="true" style="display:none;">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            @*src="{{filepathurl}}"
                @*<iframe ng-src="{{filepathurl}}" id="ifrmdocview" width="500px" height="900px" marginwidth="1" marginheight="1" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>*@
            <iframe id="ifrmdocview" style="width:100%; height:750px;" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>

<div class="page-bar" style="background-color: #67809F;margin-right: -13px;">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home" style="color:white"></i>
            <a href="~/AutoAssignment/AutoSearch" style="color:white">Home</a>
            <i class="fa fa-angle-right" style="color:white"></i>
        </li>
        <li>
            <span style="color:white">Claim Details</span>
        </li>
    </ul>
    <div style="float:right;padding-top: 4px; padding-right: 5px;">
        @{
            Int32 serviceID = Model.AutoAssignment.ServiceId.HasValue ? Model.AutoAssignment.ServiceId.Value : 0;
        }
        <input type="button" onclick="ClaimInfoPrint(@Model.claim.ClaimId,@serviceID)" class="btn blue btn-sm" value="Print" />

    </div>
</div>
<div class="row">
    <div class="col-md-10" style=" padding-right: 8px;">
        <div class="note note-info" style="min-height:50px;padding: 10px 0px 0px 0px;">
            @*<style>
                    .col-md-3,.col-md-6 {
                        padding-left: 2px !important;
                       padding-right: 2px !important;
                    }
                </style>*@
            <div class="col-md-3">
                <label class="control-label col-md-6 FormControlTextAlign" style="margin-top: 0px !important">Claim #:</label>
                <div class="col-md-6" style="color:red;">
                    @Model.claim.ClaimNumber
                </div>

            </div>
            <div class="col-md-3">

                <label class="control-label col-md-6 FormControlTextAlign" style="margin-top: 0px !important">Claim Name:</label>
                <div class="col-md-6" style="color:red;">
                    @Model.claim.InsuredFirstName
                </div>


            </div>
            <div class="col-md-4">
                <label class="control-label col-md-6 FormControlTextAlign" style="padding-right: 2px;margin-top: 0px !important">Service Provider:</label>
                <div class="col-md-6" style="color:red">
                    @{
                        @*if (Model.AutoAssignment != null)
                        {
                            BLL.User user = null;

                            if (Model.AutoAssignment.OAUserID.HasValue)
                            {
                                user = css.Users.Find(Model.AutoAssignment.OAUserID.Value);
                                BLL.Company Company = css.Companies.Find(user.HeadCompanyId);
                                if (Company != null)
                                {
                                    @Company.CompanyName
                                }
                            }

                        }*@
                        ///////////////////////////////////////////////////////////////////////////////////////////////
                        if ( Model.SPID != 0)
                        {
                            BLL.User User = css.Users.Find(Model.SPID);
                            if (User.HeadCompanyId != null)
                            {
                                BLL.Company Company = css.Companies.Find(User.HeadCompanyId);
                                <div style="display: inline">
                                    <a onclick="ShowSPDetails(@Model.SPID);">@Company.CompanyName</a>
                                </div>
                            }
                        }
                        ///////////////////////////////////////////////////////////////////////////////////////////////



                    }
                </div>

            </div>
	    
            <div class="col-md-2 dropdown">
                  @*@if(Model.AutoAssignment.ServiceId == 13)
                    {
                     if (Model.claim.VantageDocsExists == true)
                        {
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="border: none; color: black; cursor: pointer; float: left;">
                                <img alt="Vantage" src="@Url.Content("~/Content/Images/venndvantage-logo.png")" title="Vantage" width="15" height="15" style="border: none; vertical-align: bottom; margin-left:15px" />
                            </a>
                                       
                            List<BLL.VantageSPDoc> VantageSP = new List<BLL.VantageSPDoc>();
                            VantageSP = css.VantageSPDocs.Where(x => x.ClaimNumber == Model.claim.ClaimNumber).ToList();
                                       
                            <ul class="dropdown-menu dropdown-menu-default">
                                           
                            @foreach (BLL.VantageSPDoc row in VantageSP)
                            {

                                <li>
                                    @{
                                            String vantage_claim = "https://web.venndvantage.net/web/venndapi?claimname=" + Uri.EscapeDataString(Model.claim.ClaimNumber.ToString()) + "&key=" + row.APIKey;     
                                    }
                                               
                                    <a target="_blank" href="@vantage_claim">
                                        @row.CompanyName
                                    </a>
                                </li>

                            }                                            
                            </ul>
                        }
                     }*@
                @*@if (Model.AutoAssignment.ServiceId == 13)
                {
                    if (Model.claim.VantageDocsExists == true)
                    {
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="border: none; color: black; cursor: pointer; float: left;">
                            <img alt="Vantage" src="@Url.Content("~/Content/Images/venndvantage-logo.png")" title="Vantage" width="15" height="15" style="border: none; vertical-align: bottom; margin-left:15px" />
                        </a>
                        List<BLL.VantageClaim> VantageSP = new List<BLL.VantageClaim>();
                        VantageSP = css.VantageClaims.Where(x => x.ClaimNumber == Model.claim.ClaimNumber).ToList();

                        <ul class="dropdown-menu dropdown-menu-default">
                            @foreach (BLL.VantageClaim row in VantageSP)
                            {
                                BLL.Company comp = css.Companies.Find(row.SPCompanyId);
                                <li>
                                    @{
                                String vantage_claim = "https://web.venndvantage.net/web/venndapi?claimname=" + Uri.EscapeDataString(Model.claim.ClaimNumber.ToString()) + "&key=" + comp.APIKey;
                                    }
                                    <a target="_blank" href="@vantage_claim">
                                        @comp.CompanyName
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                }*@ 
                @*@if (Model.AutoAssignment.ServiceId == 13)
                {*@
                    @*@if (Model.claim.VantageDocsExists == true)
                    {
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="border: none; color: black; cursor: pointer; float: left;">
                            <img alt="Vantage" src="@Url.Content("~/Content/Images/venndvantage-logo.png")" title="Vantage" width="15" height="15" style="border: none; vertical-align: bottom; margin-left:15px" />
                        </a>
                        List<BLL.VantageClaim> VantageSP = new List<BLL.VantageClaim>();
                        VantageSP = css.VantageClaims.Where(x => x.ClaimNumber == Model.claim.ClaimNumber).ToList();

                        <ul class="dropdown-menu dropdown-menu-default">
                            @foreach (BLL.VantageClaim row in VantageSP)
                            {
                                BLL.VVTenant Tenant = css.VVTenants.Find(row.TenantId);
                                <li>
                                    @{
                                        String vantage_claim = "https://web.venndvantage.net/web/venndapi?claimname=" + Uri.EscapeDataString(Model.claim.ClaimNumber.ToString()) + "&key=" + Tenant.APIKey;
                                    }
                                    <a target="_blank" href="@vantage_claim">
                                        @Tenant.CompanyName
                                    </a>
                                </li>
                            }
                        </ul>
                    }*@
                @*}*@
    
                @if (Model.claim.VantageDocsExists == true)
                {
                    List<BLL.VantageClaim> VantageSP = new List<BLL.VantageClaim>();
                    VantageSP = css.VantageClaims.Where(x => x.ClaimNumber == Model.claim.ClaimNumber).ToList();
                    if (VantageSP.Count() > 1)
                    {
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="border: none; color: black; cursor: pointer; float: left;">
                            <img alt="Vantage" src="@Url.Content("~/Content/Images/venndvantage-logo.png")" title="Vantage" width="15" height="15" style="border: none; vertical-align: bottom; margin-left:15px" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            @foreach (BLL.VantageClaim row in VantageSP)
                            {
                                BLL.VVTenant Tenant = css.VVTenants.Find(row.TenantId);
                                <li>
                                    @{
                                String vantage_claim = "https://web.venndvantage.net/web/venndapi?claimname=" + Uri.EscapeDataString(Model.claim.ClaimNumber.ToString()) + "&key=" + Tenant.APIKey;
                                    }
                                    <a target="_blank" href="@vantage_claim">
                                        @Tenant.CompanyName
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        BLL.VVTenant Tenant = css.VVTenants.Find(VantageSP.First().TenantId);
                        String vantage_claim = "https://web.venndvantage.net/web/venndapi?claimname=" + Uri.EscapeDataString(Model.claim.ClaimNumber.ToString()) + "&key=" + Tenant.APIKey;
                        <a target="_blank" href="@vantage_claim" style="border: none; color: black; cursor: pointer; float: left;">
                            <img alt="Vantage" src="@Url.Content("~/Content/Images/venndvantage-logo.png")" title="Vantage" width="15" height="15" style="border: none; vertical-align: bottom; margin-left:15px" />
                        </a>
                    }
                }
    


                @{
                    if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3)
                    {
                        //if (Model.AutoAssignment.ServiceId != 9)
                        //{
                            <a href="@Url.Action("AutoAssignment", "AutoAssignment", new { claimid = @Model.claim.ClaimId })" style="border: none;cursor: pointer;float:left;margin-top: 6px;">
                                <img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: middle; margin-left: 15px;
                               margin-top: -10px;" />
                            </a>
                        @*}
                        else
                        {
                            <a href="@Url.Action("PropertyAssignment", "PropertyAssignment", new { claimid = @Model.claim.ClaimId })" style="border: none;cursor: pointer;float:left;margin-top: 6px;">
                                <img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: middle; margin-left: 15px;
                               margin-top: -10px;" />
                            </a>
                        }*@
                    }
                }
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @*@if (serviceID != 9 && serviceID !=11 && serviceID != 12)
                {*@
                    @if (!Model.IsNuGenClaim)
                    {
                        <input type="button" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("AutoSearch", "AutoAssignment", new { reviewType = TempData.Peek("reviewType") })'" />
                    }
                    else
                    {
                        <input type="button" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("InvoiceAutoSearch", "AutoAssignment", new { reviewType = TempData.Peek("reviewType") })'" />
                    }
                @*}
                else
                {
                    <input type="button" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("PropertySearch", "AutoAssignment", new { reviewType = TempData.Peek("reviewType") })'" />
                }*@

            </div>

        </div>
        <div class="portlet-body form Commonfont" style="margin-top: -12px;">
            <!-- BEGIN FORM-->
            <style>
                li > .active {
                    background-color: #f5f8fd !important;
                }
            </style>
            <div class="form-horizontal">

                <div id="tabPanel" class="portlet box blue-hoki" style="border: 1px solid #869ab3;">
                    <div class="portlet-body">
                        <div class="tabbable-custom nav-justified">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a href="#tab_1_1_1" data-toggle="tab" onclick="showView('1');"> Claim Info </a>
                                </li>
                                @*<li>
                                        <a href="#tab_1_1_2" data-toggle="tab" onclick="showView('2');"> Owner Info </a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_1_3" data-toggle="tab" onclick="showView('3');"> Vehicle Info </a>
                                    </li>*@
                                <li>
                                    <a href="#tab_1_1_4" data-toggle="tab" onclick="GetAutoNoteList('4');"> Notes </a>
                                </li>
                                @*<li>
                                        <a href="#tab_1_1_5" data-toggle="tab" onclick="showView('5');"> Tasks/Diary </a>
                                    </li>*@
                                <li>
                                    <a href="#tab_1_1_6" data-toggle="tab" onclick="showView('6');"> Documents </a>
                                </li>
                                <li>
                                    <a href="#tab_1_1_7" data-toggle="tab" onclick="showView('7');"> Financial </a>
                                    <input type="hidden" id="statusId1" name="statusId1" />
                                    <input type="hidden" id="statusId" name="statusId" />
                                </li>
                            </ul>
                            <div class="tab-content" style="padding-bottom: 0px;">
                                <div class="tab-pane active" id="tab_1_1_1" style="margin-left: -9px;
                                                                               margin-right: -9px;
                                                                               margin-top: -9px;">
                                    @Html.Partial("_AutoClaimInfo")
                                </div>
                                @*<div class="tab-pane" id="tab_1_1_2">
                                        @Html.Partial("_OwnerInfo")
                                    </div>
                                    <div class="tab-pane" id="tab_1_1_3">
                                        @Html.Partial("_VehicleInfo")
                                    </div>*@
                                <div class="tab-pane" id="tab_1_1_4">
                                    @Html.Partial("_AutoNotes")
                                </div>
                                <div class="tab-pane" id="tab_1_1_5">
                                    Coming Soon..
                                </div>
                                <div class="tab-pane" id="tab_1_1_6">
                                    @Html.Partial("_AutoClaimDocuments")
                                </div>
                                <div class="tab-pane" id="tab_1_1_7">
                                    @Html.Partial("_AutoAssignmentDetailsFinancials")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @*<div class="col-md-12">
                                    <label class="control-label col-md-6 FormControlTextAlign" style="margin-top: 0px !important">Special Instructions:</label>
                                    @Model.AutoAssignment.AutoAssignmentDescription
                                </div>*@
                            <div id="mainblock" class="portlet light bordered portletpanel" style="margin: 0px; padding-bottom: 0px;">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-blue-hoki"></i>
                                        <span class="caption-subject font-blue-hoki bold uppercase">Special Instructions:</span>
                                    </div>
                                    <div class="tools">
                                        <a href="" class="collapse" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form" style="display: block;margin-top: -14px;">
                                    <div class="form-horizontal" role="form">
                                        <p style="justify-content:center">
                                            @if (String.IsNullOrEmpty(Model.AutoAssignment.AutoAssignmentDescription))
                                            {
                                                <div class="alert alert-info">
                                                    <strong>Info!</strong> No Special Instructions Found!
                                                </div>
                                            }
                                            else
                                            {
                                                <text>@Model.AutoAssignment.AutoAssignmentDescription</text>
                                            }
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <br />

                <div>
                    @if (!Model.IsNuGenClaim)
                    {
                            <input type="button" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("AutoSearch", "AutoAssignment", new { reviewType = TempData.Peek("reviewType")})'" />
                    }
                    else
                    { 
                        <input type="button" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("InvoiceAutoSearch", "AutoAssignment", new { reviewType = TempData.Peek("reviewType")})'" />
                    }
                </div>
            </div>
            <!-- END FORM-->
        </div>
    </div>
    <div class="col-md-2" style="padding-left:4px;
    border: 1px solid #869ab3;
    border-radius: 5px !important;">

        <div class="mt-element-list" style="margin-left: -4px;margin-right: -15px;font-size:13px">
            <div class="mt-list-head list-simple font-white bg-red">
                <div class="list-head-title-container">
                    @*<div class="list-date">Nov 8, 2015</div>*@
                    <h5 class="list-title" style="padding-right: 0px;"><b>STATUS INFORMATION</b></h5>
                </div>
            </div>
            <input type="hidden" id="DisableStatus" name="DisableStatus" value= @Model.DisableFileStatus /> @*INPSW-27*@
            <div class="mt-list-container list-simple" style="padding:0px">
                <ul>
                    <li class="mt-list-item" style="padding: 5px 15px 5px 15px;background-color: #f5f8fd !important;">

                        <table cellpadding="15" style="width:100%">
                            <tr>
                                <td style="text-align:left;width:50%">
                                    <b>Status:</b>
                                </td>
                                <td style="width:50%;text-align: right;">
                                    @{

                                        IQueryable<BLL.AssignmentStatu> statusQuery = css.AssignmentStatus.Where(x => x.StatusId == Model.AutoAssignment.FileStatus);
                                        if (statusQuery.ToList().Count != 0)
                                        {
                                            BLL.AssignmentStatu status = statusQuery.First();

                                            <b>@status.StatusDescription</b>
                                        }
                                    }
                                </td>
                            </tr>
                        </table>


                    </li>
                    <li class="mt-list-item" style="padding: 5px 15px 5px 15px;">
                        <table style="width:100%">
                            <tr>
                                <td style="text-align:left;width:50%">
                                    <b>Assignment Received:</b>
                                </td>
                                <td style="width:50%;text-align: right;">
                                    @{
                                        if (Model.AutoAssignment != null)
                                        {
                                            if (Model.AutoAssignment.dateRecieved.HasValue)
                                            {
                                                @Model.AutoAssignment.dateRecieved.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        </table>

                    </li>
                    <li class="mt-list-item" style="padding: 5px 15px 5px 15px;background-color: #f5f8fd !important;">
                        <table style="width:100%">
                            <tr>
                                <td style="text-align:left;width:50%">
                                    <b>Assignment Accepted:</b>
                                </td>
                                <td style="width:50%;text-align: right;">
                                    @{
                                        bool displayUpdateDateAccepted = true;

                                        if (Model.AutoAssignment != null)
                                        {
                                            if (!(Model.AutoAssignment.FileStatus == 1 || Model.AutoAssignment.FileStatus == 2))
                                            {
                                                displayUpdateDateAccepted = false;

                                            }
                                            if (!(loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2))
                                            {
                                                displayUpdateDateAccepted = false;
                                            }
                                            if (displayUpdateDateAccepted)
                                            {
                                                @:<a href="javascript:;" onclick="loadAssignmentManageStatusPopup(3)">Update</a>
                                            }
                                            else
                                            {
                                                if (Model.AutoAssignment.DateAccepted.HasValue)
                                                {
                                                    @Model.AutoAssignment.DateAccepted.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                                                }
                                            }
                                        }

                                    }
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="mt-list-item" style="padding: 5px 15px 5px 15px;">
                        <table style="width:100%">
                            <tr>
                                <td style="text-align:left;width:50%">
                                    <b>Customer Contacted:</b>
                                </td>
                                <td style="width:50%;text-align: right;">
                                    @{
                                        bool displayUpdateContactDate = true;
                                        if (Model.AutoAssignment != null)
                                        {
                                            if (!(Model.AutoAssignment.FileStatus == 1 || Model.AutoAssignment.FileStatus == 2 || Model.AutoAssignment.FileStatus == 3))
                                            {
                                                displayUpdateContactDate = false;

                                            }
                                            if (!(loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2))
                                            {
                                                displayUpdateContactDate = false;
                                            }
                                            if (displayUpdateContactDate)
                                            {
                                                @:<a href="javascript:;" onclick="loadAssignmentManageStatusPopup(4)">Update</a>
                                             }
                                            else
                                            {
                                                if (Model.AutoAssignment.ContactDate.HasValue)
                                                {
                                                    @Model.AutoAssignment.ContactDate.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                                                }
                                            }
                                        }

                                    }
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="mt-list-item" style="padding: 5px 15px 5px 15px;background-color: #f5f8fd !important;">
                        <table style="width:100%">
                            <tr>
                                <td style="text-align:left;width:50%">
                                    <b>Site Inspected:</b>
                                </td>
                                <td style="width:50%;text-align: right;">
                                    @{
                                        bool displayUpdateSiteInspectionDate = true;
                                        if (Model.AutoAssignment != null)
                                        {
                                            if (!(Model.AutoAssignment.FileStatus == 1 || Model.AutoAssignment.FileStatus == 2 || Model.AutoAssignment.FileStatus == 3 || Model.AutoAssignment.FileStatus == 4))
                                            {
                                                displayUpdateSiteInspectionDate = false;

                                            }

                                            if (!(loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2))
                                            {
                                                displayUpdateSiteInspectionDate = false;
                                            }
                                            if (displayUpdateSiteInspectionDate)
                                            {
                                                @:<a href="javascript:;" onclick="loadAssignmentManageStatusPopup(5)">Update</a>
                                            }
                                            else
                                            {
                                                if (Model.AutoAssignment.InspectionDate.HasValue)
                                                {
                                                    @Model.AutoAssignment.InspectionDate.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                                                }
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="mt-list-item" style="padding: 5px 15px 5px 15px;">
                        <table style="width:100%">
                            <tr>
                                <td style="text-align:left;width:50%">
                                    <b>Estimate Returned:</b>
                                </td>
                                <td style="width:50%;text-align: right;">
                                    @{
                                        bool displayEstimateReturned = true;
                                        if (Model.AutoAssignment != null)
                                        {
                                            if (!(Model.AutoAssignment.FileStatus == 1 || Model.AutoAssignment.FileStatus == 2 || Model.AutoAssignment.FileStatus == 3 || Model.AutoAssignment.FileStatus == 4 || Model.AutoAssignment.FileStatus == 5 || Model.AutoAssignment.FileStatus == 7 || Model.AutoAssignment.FileStatus == 8 || Model.AutoAssignment.FileStatus == 16))
                                            {
                                                displayEstimateReturned = false;

                                            }

                                            if (!(loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)1)))
                                            {
                                                displayEstimateReturned = false;
                                            }
                                            if (displayEstimateReturned)
                                            {
                                                @:<a href="javascript:;" onclick="loadAssignmentManageStatusPopup(6,@Model.claim.ClaimId)">Update</a>
                                            }
                                            else
                                            {
                                                if (Model.AutoAssignment.FinalDateReturned.HasValue)
                                                {
                                                    @Model.AutoAssignment.FinalDateReturned.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                                                }
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="mt-list-item" style="padding: 5px 15px 5px 15px;background-color: #f5f8fd !important;">
                        <table style="width:100%">
                            <tr>
                                <td style="text-align:left;width:50%">
                                    <b>Estimate Approved:</b>
                                </td>
                                <td style="width:50%;text-align: right;">
                                    @{

                                        bool displayUpdateDateApproved = true;
                                        if (Model.AutoAssignment != null)
                                        {
                                            if (!(Model.AutoAssignment.FileStatus == 1 || Model.AutoAssignment.FileStatus == 2 || Model.AutoAssignment.FileStatus == 3 || Model.AutoAssignment.FileStatus == 4 || Model.AutoAssignment.FileStatus == 5 || Model.AutoAssignment.FileStatus == 6 || Model.AutoAssignment.FileStatus == 16))
                                            {
                                                displayUpdateDateApproved = false;
                                            }
                                            if (!(loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2))
                                            {
                                                displayUpdateDateApproved = false;
                                            }
                                            if ((loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)4)) && Model.AutoAssignment.IsAccepted == true)
                                            {
                                                displayUpdateDateApproved = true;
                                            }
                                            if (displayUpdateDateApproved)
                                            {
                                                @:<a href="javascript:;" onclick="loadManageStatusForEstimateApproved(7,@Model.claim.ClaimId)">Update</a>
                                                @*@:<a href="javascript:;" onclick="updateAutofilestatus()">Update</a>*@


                                            }
                                            else
                                            {
                                                if (Model.AutoAssignment.FinalDateApprovedRejected.HasValue && Model.AutoAssignment.FileStatus != 8)
                                                {
                                                    @Model.AutoAssignment.FinalDateApprovedRejected.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                                                }
                                            }
                                        }

                                    }
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="mt-list-item" style="padding: 5px 15px 5px 15px;">
                        <table style="width:100%">
                            <tr>
                                <td style="text-align:left;width:50%">
                                    <b>Estimate Rejected:</b>
                                </td>
                                <td style="width:50%;text-align: right;">
                                    @{
                                        bool displayUpdateDateUnApproved = true;
                                        if (Model.AutoAssignment != null)
                                        {
                                            if (!(Model.AutoAssignment.FileStatus == 1 || Model.AutoAssignment.FileStatus == 2 || Model.AutoAssignment.FileStatus == 3 || Model.AutoAssignment.FileStatus == 4 || Model.AutoAssignment.FileStatus == 5 || Model.AutoAssignment.FileStatus == 6 || Model.AutoAssignment.FileStatus == 16))
                                            {
                                                displayUpdateDateUnApproved = false;

                                            }
                                            if (!(loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2))
                                            {
                                                displayUpdateDateUnApproved = false;
                                            }
                                            if ((loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)4)) && Model.AutoAssignment.IsAccepted == true)
                                            {
                                                displayUpdateDateUnApproved = true;
                                            }

                                            if (displayUpdateDateUnApproved)
                                            {
                                                @:<a href="javascript:;" onclick="loadAssignmentRejectStatusPopup(8)">Update</a>
                                              }
                                            else
                                            {
                                                if (Model.AutoAssignment.FinalDateApprovedRejected.HasValue && Model.AutoAssignment.FileStatus == 8)
                                                {
                                                    @Model.AutoAssignment.FinalDateApprovedRejected.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                                                }
                                            }
                                        }

                                    }
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="mt-list-item" style="padding: 5px 15px 5px 15px;background-color: #f5f8fd !important;">
                        <table style="width:100%">
                            <tr>
                                <td style="text-align:left;width:50%">
                                    <b>Estimate Hold:</b>
                                </td>
                                <td style="width:50%;text-align: right;">
                                    @{
                                        bool displayUpdateDateHold = true;
                                        if (Model.AutoAssignment != null)
                                        {

                                            if (!(loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2))
                                            {
                                                displayUpdateDateHold = false;
                                            }
                                            if ((loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)4)) && Model.AutoAssignment.IsAccepted == true)
                                            {
                                                displayUpdateDateHold = true;
                                            }
                                            if (!(Model.AutoAssignment.FileStatus == 1 || Model.AutoAssignment.FileStatus == 2 || Model.AutoAssignment.FileStatus == 3 || Model.AutoAssignment.FileStatus == 4 || Model.AutoAssignment.FileStatus == 5 || Model.AutoAssignment.FileStatus == 6 || Model.AutoAssignment.FileStatus == 15))
                                            {
                                                displayUpdateDateHold = false;

                                            }
                                            if (displayUpdateDateHold)
                                            {
                                                @:<a href="javascript:;" onclick="loadAssignmentManageStatusPopup(16)">Update</a>
                                            }
                                            else
                                            {
                                                if (Model.AutoAssignment.DateEstimateHold.HasValue && Model.AutoAssignment.FileStatus == 16)
                                                {
                                                    @Model.AutoAssignment.DateEstimateHold.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                                                }
                                            }
                                        }

                                    }
                                </td>
                            </tr>
                        </table>
                    </li>
                    
                    @*INPSW- 27 Start*@
                    <li class="mt-list-item" style="padding: 5px 15px 5px 15px;">
                        <table style="width:100%">
                            <tr>
                                <td style="text-align:left;width:50%">
                                    <b>Closed/Canceled :</b>
                                </td>
                                <td style="width:50%;text-align: right;">
                                    @{
                                        if (Model.AutoAssignment != null)
                                        {
                                            if (Model.AutoAssignment.AutoAssignmentCompletedDate.HasValue)
                                            {
                                                @Model.AutoAssignment.AutoAssignmentCompletedDate.Value.ToString("MM/dd/yyyy hh:mm:ss tt");
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        </table>

                    </li>
                    @*INPSW -27 End*@
                    @{

                        if (loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 2)
                        {
                           
                            <li class="mt-list-item" style="padding: 5px 15px 5px 15px;">
                                <table style="width:100%">
                                    <tr>
                                        <td colspan="2" style="text-align:left;width:50%">
                                            <b>Change Status:</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;width:50%">
                                            @Html.DropDownListFor(model => model.pa.FileStatus, Model.FileStatusList, new { id = "ddlFileStatus", @class = "form-control" })
                                        </td>
                                        <td style="width:50%;text-align: right;">
                                            <a onclick="updateAutofilestatus()" style="line-height: 36px;">Update</a>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>


    </div>
</div>



<div id="divApproveAssignmentStatus" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #67809F; color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><b>Update Auto Assignment Status</b></h4>
            </div>
            <div class="modal-body">

                <div class="scroller" style="height:400px" data-always-visible="1" data-rail-visible1="1">
                    <div class="col-md-12 col-sm-12">
                        @using (Html.BeginForm("AssignmentStatusUpdate", "AutoAssignment", FormMethod.Post, new { @id = "frmAssignmentApproveStatusUpdate" }))
                        {
                            <table width="100%" cellpadding="8" cellspacing="0" class="table table-hover">

                                <tr>
                                    <td class="content" align="center">
                                        <input type="hidden" id="claimId1" name="claimId" value="@Model.claim.ClaimId" />
                                        <input type="hidden" id="assignmentId1" name="assignmentId" value="@Model.AutoAssignment.AutoAssignmentId" />
                                        <input type="hidden" id="statusId1" name="statusId" />
                                        <input type="hidden" id="statusId" name="statusId" />
                                        <table width="100%" cellspacing="15" cellpadding="15">
                                            <tr id="trRetainSP1" style="display: none;">
                                                <td colspan="2">
                                                    @Html.CheckBox("RetainSP1", true, new { @id = "cbRetainSP1" }) Retain Service Provider after Reopen<br />
                                                    <br />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" width="100%">
                                                    <table cellpadding="10" border="1" style="width: 96%;margin-left:20px;border-style:solid;margin-top:10px;">

                                                        <tr>


                                                            <td width="100" style="text-align:center">
                                                                <b>#DaysToContact</b>
                                                            </td>


                                                            <td width="100" style="text-align:center">
                                                                <b>#DaysToInspect</b>
                                                            </td>
                                                            <td width="100" style="text-align:center">
                                                                <b>#DaysToUpload</b>
                                                            </td>
                                                            <td width="100" style="text-align:center">
                                                                <b># of times file rejected</b>

                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td style="text-align:center">@Model.DaysToContact</td>
                                                            <td style="text-align:center">@Model.DaysToInspect</td>
                                                            <td style="text-align:center">@Model.DaysToUpload</td>
                                                            <td style="text-align:center">@Model.RejectionCount</td>

                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr valign="top" id="trrankradiolist">
                                                <td colspan="2" width="100%">
                                                    <table cellspacing="7" style="width: 96%;margin-left:20px;border:none;margin-top:18px;" cellpadding="10" class="table table-hover">
                                                        <tr>
                                                            <td colspan="2" style="padding-left:45px" align="left">
                                                                <b>Please rank SP for overall satisfaction on this particular claim</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="100%" colspan="2" style="padding-left:42px" align="left">

                                                                @{
                            var check = "";
                            if (Model.CheckApprovedDate == 1)
                            {
                                check = "disabled=disabled";
                            }

                                                                }
                                                                <input id="rb1" type="radio" name="examinerRank" value="1" checked="@(Model.Rank == 1 ? true : false)" @check />1&nbsp;
                                                                <input id="rb2" type="radio" name="examinerRank" value="2" checked="@(Model.Rank == 2 ? true : false)" @check />2&nbsp;
                                                                <input id="rb3" type="radio" name="examinerRank" value="3" checked="@(Model.Rank == 3 ? true : false)" @check />3&nbsp;
                                                                <input id="rb4" type="radio" name="examinerRank" value="4" checked="@(Model.Rank == 4 ? true : false)" @check />4&nbsp;
                                                                <input id="rb5" type="radio" name="examinerRank" value="5" checked="@(Model.Rank == 5 ? true : false)" @check />5
                                                            </td>
                                                        </tr>
                                                        <tr valign="top">

                                                            <td align="center"><b>Notes </b></td>
                                                            <td width="100%">
                                                                <textarea id="statusChangeapproveNote" name="statusChangeapproveNote" style="width: 98%" rows="5">@Model.ApprovalComment</textarea>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="footer" style="text-align: right">
                                        <input type="button" value="Update" class="btn btn-primary" onclick="SubmitAssignmentStatus('@Model.AutoInvoiceList.Count');" />
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div id="divInvoiceConfirmPopup" style="width: 100%;" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width:50%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #67809F; color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><b>Confirmation</b></h4>
            </div>
            <div class="modal-body">

                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="col-md-12 col-sm-12">
                        <table width="100%" cellpadding="0" cellspacing="0">

                            <tr>
                                <td class="content" align="center" style=" font-size: large; padding: 14px;">
                                    An Invoice already exists. Do you want to create a supplement Invoice?
                                </td>
                            </tr>
                            <tr>
                                <td class="footer" style="text-align: center">
                                    <input type="button" value="Yes" class="btn Green" onclick="btnYesConfirm_Click()" />&nbsp;&nbsp;
                                    <input type="button" value="No" class="btn red" onclick="btnNoConfirm_Click()" />&nbsp;&nbsp;
                                    @* <input type="button" value="Cancel" class="buttonYellow_100" onclick="btnCancelConfirm_Click()" />*@
                                    <img id="imgClaimDocEmailProgress" height="16" width="16" style="vertical-align:middle;display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" />


                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="divPropertyInvoicePopup" style="width: 100%;" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width:78%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #67809F; color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><b>Invoice</b></h4>
            </div>
            <div class="modal-body">

                <div class="scroller" style="height:700px" data-always-visible="1" data-rail-visible1="1">
                    <div class="col-md-12 col-sm-12">
                        @using (@Html.BeginForm("SubmitPropertyInvoice", "AutoAssignmentInvoice", new { returnToPage = "ManageStatus" }, FormMethod.Post, new { @id = "frmInvoice" }))
                        {
                            <table width="100%" cellpadding="0" cellspacing="0">

                                <tr>
                                    <td>
                                        <table style="width: 100%">
                                            <tr>
                                                <td colspan="2">
                                                    <img id="imgProcessingPropertyInvoicedetails" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="loading" />
                                                    <div id="divPropertyInvoiceDetails">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="footer" style="text-align: right">
                                        <table>
                                            <tr>
                                                <td nowrap="nowrap" width="100%" align="right">
                                                    <div id="divPISubmitProcessing" style="display: none; width: 100%">
                                                        <img src=@Url.Content("~/Content/Images/progress01.gif") height="16" width="16" style="vertical-align: middle;padding-right:5px;" alt="loading" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <input id="btnPISubmit" type="button" class="btn btn-primary" value="Submit" onclick="btnPISubmit_Click()" />
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="divAssignmentManageStatus" style="width: 100%;" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width:78%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #67809F; color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><b>Update Auto Assignment Status</b></h4>
            </div>
            <div class="modal-body">

                <div class="scroller" style="height:200px" data-always-visible="1" data-rail-visible1="1">
                    <div class="col-md-12 col-sm-12">
                        @using (Html.BeginForm("AssignmentStatusUpdate", "AutoAssignment", FormMethod.Post, new { @id = "frmAssignmentRejectStatusUpdate" }))
                        {
                            <table width="100%" cellpadding="0" cellspacing="0">

                                <tr>
                                    <td class="content" align="center">
                                        <input type="hidden" id="claimId" name="claimId" value="@Model.claim.ClaimId" />
                                        <input type="hidden" id="assignmentId" name="assignmentId" value="@Model.AutoAssignment.AutoAssignmentId" />
                                        <input type="hidden" id="statusId" name="statusId" />
                                        <table width="100%">
                                            <tr id="trRetainSP" style="display: none;">
                                                <td colspan="2">
                                                    @Html.CheckBox("RetainSP", true, new { @id = "cbRetainSP" }) Retain Service Provider after Reopen<br />
                                                    <br />
                                                </td>
                                            </tr>

                                            <tr valign="top">
                                                <td align="right">Notes:</td>
                                                <td width="100%">
                                                    <textarea id="statusChangeNote" name="statusChangeNote" style="width: 98%" rows="5"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="footer" style="text-align: right">
                                        <input type="button" value="Update" class="btn btn-primary" onclick="SubmitAssignmentStatus();" />
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<div id="divAssignmentRejectStatus" style="width: 100%;" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width:78%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #67809F; color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><b>Update Auto Assignment Status</b></h4>
            </div>
            <div class="modal-body">

                <div class="scroller" style="height:200px" data-always-visible="1" data-rail-visible1="1">
                    <div class="col-md-12 col-sm-12">
                        @using (Html.BeginForm("AssignmentStatusUpdate", "AutoAssignment", FormMethod.Post, new { @id = "frmAssignmentStatusUpdate" }))
                        {
                            <table width="100%" cellpadding="0" cellspacing="0">

                                <tr>
                                    <td class="content" align="center">
                                        <input type="hidden" id="claimId2" name="claimId" value="@Model.claim.ClaimId" />
                                        <input type="hidden" id="assignmentId2" name="assignmentId" value="@Model.AutoAssignment.AutoAssignmentId" />
                                        <input type="hidden" id="statusId2" name="statusId" />
                                        <table width="100%">
                                            <tr id="trRetainSP2" style="display: none;">
                                                <td colspan="2">
                                                    @Html.CheckBox("RetainSP2", true, new { @id = "cbRetainSP2" }) Retain Service Provider after Reopen<br />
                                                    <br />
                                                </td>
                                            </tr>

                                            <tr>
                                                <td width="18%" align="left">
                                                    Count in Rejection Metrics:
                                                </td>
                                                <td align="left">
                                                    @*  @{
                                                            var check1="";
                                                            if(Model.RejectionMark==true)
                                                            {
                                                                check1 = "checked=true";
                                                            }




                                                        }*@
                                                    <input type="radio" id="rbreject1" name="RejectionMark" value="true" checked="@(Model.RejectionMark == true ? true : false)" />Yes
                                                    <input type="radio" id="rbreject2" name="RejectionMark" value="false" checked="@(Model.RejectionMark == false? true : false)" />No
                                                </td>
                                            </tr>
                                            @*<tr valign="top" id="trrankradiolist" style="display:none">
                                                    <td>Rank:</td>
                                                    <td>
                                                        <input id="rb1" type="radio" name="examinerRank" value="1" checked="@(Model.Rank == 1 ? true : false)" />1&nbsp;
                                                        <input id="rb2" type="radio" name="examinerRank" value="2"  checked="@(Model.Rank == 2 ? true : false)"  />2&nbsp;
                                                        <input id="rb3" type="radio" name="examinerRank" value="3"  checked="@(Model.Rank == 3 ? true : false)"  />3&nbsp;
                                                        <input id="rb4" type="radio" name="examinerRank" value="4"  checked="@(Model.Rank == 4 ? true : false)"  />4&nbsp;
                                                        <input id="rb5" type="radio" name="examinerRank" value="5"  checked="@(Model.Rank == 5 ? true : false)"  />5
                                                    </td>
                                                </tr>*@
                                            <tr valign="top">
                                                <td align="right">Notes:</td>
                                                <td width="100%">
                                                    <textarea id="statusChangeNote2" name="statusChangeNote" style="width: 98%" rows="5"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="footer" style="text-align: right">
                                        <input type="button" value="Update" class="btn btn-primary" onclick="SubmitAssignmentStatus();" />
                                    </td>
                                </tr>
                            </table>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div id="divTimestampUpdatePopup" style="width: 100%;" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width:78%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #67809F; color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><b>Timestamp Update</b></h4>
            </div>
            <div class="modal-body">

                <div class="scroller" style="height:200px" data-always-visible="1" data-rail-visible1="1">
                    <div class="col-md-12 col-sm-12">
                        @using (Html.BeginForm("AssigTimestampUpdate", "AutoAssignment", FormMethod.Post, new { @id = "frmAssigTimestampUpdate" }))
                        {



                            <table width="100%" cellpadding="0" cellspacing="0">

                                <tr>
                                    <td class="content" align="center">
                                        <input type="hidden" id="hdnUpdateFieldCode" name="updateFieldCode" />
                                        <table width="100%">
                                            <tr valign="top">
                                                <td align="right">Notes:</td>
                                                <td width="100%">
                                                    <textarea id="txtTimestampUpdateNote" name="TimestampUpdateNote" style="width: 98%" rows="5"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="footer" style="text-align: right">
                                        <img id="imgTimestampUpdateProcessing" src=@Url.Content("~/Content/Images/progress01.gif") height="16" width="16" style="display:none;vertical-align: middle;padding-right:5px;" alt="Updating" />
                                        <input type="button" value="Update" class="btn btn-primary" onclick="btnTimestampUpdate_Submit()" />
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="NewAutoNote" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #67809F; color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><b>New Note</b></h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="col-md-12 col-sm-12">
                        <div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Subject :</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="txtSubject">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Comment :</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="3" id="txtComment"></textarea>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:0px;">
                                <label class="col-md-3 control-label">Private :</label>
                                <div class="col-md-9">
                                    <div class="mt-checkbox-inline">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="chkPrivate" value="option1">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:0px;">
                                <label class="col-md-3 control-label">Is Billable :</label>
                                <div class="col-md-9">
                                    <div class="mt-checkbox-inline">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="chkBillable" value="option1">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">No.of Hours :</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="txtHours">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                <button type="button" class="btn green" onclick="AutoNoteInsert();">Save changes</button>
            </div>
        </div>
    </div>
</div>
<style>
    .holds-the-iframe {
        background: url(/Content/Images/waiting1.gif) center center no-repeat;
    }
</style>
<div id="ClaimInfoContainer" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width:70%">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #67809F; color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><b>Claim Info</b></h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:600px" data-always-visible="1" data-rail-visible1="1">
                    <div class="holds-the-iframe">
                        <iframe src="" id="claimInfopdf" name="claimInfopdf" style="height:600px; width:100%;"></iframe>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Ok</button>

            </div>
        </div>
    </div>
</div>
<div id="idContainer"></div>
<div id="SPBasicDetails">

</div>

@section PageLevelScript{

    <script src="~/Views/AutoAssignment/AutoClaimDocsController.js"></script>
    <script>

        //inpsw -27 start
        $(document).ready(function () {
            DisableStatus();
            
        });
        function DisableStatus() {
            debugger;
            var statusid = $('#DisableStatus').val();
            var statusidlist = new Array();
            statusidlist = statusid.split(",");
            //  $('#ddlFileStatus option').removeAttr('disabled')
            for (a in statusidlist) {
                $('#ddlFileStatus option[value=' + statusidlist[a] + ']').attr('disabled', 'disabled');
            }
        }
        //Inpsw-27 end
        function ShowSPDetails(SPID) {
            debugger;
            $.ajax({
                url: '@Url.Action("SPDetails", "ServiceProviders")/',
                data: { SPID: SPID },
                success: function (data) {
                    debugger;
                    $("#SPBasicDetails").empty().append(data);
                    $('#SPDetailModal').modal("show")
                }
            });
        }

        function onLoadclaimInfoPrint() {

            //idContainer.innerHTML =
            //    '<iframe src=' + url + ' id="pdf" name="pdf"' +
            //        'height="800" width="200" onload="onLoadclaimInfoPrint()"></iframe>';
            window.frames["pdf"].window.focus();
            window.frames["pdf"].window.print();

        }

        function ClaimInfoPrint(claimID, ServiceId) {
            $('#claimInfopdf').attr('src', '');
            var url = '@Url.Action("PrintAssignment", "AutoAssignment")' + "?AssignmentClaimID=" + claimID + "&ServiceType=" + ServiceId;

            $('#claimInfopdf').attr('src', url);
            $('#ClaimInfoContainer').modal('show');

        }
        $(function () {

            $('#ifrmDocView').load(function () {
                $('#ifrmDocView').contents().find("img").css(
                    {
                        "position": "relative", "left": "4%", "top": "3%", "width": "92%", "height": "94%"
                    }
                        );

            });
        });


        function showView(id) {
            debugger;
            element = document.getElementById('tab_1_1_1');
            element.style.display = 'none';
            //element = document.getElementById('tab_1_1_2');
            //element.style.display = 'none';
            //element = document.getElementById('tab_1_1_3');
            //element.style.display = 'none';
            element = document.getElementById('tab_1_1_4');
            element.style.display = 'none';
            element = document.getElementById('tab_1_1_6');
            element.style.display = 'none';
            element = document.getElementById('tab_1_1_7');
            element.style.display = 'none';
            if (id == 1) {
                element = document.getElementById('tab_1_1_1');
                element.style.display = 'block';
            }
                //else if (id == 2) {
                //    element = document.getElementById('tab_1_1_2');
                //    element.style.display = 'block';
                //}
                //else if (id == 3) {
                //    element = document.getElementById('tab_1_1_3');
                //    element.style.display = 'block';
                //}
            else if (id == 4) {
                element = document.getElementById('tab_1_1_4');
                element.style.display = 'block';
            }
            else if (id == 6) {
                element = document.getElementById('tab_1_1_6');
                element.style.display = 'block';
            }
            else if (id == 7) {
                element = document.getElementById('tab_1_1_7');
                element.style.display = 'block';
                LoadFinanceTab(); //load Financial Tab
            }
        }

        function GetAutoNoteList(tabid) {
            debugger;

            $.ajax({
                url: '@Url.Action("AutoNotesGetList", "AutoAssignment")',
                contentType: 'application/json; charset=utf-8',
                data: { claimid: '@Model.AutoAssignment.ClaimId' },
                cache: false,
                success: function (result) {
                    $('#tab_1_1_4').empty().append(result);
                    //$("#divNotesListLoading").hide();
                    //alert("Success");
                },
                error: function (error) {
                    alert("Error");
                }
            });
            showView(tabid);

        }
        //var data = $("#formAutoSearch").serialize();
        //console.log(data);

        //$.ajax({
        //    url: '@Url.Action("AutoSearch", "AutoAssignment")'

        //    , type: 'POST'
        //    , data: data

        //, success: function (result) {
        //    debugger;

        //    $("#autoclaimlistView").empty().html(result);
        //}
        //});

        function btnPISubmit_Click() {
            $('#btnPISubmit').attr('disabled', 'disabled');
            $('#divPISubmitProcessing').show();
            UnformatField('Details');
        }
        function btnYesConfirm_Click() {

            $("#divInvoiceConfirmPopup").modal("hide");
            loadAssignmentStatusPropertyInvoicePopup();
        }
        function btnNoConfirm_Click() {

            $("#divInvoiceConfirmPopup").modal("hide");

        }
        function btnCancelConfirm_Click() {
            $("#bgAssignCSSPOC").fadeOut("slow");
            $("#divAssignCSSPOCPopup").fadeOut("slow");
        }
        function AutoNoteInsert() {


            //var data = $("#AutoDetails").serialize();
            //console.log(data);


            $.getJSON('@Url.Content("~/AutoAssignment/AutoNotesInsert")',
               {
                   assignmentid: '@Model.AutoAssignment.AutoAssignmentId',
                   Subject: $("#txtSubject").val(),
                   Comment: $("#txtComment").val(),
                   Isprivate: ($("#chkPrivate").attr('checked') == 'checked' ? 'true' : 'false'),
                   isBillable: ($("#chkBillable").attr('checked') == 'checked' ? 'true' : 'false'),
                   noOfHours: $("#txtHours").val()
               },
                    function (data) {

                        //$("#imgNewNoteSubmitProgress").hide();
                        if (data == 1) {
                            $("#NewAutoNote").modal('hide');
                            GetAutoNoteList('4');
                        }
                    });
            //showView('4')
        }

        function updateAutofilestatus() {
            debugger;

            var FileStatus = $('#ddlFileStatus').val();
            //var FileStatus = 7;
            $("#trRetainSP").hide();//required when a file is being reopened.
            if (FileStatus > 0) {
                if (FileStatus == 7) {
                    document.getElementById('statusId1').value = 7;
                    document.getElementById('statusId').value = 7;
                    //loadManageStatusForEstimateApproved(FileStatus, '@Model.claim.ClaimId');
                    $('#divApproveAssignmentStatus').modal('show');
                    $('#statusChangeapproveNote').val('');
                }
                else if (FileStatus == 11) {
                    //Display Retain SP option only if the current Assignment has been assigned to an SP
                    @if (Model.AutoAssignment.OAUserID.HasValue)
                    {
                        @:$("#trRetainSP").show();
                                                                                                                                                                                                                                                                                                                                            }
                    loadAssignmentManageStatusPopup(FileStatus);
                }
                else {
                    loadAssignmentManageStatusPopup(FileStatus);
                }
            }
        }

        function loadAssignmentManageStatusPopup(newStatusId) {

            debugger;

            document.getElementById('statusId').value = newStatusId;

            $("#divAssignmentManageStatus").modal("show");

        }

        function loadTimestampUpdatePopup(UpdateFieldCode) {
            $('#hdnUpdateFieldCode').val(UpdateFieldCode);

            $('#divTimestampUpdatePopup').fadeIn("slow");
        }

        function loadAssignmentRejectStatusPopup(newStatusId) {

            document.getElementById('statusId').value = newStatusId;

            document.getElementById('statusId2').value = newStatusId;

            $("#divAssignmentRejectStatus").modal("show");

        }

        function loadManageStatusForEstimateApproved(newStatusId, pClaimId) {
            if ('@Model.AutoAssignment.CSSQAAgentUserId.HasValue' == 'True') {
                @*$.post("@Url.Content("~/PropertyAssignment/IsCoverageReserveOrExpenseAvailable")",
                                { claimId: pClaimId },
                                function (data) {
                                    if (data == 1) {
                                        $('#divApproveAssignmentStatus').modal('show');
                                    }
                                    else {
                                        //alert('Kindly add Coverage Reserve and Expense Reserve Amounts before changing the status.');
                                        $('#divApproveAssignmentStatus').modal('show');
                                    }

                                });*@

                document.getElementById('statusId').value = newStatusId;
                $('#divApproveAssignmentStatus').modal('show');
            }
            else {
                alert('Kindly assign a QA Agent before changing the status.');
            }

        }

        function SubmitAssignmentStatus() {
            debugger;       
            if ($('#statusId').val() == 7) 
            {

                setAssignmentApproveStatus();
            }
            else if ($('#statusId').val() == 8)
            {
                setAssignmentRejectStatus();
                AssignmentDetailsBasicUpdate();
            }
            else
            {
                setAssignmentStatus();
                AssignmentDetailsBasicUpdate();
            }
           
            //comment to hide invoice popup screen
            @*var ServiceId = @serviveid;
            
            if ($('#statusId').val() == 7) {

                //if an invoice already exists prompt the user
                if(ServiceId==13){
                    setAssignmentApproveStatus();
                }
                else{
                    if ('@Model.AutoInvoiceList.Count' != '0') {
                        $("#divInvoiceConfirmPopup").modal("show");
                    }
                    else {
                        // loadAssignmentStatusPropertyInvoicePopup();
                        loadAssignmentStatusPropertyInvoicePopup();
                    }
                }
            }
            else if ($('#statusId').val() == 8) {
                setAssignmentRejectStatus();
                AssignmentDetailsBasicUpdate();
            }
            else {
                setAssignmentStatus();
               AssignmentDetailsBasicUpdate();
            }*@


            //============================
            @*if ($('#statusId').val() == 7) {
                                    disableAssignmentManageStatusPopup1();
                                    //if an invoice already exists prompt the user
                                    if ('@Model.AutoInvoiceList.Count' != '0') {

                                        // loadAssignConfirmationPopup();





                                    }
                                    else {
                                        loadAssignmentStatusPropertyInvoicePopup();
                                    }
                                }
                                else if ($('#statusId').val() == 8) {
                                    setAssignmentRejectStatus();
                                    AssignmentDetailsBasicUpdate();
                                }
                                else {
                                    setAssignmentStatus();
                                    AssignmentDetailsBasicUpdate();
                                }*@
        }

        function setAssignmentRejectStatus() {
            //make use of .ajax and set it as sync


            debugger;
            var retainSP = $("#cbRetainSP2").is(":checked");

            var SPRank = $('input:radio[name=examinerRank]:checked').val();

            var RejectionMark = $('input:radio[name=RejectionMark]:checked').val();
            var a = $('#statusId2').val();
            var b = $('#statusChangeNote2').val();
            var c = $('#statusId').val();
            //alert($('#statusChangeapproveNote').val());
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/AutoAssignment/AssignmentStatusUpdate")',
              //data: { assignmentid: '@Model.AutoAssignment.AutoAssignmentId', claimid: '@Model.claim.ClaimId', statusid: $('#statusId2').val(), statusChangeNote: $('#statusChangeapproveNote2').val(), retainSP: retainSP, SPRank: SPRank, RejectionMark: RejectionMark },
                data: { assignmentid: '@Model.AutoAssignment.AutoAssignmentId', claimid: '@Model.claim.ClaimId', statusid: $('#statusId2').val(), statusChangeNote: $('#statusChangeNote2').val(), retainSP: retainSP, SPRank: SPRank, RejectionMark: RejectionMark },
                success: function (data) {
                    //disableAssignmentManageStatusPopup2();

                    $("#divAssignmentManageStatus").modal("hide");

                    $('#statusChangeNote2').val('');
                    if (data == 1) {
                        AssignmentDetailsBasicUpdate();
                    }
                    else {
                        alert('Error: ' + data);
                    }
                },
                async: false
            });

        }

        function setAssignmentStatus() {
            debugger;
            //make use of .ajax and set it as sync
            var retainSP = $("#cbRetainSP").is(":checked");
            //var SPRank = $('input:radio[name=examinerRank]:checked').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/AutoAssignment/AssignmentStatusUpdate")',
                data: { assignmentid: '@Model.AutoAssignment.AutoAssignmentId', claimid: '@Model.claim.ClaimId', statusid: $('#statusId').val(), statusChangeNote: $('#statusChangeNote').val(), retainSP: retainSP, SPRank: 0, RejectionMark: 'true' },
                success: function (data) {
                    $("#divAssignmentManageStatus").modal("hide");
                    $('#statusChangeNote').val('');
                    if (data == 1) {
                        AssignmentDetailsBasicUpdate();
                    }
                    else {
                        alert('Error: ' + data);
                    }
                },
                async: false
            });

        }
        function AssignmentDetailsBasicUpdate() {

            @*$.post('@Url.Content("~/PropertyAssignment/AssignmentDetailsBasic")',
                                                       {
                                                           claimid: '@Model.claim.ClaimId'
                                                       },
                                                         function (data) {
                                                             $('#divDetails').empty().append(data);
                                                         });*@
            location.reload();
        }
        function loadAssignmentStatusPropertyInvoicePopup() {
            RCVDetail();
            //centerPropertyInvoicePopup();
            //$('#backgroundPropertyInvoicePopup').css({
            //    "opacity": "0.7"
            //});
            //$('#backgroundPropertyInvoicePopup').fadeIn("slow");
            $('#divApproveAssignmentStatus').modal("hide");

            $('#divPropertyInvoicePopup').modal("show");
        }

        function RCVDetail() {
            debugger;
            $('#divPropertyInvoiceDetails').empty();
            $("#imgProcessingPropertyInvoicedetails").show();
            $.post('@Url.Content("~/AutoAssignmentInvoice/Details")',
                       {
                           assignmentid: '@Model.AutoAssignment.AutoAssignmentId', fileOpenMode: 'Edit', invoiceId: '-1'
                       },
                         function (data) {
                             $('#divPropertyInvoiceDetails').append(data);
                             $("#imgProcessingPropertyInvoicedetails").hide();
                         });

        }

        function setAssignmentApproveStatus() {
            //make use of .ajax and set it as sync


            debugger;
            var retainSP = $("#cbRetainSP1").is(":checked");

            var SPRank = $('input:radio[name=examinerRank]:checked').val();
            //  var RejectionMark = $('input:radio[name=RejectionMark]:checked').val();
            //alert($('#statusChangeapproveNote').val());
            $.ajax({
                type: 'POST',
                @*url: '@Url.Content("~/AutoAssignment/AssignmentStatusUpdate")'*@
                url: '@Url.Action("AssignmentStatusUpdate","AutoAssignment")',
                data: { assignmentId: '@Model.AutoAssignment.AutoAssignmentId', claimId: '@Model.claim.ClaimId', statusId: 7, statusChangeNote: $('#statusChangeapproveNote').val(), retainSP: retainSP, SPRank: SPRank, RejectionMark: 'true' },
                async: false,
                success: function (data) {                  
                $('#statusChangeapproveNote').val('');
                    if (data == 1) {
                        $('#divApproveAssignmentStatus').modal('hide');
                       // $('#divPropertyInvoicePopup').modal("hide");
                    }
                    else {
                        alert('Error: ' + data);
                    }
                }

            });
          
            location.reload();
        }
        function btnTimestampUpdate_Submit() {
            $('#imgTimestampUpdateProcessing').show();
            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("AssigTimestampUpdate", "PropertyAssignment")',
                    data: { claimId: '@Model.claim.ClaimId', assignmentId: '@Model.AutoAssignment.AutoAssignmentId', updateFieldCode: $('#hdnUpdateFieldCode').val(), note: $('#txtTimestampUpdateNote').val() },
                    success: function (data) {
                        if (data == '1') {
                            $('#imgTimestampUpdateProcessing').hide();
                            AssignmentDetailsBasicUpdate();
                        }
                        else {
                            //alert(data);
                        }
                    }
                });
        }


        function btnMarkNoteBillable_Click() {
            debugger;
            if (getSelectedNoteIds() != '') {
                if (confirm("Mark the selected Note(s) as Billable?") == true) {
                    $("#imgNotesHistoryProcessing").show();
                    $.ajax({
                        type: "POST"
                        , url: '@Url.Action("BulkMarkAutoNotesBillable", "AutoAssignment")'
                    , data: { noteIds: getSelectedNoteIds() }
                    }).done(function (result) {
                        if (result.Code == "1") {
                            $("#imgNotesHistoryProcessing").hide();
                            //Refresh Notes List
                            GetAutoNoteList('4');
                        }
                        else {

                        }
                    }).error(function (data) {
                    });

                }
            }
            else {
                alert("Select Note(s) from the list.");
            }
        }
        function getSelectedNoteIds() {
            debugger;
            var selectedCheckBoxesValue = '';
            $('input[name=cbSelect]:checked').each(function (i, selected) {
                if (selectedCheckBoxesValue.length == 0) {
                    selectedCheckBoxesValue += $(selected).val();
                }
                else {
                    selectedCheckBoxesValue += ',' + $(selected).val();
                }
            });
            return selectedCheckBoxesValue;
        }
    </script>
}
@*$.post('@Url.Content("~/AutoAssignment/AutoNotesInsert")',
    {
        assignmentid: '@Model.AutoAssignment.AutoAssignmentId',
        Subject: $("#txtSubject").val(),
        Comment: $("#txtComment").val(),
        Isprivate: ($("#chkPrivate").attr('checked') == 'checked' ? 'true' : 'false'),
        isBillable: ($("#chkBillable").attr('checked') == 'checked' ? 'true' : 'false'),
        noOfHours: $("#txtHours").val()
    },*@
