﻿
@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .btncolor {
        border: 2px solid #F7AC0E;
        background-color : #F7AC0E !important;           
    }

    .btnradious{
        border-radius: 5px !important;
        /*font-size:14px;*/
                   }
    .btnwidth {
        width: 133px !important;
    }

    .btnpaddingbottom{
        padding-bottom:2px;        
    }

    .btnwidth{
        width:40px;
        height:40px;
    }
</style>
@Html.Partial("_QuickSearch")
@*<div class="portlet light tasks-widget bordered">
    <div class="portlet-body util-btn-margin-bottom-5">
        <div class="row">

            <div class="col-md-3 col-sm-3 col-xs-1">
                <div style="padding-left: 0px;" class="col-md-5">
                    <label class="form-control-static"> Quick Search:</label>
                    <a>Advanced</a>
                </div>
                <div style="padding-left: 5px;" class="col-md-4">
                    <input type="text" class="form-control " style="width:75px; height:28px;margin:3px 0px; font-size: 12px;" placeholder="Name">
                    <input type="text" class="form-control " style="width:75px; height:28px;margin:3px 0px; font-size: 12px;" placeholder="Claim #">
                </div>
                <div style="padding-left: 5px;" class="col-md-3">
                    <input type="button" class="btn default btnradious " value="Refresh" style="height:60px;">
                </div>
            </div>
            <div class="col-md-9" style="text-align:left;">                
                <input type="button" onclick="location.href = 'AutoAssignment';" class="btn yellow  btnradious btncolor" value="Create Assignment" style="height:60px; margin-left:5px;">
                <input type="button" class="btn yellow  btnradious btncolor" value="Dispatch Service Provider" style="height:60px; margin-left:5px;">
                <input type="button" class="btn yellow  btnradious btncolor" value="Import Claims" style="height:60px; margin-left:5px;">
                <input type="button" class="btn yellow  btnradious btncolor" value="Batch Payments" style="height:60px; margin-left:5px;">
                <input type="button" class="btn default btnradious " value="Assign CSS POC" style="height:60px; margin-left:5px;">
           
            </div>

        </div>
    </div>
</div>*@
