﻿@model DateTime
@{
    ViewBag.Title = "Payroll Summary Report";
}
<style>
    .palet {
        background-color: #222222;
        padding: 10px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        border-radius: 12px;
        border: 2px solid #222222;
    }

    #reportViewer .portlet-body {
        background-color: white;
    }

    .holds-the-iframe {
        background: url(/Content/Images/waiting1.gif) center center no-repeat;
    }
</style>
<div class="palet" id="reportViewer">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title" style="background-color:#406E98 !important">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Payroll Summary Report
                    </div>
                    <div class="tools">
                     
                    </div>
                </div>
                <div id="rptViewerBody" class="portlet-body">
                    Payroll for the selected Service Providers have been processed.<br />
                    <iframe src="@Url.Content("~/Reports/ProcessedPayrollSummaryReport.aspx?PayrollDate="+Model)" frameborder="0" width="100%" height="1350px"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


