/** main **/
.single-spy #main {
    height: 100%;
}
#dot-nav{
	right: 10px;
	top: 50%;
	margin-top: -50px;
	height: auto;
	z-index: 999;
}

#dot-nav ul {
	list-style: none;
	margin:0;
	padding: 0;
}
#dot-nav li {
	position: relative;
	background-color: #bdc3c7;
	border:3px solid #fff;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
	padding: 5px;
	height: 10px;
	margin: 10px 10px 0px 0px;
	width: 10px;
	vertical-align:bottom;
}
#dot-nav li.active, #dot-nav li:hover {
	background-color: #FF2D2D;
}

#dot-nav a {
	outline: 0;
	vertical-align:top;
	margin: 0px 0px 0px 25px;
	position: relative;
	top:-5px;
}
.single-spy .awesome-tooltip + .tooltip > .tooltip-inner {
    background-color: #FF2D2D;
    color: #f5f5f5;
    border: 1px solid #FF2D2D;
}
.single-spy .awesome-tooltip + .tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #FF2D2D;
}

/** default background on each sections **/

.single-item-intro .javo-vc-row {background:#fff; padding:0 0 20px 0;}
/*.single-item-navi .javo-vc-row {background:#eee; padding:0 0 20px 0;}*/
.single-item-detail .javo-vc-row {background:#fff; padding:0 0 20px 0;}
.single-item-location .javo-vc-row {background:#fff; padding:0 0 20px 0;}
.single-item-gallery .javo-vc-row {background:#fff; padding:0 0 20px 0;}
.single-item-events .javo-vc-row {background:#fff; padding:0 0 20px 0;}
.single-item-reviews .javo-vc-row {background:#fff; padding:0 0 20px 0;}

/** default bg on single one page **/

.single-item-detail .javo-vc-row {background:url('../images/bg/pattern8.png'); background-repeat:repeat;  padding:0 0 20px 0;}
.single-item-location .javo-vc-row {background-color:#fff; background-repeat:repeat;  padding:0 0 20px 0;}
.single-item-gallery .javo-vc-row {background-color:#fff; background-repeat:repeat;  padding:0 0 20px 0;}
.single-item-events .javo-vc-row {background:url('../images/bg/pattern6.png'); background-repeat:repeat;  padding:0 0 20px 0;}
.single-item-reviews .javo-vc-row {background:url('../images/bg/pattern4.png'); background-repeat:repeat;  padding:0 0 20px 0;}
.single-item-ratings .javo-vc-row {background:url('../images/bg/pattern5.png'); background-repeat:repeat;  padding:0 0 20px 0;}
.single-item-contact .javo-vc-row {background:url('../images/bg/single-default-bg9.jpg'); background-repeat:repeat;  padding:0 0 20px 0;}


/*.single-item-detail .javo-vc-row {background:url('../images/bg/pattern1.png'); background-repeat:repeat;  padding:0 0 20px 0;}
.single-item-location .javo-vc-row {background:url('../images/bg/pattern6.png'); background-repeat:repeat;  padding:0 0 20px 0;}
.single-item-gallery .javo-vc-row {background:url('../images/bg/pattern2.png'); background-repeat:repeat;  padding:0 0 20px 0;}
.single-item-events .javo-vc-row {background:url('../images/bg/pattern7.png'); background-repeat:repeat;  padding:0 0 20px 0;}
.single-item-reviews .javo-vc-row {background:url('../images/bg/pattern4.png'); background-repeat:repeat;  padding:0 0 20px 0;}
.single-item-ratings .javo-vc-row {background:url('../images/bg/pattern5.png'); background-repeat:repeat;  padding:0 0 20px 0;}
.single-item-contact .javo-vc-row {background:url('../images/bg/single-default-bg9.jpg'); background-repeat:repeat;  padding:0 0 20px 0;}
*/

/** font colors by background **/
.spy-dark-bg .javo-fancy-title-section h2 {color:#fff;}
.spy-dark-bg .javo-fancy-title-description {color:#eee;}

.single-spy .alert-warning { color: #454545; background-color: #eee;border-color: #ddd;}


.javo-single-section{ position:relative; /*margin-bottom:35px;*/}
.javo-single-section .cover_wrap{ position:relative; }

div.javo-single-thumbnail-left,
div.javo-single-thumbnail-right{
	position:absolute;
	background: rgba( 32, 34, 37, 0.7 );
	top:60px;
	bottom:500px;
	padding:10px;
}

div.javo-single-thumbnail-left{
	width:20%;
	left:100px;

}
div.javo-single-thumbnail-right{
	width:40%;
	right:100px;

}
h3.javo-single-thumbnail-title{
	color:#fff !important;
}
ul.javo-single-thumbnail-nav{}
ul.javo-single-thumbnail-nav li { text-align:center; }
ul.javo-single-thumbnail-nav li a{ color:#fff; }
ul.javo-single-thumbnail-nav li a:hover{ color:#FAD515; }
ul.javo-single-nav li{}
ul.javo-single-nav li i{}
ul.javo-single-nav li span.spy-menu{}
ul.javo-single-nav li.active span.spy-menu{}
ul.javo-single-nav li.active{  background-color:#454544; }
ul.javo-single-nav li.active:after{
	border-top: 0.8em solid #454544 !important;
	border-bottom: none !important;
}





/***/

.single-spy .navbar-nav {font-size: 1.4em; }
.single-spy section {
	padding-top: 65px;
	margin-top: -65px;
	margin-bottom: 30px;
	}

.single-spy section {
    padding: 13% 0;
	height: 100%;
}



.single-spy #nav.affix {
	position: fixed;
	top: 32px;
	left:0;
	width: 100%;
	z-index:10;
	display: block;
	opacity: 1;
	}

.single-spy .navbar-nav li.active:after {
	content: " .";
	display: block;
	text-indent: -99em;
	border-bottom: 0.8em solid #fff;
	border-left: 0.8em solid transparent;
	border-right: 0.8em solid transparent;
	border-top: none;
	height: 0px;
	margin-left: -.8em;
	margin-right: auto;
	margin-top: 0px;
	position: absolute;
	left: 50%;
	width: 1px;
	}

.single-spy .navbar .nav .active > a {
	background-color: none;
	background: 0 !important;
	color: #FFF !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	}
.single-spy .navbar {
	position: relative;
	border-bottom: 1px solid #d7d7d7;
	width: 100%;
	height: 80px;
	background-color: #ffffff;
	z-index: 11;
	-webkit-box-shadow: 0 0px 14px -2px rgba(0,0,0,0.95);
	box-shadow: 0 0px 14px -2px rgba(0,0,0,0.95);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:0;
	border-radius:0;
	}
.single-spy .navbar-header {
	padding-left: 40px;
	}


.single-spy h1 {
	font-size: 4em;
	line-height: 1.4em;
	margin-top: 50px;
	margin-bottom: 50px;
	}

.single-spy h3 {color : #273D54; line-height: 1.25em; font-size: 2.4em; }
/* .single-spy p {	font-size: 1.5em;	text-align: justify; } */



/** Section Title **/
.javo-fancy-title-section {padding: 30px 0 30px 0;}
.javo-fancy-title-section h2 {
	color:#454545;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
	position:relative;
}

.javo-fancy-title-section h2:after {
/* background: #FE7E17; */
display: block;
content: "";
height: 1px;
width: 120px;
margin: 0;
position: relative;
}

.javo-fancy-title-section .hr-inner {
background-color: #fcfcfc;
width: 32%;
left: 50%;
margin-left: -16%;
border-color: #e1e1e1;
position: absolute;
height: 1px;
top: 50%;
margin-top: -1px;
border-top-width: 1px;
border-top-style: solid;
}

.javo-fancy-title-section .hr-inner-style {
background-color: #fcfcfc;
border-radius: 20px;
height: 9px;
width: 9px;
border-width: 2px;
border-style: solid;
display: block;
position: absolute;
left: 50%;
margin-left: -5px;
margin-top: -5px;
padding: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
border-color: #e1e1e1;
}

.javo-fancy-title-section .hr-wrap {
position: relative;
height: 20px;
}

.javo-fancy-title-description {text-transform: uppercase; font-size:15px;}



.single-spy #headline {background-color: #fff; }
.single-spy #headline h1 {color: #FFFFFF; text-shadow: 1px 1px 2px rgba(39, 39, 66, 1); }
.single-spy .panel-body { min-height: 600px; }


/** Details **/
.item-sigle-details-box {border:1px solid #ddd; background:#eee; padding:50px 50px 50px 50px;}
.item-sigle-details-box .inner-items a {
	text-decoration: none;
	outline: none;
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	border: 3px solid #aaa;
	color: #454545;
	font-weight: 700;
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	outline: none;
	border: 2px solid #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 100%;
}


.item-sigle-details-content-box {border: 10px solid #ddd;
background: #FFF;
padding: 20px;
margin-top: 25px;
margin: 10px;}

.item-author img {border-radius:50%; width:60px; height:60px;}

.single-item-detail-box {position:relative; border:10px solid #aaa; margin:0 10px 0 10px; padding:10px; background:#fff;}
.single-item-detail-box ul {padding:0;}
.single-item-detail-box li {padding:10px; font-size:14px; text-transform: uppercase; letter-spacing: 1px;}
.single-item-detail-left .inner-items li {text-align:right;}
.single-item-detail-right .inner-items li {text-align:left;}








/** navi **/
.navbar-default .navbar-nav>li>a {color: #454545;}
.single-spy .single-item-navi .navbar-nav {text-transform:uppercase; display:table; margin:0 auto;}
.single-spy .single-item-navi .navbar-nav>li {text-align:center; min-width:120px;}
.single-spy .single-item-navi .navbar-nav>li span {display:block; padding-top:5px;}
.single-spy .single-item-navi .navbar-nav>li i.glyphicon {font-size:20px;}
.single-spy .single-item-navi .navbar-nav>li span.single-menu-icons {display: block; font-size: 19px; padding-top: 10px; padding-bottom: 4px;}
.single-spy .single-item-navi .navbar-nav>li .spy-menu {
	font-size: 14px;
	/* padding: 20px 0 19px 0; */
}


.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.single-spy .single-item-navi .navbar-nav>li>a {padding-top: 13px;padding-bottom: 10px;}

/**rating box **/
.total-rating .glyphicon { margin-right:5px;}
.total-rating .rating .glyphicon {font-size: 22px;}
.total-rating .rating-num { margin-top:0px;font-size: 54px; font-weight: bold;}
.total-rating .progress { margin-bottom: 5px;}
.total-rating .progress-bar { text-align: left; }
.total-rating .rating-desc .col-md-3 {padding-right: 0px;}
.total-rating .sr-only { margin-left: 5px;overflow: visible;clip: auto; }

/** total ratings **/
.total-rating .well {border:0 solid #777; background:transparent; padding: 20px 30px 70px 30px; border-radius:0px; box-shadow: inset 0 0px 0px;}
.total-rating-top-wrap {border:10px solid #aaa; margin:0 10px 0 10px; background:#fff;}


.total-rating h3 {font-size:18px; text-transform:uppercase; color:#363636; font-weight: 900 ;margin-top: 10px; margin-bottom: 10px;} /* font-family: "jaf-bernino-sans-condensed-1","jaf-bernino-sans-condensed-2",sans-serif;  */
.total-rating .total-rating-title {border-bottom:1px solid #eee; margin-bottom:30px;}

.single-spy .single-rating-list {margin-bottom:0px;}
.single-spy .rating-list-wrap {margin-bottom:50px;}

.single-spy .dl-input-big-stars {margin-top:0px; margin-bottom:0px;}
.single-spy .dl-horizontal dd {margin-left: 80px;}
.single-spy .dl-horizontal dt { float: left; width: 60px; overflow: hidden; clear: left; text-align: left; text-overflow: ellipsis; white-space: nowrap;}


.item-total-rating .total-amount {padding:55px 0 0 0;}
.item-total-rating .total-ave {padding:25px 0 0 0; margin-bottom:0px;}
.progress-bar-dark {background-color:#454545;}
.progress-bar-blue {background-color:#0083db;}

.item-total-rating .total-amount .people-icon, .item-total-rating .rating-ave-num{ font-size:50px;}
.item-total-rating .total-amount p, .item-total-rating.rating-ave-stars{ font-size:20px;}

.item-total-rating {background:#eee; border:1px solid #ddd; padding:20px;}
.rating-add-form {padding:30px; margin-top:0px; border:1px solid #ddd; background:#eee;}
.rating-submit {padding:25px !important;}
.submit-btn-wrap {padding-left:0px; margin-left:-15px;}

#javo_rating_content{
	border-radius:0px;
	border: solid 1px #B1BBD1;
	height:151px;
	box-shadow: inset 2px 2px 9px rgba(138, 138, 138, 0.8);
}
.javo-raintg-form-field-label{ color: #000; font-weight:bold; margin-top:2px; }


/*** panel customizing ***/
.single-spy .panel-default {border-color:#fff;}
.single-spy .panel-default>.panel-heading {background:#fff;}
.single-spy section h2 {font-size:20px; text-transform:uppercase; color:#363636; font-weight: 900 ;margin-top: 10px; margin-bottom: 10px;}


/** map **/
.javo-single-map-area {min-height:200px; }


/** event **/
.single-spy .events-wrap {padding: 20px; background: #fff; border: 1px #ccc solid;}
.single-spy .event-img-box {position: relative;}
.single-spy .event-img-box .event-tag {position: absolute; left:5px; top:5px; width:100px; height:100px; border-radius:50%; background:#FF2D2D; padding:40px 0 0 0; text-align:center; border:3px solid #fff;}
.single-spy .event-img-box .event-tag span {color:#fff; font-weight:bold; font-size:17px;}

.single-spy .event-img-box .event-title {position: absolute; right:5px; bottom:5px; padding:0 20px 20px 0; text-align:center; border:0px solid #fff;}
.single-spy .event-img-box .event-title span {color:#fff; font-weight:bold; font-size:19px;}

.single-item-slider{ position:relative; }
.down-arrow-circle{
	position:absolute !important;
	display:inline-block;
	width:20px;
	height:20px;
	margin-left:-10px;
	bottom:5%;
	left:50%;
	cursor:pointer;
	z-index:3;
}

.intro-btn-wrap{
	position:absolute;
	bottom:20%;
	width:100%;
	height:5%;
	text-align:center;
	z-index:3;
}
.intro-btn-wrap button{
	position:relative;
	width:10%;
	height:100%;
	color:#fff;
	background:none;
	border:1px solid #fff;
	font-weight:bold;
	margin:0 10px;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.intro-btn-wrap button:after{
	content:'';
	position:absolute;
	background:#fff;
	width:0%;
	height:100%;
	top:0;
	left:0;
	z-index:-1;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.intro-btn-wrap button:hover{color:#000;}
.intro-btn-wrap button:hover:after{width:100%;}

@-webkit-keyframes iconFloat{0%{top:0}50%{top:10px}100%{top:0}}
@-moz-keyframes iconFloat{0%{top:0}50%{top:10px}100%{top:0}}
@-o-keyframes iconFloat{0%{top:0}50%{top:10px}100%{top:0}}
@keyframes iconFloat{0%{top:0}50%{top:10px}100%{top:0}}

#single-intro-section .single-item-slider .down-arrow-circle div{
	font-size:2em;
	position: relative;
	-webkit-animation: iconFloat 1.2s infinite linear;
	-moz-animation: iconFloat 1.2s infinite linear;
	-ms-animation: iconFloat 1.2s infinite linear;
	-o-animation: iconFloat 1.2s infinite linear;
	animation: iconFloat 1.2s infinite linear;
}



/* sinle contact form */
.single-contact-wrap {font-size:13px;}
.single-contact-wrap ul {padding-left:0;}
.single-contact-info, .single-contact-form {border:3px solid #ddd;padding:20px; min-height:320px;}
.single-contact-info {margin-left:10px; text-align:center; color:#111; background:#fff;}
.single-contact-info li {padding:5px 0 5px 0;}
.single-contact-form {margin-right:10px; background:#fff;}
.single-contact-info img {border-radius:50%; width:70px; height:70px;}
.form-control {border-radius:0px;}



/* Animations */
.javo-animation:before{ content:' '; overflow:hidden; }
.javo-animation{
	transition:2.5s ease-in-out;
	-webkit-transition:all 2.5s ease-in-out;
	-moz-transition:all 2.5s ease-in-out;
	-ms-transition:all 2.5s ease-in-out;
	-o-transition:all 2.5s ease-in-out;
	overflow:hidden;
}
.javo-animation.x1{
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
}
.javo-animation.op-2{
	opacity:0.2;
}
.javo-animation.x2{
	transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-ms-transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
}
.javo-animation.x3{
	transition:all 1.5s ease-in-out;
	-webkit-transition:all 1.5s ease-in-out;
	-moz-transition:all 1.5s ease-in-out;
	-ms-transition:all 1.5s ease-in-out;
	-o-transition:all 1.5s ease-in-out;
}
.javo-animation.x4{
	transition:all 2s ease-in-out;
	-webkit-transition:all 2s ease-in-out;
	-moz-transition:all 2s ease-in-out;
	-ms-transition:all 2s ease-in-out;
	-o-transition:all 2s ease-in-out;
}
.javo-animation.x5{
	transition:all 2.5s ease-in-out;
	-webkit-transition:all 2.5s ease-in-out;
	-moz-transition:all 2.5s ease-in-out;
	-ms-transition:all 2.5s ease-in-out;
	-o-transition:all 2.5s ease-in-out;
}
.javo-animation.x6{
	transition:all 3s ease-in-out;
	-webkit-transition:all 3s ease-in-out;
	-moz-transition:all 3s ease-in-out;
	-ms-transition:all 3s ease-in-out;
	-o-transition:all 3s ease-in-out;
}
.javo-fade-in-out{
	opacity:0;
}
.javo-fade-in-out.loaded{
	opacity:1;
}
.javo-left-to-right-999{
	opacity:0;
	transform: translate(-999px, 0);
	-webkit-transform: translate(-999px, 0);
	-moz-transform: translate(-999px, 0);
	-ms-transform: translate(-999px, 0);
	-o-transform: translate(-999px, 0);
}
.javo-left-to-right-999.loaded{
	opacity:1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
}
.javo-left-to-right-100{
	opacity:0;
	transform: translate(-100px, 0);
	-webkit-transform: translate(-100px, 0);
	-moz-transform: translate(-100px, 0);
	-ms-transform: translate(-100px, 0);
	-o-transform: translate(-100px, 0);
}
.javo-left-to-right-100.loaded{
	opacity:1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
}
.javo-right-to-left-100{
	opacity:0;
	transform: translate(100px, 0);
	-webkit-transform: translate(100px, 0);
	-moz-transform: translate(100px, 0);
	-ms-transform: translate(100px, 0);
	-o-transform: translate(100px, 0);
}
.javo-right-to-left-100.loaded{
	opacity:1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
}
.javo-right-to-left-999{
	opacity:0;
	transform: translate(999px, 0);
	-webkit-transform: translate(999px, 0);
	-moz-transform: translate(999px, 0);
	-ms-transform: translate(999px, 0);
	-o-transform: translate(999px, 0);
}
.javo-right-to-left-999.loaded{
	opacity:1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
}
.javo-left-to-right-rotate-270{
	opacity:0;
	transform: translate(-999px, 0);
	-webkit-transform: translate(-99px, 0) rotate(4deg);
	-moz-transform: translate(-999px, 0);
	-ms-transform: translate(-999px, 0);
	-o-transform: translate(-999px, 0);
}
.javo-left-to-right-rotate-270.loaded{
	opacity:1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
}
.javo-left-to-right-rotate-4{
	opacity:0;
	transform: translate(-99px, 0) rotate(4deg);
	-webkit-transform: translate(-99px, 0) rotate(4deg);
	-moz-transform: translate(-99px, 0) rotate(4deg);
	-ms-transform: translate(-99px, 0) rotate(4deg);
	-o-transform: translate(-99px, 0) rotate(4deg);
}
.javo-left-to-right-rotate-4.loaded{
	opacity:1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
}
.javo-top-to-bottom-999{
	opacity:0;
	transform: translate(0, -999px);
	-webkit-transform: translate(0, -999px);
	-moz-transform: translate(0, -999px);
	-ms-transform: translate(0, -999px);
	-o-transform: translate(0, -999px);
}
.javo-top-to-bottom-999.loaded{
	opacity:1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
}
.javo-bottom-to-top-999{
	opacity:0;
	transform: translate(0, 999px);
	-webkit-transform: translate(0, 999px);
	-moz-transform: translate(0, 999px);
	-ms-transform: translate(0, 999px);
	-o-transform: translate(0, 999px);
}
.javo-bottom-to-top-999.loaded{
	opacity:1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);

}

.javo-top-to-bottom-50{
	opacity:0;
	transform: translate(0, -50px);
	-webkit-transform: translate(0, -50px);
	-moz-transform: translate(0, -50px);
	-ms-transform: translate(0, -50px);
	-o-transform: translate(0, -50px);
}
.javo-top-to-bottom-50.loaded{
	opacity:1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
}

.javo-bottom-to-top-50{
	opacity:0;
	transform: translate(0, 50px);
	-webkit-transform: translate(0, 50px);
	-moz-transform: translate(0, 50px);
	-ms-transform: translate(0, 50px);
	-o-transform: translate(0, 50px);
}
.javo-bottom-to-top-50.loaded{
	opacity:1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
}

.javo-top-to-bottom-100{
	opacity:0;
	transform: translate(0, -100px);
	-webkit-transform: translate(0, -100px);
	-moz-transform: translate(0, -100px);
	-ms-transform: translate(0, -100px);
	-o-transform: translate(0, -100px);
}
.javo-top-to-bottom-100.loaded{
	margin:10px;
	opacity:1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
}

.javo-bottom-to-top-100{
	opacity:0;
	transform: translate(0, 100px);
	-webkit-transform: translate(0, 100px);
	-moz-transform: translate(0, 100px);
	-ms-transform: translate(0, 100px);
	-o-transform: translate(0, 100px);
}
.javo-bottom-to-top-100.loaded{
	opacity:1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
}


/** review **/
.review-wrap {border:10px solid #aaa; padding: 20px 0 10px 0; margin:0 10px 0 10px; background:#fff;}
.review-wrap h3 {font-size:14px; margin:0; font-weight:600;}




/* Single Part Intro Style */

.single-item-slider {
	min-height:700px;
	background: #333;
	color: #fff;
	font-weight: 200;
	font-size: 1em;
	font-family: 'Raleway', 'Arial', sans-serif;
}

.single-item-slider a {
	color: #fff;
	text-decoration: none;
	outline: none;
	font-weight: 600;
}

.single-item-slider a:hover, .single-item-slider a:focus {
	color: #debcc3;
}

.single-item-slider section {
	padding: 1em;
	text-align: center;
}

.single-item-slider .panel {
	background:transparent;
}

/* Header */
.single-item-slider .codrops-header {
	z-index: 1000;
	position: absolute;
	top: 0;
	right: 10%;
	text-align: center;
	max-width: 500px;


	background: rgb(32,34,37);
		background: rgba(32,34,37,0.7);
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		color: #fff;
		height: 100%;
		padding: 75px 20px 75px 20px;

}

.single-item-slider .codrops-header-left {
	position: absolute;
	top: 10%;
	left: 10%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: rgb(32,34,37);
	background: rgba(32,34,37,0.5);
	border: 2px solid rgb(235,235,235);
	border: 2px solid rgba(235,235,235,0.2);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 50px 50px;
	width: 380px;
	z-index: 2;
}

.single-item-slider .codrops-header h1, .single-item-slider .codrops-header-left h1 {
	color:#fff;
	margin: 0;
	font-weight: 200;
	font-size: 3em;
	line-height: 1;
}

.single-item-slider .codrops-header h1 span, .single-item-slider .codrops-header-left h1 span {
	display: block;
	padding: 0.5em 0 0.6em 0.1em;
	font-size: 40%;
	line-height: 1.2;
	opacity: 0.7;
}


.single-item-slider .codrops-header .home-rating {font-size:20%;}
.single-item-slider .codrops-header .home-rating span.total-rating {font-size:50px; font-weight:bold;}

/* To Navigation Style */
.single-item-slider .codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.69em;
	line-height: 2.2;
	position: relative;
	z-index: 2000;
}

.single-item-slider .codrops-top a {
	display: inline-block;
	padding: 0.3em 0.7em;
	text-decoration: none;
	letter-spacing: 1px;
	margin: 5px;
}

.single-item-slider .codrops-top span.right {
	float: right;
}

.single-item-slider .codrops-top span.right a {
	display: block;
	float: left;
}

.single-item-slider .codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.single-item-slider .codrops-icon-drop:before {
	content: "\e001";
}

.single-item-slider .codrops-icon-prev:before {
	content: "\e004";
}

/* Buttons Style */
.single-item-slider .javo-single-item-intro-nav {
	padding-top: 2em;
	font-size: 0.8em;
}

.single-item-slider .javo-single-item-intro-nav a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	outline: none;
	border: 2px solid #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 265px;
}

.single-item-slider .javo-single-item-intro-nav a:hover{
	color: #debcc3;
	border-color: #debcc3;
}
#single-events-section .wpb_wrapper>.row>.col-md-12{margin-bottom:30px;}
@media screen and (max-width: 25em) {

	.single-item-slider .codrops-icon span {
		display: none;
	}

}

textarea[name="javo_rating[content]"]{
	background:#fff;
}

.javo-author-meta .avatar .javo-thb{ min-height:150px; }

/*
*
**	Single Item Sidebar
*/

div.javo-single-item-sidebar{}
div.javo-single-item-sidebar div.textwidget{ width:auto; }
div.javo-single-item-sidebar div.widgets-wraps{ margin:0; }

div#javo-review-form-container{ min-height:350px; }