.javo-register-container .tab-inner-des p:first-child{ display:inline-block; }
.javo-register-container .tab-inner-des blockquote:before{
	content: "\f10d";
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size:0.8em;
	vertical-align:top;
	color:#aaa;
	margin-right:10px;
}

