﻿@model BLL.ViewModels.PricingScheduleViewModel
@{
    Layout = "~/Views/Shared/_modalLayout.cshtml";
}

<style>
       .errorMsg {
    font-weight: bold;
    color: red;
    display: inline;
}
</style>
<script type="text/javascript">



    function closepopup() {
        //debugger;
        window.parent.$("#LOBPricing").data("kendoWindow").close();
        //var kendoWindow = $("#LOBPricing").data("kendoWindow").close();
    }

    function addLOBPricingRow(tableID) {
        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;
        var newRowIndex = rowCount - 1;
        var row = table.insertRow(rowCount);
        row.vAlign = "top";
        var hdnRowCount = document.getElementById("hdnLOBPricingRowCount");
        hdnRowCount.value = parseInt(hdnRowCount.value) + 1;

        //LineofBusiness
        //var cell1 = row.insertCell(0);
        //var element1 = document.getElementById("ddlLOBReplica").cloneNode(true);
        //element1.name = "CompanyLOBPricing[" + newRowIndex + "].LOBId";
        //cell1.appendChild(element1);

        //StartRange
        var cell2 = row.insertCell(0);
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.style.width = "80px";
        element2.name = "LobPricingList[" + newRowIndex + "].StartRange";
        cell2.appendChild(element2);

        //EndRange
        var cell3 = row.insertCell(1);
        var element3 = document.createElement("input");
        element3.type = "text";
        element3.style.width = "80px";
        element3.name = "LobPricingList[" + newRowIndex + "].EndRange";
        cell3.appendChild(element3);

        //BaseServiceFee
        var cell4 = row.insertCell(2);
        var element4 = document.createElement("input");
        element4.type = "text";
        element4.style.width = "80px";
        element4.name = "LobPricingList[" + newRowIndex + "].BaseServiceFee";
        cell4.appendChild(element4);

        //SPServiceFee
        var cell5 = row.insertCell(3);
        var element5 = document.createElement("input");
        element5.type = "text";
        element5.style.width = "80px";
        element5.name = "LobPricingList[" + newRowIndex + "].SPServiceFee";
        cell5.appendChild(element5);

        //RCVPercent
        var cell6 = row.insertCell(4);
        var element6 = document.createElement("input");
        element6.type = "text";
        element6.style.width = "50px";
        element6.name = "LobPricingList[" + newRowIndex + "].RCVPercent";
        cell6.appendChild(element6);

        //SPRCVPercent
        var cell7 = row.insertCell(5);
        var element7 = document.createElement("input");
        element7.type = "text";
        element7.style.width = "50px";
        element7.name = "LobPricingList[" + newRowIndex + "].SPRCVPercent";
        cell7.appendChild(element7);

        //RPXercent
        var cell8 = row.insertCell(6);
        var element8 = document.createElement("input");
        element8.type = "text";
        element8.style.width = "50px";
        element8.name = "LobPricingList[" + newRowIndex + "].SPXPercent";
        cell8.appendChild(element8);


        var cell9 = row.insertCell(7);
        cell9.align="left";
        //cell9.innerHTML = "";
        var element9 = document.createElement("input");
        element9.type = "checkbox";
        element9.style.width = "50px";
        element9.name = "LobPricingList[" + newRowIndex + "].IsTimeNExpance";
        element9.setAttribute("onclick","CheckChanged('tblLOBPricingList','" + newRowIndex + "','false')");
        //element9.checked = true;
        cell9.appendChild(element9);


        //Delete
        var cell10 = row.insertCell(8);
        var element10 = document.getElementById("imgLOBPricingDeleteRowReplica").cloneNode(true);
        element10.id = "imgLOBPricingDeleteRow" + newRowIndex;
        cell10.appendChild(element10);
        if ((rowCount - 2) >= 0) {
            var deleteRowIcon = document.getElementById("imgLOBPricingDeleteRow" + (rowCount - 2));
            deleteRowIcon.style.display = "none";
        }

    }

    function CheckChanged(tableID, chkRNo, PrevVal) {

        var IrowNo = parseInt(chkRNo) ;
        //IrowNo = IrowNo + 1;
        //IrowNo = IrowNo - 1;
        var table = document.getElementById(tableID);
        // var row = table.rows[IrowNo];
        //var row = table.insertRow(IrowNo);
        //alert(PrevVal.toLowerCase());
        //debugger;
        //alert(IrowNo);
        if (PrevVal.toLowerCase() == 'true') {
            //alert('set true');
            IrowNo = IrowNo + 1;
            //StartRange
            //var cell2 = table.rows[IrowNo].cells[0];
            //var element2 = document.createElement("input");
            //element2.type = "text";
            //element2.style.width = "80px";
            //element2.name = "LobPricingList[" + IrowNo + "].StartRange";
            //cell2.appendChild(element2);

            ////EndRange
            //var cell3 = table.rows[IrowNo].cells[1];
            //var element3 = document.createElement("input");
            //element3.type = "text";
            //element3.style.width = "80px";
            //element3.name = "LobPricingList[" + IrowNo + "].EndRange";
            //cell3.appendChild(element3);

            ////BaseServiceFee
            var cell4 = table.rows[IrowNo].cells[2];
            cell4.innerHTML = '';
            var element4 = document.createElement("input");
            element4.type = "text";
            element4.style.width = "80px";
            element4.name = "LobPricingList[" + IrowNo + "].BaseServiceFee";
            cell4.appendChild(element4);

            //SPServiceFee
            var cell5 = table.rows[IrowNo].cells[3];
            cell5.innerHTML = '';
            var element5 = document.createElement("input");
            element5.type = "text";
            element5.style.width = "80px";
            element5.name = "LobPricingList[" + IrowNo + "].SPServiceFee";
            cell5.appendChild(element5);

            //RCVPercent
            var cell6 = table.rows[IrowNo].cells[4];
            var element6 = document.createElement("input");
            element6.type = "text";
            element6.style.width = "50px";
            element6.name = "LobPricingList[" + IrowNo + "].RCVPercent";
            cell6.appendChild(element6);

            //SPRCVPercent
            var cell7 = table.rows[IrowNo].cells[5];
            var element7 = document.createElement("input");
            element7.type = "text";
            element7.style.width = "50px";
            element7.name = "LobPricingList[" + IrowNo + "].SPRCVPercent";
            cell7.appendChild(element7);

            //RPXercent
            var cell8 = table.rows[IrowNo].cells[6];
            var element8 = document.createElement("input");
            element8.type = "text";
            element8.style.width = "50px";
            element8.name = "LobPricingList[" + IrowNo + "].SPXPercent";
            cell8.appendChild(element8);

            var cell9 = table.rows[IrowNo].cells[7];
            cell9.align="left";
            cell9.innerHTML = "";
            var element9 = document.createElement("input");
            element9.type = "checkbox";
            element9.style.width = "50px";
            element9.name = "LobPricingList[" + parseInt(chkRNo) + "].IsTimeNExpance";
            //element9.value = "false";

            element9.setAttribute("onclick","CheckChanged('tblLOBPricingList','" + parseInt(chkRNo) + "','false')");
            //element9.checked = true;
            cell9.appendChild(element9);
        }
        else {
            IrowNo = IrowNo + 1;
            //alert(IrowNo);
            //alert(chkRNo);
            //table.rows[IrowNo].cells[0].innerHTML = "";
            //table.rows[IrowNo].cells[1].innerHTML = "";
            table.rows[IrowNo].cells[2].innerHTML = '/ hr ';
            table.rows[IrowNo].cells[3].innerHTML = "";
            table.rows[IrowNo].cells[4].innerHTML = "";
            table.rows[IrowNo].cells[5].innerHTML = "";
            table.rows[IrowNo].cells[6].innerHTML = "";
            var cell9 = table.rows[IrowNo].cells[7];
            cell9.align="left";
            cell9.innerHTML = "";
            var element9 = document.createElement("input");
            element9.type = "checkbox";
            element9.style.width = "50px";
            element9.name = "LobPricingList["+  parseInt(chkRNo) +"].IsTimeNExpance";
            element9.value = "true";
            element9.setAttribute("onclick","CheckChanged('tblLOBPricingList','"+  parseInt(chkRNo) +"','true')");
            element9.checked = true;
            cell9.appendChild(element9);

            //table.rows[1].cells[7].getElementsByTagName("input")[0].setAttribute("onChange", "CheckChanged('tblLOBPricingList','" + IrowNo + "','true')");

            //table.rows[IrowNo].cells[7].getElementsByTagName("input")[0].onchange = "CheckChanged('tblLOBPricingList','" + IrowNo + "','false')";

        }
        // alert(IrowNo);

    }

    function deleteLOBPricingRow(tableID, lobPrcId) {
        try {
            //debugger;
            if (confirm('Do you want to delete this pricing?')) {
                if (lobPrcId != '0') {
                    var hdndellist = document.getElementById('hdnDelLobprcIDlst');
                    hdndellist.value = hdndellist.value + lobPrcId + ','
                    //alert(hdndellist.value);
                }
                var table = document.getElementById(tableID);
                var rowCount = table.rows.length;
                var hdnRowCount = document.getElementById("hdnLOBPricingRowCount");
                hdnRowCount.value = parseInt(hdnRowCount.value) - 1;
                table.deleteRow(rowCount - 1);
                if ((rowCount - 3) >= 0) {
                    var deleteRowIcon = document.getElementById("imgLOBPricingDeleteRow" + (rowCount - 3));
                    deleteRowIcon.style.display = "inline";
                }
            }
            else {
                //do nothing 
            }

        } catch (e) {
            alert(e);
        }
    }



    //function ValidatePage(tableID)
    //{
    //    var table = document.getElementById(tableID);
    //    var RowCount = table.rows.length;
    //    var colCount = tab.row[0].colCount();
    //    debugger;
    //    var i = 0 ;
    //    var j = 0;
    //    for(i= 0; i < RowCount ; i++)//Loop for Row
    //    {
    //        var row = tab.row[i];
    //        for(j= 0; j < colCount ; j++) // Loop for Column 
    //        {
    //            var col = row.cell[j];

    //        }
    //    }
    //    return false;
    //}
</script>
<body style="background-image: none">

    @*action="@Html.Action("LOBPricing","CompanyLOBPricing")" id="divLOBPricing"*@
    <form action="~/CompanyLOBPricing/LOBPricing" method="post">

        @{
            if (@Model.InsuranceCompany != 0)
            {
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="content" align="center">
                        <table bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">
                            <tr>
                                <td class="subHeading borderBottomLightGray" nowrap="nowrap">LOB Pricing of @Model.Company.CompanyName  "@Model.strLobDesc"
                                    <input type="hidden" id="hdnDelLobprcIDlst" name="hdnDelLobprcIDlst" value="@Model.Delstring" />
                                 </td>
                                <td>
                                    </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div style="display: none;">
                                        @Html.HiddenFor(model => model.InsuranceCompany, new { id = "hdnHeadCompanyId" })
                                        @Html.HiddenFor(model => model.LobID, new { id = "hdnlobID" })
                                    </div>
                                    @if (Model.ValidationSummary != null && Model.ValidationSummary.Trim() != "")
                                    {
                                        
                                        @:<div style="padding-left:10px;" class="errorMsg"> <br />  @Html.Raw(Model.ValidationSummary)   </div>
                                           }

                                   
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                     <br />
                                    <table align="center" id="tblLOBPricingList" cellspacing="0" cellpadding="0">
                                        <tr valign="top">
                                            <td class="tableHeader" width="80" >Start Range <br />($)
                                            </td>
                                            <td class="tableHeader" width="80" >End Range <br />($)
                                            </td>
                                            <td class="tableHeader" width="90" nowrap="nowrap">Base Service <br />Fee ($)
                                            </td>
                                            <td class="tableHeader" width="80">SP Service <br />Fee ($)
                                            </td>
                                            <td class="tableHeader" width="50">RCV <br />Percent
                                            </td>
                                            <td class="tableHeader" width="50">SP RCV <br />Percent
                                            </td>
                                            <td class="tableHeader" width="50">SPX <br />Percent
                                            </td>
                                            <td class="tableHeader" width="50" align="left">Time & Expense
                                            </td>
                                            <td width="100%">
                                                <div style="display: none;">
                                                    <img id="imgLOBPricingDeleteRowReplica" onclick="deleteLOBPricingRow('tblLOBPricingList','0')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                                </div>
                                            </td>

                                        </tr>
                                        @if (Model.LobPricingList.Count == 0)
                                        {
                                            <tr>
                                                <td>
                                                    <input name="LobPricingList[0].StartRange" type="text" style="width: 80px;" />
                                                </td>
                                                <td>
                                                    <input name="LobPricingList[0].EndRange" type="text" style="width: 80px;" />
                                                </td>
                                                <td>
                                                    <input name="LobPricingList[0].BaseServiceFee" type="text" style="width: 80px;" />
                                                    <label id="lblPerhr[0]" title=" /hr " style="display: none"></label>
                                                </td>
                                                <td>
                                                    <input name="LobPricingList[0].SPServiceFee" type="text" style="width: 80px;" />
                                                </td>
                                                <td>
                                                    <input name="LobPricingList[0].RCVPercent" type="text" style="width: 50px;" />
                                                </td>
                                                <td>
                                                    <input name="LobPricingList[0].SPRCVPercent" type="text" style="width: 50px;" />
                                                </td>
                                                <td>
                                                    <input name="LobPricingList[0].SPXPercent" type="text" style="width: 50px;" />
                                                </td>
                                                <td align="left">
                                                    <input name="LobPricingList[0].IsTimeNExpance" type="checkbox" onclick="CheckChanged('tblLOBPricingList','0','false')" style="width: 50px;" />
                                                </td>
                                                <td>
                                                    <img id="imgLOBPricingDeleteRow0" onclick="deleteLOBPricingRow('tblLOBPricingList','0')" style="color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row"  />
                                                </td>
                                                <td></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            {
                                                for (int i = 0; i < Model.LobPricingList.Count; i++)
                                                {
                                                    BLL.CompanyLOBPricing pricing = Model.LobPricingList.ElementAt(i);
                                            <tr>

                                                <td>
                                                    <input name="LobPricingList[@i].StartRange" type="text" value="@pricing.StartRange" style="width:80px;"  />
                                                    <input name="LobPricingList[@i].CompanyLOBPricingId" type="text" value="@pricing.CompanyLOBPricingId" style="width:80px; display:none"  />
                                                </td>
                                                <td>
                                                    <input name="LobPricingList[@i].EndRange" type="text" value="@pricing.EndRange" style="width:80px;" /></td>
                                               
                                                @if (pricing.IsTimeNExpance.HasValue ? (pricing.IsTimeNExpance.Value ? true : false) : false)
                                                {
                                              
                                                    <td>/ hr
                                                        @*<input name="LobPricingList[@i].SPServiceFee" type="text" value="@pricing.SPServiceFee" style="width:80px;" />*@

                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        @*<input name="LobPricingList[@i].RCVPercent" type="text" value="@pricing.RCVPercent" style="width:80px;"/>*@

                                                    </td>
                                                    <td>
                                                        @*<input name="LobPricingList[@i].SPRCVPercent" type="text" value="@pricing.SPRCVPercent" style="width:80px;"/>*@

                                                    </td>
                                                    <td>
                                                        @* <input name="LobPricingList[@i].SPXPercent" type="text" value="@pricing.SPXPercent" style="width:80px;"/>*@

                                                    </td>
                                                    <td align="left">
                                                        <input name="LobPricingList[@i].IsTimeNExpance" type="checkbox" onclick="CheckChanged('tblLOBPricingList','@i    ','true')"
                                                             checked="checked"   value="@pricing.IsTimeNExpance.Value.ToString()" style="width:50px;" /></td>
                                                    
                                                     @*@(pricing.IsTimeNExpance.HasValue? (pricing.IsTimeNExpance.Value ? "checked=\"checked\"" : "" ):"")*@
                                                }
                                                else
                                                {
                                                     <td>
                                                    <input name="LobPricingList[@i].BaseServiceFee" type="text" value="@pricing.BaseServiceFee" style="width:80px;" />
                                                </td>
                                                    <td>
                                                        <input name="LobPricingList[@i].SPServiceFee" type="text" value="@pricing.SPServiceFee" style="width:80px;" /></td>
                                                    <td>
                                                        <input name="LobPricingList[@i].RCVPercent" type="text" value="@pricing.RCVPercent" style="width:50px;"/></td>
                                                    <td>
                                                        <input name="LobPricingList[@i].SPRCVPercent" type="text" value="@pricing.SPRCVPercent" style="width:50px;"/></td>
                                                    <td>
                                                        <input name="LobPricingList[@i].SPXPercent" type="text" value="@pricing.SPXPercent" style="width:50px;"/></td>
                                                    <td align="left">
                                                        <input name="LobPricingList[@i].IsTimeNExpance" type="checkbox" onclick="CheckChanged('tblLOBPricingList','@i    ','@pricing.IsTimeNExpance    ')"
                                                      value="@pricing.IsTimeNExpance" style="width:50px;"/></td>
                                                }
                                                <td>
                                                    <img id="@("imgLOBPricingDeleteRow" + i)" onclick="deleteLOBPricingRow('tblLOBPricingList','@pricing.CompanyLOBPricingId')" 
                                                        style="@(i == (Model.LobPricingList.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row"  />
                                                </td>
                                            </tr>
                                                }

                                            }
                                        }
                                    </table>
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <br />
                                                <b><a onclick="addLOBPricingRow('tblLOBPricingList')" style="border: none; color: black; cursor: pointer; text-align: right">
                                                    <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                                                    Add Row</a> &nbsp; 
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="borderTopLightGray" align="right" style="padding-top:3px;">
                                                @*onclick="return ValidatePage('tblLOBPricingList');" *@
                                    <input id="hdnLOBPricingRowCount" name="hdnLOBPricingRowCount" type="hidden" value="@(Model.LobPricingList.Count == 0 ? "1" : Model.LobPricingList.Count + "")" />
                                             @*   <input type="submit" id="newbtn2" class="buttonYellow_100" value="Save" name="newbtn2" />*@
                                                <input type="submit" id="newbtn2" class="btn btn-primary" name="newbtn2" value="Save">
                                            </td>
                                        </tr>
                                    </table>
                                    
                                    
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
           
            }
        
         
        }
    </form>

</body>

@section PageLevelScript{

    <script type="text/javascript">
        $(document).on('change blur', '.decimal', function () {
            var amt = parseFloat(this.value);
            if (isNaN(amt)) {
                $(this).val('');
            }
            else {
                $(this).val(amt.toFixed(2));
            }
        });


    </script>
}
  

