﻿@model BLL.ViewModels.AutoInvoiceViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
      .ui-autocomplete {
        max-height: 600px;
        overflow-y: auto; /* prevent horizontal scrollbar */
        overflow-x: hidden; /* add padding to account for vertical scrollbar */
        z-index: 1000 !important;
    }

</style>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<div style=" text-align: right;">
    <input type="button" onclick="btnNewBatchPayment_Click()" class="btn yellow-crusta" value="New" />

</div>
<div class="portlet-body">
    <div class="table-scrollable">
        <table class="table table-hover fontsizefortbl" id="batchpaymentrecordlist">
            <thead style="background-color: #406E98 !important;color: white;">
                <tr valign="top">
                    <th width="20%" align="left">Claim #</th>
                    <th width="20%" align="left">Invoice #</th>
                    <th width="20%" align="left">InvoiceBalance</th>
                    <th width="20%" align="left">AmountReceived</th>
                    <th width="20%" align="left">Checknumber</th>
                    <th width="20%" align="left">InsuredName</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr id="recordsnotfound">
                    <td colspan="5" style="color:red;text-align:center">- No Records -</td>
                </tr>
            </tbody>
            @*<tfoot>
                <tr>
                    <td colspan="5">
                        <div style="float: right">
                            <img id="imgBatchPaymentsProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;padding-left:5px;" alt="loading" />
                            <input id="btnProcessBatchPayment" type="button" value="Process" class="btn green" onclick="btnProcessBatchPayment_Click()" />
                        </div>
                    </td>
                </tr>
            </tfoot>*@
        </table>
        @*<br />
        <br />
        <table width="100%" cellpadding="3" cellspacing="0" id="batchpaymentprocessrecordlist">*@
</div>
    <div style="float: right">
        <img id="imgBatchPaymentsProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;padding-left:5px;" alt="loading" />
        <input id="btnProcessBatchPayment" type="button" value="Process" class="btn green" onclick="btnProcessBatchPayment_Click()" />
    </div>
</div>

<div id="divBatchPayment" class="modal modal-wide fade in" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width:60%">
        <div class="modal-content">
            <div>
                <div class="modal-header modalHead" style="background-color: #406E98 !important; color: white !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Payment</h4>
                </div>
                <div class="modal-body" >

                    <div id="divBatchPaymentError" class="errorMsg" style="text-align: left; width: 100%;color:red"></div>
                    <div id="divBatchPaymentValidationMsg" class="errorMsg" style="color:red"></div>
                    <div id="trInvoiceavailable" style="display: none">

                        <div colspan="3" style="color: red; font-size: 15px">
                            Invoice Number Not Available


                            <input type="hidden" value="" id="hdnbatchassignmentid" />
                            <input type="hidden" value="" id="hdnbatchdocumentid" />
                            <input type="hidden" value="" id="hdnbatchinvoiceid" />

                            <input type="hidden" value="" id="hdneditrowid" />
                            <input type="hidden" value="" id="hdnbatchclaimid" />

                        </div>


                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form action="#" id="frmCreateRepr" class="form-horizontal">

                            <div class="form-body">

                                <div class="portlet light" style="background-color:#EDF7FB; border: 1px solid lightgray; border-radius:5px !important;margin-left:0px;margin-right:0px">
                                    <div class="portlet-title tabbable-line" style=" margin-bottom: 0px;">
                                        <div class="caption caption-md col-md-2" style="padding-top: 5px;">
                                            <i class="icon-globe theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">FIND </span>
                                        </div>
                                        <div ng-class="CntrlMD" class="col-md-4" style="padding-left: 5px;">
                                            <div class="form-group">

                                                <div class="md-radio-inline">
                                                    <div class="md-radio">
                                                        <input id="rb1" type="radio" name="Rank" value="1" checked="checked" class="md-radiobtn" />
                                                        <label for="rb1">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Invoice
                                                        </label>
                                                    </div>
                                                    <div class="md-radio">
                                                        <input id="rb2" type="radio" name="Rank" value="2" class="md-radiobtn" />
                                                        @*<input type="radio" id="checkbox1_9" name="radio2" value="2" class="md-radiobtn">*@
                                                        <label for="rb2">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Claim
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div ng-class="CntrlMD" class="col-md-6" style="padding-left: 5px;">
                                            <div class="form-group">
                                                <div class="text">
                                                    <table>
                                                        <tr>
                                                            <td></td>
                                                            <td><input type="text" name="txtbatchSearchInvoice" id="txtbatchSearchInvoice" class="form-control" /></td>
                                                            <td><input id="btnCheckInvoice" type="button" value="Retrieve" class="btn blue" onclick="btnCheckInvoice_Click()" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="text1">
                                                    <table>
                                                        <tr>
                                                            <td><input type="text" name="txtbatchSearchclaim" id="txtbatchSearchclaim" class="form-control" /></td>
                                                            <td>
                                                                <input type="button" name="btngetInvoiceList" id="btngetInvoiceList" onclick="GetInvoice()" class="btn blue" value="Get Invoices">

                                                            </td>
                                                            <td>
                                                                &nbsp;&nbsp;
                                                                <img id="imgGetinvoiceProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;padding-left:5px;" alt="loading" />

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Html.DropDownListFor(model => model.InvoiceId, (IEnumerable<SelectListItem>)new List<SelectListItem> { new SelectListItem { Text = "--Select Invoice--", Value = "0", Selected = true } }, new { @id = "InvoiceList", style = "width: 100%;", @class = "form-control" })
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                              
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Invoice #:

                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="txtbatchinvoice" id="txtbatchinvoice" class="form-control" readonly="true" />
                                    </div>

                                </div>


                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Insured Name #:

                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="txtbatchInsuredname" id="txtbatchInsuredname" class="form-control" readonly="true" />
                                    </div>

                                </div>


                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Claim #:
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="txtbatchclaim" id="txtbatchclaim" class="form-control" readonly="true" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Invoice Total:
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="txtbatchinvoicetotal" id="txtbatchinvoicetotal" class="form-control" readonly="true" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Invoice Balance Due:
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="txtbatchinvoicebalance" id="txtbatchinvoicebalance" class="form-control" readonly="true" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Total Balance Due:
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="txtbatchtotalinvoicebalance" id="txtbatchtotalinvoicebalance" class="form-control" readonly="true" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Amount Received:
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="txtbatchamountreceived" id="txtbatchamountreceived" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Check No:
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="txtbatchcheckno" id="txtbatchcheckno" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Date Received:
                                    </label>
                                    <div class="col-md-8">
                                        @*<input type="text" name="txtbatchreceiveddate" class="form-control DatePickerTextBox" id="txtbatchreceiveddate" />*@
                                        <div class="input-group input-medium date date-picker" data-date-format="mm-dd-yyyy" data-date-viewmode="years">
                                            @*<input type="text" class="form-control" readonly>*@
                                            @*@Html.TextBoxFor(model => model.claim.DateofLoss, new { @id = "txtDateofLoss", @class = "form-control" })*@
                                            <input type="text" id="txtbatchreceiveddate" name="txtbatchreceiveddate" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <img id="imgAddBatchPaymentProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;padding-left:5px;" alt="loading" />
                <input id="btnCancelBatchPayment" type="button" value="Cancel" class="btn blue" onclick="disablePopupNewBatchPayment();" />
                <input id="btnSaveBatchPayment" type="button" value="Save" class="btn blue" onclick="btnSaveBatchPayment_Click()" />
            </div>
        </div>
    </div>
</div>

@section PageLevelScript{

<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var i=0;
        function btnNewBatchPayment_Click() {
            $('#btnProcessBatchPayment').removeAttr('disabled');
            $("#spnBatchPaymentHeading").html("Add ");
            $("#btnSaveBatchPayment").val("Add");
            $("#divBatchPaymentValidationMsg").empty();
            $('#rb2').attr('disabled', false);

            $('#rb1').prop("checked",true);
            $(".text").show();
            $(".text1").hide();
            //$("#btngetInvoiceList").hide();
            //$('#txtbatchSearchclaim').val('');
            //$('#txtbatchSearchinvoice').val('');
            $('#btnCheckInvoice').attr('disabled', false);

            loadPopupBatchPayment();
        }
        function ClearPopupBatchPayment() {
            //debugger;
            //disables popup only if it is enabled
            var popupStatus = 1;
            if (popupStatus == 1) {

                $('#txtbatchinvoice').val('');
                $('#txtbatchclaim').val('');
                $('#txtbatchinvoicetotal').val('');
                $('#txtbatchinvoicebalance').val('');
                $('#txtbatchtotalinvoicebalance').val('');
                $('#hdnbatchassignmentid').val('');
                $('#txtbatchamountreceived').val('');
                $('#txtbatchcheckno').val('');
                $('#txtbatchreceiveddate').val('');
                $('#txtbatchdoctitle').val('');
                $('#batchuploadFile').val('');
                $('#hdnbatchinvoiceid').val('');
                $('#hdnbatchclaimid').val('');
                $('#txtbatchInsuredname').val('');
                $('#txtbatchSearchInvoice').val('');
                $('#txtbatchSearchclaim').val('');




                $("#InvoiceList").empty();
                var item = [];
                item.push("<option value='0'>--Select Invoice--</option>");
                $("#InvoiceList").html(item.join(' '));

                //$('#tablefileupload').css("display", "table");
                //$("#divBgEditPopupBatchPayment").fadeOut("slow");
                //$("#divBatchPayment").fadeOut("slow");
                popupStatus = 0;
            }
        }

        $(document).ready(function () {
            $("#InvoiceList").hide();
            $('#btngetInvoiceList').hide();
            $('#trbatchprocessing').css("display", "none");


            $(".text1").hide();
            $("#btngetInvoiceList").hide();
            $('#txtbatchSearchInvoice').focus();
            $("#rb1").click(function () {

                $(".text").show();
                ClearPopupBatchPayment();
                $(".text1").hide();
                $("#btngetInvoiceList").hide();

                $("#InvoiceList").hide();
                $('#txtbatchSearchInvoice').focus();

            });
            $("#rb2").click(function () {
                ClearPopupBatchPayment();

                $(".text").hide();
                $(".text1").show();
                $("#btngetInvoiceList").show();

                $('#txtbatchSearchclaim').focus();
                $("#InvoiceList").show();

            });
            $('#InvoiceList').change(function () {
                btnCheckInvoice_Click();
            });

        });
        function disablePopupNewBatchPayment() {
            //debugger;
            //disables popup only if it is enabled
            var popupStatus = 1;
            if (popupStatus == 1) {

                $('#txtbatchinvoice').val('');
                $('#txtbatchclaim').val('');
                $('#txtbatchinvoicetotal').val('');
                $('#txtbatchinvoicebalance').val('');
                $('#txtbatchtotalinvoicebalance').val('');
                $('#hdnbatchassignmentid').val('');
                $('#txtbatchamountreceived').val('');
                $('#txtbatchcheckno').val('');
                $('#txtbatchreceiveddate').val('');
                $('#txtbatchdoctitle').val('');
                $('#batchuploadFile').val('');
                $('#hdnbatchinvoiceid').val('');
                $('#hdnbatchclaimid').val('');
                $('#txtbatchInsuredname').val('');

                $('#rb1').attr('checked', 'checked');
                $('#txtbatchSearchInvoice').val('');
                $('#txtbatchSearchclaim').val('');
                $(".text").show();
                $(".text1").hide();

                $("#InvoiceList").empty();
                var item = [];
                item.push("<option value='0'>--Select Invoice--</option>");
                $("#InvoiceList").html(item.join(''));

                $('#tablefileupload').css("display", "table");
                //$("#divBgEditPopupBatchPayment").fadeOut("slow");
                //$("#divBatchPayment").fadeOut("slow");
                $("#divBatchPayment").modal('hide');
                popupStatus = 0;
            }
        }


        function btnCheckInvoice_Click() {


            debugger;
            //if ($("#txtbatchSearchinvoice").is(':hidden') == true) {
            //    var invoiceno = $('#InvoiceList').val();
            //}
            //else {
            //    var invoiceno = $("#txtbatchSearchInvoice").val();
            //}



            if ($("#rb2").is(":checked")) {
                var invoiceno = $('#InvoiceList').val();
                $('#txtbatchinvoice').val(invoiceno);
            }
            if ($("#rb1").is(":checked")) {
                var invoiceno = $('#txtbatchSearchInvoice').val();
                $('#txtbatchinvoice').val(invoiceno);
            }


            $.ajax({
                url: '@Url.Action("GetBatchPaymentsDetails", "BatchPayments")',
                contentType: 'application/json; charset=utf-8',
                data: { InvoiceNo: invoiceno },
                cache: false,
                success: function (data) {

                    var result = JSON.parse(data);


                    debugger;
                    //alert(result.ClaimId);

                    if (result.ClaimId == 1) {
                        // $('#trInvoiceavailable').css('display', 'table-row');

                        var validationmsg = "Invoice Not Available.<br/>";
                        $("#divBatchPaymentValidationMsg").html(validationmsg);


                    }
                    else {
                        // $('#trInvoiceavailable').css('display', 'none');
                        $("#divBatchPaymentValidationMsg").empty();

                        $('#hdnbatchclaimid').val(result.ClaimId);
                        $('#txtbatchclaim').val(result.claimNumber);
                        $('#txtbatchinvoicetotal').val(result.InvoiceTotal);
                        $('#txtbatchinvoicebalance').val(result.InvoiceBalanceDue);
                        $('#txtbatchtotalinvoicebalance').val(result.TotalBalanceDue);
                        $('#hdnbatchassignmentid').val(result.AssignmentId);
                        $('#hdnbatchinvoiceid').val(result.InvoiceId);
                        $('#txtbatchamountreceived').val('');
                        $('#txtbatchcheckno').val();
                        $('#txtbatchreceiveddate').val();
                        $('#txtbatchInsuredname').val(result.InsuredName);
                        var invoicebalancedue = parseFloat(UnFormatCurrency(result.InvoiceBalanceDue));
                        var totalbalancedue = parseFloat(UnFormatCurrency(result.TotalBalanceDue));
                        var rows = $('#batchpaymentrecordlist tr:has(td)').each(function (i, v) {
                            debugger;

                            var $td = $('td', this);

                            if ($('#hdnbatchclaimid').val() == $td.eq(11).text() && $('#hdnbatchinvoiceid').val() == $td.eq(10).text()) {

                                invoicebalancedue = invoicebalancedue - parseFloat(UnFormatCurrency($td.eq(3).text()));
                                totalbalancedue = totalbalancedue - parseFloat(UnFormatCurrency($td.eq(3).text()));



                            }
                            else {

                                if ($('#hdnbatchclaimid').val() == $td.eq(11).text()) {

                                    totalbalancedue = totalbalancedue - parseFloat(UnFormatCurrency($td.eq(3).text()));

                                }

                            }



                        });
                        invoicebalancedue = invoicebalancedue.toFixed(2);
                        totalbalancedue = totalbalancedue.toFixed(2);
                        $('#txtbatchinvoicebalance').val(invoicebalancedue);
                        $('#txtbatchtotalinvoicebalance').val(totalbalancedue);
                        invoicebalancedue = 0;
                        totalbalancedue = 0;



                        //var tbl = $('#batchpaymentrecordlist tr:has(td)').map(function (i, v) {
                        //    var $td = $('td', this);
                        //    return {

                        //        InvoiceId: $td.eq(10).text(),
                        //        ReceivedDate: $td.eq(7).text(),
                        //        AmountReceived: $td.eq(3).text(),
                        //        CheckNumber: $td.eq(4).text()
                        //    }
                        //}).get();





                    }
                }
            });
        }


        function btnSaveBatchPayment_Click() {
            debugger;



            $("#divBatchPaymentValidationMsg").empty();
            var isValid = true;
            var validationMsg = "";
            if ($("#txtbatchamountreceived").val().trim().length == 0) {
                isValid = false;
                validationMsg += "Amount Received is required. <br/>";
            }
            else {
                if (parseFloat(UnFormatCurrency($("#txtbatchamountreceived").val())) > parseFloat(UnFormatCurrency($("#txtbatchinvoicebalance").val()))) {
                    isValid = false;
                    validationMsg += "Amount Received is more than the Balance Due. <br/>";
                }
            }
            //alert($("#txtCheckNumber").val() + ' ' + $("#txtCheckNumber").val().trim().length);
            if ($("#txtbatchcheckno").val().trim().length == 0) {
                isValid = false;
                validationMsg += "Check No. is required. <br/>";
            }
            if ($("#txtbatchreceiveddate").val().trim().length == 0) {
                isValid = false;
                validationMsg += "Received Date is required. <br/>";
            }


            if (isValid) {


                var saveText = $('#btnSaveBatchPayment').val();

                if (saveText == "Add") {

                    $('#imgAddBatchPaymentProcessing').show();

                    var fileInput = document.getElementById('batchuploadFile');
                    // var assignmentid = $('#hdnbatchassignmentid').val();
                    // var title = $('#txtbatchdoctitle').val();
                    var formdata = new FormData();

                    $('#imgAddBatchPaymentProcessing').hide();
                    Addrow("0");

                    @*if (fileInput.files.length > 0) {
                        debugger;
                        formdata.append(fileInput.files[0].name, fileInput.files[0]);
                        formdata.append("assignmentid", $('#hdnbatchassignmentid').val());
                        formdata.append("title", $('#txtbatchdoctitle').val());

                        $.ajax({
                            url: '@Url.Action("UploadFile", "BatchPayments")',

                            contentType: false,
                            processData: false,
                            data: formdata,
                            type: 'POST',
                            success: function (data) {
                                debugger;
                                if (data != 1) {
                                    debugger;

                                    $('#imgAddBatchPaymentProcessing').hide();
                                    Addrow(data);
                                    //$('#hdnbatchdocumentid').val(data);

                                    //var assignmentid = $('#hdnbatchassignmentid').val();
                                    //var claimnumber = $('#txtbatchclaim').val();
                                    //var invoicenumber = $('#txtbatchinvoice').val();
                                    //var invoicebal = $('#txtbatchinvoicebalance').val();
                                    //var amountreceived = $('#txtbatchamountreceived').val();
                                    //var checkno = $('#txtbatchcheckno').val();
                                    //var datereceived = $('#txtbatchreceiveddate').val();
                                    //var documentid = $('#hdnbatchdocumentid').val();
                                    //var invoicetotal = $('#txtbatchinvoicetotal').val();
                                    //var totalbalancedue = $('#txtbatchtotalinvoicebalance').val();
                                    //var invoiceid = $('#hdnbatchinvoiceid').val();



                                    //debugger;

                                    //if ($('#batchpaymentrecordlist tr #recordsnotfound').length > 0) {
                                    //    document.getElementById("batchpaymentrecordlist").deleteRow(1);
                                    //}

                                    //var imagurl = "../Content/Images/cancel.png";
                                    //if (i % 2 == 0) {

                                    //    var html = '<tr class="tableRow" id=tr' + i + '>' +
                                    //                '<td width="20%">' + claimnumber + '</td>' +
                                    //                '<td width="20%">' + invoicenumber + '</td>' +
                                    //                '<td width="20%">' + invoicebal + '</td>' +
                                    //                '<td width="20%">' + amountreceived + '</td>' +
                                    //                '<td width="10%">' + checkno + '</td>' +
                                    //                '<td width="10%" style="display:none" id=tdbatchdoc' + i + '>' + documentid + '</td>' +
                                    //                '<td style="display:none" id=tdassignmentid' + i + '>' + assignmentid + '</td>' +
                                    //                '<td style="display:none" id=tddatereceived' + i + '>' + datereceived + '</td>' +
                                    //                 '<td style="display:none" id=tdinvoicetotal' + i + '>' + invoicetotal + '</td>' +
                                    //                 '<td style="display:none" id=tdtotalbalancedue' + i + '>' + totalbalancedue + '</td>' +
                                    //                 '<td style="display:none" id=tdinvoice' + i + '>' + invoiceid + '</td>' +

                                    //                '<td align="right" nowrap="nowrap"><img alt="Edit" onclick="btnEditBatchPayment_Click(' + i + ')" src="../Content/Images/Edit.png" title="Edit" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /><img alt="Delete" onclick="btnDeleteBatchPayment_Click(' + i + ')" src="../Content/Images/cancel.png" title="Delete" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /></td>' +
                                    //                '</tr>'
                                    //    // alert(html);
                                    //    $(html).appendTo($("#batchpaymentrecordlist"))
                                    //}
                                    //else {
                                    //    var html = '<tr class="tableRowAlternate" id=tr' + i + '>' +
                                    //               '<td width="20%">' + claimnumber + '</td>' +
                                    //               '<td width="20%">' + invoicenumber + '</td>' +
                                    //               '<td width="20%">' + invoicebal + '</td>' +
                                    //               '<td width="20%">' + amountreceived + '</td>' +
                                    //               '<td width="10%">' + checkno + '</td>' +
                                    //                '<td width="10%" style="display:none" id=tdbatchdoc' + i + '>' + documentid + '</td>' +
                                    //                '<td style="display:none" id=tdassignmentid' + i + '>' + assignmentid + '</td>' +
                                    //                '<td style="display:none" id=tddatereceived' + i + '>' + datereceived + '</td>' +
                                    //                 '<td style="display:none" id=tdinvoicetotal' + i + '>' + invoicetotal + '</td>' +
                                    //                 '<td style="display:none" id=tdtotalbalancedue' + i + '>' + totalbalancedue + '</td>' +
                                    //                 '<td style="display:none" id=tdinvoice' + i + '>' + invoiceid + '</td>' +

                                    //               '<td align="right" nowrap="nowrap"><img alt="Edit" onclick="btnEditBatchPayment_Click(' + i + ')" src="../Content/Images/Edit.png" title="Edit" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /><img alt="Delete" onclick="btnDeleteBatchPayment_Click(' + i + ')" src="../Content/Images/cancel.png" title="Delete" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /></td>' +
                                    //               '</tr>'
                                    //    $(html).appendTo($("#batchpaymentrecordlist"))



                                    //}
                                    //i++;

                                    //$('#txtbatchinvoice').val('');
                                    //$('#txtbatchclaim').val('');
                                    //$('#txtbatchinvoicetotal').val('');
                                    //$('#txtbatchinvoicebalance').val('');
                                    //$('#txtbatchtotalinvoicebalance').val('');
                                    //$('#hdnbatchassignmentid').val('');
                                    //$('#txtbatchamountreceived').val('');
                                    //$('#txtbatchcheckno').val('');
                                    //$('#txtbatchreceiveddate').val('');
                                    //$('#txtbatchdoctitle').val('');
                                    //$('#batchuploadFile').val('');
                                    //$('#hdnbatchinvoiceid').val('');
                                    //$("#divBgEditPopupBatchPayment").fadeOut("slow");
                                    //$("#divBatchPayment").fadeOut("slow");
                                }

                            }
                        });

                    }
                    else {

                        $('#imgAddBatchPaymentProcessing').hide();
                        Addrow('0');
                        //$('#hdnbatchdocumentid').val('0');

                        //var assignmentid = $('#hdnbatchassignmentid').val();
                        //var claimnumber = $('#txtbatchclaim').val();
                        //var invoicenumber = $('#txtbatchinvoice').val();
                        //var invoicebal = $('#txtbatchinvoicebalance').val();
                        //var amountreceived = $('#txtbatchamountreceived').val();
                        //var checkno = $('#txtbatchcheckno').val();
                        //var datereceived = $('#txtbatchreceiveddate').val();
                        //var documentid = $('#hdnbatchdocumentid').val();
                        //var invoicetotal = $('#txtbatchinvoicetotal').val();
                        //var totalbalancedue = $('#txtbatchtotalinvoicebalance').val();
                        //var invoiceid = $('#hdnbatchinvoiceid').val();



                        //debugger;

                        //if ($('#batchpaymentrecordlist tr #recordsnotfound').length > 0) {
                        //    document.getElementById("batchpaymentrecordlist").deleteRow(1);
                        //}

                        //var imagurl = "../Content/Images/cancel.png";
                        //if (i % 2 == 0) {

                        //    var html = '<tr class="tableRow" id=tr' + i + '>' +
                        //                '<td width="20%">' + claimnumber + '</td>' +
                        //                '<td width="20%">' + invoicenumber + '</td>' +
                        //                '<td width="20%">' + invoicebal + '</td>' +
                        //                '<td width="20%">' + amountreceived + '</td>' +
                        //                '<td width="10%">' + checkno + '</td>' +
                        //                '<td width="10%" style="display:none" id=tdbatchdoc' + i + '>' + documentid + '</td>' +
                        //                '<td style="display:none" id=tdassignmentid' + i + '>' + assignmentid + '</td>' +
                        //                '<td style="display:none" id=tddatereceived' + i + '>' + datereceived + '</td>' +
                        //                 '<td style="display:none" id=tdinvoicetotal' + i + '>' + invoicetotal + '</td>' +
                        //                 '<td style="display:none" id=tdtotalbalancedue' + i + '>' + totalbalancedue + '</td>' +
                        //                 '<td style="display:none" id=tdinvoice' + i + '>' + invoiceid + '</td>' +

                        //                '<td align="right" nowrap="nowrap"><img alt="Edit" onclick="btnEditBatchPayment_Click(' + i + ')" src="../Content/Images/Edit.png" title="Edit" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /><img alt="Delete" onclick="btnDeleteBatchPayment_Click(' + i + ')" src="../Content/Images/cancel.png" title="Delete" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /></td>' +
                        //                '</tr>'
                        //    // alert(html);
                        //    $(html).appendTo($("#batchpaymentrecordlist"))
                        //}
                        //else {
                        //    var html = '<tr class="tableRowAlternate" id=tr' + i + '>' +
                        //               '<td width="20%">' + claimnumber + '</td>' +
                        //               '<td width="20%">' + invoicenumber + '</td>' +
                        //               '<td width="20%">' + invoicebal + '</td>' +
                        //               '<td width="20%">' + amountreceived + '</td>' +
                        //               '<td width="10%">' + checkno + '</td>' +
                        //                '<td width="10%" style="display:none" id=tdbatchdoc' + i + '>' + documentid + '</td>' +
                        //                '<td style="display:none" id=tdassignmentid' + i + '>' + assignmentid + '</td>' +
                        //                '<td style="display:none" id=tddatereceived' + i + '>' + datereceived + '</td>' +
                        //                 '<td style="display:none" id=tdinvoicetotal' + i + '>' + invoicetotal + '</td>' +
                        //                 '<td style="display:none" id=tdtotalbalancedue' + i + '>' + totalbalancedue + '</td>' +
                        //                 '<td style="display:none" id=tdinvoice' + i + '>' + invoiceid + '</td>' +

                        //               '<td align="right" nowrap="nowrap"><img alt="Edit" onclick="btnEditBatchPayment_Click(' + i + ')" src="../Content/Images/Edit.png" title="Edit" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /><img alt="Delete" onclick="btnDeleteBatchPayment_Click(' + i + ')" src="../Content/Images/cancel.png" title="Delete" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /></td>' +
                        //               '</tr>'
                        //    $(html).appendTo($("#batchpaymentrecordlist"))



                        //}
                        //i++;

                        //$('#txtbatchinvoice').val('');
                        //$('#txtbatchclaim').val('');
                        //$('#txtbatchinvoicetotal').val('');
                        //$('#txtbatchinvoicebalance').val('');
                        //$('#txtbatchtotalinvoicebalance').val('');
                        //$('#hdnbatchassignmentid').val('');
                        //$('#txtbatchamountreceived').val('');
                        //$('#txtbatchcheckno').val('');
                        //$('#txtbatchreceiveddate').val('');
                        //$('#txtbatchdoctitle').val('');
                        //$('#batchuploadFile').val('');
                        //$('#hdnbatchinvoiceid').val('');
                        //$("#divBgEditPopupBatchPayment").fadeOut("slow");
                        //$("#divBatchPayment").fadeOut("slow");



                    }*@
                    $('#tablefileupload').css("display", "table");
                }
                else {

                    //    var rowtoeditid = $('#hdneditrowid').val();

                    $('#imgAddBatchPaymentProcessing').show();
                    var fileInput = document.getElementById('batchuploadFile');
                    // var assignmentid = $('#hdnbatchassignmentid').val();
                    // var title = $('#txtbatchdoctitle').val();
                    var formdata = new FormData();
                    $('#imgAddBatchPaymentProcessing').hide();
                    Editrow("0");
                    @*if (fileInput.files.length > 0) {
                        debugger;
                        formdata.append(fileInput.files[0].name, fileInput.files[0]);
                        formdata.append("assignmentid", $('#hdnbatchassignmentid').val());
                        formdata.append("title", $('#txtbatchdoctitle').val());

                        $.ajax({
                            url: '@Url.Action("UploadFile", "BatchPayments")',

                            contentType: false,
                            processData: false,
                            data: formdata,
                            type: 'POST',
                            success: function (data) {
                                debugger;
                                if (data != 1) {
                                    debugger;
                                    $('#imgAddBatchPaymentProcessing').hide();
                                    Editrow(data);

                                    //$('#hdnbatchdocumentid').val(data);

                                    //var assignmentid = $('#hdnbatchassignmentid').val();
                                    //var claimnumber = $('#txtbatchclaim').val();
                                    //var invoicenumber = $('#txtbatchinvoice').val();
                                    //var invoicebal = $('#txtbatchinvoicebalance').val();
                                    //var amountreceived = $('#txtbatchamountreceived').val();
                                    //var checkno = $('#txtbatchcheckno').val();
                                    //var datereceived = $('#txtbatchreceiveddate').val();
                                    //var documentid = $('#hdnbatchdocumentid').val();
                                    //var invoicetotal = $('#txtbatchinvoicetotal').val();
                                    //var totalbalancedue = $('#txtbatchtotalinvoicebalance').val();
                                    //var invoiceid = $('#hdnbatchinvoiceid').val();


                                    //var td = $("#batchpaymentrecordlist #" + rowtoeditid + ' td');


                                    //$(td).eq(5).text(documentid);
                                    //$(td).eq(1).text(invoicenumber);
                                    //$(td).eq(0).text(claimnumber);
                                    //$(td).eq(8).text(invoicetotal);
                                    //$(td).eq(2).text(invoicebal);
                                    //$(td).eq(9).text(totalbalancedue);
                                    //$(td).eq(6).text(assignmentid);
                                    //$(td).eq(3).text(amountreceived);
                                    //$(td).eq(4).text(checkno);
                                    //$(td).eq(7).text(datereceived);
                                    //$(td).eq(10).text(invoiceid);
                                    //$('#txtbatchdoctitle').val('');
                                    //$('#batchuploadFile').val('');





                                    //$('#txtbatchinvoice').val('');
                                    //$('#txtbatchclaim').val('');
                                    //$('#txtbatchinvoicetotal').val('');
                                    //$('#txtbatchinvoicebalance').val('');
                                    //$('#txtbatchtotalinvoicebalance').val('');
                                    //$('#hdnbatchassignmentid').val('');
                                    //$('#txtbatchamountreceived').val('');
                                    //$('#txtbatchcheckno').val('');
                                    //$('#txtbatchreceiveddate').val('');
                                    //$('#txtbatchdoctitle').val('');
                                    //$('#batchuploadFile').val('');
                                    //$('#hdnbatchinvoiceid').val('');
                                    //$("#divBgEditPopupBatchPayment").fadeOut("slow");
                                    //$("#divBatchPayment").fadeOut("slow");
                                }

                            }
                        });

                    }
                    else {


                        $('#imgAddBatchPaymentProcessing').hide();
                        Editrow('0');
                        //   $('#hdnbatchdocumentid').val('0');

                        //   var assignmentid = $('#hdnbatchassignmentid').val();
                        //   var claimnumber = $('#txtbatchclaim').val();
                        //   var invoicenumber = $('#txtbatchinvoice').val();
                        //   var invoicebal = $('#txtbatchinvoicebalance').val();
                        //   var amountreceived = $('#txtbatchamountreceived').val();
                        //   var checkno = $('#txtbatchcheckno').val();
                        //   var datereceived = $('#txtbatchreceiveddate').val();
                        //   //var documentid = $('#hdnbatchdocumentid').val();
                        //   var invoicetotal = $('#txtbatchinvoicetotal').val();
                        //   var totalbalancedue = $('#txtbatchtotalinvoicebalance').val();
                        //   var invoiceid = $('#hdnbatchinvoiceid').val();





                        //   var td = $("#batchpaymentrecordlist #" + rowtoeditid + ' td');


                        ////   $(td).eq(5).text(documentid);
                        //   $(td).eq(1).text(invoicenumber);
                        //   $(td).eq(0).text(claimnumber);
                        //   $(td).eq(8).text(invoicetotal);
                        //   $(td).eq(2).text(invoicebal);
                        //   $(td).eq(9).text(totalbalancedue);
                        //   $(td).eq(6).text(assignmentid);
                        //   $(td).eq(3).text(amountreceived);
                        //   $(td).eq(4).text(checkno);
                        //   $(td).eq(7).text(datereceived);
                        //   $(td).eq(10).text(invoiceid);
                        //   $('#txtbatchdoctitle').val('');
                        //   $('#batchuploadFile').val('');





                        //   $('#txtbatchinvoice').val('');
                        //   $('#txtbatchclaim').val('');
                        //   $('#txtbatchinvoicetotal').val('');
                        //   $('#txtbatchinvoicebalance').val('');
                        //   $('#txtbatchtotalinvoicebalance').val('');
                        //   $('#hdnbatchassignmentid').val('');
                        //   $('#txtbatchamountreceived').val('');
                        //   $('#txtbatchcheckno').val('');
                        //   $('#txtbatchreceiveddate').val('');
                        //   $('#txtbatchdoctitle').val('');
                        //   $('#batchuploadFile').val('');
                        //   $('#hdnbatchinvoiceid').val('');
                        //   $('#hdnbatchinvoiceid').val('');
                        //   $("#divBgEditPopupBatchPayment").fadeOut("slow");
                        //   $("#divBatchPayment").fadeOut("slow");



                    }*@


                    $('#tablefileupload').css("display", "table");



                }

                disablePopupNewBatchPayment();

            }
            else {

                $("#divBatchPaymentValidationMsg").html(validationMsg);

            }

        }

        function btnDeleteBatchPayment_Click(i) {
            debugger;
            var documentid = $("#batchpaymentrecordlist tr #tdbatchdoc" + i).text();
            //var flag = 1;

            //if($("#batchpaymentrecordlist tr").length>

            //  if (documentid > 0) {

            if (confirm('Are you sure you want to delete?')) {


                if (documentid > 0) {


                    $.post('@Url.Content("~/BatchPayments/DeleteClaimDocument")',
                    { claimDocumentId: documentid },
                    function (responseData) {
                        if (responseData == 1) {
                            $("#batchpaymentrecordlist #tr" + i).remove();
                            if ($("#batchpaymentrecordlist tr").length == 1) {
                                var html = '<tr id="recordsnotfound">' +
                                    '<td colspan="5" style="color:red;text-align:center">- No Records -</td>' +
                                '</tr>'
                                $(html).appendTo($("#batchpaymentrecordlist"))

                            }
                        }
                    });
                }
                else {

                    $("#batchpaymentrecordlist #tr" + i).remove();
                    if ($("#batchpaymentrecordlist tr").length == 1) {
                        var html = '<tr id="recordsnotfound">' +
                            '<td colspan="5" style="color:red;text-align:center">- No Records -</td>' +
                        '</tr>'
                        $(html).appendTo($("#batchpaymentrecordlist"))
                    }
                }
            }
            else { }

        }

        function btnEditBatchPayment_Click(i) {
            debugger;
            $("#divBatchPaymentValidationMsg").empty();
            $("#spnBatchPaymentHeading").html("Edit ");
            $("#btnSaveBatchPayment").val("Edit");
            var td = $("#batchpaymentrecordlist #tr" + i + ' td');

            $('#hdneditrowid').val('tr' + i);


            var documentid = $(td).eq(5).text();

            if (documentid > 0) {

                $('#tablefileupload').css("display", "none");
            }
            else {
                $('#tablefileupload').css("display", "table");
            }


            $('#txtbatchinvoice').val($(td).eq(1).text());
            $('#txtbatchclaim').val($(td).eq(0).text());
            $('#txtbatchinvoicetotal').val($(td).eq(8).text());
            $('#txtbatchinvoicebalance').val($(td).eq(2).text());
            $('#txtbatchtotalinvoicebalance').val($(td).eq(9).text());
            $('#hdnbatchassignmentid').val($(td).eq(6).text());
            $('#txtbatchamountreceived').val($(td).eq(3).text());
            $('#txtbatchcheckno').val($(td).eq(4).text());
            $('#txtbatchreceiveddate').val($(td).eq(7).text());
            $('#hdnbatchinvoiceid').val($(td).eq(10).text());
            $('#hdnbatchclaimid').val($(td).eq(11).text());
            $('#txtbatchInsuredname').val($(td).eq(12).text());
            $('#txtbatchdoctitle').val('');
            $('#batchuploadFile').val('');

            $('#rb2').attr('disabled', true);

            $(".text").show();
            $(".text1").hide();
            $('#btnCheckInvoice').attr('disabled', true);

            loadPopupBatchPayment();


        }
        function loadPopupBatchPayment() {

            //centerPopupNewBatchPayment();
            //$("#divBgEditPopupBatchPayment").css({
            //    "opacity": "0.7"
            //});

            //$("#divBgEditPopupBatchPayment").fadeIn("slow");
            $("#divBatchPayment").modal("show");
            $('#txtbatchinvoice').focus();

        }
        function GetInvoice() {
            $('#imgGetinvoiceProcessing').css("display", "block");
            var Claimnumber;
            Claimnumber = $('#txtbatchSearchclaim').val();
            $.ajax({
                url: '@Url.Action("GetInvoiceList", "BatchPayments")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: { Claimnumber: Claimnumber },
                type: 'GET',
                success: function (data) {

                    var data1 = data;
                    if (data1 == null) {
                        // $('#trInvoiceavailable').css('display', 'table-row');

                        var validationmsg = "Invoice Not Available.<br/>";
                        $("#divBatchPaymentValidationMsg").html(validationmsg);


                    } else if (data1 == "No Invoice") {
                        // $('#trInvoiceavailable').css('display', 'table-row');

                        var validationmsg = "Invoice Not Available.<br/>";
                        $("#divBatchPaymentValidationMsg").html(validationmsg);


                    }
                    else if (data1 == "No Claim") {
                        var validationmsg = "Claim Not Available.<br/>";
                        $("#divBatchPaymentValidationMsg").html(validationmsg);
                    }
                    else {
                        $("#divBatchPaymentValidationMsg").empty();

                        $("#InvoiceList").empty();
                        var item = [];
                        item.push("<option value='0'>--Select Invoice--</option>");
                        $.each(data, function () {
                            item.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                        });
                        $("#InvoiceList").html(item.join(' '));

                    }
                }
            });
            $('#imgGetinvoiceProcessing').css("display", "none");


        }
        function btnProcessBatchPayment_Click() {

            // debugger;

            $('#btnProcessBatchPayment').attr('disabled', 'disabled');
            $('#imgBatchPaymentsProcessing').show();

            var tbl = $('#batchpaymentrecordlist tr:has(td)').map(function (i, v) {
                var $td = $('td', this);
                return {

                    InvoiceId: $td.eq(10).text(),
                    ReceivedDate: $td.eq(7).text(),
                    AmountReceived: $td.eq(3).text(),
                    CheckNumber: $td.eq(4).text()
                }
            }).get();

            //  var formdata = new FormData();
            //formdata.append("JsonData", tbl);

            $.ajax({
                url: '@Url.Action("ProcessBatchPayment", "BatchPayments")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(tbl),
                type: 'POST',
                success: function (data) {


                    if (data == 1) {

                        $('#trbatchprocessing').css("display", "table-row");
                        $("#batchpaymentrecordlist").find("tr:gt(0)").remove();
                        var html = '<tr id="recordsnotfound">' +
                                  '<td colspan="5" style="color:red;text-align:center">- No Records -</td>' +
                              '</tr>'
                        $(html).appendTo($("#batchpaymentrecordlist"))



                        $('#tdbatchprocessing').text('Records Processed Successfully');

                    }
                    else {
                        $('#trbatchprocessing').css("display", "table-row");
                        $("#batchpaymentrecordlist").find("tr:gt(0)").remove();
                        var html = '<tr id="recordsnotfound">' +
                                  '<td colspan="5" style="color:red;text-align:center">- No Records -</td>' +
                              '</tr>'
                        $(html).appendTo($("#batchpaymentrecordlist"))

                        $('#tdbatchprocessing').text('Error Occurs while Processing Data');

                    }
                    $('#imgBatchPaymentsProcessing').hide();

                    //alert("Successfully Added & processed");
                }
            });


        }

        function Addrow(data) {

            if ($("#rb2").is(":checked")) {
                var invoicenumber = $('#InvoiceList').val();

            }
            if ($("#rb1").is(":checked")) {
                var invoicenumber = $('#txtbatchSearchInvoice').val();

            }
            $('#hdnbatchdocumentid').val(data);

            var assignmentid = $('#hdnbatchassignmentid').val();
            var claimnumber = $('#txtbatchclaim').val();
            //var invoicenumber = $('#txtbatchinvoice').val();
            var invoicebal = $('#txtbatchinvoicebalance').val();
            var amountreceived = $('#txtbatchamountreceived').val();
            var checkno = $('#txtbatchcheckno').val();
            var datereceived = $('#txtbatchreceiveddate').val();
            var documentid = $('#hdnbatchdocumentid').val();
            var invoicetotal = $('#txtbatchinvoicetotal').val();
            var totalbalancedue = $('#txtbatchtotalinvoicebalance').val();
            var invoiceid = $('#hdnbatchinvoiceid').val();
            var claimid = $('#hdnbatchclaimid').val();
            var insuredname = $('#txtbatchInsuredname').val();



            debugger;

            if ($('#batchpaymentrecordlist tr#recordsnotfound').length > 0) {
                document.getElementById("batchpaymentrecordlist").deleteRow(1);
            }

            var imagurl = "../Content/Images/cancel.png";
            if (i % 2 == 0) {

                var html = '<tr class="tableRow" id=tr' + i + '>' +
                            '<td width="20%">' + claimnumber + '</td>' +
                            '<td width="20%">' + invoicenumber + '</td>' +
                            '<td width="20%">' + invoicebal + '</td>' +
                            '<td width="20%">' + amountreceived + '</td>' +
                            '<td width="10%">' + checkno + '</td>' +

                            '<td width="10%" style="display:none" id=tdbatchdoc' + i + '>' + documentid + '</td>' +
                            '<td style="display:none" id=tdassignmentid' + i + '>' + assignmentid + '</td>' +
                            '<td style="display:none" id=tddatereceived' + i + '>' + datereceived + '</td>' +
                             '<td style="display:none" id=tdinvoicetotal' + i + '>' + invoicetotal + '</td>' +
                             '<td style="display:none" id=tdtotalbalancedue' + i + '>' + totalbalancedue + '</td>' +
                             '<td style="display:none" id=tdinvoice' + i + '>' + invoiceid + '</td>' +
                             '<td style="display:none" id=tdclaimid' + i + '>' + claimid + '</td>' +
                              '<td width="10%">' + insuredname + '</td>' +
                            '<td align="right" nowrap="nowrap"><img alt="Edit" onclick="btnEditBatchPayment_Click(' + i + ')" src="../Content/Images/Edit.png" title="Edit" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /><img alt="Delete" onclick="btnDeleteBatchPayment_Click(' + i + ')" src="../Content/Images/cancel.png" title="Delete" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /></td>' +
                            '</tr>'
                // alert(html);
                $(html).appendTo($("#batchpaymentrecordlist"))
            }
            else {
                var html = '<tr class="tableRowAlternate" id=tr' + i + '>' +
                           '<td width="20%">' + claimnumber + '</td>' +
                           '<td width="20%">' + invoicenumber + '</td>' +
                           '<td width="20%">' + invoicebal + '</td>' +
                           '<td width="20%">' + amountreceived + '</td>' +
                           '<td width="10%">' + checkno + '</td>' +

                            '<td width="10%" style="display:none" id=tdbatchdoc' + i + '>' + documentid + '</td>' +
                            '<td style="display:none" id=tdassignmentid' + i + '>' + assignmentid + '</td>' +
                            '<td style="display:none" id=tddatereceived' + i + '>' + datereceived + '</td>' +
                             '<td style="display:none" id=tdinvoicetotal' + i + '>' + invoicetotal + '</td>' +
                             '<td style="display:none" id=tdtotalbalancedue' + i + '>' + totalbalancedue + '</td>' +
                             '<td style="display:none" id=tdinvoice' + i + '>' + invoiceid + '</td>' +
                              '<td style="display:none" id=tdclaimid' + i + '>' + claimid + '</td>' +
                                '<td width="10%">' + insuredname + '</td>' +
                           '<td align="right" nowrap="nowrap"><img alt="Edit" onclick="btnEditBatchPayment_Click(' + i + ')" src="../Content/Images/Edit.png" title="Edit" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /><img alt="Delete" onclick="btnDeleteBatchPayment_Click(' + i + ')" src="../Content/Images/cancel.png" title="Delete" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /></td>' +
                           '</tr>'
                $(html).appendTo($("#batchpaymentrecordlist"))



            }
            i++;
            $('#hdnbatchclaimid').val('');
            $('#txtbatchinvoice').val('');
            $('#txtbatchclaim').val('');
            $('#txtbatchinvoicetotal').val('');
            $('#txtbatchinvoicebalance').val('');
            $('#txtbatchtotalinvoicebalance').val('');
            $('#hdnbatchassignmentid').val('');
            $('#txtbatchamountreceived').val('');
            $('#txtbatchcheckno').val('');
            $('#txtbatchreceiveddate').val('');
            $('#txtbatchInsuredname').val('');
            $('#txtbatchdoctitle').val('');
            $('#batchuploadFile').val('');
            $('#hdnbatchinvoiceid').val('');
            $("#divBgEditPopupBatchPayment").fadeOut("slow");
            $("#divBatchPayment").fadeOut("slow");


            $("#InvoiceList").hide("fast");

            $('#btngetInvoiceList').hide("fast");
            $('#rb1').attr('checked', 'checked');
            $('#btnCheckInvoice').show();
            $("#InvoiceList").empty();
            var item = [];
            item.push("<option value='0'>--Select Invoice--</option>");
            $("#InvoiceList").html(item.join(' '));

            $('#rb2').attr('disabled', true);
            $('#txtbatchSearchInvoice').val('');
            $('#txtbatchSearchclaim').val('');
        }

        function Editrow(data) {
            var documentid = "";
            var rowtoeditid = $('#hdneditrowid').val();
            var td = $("#batchpaymentrecordlist #" + rowtoeditid + ' td');


            if (data > 0) {

                $('#hdnbatchdocumentid').val(data);
                documentid = $('#hdnbatchdocumentid').val();
                $(td).eq(5).text(documentid);
            }

            var assignmentid = $('#hdnbatchassignmentid').val();
            var claimnumber = $('#txtbatchclaim').val();
            var invoicenumber = $('#txtbatchinvoice').val();
            var invoicebal = $('#txtbatchinvoicebalance').val();
            var amountreceived = $('#txtbatchamountreceived').val();
            var checkno = $('#txtbatchcheckno').val();
            var datereceived = $('#txtbatchreceiveddate').val();

            var invoicetotal = $('#txtbatchinvoicetotal').val();
            var totalbalancedue = $('#txtbatchtotalinvoicebalance').val();
            var invoiceid = $('#hdnbatchinvoiceid').val();
            var claimid = $('#hdnbatchclaimid').val();
            var insuredname = $('#txtbatchInsuredname').val();


            //var rowtoeditid = $('#hdneditrowid').val();


            //var td = $("#batchpaymentrecordlist #" + rowtoeditid + ' td');



            $(td).eq(1).text(invoicenumber);
            $(td).eq(0).text(claimnumber);
            $(td).eq(8).text(invoicetotal);
            $(td).eq(2).text(invoicebal);
            $(td).eq(9).text(totalbalancedue);
            $(td).eq(6).text(assignmentid);
            $(td).eq(3).text(amountreceived);
            $(td).eq(4).text(checkno);
            $(td).eq(7).text(datereceived);
            $(td).eq(10).text(invoiceid);
            $(td).eq(11).text(claimid);
            $(td).eq(12).text(insuredname);
            $('#txtbatchdoctitle').val('');
            $('#batchuploadFile').val('');




            $('#hdnbatchclaimid').val('');
            $('#txtbatchinvoice').val('');
            $('#txtbatchclaim').val('');
            $('#txtbatchinvoicetotal').val('');
            $('#txtbatchinvoicebalance').val('');
            $('#txtbatchtotalinvoicebalance').val('');
            $('#hdnbatchassignmentid').val('');
            $('#txtbatchamountreceived').val('');
            $('#txtbatchcheckno').val('');
            $('#txtbatchreceiveddate').val('');
            $('#txtbatchdoctitle').val('');
            $('#txtbatchInsuredname').val('');
            $('#batchuploadFile').val('');
            $('#hdnbatchinvoiceid').val('');
            $("#divBgEditPopupBatchPayment").fadeOut("slow");
            $("#divBatchPayment").fadeOut("slow");
            $('#rb2').attr('disabled', true);

            $(".text").show();
            $(".text1").hide();
        }

        function UnFormatCurrency(value) {
            if (value == "" || value == undefined)
            { return 0; }
            else {
                for (var i = 0; i <= value.indexOf(",") ;) {
                    value = value.replace(",", "");
                }
                value = value.replace("$", "");
                return value;
            }
        }


        $(function () {
            $('#txtbatchSearchInvoice').autocomplete({
                source: function (request, response) {
                    $.getJSON('@Url.Action("getData", "BatchPayments")' + "?term=" + request.term, function (data) {
                        response(data);
                    });
                },
                minLength: 1,
                delay: 100,
                maxShowItems: 5
            });
        });


    </script>
}