﻿@{
    ViewBag.Title = "AddBatchPayment";
}
@model BLL.ViewModels.PropertyInvoiceViewModel
<style type="text/css">
    .ui-autocomplete {
        max-height: 600px;
        overflow-y: auto; /* prevent horizontal scrollbar */
        overflow-x: hidden; /* add padding to account for vertical scrollbar */
        z-index: 1000 !important;
    }

    .EditPopupBatchPayment {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 900px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }

    .bgEditPopupBatchPayment {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }
</style>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $("#InvoiceList").hide();
        $('#btngetInvoiceList').hide();
        $('#trbatchprocessing').css("display", "none");


        $(".text1").hide();
        $("#btngetInvoiceList").hide();
        $('#txtbatchSearchInvoice').focus();
        $("#rb1").click(function () {

            $(".text").show();
            ClearPopupBatchPayment();
            $(".text1").hide();
            $("#btngetInvoiceList").hide();

            $("#InvoiceList").hide();
            $('#txtbatchSearchInvoice').focus();

        });
        $("#rb2").click(function () {
            ClearPopupBatchPayment();

            $(".text").hide();
            $(".text1").show();
            $("#btngetInvoiceList").show();

            $('#txtbatchSearchclaim').focus();
            $("#InvoiceList").show();

        });
        $('#InvoiceList').change(function () {
            btnCheckInvoice_Click();
        });

    });

    var i = 0;

    function btnNewBatchPayment_Click() {
        $('#btnProcessBatchPayment').removeAttr('disabled');
        $("#spnBatchPaymentHeading").html("Add ");
        $("#btnSaveBatchPayment").val("Add");
        $("#divBatchPaymentValidationMsg").empty();
        $('#rb2').attr('disabled', false);


        $(".text").show();
        $(".text1").hide();
        //$("#btngetInvoiceList").hide();
        //$('#txtbatchSearchclaim').val('');
        //$('#txtbatchSearchinvoice').val('');
        $('#btnCheckInvoice').attr('disabled', false);
        loadPopupBatchPayment();

    }


    function loadPopupBatchPayment() {

        centerPopupNewBatchPayment();
        $("#divBgEditPopupBatchPayment").css({
            "opacity": "0.7"
        });

        $("#divBgEditPopupBatchPayment").fadeIn("slow");
        $("#divBatchPayment").fadeIn("slow");
        $('#txtbatchinvoice').focus();

    }


    function centerPopupNewBatchPayment() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#divBatchPayment").height();
        var popupWidth = $("#divBatchPayment").width();
        //centering
        $("#divBatchPayment").css({
            "position": "absolute",
            "top": (windowHeight / 2 - popupHeight / 2),
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#divBgEditPopupBatchPayment").css({
            "height": windowHeight
        });
        return false;
    }

    function disablePopupNewBatchPayment() {
        //debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {

            $('#txtbatchinvoice').val('');
            $('#txtbatchclaim').val('');
            $('#txtbatchinvoicetotal').val('');
            $('#txtbatchinvoicebalance').val('');
            $('#txtbatchtotalinvoicebalance').val('');
            $('#hdnbatchassignmentid').val('');
            $('#txtbatchamountreceived').val('');
            $('#txtbatchcheckno').val('');
            $('#txtbatchreceiveddate').val('');
            $('#txtbatchdoctitle').val('');
            $('#batchuploadFile').val('');
            $('#hdnbatchinvoiceid').val('');
            $('#hdnbatchclaimid').val('');
            $('#txtbatchInsuredname').val('');

            $('#rb1').attr('checked', 'checked');
            $('#txtbatchSearchInvoice').val('');
            $('#txtbatchSearchclaim').val('');
            $(".text").show();
            $(".text1").hide();

            $("#InvoiceList").empty();
            var item = [];
            item.push("<option value='0'>--Select Invoice--</option>");
            $("#InvoiceList").html(item.join(''));

            $('#tablefileupload').css("display", "table");
            $("#divBgEditPopupBatchPayment").fadeOut("slow");
            $("#divBatchPayment").fadeOut("slow");
            popupStatus = 0;
        }
    }

    function ClearPopupBatchPayment() {
        //debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {

            $('#txtbatchinvoice').val('');
            $('#txtbatchclaim').val('');
            $('#txtbatchinvoicetotal').val('');
            $('#txtbatchinvoicebalance').val('');
            $('#txtbatchtotalinvoicebalance').val('');
            $('#hdnbatchassignmentid').val('');
            $('#txtbatchamountreceived').val('');
            $('#txtbatchcheckno').val('');
            $('#txtbatchreceiveddate').val('');
            $('#txtbatchdoctitle').val('');
            $('#batchuploadFile').val('');
            $('#hdnbatchinvoiceid').val('');
            $('#hdnbatchclaimid').val('');
            $('#txtbatchInsuredname').val('');
            $('#txtbatchSearchInvoice').val('');
            $('#txtbatchSearchclaim').val('');




            $("#InvoiceList").empty();
            var item = [];
            item.push("<option value='0'>--Select Invoice--</option>");
            $("#InvoiceList").html(item.join(' '));

            //$('#tablefileupload').css("display", "table");
            //$("#divBgEditPopupBatchPayment").fadeOut("slow");
            //$("#divBatchPayment").fadeOut("slow");
            popupStatus = 0;
        }
    }


    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true
        });
    });


    function btnCheckInvoice_Click() {


        debugger;
        //if ($("#txtbatchSearchinvoice").is(':hidden') == true) {
        //    var invoiceno = $('#InvoiceList').val();
        //}
        //else {
        //    var invoiceno = $("#txtbatchSearchInvoice").val();
        //}



        if ($("#rb2").is(":checked")) {
            var invoiceno = $('#InvoiceList').val();
            $('#txtbatchinvoice').val(invoiceno);
        }
        if ($("#rb1").is(":checked")) {
            var invoiceno = $('#txtbatchSearchInvoice').val();
            $('#txtbatchinvoice').val(invoiceno);
        }


        $.ajax({
            url: '@Url.Action("GetBatchPaymentsDetails", "BatchPayments")',
            contentType: 'application/json; charset=utf-8',
            data: { InvoiceNo: invoiceno },
            cache: false,
            success: function (data) {

                var result = JSON.parse(data);


                debugger;
                //alert(result.ClaimId);

                if (result.ClaimId == 1) {
                    // $('#trInvoiceavailable').css('display', 'table-row');

                    var validationmsg = "Invoice Not Available.<br/>";
                    $("#divBatchPaymentValidationMsg").html(validationmsg);


                }
                else {
                    // $('#trInvoiceavailable').css('display', 'none');
                    $("#divBatchPaymentValidationMsg").empty();

                    $('#hdnbatchclaimid').val(result.ClaimId);
                    $('#txtbatchclaim').val(result.claimNumber);
                    $('#txtbatchinvoicetotal').val(result.InvoiceTotal);
                    $('#txtbatchinvoicebalance').val(result.InvoiceBalanceDue);
                    $('#txtbatchtotalinvoicebalance').val(result.TotalBalanceDue);
                    $('#hdnbatchassignmentid').val(result.AssignmentId);
                    $('#hdnbatchinvoiceid').val(result.InvoiceId);
                    $('#txtbatchamountreceived').val('');
                    $('#txtbatchcheckno').val();
                    $('#txtbatchreceiveddate').val();
                    $('#txtbatchInsuredname').val(result.InsuredName);
                    var invoicebalancedue = parseFloat(UnFormatCurrency(result.InvoiceBalanceDue));
                    var totalbalancedue = parseFloat(UnFormatCurrency(result.TotalBalanceDue));
                    var rows = $('#batchpaymentrecordlist tr:has(td)').each(function (i, v) {
                        debugger;

                        var $td = $('td', this);

                        if ($('#hdnbatchclaimid').val() == $td.eq(11).text() && $('#hdnbatchinvoiceid').val() == $td.eq(10).text()) {

                            invoicebalancedue = invoicebalancedue - parseFloat(UnFormatCurrency($td.eq(3).text()));
                            totalbalancedue = totalbalancedue - parseFloat(UnFormatCurrency($td.eq(3).text()));



                        }
                        else {

                            if ($('#hdnbatchclaimid').val() == $td.eq(11).text()) {

                                totalbalancedue = totalbalancedue - parseFloat(UnFormatCurrency($td.eq(3).text()));

                            }

                        }



                    });
                    invoicebalancedue = invoicebalancedue.toFixed(2);
                    totalbalancedue = totalbalancedue.toFixed(2);
                    $('#txtbatchinvoicebalance').val(invoicebalancedue);
                    $('#txtbatchtotalinvoicebalance').val(totalbalancedue);
                    invoicebalancedue = 0;
                    totalbalancedue = 0;



                    //var tbl = $('#batchpaymentrecordlist tr:has(td)').map(function (i, v) {
                    //    var $td = $('td', this);
                    //    return {

                    //        InvoiceId: $td.eq(10).text(),
                    //        ReceivedDate: $td.eq(7).text(),
                    //        AmountReceived: $td.eq(3).text(),
                    //        CheckNumber: $td.eq(4).text()
                    //    }
                    //}).get();





                }
            }
        });
    }


    function btnSaveBatchPayment_Click() {
        debugger;



        $("#divBatchPaymentValidationMsg").empty();
        var isValid = true;
        var validationMsg = "";
        if ($("#txtbatchamountreceived").val().trim().length == 0) {
            isValid = false;
            validationMsg += "Amount Received is required. <br/>";
        }
        else {
            if (parseFloat(UnFormatCurrency($("#txtbatchamountreceived").val())) > parseFloat(UnFormatCurrency($("#txtbatchinvoicebalance").val()))) {
                isValid = false;
                validationMsg += "Amount Received is more than the Balance Due. <br/>";
            }
        }
        //alert($("#txtCheckNumber").val() + ' ' + $("#txtCheckNumber").val().trim().length);
        if ($("#txtbatchcheckno").val().trim().length == 0) {
            isValid = false;
            validationMsg += "Check No. is required. <br/>";
        }
        if ($("#txtbatchreceiveddate").val().trim().length == 0) {
            isValid = false;
            validationMsg += "Received Date is required. <br/>";
        }


        if (isValid) {


            var saveText = $('#btnSaveBatchPayment').val();

            if (saveText == "Add") {

                $('#imgAddBatchPaymentProcessing').show();

                var fileInput = document.getElementById('batchuploadFile');
                // var assignmentid = $('#hdnbatchassignmentid').val();
                // var title = $('#txtbatchdoctitle').val();
                var formdata = new FormData();

                if (fileInput.files.length > 0) {
                    debugger;
                    formdata.append(fileInput.files[0].name, fileInput.files[0]);
                    formdata.append("assignmentid", $('#hdnbatchassignmentid').val());
                    formdata.append("title", $('#txtbatchdoctitle').val());

                    $.ajax({
                        url: '@Url.Action("UploadFile", "BatchPayments")',

                        contentType: false,
                        processData: false,
                        data: formdata,
                        type: 'POST',
                        success: function (data) {
                            debugger;
                            if (data != 1) {
                                debugger;

                                $('#imgAddBatchPaymentProcessing').hide();
                                Addrow(data);
                                //$('#hdnbatchdocumentid').val(data);

                                //var assignmentid = $('#hdnbatchassignmentid').val();
                                //var claimnumber = $('#txtbatchclaim').val();
                                //var invoicenumber = $('#txtbatchinvoice').val();
                                //var invoicebal = $('#txtbatchinvoicebalance').val();
                                //var amountreceived = $('#txtbatchamountreceived').val();
                                //var checkno = $('#txtbatchcheckno').val();
                                //var datereceived = $('#txtbatchreceiveddate').val();
                                //var documentid = $('#hdnbatchdocumentid').val();
                                //var invoicetotal = $('#txtbatchinvoicetotal').val();
                                //var totalbalancedue = $('#txtbatchtotalinvoicebalance').val();
                                //var invoiceid = $('#hdnbatchinvoiceid').val();



                                //debugger;

                                //if ($('#batchpaymentrecordlist tr #recordsnotfound').length > 0) {
                                //    document.getElementById("batchpaymentrecordlist").deleteRow(1);
                                //}

                                //var imagurl = "../Content/Images/cancel.png";
                                //if (i % 2 == 0) {

                                //    var html = '<tr class="tableRow" id=tr' + i + '>' +
                                //                '<td width="20%">' + claimnumber + '</td>' +
                                //                '<td width="20%">' + invoicenumber + '</td>' +
                                //                '<td width="20%">' + invoicebal + '</td>' +
                                //                '<td width="20%">' + amountreceived + '</td>' +
                                //                '<td width="10%">' + checkno + '</td>' +
                                //                '<td width="10%" style="display:none" id=tdbatchdoc' + i + '>' + documentid + '</td>' +
                                //                '<td style="display:none" id=tdassignmentid' + i + '>' + assignmentid + '</td>' +
                                //                '<td style="display:none" id=tddatereceived' + i + '>' + datereceived + '</td>' +
                                //                 '<td style="display:none" id=tdinvoicetotal' + i + '>' + invoicetotal + '</td>' +
                                //                 '<td style="display:none" id=tdtotalbalancedue' + i + '>' + totalbalancedue + '</td>' +
                                //                 '<td style="display:none" id=tdinvoice' + i + '>' + invoiceid + '</td>' +

                                //                '<td align="right" nowrap="nowrap"><img alt="Edit" onclick="btnEditBatchPayment_Click(' + i + ')" src="../Content/Images/Edit.png" title="Edit" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /><img alt="Delete" onclick="btnDeleteBatchPayment_Click(' + i + ')" src="../Content/Images/cancel.png" title="Delete" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /></td>' +
                                //                '</tr>'
                                //    // alert(html);
                                //    $(html).appendTo($("#batchpaymentrecordlist"))
                                //}
                                //else {
                                //    var html = '<tr class="tableRowAlternate" id=tr' + i + '>' +
                                //               '<td width="20%">' + claimnumber + '</td>' +
                                //               '<td width="20%">' + invoicenumber + '</td>' +
                                //               '<td width="20%">' + invoicebal + '</td>' +
                                //               '<td width="20%">' + amountreceived + '</td>' +
                                //               '<td width="10%">' + checkno + '</td>' +
                                //                '<td width="10%" style="display:none" id=tdbatchdoc' + i + '>' + documentid + '</td>' +
                                //                '<td style="display:none" id=tdassignmentid' + i + '>' + assignmentid + '</td>' +
                                //                '<td style="display:none" id=tddatereceived' + i + '>' + datereceived + '</td>' +
                                //                 '<td style="display:none" id=tdinvoicetotal' + i + '>' + invoicetotal + '</td>' +
                                //                 '<td style="display:none" id=tdtotalbalancedue' + i + '>' + totalbalancedue + '</td>' +
                                //                 '<td style="display:none" id=tdinvoice' + i + '>' + invoiceid + '</td>' +

                                //               '<td align="right" nowrap="nowrap"><img alt="Edit" onclick="btnEditBatchPayment_Click(' + i + ')" src="../Content/Images/Edit.png" title="Edit" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /><img alt="Delete" onclick="btnDeleteBatchPayment_Click(' + i + ')" src="../Content/Images/cancel.png" title="Delete" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /></td>' +
                                //               '</tr>'
                                //    $(html).appendTo($("#batchpaymentrecordlist"))



                                //}
                                //i++;

                                //$('#txtbatchinvoice').val('');
                                //$('#txtbatchclaim').val('');
                                //$('#txtbatchinvoicetotal').val('');
                                //$('#txtbatchinvoicebalance').val('');
                                //$('#txtbatchtotalinvoicebalance').val('');
                                //$('#hdnbatchassignmentid').val('');
                                //$('#txtbatchamountreceived').val('');
                                //$('#txtbatchcheckno').val('');
                                //$('#txtbatchreceiveddate').val('');
                                //$('#txtbatchdoctitle').val('');
                                //$('#batchuploadFile').val('');
                                //$('#hdnbatchinvoiceid').val('');
                                //$("#divBgEditPopupBatchPayment").fadeOut("slow");
                                //$("#divBatchPayment").fadeOut("slow");
                            }

                        }
                    });

                }
                else {

                    $('#imgAddBatchPaymentProcessing').hide();
                    Addrow('0');
                    //$('#hdnbatchdocumentid').val('0');

                    //var assignmentid = $('#hdnbatchassignmentid').val();
                    //var claimnumber = $('#txtbatchclaim').val();
                    //var invoicenumber = $('#txtbatchinvoice').val();
                    //var invoicebal = $('#txtbatchinvoicebalance').val();
                    //var amountreceived = $('#txtbatchamountreceived').val();
                    //var checkno = $('#txtbatchcheckno').val();
                    //var datereceived = $('#txtbatchreceiveddate').val();
                    //var documentid = $('#hdnbatchdocumentid').val();
                    //var invoicetotal = $('#txtbatchinvoicetotal').val();
                    //var totalbalancedue = $('#txtbatchtotalinvoicebalance').val();
                    //var invoiceid = $('#hdnbatchinvoiceid').val();



                    //debugger;

                    //if ($('#batchpaymentrecordlist tr #recordsnotfound').length > 0) {
                    //    document.getElementById("batchpaymentrecordlist").deleteRow(1);
                    //}

                    //var imagurl = "../Content/Images/cancel.png";
                    //if (i % 2 == 0) {

                    //    var html = '<tr class="tableRow" id=tr' + i + '>' +
                    //                '<td width="20%">' + claimnumber + '</td>' +
                    //                '<td width="20%">' + invoicenumber + '</td>' +
                    //                '<td width="20%">' + invoicebal + '</td>' +
                    //                '<td width="20%">' + amountreceived + '</td>' +
                    //                '<td width="10%">' + checkno + '</td>' +
                    //                '<td width="10%" style="display:none" id=tdbatchdoc' + i + '>' + documentid + '</td>' +
                    //                '<td style="display:none" id=tdassignmentid' + i + '>' + assignmentid + '</td>' +
                    //                '<td style="display:none" id=tddatereceived' + i + '>' + datereceived + '</td>' +
                    //                 '<td style="display:none" id=tdinvoicetotal' + i + '>' + invoicetotal + '</td>' +
                    //                 '<td style="display:none" id=tdtotalbalancedue' + i + '>' + totalbalancedue + '</td>' +
                    //                 '<td style="display:none" id=tdinvoice' + i + '>' + invoiceid + '</td>' +

                    //                '<td align="right" nowrap="nowrap"><img alt="Edit" onclick="btnEditBatchPayment_Click(' + i + ')" src="../Content/Images/Edit.png" title="Edit" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /><img alt="Delete" onclick="btnDeleteBatchPayment_Click(' + i + ')" src="../Content/Images/cancel.png" title="Delete" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /></td>' +
                    //                '</tr>'
                    //    // alert(html);
                    //    $(html).appendTo($("#batchpaymentrecordlist"))
                    //}
                    //else {
                    //    var html = '<tr class="tableRowAlternate" id=tr' + i + '>' +
                    //               '<td width="20%">' + claimnumber + '</td>' +
                    //               '<td width="20%">' + invoicenumber + '</td>' +
                    //               '<td width="20%">' + invoicebal + '</td>' +
                    //               '<td width="20%">' + amountreceived + '</td>' +
                    //               '<td width="10%">' + checkno + '</td>' +
                    //                '<td width="10%" style="display:none" id=tdbatchdoc' + i + '>' + documentid + '</td>' +
                    //                '<td style="display:none" id=tdassignmentid' + i + '>' + assignmentid + '</td>' +
                    //                '<td style="display:none" id=tddatereceived' + i + '>' + datereceived + '</td>' +
                    //                 '<td style="display:none" id=tdinvoicetotal' + i + '>' + invoicetotal + '</td>' +
                    //                 '<td style="display:none" id=tdtotalbalancedue' + i + '>' + totalbalancedue + '</td>' +
                    //                 '<td style="display:none" id=tdinvoice' + i + '>' + invoiceid + '</td>' +

                    //               '<td align="right" nowrap="nowrap"><img alt="Edit" onclick="btnEditBatchPayment_Click(' + i + ')" src="../Content/Images/Edit.png" title="Edit" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /><img alt="Delete" onclick="btnDeleteBatchPayment_Click(' + i + ')" src="../Content/Images/cancel.png" title="Delete" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /></td>' +
                    //               '</tr>'
                    //    $(html).appendTo($("#batchpaymentrecordlist"))



                    //}
                    //i++;

                    //$('#txtbatchinvoice').val('');
                    //$('#txtbatchclaim').val('');
                    //$('#txtbatchinvoicetotal').val('');
                    //$('#txtbatchinvoicebalance').val('');
                    //$('#txtbatchtotalinvoicebalance').val('');
                    //$('#hdnbatchassignmentid').val('');
                    //$('#txtbatchamountreceived').val('');
                    //$('#txtbatchcheckno').val('');
                    //$('#txtbatchreceiveddate').val('');
                    //$('#txtbatchdoctitle').val('');
                    //$('#batchuploadFile').val('');
                    //$('#hdnbatchinvoiceid').val('');
                    //$("#divBgEditPopupBatchPayment").fadeOut("slow");
                    //$("#divBatchPayment").fadeOut("slow");



                }
                $('#tablefileupload').css("display", "table");
            }
            else {

                //    var rowtoeditid = $('#hdneditrowid').val();

                $('#imgAddBatchPaymentProcessing').show();
                var fileInput = document.getElementById('batchuploadFile');
                // var assignmentid = $('#hdnbatchassignmentid').val();
                // var title = $('#txtbatchdoctitle').val();
                var formdata = new FormData();

                if (fileInput.files.length > 0) {
                    debugger;
                    formdata.append(fileInput.files[0].name, fileInput.files[0]);
                    formdata.append("assignmentid", $('#hdnbatchassignmentid').val());
                    formdata.append("title", $('#txtbatchdoctitle').val());

                    $.ajax({
                        url: '@Url.Action("UploadFile", "BatchPayments")',

                        contentType: false,
                        processData: false,
                        data: formdata,
                        type: 'POST',
                        success: function (data) {
                            debugger;
                            if (data != 1) {
                                debugger;
                                $('#imgAddBatchPaymentProcessing').hide();
                                Editrow(data);

                                //$('#hdnbatchdocumentid').val(data);

                                //var assignmentid = $('#hdnbatchassignmentid').val();
                                //var claimnumber = $('#txtbatchclaim').val();
                                //var invoicenumber = $('#txtbatchinvoice').val();
                                //var invoicebal = $('#txtbatchinvoicebalance').val();
                                //var amountreceived = $('#txtbatchamountreceived').val();
                                //var checkno = $('#txtbatchcheckno').val();
                                //var datereceived = $('#txtbatchreceiveddate').val();
                                //var documentid = $('#hdnbatchdocumentid').val();
                                //var invoicetotal = $('#txtbatchinvoicetotal').val();
                                //var totalbalancedue = $('#txtbatchtotalinvoicebalance').val();
                                //var invoiceid = $('#hdnbatchinvoiceid').val();


                                //var td = $("#batchpaymentrecordlist #" + rowtoeditid + ' td');


                                //$(td).eq(5).text(documentid);
                                //$(td).eq(1).text(invoicenumber);
                                //$(td).eq(0).text(claimnumber);
                                //$(td).eq(8).text(invoicetotal);
                                //$(td).eq(2).text(invoicebal);
                                //$(td).eq(9).text(totalbalancedue);
                                //$(td).eq(6).text(assignmentid);
                                //$(td).eq(3).text(amountreceived);
                                //$(td).eq(4).text(checkno);
                                //$(td).eq(7).text(datereceived);
                                //$(td).eq(10).text(invoiceid);
                                //$('#txtbatchdoctitle').val('');
                                //$('#batchuploadFile').val('');





                                //$('#txtbatchinvoice').val('');
                                //$('#txtbatchclaim').val('');
                                //$('#txtbatchinvoicetotal').val('');
                                //$('#txtbatchinvoicebalance').val('');
                                //$('#txtbatchtotalinvoicebalance').val('');
                                //$('#hdnbatchassignmentid').val('');
                                //$('#txtbatchamountreceived').val('');
                                //$('#txtbatchcheckno').val('');
                                //$('#txtbatchreceiveddate').val('');
                                //$('#txtbatchdoctitle').val('');
                                //$('#batchuploadFile').val('');
                                //$('#hdnbatchinvoiceid').val('');
                                //$("#divBgEditPopupBatchPayment").fadeOut("slow");
                                //$("#divBatchPayment").fadeOut("slow");
                            }

                        }
                    });

                }
                else {


                    $('#imgAddBatchPaymentProcessing').hide();
                    Editrow('0');
                    //   $('#hdnbatchdocumentid').val('0');

                    //   var assignmentid = $('#hdnbatchassignmentid').val();
                    //   var claimnumber = $('#txtbatchclaim').val();
                    //   var invoicenumber = $('#txtbatchinvoice').val();
                    //   var invoicebal = $('#txtbatchinvoicebalance').val();
                    //   var amountreceived = $('#txtbatchamountreceived').val();
                    //   var checkno = $('#txtbatchcheckno').val();
                    //   var datereceived = $('#txtbatchreceiveddate').val();
                    //   //var documentid = $('#hdnbatchdocumentid').val();
                    //   var invoicetotal = $('#txtbatchinvoicetotal').val();
                    //   var totalbalancedue = $('#txtbatchtotalinvoicebalance').val();
                    //   var invoiceid = $('#hdnbatchinvoiceid').val();





                    //   var td = $("#batchpaymentrecordlist #" + rowtoeditid + ' td');


                    ////   $(td).eq(5).text(documentid);
                    //   $(td).eq(1).text(invoicenumber);
                    //   $(td).eq(0).text(claimnumber);
                    //   $(td).eq(8).text(invoicetotal);
                    //   $(td).eq(2).text(invoicebal);
                    //   $(td).eq(9).text(totalbalancedue);
                    //   $(td).eq(6).text(assignmentid);
                    //   $(td).eq(3).text(amountreceived);
                    //   $(td).eq(4).text(checkno);
                    //   $(td).eq(7).text(datereceived);
                    //   $(td).eq(10).text(invoiceid);
                    //   $('#txtbatchdoctitle').val('');
                    //   $('#batchuploadFile').val('');





                    //   $('#txtbatchinvoice').val('');
                    //   $('#txtbatchclaim').val('');
                    //   $('#txtbatchinvoicetotal').val('');
                    //   $('#txtbatchinvoicebalance').val('');
                    //   $('#txtbatchtotalinvoicebalance').val('');
                    //   $('#hdnbatchassignmentid').val('');
                    //   $('#txtbatchamountreceived').val('');
                    //   $('#txtbatchcheckno').val('');
                    //   $('#txtbatchreceiveddate').val('');
                    //   $('#txtbatchdoctitle').val('');
                    //   $('#batchuploadFile').val('');
                    //   $('#hdnbatchinvoiceid').val('');
                    //   $('#hdnbatchinvoiceid').val('');
                    //   $("#divBgEditPopupBatchPayment").fadeOut("slow");
                    //   $("#divBatchPayment").fadeOut("slow");



                }


                $('#tablefileupload').css("display", "table");



            }

            disablePopupNewBatchPayment();

        }
        else {

            $("#divBatchPaymentValidationMsg").html(validationMsg);

        }

    }

    function btnDeleteBatchPayment_Click(i) {
        debugger;
        var documentid = $("#batchpaymentrecordlist tr #tdbatchdoc" + i).text();
        //var flag = 1;

        //if($("#batchpaymentrecordlist tr").length>

        //  if (documentid > 0) {

        if (confirm('Are you sure you want to delete?')) {


            if (documentid > 0) {


                $.post('@Url.Content("~/BatchPayments/DeleteClaimDocument")',
                { claimDocumentId: documentid },
                function (responseData) {
                    if (responseData == 1) {
                        $("#batchpaymentrecordlist #tr" + i).remove();
                        if ($("#batchpaymentrecordlist tr").length == 1) {
                            var html = '<tr id="recordsnotfound">' +
                                '<td colspan="5" style="color:red;text-align:center">- No Records -</td>' +
                            '</tr>'
                            $(html).appendTo($("#batchpaymentrecordlist"))

                        }
                    }
                });
            }
            else {

                $("#batchpaymentrecordlist #tr" + i).remove();
                if ($("#batchpaymentrecordlist tr").length == 1) {
                    var html = '<tr id="recordsnotfound">' +
                        '<td colspan="5" style="color:red;text-align:center">- No Records -</td>' +
                    '</tr>'
                    $(html).appendTo($("#batchpaymentrecordlist"))
                }
            }
        }
        else { }

    }

    function btnEditBatchPayment_Click(i) {
        debugger;
        $("#divBatchPaymentValidationMsg").empty();
        $("#spnBatchPaymentHeading").html("Edit ");
        $("#btnSaveBatchPayment").val("Edit");
        var td = $("#batchpaymentrecordlist #tr" + i + ' td');

        $('#hdneditrowid').val('tr' + i);


        var documentid = $(td).eq(5).text();

        if (documentid > 0) {

            $('#tablefileupload').css("display", "none");
        }
        else {
            $('#tablefileupload').css("display", "table");
        }


        $('#txtbatchinvoice').val($(td).eq(1).text());
        $('#txtbatchclaim').val($(td).eq(0).text());
        $('#txtbatchinvoicetotal').val($(td).eq(8).text());
        $('#txtbatchinvoicebalance').val($(td).eq(2).text());
        $('#txtbatchtotalinvoicebalance').val($(td).eq(9).text());
        $('#hdnbatchassignmentid').val($(td).eq(6).text());
        $('#txtbatchamountreceived').val($(td).eq(3).text());
        $('#txtbatchcheckno').val($(td).eq(4).text());
        $('#txtbatchreceiveddate').val($(td).eq(7).text());
        $('#hdnbatchinvoiceid').val($(td).eq(10).text());
        $('#hdnbatchclaimid').val($(td).eq(11).text());
        $('#txtbatchInsuredname').val($(td).eq(12).text());
        $('#txtbatchdoctitle').val('');
        $('#batchuploadFile').val('');

        $('#rb2').attr('disabled', true);

        $(".text").show();
        $(".text1").hide();
        $('#btnCheckInvoice').attr('disabled', true);

        loadPopupBatchPayment();






    }

    function GetInvoice() {
        $('#imgGetinvoiceProcessing').css("display", "block");
        var Claimnumber;
        Claimnumber = $('#txtbatchSearchclaim').val();
        $.ajax({
            url: '@Url.Action("GetInvoiceList", "BatchPayments")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: { Claimnumber: Claimnumber },
            type: 'GET',
            success: function (data) {

                var data1 = data;
                if (data1 == null) {
                    // $('#trInvoiceavailable').css('display', 'table-row');

                    var validationmsg = "Invoice Not Available.<br/>";
                    $("#divBatchPaymentValidationMsg").html(validationmsg);


                }
                else if (data1 == "No Claim") {
                    var validationmsg = "Claim Not Available.<br/>";
                    $("#divBatchPaymentValidationMsg").html(validationmsg);
                }
                else
                    {
                    $("#divBatchPaymentValidationMsg").empty();

                $("#InvoiceList").empty();
                var item = [];
                item.push("<option value='0'>--Select Invoice--</option>");
                $.each(data, function () {
                    item.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                });
                $("#InvoiceList").html(item.join(' '));

                }
            }
        });
        $('#imgGetinvoiceProcessing').css("display", "none");


    }
    function btnProcessBatchPayment_Click() {

        // debugger;

        $('#btnProcessBatchPayment').attr('disabled', 'disabled');
        $('#imgBatchPaymentsProcessing').show();

        var tbl = $('#batchpaymentrecordlist tr:has(td)').map(function (i, v) {
            var $td = $('td', this);
            return {

                InvoiceId: $td.eq(10).text(),
                ReceivedDate: $td.eq(7).text(),
                AmountReceived: $td.eq(3).text(),
                CheckNumber: $td.eq(4).text()
            }
        }).get();

        //  var formdata = new FormData();
        //formdata.append("JsonData", tbl);

        $.ajax({
            url: '@Url.Action("ProcessBatchPayment", "BatchPayments")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(tbl),
            type: 'POST',
            success: function (data) {


                if (data == 1) {

                    $('#trbatchprocessing').css("display", "table-row");
                    $("#batchpaymentrecordlist").find("tr:gt(0)").remove();
                    var html = '<tr id="recordsnotfound">' +
                              '<td colspan="5" style="color:red;text-align:center">- No Records -</td>' +
                          '</tr>'
                    $(html).appendTo($("#batchpaymentrecordlist"))



                    $('#tdbatchprocessing').text('Records Processed Successfully');

                }
                else {
                    $('#trbatchprocessing').css("display", "table-row");
                    $("#batchpaymentrecordlist").find("tr:gt(0)").remove();
                    var html = '<tr id="recordsnotfound">' +
                              '<td colspan="5" style="color:red;text-align:center">- No Records -</td>' +
                          '</tr>'
                    $(html).appendTo($("#batchpaymentrecordlist"))

                    $('#tdbatchprocessing').text('Error Occurs while Processing Data');

                }
                $('#imgBatchPaymentsProcessing').hide();

                //alert("Successfully Added & processed");
            }
        });


    }

    function Addrow(data) {

        if ($("#rb2").is(":checked")) {
            var invoicenumber = $('#InvoiceList').val();

        }
        if ($("#rb1").is(":checked")) {
            var invoicenumber = $('#txtbatchSearchInvoice').val();

        }
        $('#hdnbatchdocumentid').val(data);

        var assignmentid = $('#hdnbatchassignmentid').val();
        var claimnumber = $('#txtbatchclaim').val();
        //var invoicenumber = $('#txtbatchinvoice').val();
        var invoicebal = $('#txtbatchinvoicebalance').val();
        var amountreceived = $('#txtbatchamountreceived').val();
        var checkno = $('#txtbatchcheckno').val();
        var datereceived = $('#txtbatchreceiveddate').val();
        var documentid = $('#hdnbatchdocumentid').val();
        var invoicetotal = $('#txtbatchinvoicetotal').val();
        var totalbalancedue = $('#txtbatchtotalinvoicebalance').val();
        var invoiceid = $('#hdnbatchinvoiceid').val();
        var claimid = $('#hdnbatchclaimid').val();
        var insuredname = $('#txtbatchInsuredname').val();



        debugger;

        if ($('#batchpaymentrecordlist tr#recordsnotfound').length > 0) {
            document.getElementById("batchpaymentrecordlist").deleteRow(1);
        }

        var imagurl = "../Content/Images/cancel.png";
        if (i % 2 == 0) {

            var html = '<tr class="tableRow" id=tr' + i + '>' +
                        '<td width="20%">' + claimnumber + '</td>' +
                        '<td width="20%">' + invoicenumber + '</td>' +
                        '<td width="20%">' + invoicebal + '</td>' +
                        '<td width="20%">' + amountreceived + '</td>' +
                        '<td width="10%">' + checkno + '</td>' +

                        '<td width="10%" style="display:none" id=tdbatchdoc' + i + '>' + documentid + '</td>' +
                        '<td style="display:none" id=tdassignmentid' + i + '>' + assignmentid + '</td>' +
                        '<td style="display:none" id=tddatereceived' + i + '>' + datereceived + '</td>' +
                         '<td style="display:none" id=tdinvoicetotal' + i + '>' + invoicetotal + '</td>' +
                         '<td style="display:none" id=tdtotalbalancedue' + i + '>' + totalbalancedue + '</td>' +
                         '<td style="display:none" id=tdinvoice' + i + '>' + invoiceid + '</td>' +
                         '<td style="display:none" id=tdclaimid' + i + '>' + claimid + '</td>' +
                          '<td width="10%">' + insuredname + '</td>' +
                        '<td align="right" nowrap="nowrap"><img alt="Edit" onclick="btnEditBatchPayment_Click(' + i + ')" src="../Content/Images/Edit.png" title="Edit" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /><img alt="Delete" onclick="btnDeleteBatchPayment_Click(' + i + ')" src="../Content/Images/cancel.png" title="Delete" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /></td>' +
                        '</tr>'
            // alert(html);
            $(html).appendTo($("#batchpaymentrecordlist"))
        }
        else {
            var html = '<tr class="tableRowAlternate" id=tr' + i + '>' +
                       '<td width="20%">' + claimnumber + '</td>' +
                       '<td width="20%">' + invoicenumber + '</td>' +
                       '<td width="20%">' + invoicebal + '</td>' +
                       '<td width="20%">' + amountreceived + '</td>' +
                       '<td width="10%">' + checkno + '</td>' +

                        '<td width="10%" style="display:none" id=tdbatchdoc' + i + '>' + documentid + '</td>' +
                        '<td style="display:none" id=tdassignmentid' + i + '>' + assignmentid + '</td>' +
                        '<td style="display:none" id=tddatereceived' + i + '>' + datereceived + '</td>' +
                         '<td style="display:none" id=tdinvoicetotal' + i + '>' + invoicetotal + '</td>' +
                         '<td style="display:none" id=tdtotalbalancedue' + i + '>' + totalbalancedue + '</td>' +
                         '<td style="display:none" id=tdinvoice' + i + '>' + invoiceid + '</td>' +
                          '<td style="display:none" id=tdclaimid' + i + '>' + claimid + '</td>' +
                            '<td width="10%">' + insuredname + '</td>' +
                       '<td align="right" nowrap="nowrap"><img alt="Edit" onclick="btnEditBatchPayment_Click(' + i + ')" src="../Content/Images/Edit.png" title="Edit" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /><img alt="Delete" onclick="btnDeleteBatchPayment_Click(' + i + ')" src="../Content/Images/cancel.png" title="Delete" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom; padding-right: 3px;" /></td>' +
                       '</tr>'
            $(html).appendTo($("#batchpaymentrecordlist"))



        }
        i++;
        $('#hdnbatchclaimid').val('');
        $('#txtbatchinvoice').val('');
        $('#txtbatchclaim').val('');
        $('#txtbatchinvoicetotal').val('');
        $('#txtbatchinvoicebalance').val('');
        $('#txtbatchtotalinvoicebalance').val('');
        $('#hdnbatchassignmentid').val('');
        $('#txtbatchamountreceived').val('');
        $('#txtbatchcheckno').val('');
        $('#txtbatchreceiveddate').val('');
        $('#txtbatchInsuredname').val('');
        $('#txtbatchdoctitle').val('');
        $('#batchuploadFile').val('');
        $('#hdnbatchinvoiceid').val('');
        $("#divBgEditPopupBatchPayment").fadeOut("slow");
        $("#divBatchPayment").fadeOut("slow");


        $("#InvoiceList").hide("fast");

        $('#btngetInvoiceList').hide("fast");
        $('#rb1').attr('checked', 'checked');
        $('#btnCheckInvoice').show();
        $("#InvoiceList").empty();
        var item = [];
        item.push("<option value='0'>--Select Invoice--</option>");
        $("#InvoiceList").html(item.join(' '));

        $('#rb2').attr('disabled', true);
        $('#txtbatchSearchInvoice').val('');
        $('#txtbatchSearchclaim').val('');
    }

    function Editrow(data) {
        var documentid = "";
        var rowtoeditid = $('#hdneditrowid').val();
        var td = $("#batchpaymentrecordlist #" + rowtoeditid + ' td');


        if (data > 0) {

            $('#hdnbatchdocumentid').val(data);
            documentid = $('#hdnbatchdocumentid').val();
            $(td).eq(5).text(documentid);
        }

        var assignmentid = $('#hdnbatchassignmentid').val();
        var claimnumber = $('#txtbatchclaim').val();
        var invoicenumber = $('#txtbatchinvoice').val();
        var invoicebal = $('#txtbatchinvoicebalance').val();
        var amountreceived = $('#txtbatchamountreceived').val();
        var checkno = $('#txtbatchcheckno').val();
        var datereceived = $('#txtbatchreceiveddate').val();

        var invoicetotal = $('#txtbatchinvoicetotal').val();
        var totalbalancedue = $('#txtbatchtotalinvoicebalance').val();
        var invoiceid = $('#hdnbatchinvoiceid').val();
        var claimid = $('#hdnbatchclaimid').val();
        var insuredname = $('#txtbatchInsuredname').val();


        //var rowtoeditid = $('#hdneditrowid').val();


        //var td = $("#batchpaymentrecordlist #" + rowtoeditid + ' td');



        $(td).eq(1).text(invoicenumber);
        $(td).eq(0).text(claimnumber);
        $(td).eq(8).text(invoicetotal);
        $(td).eq(2).text(invoicebal);
        $(td).eq(9).text(totalbalancedue);
        $(td).eq(6).text(assignmentid);
        $(td).eq(3).text(amountreceived);
        $(td).eq(4).text(checkno);
        $(td).eq(7).text(datereceived);
        $(td).eq(10).text(invoiceid);
        $(td).eq(11).text(claimid);
        $(td).eq(12).text(insuredname);
        $('#txtbatchdoctitle').val('');
        $('#batchuploadFile').val('');




        $('#hdnbatchclaimid').val('');
        $('#txtbatchinvoice').val('');
        $('#txtbatchclaim').val('');
        $('#txtbatchinvoicetotal').val('');
        $('#txtbatchinvoicebalance').val('');
        $('#txtbatchtotalinvoicebalance').val('');
        $('#hdnbatchassignmentid').val('');
        $('#txtbatchamountreceived').val('');
        $('#txtbatchcheckno').val('');
        $('#txtbatchreceiveddate').val('');
        $('#txtbatchdoctitle').val('');
        $('#txtbatchInsuredname').val('');
        $('#batchuploadFile').val('');
        $('#hdnbatchinvoiceid').val('');
        $("#divBgEditPopupBatchPayment").fadeOut("slow");
        $("#divBatchPayment").fadeOut("slow");
        $('#rb2').attr('disabled', true);

        $(".text").show();
        $(".text1").hide();
    }

    function UnFormatCurrency(value) {
        if (value == "" || value == undefined)
        { return 0; }
        else {
            for (var i = 0; i <= value.indexOf(",") ;) {
                value = value.replace(",", "");
            }
            value = value.replace("$", "");
            return value;
        }
    }


    $(function () {
        $('#txtbatchSearchInvoice').autocomplete({
            source: function (request, response) {
                $.getJSON('@Url.Action("getData", "BatchPayments")' + "?term=" + request.term, function (data) {
                    response(data);
                });
            },
            minLength: 1,
            delay: 100,
            maxShowItems: 5
        });
    });


</script>


@*<link href="@Url.Content("~/Content/JQueryUI/jquery-ui-1.8.23.custom.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/JqueryUI/jquery-ui-1.8.23.custom.min.js")"></script>*@




<table align="left" cellspacing="0" width="100%">
    <tr>
        <td class="mainHeader">
            <table width="100%">
                <tr>
                    <td align="right">
                        <input type="button" onclick="btnNewBatchPayment_Click()" class="buttonLightYellow_100" value="New" />
                    </td>
                </tr>
                <tr id="trbatchprocessing" style="display:none">
                    <td align="left" id="tdbatchprocessing" style="color:red;font-size:15px"></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="content">
            <div id="divCPOCList">
                <table width="100%" cellpadding="3" cellspacing="0" id="batchpaymentrecordlist">

                    <thead class="tableHeader">
                        <tr>
                            <th width="20%" align="left">Claim #</th>
                            <th width="20%" align="left">Invoice #</th>
                            <th width="20%" align="left">InvoiceBalance</th>
                            <th width="20%" align="left">AmountReceived</th>
                            <th width="20%" align="left">Checknumber</th>
                            <th width="20%" align="left">InsuredName</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="recordsnotfound">
                            <td colspan="5" style="color:red;text-align:center">- No Records -</td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <br />
                <table width="100%" cellpadding="3" cellspacing="0" id="batchpaymentprocessrecordlist">
                    <tr>
                        <td>
                            <div style="float: right">
                                <img id="imgBatchPaymentsProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;padding-left:5px;" alt="loading" />
                                <input id="btnProcessBatchPayment" type="button" value="Process" class="buttonYellow_100" onclick="btnProcessBatchPayment_Click()" />
                        </td>
            </div>
        </td>
    </tr>
</table>
            </div>
        </td>
    </tr>

</table>

<div id="divBatchPayment" style="display: none;" class="EditPopupBatchPayment">
    <table width="100%" cellspacing="0">
        <tr>
            <td class="mainHeader" colspan="3">
                <div>
                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <div style="float: left">
                                    <span id="spnBatchPaymentHeading"></span>Payment
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupNewBatchPayment();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left" colspan="3">
                <div id="divBatchPaymentError" class="errorMsg" style="text-align: left; width: 100%;"></div>

                <div id="divBatchPaymentProcess">
                    <table style="margin-left: 50px">


                        <tr>
                            <td colspan="3">
                                <div id="divBatchPaymentValidationMsg" class="errorMsg"></div>
                            </td>
                        </tr>


                        <tr id="trInvoiceavailable" style="display: none">

                            <td colspan="3" style="color: red; font-size: 15px">
                                Invoice Number Not Available


                                <input type="hidden" value="" id="hdnbatchassignmentid" />
                                <input type="hidden" value="" id="hdnbatchdocumentid" />
                                <input type="hidden" value="" id="hdnbatchinvoiceid" />

                                <input type="hidden" value="" id="hdneditrowid" />
                                <input type="hidden" value="" id="hdnbatchclaimid" />

                            </td>


                        </tr>
                        <tr>
                            <td colspan="4">
                                <div style="border: black; border-style: double; padding-bottom: 2px;">
                                    <table cellpadding="6" style="width:100%">
                                        <tr>
                                            <td style="background-color:grey;color:white;">
                                                <b>Search</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input id="rb1" type="radio" name="Rank" value="1" checked="checked" />Invoice&nbsp;
                                                <input id="rb2" type="radio" name="Rank" value="2" />Claim&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="text">
                                                    <table>
                                                        <tr>
                                                            <td></td>
                                                            <td><input type="text" name="txtbatchSearchInvoice" id="txtbatchSearchInvoice" /></td>
                                                            <td><input id="btnCheckInvoice" type="button" value="Retrieve" class="buttonYellow_100" onclick="btnCheckInvoice_Click()" /></td>
                                                        </tr>
                                                    </table>


                                                </div>
                                                <div class="text1">
                                                    <table>
                                                        <tr>
                                                            <td><input type="text" name="txtbatchSearchclaim" id="txtbatchSearchclaim" /></td>
                                                            <td>
                                                                <input type="button" name="btngetInvoiceList" id="btngetInvoiceList" onclick="GetInvoice()" class="buttonYellow_100" value="Get Invoices">

                                                            </td>
                                                            <td>
                                                                &nbsp;&nbsp;
                                                                <img id="imgGetinvoiceProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;padding-left:5px;" alt="loading" />

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Html.DropDownListFor(model => model.InvoiceId, (IEnumerable<SelectListItem>)new List<SelectListItem> { new SelectListItem { Text = "--Select Invoice--", Value = "0", Selected = true } }, new { @id = "InvoiceList", style = "width: 100%;" })
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </div>
                                            </td>
                                        </tr>


                                    </table>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Invoice #:
                            </td>
                            <td>
                                <input type="text" name="txtbatchinvoice" id="txtbatchinvoice" readonly="true" />
                                @*@Html.DropDownListFor(model => model.InvoiceId, new SelectList(Model.PropertyInvoiceList.OrderByDescending(x => x.InvoiceId), "InvoiceId", "InvoiceNo"), new { @id = "InvoiceList" })*@

                            </td>



                            <td></td>
            </td>
        </tr>
        <tr>
            <td>
                Insured Name #:
            </td>
            <td>
                <input type="text" name="txtbatchInsuredname" id="txtbatchInsuredname" readonly="true" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Claim #:
            </td>
            <td>
                <input type="text" name="txtbatchclaim" id="txtbatchclaim" readonly="true" />
            </td>
            <td></td>
        </tr>

        <tr>
            <td valign="top">
                Invoice Total:
            </td>
            <td valign="top">
                <input type="text" name="txtbatchinvoicetotal" id="txtbatchinvoicetotal" readonly="true" />
            </td>
            <td>
                <table width="100%" id="tablefileupload">

                    <tr>
                        <td>
                            <b>Title:</b>
                        </td>
                        <td>

                            <input type="text" id="txtbatchdoctitle" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Document:</b>
                        </td>
                        <td>
                            <input type="file" id="batchuploadFile" name="uploadFile" />
                            @*  <input type="submit" value="Add Document" id="batchfileupload" class="buttonYellow_100" />*@
                        </td>
                        @*  </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right">
                                    <input type="submit" value="Add Document" class="buttonYellow_100" onclick="showClaimDocUploadProcessing()" /></td>
                            </tr>*@
                </table>

            </td>
        </tr>


        <tr>
            <td>
                Invoice Balance Due:
            </td>
            <td>
                <input type="text" name="txtbatchinvoicebalance" id="txtbatchinvoicebalance" readonly="true" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Total Balance Due:
            </td>
            <td>
                <input type="text" name="txtbatchtotalinvoicebalance" id="txtbatchtotalinvoicebalance" readonly="true" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Amount Received:
            </td>
            <td>
                <input type="text" name="txtbatchamountreceived" id="txtbatchamountreceived" />

            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                Check No:
            </td>
            <td>
                <input type="text" name="txtbatchcheckno" id="txtbatchcheckno" />

            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Date Received:
            </td>
            <td>
                <input type="text" name="txtbatchreceiveddate" class="DatePickerTextBox" id="txtbatchreceiveddate" />
            </td>
            <td></td>

        </tr>

    </table>

</div>

</td>
        </tr>
<tr>
    <td class="footer" align="right">

        <img id="imgAddBatchPaymentProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;padding-left:5px;" alt="loading" />
        <input id="btnCancelBatchPayment" type="button" value="Cancel" class="buttonYellow_100" onclick="disablePopupNewBatchPayment();" />
        <input id="btnSaveBatchPayment" type="button" value="Save" class="buttonYellow_100" onclick="btnSaveBatchPayment_Click()" />
    </td>
</tr>
</table>
</div>
@*<div id="divBgEditPopupBatchPayment" onclick="disablePopupNewBatchPayment();" class="bgEditPopupBatchPayment" style="display: none;"></div>*@
<div id="divBgEditPopupBatchPayment" class="bgEditPopupBatchPayment" style="display: none;"></div>
