﻿<style type="text/css">
    .style3
    {
        width: 100%;
    }
    .style4
    {
        font-weight: bold;
    }
</style>
<table align="center" width="750" cellspacing="0">
    <tr>
        <td class="headingBlack borderBottomLightGray" bgcolor="#F0F0F0">
            Final Step: Confirm Assignment Details
        </td>
    </tr>
    <tr>
        <td>
            <br />
            <table width="100%" cellspacing="0">
                <tr>
                    <td nowrap="nowrap" class="borderBottomLightGray subHeadingBlack" style="padding: 3px;"
                        colspan="2">
                        Property Owner/Risk Information
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        Policy Holder Name
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        1234
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        Street
                    </td>
                    <td width="100%" style="padding: 3px;">
                        Assignment Sent
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        City
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        Commercial
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        Zip/Postal Code
                    </td>
                    <td width="100%" style="padding: 3px;">
                        Inventory And Appraisal
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        Home Phone
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        123456789
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        Business Phone
                    </td>
                    <td width="100%" style="padding: 3px;">
                        10-02-2012
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        Mobile Phone
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        456789
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        Pager
                    </td>
                    <td width="100%" style="padding: 3px;">
                        1980
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        Email Address
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        19-07-2012
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        &nbsp;
                    </td>
                    <td width="100%" style="padding: 3px;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;" colspan="2">
                        <strong>3rd Party Claimant</strong>
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        Name
                    </td>
                    <td width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        Street
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        City
                    </td>
                    <td width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        Zip/Postal Code
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        Phone
                    </td>
                    <td width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        &nbsp;
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;" colspan="2">
                        <strong>Risk Location (if different from Property Owner Address)</strong>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        Street
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        City
                    </td>
                    <td width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        Zip/Postal Code
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        &nbsp;
                    </td>
                    <td width="100%" style="padding: 3px;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;" colspan="2">
                        <strong>Person to Contact to Access Property</strong>
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        Name
                    </td>
                    <td width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;" class="borderBottomLightGray ">
                        Phone
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;" class="borderBottomLightGray ">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        &nbsp;
                    </td>
                    <td width="100%" style="padding: 3px;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" class="borderBottomLightGray subHeadingBlack" style="padding: 3px;">
                        Claim Information
                    </td>
                    <td width="100%" class="borderBottomLightGray subHeadingBlack" style="padding: 3px;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Type of Loss</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        <b>Date of Loss</b>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        -Date &amp; Time -
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Date Received</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        -Date &amp; Time -
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        <b>Job Size</b>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Claim #</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        <b>CAT Code</b>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Program Location</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        <b>Adjuster</b>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Desk Adjuster</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;" class="borderBottomLightGray ">
                        <strong>Price List Area</strong>
                    </td>
                    <td width="100%" style="padding: 3px;" class="borderBottomLightGray ">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        &nbsp;
                    </td>
                    <td width="100%" style="padding: 3px;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" class="borderBottomLightGray subHeadingBlack" style="padding: 3px;">
                        Loss Information
                    </td>
                    <td width="100%" class="borderBottomLightGray subHeadingBlack" style="padding: 3px;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Loss Address</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        <b>Loss Contact Name</b>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Loss Contact Phone</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;" class="style4">
                        <strong>Loss Date</strong>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        10-02-2012
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;" class="style4">
                        <strong>Loss Type</strong>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;" class="borderBottomLightGray ">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;" class="borderBottomLightGray ">
                        <b>Description of Loss</b>
                    </td>
                    <td width="100%" style="padding: 3px;" class="borderBottomLightGray ">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        &nbsp;
                    </td>
                    <td width="100%" style="padding: 3px;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" class="borderBottomLightGray subHeadingBlack" style="padding: 3px;">
                        Reports
                    </td>
                    <td width="100%" class="borderBottomLightGray subHeadingBlack" style="padding: 3px;">
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Initial Loss Report</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        <b>Cause</b>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Damages</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        <b>Overall Risk Condition</b>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;" class="borderBottomLightGray ">
                        <b>General Comments</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;" class="borderBottomLightGray ">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        &nbsp;
                    </td>
                    <td width="100%" style="padding: 3px;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;" class="borderBottomLightGray subHeadingBlack">
                        Policy Information
                    </td>
                    <td width="100%" style="padding: 3px;" class="borderBottomLightGray subHeadingBlack">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Policy Number</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        <b>Policy Type</b>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Policy Start Date</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        10-02-1990
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        <b>Policy End Date</b>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        09-02-2020
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Policy Times Renewed</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        3
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        <b>Coverages</b>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" bgcolor="#EAEAEA" style="padding: 3px;" class="borderBottomLightGray ">
                        <b>Flat Deductible</b>
                    </td>
                    <td width="100%" bgcolor="#EAEAEA" style="padding: 3px;" class="borderBottomLightGray ">
                        -Text-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        &nbsp;
                    </td>
                    <td width="100%" style="padding: 3px;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;" class="borderBottomLightGray subHeadingBlack">
                        &nbsp;
                    </td>
                    <td width="100%" style="padding: 3px;" class="borderBottomLightGray subHeadingBlack">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Assignment Date</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        10-02-2012
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        <b>Assignment Received Date</b>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        10-02-2012
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Insured Contacted Date</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        10-02-2012
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        <b>Inspection Performed Date</b>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        10-02-2012
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Estimate Completed Date</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        10-02-2012
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        <b>Estimate Approved Date</b>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        10-02-2012
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;">
                        <b>Job Started Date</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;">
                        10-02-2012
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        <b>Job Completed Date</b>
                    </td>
                    <td width="100%" style="padding: 3px;">
                        10-02-2012
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" style="padding: 3px;" class="borderBottomLightGray ">
                        <b>Closed Date</b>
                    </td>
                    <td bgcolor="#EAEAEA" width="100%" style="padding: 3px;" class="borderBottomLightGray ">
                        -NA-
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="padding: 3px;">
                        &nbsp;
                    </td>
                    <td width="100%" style="padding: 3px;">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="borderBottomLightGray">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td align="right" bgcolor="#F0F0F0" style="padding: 5px;">
            <table class="style3" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left">
                        @using (Html.BeginForm("Index", "NewAssignment"))
                        {
                            <input type="submit" class="buttonLightYellow_100" value="Back" />
                        }
                    </td>
                    <td align="right">
                        <input type="submit" class="buttonYellow_100" value="Confirm" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
