﻿@model BLL.ViewModels.ServiceTypesManagementViewModel

@{
    Layout = null;
}

<div class="portlet-body form">
    <div class="table-scrollable">
        <table class="table table-hover fontsizefortbl">
            <thead class="tableHeader" style="background-color: #406E98 !important;color: white;">
                <tr valign="top">
                    <th>Service Type</th>
                    <th>LOB</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ServiceTypes)
                {
                    <tr>
                        <td>@item.ServiceDescription</td>
                        <td>
                            @*<a href="javascript:void(0);" onclick="loadLOBPopup('@Url.Action("LineOfBusiness", "LineOfBusiness", new { HeadCompanyId = -1, LOBId = -1 })')" style="border: none; cursor: pointer;float:left;">LOB</a>*@
                            <a href="javascript:void(0);" onclick="loadLOBPopup('@Url.Action("NuGenLineOfBusiness", "NuGenLineOfBusiness", new { HeadCompanyId = -1, LOBId = -1, ServiceTypeId = @item.ServiceId })')" style="border: none; cursor: pointer;float:left;">LOB</a>
                        </td>
                        @*<td nowrap="nowrap" align="right">
                            <a href="javascript:void(0);" onclick="editServiceType(@item.ServiceId)" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom; padding-right: 3px;" />
                            </a>
                        </td>
                        <td>
                            <a href="javascript:void(0);" onclick="confirmDelete(@item.ServiceId);" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                            </a>
                        </td>*@
                        <td>
                            <div style="float:right;">
                                <a href="javascript:void(0);" onclick="editServiceType(@item.ServiceId)" style="text-decoration:none;border: none; padding-right:10px; color: black; cursor: pointer;">
                                    <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom; padding-right: 3px;" />
                                </a>
                        
                                <a href="javascript:void(0);" onclick="confirmDelete(@item.ServiceId);" style="text-decoration:none;border: none;  padding-right:10px; color: black; cursor: pointer;">
                                    <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" id="hdnServiceAction" />
    </div>
</div>

