﻿@model BLL.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Login";
}
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <title>IADA Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="#1 selling multi-purpose bootstrap admin theme sold in themeforest marketplace packed with angularjs, material design, rtl support with over thausands of templates and ui elements and plugins to power any type of web applications including saas and admin dashboards. Preview page of Theme #2 for "
          name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <style>
        .login .content .form-control {
            background-color: white;
            !important;
        }

        .login .content .form-actions {
            border-bottom: none;
            !important;
        }
    </style>
</head>

<body class="login">
    <div class="logo">
        <h2 class="form-title font-green" style="font-size: 36px; font-weight: bold;">IADA</h2>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <form class="register-form" action="@Url.Content("~/Account/NewPasswordSetup")" method="post" novalidate="novalidate" style="display: block;">
            <h3 class="font-green">New Password Setup</h3>
            <div class="errorMsg" style="color:red;">
                @*<div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>*@
                @Html.ValidationSummary(false)
                @if (TempData["errorMsg"] != null)
                {
                    <ul><li>  @TempData["errorMsg"]</li></ul>
                }
                @*</div>*@
            </div>

            @*<p class="hint"> Enter New Password: </p>*@
            @Html.HiddenFor(model => model.resetKey)
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>

                @Html.PasswordFor(Model => Model.Password, new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Password" })
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
                @Html.PasswordFor(Model => Model.ConfirmPassword, new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Re-type Your Password" })
            </div>

            <div class="form-actions">
                <button type="button" id="register-back-btn" class="btn green btn-outline">Back</button>
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
<script type="text/javascript">
    (function (window) {
        if (window.location !== window.top.location) {
            window.top.location = window.location;
        }
    })(this);


    function registerlink() {
        $('#divregister').modal("show");
    }

    jQuery(document).ready(function () {
        Login.init();
    });
    var Login = function () {
        var handleRegister = function () {
          
        }
        return {
            //main function to initiate the module
            init: function () {

                handleRegister();


            }

        };
    }();
</script>

@*<div>
        @Html.Partial("_Login")
    </div>*@
