﻿@model BLL.ViewModels.UserProfileViewModel

<link href="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />
<link href="~/assets/pages/css/profile.min.css" rel="stylesheet" />
<style>
    .portlet.light {
    padding: 12px 20px 15px;
    background-color: #eef1f5 !important;
}
    .col-md-4 {
        position: relative;
        min-height: 1px;
        padding-left: 10px !important;
        padding-right: 15px;
    }
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 40% !important;
    height: 40% !important;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important;
}
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
<h1 class="page-title">
    User Profile | Account
    
</h1>
<div class="row" ng-app="CSSMVCApp">
    <div class="col-md-12" ng-controller="UserProfileController" ng-init="initializeController()" ng-cloak>
        <style type="text/css">
            .waiting-box {
                display: block;
                position: absolute; /* fixed position so it doesn't scroll */
                _position: absolute; /* hack for internet explorer 6*/
                z-index: 9999; /* on top of everything else */
                left: 50%;
                top: 50%; /* displayed on the top of the page, just like Gmail's yellow info-box */
                background: white;
                border: 1px solid #cecece;
                border-radius: 4px;
                display: none;
            }

            .waitStyle {
                opacity: 0.7;
                cursor: wait;
            }
        </style>
        <div loading-indicator class="waiting-box">
            <img src="@Url.Content("~/Content/Images/spinner.gif")" width="150" height="150" />
        </div>
        <div ng-class="{waitStyle:IsSpinnerVisible}">
            <input type="hidden" useruid-model="userID" value="@Model.user.UserId" />
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="alert alert-info" ng-if="IsErrorExist">
                <strong>Info!</strong> {{errorMessage}}
            </div>
            <div class="profile-sidebar">
                <!-- PORTLET MAIN -->
                <div class="portlet light profile-sidebar-portlet ">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        @*@if (String.IsNullOrEmpty(Model.user.imagePath))
                            {
                                <img src="~/Content/Images/avatar.png" ng-src="{{profileImage}}" class="img-responsive" alt="">
                            }
                            else
                            {
                                <img src="@Model.user.imagePath" ng-src="{{profileImage}}" class="img-responsive" alt="">
                            }*@
                        @{
                            var imagePath = String.Empty;
                            if (Model.user.Company1 != null)
                            {
                                imagePath = CSS.Utility.GetClaimServiceProviderAbsoluteDocPath((Int32)Model.user.HeadCompanyId, Model.user.Company1.imagePath);
                            }
                            else
                            {
                                imagePath = Url.Content("~/Content/Images/avatar.png");
                            }
                        }
                        <img src="@imagePath" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name"> {{profileInfo.FirstName}} {{profileInfo.LastName}} </div>

                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    @*<div class="profile-userbuttons">
                            <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                            <button type="button" class="btn btn-circle red btn-sm">Message</button>
                        </div>*@
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <!-- END MENU -->
                </div>
                <!-- END PORTLET MAIN -->
                <!-- PORTLET MAIN -->
                <div class="portlet light ">
                    <!-- STAT -->
                    <!-- END STAT -->
                    <div class="row list-separated profile-stat">

                        <div class="margin-top-20 profile-desc-link">
                            <i class="fa fa-twitter"></i>
                            <a href="{{profileInfo.Twitter}}">{{profileInfo.Twitter}}</a>
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="fa fa-facebook"></i>
                            <a href="{{profileInfo.Facebook}}">{{profileInfo.Facebook}}</a>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET MAIN -->
            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light ">
                            <div class="portlet-title tabbable-line">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab_1_1" data-toggle="tab" aria-expanded="true">Overview</a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_4" data-toggle="tab" aria-expanded="true">Personal info</a>
                                    </li>
                                    @*<li class="">
                                            <a href="#tab_1_2" data-toggle="tab" aria-expanded="false">Change Avatar</a>
                                        </li>*@
                                    <li class="">
                                        <a href="#tab_1_3" data-toggle="tab" aria-expanded="false">Change Password</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <!-- PERSONAL INFO TAB -->
                                    <div class="tab-pane active" id="tab_1_1">
                                        <div class="row">
                                            <div id="mainblock" class="portlet light bordered wStyle" style="margin: 0px; padding-bottom: 0px;">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-equalizer font-blue-hoki"></i>
                                                        <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Company Info </span>
                                                    </div>
                                                    <div class="tools">
                                                        <a href="" class="collapse" data-original-title="" title=""> </a>
                                                    </div>
                                                </div>
                                                <div class="portlet-body form" style="display: block;margin-top: -14px;">
                                                    <div class="form-horizontal" role="form">
                                                        <div class="col-md-6">

                                                            <div ng-if="checkHeadCompanyExist(profileInfo.Company1)">
                                                                <div class="form-group">
                                                                    <label for="LOBType" class="col-md-4 control-label">Name:</label>
                                                                    <div class="col-md-8">
                                                                        <p class="form-control-static">

                                                                            {{profileInfo.Company1.CompanyName}}
                                                                        </p>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="LOBType" class="col-md-4 control-label">Address:</label>
                                                                    <div class="col-md-8">
                                                                        <p class="form-control-static">

                                                                            {{profileInfo.Company1.Address}}
                                                                            <br>{{profileInfo.Company1.City}}, {{profileInfo.Company1.State}} {{profileInfo.Company1.Zip}}
                                                                        </p>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="LOBType" class="col-md-4 control-label">Phone:</label>
                                                                    <div class="col-md-8">
                                                                        <p class="form-control-static">

                                                                            {{profileInfo.Company1.PhoneNumber}}
                                                                        </p>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="alert alert-info" ng-if="!checkHeadCompanyExist(profileInfo.Company1)">
                                                                <strong>Info!</strong> Company Info Not Found!
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="mainblock" class="portlet light bordered wStyle" style="margin: 0px; padding-bottom: 0px;">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-equalizer font-blue-hoki"></i>
                                                        <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Person Info </span>
                                                    </div>
                                                    <div class="tools">
                                                        <a href="" class="collapse" data-original-title="" title=""> </a>
                                                    </div>
                                                </div>
                                                <div class="portlet-body form" style="display: block;margin-top: -14px;">
                                                    <div class="form-horizontal" role="form">
                                                        <div class="col-md-6">

                                                            <div class="form-group">
                                                                <label for="LOBType" class="col-md-4 control-label">User Name:</label>
                                                                <div class="col-md-8">
                                                                    <p class="form-control-static">

                                                                        {{profileInfo.UserName}}
                                                                    </p>
                                                                </div>

                                                            </div>
                                                            <div class="form-group">
                                                                <label for="LOBType" class="col-md-4 control-label">Email Address:</label>
                                                                <div class="col-md-8">
                                                                    <p class="form-control-static">

                                                                        {{profileInfo.Email}}
                                                                    </p>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="mainblock" class="portlet light bordered wStyle" style="margin: 0px; padding-bottom: 0px;">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-equalizer font-blue-hoki"></i>
                                                        <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Address Info</span>
                                                    </div>
                                                    <div class="tools">
                                                        <a href="" class="collapse" data-original-title="" title=""> </a>
                                                    </div>
                                                </div>
                                                <div class="portlet-body form" style="display: block;margin-top: -14px;">
                                                    <div class="form-horizontal" role="form">
                                                        <div class="col-md-6">

                                                            <div class="form-group">
                                                                <label for="LOBType" class="col-md-4 control-label">Address:</label>
                                                                <div class="col-md-8">
                                                                    <p class="form-control-static">

                                                                        {{profileInfo.StreetAddress}}
                                                                        <br>
                                                                        {{profileInfo.City}}, {{profileInfo.State}} {{profileInfo.Zip}}
                                                                    </p>
                                                                </div>

                                                            </div>
                                                            @*<div class="form-group">
                                                                    <label for="LOBType" class="col-md-4 control-label">City:</label>
                                                                    <div class="col-md-8">
                                                                        <p class="form-control-static">
                                                                            @Model.user.City
                                                                        </p>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="LOBType" class="col-md-4 control-label">State :</label>
                                                                    <div class="col-md-8">
                                                                        <p class="form-control-static">
                                                                            @Model.user.State
                                                                        </p>
                                                                    </div>

                                                                </div>*@
                                                            <div class="form-group">
                                                                <label for="LOBType" class="col-md-4 control-label">Mobile Phone:</label>
                                                                <div class="col-md-8">
                                                                    <p class="form-control-static">

                                                                        {{profileInfo.MobilePhone}}
                                                                    </p>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END PERSONAL INFO TAB -->
                                    <!-- CHANGE AVATAR TAB -->
                                    <style>
                                        .ng-invalid.ng-touched {
                                            /*color: Maroon;*/
                                            /*font-weight: bold;
                                             background-color: #ffeeee;*/
                                            border-bottom-color: red;
                                            border-top-color: red;
                                            border-left-color: red;
                                            border-right-color: red;
                                        }
                                    </style>
                                    <div class="tab-pane" id="tab_1_2">
                                        <p>
                                            Profile Picture Upload
                                        </p>
                                        <form name="uploadImageForm" ng-submit="saveImage()" role="form">
                                            <div class="form-group">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                                    </div>
                                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                                    <div>
                                                        <span class="btn default btn-file">
                                                            <span class="fileinput-new"> Select image </span>
                                                            <span class="fileinput-exists"> Change </span>
                                                            <input type="file" image-model="imagefile" name="..." ng-required="true">
                                                        </span>
                                                        <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                    </div>
                                                </div>
                                                <div class="clearfix margin-top-10">
                                                    @*<span class="label label-danger"> NOTE! </span>
                                                        <span> Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>*@
                                                </div>
                                            </div>
                                            <div class="margin-top-10">
                                                @*<a href="javascript:;" class="btn green"> Submit </a>*@
                                                <button type="submit" class="btn btn-primary">
                                                    Save
                                                </button>
                                                @*<a href="javascript:;" class="btn default"> Cancel </a>*@
                                            </div>
                                        </form>
                                    </div>
                                    <!-- END CHANGE AVATAR TAB -->
                                    <!-- CHANGE PASSWORD TAB -->
                                    <div class="tab-pane" id="tab_1_3">
                                        <form name="frmUpdatePassword" ng-submit="updatePassword()" role="form">
                                            <div class="form-group">
                                                <label class="control-label">Current Password</label>
                                                <input type="password" ng-model="FormData.CurrentPassword" class="form-control" ng-required="true">
                                            </div>
                                            <div class="form-group">
                                                <label cclass="control-label">New Password</label>
                                                <input type="password" ng-model="FormData.Password" name='password' class="form-control" ng-required="true">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Re-type New Password</label>
                                                <input type="password" ng-model="FormData.PasswordConfirm" name='confirm_password' class="form-control" ng-required="true" data-password-verify="FormData.Password">
                                                <div style="color:red" ng-show="frmUpdatePassword.confirm_password.$error.required&&frmUpdatePassword.confirm_password.$touched">
                                                    confirm password is required!
                                                </div>
                                                <div style="color:red" ng-show="frmUpdatePassword.confirm_password.$error.passwordVerify">
                                                    Password does not match the confirm password!
                                                </div>
                                            </div>
                                            <div class="margin-top-10">
                                                <button type="submit" class="btn btn-primary">
                                                    Change Password
                                                </button>
                                             
                                                @*<a href="javascript:;" class="btn default"> Cancel </a>*@
                                            </div>
                                        </form>
                                    </div>
                                    <!-- END CHANGE PASSWORD TAB -->

                                    <div class="tab-pane" id="tab_1_4">
                                        <form name="frmProfileInfo" role="form" ng-submit="updateProfileInfo()">
                                            <div class="row">
                                                <div id="mainblock" class="portlet light bordered wStyle" style="margin: 0px; padding-bottom: 0px;">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class="icon-equalizer font-blue-hoki"></i>
                                                            <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Person Info                                                    </span>
                                                        </div>
                                                        <div class="tools">
                                                            <a href="" class="collapse" data-original-title="" title=""> </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body form" style="display: block;margin-top: -14px;">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">First Name</label>
                                                            <div class="col-md-8" style="margin-bottom: 10px;">
                                                                <input type="text" ng-model="profileInfo.FirstName" placeholder="First Name" class="form-control" ng-required="true">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Last Name</label>
                                                            <div class="col-md-8" style="margin-bottom: 10px;">
                                                                <input type="text" ng-model="profileInfo.LastName" placeholder="Last Name" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Mobile Number</label>
                                                            <div class="col-md-8" style="margin-bottom: 10px;">
                                                                <input type="text" ng-model="profileInfo.MobilePhone" placeholder="Mobile" class="form-control" ng-required="true">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Email</label>
                                                            <div class="col-md-8" style="margin-bottom: 10px;">
                                                                <input type="text" ng-model="profileInfo.Email" placeholder="Email" class="form-control">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div id="mainblock" class="portlet light bordered wStyle" style="margin: 0px; padding-bottom: 0px;">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class="icon-equalizer font-blue-hoki"></i>
                                                            <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Address Info                                                    </span>
                                                        </div>
                                                        <div class="tools">
                                                            <a href="" class="collapse" data-original-title="" title=""> </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body form" style="display: block;margin-top: -14px;">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Address</label>
                                                            <div class="col-md-8" style="margin-bottom: 10px;">
                                                                <input type="text" ng-model="profileInfo.StreetAddress" placeholder="Address" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">zip</label>
                                                            <div class="col-md-8" style="margin-bottom: 10px;">
                                                                <input type="text" ng-model="profileInfo.Zip" placeholder="zip" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">City</label>
                                                            <div class="col-md-8" style="margin-bottom: 10px;">
                                                                <input type="text" ng-model="profileInfo.City" placeholder="City" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">State</label>
                                                            <div class="col-md-8" style="margin-bottom: 10px;">
                                                                @*<input type="text" ng-model="profileInfo.State" placeholder="State" class="form-control">*@
                                                                <select ng-model="profileInfo.State" class="form-control">
                                                                    <option value="0">Select Service Type</option>
                                                                    <option ng-repeat="state in StateList" value="{{state.Value}}">{{state.Text}}</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="margiv-top-10">
                                                @*<a href="javascript:;" class="btn green"> Save Changes </a>*@
                                                <button type="submit" class="btn btn-primary">
                                                    Update
                                                </button>
                                                <a href="javascript:;" class="btn default"> Cancel </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PROFILE CONTENT -->
        </div>
    </div>

</div>

@section PageLevelScript{
<script src="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
<script src="~/Views/Account/UserProfileController.js"></script>
}