﻿@model BLL.ViewModels.XACTAutoClaimsInfoViewModel
@using CSS

@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}


@*<div class="" style="background-color: #67809F; height: 30px; width: 200px; ">    
    <span style="color:white; vertical-align: -webkit-baseline-middle; padding-left: 10px; "><i class="fa fa-sticky-note-o"></i><b> Notes History </b></span>
</div>*@
@*<br />*@
@*<div class="row">
    
    <div class="col-md-9">        
        <div class="form-group">                       
                <div class="btn-group" style="width: 25%; margin-left:15px;">
                    <button type="button" class="multiselect dropdown-toggle mt-multiselect btn btn-success btn-circle" data-toggle="dropdown" title="None selected" style="width: 100%; overflow: hidden; text-overflow: ellipsis;"><span class="multiselect-selected-text">None selected</span> <b class="caret"></b></button>
                </div>            
        </div>
    </div>    
    <div class="col-md-3">
        <div class="form-group FormControlMargin" style="text-align: right; padding-right: 15px; padding-bottom: 5px;">
            <button type="button" class="demo-loading-btn btn btn-primary btn-circle"> Mark Billable</button>
            <button type="button" class="demo-loading-btn btn red btn-circle" data-toggle="modal" href="#NewAutoNote">
                <i class="fa fa-edit"></i> New Note
            </button>
        </div>
    </div>
</div>*@
<div class="portlet-body" id="AutoNoteList" style="margin-top: -10px;">   
    <div class="table-scrollable">
        <table class="table table-striped table-hover">
            <thead style="color: white; background-color: #67809f;">
                <tr>
                    <th></th>
                    <th> Created </th>
                    <th> Subject </th>
                    <th> Comment </th>
                    <th> No. Of Hours </th>
                    <th> Is Billable </th>
                    <th> Billed </th>
                    <th> Private </th>
                    <th> System </th>
                    <th>
                        <button type="button" class="btn yellow-crusta btn-sm" onclick="btnMarkNoteBillable_Click();">
                            <i class="fa fa-edit"></i> Billable
                        </button>
                    </th>
                    <th>
                        <button type="button" class="btn red btn-sm" data-toggle="modal" href="#NewAutoNote">
                            <i class="fa fa-edit"></i> New Note
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                    //int j = Model.Pager.Page - 1;
                    //int z = Convert.ToInt32(Model.Pager.RecsPerPage);
                    //int k = j * z;

                    if (Model.AutoNoteHistory != null)
                    {
                        foreach (var notes in Model.AutoNoteHistory)
                        {
                            <tr style="vertical-align:top" class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                <td>
                                    <input type="checkbox" name="cbSelect" value="@notes.AutoNoteId" />
                                </td>
                                <td nowrap="nowrap">
                                    @notes.DateCreated.Value.ToString("MM/dd/yyyy")
                                    @{
                            //BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                            BLL.User user = null;
                            if (notes != null)
                            {
                                user = css.Users.Find(notes.FromUserId);
                                if (user != null)
                                {
                                    <br />
                                        @:@(!String.IsNullOrEmpty(user.FirstName) ? user.FirstName : "") @(!String.IsNullOrEmpty(user.MiddleInitial) ? user.MiddleInitial : "") @(!String.IsNullOrEmpty(user.LastName) ? user.LastName : "")
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                }
                            }
                                    }
                                </td>                                
                                <td>@Html.Raw(@notes.Subject)</td>
                                @*<td>
                                    @if (@notes.Comment != null && @notes.Comment != "")
                                    {
                                        if (@notes.Comment.Length > 50)
                                        {
                                            <a href="#">
                                                <img id="imgExpand@(i + "")" alt="Expand" title="Expand" class="imgExpand" src="~/Content/Images/plus.png" onclick="showRecordDetails(@(i + ""))" style="border: none; margin-top:0.5%; " />
                                            </a>
                                            <a href="#">
                                                <img id="imgCollapse@(i + "")" title="Collapse" class="imgCollapse" onclick="hideRecordDetails(@(i + ""))" alt="Collapse" src="~/Content/Images/minus.png" style="display: none; border: none; margin-top:2.5%" />
                                            </a>
                                        }
                                    }
                                    &nbsp;
                                </td>*@
                                @*<td id="Comment@(i + "")" nowrap="nowrap">
                                    @{
                                    string userFirstName = "";
                                    string userLastName = "";
                                    if (user != null)
                                    {
                                        userFirstName = user.FirstName;
                                        userLastName = user.LastName;
                                    }
                                    }
                                    <input type="hidden" id="@("txtNote" + notes.AutoNoteId)" value="@notes.Comment" />
                                    <a href="javascript:;" onclick='loadPopupNotedetail("@notes.AutoNoteId","@Html.Encode(notes.Subject)","@(notes.DateCreated.HasValue ? notes.DateCreated.Value.ToString("MM/dd/yyyy hh:mm:ss tt") : "")","@("txtNote" + notes.AutoNoteId)","@userFirstName @userLastName","@((notes.IsBillable.HasValue ? notes.IsBillable.Value + "" : "false").ToLower())","@(notes.NoOfHours.HasValue ? notes.NoOfHours.Value + "" : "")");'>

                                        @if (@notes.Comment != null && @notes.Comment != "")
                                        {
                                            if (@notes.Comment.Length > 50)
                                            {
                                                
                                                @Html.Raw(notes.Comment.Substring(0, 50) + "...")
                                            }
                                            else
                                            { @Html.Raw(notes.Comment)}
                                        }
                                        else
                                        { @Html.Raw(notes.Comment)}
                                    </a>
                                </td>*@
                                <td>
                                    @notes.Comment
                                </td>
                                <td>
                                    @(notes.NoOfHours.HasValue ? notes.NoOfHours.Value.ToString("0.00") : "")
                                </td>
                                <td align="center">
                                    @(notes.IsBillable.HasValue ? notes.IsBillable.Value ? "Yes" : "" : "")
                                </td>
                                <td align="center">
                                    @if (notes.BilledInvoiceId.HasValue)
                                    {
                                        <img src="@Url.Content("~/Content/Images/Approve.png")" width="16" height="16" title="Billed" alt="Billed" />
                                    }

                                </td>
                                <td nowrap="nowrap">
                                    @notes.IsPrivate
                                </td>
                                <td nowrap="nowrap">
                                    @notes.IsSystemGenerated
                                </td>
                                @*<td>
                                    @if (loggedInUser.UserTypeId != 11)
                                    {
                                        <a href="#" style="text-decoration:none;" onclick="loadParticipantsendEmailPopup('@notes.AutoAssignmentId','@notes.Subject','@notes.DateCreated','@("txtNote" + notes.AutoNoteId)','@notes.FromUserId');">
                                            <img border="0" title="Email Note" alt="Email Note" height="16" width="16" src="@Url.Content("~/Content/Images/email_forward.png")" />
                                        </a>
                                    }
                                </td>*@
                                <td style="display: none;"></td>
                                <td ></td>
                                <td ></td>
                            </tr>
                            if (@notes.Comment != null && @notes.Comment != "")
                            {
                                if (@notes.Comment.Length > 50)
                                {
                                    <tr id="trRecordInfo@(i + "")" style="display:none; vertical-align:top" class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate") expand">
                                        <td colspan="4">&nbsp;</td>
                                        <td colspan="8">
                                            @*@Html.Raw(Html.Encode(@notes.Comment).Replace("\n", "<br />"))*@
                                            @Html.Raw((@notes.Comment).Replace("\n", "<br />"))
                                        </td>
                                    </tr>
                                }
                            }
                            i++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
