﻿@model BLL.ViewModels.XACTAutoClaimsInfoViewModel 
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

<div class="form-body portletBkColor" style="padding: 10px;">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Insurance Company :</label>
                <div class="col-md-6">
                    <p class="form-control-static">
                        @{
                            if (Model.claim != null)
                            {
                                BLL.Company insuranceCompany = null;
                                if (Model.claim.HeadCompanyId.HasValue)
                                {
                                    insuranceCompany = css.Companies.Find(Model.claim.HeadCompanyId);
                                }
                                if (insuranceCompany != null)
                                {
                                    @insuranceCompany.CompanyName
                                }

                            }
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">
                    Policy Number :
                </label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.PolicyNumber </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign">Deductible Amount :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.TotalDeductible </p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign">Type Of Loss :</label>
                <div class="col-md-6">
                    <p class="form-control-static">
                        @{
                            if (Model.claim != null)
                            {
                                BLL.LossType LossType = null;
                                if (Model.claim.CauseTypeOfLoss.HasValue)
                                {
                                    LossType = css.LossTypes.Find(Model.claim.CauseTypeOfLoss);
                                }
                                if (LossType != null)
                                {
                                    @LossType.LossType1
                                }
                            }
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Type of Claim :</label>
                <div class="col-md-6">
                    <p class="form-control-static">
                        @{
                            if (Model.claim != null)
                            {
                                BLL.ClaimType ClaimType = null;
                                if (Model.claim.ClaimTypeId.HasValue)
                                {
                                    ClaimType = css.ClaimTypes.Find(Model.claim.ClaimTypeId);
                                }
                                if (ClaimType != null)
                                {
                                    @ClaimType.Description
                                }
                            }
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign">Date of Loss :</label>
                <div class="col-md-6">
                    <p class="form-control-static">
                        @{
                            if (Model.claim.DateofLoss.HasValue)
                            {
                                <text> @Model.claim.DateofLoss.Value.ToString("MM/dd/yyyy")</text>
                            }
                        }
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!--/row-->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign"><b>Claim for :</b></label>
                <div class="col-md-6">
                    <p class="form-control-static">
                        @{
                            if (Model.claim != null)
                            {
                                BLL.ReferrerType ReferrerType = null;
                                if (Model.claim.ReferrerTypeId.HasValue)
                                {
                                    ReferrerType = css.ReferrerTypes.Find(Model.claim.ReferrerTypeId);
                                }
                                if (ReferrerType != null)
                                {
                                    @ReferrerType.ReferrerType1
                                }
                            }
                        }
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign"><b>Type of Service:</b></label>
                <div class="col-md-6">
                    <p class="form-control-static">
                        @{
                            if (Model.AutoAssignment != null)
                            {
                                var serviceOffering = (from c in css.ServiceOfferings
                                                       where c.ServiceId == Model.AutoAssignment.ServiceId
                                                       select c).FirstOrDefault();
                                
                                if(serviceOffering != null)
                                {
                                    @serviceOffering.ServiceDescription
                                }

                            }
}
                    </p>
                </div>
            </div>
        </div>
        @*<div class="col-md-4">
                <div class="form-group FormControlMargin">
                    <label class="control-label col-md-6 FormControlTextAlign">Status Approved :</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><a onclick="updateAutofilestatus('@Model.AutoAssignment.AutoAssignmentId')">Approved</a></p>
                    </div>
                </div>
            </div>*@

    </div>
    <div class="row">
        <div id="mainblock" class="portlet light bordered portletpanel">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">
                    
                      
                        @if (Model.AutoAssignment.ServiceId != 9)
                        {
                             <text>Owner Info</text>
                        }
                        else
                        {
                            <text>Loss Information</text>
                        }
                     </span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form portletBkColor" style="display: block;margin-top: -14px;margin-left: -6px;    margin-right: -20px;">
                <div class="form-horizontal" role="form">
                    @if (Model.AutoAssignment.ServiceId != 9) { 
                    @Html.Partial("_OwnerInfo")
                    }
                    else
                    {
                        @Html.Partial("_LossInformationDet")
                    }
               
                 </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div id="mainblock" class="portlet light bordered portletpanel" style="margin: 0px; padding-bottom: 0px;border-bottom-width: 0px !important;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">
                        @if (Model.AutoAssignment.ServiceId !=9)
                        {
                            <text> Vehicle Info</text>
                        }
                        else
                        {
                            <text>Insured Information</text>
                        }
                   
                    
                    </span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form portletBkColor" style="display: block;margin-top: -14px;margin-left: -6px;   margin-right: -20px;">
                <div class="form-horizontal" role="form">
                    
                    @if (Model.AutoAssignment.ServiceId != 9)
                    {
                        if(Model.IsNuGenClaim)
                        {
                            @Html.Partial("_NuGenVehicleInfo")
                        }
                        else
                        { 
                            @Html.Partial("_VehicleInfo")
                        }
                    }
                    else
                    {
                        @Html.Partial("_InsuredInformationDet")
                    }


                </div>

            </div>
        </div>
    </div>
</div>