﻿@model BLL.ViewModels.XACTAutoClaimsInfoViewModel
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

<div class="form-body" style="padding: 0px;padding-left: 11px;">
    @*<h5 class="form-section">Vehicle Information</h5>*@
    <div class="row">
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Vehicle Location :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.NugenVehicleLocationName </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">VIN# :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.VehicleClaimDetail.VIN_ </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Address :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.VehicleClaimDetail.Address1 @Model.VehicleClaimDetail.Address2</p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">
                    Contact Name :
                </label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.PropertyContactName </p> @*RRRRRRRRRRRRRRRRRRRRRRR*@
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Year :</label>
                <div class="col-md-6">
                    <p class="form-control-static">
                        @Model.VehicleClaimDetail.Year

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">City :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.VehicleClaimDetail.City </p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Contact Phone :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.VehicleClaimDetail.Phone1 </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Make :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.VehicleClaimDetail.Make </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">State :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.VehicleClaimDetail.State </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Damage :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.VehicleClaimDetail.AutoDamage </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Model :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.VehicleClaimDetail.AutoModel </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Zip :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.VehicleClaimDetail.Zip </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">License Plate :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.VehicleClaimDetail.LicensePlate </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Color :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.VehicleClaimDetail.AutoColor </p>
                </div>
            </div>
        </div>

    </div>
</div>