﻿@model BLL.ViewModels.AutoAssignmentViewModel

<div class="portlet box Cportletbox" ng-app="CSSMVCApp">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Auto Assignment
        </div>
        <div class="tools">
            @*<a href="javascript:;" class="collapse"> </a>*@
        </div>
    </div>
    <div class="portlet-body form" ng-controller="SPMapSearchController12">
        <!-- BEGIN FORM-->
        @*<form action="#" class="form-horizontal">*@
        <div class="form-horizontal">
            <div class="form-actions top">
                <div class="row" style="margin-top:-20px !important">
                    <div class="col-md-12">
                        <!--page content -->
                        <table bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">
                            <tr>
                                <td>

                                    @using (Html.BeginForm("AutoAssignment", "AutoAssignment", FormMethod.Post))
                                    {
                                        <input type="hidden" id="claimid" name="claimid" value="@Model.claim.ClaimId" />
                                        @Html.HiddenFor(model => model.claim.ClaimId)
                                        @Html.HiddenFor(model => model.autoassignment.AutoAssignmentId)
                                        @Html.HiddenFor(model => model.UseMasterPageLayout)
                                        <table width="100%">
                                            @*<tr>
                                                    <td class="mainHeader">Auto Assignment</td>
                                                </tr>*@
                                            <tr valign="top">
                                                <td>
                                                    <table width="100%">
                                                        <tr valign="top">
                                                            <td align="left" class="errorMsg" style="width: 100%;" width="100%">@Html.ValidationSummary()</td>
                                                            @*<td align="right" nowrap="nowrap">*Required Field</td>*@
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="footer" align="right">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td align="left"></td>
                                                            <td align="right">
                                                                <input type="submit" class="btn btn-primary" value="Submit" />
                                                                @{
                                                                    if(Model.isNuGenClaim)
                                                                    { 
                                                                        <input type="button" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("InvoiceAutoSearch", "AutoAssignment", new { reviewType = TempData.Peek("reviewType") })'" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="button" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("AutoSearch", "AutoAssignment", new { reviewType = TempData.Peek("reviewType")})'" />
                                                                    }
                                                                }
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><div style="width:100%;">@Html.Partial("_AutoClaimInformation", Model)</div></td>
                                            </tr>
                                            <tr>
                                                <td><div style="width:100%;">@Html.Partial("_OwnerInformation", Model)</div></td>
                                            </tr>
                                            <tr>
                                                <td><div style="width:100%;">@Html.Partial("_VehicleLocation", Model)</div></td>
                                            </tr>
                                            <tr>
                                                <td><div style="width:100%;">@Html.Partial("_VehicleInformation", Model)</div></td>
                                            </tr>
                                            <tr>
                                                <td class="footer" align="right">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td align="left"></td>
                                                            <td align="right">
                                                                <input type="submit" class="btn btn-primary" value="Submit" />
                                                                @{
                                                                    if (Model.isNuGenClaim)
                                                                    {
                                                                        <input type="button" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("InvoiceAutoSearch", "AutoAssignment", new { reviewType = TempData.Peek("reviewType") })'" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="button" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("AutoSearch", "AutoAssignment", new { reviewType = TempData.Peek("reviewType")})'" />
                                                                    }
                                                                }
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @*</form>*@
        <!-- END FORM-->
    </div>
</div>



@section PageLevelScript{

<script type="text/javascript">
    function GetClaimRepresentative(CompanyID) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddlcity").html(procemessage).show();

        var url = "@Url.Content("~/AutoAssignment/GetClaimRepresentativeList")";
        $.ajax({
            url: url,
            data: { CompanyID: CompanyID },
            cache: false,
            type: "POST",
            success: function (data) {
                var RepresentativeList;
                for (var i = 0; i < data.length; i++) {
                    RepresentativeList += "<option value=" + data[i].Value + ">" + data[i].Text + "</option>";
                }
                $("#ddlClaimRepresentativeList").html(RepresentativeList).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

    function populateZipData(zipControl, stateControl, cityControl) {
        try {
            $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
        { ZipCode: $("#" + zipControl).val() },
        function (data) {
            if (data != -1) {

                $("#" + stateControl).val(data.State);
                $("#" + cityControl).val(data.City);
            }
            else {
                $("#" + stateControl).val("");
                $("#" + cityControl).val("");
            }

        });
            copyInsuredToLossOnBlur();
        } catch (err) {
        }
    }
    var app = angular.module('CSSMVCApp', []);
    app.controller('SPMapSearchController12', ['$scope', function ($scope) {
        $scope.CntrlMD = 'col-md-6';
        $scope.popup2 = {
            opened: false
        };
    }]);


    //$(function () {
    //    $('#ddlInsuranceCompany').blur(function () {           
    //        populateClientPOCDLL('0');
    //        GetLineOfBussinessList();
    //    });

    //});

    function GetLineOfBussinessList() {
        var selectedCategoryId = $('#ddlInsuranceCompany').val();
        
        $("#imgLOBListLoading").show();
        $('#ddlLOB').empty();
        $('#ddlLOB').append($('<option/>').attr('value', "0").text("--Select--"));
        $.getJSON('@Url.Action("GetLOBList")',
                   { companyId: selectedCategoryId },
                   function (subcategories) {
                       var subsSelect = $('#ddlLOB');
                       $('#ddlLOB').empty();
                       $.each(subcategories, function (index, subcat) {
                           subsSelect.append(
                               $('<option/>')
                                   .attr('value', subcat.Value)
                                   .text(subcat.Text)
                           );
                       });
                       $("#imgLOBListLoading").hide();
                   });
    }

    function populateClientPOCDLL(SelectClientPOCFromList) {
        var selectedCategoryId = $('#ddlInsuranceCompany').val();
        
        $("#imgClientPOCListLoading").show();
        //$('#ddlLOB').empty();
        //$('#ddlLOB').append($('<option/>').attr('value', "0").text("--Select--"));
        $.getJSON('@Url.Action("GetInternalContactList")',
                { companyId: selectedCategoryId },
                function (subcategories) {
                    var subsSelect = $('#ddlClientPointOfContact');
                    subsSelect.empty();
                    $.each(subcategories, function (index, subcat) {
                        subsSelect.append(
                            $('<option/>')
                                .attr('value', subcat.Value)
                                .text(subcat.Text)
                        );
                    });

                    try {
                        $('#ddlClientPointOfContact').val(SelectClientPOCFromList);
                    }
                    catch (e) {

                    }
                    $("#imgClientPOCListLoading").hide();
                });
    }

    $(document).ready(function () {
        


        $('#chkSameOwnerAddress').change(function () {
            if ($("#chkSameOwnerAddress").is(":checked")) {               

                var add = $("#txtOwnerAddress1").val();
                var zip = $("#txtOwnerZip").val();
                var city = $("#txtOwnerCity").val();
                var state = $("#ddlOwnerState").val();
                
                $("#txtPropertyAddress1").val(add);
                $("#txtPropertyZip").val(zip);
                $("#txtPropertyCity").val(city);
                $("#ddlPropertyState").val(state);

                //$("#txtPropertyAddress1").attr('readonly', true);
                //$("#txtPropertyZip").attr('readonly', true);
                //$("#txtPropertyCity").attr('readonly', true);
                //$("#ddlPropertyState").attr('readonly', true);
                 
            }
            else {               

                $("#txtPropertyAddress1").val('');
                $("#txtPropertyZip").val('');
                $("#txtPropertyCity").val('');
                $("#ddlPropertyState").val(0);

                //$("#txtPropertyAddress1").prop('disabled', false);
                //$("#txtPropertyZip").prop('disabled', false);
                //$("#txtPropertyCity").prop('disabled', false);
                //$("#ddlPropertyState").prop('disabled', false);
            }            
        });
    });

</script>


}
