﻿@using CSS
@model BLL.ViewModels.NuGenAutoAssignmentSearchViewModel

@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    ViewBag.Title = "Invoices AutoSearch";
}

<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />

<style type="text/css">
    #bgAssignCSSPOC {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .AssignCSSPOCPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 400px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }


    #backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }

    #backgroundPropertyInvoicePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 10;
    }

    .EditPropertyInvoicePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 600px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 11;
        font-size: 13px;
    }

    #backgroundInvoiceListPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 8;
    }

    .InvoiceListPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 500px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 9;
        font-size: 13px;
    }

    .backgroundPopupClaimsSearchList {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditPopupClaimsSearchList {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
</style>

<style type="text/css">
    .btncolor {
        border: 2px solid #F7AC0E;
        background-color: #F7AC0E !important;
    }

    .btnradious {
        border-radius: 5px !important;
        /*font-size:14px;*/
    }

    .btnwidth {
        width: 133px !important;
    }

    .btnpaddingbottom {
        padding-bottom: 2px;
    }

    .btnwidth {
        width: 40px;
        height: 40px;
    }
    /*.fontsizefortbl{
        font-size:13px !important;
    }*/

    table.fontsizefortbl td {
        font-size: 13px !important;
    }

    .datepicker 
    {
        z-index:9999;
    }
</style>





@using (Html.BeginForm("InvoiceAutoSearch", "AutoAssignment", FormMethod.Post, new { @id = "formNugenInvoicesSearch" }))
{
    //Bulk criterial buttons
    <div style="margin-top: 5px; text-align: right;position:relative;margin-bottom:8px;">
        @if (loggedInUser.UserTypeId == 2)
        {
            <a href='@Url.Action("BulkInvoiceCreationList", "AutoAssignment")' class="btn yellow-crusta" id="btnBulkInvoiceCreation">Bulk Invoice Creation</a>

           
            if (ViewData["Visible"] != null && ViewData["Visible"].ToString() == "true")
            {
                <input type="button" class="btn yellow-crusta" id="btnFinalizeBulkInvoice" value="Finalize Bulk Invoice" />
            }          
        }
    </div>

    //Search filter criteria
    <div>
        @Html.Partial("_NuGenAssignmentSearchFilter")
    </div>


    <input type="hidden" id="hdnSearchcriteria" name="hdnSearchcriteria" value="@TempData.Peek("reviewType")" />
    
    //Loadding gif
    <div style="left: 50%; top: 50%; z-index: 9999; position: absolute; background: white; ">
        <img id="loadinglist" src="@Url.Content("~/Content/Images/spinner.gif")" width="150" height="150" style="left:50%; top:50%; display:none" />
    </div>
    
    //List of search result
    <div id="autoclaimlistView" style="margin-top:60px;">
    @Html.Raw(Model.strNuGenAutoAssignmentResult)
</div>

    //Pager
    @*<div class="table-scrollable">
        @Html.Partial("_Pager", Model.Pager)
    </div>*@

}
@section PageLevelScript{


<script type="text/javascript">

    function GetSearchList() {
        console.log($("#formNugenInvoicesSearch").serialize());

        $("#loadinglist").show();
        $.ajax({
            url: '@Url.Action("InvoiceAutoSearch", "AutoAssignment")'
            , type: 'POST'
            , data: $("#formNugenInvoicesSearch").serialize()
            , success: function (result) {
                $("#autoclaimlistView").empty().html(result);
                $("#loadinglist").hide();
            }
        });
    }

    $('#btnFinalizeBulkInvoice').click(function () {
        var ids = '';
        $('#tblAssignments').find('input[type="checkbox"]:checked').each(function () {
            //alert($(this).val());
            var id = $(this).val();
            if (id != 'Select All') {
                ids += id + ',';
            }
        });
        ids = ids.substring(0, ids.length - 1);

        $.ajax({
            type: "POST",
            url: '@Url.Action("FinalizeBulkInvoice", "AutoAssignment")',
            data: { AssignmentIds: ids },
            dataType: "json",
            success: function (response) {
                //alert(response);
                if (response == true) {
                    sessionStorage.setItem('IsHideButton', true);
                    document.location = '@Url.Action("InvoiceAutoSearch", "AutoAssignment")';
                }
            },
            error: function (xhr, ajaxOptions, thrownError) { alert(xhr.responseText); }
        });
    });

    function ShowHideButton() {
        if (sessionStorage.getItem("IsHideButton") == "true") {
            $("#btnFinalizeBulkInvoice").hide();
            $("#btnBulkInvoiceCreation").hide();
            sessionStorage.setItem('IsHideButton', false);
        }
    }
    window.onload = function () {

        ShowHideButton();
    };










    function expandSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "table-row";
        document.getElementById("trSearchFilterFooter").style.display = "table-row";
        document.getElementById("lblSearchExpand").style.display = "none";
        document.getElementById("lblSearchCollapse").style.display = "inline";
    }
    function collapseSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "none";
        document.getElementById("trSearchFilterFooter").style.display = "none";
        document.getElementById("lblSearchExpand").style.display = "inline";
        document.getElementById("lblSearchCollapse").style.display = "none";
    }

    function disableAllPopups() {
        disableEditClaimPopup();
    }

    function loadEditClaimPopup(url) {
        document.getElementById("iframeEditClaim").src = url;
        centerEditClaimPopup();

        $("#backgroundPopup").css({
            "opacity": "0.7"
        });

        $("#backgroundPopup").fadeIn("slow");
        $("#divEditClaim").fadeIn("slow");

        return false;
    }

    function disableEditClaimPopup() {

        $("#backgroundPopup").fadeOut("slow");
        $("#divEditClaim").fadeOut("slow");
        loadSubmit();
        document.forms["formSearch"].submit();

    }

    function loadSubmit() {
        var ProgressImage = document.getElementById("progress_image");
        document.getElementById("progress").style.visibility = "visible";
        setTimeout(function () { ProgressImage.src = ProgressImage.src }, 100);
        return true;
    }

    function centerEditClaimPopup() {

        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divEditClaim").height();
        var popupWidth = $("#divEditClaim").width();
        //centering
        $("#divEditClaim").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }

    function showRecordDetails(rowIndex) {
        document.getElementById('trRecordInfo' + rowIndex).style.display = 'table-row';
        document.getElementById('imgExpand' + rowIndex).style.display = 'none';
        document.getElementById('imgCollapse' + rowIndex).style.display = 'block';
    }

    function hideRecordDetails(rowIndex) {
        document.getElementById('trRecordInfo' + rowIndex).style.display = 'none';
        document.getElementById('imgExpand' + rowIndex).style.display = 'block';
        document.getElementById('imgCollapse' + rowIndex).style.display = 'none';
    }

    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"
        });
    });

    function DateCompare() {
        var from = $("#txtfrom").val();
        var to = $("#txtTo").val();

        if (Date.parse(from) > Date.parse(to)) {
            alert("Invalid Date Range");
            $("#txtTo").val(' ');
            $("#txtfrom").val(' ');
        }
    }

    function toggle() {

        var divfilter = document.getElementById("frmNuGensearchfilter");
        if (divfilter.style.display == "block") {
            divfilter.style.display = "none";

        }
        else {
            divfilter.style.display = "block";

        }
    }

    function loadPropertyInvoicePopup(assignmentid, mode, invoiceId) {
        alert('cbkc');
        //$('#divinvoicemessage').empty();
        getPropertyInvoice(assignmentid, mode, invoiceId);
        $('#divPropertyInvoicePopup').modal("show");
    }
    function getPropertyInvoice(assignmentid, mode, invoiceId) {
        $('#divinvoicemessage').empty();
        $("#divFinanceSubTabLoading").show();
        $.ajax({
            url: '@Url.Content("~/AutoAssignmentInvoice/Details")',
            contentType: 'application/json; charset=utf-8',
            data: { assignmentid: assignmentid, fileOpenMode: mode, invoiceId: invoiceId },
            cache: false,
            success: function (result) {
                $('#divPropertyInvoiceDetails').empty().append(result);
                if (mode == 'Read') {
                    $('#tdPropertyInvoicefooter').css('display', 'none');
                }
                else {
                    $('#tdPropertyInvoicefooter').css('display', 'table-cell');
                }
                $('#trBackToInvoiceList').css('display', 'table-row');
                $("#divFinanceSubTabLoading").hide();
            },
            error: function (error) {
            }
        });
        $('#divinvoicemessage').css('display', 'none');
        $('#divinvoicemessage').empty();


    }




    function OrderByclaim(OrderBYclaim) {
        $('#hdnCurrentPage').val('@Model.Pager.Page');
        $('#hdnOrderByValue').val(OrderBYclaim)
        GetSearchList();
    }
    function loadAcceptPopup(url) {

        if (confirm("Are you sure you want to Accept this Claim Record?")) {
            window.location.href = url;
        }

    }

    //Assign Internal Contact Popup
    function btnAssignInternalContact_Click() {
        if (getSelectedAutoAssignmentIds() != '') {
            AssignInternalContactPopup();
        }
        else {
            alert("Select Claim(s) from the list.");
        }
    }

    function ClearInternalPopup() {
        document.getElementById('ddlAssignInternalContact').value = "0";
        //$("#ddlAssignInternalContact").value = "0";
    }

    function ClearInternalContactPopup() {
        ClearInternalPopup();
    }

    function AssignInternalContactPopup() {
        $('#AssignInternalPOC').modal('show');
    }

    function getSelectedAutoAssignmentIds() {
        debugger;
        var selectedCheckBoxesValue = '';
        $('input[name=cbSelect]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
            }
        });
        return selectedCheckBoxesValue;
    }


    function btnAssignInternalContactConfirm_Click() {
        debugger;
        if ($("#ddlAssignInternalContact").val() != "0") {
            //alert("Assign");
            $("#spanAssignInternalContactValidate").hide();
            $.ajax({
                type: "POST"
                , url: '@Url.Action("BulkAssignInternalContact", "AutoAssignment")'
                , data: { AutoAssignmentIds: getSelectedAutoAssignmentIds(), InternalContactID: $("#ddlAssignInternalContact").val() }
            }).done(function (data) {
                if (data == "1") {
                    //disableAssignCSSPOCPopup();
                    //$("#imgClaimDocEmailProgress").hide();
                    //loadSubmit();
                    //document.forms["formSearch"].submit();
                    GetSearchList();
                    alert("Assign Internal Contact Successfully");
                    $('#AssignInternalPOC').modal('hide');
                    ClearInternalPopup();
                }
                else {
                    alert("Error: " + data);
                }
            }).error(function (data) {
                alert("Error: " + data.responseText);
            });
        }
        else {
            //alert("Assign2");
            $('#AssignInternalPOC').modal('show');
            $("#spanAssignInternalContactValidate").show();
        }
    }

</script>
}