﻿<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />


<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />

<div>
    <div>
        @Html.Partial("_NuGenInvoiceInsert")
    </div>
</div>

@section PageLevelScript{
<script>
    $(document).ready(function () {
        var _hasBaseServicecharge = $('#hdnIsTimeExpense').val();
        var _IsTimeExpense = $('#hdnHasServiceBaseFee').val();

        $('#frmNugenInvoiceInsert').submit(function () {
            $("#AutoInvoiceDetails_RCV").val(parseFloat(UnFormatCurrency($("#AutoInvoiceDetails_RCV").val())));
        });

        if ($('#isSubmitted').val() == 'True') {
            DisableControls();
        }

        $('#pricingIsTotalLoss').on('change', function (val) {
            if ($("#pricingIsTotalLoss option:selected").val() == '1') {
                $('#AutoInvoiceDetails_TotalLossFee').val($('#hdnServiceBaseFee').val());
            }
            else {
                $('#AutoInvoiceDetails_TotalLossFee').val('');
            }
            checkCalculations();
        });

        $('#AutoInvoiceDetails_TE1NoOfHours, #AutoInvoiceDetails_ActualMiles, #AutoInvoiceDetails_ServicesCharges, #AutoInvoiceDetails_Misc, #AutoInvoiceDetails_SalesCharges, #AutoInvoiceDetails_MFReduction, #AutoInvoiceDetails_Tax').on('keyup blur', function () {
            targetid = $(this).attr("id");
            checkCalculations(targetid);
        });



        //Load pricing details.
        $('#pricingLineofBusinessId').on('change', function () {

            $("#loadinglist").show();
            $("#AutoInvoiceDetails_RCV").val(UnFormatCurrency($("#AutoInvoiceDetails_RCV").val()));
            $.ajax({
                url: '@Url.Action("GetLobDetail", "AutoAssignment")'
                , type: 'POST'
                , data: $('#frmNugenInvoiceInsert').serialize()

                , success: function (result) {
                    $("#loadinglist").hide();
                    if (result._MatchFound) {

                        $('#hdnServiceBaseFee').val(result._TotalLossFee);
                        $('#BaseServicesCharges').val(result._BaseServiceCharge);
                        $('#AutoInvoiceDetails_ServicesCharges').val(result._BaseServiceCharge);
                        $('#AutoInvoiceDetails_TE1SPHourlyRate').val(result._HourlyRate);
                        $('#AutoInvoiceDetails_IncludedMiles').val(result._FreeMiles);
                        $('#AutoInvoiceDetails_MileageCharges').val(result._DollarPerMile);
                        //$('#AutoInvoiceDetails_ServicesCharges		').val(result._hasBaseServicecharge)
                        //$('#prcingTotalLossFee').val(result._TotalLossFee);
                        checkCalculations();
                    }
                    else {
                        clearFields();
                        alert('Match Not Found...!');
                    }
                }
                , error: function (error) {
                    $("#loadinglist").hide();
                    alert('Error');
                }
            });
        });
    });

    function getServiceLOBTypes() {
        //var data = $('#frmNugenInvoiceInsert').serialize();
        //console.log(data);
        $.ajax({
            url: '@Url.Action("getServiceLOBTypes", "AutoAssignment")'
            , type: 'POST'
            , data: $('#frmNugenInvoiceInsert').serialize()

            , success: function (result) {
                alert('In Success');
                $("#autoclaimlistView").empty().html(result);
                $("#loadinglist").hide();
            }
            , error: function (error) {
                alert('Error');
                console.log(error);
            }
        });
    }

    function clearFields() {
        $('#AutoInvoiceDetails_TE1NoOfHours').val('');
        $('#AutoInvoiceDetails_TE1SPHourlyRate').val('');
        $('#AutoInvoiceDetails_TotalHourCalculated').val('');
        $('#AutoInvoiceDetails_MileageCharges').val('');
        $('#AutoInvoiceDetails_IncludedMiles').val('');
        $('#AutoInvoiceDetails_ActualMiles').val('');
        $('#AutoInvoiceDetails_TotalMileage').val('');
        $('#AutoInvoiceDetails_GrandTotal').val('');
        $('#AutoInvoiceDetails_ServicesCharges').val('')
        $('#AutoInvoiceDetails_TotalLossFee').val('');
    }
    function UnFormatCurrency(value) {
        if (value == "" || value == undefined)
        { return 0; }
        else {
            for (var i = 0; i <= value.indexOf(",") ;) {
                value = value.replace(",", "");
            }
            value = value.replace("$", "");
            return value;
        }
    }
    function initCalculation() {



    }
    //function to do calculations
    function checkCalculations(eventTarget) {
        if (typeof (eventTarget) === 'undefined') eventTarget = '';

        var $hrRate, $freeMiles, $dollarPerMile, $AutoInvoiceDetails_ServicesCharges, $AutoInvoiceDetails_TotalHourCalculated, $AutoInvoiceDetails_TotalMileage,
            $AutoInvoiceDetails_TotalLossFee, $AutoInvoiceDetails_GrandTotal, $AutoInvoiceDetails_ServicesCharges, $AutoInvoiceDetails_TE1NoOfHours,
            $AutoInvoiceDetails_ActualMiles, $AutoInvoiceDetails_IncludedMiles
        var totalHourCalculated;
        var totalMilesCalculated;
        var baseServiceFees;
        var totalLossFees;
        var $GrandTotal = 0;
        try {
            //initialize calculaton fields
            $AutoInvoiceDetails_ServicesCharges = $('#AutoInvoiceDetails_ServicesCharges');
            $AutoInvoiceDetails_TotalHourCalculated = $('#AutoInvoiceDetails_TotalHourCalculated');
            $AutoInvoiceDetails_TotalMileage = $("#AutoInvoiceDetails_TotalMileage");
            $AutoInvoiceDetails_TotalLossFee = $("#AutoInvoiceDetails_TotalLossFee");
            $AutoInvoiceDetails_GrandTotal = $("#AutoInvoiceDetails_GrandTotal");
            $AutoInvoiceDetails_ServicesCharges = $("#AutoInvoiceDetails_ServicesCharges");
            $BaseServicesCharges = $("#BaseServicesCharges");

            $AutoInvoiceDetails_ServicesCharges.val(parseToFloat($AutoInvoiceDetails_ServicesCharges.val()));
            $AutoInvoiceDetails_TotalHourCalculated.val(parseToFloat($AutoInvoiceDetails_TotalHourCalculated.val()));
            $AutoInvoiceDetails_TotalMileage.val(parseToFloat($AutoInvoiceDetails_TotalMileage.val()));
            $AutoInvoiceDetails_TotalLossFee.val(parseToFloat($AutoInvoiceDetails_TotalLossFee.val()));
            $AutoInvoiceDetails_GrandTotal.val(parseToFloat($AutoInvoiceDetails_GrandTotal.val()));
            $BaseServicesCharges.val(parseToFloat($BaseServicesCharges.val()));

            $hrRate = $('#AutoInvoiceDetails_TE1SPHourlyRate');
            $freeMiles = $('#AutoInvoiceDetails_IncludedMiles');
            $dollarPerMile = $('#AutoInvoiceDetails_MileageCharges');
            $AutoInvoiceDetails_TE1NoOfHours = $('#AutoInvoiceDetails_TE1NoOfHours');
            $AutoInvoiceDetails_ActualMiles = $('#AutoInvoiceDetails_ActualMiles');
            $AutoInvoiceDetails_IncludedMiles = $('#AutoInvoiceDetails_IncludedMiles');
            $AutoInvoiceDetails_Misc = $("#AutoInvoiceDetails_Misc");
            $AutoInvoiceDetails_SalesCharges = $('#AutoInvoiceDetails_SalesCharges');
            $AutoInvoiceDetails_Tax = $("#AutoInvoiceDetails_Tax");
            $AutoInvoiceDetails_MFReduction = $('#AutoInvoiceDetails_MFReduction');

            var $serviceCharges = 0, $reductionCalculation = 0;
            //RCV Reduction
            if ($AutoInvoiceDetails_MFReduction.val() != '') {
                $reductionCalculation = (parseToFloat(UnFormatCurrency($BaseServicesCharges.val())) - parseToFloat(UnFormatCurrency($AutoInvoiceDetails_MFReduction.val())));
            }
            else {
                $reductionCalculation = (parseToFloat(UnFormatCurrency($BaseServicesCharges.val())));
            }

            if ($AutoInvoiceDetails_TE1NoOfHours.val() != '') {
                //Calculate Hours
                $AutoInvoiceDetails_TotalHourCalculated.val(parseToFloat($hrRate.val()) * (parseToFloat($AutoInvoiceDetails_TE1NoOfHours.val())));
            }

            if ($AutoInvoiceDetails_ActualMiles.val() != '') {
                //Calculate Miles
                $AutoInvoiceDetails_TotalMileage.val((parseToFloat($AutoInvoiceDetails_ActualMiles.val()) - parseToFloat($AutoInvoiceDetails_IncludedMiles.val())) * parseToFloat($dollarPerMile.val()));
            }

            $serviceCharges = $serviceCharges + ($reductionCalculation + parseToFloat($AutoInvoiceDetails_TotalHourCalculated.val()))

            $GrandTotal = $GrandTotal + (parseToFloat($serviceCharges) + parseToFloat($AutoInvoiceDetails_TotalMileage.val()) + parseToFloat($AutoInvoiceDetails_TotalLossFee.val()));

            //Misc Amount Calculation
            $GrandTotal = $GrandTotal + parseToFloat(UnFormatCurrency($AutoInvoiceDetails_Misc.val()));

            //Sales Tax Calculation
            var $salesTaxAmt = 0
            if (eventTarget == 'AutoInvoiceDetails_SalesCharges') {
                $salesTaxAmt = (parseToFloat(UnFormatCurrency($AutoInvoiceDetails_SalesCharges.val())) * (parseToFloat($serviceCharges) / 100));
            }
            else {
                $salesTaxAmt = parseToFloat(UnFormatCurrency($AutoInvoiceDetails_Tax.val()));
            }
            //if ($AutoInvoiceDetails_SalesCharges.val() != '')
            //{
            //    salesTaxAmt=(parseToFloat(UnFormatCurrency($AutoInvoiceDetails_SalesCharges.val())) * (parseToFloat(UnFormatCurrency($AutoInvoiceDetails_ServicesCharges.val())) / 100));

            //}
            //if (salesTaxAmt > 0) {
            //    $AutoInvoiceDetails_Tax.val(salesTaxAmt);
            //    $GrandTotal = $GrandTotal + parseToFloat(UnFormatCurrency(salesTaxAmt));
            //} else {

            //    $GrandTotal = $GrandTotal + parseToFloat(UnFormatCurrency($AutoInvoiceDetails_Tax.val()));
            //}
            $AutoInvoiceDetails_Tax.val($salesTaxAmt);
            $AutoInvoiceDetails_ServicesCharges.val($serviceCharges);
            $GrandTotal = $GrandTotal + $salesTaxAmt;
            $AutoInvoiceDetails_GrandTotal.val($GrandTotal);
        }
        catch (message) {
            // alert(message);
        }
    }

    function parseToFloat(val) {

        if (!isNaN(val)) {
            if (val == '')
                return parseFloat(0.00);
            else
                return parseFloat(val);
        }
        else {
            return parseFloat('0')
        }
    }

    function DisableControls() {
        $('#pricingServiceTypeId, #pricingLineofBusinessId, #AutoInvoiceDetails_RCV, #AutoInvoiceDetails_ServicesCharges, #AutoInvoiceDetails_TE1NoOfHours, #AutoInvoiceDetails_ActualMiles, #pricingIsTotalLoss, #AutoInvoiceDetails_Misc, #AutoInvoiceDetails_MiscComment, #AutoInvoiceDetails_SalesCharges, #AutoInvoiceDetails_Tax').attr('disabled', 'disabled');
    }
    function formatCurrency(value, id) {

        if ((String(value)).indexOf("$") != -1 || String(value) == "") {
            return;
        }
        var buf = "";
        var sBuf = "";
        var j = 0;
        value = String(parseFloat(value).toFixed(2));

        if (value.indexOf(".") >= 0) {
            buf = value.substring(0, value.indexOf("."));
        } else {
            buf = value;
        }
        if (buf.length % 3 != 0 && (buf.length / 3 - 1) > 0) {
            sBuf = buf.substring(0, buf.length % 3) + ",";
            buf = buf.substring(buf.length % 3);
        }
        j = buf.length;
        for (var i = 0; i < (j / 3 - 1) ; i++) {
            sBuf = sBuf + buf.substring(0, 3) + ",";
            buf = buf.substring(3);
        }
        sBuf = sBuf + buf;
        if (value.indexOf(".") >= 0) {
            //value = '$' + sBuf + value.slice(value.indexOf("."), value.indexOf(".") + 3);
            value = sBuf + value.slice(value.indexOf("."), value.indexOf(".") + 3);
        }
        else {
            //value = '$' + sBuf + '.00';
            value = sBuf + '.00';
        }
        $('#' + id).val(value);
    }

</script>
    }