﻿@model BLL.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <title>IADA Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="#1 selling multi-purpose bootstrap admin theme sold in themeforest marketplace packed with angularjs, material design, rtl support with over thausands of templates and ui elements and plugins to power any type of web applications including saas and admin dashboards. Preview page of Theme #2 for "
          name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <style>
        .login .content .form-control {
            background-color: white;
            !important;
        }

        .login .content .form-actions {
            border-bottom: none;
            !important;
        }
    </style>
</head>

<body class="login">
    <style type="text/css">
        .waiting-box {
            display: block;
            position: fixed; /* fixed position so it doesn't scroll */
            _position: fixed; /* hack for internet explorer 6*/
            z-index: 9999; /* on top of everything else */
            left: 50%;
            top: 50%; /* displayed on the top of the page, just like Gmail's yellow info-box */
            background: white;
            border: 1px solid #cecece;
            border-radius: 4px;
            margin-top: -147px;
        }

        .waitStyle {
            opacity: 0.7;
            cursor: wait;
        }
    </style>
    <div style="display:none" class="waiting-box">
        <img src="@Url.Content("~/Content/Images/preload.gif")" width="75" height="75" />
    </div>
    @Html.Partial("_Login", Model)
</body>
</html>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
<script type="text/javascript">
    (function (window) {
        if (window.location !== window.top.location) {
            window.top.location = window.location;
        }
    })(this);


    function registerlink() {
        $('#divregister').modal("show");
    }

    jQuery(document).ready(function () {
        Login.init();
    });
    var Login = function () {
        var handleForgetPassword = function () {

            jQuery('#forget-password').click(function () {
                jQuery('.waiting-box').css("display", "block");
                var postData = { UserName: jQuery('#txtUserName').val() }
                $.post("@Url.Content("~/Account/ForgotPassword")",
                postData,

                function (data) {
                    jQuery('.waiting-box').css("display", "none");
                    if (data.flag == 1) {

                        swal("Password reset link has been sent on your registered email address successfully", "", "success")
                    }
                    else if (data.flag == 0) {
                    //    swal(data.errorMsg, "", "error")
                   
                        jQuery('.login-form').hide();
                        jQuery('.forget-form').show();
                    }
                });


            });

            jQuery('#btnFrmForgotPassword').click(function () {

                jQuery('.waiting-box').css("display", "block");
                var postData = { UserName: jQuery('#txtUserName').val() }
                $.post("@Url.Content("~/Account/ResetPassword")",
                $(".forget-form").serialize(),

                function (data) {
                    jQuery('.waiting-box').css("display", "none");
                    if (data.flag == 1) {

                        swal("Password reset link has been sent on this email address successfully", "", "success")
                    }
                    else if (data.flag == 0) {
                        swal(data.errorMsg, "", "error")
                    }
                    else {
                        jQuery('.login-form').hide();
                        jQuery('.forget-form').show();
                    }
                });


                jQuery('.login-form').show();
                jQuery('.forget-form').hide();
            });

            jQuery('#back-btn').click(function () {
                jQuery('.login-form').show();
                jQuery('.forget-form').hide();
            });

        }
        return {
            //main function to initiate the module
            init: function () {

                handleForgetPassword();


            }

        };
    }();
</script>


