﻿@model BLL.ViewModels.ServiceProviderSearchViewModel
@using CSS
@{
    ViewBag.Title = "Service Providers";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<style type="text/css">
    #backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 550px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }

    .UserRightsPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        width: 300px;
    }
</style>

<script type="text/javascript">

    function btnUserRightSave_Click() {
        $('#imgUserRightsSaveProcessing').show();
        $.ajax({
            type: "POST"
            , url: '@Url.Action("UserAssignedRights", "ServiceProviders")'
            , data: $("#frmUserAssignedRights").serialize()
            , success: function () {
                $('#ServiceProviders').submit();
            }
        });

    }
    function closeAllPopups() {
        disableApprovePopup();
        disableRejectPopup();
        disableUserRightsPopup();
    }
    function loadApprovePopup(e, Rank) {

        var btnOK = document.getElementById("btnOK");
        var userid = e;
        var rank = 0;

        document.getElementById('hdnApproveUserId').value = userid + "";

        // popupDivVal = Edit;
        //loads popup only if it is disabled
        var popupStatus = 0;
        if (popupStatus == 0) {

            centerApprovePopup();
            $("#backgroundPopup").css({
                "opacity": "0.7"
            });
            if (Rank > 0) {
                //$('input:radio[name=Rank]' + " #rb" + Rank).attr('checked', true);
                $('#rb' + Rank).prop('checked', true);

            }
            $('input:radio[name=Rank]').click(function () {
                rank = $(this).val();;
            });
            //$("#btnOK").click(function redirect() {
            //    var url = '/ServiceProviders/Approve?id=' + userid + '&Rank=' + rank;
            //    window.location.href = url;
            //    disablePopup();
            //});


            $("#backgroundPopup").fadeIn("slow");
            $("#divApprove").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }

    function disableApprovePopup() {
        //debugger;
        //disables popup only if it is enabled 
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopup").fadeOut("slow");
            $("#divApprove").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerApprovePopup() {
        //request data for centering

        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divApprove").height();
        var popupWidth = $("#divApprove").width();
        //centering  
        $("#divApprove").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $("#backgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }

    function loadRejectPopup(e) {
        var btnOK = document.getElementById("btnOK");
        var userid = e;
        document.getElementById('hdnRejectUserId').value = userid + "";
        // popupDivVal = Edit;
        //loads popup only if it is disabled
        centerRejectPopup();
        $("#backgroundPopup").css({
            "opacity": "0.7"
        });
        $("#backgroundPopup").fadeIn("slow");
        $("#divReject").fadeIn("slow");
    }

    function disableRejectPopup() {
        //debugger;
        //disables popup only if it is enabled 
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopup").fadeOut("slow");
            $("#divReject").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerRejectPopup() {
        //request data for centering

        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divReject").height();
        var popupWidth = $("#divReject").width();
        //centering  
        $("#divReject").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $("#backgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }

    function loadUserRightsPopup(userId) {
        $("#divUserRightsContent").empty();
        $('#imgUserRightsLoading').show();

        $.ajax({
            url: '@Url.Action("UserAssignedRights")',
            data: { userId: userId },
            type: 'GET',
            cache: false,
            success: function (data) {
                $("#divUserRightsContent").html(data);
                $('#imgUserRightsLoading').hide();
            }
        }


        );
        @*$.getJSON('@Url.Action("UserAssignedRights")', { userId: userId }, function (data) {
            $("#divUserRightsContent").html(data);
            $('#imgUserRightsLoading').hide();
        });*@
        centerUserRightsPopup();
        $("#backgroundPopup").css({
            "opacity": "0.7"
        });
        $("#backgroundPopup").fadeIn("slow");
        $("#divUserRights").fadeIn("slow");
    }

    function disableUserRightsPopup() {

        $("#backgroundPopup").fadeOut("slow");
        $("#divUserRights").fadeOut("slow");
    }
    function centerUserRightsPopup() {
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divUserRights").height();
        var popupWidth = $("#divUserRights").width();
        //centering  
        $("#divUserRights").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $("#backgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }
    function expandSPList() {
        collapseSearchFilter();
        collapseMap();
        $('#hdnActiveMainTab').val('SPList');
        $('#trSPList').show();
        //$('#lblSPListExpand').hide();
        //$('#lblSPListCollapse').show();
    }
    function collapseSPList() {
        $('#trSPList').hide();
        //$('#lblSPListExpand').show();
        //$('#lblSPListCollapse').hide();
    }
    function expandMap() {
        collapseSearchFilter();
        collapseSPList();
        $('#hdnActiveMainTab').val('Map');
        $('#map').show();
        initializeSPSearchMap();
        //$('#lblMapExpand').hide();
        //$('#lblMapCollapse').show();
    }
    function collapseMap() {
        $('#map').hide();
        //$('#lblMapExpand').show();
        //$('#lblMapCollapse').hide();
    }
    function expandSearchFilter() {

        document.getElementById("trSearchFilterContent").style.display = "table-row";
        document.getElementById("trSearchFilterFooter").style.display = "table-row";
        document.getElementById("lblSearchExpand").style.display = "none";
        document.getElementById("lblSearchCollapse").style.display = "inline";
    }
    function collapseSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "none";
        document.getElementById("trSearchFilterFooter").style.display = "none";
        document.getElementById("lblSearchExpand").style.display = "inline";
        document.getElementById("lblSearchCollapse").style.display = "none";
    }
    function ConfirmationBox() {
        var result = confirm("Are you sure you want to continue?");
        var hdnIsActive = document.getElementsByName("hdnIsActive");
        if (result == true) {
            hdnIsActive.value = 1;
        }
        else {
            hdnIsActive.value = 0;
        }
    }
    $(document).ready(function () {
        @if (Model.ActiveMainTab == "Map")
        {
            @:expandMap();
        }
        else
        {
            @:expandSPList();
                        }
    });
</script>


<div id="backgroundPopup" onclick="closeAllPopups()"></div>
@using (Html.BeginForm("Search", "ServiceProviders", FormMethod.Post, new { @id = "ServiceProviders", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.ActiveMainTab, new { @id = "hdnActiveMainTab" })

    <table width="100%">
        <tr>
            <td>

                <table align="left" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">

                            <a id="lblSearchExpand" style="color: black;" href="#" onclick="expandSearchFilter()">Search Filter</a>
                            <a id="lblSearchCollapse" href="#" onclick="collapseSearchFilter()" style="display: none; color: black;">Search Filter</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                           
                                <a id="lblSPListExpand" style="color: black;" href="#" onclick="expandSPList()">SP List</a>
                            <a id="lblSPListCollapse" href="#" onclick="collapseSPList()" style="display: none; color: black;">SP List</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

                                <a id="lblMapExpand" style="color: black;" href="#" onclick="expandMap()">Map</a>
                            <a id="lblMapCollapse" href="#" onclick="collapseMap()" style="display: none; color: black;">Map</a>

                        </td>
                    </tr>
                    <tr id="trSearchFilterContent" style="display: none;">
                        <td class="content">

                            @Html.Partial("_ServiceProviderSearchFilter")

                        </td>
                    </tr>
                    <tr align="right" id="trSearchFilterFooter" style="display: none;">
                        <td class="footer">


                                 <input type="submit" class="buttonLightYellow_100" name="SubmitButton" value="Search" />
                          @*  @using (Html.BeginForm("ExportData", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {*@
                    <input  type="submit" name="SubmitButton" id="Export" value="Export" class="buttonLightYellow_100"/>
        @* }*@


                        </td>
                    </tr>

                </table>@*
            }*@
            </td>
        </tr>
        <tr>
            <td>
                <div id="trMap">
@if(Model.ServiceProviders != null)
{
                    if (Model.ServiceProviders.Count != 0)
                    {
                                

                        @Html.Partial("_SPSearchGoogleMap", Model.MapViewModel)
                                
                    }
}
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr id="trSPList">
            <td>
                <table align="left" cellpadding="3" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">Service Providers List
                        </td>
                    </tr>

                    <tr>
                        <td class="content">
                            @* @using (Html.BeginForm("Index", "NewAssignment"))
                        {
                            *@<table cellpadding="3" cellspacing="0" width="100%">
                                <thead class="tableHeader">
                                    <tr valign="top">
                                        <td></td>
                                        <td>Full Name
                                        </td>
                                        <td width="100">LLC, Corp.,
                                            <br />
                                            Partnership Name            
                                        </td>
                                        <td>State
                                        </td>
                                        <td>City
                                        </td>
                                        <td>Zip
                                        </td>
                                        <td>Mobile Phone
                                        </td>
                                        <td>Email Address
                                        </td>
                                        <td>Software Experience
                                        </td>
                                        <td>Rank</td>
                                        <td>Status</td>
                                        <td></td>
                                        <td colspan="2"></td>
                                        <td style="display: none;">
                                            <input type="hidden" id="hdnPageSige" name="hdnPageSige" />
                                            <input type="hidden" id="hdnNext" name="hdnNext" />
                                        </td>
                                    </tr>
                                </thead>
                                @{
                    int i = 0;
                    int j = Model.Pager.Page - 1;
                    int z = Convert.ToInt32(Model.Pager.RecsPerPage);
                    int k = j * z;
                    foreach (var spd in Model.ServiceProviders)
                    {
                                    
        
                                    <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                        <td>@(i + 1)</td>
                                        <td nowrap="nowrap">
                                @{
                        string ID = Cypher.EncryptString(spd.User.UserId.ToString());
                                }

                                @if (spd.User.UserId != null)
                                {

                                    if (ID.Contains("/"))
                                    {
                                        ID = ID.Replace("/","[msl]");
                                    }
                                }


                                @Html.ActionLink(spd.User.FirstName + " " + spd.User.MiddleInitial + " " + spd.User.LastName, "ServiceProviderDetails", new {ID = ID });
                                        </td>
                                        <td>
                                            @spd.DBA_LLC_Firm_Corp
                                        </td>

                                        <td>
                                            @if (spd.User.State != "--Select--" && spd.User.State != "" && spd.User.State != null)
                                            {
                                                <div>
                                                    @*@((new BLL.ChoiceSolutionsEntities()).StateProvinces.Find(Convert.ToInt32(user.State)).Name.ToString())*@

                                                    @((new BLL.ChoiceSolutionsEntities()).StateProvinces.Where(m => m.StateProvinceCode == spd.User.State).ToList().Count != 0 ? (new BLL.ChoiceSolutionsEntities()).StateProvinces.Where(m => m.StateProvinceCode == spd.User.State).First().Name : "")


                                                </div>
                                                
                                            }

                                        </td>
                                        <td>
                                            @spd.User.City
                                        </td>

                                        <td>
                                            @spd.User.Zip
                                        </td>
                                        <td>
                                            @spd.User.MobilePhone
                                        </td>
                                        <td>
                                            @spd.User.Email
                                        </td>
                                        <td>
                                            @{
                                            string softExperienceList = "";
                                            foreach (var softExperience in spd.User.ServiceProviderSoftwareExperiences)
                                            {
                                                if (softExperience.YearsOfExperience > 0)
                                                {
                                                    softExperienceList += softExperienceList.Length == 0 ? softExperience.Software : ", " + softExperience.Software;
                                                }
                                            }
                                                @softExperienceList;
                                            }
                                        </td>
                                        <td align="center">@spd.Rank</td>
                                        <td>
                                            @if (spd.User.Active == null)
                                            {

                                            }
                                            else
                                            {
                                                if (spd.User.Active.Value)
                                                { 
                                                <label>Approved</label>
                                                }
                                                if (!spd.User.Active.Value)
                                                { 
                                                <label>Rejected</label> 
                                                }
                                            }

                                        </td>
                                        <td>
                                            <img  onclick="loadUserRightsPopup('@spd.User.UserId')" src="~/Content/Images/userRolesIcon.png" alt="User Rights" title="Manage User Rights" width="16" height="16" style="cursor:pointer;border: none; vertical-align: bottom;" />
                                        </td>
                                        <td>
                                            @* @Html.ActionLink("Edit","Submit","ServiceProviderRegistration",new {Id=user.UserId},new { @class="EditIcon" })*@
                                <a href="@Url.Action("Submit", "ServiceProviderRegistration", new { ID = ID })" style="border: none; color: black; cursor: pointer;float:left;">
                                                <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                            </a>

                                        </td>
                                        <td nowrap="nowrap">
                                           @if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3)
                                           {

                                               if (spd.User.Active == null || spd.User.Active == false)
                                               {
                                               
                                                <a href="#"  onclick="loadApprovePopup('@spd.User.UserId','@spd.Rank')" style="padding-right:5px; border: none; color: black; cursor: pointer;text-decoration:none;">
                                                    <img src="~/Content/Images/Approve.png" title="Approve" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                </a>
                                               }
                                               if ((spd.User.Active == null || spd.User.Active == true))
                                               {
                                                <a href="#"  onclick="loadRejectPopup('@spd.User.UserId')" style="border: none; color: black; cursor: pointer;text-decoration:none;">
                                                    <img src="~/Content/Images/Cancel.png" title="Reject" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                </a>
                                               }
                                           }
                                        </td>
                                    </tr>
                                           i++;
                    }
                                }
                            </table>@*
                        }*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%">
                                <tr>

                                    <td>
                                        @Html.Partial("_Pager", Model.Pager)
                                    </td>
                                </tr>
                            </table>



                        </td>
                    </tr>
                    <tr>
                        <td class="footer">&nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
<table width="100%">
    <tr>
        <td valign="top" width="200"></td>
        <td valign="top"></td>
    </tr>
</table>
<input name="hdnIsActive" type="hidden" value="1" />
<div id="divApprove" class="EditPopup">
    @using (Html.BeginForm("Approve", "ServiceProviders"))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">Approve Service Provider</td>
            </tr>
            <tr>
                <td class="content" align="center">
                    <br />
                    <table width="100%">

                        <tr>
                            <td align="center">


                                <input type="hidden" id="hdnApproveUserId" name="hdnApproveUserId">
                                Select Service Provider Rank:
                                <br />
                                <input id="rb1" type="radio" name="Rank" value="1" checked="checked" />1&nbsp;
            <input id="rb2" type="radio" name="Rank" value="2" />2&nbsp;
            <input id="rb3" type="radio" name="Rank" value="3" />3&nbsp;
            <input id="rb4" type="radio" name="Rank" value="4" />4&nbsp;
          <input id="rb5" type="radio" name="Rank" value="5" />5
            
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                    <br />
                </td>
            </tr>

            <tr>
                <td class="content">
                    <br />
                </td>
            </tr>
            <tr>
                <td class="footer" style="text-align: right">
                    <input id="btnOK" type="submit" value="OK" class="buttonYellow_100" />
                    <input id="btnCancel" type="button" value="Cancel" onclick="disableApprovePopup()" class="buttonLightYellow_100" />
                </td>
            </tr>
        </table>
    }
</div>
<div id="divReject" class="EditPopup">
    @using (Html.BeginForm("Reject", "ServiceProviders"))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">Reject Service Provider</td>
            </tr>
            <tr>
                <td class="content" align="center">
                    <br />
                    <table style="width: 90%;">
                        <tr>
                            <td>Provide Rejection Remarks</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" id="hdnRejectUserId" name="hdnRejectUserId">
                                <textarea id="txtRejectRemarks" name="txtRejectRemarks" rows="5" style="width: 98%;"></textarea></td>

                        </tr>
                    </table>

                    <br />
                    <br />
                </td>
            </tr>

            <tr>
                <td class="footer">
                    <div style="float: left;">
                        @Html.CheckBox("cbEmailSPRej", true, new { @id = "cbEmailSPRej" })Email rejection remarks to Service Provider &nbsp;&nbsp;
                    </div>
                    <div style="float: right;">
                        <input id="btnRejectOk" type="submit" value="OK" class="buttonYellow_100" />
                        <input id="btnRejectCancel" type="button" value="Cancel" onclick="disableRejectPopup()" class="buttonLightYellow_100" />
                    </div>
                </td>
            </tr>
        </table>
    }
</div>
<div id="divUserRights" class="UserRightsPopup">
    @using (Html.BeginForm("UserAssignedRights", "ServiceProviders", FormMethod.Post, new { @id = "frmUserAssignedRights" }))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">
                    <div style="float: left;">Manage User Rights</div>
                    <div style="float: right;">
                        <img onclick="disableUserRightsPopup()" src="~/Content/Images/Cancel.png" title="Reject" width="15" height="15" style="cursor: pointer; border: none; vertical-align: bottom;" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="content" align="left">
                    <img id="imgUserRightsLoading" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="loading" />
                    <br />
                    <div id="divUserRightsContent"></div>

                    <br />
                    <br />
                </td>
            </tr>

            <tr>
                <td class="footer" style="text-align: right">
                    <img id="imgUserRightsSaveProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                    <input type="button" value="Save" class="buttonYellow_100" onclick="btnUserRightSave_Click()" />
                    <input type="button" value="Cancel" onclick="disableUserRightsPopup()" class="buttonLightYellow_100" />
                </td>
            </tr>
        </table>
    }
</div>
