﻿@model BLL.ViewModels.ServiceProviderDetailViewModel

@{
    ViewBag.Title = "Service Provider Details";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

<script type="text/javascript">
    function showView(id) {
        element = document.getElementById('tab-1');
        element.style.display = 'none';
        element = document.getElementById('tab-2');
        element.style.display = 'none';
        element = document.getElementById('tab-3');
        element.style.display = 'none';
        element = document.getElementById('tab-4');
        element.style.display = 'none';

        if (id == 1) {
            element = document.getElementById('tab-1');
            element.style.display = 'block';
        }
        else if (id == 2) {
            element = document.getElementById('tab-2');
            element.style.display = 'block';
        }
        else if (id == 3) {
            element = document.getElementById('tab-3');
            element.style.display = 'block';
        }
        else if (id == 4) {
            element = document.getElementById('tab-4');
            element.style.display = 'block';
        }
    }

    function showTab(id) {
        element = document.getElementById('tab-1');
        element.style.display = 'none';
        element = document.getElementById('tdTextTab1');
        element.style.backgroundColor = 'LightGray';
        element.style.borderBottom = 'Solid';
        element.style.borderWidth = '1px';

        element = document.getElementById('tab-2');
        element.style.display = 'none';
        element = document.getElementById('tdTextTab2');
        element.style.backgroundColor = 'LightGray';
        element.style.borderBottom = 'Solid';
        element.style.borderWidth = '1px';

        element = document.getElementById('tab-3');
        element.style.display = 'none';
        element = document.getElementById('tdTextTab3');
        element.style.backgroundColor = 'LightGray';
        element.style.borderBottom = 'Solid';
        element.style.borderWidth = '1px';

        element = document.getElementById('tab-4');
        element.style.display = 'none';
        element = document.getElementById('tdTextTab4');
        element.style.backgroundColor = 'LightGray';
        element.style.borderBottom = 'Solid';
        element.style.borderWidth = '1px';

        element = document.getElementById('tab-5');
        element.style.display = 'none';
        element = document.getElementById('tdTextTab5');
        element.style.backgroundColor = 'LightGray';
        element.style.borderBottom = 'Solid';
        element.style.borderWidth = '1px';
        if (id == 1) {
            element = document.getElementById('tab-1');
            element.style.display = 'block';
            element = document.getElementById('tdTextTab1');
            element.style.backgroundColor = 'White';
            element.style.borderBottom = 'None';

        }
        else if (id == 2) {
            element = document.getElementById('tab-2');
            element.style.display = 'block';
            element = document.getElementById('tdTextTab2');
            element.style.backgroundColor = 'White';
            element.style.borderBottom = 'None';

        }
        else if (id == 3) {
            element = document.getElementById('tab-3');
            element.style.display = 'block';
            element = document.getElementById('tdTextTab3');
            element.style.backgroundColor = 'White';
            element.style.borderBottom = 'None';
        }
        else if (id == 4) {
            element = document.getElementById('tab-4');
            element.style.display = 'block';
            element = document.getElementById('tdTextTab4');
            element.style.backgroundColor = 'White';
            element.style.borderBottom = 'None';
        }
        else if (id == 5) {
            element = document.getElementById('tab-5');
            element.style.display = 'block';
            element = document.getElementById('tdTextTab5');
            element.style.backgroundColor = 'White';
            element.style.borderBottom = 'None';
        }
        window.scrollTo(0, 0);
    }

</script>

<table width="100%">
    <tr>
        <td class="mainHeader">Service Provider Details</td>
    </tr>
    <tr>
        <td align="center"> @{if(!String.IsNullOrEmpty(Model.user.RejectionRemarks))
              {
            <div class="errorMsg" style="width:100%;text-align:center;"><br />Rejection Remarks: @Model.user.RejectionRemarks<br /><br /></div>
              }
        }</td>
    </tr>

    <tr>
        <td class="subHeading">
            @Model.user.FirstName @Model.user.MiddleInitial @Model.user.LastName
        </td>

    </tr>
    <tr>
        <td class="content">
            <table class="style3">


                <tr>
                    <td style="width: 30px">
                        <iframe id="frameUploadSSN" style="overflow:hidden;text-align:right;" frameborder="0" width="100" height="100" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=7&maxDocsCount=1&displayMode=1&isReadOnly=true")" ></iframe>
                    </td>
                    <td valign="top">
                        <table>
                            <tr>
                                <td style="padding-right: 10px"><b>Mobile Phone :</b>
                                    @Model.user.MobilePhone</td>
                                <td valign="top"><b>Home Phone :</b>
                                    @Model.user.HomePhone
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" colspan="3"><b>Email Address :</b>
                                    @Model.user.Email
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" colspan="2"><b>State :</b>
                                    @{
                  
                                        BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                                        //BLL.StateProvince sp = new BLL.StateProvince();

                                        string addrState = "";
                                        if (Model.user.State != null && Model.user.State != "")
                                        {
                                            if (Model.user.State != "--Select--" && Model.user.State != "0")
                                            {
                                                string spid = Model.user.State;
                                                string sp = css.StateProvinces.Where(m => m.StateProvinceCode == Model.user.State).ToList().Count != 0 ? css.StateProvinces.Where(m => m.StateProvinceCode == Model.user.State).First().Name : "";
                                                addrState = sp;
                                            }

                                        }
                    
                                    }
                                    @addrState
                                    &nbsp;&nbsp;&nbsp;
                         <b>City :</b>
                                    @Model.user.City
                                    &nbsp;&nbsp;&nbsp;
                        <b>Zip :</b>
                                    @Model.user.Zip
                                </td>
                            </tr>
                        </table>

                    </td>




                </tr>



            </table>
        </td>
    </tr>
    <tr>
        <td class="subFooter">&nbsp;</td>
    </tr>
    <tr>
        <td>

            <br />
            <table cellpadding="3" cellspacing="0" style="height: 30px; border-left-style: solid; border-right-style: solid; border-width: 1px; border-color: #999999"
                width="100%">
                <tr>
                    <td id="tdTextTab1" align="center" style="background-color: White; border-bottom-style: none; border-top-style: solid; border-width: 1px; border-color: #999999;">
                        <a href="javascript:;" onclick="showTab(1)" style="text-decoration: none; color: Black;"><b>Personal
                                & Contact</b></a>
                    </td>
                    <td id="tdTabSpace1" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; width: 1px;"></td>
                    <td id="tdTextTab2" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                        <a href="javascript:;" onclick="showTab(2)" style="text-decoration: none; color: Black;"><b>Professional
                                & Academic</b></a>
                    </td>
                    <td id="tdTabSpace2" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; width: 1px;"></td>
                    <td id="tdTextTab3" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                        <a href="javascript:;" onclick="showTab(3)" style="text-decoration: none; color: Black;">
                            <b>
                                Certifications
                                & Licenses
                            </b>
                        </a> &nbsp;
                    </td>
                    <td id="tdTabSpace3" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; width: 1px;"></td>
                    <td id="tdTextTab4" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                        <a href="javascript:;" onclick="showTab(4)" style="text-decoration: none; color: Black;"><b>Others & Agreement</b></a>
                        &nbsp;
                    </td>
                    @{
                        if (loggedInUser != null)
                        {
                            if (loggedInUser.UserTypeId == 2)
                            {
                        <td id="tdTabSpace4" style="border-bottom-style: solid; border-left-style: solid; border-color: #999999; border-width: 1px; width: 1px;"></td>
                        <td id="tdTextTab5" align="center" style="border-left-style: solid; border-width: 1px; border-top-style: solid; border-color: #999999; background-color: LightGray; border-bottom-style: solid;">
                            <a href="javascript:;" onclick="showTab(5)" style="text-decoration: none; color: Black;"><b>UnQualified List</b></a>
                            &nbsp;
                        </td>
                            }
                        }
                    }
                </tr>
            </table>
            <div>
                @using (Html.BeginForm("ServiceProviderDetails", "ServiceProviders", FormMethod.Get))
                {

                
                    <div style="border-left-style: solid; border-bottom-style: solid; border-right-style: solid; border-width: 1px; border-color: #999999;">
                        <br />
                        <br />
                        <div id="tab-1">
                            @Html.Partial("_ServiceProviderDetailsBasicInfo", Model)
                            <br />
                            <br />
                            <br />
                            @* <div class="footer" style="text-align: right; padding: 10px;">
                                <input type="button" class="buttonYellow_100" value="Next" onclick="showTab(2)" />
                            </div>*@
                        </div>
                        <div id="tab-2" style="display: none">

                            @Html.Partial("_ServiceProviderDetailsProfessionalInfo", Model)
                            <br />
                            <br />
                            <br />
                            @*<div class="footer" style="text-align: right; padding: 10px;">
                                <input type="button" class="buttonLightYellow_100" value="Back" onclick="showTab(1)" />
                                <input type="button" class="buttonYellow_100" value="Next" onclick="showTab(3)" />
                            </div>*@
                        </div>
                        <div id="tab-3" style="display: none">
                            @Html.Partial("_ServiceProviderDetailsCertificationInfo", Model)
                            <br />
                            <br />
                            <br />
                            @* <div class="footer" style="text-align: right; padding: 10px;">
                                <input type="button" class="buttonLightYellow_100" value="Back" onclick="showTab(2)" />
                                <input type="button" class="buttonYellow_100" value="Next" onclick="showTab(4)" />
                            </div>*@
                        </div>
                        <div id="tab-4" style="display: none">
                            @Html.Partial("_ServiceProvidersDetailsOthersInfo", Model)
                            <br />
                            <br />
                            <br />
                        </div>
                        <div id="tab-5" style="display: none">
                            @Html.Partial("_UnQualifiedSPCompanyList", Model.UnQualifiedList)
                            <br />
                            @Html.Partial("_UnQualifiedSPCompanyLOBList",Model.UnQualifiedSPCompanyLOBList)
                            <br />
                            @Html.Partial("_UnQualifiedSPCompanyClientPOCList",Model.UnQualifiedSPCompanyClientPOCList)
                            <br />
                        </div>
                    </div>
                }
            </div>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="footer">
            @using (Html.BeginForm("Search", "ServiceProviders", FormMethod.Get))
            {
                <input type="submit" class="buttonLightYellow_100" value="Back" />
            }

        </td>
    </tr>
</table>
