﻿@model BLL.ViewModels.KPIReportViewModel

@{
    ViewBag.Title = "KPI Report";
}
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });

</script>
@using (Html.BeginForm())
{
    <table width="100%">
        <tr>
            <td class="mainHeader">Report Filters</td>
        </tr>
        <tr>
            <td class="content">
                <table width="100%">
                    <tr>
                        <td>
                            Pivot Category:
                        </td>
                        <td align="left">@Html.DropDownListFor(model => model.PivotCategoryId,Model.PivotCategoryList, new { @style="width:150px;"})</td>
                        <td>Cat Code:</td>
                        <td>@Html.DropDownListFor(model => model.CatCode,Model.CatCodeList, new { @style="width:150px;"})</td>
                        <td>Service Provider:</td>
                        <td>@Html.TextBoxFor(model => model.SPName,new { @style="width:150px;" })</td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">Loss Date From:</td>
                        <td nowrap="nowrap">@Html.TextBoxFor(model => model.LossDateFrom,Model.LossDateFrom.HasValue? Model.LossDateFrom.Value.ToString("MM/dd/yyyy"):"", new { @class="DatePickerTextBox", @style="width:120px;"})</td>
                        <td>To:</td>
                        <td nowrap="nowrap">@Html.TextBoxFor(model => model.LossDateTo,Model.LossDateTo.HasValue? Model.LossDateTo.Value.ToString("MM/dd/yyyy"):"", new { @class="DatePickerTextBox", @style="width:120px;"})</td>
                        <td>Loss Type: </td>
                        <td>@Html.DropDownListFor(model => model.LossTypeId,Model.LossTypeList, new { @style="width:150px;"})</td>
                        <td>Loss State:</td>
                        <td>@Html.DropDownListFor(model => model.LossState,Model.StateList, new { @style="width:150px;"})</td>

                        
                    </tr>

                    <tr>
                        <td nowrap="nowrap">Received Date From:</td>
                        <td nowrap="nowrap">@Html.TextBoxFor(model => model.DateReceivedFrom, Model.DateReceivedFrom.HasValue? Model.DateReceivedFrom.Value.ToString("MM/dd/yyyy"):"", new { @class = "DatePickerTextBox", @style="width:120px;" })</td>
                        <td>To:</td>
                        <td nowrap="nowrap">@Html.TextBoxFor(model => model.DateReceivedTo, Model.DateReceivedTo.HasValue? Model.DateReceivedTo.Value.ToString("MM/dd/yyyy"):"", new { @class = "DatePickerTextBox", @style="width:120px;" })</td>
                        <td>SPX:</td>
                        <td>@Html.DropDownListFor(model => model.QAAgentUserId, Model.QAAgentList, new { @style="width:150px;"})</td>
                        <td>Company/Client:</td>
                        <td>@Html.DropDownListFor(model => model.HeadCompanyId, Model.CompanyList, new { @style="width:150px;"})</td>
                    </tr>
                    
                </table>
                
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <input type="submit" value="Refresh Report" class="buttonLightYellow_100" /></td>
        </tr>
    </table>
    <div>
    </div>
}

<table width="100%" cellspacing="0">
    <tr>
        <td class="mainHeader">KPI Report</td>
    </tr>
    <tr>
        <td class="content">
            <iframe src="@Url.Content(Model.ReportURL)" frameborder="0" width="100%" height="750px"></iframe>
        </td>
    </tr>
    <tr>
        <td class="footer"></td>
    </tr>
</table>
