﻿@model BLL.ViewModels.ProdReportViewModel

@{
    ViewBag.Title = "Production Report";
}
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //debugger;
      //  alert($("#hdnSearchFilter").val());
        
            FilterChange();
       
    });
    function FilterChange() {
       @* var url = '@Url.Content("~/Users/getCityJson")';*@

        var ddlsource = "#SearchBy";
        var ddltarget = "#SearchFilter";

        if ($(ddlsource).val() != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getSearchFilterJson", "Reporting")',
                data: { searchId: $("#SearchBy").val() },
                success: function (data) {
                    $("#SearchFilter").empty();
                    var item = [];
                    item.push("<option value='0'>--Select--</option>");
                    $.each(data, function () {
                        item.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                    });
                    $("#SearchFilter").html(item.join(' '));
                    $("#SearchFilter").val('@Model.SearchfilterValue');
                   // alert($("#hdnSearchFilter").val());
                    //alert($("#SearchFilter").val());
                                    
                }
            })

        }
        else {
            $("#SearchFilter").empty();
            $("#SearchFilter").append("<option value=''>--Select--</option>");
        }
    }
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
      });

</script>
@using (Html.BeginForm())
{
    <table width="100%">
        <tr>
            <td class="mainHeader">Report Filters</td>
        </tr>
        <tr>
            <td class="content">
                <table>
                    <tr>
                        <td nowrap="nowrap" align="right">Start Date:</td>
                        <td nowrap="nowrap">@Html.TextBoxFor(model => model.StartDate,Model.StartDate.Value.ToString("MM/dd/yyyy"), new { @class="DatePickerTextBox", @style="width:120px;"})</td>
                        <td nowrap="nowrap" align="right">End Date:</td>
                        <td nowrap="nowrap">@Html.TextBoxFor(model => model.EndDate, Model.EndDate.Value.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style="width:120px;" })</td>
                        
                         <td align="right">Search By:</td>
                        <td>@Html.DropDownListFor(model => model.SearchBy, Model.SearchFilterList, new { @style="width:150px;",onchange = "FilterChange()"})</td>

                       @* <td align="right">Client:</td>
                        <td>@Html.DropDownListFor(model => model.HeadCompanyId, Model.CompanyList, new { @style="width:150px;"})</td>*@
                        
                    </tr>

                    <tr>
                        <td align="right" >Data Set:</td>
                        <td>@Html.DropDownListFor(model => model.DataSetType,Model.DataSetList, new { @style="width:150px;"})</td>
                        <td align="right">Include Prior Year Comparison (PYC):</td>
                        <td>@Html.CheckBoxFor(model => model.IncludeYoY)</td>
                        <td>Search:</td>
                        <td>
                           @Html.HiddenFor(model => model.SearchfilterValue, new { id="hdnSearchFilter" })

                            @Html.DropDownListFor(model => model.SearchFilter,(IEnumerable<SelectListItem>)ViewBag.SearchList,"--Select--" ,new { @style="width:150px;"})</td>
                    </tr>
                    
                </table>
                
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <input type="submit" value="Refresh Report" class="buttonLightYellow_100" /></td>
        </tr>
    </table>
    <div>
    </div>
}

<table width="100%" cellspacing="0">
    <tr>
        <td class="mainHeader">Production Report</td>
    </tr>
    <tr>
        <td class="content">
            <iframe src="@Url.Content(Model.ReportURL)" frameborder="0" width="100%" height="800px"></iframe>
        </td>
    </tr>
    <tr>
        <td class="footer"></td>
    </tr>
</table>
