﻿@model BLL.ViewModels.XactAssignmentSearchViewModel
<style>
     .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            /*font-weight: bold;*/
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
     #checkboxes {
        display: none;
        border: 1px #dadada solid;
        background: white;
        width: 185px;
        height: 50px;
        overflow-y: scroll;
        position: absolute;
    }

        #checkboxes label {
            display: block;
        }

            #checkboxes label:hover {
                background-color: #1e90ff;
            }
</style>
<link href="@Url.Content("~/Content/jquery.editable-select.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });
    var expanded = false;
    function OpenViewedClaimList()
    {
        BindSearch();
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }

    function BindSearch()
    {
        debugger;
        var QuickSearchType = 0;
        $.ajax
         ({
             url: "../PropertyAssignment/BindQuickSearchList?QuickSearchType=" + QuickSearchType,
             type: 'POST',
             dataType: 'json',
             traditional: true,
             timeout: 0,
             async: false,
             success: function (result) {
                 
                 $("#checkboxes").empty();

                 var incr = 0;
                 var item = [];

                
                 for (var i = 0; i < result.length; i++) {

                     item.push("<label for=" + result[i] + "'onclick='CallSearch(" + result[i] + ")'>" + result[i] + "</label>");

                     //item.push('<li><a onclick=CallSearch("+result[i]+")'>" + result[i] + "</li>");

                    
                     incr++;
                 }
                 if (incr > 10) {
                     var height = $('#checkboxes').height(200);

                 }
                 else {
                     $('#checkboxes').height('auto');
                 }
                 $("#checkboxes").html(item.join(' '));

             },
             error: function (x, e) {
                 alert(e + x);
             }
         });
    }
    function BindClaimSearch() {
        

        debugger;
        $('#txtClaimnumber').css("display", "none");
        $('#ddlClaimSearch').css("display", "block");
        var QuickSearchType ="Claim Number";
        $.ajax
         ({
             //url: "../PropertyAssignment/BindClaimSearchList?QuickSearchType=" + QuickSearchType,
             url: '@Url.Action("BindClaimSearchList", "PropertyAssignment")',
             type: 'POST',
             dataType: 'json',
             traditional: true,
             timeout: 0,
             async: false,
             data: { QuickSearchType: QuickSearchType },
             success: function (result) {
                 for (var i = 0; i < result.length; i++) {
                     $("#ddlClaimSearch").append('<option>' + result[i] + '</option>');
                 }
                 $('#ddlClaimSearch').editableSelect({ filter: false });
             },
             error: function (x, e) {
                 alert(e + x);
             }
         });

    }

    
    function ConvertoTextBox()
    {
        debugger;
        CallClaimSearch();
        $('#txtClaimnumber').css("display", "block");
        $('#txtClaimnumber').val($('#ddlClaimSearch').val());
        $('#ddlClaimSearch').css("display", "none");

    }

    $(document).ready(function () {
        $('#txtClaimnumber').css("display", "block");
        $('#ddlClaimSearch').css("display", "none");

     
        //$.ajaxSetup({ cache: false });
       
        //$('.es-list li').click(function () {
        //    debugger;
        //    alert('selected');
        //    CallClaimSearch();
        //    ConvertoTextBox();
        //});
        //$('#ddlClaimSearch').on('change', function () {
        //    alert("select");
        //});
        
    });

    $('#ddlClaimSearch').on('change', function () {
        alert("select");
    });
    function CallSearch(Claimnumber)
    {
        //alert("hie");
        debugger;
        //alert(Claimnumber);
        if (Claimnumber == "") {
            alert('Please enter in the textbox.');
            return false;
        }
        else {
            //var Number = document.getElementById('ddlClaimSearch').value;
            var QuickSearchType = 0;
            var SearchString = "";
            QuickSearchType = $('#QuickSearchType').val();
            SearchString = $('#ddlQuickSearch').val();
            $.ajax
            ({
                //url: "../PropertyAssignment/ClaimExist?Number=" + Claimnumber + "&QuickSearchType=" + QuickSearchType,
                url: '@Url.Action("ClaimExist", "PropertyAssignment")',
                type: 'POST',
                dataType: 'json',
                traditional: true,
                timeout: 0,
                async: false,
                data: { Number: Claimnumber, QuickSearchType: QuickSearchType, SearchString: SearchString },
                success: function (result) {
                    if (result.resultDisplay) {
                        //window.location.href = "../PropertyAssignment/Details?claimid=" + result.ClaimIdNo;

                        var SearchUrl = '@Url.Action("Details", "PropertyAssignment")';
                        SearchUrl = SearchUrl + "?claimid=" + result.ClaimIdNo;
                       
                        window.location.href = SearchUrl;
                    }
                    else {
                        if (result.QuickSearchTypes == 0) {
                            alert('This Claim Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 1) {
                            alert('This Policy Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 2) {
                            alert('This Invoice Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 3) {
                            alert('This Insured Name does not exist.');
                        }

                       // document.getElementById('ddlClaimSearch').value = "";
                    }
                },
                error: function (x, e) {
                    alert(e + x);
                }
            });

        }
        return false;

    }
    function CallClaimSearch() {
        debugger;
        //alert(document.getElementById('ddlClaimSearch').value);
        if (document.getElementById('ddlClaimSearch').value == "") {
            alert('Please enter in the textbox.');
            return false;
        }
        else {
            var Number = document.getElementById('ddlClaimSearch').value;
            var QuickSearchType = 0;

            var SearchUrl = '@Url.Action("QuickSearch", "PropertyAssignment")';
            SearchUrl = SearchUrl + "?QuickSearchType=" + "Claim Number";
            SearchUrl = SearchUrl + "&Number=" + Number;
            window.location.href = SearchUrl;

            @*$.ajax
            ({
                
           
                //url: "../PropertyAssignment/ClaimExist?Number=" + Number + "&QuickSearchType=" + QuickSearchType,
                url: '@Url.Action("ClaimExist", "PropertyAssignment")',
                type: 'POST',
                dataType: 'json',
                traditional: true,
                timeout: 0,
                async: false,
                data: { Number: Number, QuickSearchType: QuickSearchType },
                success: function (result) {
                    if (result.resultDisplay) {
                        window.location.href = "../PropertyAssignment/Details?claimid=" + result.ClaimIdNo;
                    }
                    else {
                        if (result.QuickSearchTypes == 0) {
                            alert('This Claim Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 1) {
                            alert('This Policy Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 2) {
                            alert('This Invoice Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 3) {
                            alert('This Insured Name does not exist.');
                        }

                        document.getElementById('ddlClaimSearch').value = "";
                    }
                },
                error: function (x, e) {
                    alert(e + x);
                }
            });*@

        }
        return false;
    }

    function CallnewSearch()
    {
        var chkval = document.getElementById('ddlClaimSearch').value;
        if (chkval != '') {
            //alert(document.getElementById('ddlClaimSearch').value);
            CallClaimSearch();
        }
    }

</script>
<table width="100%">
    <tr>
        <td width="33%" align="left" valign="top">

            <table width="100%">

                <tr>
                    <td nowrap="nowrap" align="right">Claim Number: </td>
                    <td valign="top" width="100%">
                        <span style="display: flex;">
                            @Html.TextBoxFor(model => model.ClaimNumber, new { id = "txtClaimnumber" })
                            <select id="ddlClaimSearch" style="width: 162px;display:none;"> </select><img src="~/Content/Images/folder_out.png" onclick="loadPopupClaimsSearchList()" title="Recent Claims">
                        </span>
                    </td>

                </tr>
                <tr>
                    <td nowrap="nowrap" align="right">Policy Number: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(model => model.PolicyNumber)
                    </td>

                </tr>
                 <tr>
                    <td nowrap="nowrap" align="right">Invoice Number: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(model => model.InvoiceNumber)
                    </td>

                </tr>
                <tr>
                    <td align="right">Last Name: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(model => model.LastName)
                    </td>

                </tr>

                <tr style="display: none;">
                    <td align="right">Transaction Id: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(model => model.TransactionId)
                    </td>

                </tr>
                <tr>
                    <td align="right">City: </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(model => model.City)
                    </td>

                </tr>

                <tr>
                    <td align="right">Zip Code:</td>
                    <td>@Html.TextBoxFor(model => model.Zip)</td>
                </tr>
                <tr>
                    <td align="right">Distance in Miles</td>
                    <td>@Html.TextBoxFor(model => model.Distance)</td>
                </tr>
                <tr>
                    <td align="right">State:</td>
                    <td>@Html.DropDownListFor(model => model.State, Model.StateList, new { style = "width:150px;" })</td>
                </tr>


            </table>


        </td>
        <td width="34%" align="left" valign="top">
            <table>
                <tr>
                    <td align="right">CAT Code: </td>
                    <td>
                        @Html.TextBoxFor(model => model.CatCode)
                    </td>
                </tr>
                <tr>
                    <td align="right">Loss Type:</td>
                    <td>@Html.DropDownListFor(model => model.LossType, Model.LossTypeList, new { style = "width:150px;" })</td>
                </tr>
                <tr style="display: none;">
                    <td>Workflow Status:</td>
                    <td>@Html.DropDownListFor(model => model.WorkFlowStatus, Model.WorkFlowStatusList, new { style = "width:150px;" })</td>
                </tr>
                <tr>
                    <td align="right">File Status:</td>
                    <td>@Html.DropDownListFor(model => model.FileStatus, Model.FileStatusList, new { style = "width:150px;" })</td>
                </tr>
                <tr>
                    <td align="right" nowrap="nowrap">File Status Date From:
                      
                    </td>
                    <td>
                        
                        @Html.TextBoxFor(model => model.DateFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })

                    </td>
                </tr>
                <tr>
                    <td align="right">
                       To:
                    </td>
                    <td>
                       
                       @Html.TextBoxFor(model => model.DateTo, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>
               
                <tr>
                    <td align="right" nowrap="nowrap">Date Received From: 
                      
                    </td>
                    <td>
                         @Html.TextBoxFor(model => model.DateReceivedFrom, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>
                 <tr>
                    <td align="right">
                      To:
                    </td>
                    <td>
                       @Html.TextBoxFor(model => model.DateReceivedTo, new { style = "width:100px;", @class = "DatePickerTextBox" })
                    </td>
                </tr>
                <tr style="display: none;">
                    <td>Job Type:</td>
                    <td>@Html.DropDownListFor(model => model.JobType, Model.JobTypeList, new { style = "width:150px;" })</td>
                </tr>

                <tr>
                    <td align="right">Triage Available
                      
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.IsTriageAvailable)
                    </td>
                </tr>
            </table>
        </td>
        <td width="33%" align="left" valign="top">
            <table>
                <tr>
                    <td align="right">Insurance Company:</td>
                    <td>@Html.DropDownListFor(model => model.InsuranceCompany, Model.InsuranceCompanies, new { style = "width:150px;", @id = "ddlInsuranceCompany"})</td>
                </tr>
                <tr>
                    <td align="right">SP Name:</td>
                    <td>@Html.TextBoxFor(model => model.SPName)</td>
                </tr>
                <tr>
                    <td align="right">CSS POC:</td>
                    <td>@Html.DropDownListFor(model => model.CSSPOCUserId, Model.CSSPOCList, new { style = "width:150px;" })</td>
                </tr>
                <tr>
                    <td align="right">QA Agent:</td>
                    <td>@Html.DropDownListFor(model => model.CSSQAAgentUserId, Model.CSSQAAgentList, new { style = "width:150px;" })</td>
                </tr>
            </table>
        </td>
    </tr>

</table>

