﻿@model BLL.ViewModels.CatCodeViewModel
<div class="form-group">
    <label class="col-md-4 control-label">
        Cat Code
        <span class="required" aria-required="true"> * </span>
    </label>
    <div class="col-md-8">

        @Html.TextBoxFor(model => model.CatCode.CatCode1, new { @id = "txtCatCode", @class = "form-control" })
    </div>

</div>
<div class="form-group">
    <label class="col-md-4 control-label">Description</label>
    <div class="col-md-8">

        @Html.TextBoxFor(model => model.CatCode.CatCodeDescription, new { @id = "txtcatCodeDescription", @class = "form-control" })
    </div>

</div>
