﻿@model BLL.ViewModels.PropertyAssignmentViewModel
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
<style type="text/css">
    .backgroundPopupNewCatCode {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditPopupNewCatCode {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 250px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }

   
   
</style>
<script type="text/javascript">

</script>

<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Insurance Company</label>
            <div class="col-md-8">
                @{

                    string companyName = "";
                    if (loggedInUser.UserTypeId != 2)
                    {
                        BLL.Company company = null;
                        if (Model.Claim != null)
                        {
                            if (Model.Claim.HeadCompanyId.HasValue)
                            {
                                company = css.Companies.Find(Model.Claim.HeadCompanyId);
                                if (company != null)
                                {
                                    companyName = company.CompanyName;
                                }
                            }
                        }
                        @Html.HiddenFor(model => model.Claim.HeadCompanyId)

                        @Html.TextBox("txtInsuranceCompany", @companyName, new { @readonly = true, @class = "form-control" })

                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.Claim.HeadCompanyId, Model.InsuranceCompaniesList, new { @id = "ddlInsuranceCompany", @class = "form-control" })
                    }
                }
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
        <label class="control-label col-md-4">Client Point of Contact</label>
                <div class="col-md-8">
                    <div class="input-group">
                        @Html.DropDownListFor(model => model.Claim.ClientPointOfContactUserId, Model.ClientPointofContactList, new { @id = "ddlClientPointOfContact", @class = "form-control" })
                        <span class="input-group-btn">
                            <a onclick="btnNewCPOC_Click()" style="border: none; color: black; cursor: pointer;">
                                <img src="~/Content/Images/Addplus.png" title="New CSS Point of Contact" width="8" height="8" border="0" />
                            </a>
                        </span>
                    </div>
                 
                   <img id="imgClientPOCListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
                </div>
              
        </div>
    </div>
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Claim Number</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Claim.ClaimNumber, new { @id = "txtClaimNumber", @class = "form-control" })
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">CSS Point of Contact </label>
            <div class="col-md-8">
              @Html.DropDownListFor(model => model.propertyassignment.CSSPointofContactUserId, Model.PointofContactList, new { @id = "ddlCSSPOC", @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Cat Code </label>
            <div class="col-md-8">
                <div class="input-group">
                    @Html.DropDownListFor(model => model.Claim.CatCode, Model.CatCodesList, new { @id = "ddlCatCodesList", @class = "form-control" })
                    <span class="input-group-btn">
                        <a onclick="loadPopupNewCatCode();" style="border: none; color: black; cursor: pointer;">
                            <img src="~/Content/Images/Addplus.png" title="New Cat Code" width="8" height="8" border="0" />
                        </a>
                    </span>
                </div>
             
             
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">QA Agent </label>
            <div class="col-md-8">
                @{

                    BLL.User userQAAgent = null;
                    string QAAgentFullName = "";
                    if (loggedInUser.UserTypeId == 2)
                    {
                        @Html.DropDownListFor(model => model.propertyassignment.CSSQAAgentUserId, Model.CSSQAAgentList, new { @class = "form-control" })
                    }
                    else
                    {
                        if (Model.propertyassignment != null)
                        {
                            if (Model.propertyassignment.CSSQAAgentUserId.HasValue)
                            {
                                userQAAgent = css.Users.Find(Model.propertyassignment.CSSQAAgentUserId);
                                if (userQAAgent != null)
                                {
                                    QAAgentFullName = (!String.IsNullOrEmpty(userQAAgent.FirstName) ? userQAAgent.FirstName + " " : "") + (String.IsNullOrEmpty(userQAAgent.MiddleInitial) ? "" : userQAAgent.MiddleInitial + " ") + (!String.IsNullOrEmpty(userQAAgent.LastName) ? userQAAgent.LastName : "");
                                }
                            }
                        }

                        @Html.HiddenFor(model => model.propertyassignment.CSSQAAgentUserId)
                        @Html.TextBox("txtCSSQAAgentFullName", @QAAgentFullName, new { @readonly = true, @class = "form-control" })
                    }


                }



            </div>
        </div>
    </div>
</div>
      
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">*Severity Level </label>
            <div class="col-md-8">
              @Html.DropDownListFor(model => model.Claim.SeverityLevel, Model.SeverityLevelsList, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Type of Claim </label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Claim.ClaimTypeId, Model.ClaimTypeList, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Service Offering </label>
            <div class="col-md-8">
               @Html.DropDownListFor(model => model.Claim.ServiceOffering, Model.ServiceOfferingsList, new {  @class = "form-control" })
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Line of Business </label>
            <div class="col-md-8">
            @Html.DropDownListFor(model => model.Claim.LOBId, Model.LineOfBusinessList, new { @id = "ddlLineOfBussiness", @class = "form-control" })
                <img id="imgLOBListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Claim Description  </label>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.propertyassignment.AutoAssignmentDescription, new {  @class = "form-control"})
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Status: </label>
            <div class="col-md-8">
                @{
                    if (loggedInUser.UserTypeId == 2)
                    {

                        @Html.DropDownListFor(model => model.propertyassignment.FileStatus, Model.FileStatusList, new { id = "ddlFileStatus", @class = "form-control" })


                    }
                    else
                    {
                        if (Model.propertyassignment != null)
                        {
                            if (Model.propertyassignment.FileStatus.HasValue)
                            {
                                BLL.AssignmentStatu fileStatus = css.AssignmentStatus.Find(Model.propertyassignment.FileStatus.Value);
                                if (fileStatus != null)
                                {
                                    @:@fileStatus.StatusDescription
                                    @Html.HiddenFor(model => model.propertyassignment.FileStatus)
                                }
                            }
                        }

                    }
                }
            </div>
        </div>
    </div>
</div>

<div id="divClientPOC"></div>

<div id="modalCatCodeEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" style="padding-right: 17px; display: none;">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header modalHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">  Add Cat Code</h4>
            </div>
            <div class="modal-body">
                <div id="divCatCodeError" class="errorMsg" style="text-align: left; width: 100%;"></div>
                <div id="divClaimContacts">
                    @Html.Partial("_CatCode", Model.CatCodeViewModel)
                </div>
            </div>
            <div class="modal-footer">
                <img id="imgProcessingNewCatCodeSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn yellow" onclick="createNewClaimContact(event)">Save</button>

            </div>
        </div>
    </div>
</div>




