﻿@using BLL
@model IEnumerable<ClaimRepList_Result>
<div>
    <div class="modal fade bs-modal-lg" id="ClaimRepPopup" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#406E98 !important; color:white;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Claim Representatives</h4>
                </div>
                <div class="modal-body">
                    <div class="portlet light ">
                        <div style="text-align: right;">
                            <div class="actions">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <input type="hidden" id="hidCompanyID" name="CompanyID" />
                                    <button type="button" class="btn btn-circle btn-primary" onclick="CreateRepPopup(1);" style="margin-top: -30px;">NEW</button>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="caption" style="margin-top: -30px;">
                                <i class="font-red"></i>
                                <span class="caption-subject font-red sbold uppercase">Claim Representative List</span>
                            </div>
                            <br />
                            <div class="table-scrollable">
                                <table class="table table-hover " id="tbClaimRepsList">
                                    <thead style="background-color:#406E98 !important; color:white;">
                                        <tr>
                                            <th> First Name </th>
                                            <th> LastName </th>
                                            <th> Email </th>
                                            <th> Mobile Phone </th>
                                            <th> Status </th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @{                                       
                                        if (Model.ToList().Count() > 0 && Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.FirstName
                                                    </td>
                                                    <td>
                                                        @item.LastName
                                                    </td>
                                                    <td>
                                                        @item.Email
                                                    </td>
                                                    <td>
                                                        @item.MobilePhone
                                                    </td>
                                                    <td>
                                                        @item.Active
                                                    </td>
                                                    <td>                                                       
                                                        @{                                                          
                                                item.Password = CSS.Cypher.DecryptString(CSS.Cypher.ReplaceCharcters(item.Password));                                                
                                                          }
                                                        <a href="javascript:;" onclick="EditClaimRep('@item.UserId','@item.FirstName','@item.LastName','@item.Email','@item.MiddleInitial','@item.MobilePhone','@item.UserName','@item.Password','@item.HeadCompanyId',@item.UserTypeId);" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                                            <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom; padding-right: 3px;" />
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:;" onclick="ClaimRepReject('@item.UserId');" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                                            <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom; padding-right: 3px;" />
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                    <button type="button" class="btn green">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
