﻿@model BLL.ViewModels.ClientPOCDetailsEditViewModel

<script type="text/javascript">
    function setUseHeadCompanyContactDetailsVisibility(differentFromParent) {
        if (differentFromParent == false || differentFromParent == 'false') {
            //$("#trCPOCMobile").hide();
            //$("#trCPOCWorkPhone").hide();
            //$("#trCPOCAddressPO").hide();
            //$("#trCPOCStreetName").hide();
            //$("#trCPOCStreetNo").hide();
            //$("#trCPOCZip").hide();
            //$("#trCPOCState").hide();
            //$("#trCPOCCity").hide();

            //heading rows
            $("#trCPOCPhoneAddresHeading").hide("slow");
           // $("#trCPOCAddressHeading").hide();
        }
        else {
            //$("#trCPOCMobile").show();
            //$("#trCPOCWorkPhone").show();
            //$("#trCPOCAddressPO").show();
            //$("#trCPOCStreetName").show();
            //$("#trCPOCStreetNo").show();
            //$("#trCPOCZip").show();
            //$("#trCPOCState").show();
            //$("#trCPOCCity").show();

            //heading rows
            $("#trCPOCPhoneAddresHeading").show("slow");
           // $("#trCPOCAddressHeading").show();
        }
        //centerPopupNewClientPOC();
    }
    $(function () {

        @*$(".PhoneNo").mask("(999) 999-9999");
            *@
        $("#cbUseHeadCompanyContactDetails").change(function () {
            setUseHeadCompanyContactDetailsVisibility($("#cbUseHeadCompanyContactDetails").is(":checked"));
        });
        @if (Model.UserId == 0)
        {
        @:$("#txtCPOCFName, #txtCPOCLName").blur(function () { $("#txtCPOCUserName").val($("#txtCPOCFName").val().toLowerCase().replace(" ", "").substr(0, 1) + $("#txtCPOCLName").val().toLowerCase().replace(" ", "")); });
                                        @:setUseHeadCompanyContactDetailsVisibility(false);
                    }
        else
        {

             @:setUseHeadCompanyContactDetailsVisibility('@((Model.CPOC.UseHeadCompanyContactDetails ?? false) == true ? "false" : "true")');
                                        }
    });

</script>

<div id="modalClientPOCDetailEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" style="display: none; padding-right: 17px;">
    <div class="modal-dialog" style="width: 85%;">
        <div class="modal-content">
            <div class="modal-header modalHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Client Point of Contact</h4>
            </div>
            <div class="modal-body">
               @using (Html.BeginForm("ClientPOCEdit", "InsuranceSetUp", FormMethod.Post, new { @id = "frmCPOC" }))
                {
              
                    <div class="form-body" style="padding:0px">
                        <div>
                            <div id="divClientPOCError" class="errorMsg" style="text-align: left; width: 100%;">
                                @Html.ValidationSummary(false)
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group form-md-checkboxes" style="padding-left: 25px;">
                                <div class="md-checkbox-inline">
                                    <div class="md-checkbox">
                                        @Html.CheckBox("CPOC.UseHeadCompanyContactDetails", (Model.CPOC.UseHeadCompanyContactDetails ?? false) == true ? false : true, new { @id = "cbUseHeadCompanyContactDetails" })
                                        <label for="cbUseHeadCompanyContactDetails">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>  Contact Details different from Parent Company
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption caption-md">
                                            <i class="icon-bar-chart theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">Basic</span>

                                        </div>

                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                First Name
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.CPOC.FirstName, new { @id = "txtCPOCFName", @class = "form-control" })
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Middle Name</label>
                                            <div class="col-md-8">

                                                @Html.TextBoxFor(model => model.CPOC.MiddleInitial, new { @class = "form-control" })
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Last Name</label>
                                            <div class="col-md-8">

                                                @Html.TextBoxFor(model => model.CPOC.LastName, new { @id = "txtCPOCLName", @class = "form-control" })
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Email Address</label>
                                            <div class="col-md-8">


                                                @Html.TextBoxFor(model => model.CPOC.Email, new { @class = "form-control" })

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption caption-md">
                                            <i class="icon-bar-chart theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">Login</span>

                                        </div>

                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group">

                                            <label class="col-md-4 control-label">User Name</label>
                                            <div class="col-md-8">
                                                <div class="input-group">

                                                    @if (Model.UserId > 0)
                                                    {
                                                        @Model.CPOC.UserName
                                                        @Html.HiddenFor(model => model.CPOC.UserName)
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.CPOC.UserName, new { @id = "txtCPOCUserName", @class = "form-control" })
                                                    }
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <label class="col-md-4 control-label">Password</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.PasswordFor(model => model.CPOC.Password, new { @class = "form-control" })
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <label class="col-md-4 control-label">Confirm Password</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <label class="col-md-4 control-label">Mobile Number</label>
                                            <div class="col-md-8">

                                                <input type="text" class="form-control" id="txtMobile" name="MobileNumber" placeholder="Enter Mobile Number" tabindex="8">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="trCPOCPhoneAddresHeading">
                            <div class="col-md-6">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption caption-md">
                                            <i class="icon-bar-chart theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">Address</span>

                                        </div>

                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                Address or PO #:
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-8">

                                                @Html.TextBoxFor(model => model.CPOC.AddressPO, new { @class = "form-control" })
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Street #:</label>
                                            <div class="col-md-8">

                                                @Html.TextBoxFor(model => model.CPOC.AddressLine1, new { @class = "form-control" })
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Street Name:</label>
                                            <div class="col-md-8">

                                                @Html.TextBoxFor(model => model.CPOC.StreetAddress, new { @class = "form-control" })
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Zip:</label>
                                            <div class="col-md-8">

                                                @Html.TextBoxFor(model => model.CPOC.Zip, new { @id = "txtCPOCZip", @onblur = "populateZipData('txtCPOCZip','ddlCPOCState','txtCPOCCity')", @class = "form-control" })
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">State:</label>
                                            <div class="col-md-8">

                                                @Html.DropDownListFor(model => model.CPOC.State, Model.StateList, new { @id = "ddlCPOCState", @class = "form-control" })
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">City:</label>
                                            <div class="col-md-8">

                                                @Html.TextBoxFor(model => model.CPOC.City, new { @id = "txtCPOCCity", @class = "form-control" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.UserId, new { @id = "hdnCPOCUserId" })
                            @Html.HiddenFor(model => model.CPOC.HeadCompanyId, new { @id = "hdnCPOCHeadCompanyId" })
                            <div class="col-md-6">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption caption-md">
                                            <i class="icon-bar-chart theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">Phone Numbers</span>

                                        </div>

                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                Mobile Phone #:
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-8">

                                                @Html.TextBoxFor(model => model.CPOC.MobilePhone, new { @class = "PhoneNo form-control" })
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Work Phone #:</label>
                                            <div class="col-md-8">

                                                @Html.TextBoxFor(model => model.CPOC.WorkPhone, new { @class = "PhoneNo form-control" })
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

               }

            </div>
            <div class="modal-footer">
                <img id="imgProcessingNewClientPOCSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                 <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                 <button class="btn yellow" onclick="btnSaveCPOC_Click(event)">Save</button>
            </div>
        </div>
    </div>
</div>
