﻿@model BLL.ViewModels.AutoAssignmentViewModel

<script type="text/javascript">
    //var app = angular.module('CSSMVCApp2',[]);
    $(document).ready(function () {

        $('#chkSameOwnerAddress').change(function () {
            if ($("#chkSameOwnerAddress").is(":checked")) {

                var ServiceId = $("#hdnServiceId").val()
                var add = $("#txtOwnerAddress1").val();
                var zip = $("#txtOwnerZip").val();
                var city = $("#txtOwnerCity").val();
                var state = $("#ddlOwnerState").val();
                var MobileNo = $("#txtOwnerMobilePhone").val();

                if (ServiceId == 9 || ServiceId == 11 || ServiceId == 12) {
                    var add = $("#txtInsuredAddress1").val();
                    var zip = $("#txtInsuredZip").val();
                    var city = $("#txtInsuredCity").val();
                    var state = $("#ddlInsuredState").val();
                    var MobileNo = $("#txtInsuredMobilePhone").val();
                }
                $("#txtPropertyAddress1").val(add);
                $("#txtPropertyZip").val(zip);
                $("#txtPropertyCity").val(city);
                $("#ddlPropertyState").val(state);               
                $("#txtPropertyContactPhone").val(MobileNo);
                //$("#txtPropertyAddress1").prop('disabled', true);
                //$("#txtPropertyZip").prop('disabled', true);
                //$("#txtPropertyCity").prop('disabled', true);
                //$("#ddlPropertyState").prop('disabled', true);

            }
            else {

                $("#txtPropertyAddress1").val('');
                $("#txtPropertyZip").val('');
                $("#txtPropertyCity").val('');
                $("#ddlPropertyState").val(0);
                $("#txtPropertyContactPhone").val('');

                //$("#txtPropertyAddress1").prop('disabled', false);
                //$("#txtPropertyZip").prop('disabled', false);
                //$("#txtPropertyCity").prop('disabled', false);
                //$("#ddlPropertyState").prop('disabled', false);
            }
        });
    });

    function populateZipData(zipControl, stateControl, cityControl) {
        try {
            $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
        { ZipCode: $("#" + zipControl).val() },
        function (data) {
            if (data != -1) {

                $("#" + stateControl).val(data.State);
                $("#" + cityControl).val(data.City);
            }
            else {
                $("#" + stateControl).val("");
                $("#" + cityControl).val("");
            }

        });
            copyInsuredToLossOnBlur();
        } catch (err) {
        }
    }

    function GetClaimRepresentative(CompanyID) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddlcity").html(procemessage).show();

        var url = "@Url.Content("~/AutoAssignment/GetClaimRepresentativeList")";

        $.ajax({
            url: url,
            data: { CompanyID: CompanyID },
            cache: false,
            type: "POST",
            success: function (data) {
                var RepresentativeList;
                for (var i = 0; i < data.length; i++) {
                    RepresentativeList += "<option value=" + data[i].Value + ">" + data[i].Text + "</option>";
                }
                $("#ddlClaimRepresentativeList").html(RepresentativeList).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

    $(document).ready(function () {
        var parent = $('#txtDateofLoss').parent();
        var dtp = parent.datepicker({
            format: "mm-dd-yyyy",
            showTodayButton: true
        });
        dtp.on("change", function (e) {
            //ngModelCtrl.$setViewValue(moment(e.date).format("mm-dd-yyyy"));
            //scope.$apply();
            parent.datepicker('hide');
        });

    });
</script>
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <form action="#" class="form-horizontal" id="fAutoAssignment">
        @{
            Int32 serviceID = Model.autoassignment.ServiceId.HasValue ? Model.autoassignment.ServiceId.Value : 0;
        }
        <div class="form-horizontal" ng-controller="SPMapSearchController">
            <div class="form-actions top">
                <div class="row" style="margin-top: -20px">
                    <div class="col-md-12">
                        <!--page content -->
                        <table bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">
                            <tr>
                                <td>
                                    @*@using (Html.BeginForm(new { id = "form" }))
                                        {*@
                                    <input type="hidden" ng-model="selectedassignmentID" id="selectedassignmentID" name="selectedassignmentID" value="" />
                                    <input type="hidden" id="claimid" name="claimid" value="@Model.claim.ClaimId" />
                                    <input type="hidden" id="RedirectToSpMap" name="RedirectToSpMap" value="True" />
                                    <input type="hidden" id="ServiceTypeid" name="ServiceTypeid" value="@Model.ServiceTypeId" />  @*add for check service type [auto/Propperty] svp 10 *@ 
                                    @Html.HiddenFor(model => model.claim.ClaimId)
                                    @Html.HiddenFor(model => model.autoassignment.AutoAssignmentId)
                                    @Html.HiddenFor(model => model.UseMasterPageLayout)
                                    @Html.HiddenFor(model => model.autoassignment.ServiceId, new { id = "hdnServiceId" })

                                    <table width="100%">
                                        <tr valign="top">
                                            <td>
                                                <table width="100%">
                                                    <tr valign="top">
                                                        <td align="left" class="errorMsg" style="width: 100%;" width="100%">@Html.ValidationSummary()</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="footer" align="right">
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td align="left"></td>
                                                        <td align="right"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div style="width:100%;">@Html.Partial("_AutoClaimInformation", Model)</div></td>
                                        </tr>
                                        @if (serviceID == 9 || serviceID == 11 || serviceID == 12)
                                        {
                                            <tr>
                                                <td><div style="width:100%;">@Html.Partial("_InsuredInformation", Model)</div></td>
                                            </tr>
                                            <tr>
                                                <td><div style="width:100%;">@Html.Partial("_PropertyLossInformation", Model)</div></td>
                                            </tr>

                                        }
                                        else
                                        {
                                            <tr>
                                                <td><div style="width:100%;">@Html.Partial("_SPMapOwnerInformation", Model)</div></td>
                                            </tr>
                                            <tr>
                                                <td><div style="width:100%;">@Html.Partial("_SPMapVehicleLocation", Model)</div></td>
                                            </tr>
                                            <tr>
                                                <td><div style="width:100%;">@Html.Partial("_VehicleInformation", Model)</div></td>
                                            </tr>
                                        }
                                        <tr>
                                            <td class="footer" align="right">
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td align="left"></td>
                                                        <td align="right">
                                                            <input type="button" onclick="SubmitAutoAssignment();" class="btn btn-primary" value="Submit" />
                                                            <input type="button" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("Search","SPMapSearch" )'" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    @*}*@
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <!-- END FORM-->
</div>

