﻿@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
@using CSS
<style type="text/css">
    .mainTableHeader {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #C1C1C1;
    }

    .subTableHeader1 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #D8D8D8;
    }

    .subTableHeader2 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #E0E0E0;
    }

    .subTableHeader3 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #EAEAEA;
    }
</style>

<div>
    <div class="note note-info" style="height:50px; background-color: #EDF7FB;margin-bottom: 0px;">
        <table>
            <tbody>
                <tr>
                    <td>
                        <h4>Diary Summary</h4>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-scrollable">
        <table class="table table-hover fontsizefortbl">
            <thead style="background-color: #406E98 !important;color: white;">
                <tr>
                    <td>Claim #</td>
                    <td>Insured Name</td>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Date</td>
                    <td>Status</td>
                </tr>
            </thead>
            @{
                if (loggedInUser != null)
                {
                    List<BLL.DiaryItemsforSPGetDetails_Result> diarySummary = css.DiaryItemsforSPGetDetails(loggedInUser.UserId).ToList();
                    for (int i = 0; i < diarySummary.Count; i++)
                    {
                        BLL.DiaryItemsforSPGetDetails_Result recordI = diarySummary[i];
                        <tr>
                            <td>
                                @recordI.ClaimNumber
                            </td>
                            <td>
                                @recordI.InsuredName
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "AutoAssignment", new { claimid = Cypher.EncryptString(@recordI.ClaimId.ToString()) })">@recordI.Title</a>
                            </td>
                            <td>
                                @recordI.DiaryDesc
                            </td>
                            <td>
                                @recordI.CreatedDate.ToString()
                            </td>
                            <td>
                                @recordI.StatusDescription
                            </td>

                            @*<td>
                                    <div>
                                        <img id="@("imgExpandCSSPOC" + i)" border="0" src="@Url.Content("~/Content/Images/plus.png")" onclick="showRecordDataCSSPOC('@("" + i)')" />
                                        <img id="@("imgCollapseCSSPOC" + i)" border="0" src="@Url.Content("~/Content/Images/minus.png")" onclick="hideRecordDataCSSPOC('@("" + i)')" style="display:none;" /> @recordI.CompanyName
                                    </div>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                                <td>
                                    <div>
                                        <a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('3','Contact Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@loggedInUser.UserId','','0','')">@recordI.ContactOverDue</a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('4','Inspection Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@loggedInUser.UserId','','0','')">@recordI.InspectionOverDue</a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('5','Final Upload Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@loggedInUser.UserId','','0','')">@recordI.FinalUploadOverDue</a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('-2','Misc. Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@loggedInUser.UserId','','0','')">@recordI.MiscOverDue</a>
                                    </div>
                                </td>*@
                        </tr>
                    }
                }
            }
        </table>
    </div>
</div>


@*<table style="width: 100%;" cellpadding="5" cellspacing="0">
        <tr>
            <td class="mainTableHeader" align="left">Claim #</td>
            <td class="mainTableHeader" align="left" nowrap="nowrap">Insured Name</td>
            <td class="mainTableHeader" align="left">Title</td>
            <td class="mainTableHeader" align="left">Description</td>
            <td class="mainTableHeader" align="center">Date</td>
            <td class="mainTableHeader" align="left">Status</td>

        </tr>
        @{
            if (loggedInUser != null)
            {
                List<BLL.DiaryItemsforSPGetDetails_Result> diarySummary = css.DiaryItemsforSPGetDetails(loggedInUser.UserId).ToList();
                for (int i = 0; i < diarySummary.Count; i++)
                {
                    BLL.DiaryItemsforSPGetDetails_Result recordI = diarySummary[i];
            <tr valign="top">
                <td align="left" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>@recordI.ClaimNumber</td>
                <td align="left" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>@recordI.InsuredName</td>
                <td align="left" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a href="@Url.Action("Details", "AutoAssignment", new { claimid = Cypher.EncryptString(@recordI.ClaimId.ToString()) })">@recordI.Title</a></td>
                <td align="left" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>@recordI.DiaryDesc</td>
                <td  align="center" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>@recordI.CreatedDate.ToString()</td>

                <td align="left" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>@recordI.StatusDescription</td>

            </tr>
                }

            }
        }

    </table>*@
