﻿@using BLL
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<style type="text/css">
    .mainTableHeader {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #C1C1C1;
    }

    .subTableHeader1 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #D8D8D8;
    }

    .subTableHeader2 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #E0E0E0;
    }

    .subTableHeader3 {
        border-bottom: 1px solid black;
        font-weight: bold;
        background-color: #EAEAEA;
    }
</style>
<script type="text/javascript">
    function showRecordDataCSSPOC(controlId) {
        $("#trCSSPOC" + controlId).show();
        $("#imgExpandCSSPOC" + controlId).hide();
        $("#imgCollapseCSSPOC" + controlId).show();
    }
    function hideRecordDataCSSPOC(controlId) {
        $("#trCSSPOC" + controlId).hide();
        $("#imgExpandCSSPOC" + controlId).show();
        $("#imgCollapseCSSPOC" + controlId).hide();

    }
</script>

<div>
    <div class="note note-info" style="height:50px; background-color: #EDF7FB;  margin-bottom: 0px;">
        <table>
            <tbody>
                <tr>
                    <td>
                        <h4>Diary Summary</h4>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-scrollable">
        <table class="table table-hover fontsizefortbl">
            <thead style="background-color: #406E98 !important;color: white;">
                <tr>
                    <td>
                        Company
                    </td>
                    <td>
                        Service Provider
                    </td>
                    <td >
                        Contact Over Due
                    </td>
                    <td >
                        Inspection Over Due
                    </td>
                    <td >
                        Final Upload Over Due
                    </td>
                    <td >
                        Misc. Over Due
                    </td>
                </tr>
            </thead>
            @{
                List<usp_DiarySummaryCSSPOCMaster_Result> diarySummaryMaster = css.usp_DiarySummaryCSSPOCMaster(loggedInUser.UserId).ToList();
                for (int i = 0; i < diarySummaryMaster.Count; i++)
                {
                    usp_DiarySummaryCSSPOCMaster_Result recordI = diarySummaryMaster[i];
                    <tr>
                        <td>
                            <div>
                                @*<img id="@("imgExpandCSSPOC" + i)" border="0" src="@Url.Content("~/Content/Images/plus.png")" onclick="showRecordDataCSSPOC('@("" + i)')" />
                                <img id="@("imgCollapseCSSPOC" + i)" border="0" src="@Url.Content("~/Content/Images/minus.png")" onclick="hideRecordDataCSSPOC('@("" + i)')" style="display:none;" />*@ 
                             
                                <div class="fa-item" id="@("imgExpandCSSPOC" + i)" onclick="showRecordDataCSSPOC('@("" + i)')" >
                                    <i class="fa fa-plus" title="Expand" style="color: red;"></i>
                                </div>
                                <div class="fa-item" id="@("imgCollapseCSSPOC" + i)" onclick="hideRecordDataCSSPOC('@("" + i)')" style="display: none;">
                                    <i class="fa fa-minus" title="Collapse" style="color: red;"></i>
                                </div>
                                @recordI.CompanyName                                
                            </div>
                        </td>
                        <td>
                            <div></div>
                        </td>                      
                        <td>
                            <div>
                                <a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('3','Contact Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@loggedInUser.UserId','','0','')">@recordI.ContactOverDue</a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('4','Inspection Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@loggedInUser.UserId','','0','')">@recordI.InspectionOverDue</a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('5','Final Upload Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@loggedInUser.UserId','','0','')">@recordI.FinalUploadOverDue</a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('-2','Misc. Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@loggedInUser.UserId','','0','')">@recordI.MiscOverDue</a>
                            </div>
                        </td>
                    </tr>    
                    List<usp_DiarySummaryCSSPOC_Result> diarySummaryCSSPOC = css.usp_DiarySummaryCSSPOC(recordI.HeadCompanyId, loggedInUser.UserId).ToList();
                    for (int j = 0; j < diarySummaryCSSPOC.Count; j++)
                    {
                        usp_DiarySummaryCSSPOC_Result recordJ = diarySummaryCSSPOC[j];
                        <tr id="@("trCSSPOC" + i)" style="display:none;" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>
                            <td>
                                <div></div>
                            </td> 
                             <td>
                                <div>@recordJ.SPName</div>
                            </td>                                           
                            <td>
                                <div>
                                    <a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('3','Contact Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','@recordJ.OAUserID','@recordJ.SPName')">@recordJ.ContactOverDue</a>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('4','Inspection Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','@recordJ.OAUserID','@recordJ.SPName')">@recordJ.InspectionOverDue</a>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('5','Final Upload Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','@recordJ.OAUserID','@recordJ.SPName')">@recordJ.FinalUploadOverDue</a>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('-2','Misc. Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','@recordJ.OAUserID','@recordJ.SPName')">@recordJ.MiscOverDue</a>
                                </div>
                            </td>
                        </tr>                       
                    }
                }
            }
        </table>
    </div>
</div>

@*<div id="divCompanyView" style="width: 100%;">
    <table style="width: 100%;" cellpadding="5" cellspacing="0">
        <tr>
            <td class="mainTableHeader">
                Company
            </td>
            <td class="mainTableHeader" align="center">
                Contact
                <br />
                Over Due
            </td>
            <td class="mainTableHeader" align="center">
                Inspection
                <br />
                Over Due
            </td>
            <td class="mainTableHeader" align="center">
                Final Upload
                <br />
                Over Due
            </td>
            <td class="mainTableHeader" align="center">Misc. Over Due</td>
        </tr>
        @{
            List<usp_DiarySummaryCSSPOCMaster_Result> diarySummaryMaster = css.usp_DiarySummaryCSSPOCMaster(loggedInUser.UserId).ToList();
            for (int i = 0; i < diarySummaryMaster.Count; i++)
            {
                usp_DiarySummaryCSSPOCMaster_Result recordI = diarySummaryMaster[i];
                <tr @(i % 2 == 0 ? "class=tableRowAlternate" : "class=tableRow")>
                    <td>
                        <img id="@("imgExpandCSSPOC" + i)" border="0" src="@Url.Content("~/Content/Images/plus.png")" onclick="showRecordDataCSSPOC('@("" + i)')" />
                        <img id="@("imgCollapseCSSPOC" + i)" border="0" src="@Url.Content("~/Content/Images/minus.png")" onclick="hideRecordDataCSSPOC('@("" + i)')" style="display:none;" /> @recordI.CompanyName
                    </td>
                    <td align="center" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('3','Contact Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@loggedInUser.UserId','','0','')">@recordI.ContactOverDue</a></td>
                    <td align="center" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('4','Inspection Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@loggedInUser.UserId','','0','')">@recordI.InspectionOverDue</a></td>
                    <td align="center" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('5','Final Upload Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@loggedInUser.UserId','','0','')">@recordI.FinalUploadOverDue</a></td>
                    <td align="center" @(i % 2 == 0 ? "class=tableRowAlternate" : "")><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('-2','Misc. Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@loggedInUser.UserId','','0','')">@recordI.MiscOverDue</a></td>
                </tr>
                <tr id="@("trCSSPOC" + i)" style="display:none;" @(i % 2 == 0 ? "class=tableRowAlternate" : "class=tableRow")>
                    <td colspan="7" align="right">
                        <table style="width: 98%;" cellpadding="5" cellspacing="0">
                            <tr>
                                <td class="subTableHeader1">
                                    Service Provider
                                </td>
                                <td class="subTableHeader1" align="center">
                                    Contact
                                    <br />
                                    Over Due
                                </td>
                                <td class="subTableHeader1" align="center">
                                    Inspection
                                    <br />
                                    Over Due
                                </td>
                                <td class="subTableHeader1" align="center">
                                    Final Upload
                                    <br />
                                    Over Due
                                </td>
                                <td class="subTableHeader1" align="center">Misc. Over Due</td>
                            </tr>
                            @{
                List<usp_DiarySummaryCSSPOC_Result> diarySummaryCSSPOC = css.usp_DiarySummaryCSSPOC(recordI.HeadCompanyId, loggedInUser.UserId).ToList();
                for (int j = 0; j < diarySummaryCSSPOC.Count; j++)
                {
                    usp_DiarySummaryCSSPOC_Result recordJ = diarySummaryCSSPOC[j];
                            <tr  @(j % 2 == 0 ? "class=tableRowAlternate" : "")>
                                <td>@recordJ.SPName</td>
                                <td  align="center"><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('3','Contact Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','@recordJ.OAUserID','@recordJ.SPName')">@recordJ.ContactOverDue</a></td>
                                                <td  align="center"><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('4','Inspection Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','@recordJ.OAUserID','@recordJ.SPName')">@recordJ.InspectionOverDue</a></td>
                                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('5','Final Upload Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','@recordJ.OAUserID','@recordJ.SPName')">@recordJ.FinalUploadOverDue</a></td>
                                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueClaimsListPopup('-2','Misc. Overdue','@recordI.HeadCompanyId','@recordI.CompanyName','@recordJ.CSSPointofContactUserId','@recordJ.CSSPOCName','@recordJ.OAUserID','@recordJ.SPName')">@recordJ.MiscOverDue</a></td>
                            </tr>
                }
                        }
                    </table>
                </td>
            </tr>
            }
        }
    </table>
</div>*@
