﻿@model BLL.ViewModels.DiarySummaryOverDueClaimsListViewModel
@using CSS

@*<div style="text-align:left;">
        <table>
            @if (!String.IsNullOrEmpty(Model.Level1_Desc))
            {
                <tr><td>@Model.Level1Group_Desc:</td><td width="10px;"></td><td><b>@Model.Level1_Desc</b></td></tr>
            }
            @if (!String.IsNullOrEmpty(Model.Level2_Desc))
            {
                <tr><td>@Model.Level2Group_Desc:</td><td width="10px;"></td><td><b>@Model.Level2_Desc</b></td></tr>
            }
            @if (!String.IsNullOrEmpty(Model.Level3_Desc))
            {
                <tr><td>@Model.Level3Group_Desc:</td><td width="10px;"></td><td><b>@Model.Level3_Desc</b></td></tr>
            }
        </table>


        <br />
    </div>*@

<div style="text-align:left;">
    <table>
        <tr><td>Company:</td><td width="10px;"></td><td><b>@Model.CompanyName</b></td></tr>
        @if (Model.CSSPOCUserId > 0 && !String.IsNullOrEmpty(Model.CSSPOCName))
        {
            <tr><td>CSS POC:</td><td width="10px;"></td><td><b>@Model.CSSPOCName</b></td></tr>
        }
        @if (Model.SPUserId > 0 && !String.IsNullOrEmpty(Model.SPName))
        {
            <tr><td>SP:</td><td width="10px;"></td><td><b>@Model.SPName</b></td></tr>
        }
    </table>

    <br />
</div>

<div>
    <table class="col-md-12">
        <thead style="background-color: #406E98 !important; color:white; height:25px;">
            <tr style="height: 30px;">
                <td width="">Claim #</td>
                <td width="">Insured</td>
                <td width="">Due Date</td>
                <td width="" style="text-align:center;">Overdue Diaries</td>
                @* <td width="40%">Claim #</td>
                    <td width="60%">Overdue Diary Count</td>*@
            </tr>
        </thead>

        @{
            int i = 0;
            foreach (var claim in Model.ClaimsList)
            {
                <tr class="@(i%2==0?"tableRowAlternate":"tableRow")">
                    <td style="text-align:left;">@Html.ActionLink(claim.ClaimNumber, "Details", "AutoAssignment", new { @claimId = Cypher.EncryptString(claim.ClaimId.ToString()) }, null)</td>
                    <td>@claim.InsuredName</td>

                    <td>
                        @if (claim.DueDate.HasValue)
                        {
                            @(claim.DueDate.Value.Month + "/" + claim.DueDate.Value.Day + "/" + claim.DueDate.Value.Year);
                        }
                    </td>
                    <td>@claim.OverDueDiaryCount</td>
                </tr>
                        i++;
            }
            if (i == 0)
            {
                <tr class="tableRowAlternate"><td colspan="4" style="text-align:center;">No Overdue Claims</td></tr>
            }
        }
    </table>
</div>




@*<div style="text-align:left;">
        Company: @Model.CompanyName<br />
        @if (Model.CSSPOCUserId > 0 && !String.IsNullOrEmpty(Model.CSSPOCName))
        {
            @:CSS POC: @Model.CSSPOCName<br />
    }
        @if (Model.SPUserId > 0 && !String.IsNullOrEmpty(Model.SPName))
        {
            @:SP: @Model.SPName<br />
    }<br />
    </div>*@
@*<table width="100%">
        <thead class="tableHeader">
            <tr>

                <td width="35%">Claim #</td>
                <td width="25%">Insured</td>
                <td width="30%">Due Date</td>
                <td width="10%">Overdue Diaries</td>
            </tr>
        </thead>
        @{
            int i = 0;
            foreach (var claim in Model.ClaimsList)
            {
                <tr class="@(i%2==0?"tableRowAlternate":"tableRow")">
                    <td style="text-align:left;">@Html.ActionLink(claim.ClaimNumber, "Details", "PropertyAssignment", new { @claimId = Cypher.EncryptString(claim.ClaimId.ToString()) }, null)</td>
                    <td>@claim.InsuredName</td>

                    <td>
                        @if (claim.DueDate.HasValue)
                        {
                            @(claim.DueDate.Value.Month + "/" + claim.DueDate.Value.Day + "/" + claim.DueDate.Value.Year);
                        }
                    </td>
                    <td>@claim.OverDueDiaryCount</td>
                </tr>
                        i++;
            }
            if (i == 0)
            {
                <tr class="tableRowAlternate"><td colspan="4" style="text-align:center;">No Overdue Claims</td></tr>
            }
        }
    </table>*@
