﻿@model BLL.ViewModels.ServiceProviderRegistrationViewModel
@using CSS
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<link href="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />
<style type="text/css">
    .blockst {
        background-color: #67809F;
        color: white;
        padding-left: 7px;
        padding-top: 2px;
    }

    .portlet > .portlet-title > .tools {
        float: right;
        display: inline-block;
        padding: 7px 0 4px !important;
    }
</style>
<style>
    body {
        color: #333;
        padding: 0 !important;
        margin: 0 !important;
        direction: ltr;
        font-size: 13px !important;
    }

    h4 {
        font-size: 14px !important;
    }

    .form-control, output {
        font-size: 13px !important;
        line-height: 1.42857;
        color: #555;
        display: block;
    }

    .form .form-section, .portlet-form .form-section {
        margin: 10px 0 !important;
        padding-bottom: 5px;
        border-bottom: 1px solid #e7ecf1;
    }

    .modalHead {
        background-color: #406E98 !important;
        /*color: white;
                    font-weight: bold;*/
    }
</style>
@using (Html.BeginForm("Submit", "ServiceProviderRegistration", FormMethod.Post, new { @id = "frmRegistration", enctype = "multipart/form-data" }))
{
<div class="portlet box Cportletbox">

    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>SP Registration
        </div>
        <div class="tools">
            @if (loggedInUser != null && loggedInUser.UserId == Model.user.UserId)
            {
                <button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn default btn-sm">Cancel</button>
            }
            else if (loggedInUser != null && loggedInUser.UserTypeId != 2)
            { 
                <button type="button" onclick="location.href='@Url.Action("Search", "SPMapSearch", new { sptype = "act" })'" class="btn default btn-sm">Cancel</button>
              
            }
            else if (loggedInUser != null)
            {
                <button type="button" onclick="location.href='@Url.Action("Search", "ServiceProviders")'" class="btn default btn-sm">Cancel</button>
            }
            else
            {
                <button type="button" onclick="location.href='@Url.Action("Login", "Account")'" class="btn default btn-sm">Cancel</button>
            }

            @*<button type="submit" class="btn blue btn-sm" onclick="btnSave_Click()">
                <i class="fa fa-check"></i> Save
                </button>*@
            <input name="submit" type="submit" class="btn blue  btn-sm" value="Save" />

        </div>
    </div>
    <div class="portlet-body form">
        <div class="errorMsg">
            @*@Html.ValidationSummary()*@
            @*@ViewBag.ExceptionErrorMsg*@
        </div>
        <!-- BEGIN FORM-->
        <style type="text/css">
            .radio-list > label.radio-inline:first-child {
                padding-left: 22px;
            }
        </style>
        @Html.HiddenFor(x => x.user.UserId)
        @Html.HiddenFor(x => x.user.MgrId)
        <div action="#" class="horizontal-form">

            <div class="form-body" style="padding-top: 1px;">
                <h4 class="form-section blockst CH4Style">Company Info</h4>
                <div class="row">
                   <table style="width:100%">
                        <tr>
                            <td style="width:100%">
                                <table style="width:100%">
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                              <label class="col-md-3 control-label">Head Company : </label>
                                                <div class="col-md-6">
                                                    @if ((Model.user.UserId == -1 && Model.user.MgrId == null) || Model.user.HeadCompanyId == null || Model.user.HeadCompanyId == 0)
                                                    {
                                                        //  @Html.DropDownListFor(model => model.user.HeadCompanyId, Model.HeadCompanyList, new { @id = "ddlHeadCompany", @name = "user.HeadCompanyId", @class = "form-control" })
                                                        <select id="ddlHeadCompany" name="user.HeadCompanyId" class="form-control">
                                                            @foreach (var item in Model.HeadCompanyList)
                                                            {
                                                                var optionStyle = String.Empty;
                                                                if (item.IsMark == true)
                                                                { optionStyle = "style=font-weight:bold"; }

                                                                <option value="@item.Value" @optionStyle @(item.Value != Model.user.HeadCompanyId.ToString() ? "" : "selected = selected")>@item.Text</option>
                                                                
                                                            }
                                                        </select>
                                                     //   <input type="hidden" id="user_HeadCompanyId" name="user_HeadCompanyId" value="0" /> @*INPSW-39*@
                                                        @Html.HiddenFor(x => x.user.Company1.CompanyName)

                                                    }
                                                    else if (Model.user.MgrId == null)
                                                    {
                                                        String CompanyName = string.Empty;
                                                        if (Model.user.Company1 != null)
                                                        {
                                                            CompanyName = Model.user.Company1.CompanyName;
                                                        }
                                                        <input name="user.Company1.CompanyName" class="form-control" value="@CompanyName" />
                                                        @Html.HiddenFor(x => x.user.HeadCompanyId)

                                                    }
                                                    else
                                                    {
                                                        if (Model.user.Company1 != null)
                                                        {
                                                            <text>@Model.user.Company1.CompanyName</text>
                                                            @Html.HiddenFor(x => x.user.Company1.CompanyName)
                                                        }
                                                        @Html.HiddenFor(x => x.user.HeadCompanyId)
                                                    }
                                                </div>
                                                @{
                                                    Model.IsIadaMember = false;
                                                    //if (Model.user.Company1 != null)
                                                    //{
                                                    //    Model.IsIadaMember = Model.user.Company1.IsIadaMember ?? false;
                                                    //}

                                                    if (Model.user != null)
                                                    {
                                                        Model.IsIadaMember = Model.user.IsIADAMember ?? false;
                                                    }

                                                    if (Model.user.Company1 != null && loggedInUser != null && loggedInUser.UserTypeId == 2 && Model.user.MgrId == null)
                                                    {
                                                        <div class="col-md-3">
                                                            @*@Html.CheckBoxFor(model => model.IsIadaMember, new { id = "IsIADAMember", @class = "", @style = "width: 6%; height: 15px;" })<span>IADA Member</span>*@
                                                            <div class="form-group form-md-checkboxes">
                                                                <div class="md-checkbox-inline">
                                                                    <div class="md-checkbox">
                                                                        @Html.CheckBoxFor(model => model.IsIadaMember, new { id = "IsIADAMember", @class = "md-check" })
                                                                        <label for="IsIADAMember">
                                                                            <span class="inc"></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> IADA Member
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" name="IsIadaMember" value="@Model.IsIadaMember.ToString()" />
                                                    }
                                                }

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Business Description: </label>
                                                <div class="col-md-9">
                                                    @{
                                                    var BusinessDescStatus = "readonly='readonly'";
                                                    if (Model.user.MgrId == null && Model.user.HeadCompanyId != null)
                                                    {
                                                        BusinessDescStatus = "";
                                                    }
                                                    else
                                                    {
                                                        BusinessDescStatus = "readonly='readonly'";
                                                    }

                                                    if (Model.user.UserId == -1)
                                                    {
                                                        BusinessDescStatus = "readonly='readonly'";
                                                    }
                                                    }
                                                    <textarea id="txtBusinessDesc" class="form-control" rows="4" placeholder="Description..." @BusinessDescStatus data-autosize-on="true"
                                                              name="user.Company1.BusinessDesc" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 140px;margin-top: 10px;margin-bottom: 10px;">
                                                        @if (Model.user.Company1 != null)
                                                        {
                                                            @*@Html.Raw(Model.user.Company1.BusinessDesc)*@
                                                            @Model.user.Company1.BusinessDesc
                                                        }
                                                    </textarea>
                                                </div>
                                             </div>
                                        </td>
                                    </tr>
                                    @*INPSW-39 start*@ 
                                        @{
                                            if (Model.user.UserId != -1 )
                                            {
                                                if (Model.user.Company1 != null && loggedInUser != null && loggedInUser.UserTypeId == 2 && Model.user.MgrId == null)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">QBVendor ID: </label>
                                                                <div class="col-md-2"> @Html.TextBoxFor(x => x.QBVendorId, new { id = "QBVendorID", value = "", maxlength = "25", @class = "form-control" })</div>
                                                                <div class="col-md-2"><a hre="#" onclick="UpdateQBVendor();"><b>Update VendorId</b></a></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        }
                                @*INPSW-39 end*@
                                </table>
                            </td>
                            <td style="float:right">
                                <div class="form-group">
                                    <div class="col-md-2">
                                         <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail" style="width: 150px; height: 150px;">
                                                @{
                                                        String PImagePath = String.Empty;
                                                        if (Model.user.Company1 != null)
                                                        {
                                                            if (!String.IsNullOrEmpty(Model.user.Company1.imagePath))
                                                            {
                                                                PImagePath = Utility.GetClaimServiceProviderAbsoluteDocPath((Int32)Model.user.HeadCompanyId, Model.user.Company1.imagePath); ;
                                                            }
                                                            else { PImagePath = "http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"; }
                                                            @Html.HiddenFor(x => x.user.Company1.imagePath);
                                                        }
                                                        else
                                                        {
                                                            PImagePath = "http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image";
                                                        }
                                                        <img id="imgheadcompany" src="@PImagePath" alt="">
                                                }
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 150px; max-height: 150px;"> </div>

                                            <div>
                                                @{
                                                        var IsAllowImageSelect = "style=display:none";
                                                        if (Model.user.UserId != -1 && Model.user.MgrId == null && Model.user.HeadCompanyId != null)
                                                        {
                                                            IsAllowImageSelect = "";
                                                        }
                                                        else
                                                        {
                                                            IsAllowImageSelect = "style=display:none";
                                                        }

                                                }
                                                <span class="btn default btn-file" @IsAllowImageSelect>
                                                    <span class="fileinput-new"> Select image </span>
                                                    <span class="fileinput-exists"> Change </span>
                                                    <input type="file" id="userProfilePhoto" name="profileImage" @BusinessDescStatus>
                                                </span>
                                                <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                            </div>
                                        </div>
                                        <div class="clearfix margin-top-10">

                                        </div>

                                    </div>

                                </div>
                            </td>
                        </tr>

                    </table>

                </div>


                <h4 class="form-section blockst CH4Style">Person Info</h4>
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <input id="ID" name="ID" type="hidden" value="@Model.user.UserId" />
                            <label class="control-label">First Name</label>
                            @Html.TextBoxFor(x => x.user.FirstName, new { id = "txtFirstName",maxlength="25",@class="form-control" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Middle Name</label>
                            @Html.TextBoxFor(x => x.user.MiddleInitial, new {  maxlength = "25", @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            @Html.TextBoxFor(x => x.user.LastName, new { id = "txtLastName", maxlength = "25", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Job Title</label>
                            @Html.TextBoxFor(x => x.user.JobTitle, new { id = "txtJobTitle",  @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>	LLC/Corp./Partnership Name:</label>
                            @Html.TextBoxFor(x => x.user.ServiceProviderDetail.DBA_LLC_Firm_Corp, new { id = "txtLLCFirm", maxlength = "25", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tax Id:(Employe Identification Number)</label>
                            @Html.TextBoxFor(x => x.user.ServiceProviderDetail.TaxID, new { id = "txttaxid", maxlength = "25", @class = "form-control", onblur = "getLLCFirm();", onchange = "getLLCFirm();" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Are you doing business as DBA?</label>
                            <div class="md-radio-inline">
                                 <div class="md-radio">
                                    @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.IsDBA, true, new { onclick = "SPRegistration.Radio_ClickLLC('rdbIsDBANo', 'txtLLCFirm', true)", @Id = "rdbIsDBAYes", @class = "md-radiobtn" })
                                    <label for="rdbIsDBAYes">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Yes
                                    </label>
                                </div>
                                <div class="md-radio">
                                    @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.IsDBA, false, new { onclick = "SPRegistration.Radio_ClickLLC('rdbIsDBANo', 'txtLLCFirm', true)", @Id = "rdbIsDBANo", @class = "md-radiobtn" })
                               
                                    <label for="rdbIsDBANo">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Federal Tax Classification:</label>
                            <select name="user.ServiceProviderDetail.FederalTaxClassification" class="form-control" onchange="processFederalTaxClassificationChange()" id="ddlFederalTaxClassification">
                                <option value="0">--Select--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Address</label>
                            @{
                           var Address = "readonly='readonly'";
                            if (Model.user.MgrId == null)
                            {
                            Address = "";
                            }
                            else
                            {
                                Address = "readonly='readonly'";
                            }

                            if (Model.user.UserId == -1)
                            {
                                Address = "readonly='readonly'";
                            }
                            }
                            <input name="user.StreetAddress" id="txtAddress" type="text" value="@Model.user.StreetAddress" class="form-control" @Address />

                        </div>

                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Post Code</label>
                            <input name="user.Zip" id="txtZip" type="text" value="@Model.user.Zip" onblur="SPRegistration.populateZipData('txtZip', 'ddlState', 'ddlCity')" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <input name="user.City" id="ddlCity" type="text" value="@Model.user.City"  class="form-control" />
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">State</label>
                            <select name="user.State" id="ddlState" onblur="getCurrentState()" class="form-control">
                                @foreach (var state in Model.StateList)
                                {
                                <option value="@state.Key.Trim()" @( state.Key.Trim() != (Model.user.State ?? "").Trim() ? "" : "selected = selected" )>@state.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Mobile Phone:</label>
                            <input name="user.MobilePhone" class="form-control PhoneNo" type="text" value="@Model.user.MobilePhone" />
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Home Phone:</label>
                            <input name="user.HomePhone" class="form-control PhoneNo" type="text" value="@Model.user.HomePhone" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Email Address :</label>
                            @{
                            var Email = "readonly='readonly'";
                            if (Model.user.MgrId == null)
                            {
                            Email = "";
                            }
                            else
                            {
                                Email = "readonly='readonly'";
                            }

                            if (Model.user.UserId == -1)
                            {
                                Email = "readonly='readonly'";
                            }
                            var User_emailVal = string.Empty;
                            if (String.IsNullOrEmpty(Model.user.Email))
                            {
                                if (Model.user.User1 != null)
                                {
                                    User_emailVal = Model.user.User1.Email;
                                }
                            }
                            else {
                                User_emailVal = Model.user.Email;
                            }
                            }
                            <input name="user.Email" id="txtEmail" type="text" value="@User_emailVal" class="form-control" @Email />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Website URL :</label>
                            @{
                            string website = String.Empty;
                            string iswebsiteTxtEnabled = String.Empty;
                            if (Model.user.Company1 != null)
                            {
                            website = Model.user.Company1.WebsiteURL;
                            }
                            if (Model.user.MgrId != null)
                            {
                            iswebsiteTxtEnabled = "disabled='disabled'";
                            }
                            }

                            <input name="user.Company1.WebsiteURL" id="txtHeadCompanyWebsite" type="text" @iswebsiteTxtEnabled value="@website" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>LinkedIn Address :</label>
                            <input name="user.LinkedInAddress" id="txtLinkedInAddress" type="text" value="@Model.user.LinkedInAddress" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!--/span-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>User Name</label>
                            @if (Model.user.UserId != -1)
                            {
                            <input name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" class="form-control" readonly="readonly" />
                            <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />
                            }
                            else
                            {
                            <input name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" class="form-control" />
                            <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />

                            }

                            <div style="display: inline; color: red;" id="divStatus"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Password :</label>
                            <input name="user.Password" id="txtPassword" type="password" onfocus="HidePasswordMessage();" class="form-control" />

                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input name="user.PasswordConfirm" id="txtConfPassword" type="password" onblur="compare();" onfocus="HidePasswordMessage();" class="form-control" />
                            <div id="tdConfirmPassword" valign="top" align="left" style="height: 10px; color: red; display: none;"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Service Types:</label>


                            @Html.ListBoxFor(x => x.SelectedServiceTypes, new MultiSelectList(Model.ServiceOfferings, "ServiceId", "ServiceDescription", Model.SelectedServiceTypes), new { @class = "form-control" })


                        </div>
                    </div>

                    <!--/span-->
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label> Valid Driver’s License Number:</label>
                            <input class="form-control" name="user.ServiceProviderDetail.DriversLicenceNumber" type="text" value="@Model.user.ServiceProviderDetail.DriversLicenceNumber" />
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Issuing State:</label>
                            <select name="user.ServiceProviderDetail.DriversLicenceState" class="form-control">
                                @foreach (var issuingstate in Model.StateList)
                                {
                                <option value="@issuingstate.Key" @( issuingstate.Key != Model.user.ServiceProviderDetail.DriversLicenceState ? "" : "selected = selected" )>@issuingstate.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label> Appraiser License #:</label>
                            <input class="form-control" name="user.ServiceProviderDetail.AppraiserLicense" type="text" value="@Model.user.ServiceProviderDetail.AppraiserLicense" />

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label> Adjuster License #:</label>
                            <input class="form-control" name="user.ServiceProviderDetail.AdjusterLicense" type="text" value="@Model.user.ServiceProviderDetail.AdjusterLicense" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label> Business License #:</label>
                            <input class="form-control" name="user.ServiceProviderDetail.BusinessLicense" type="text" value="@Model.user.ServiceProviderDetail.BusinessLicense" />
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Have you ever been known by any other names?</label>
                            <div class="md-radio-inline">

                                <div class="md-radio">
                                    @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.IsKnowByOtherNames, true, new { onchange = "Radio_Click('rdbIsKnowByOtherNamesNo', 'txtKnowByOtherNames',true)", @Id = "rdbIsKnowByOtherNamesYes", @class = "md-radiobtn" })

                                    <label for="rdbIsKnowByOtherNamesYes">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Yes
                                    </label>
                                </div>
                                <div class="md-radio">
                                    @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.IsKnowByOtherNames, false, new { onchange = "Radio_Click('rdbIsKnowByOtherNamesNo', 'txtKnowByOtherNames',true)", @Id = "rdbIsKnowByOtherNamesNo", @class = "md-radiobtn" })

                                    <label for="rdbIsKnowByOtherNamesNo">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> No
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>	If yes, give the names:</label>
                            <input name="user.ServiceProviderDetail.KnowByOtherNames" id="txtKnowByOtherNames" type="text" value="@Model.user.ServiceProviderDetail.KnowByOtherNames" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Date of Birth:</label>

                            <input name="user.ServiceProviderDetail.DOB" class="form-control" type="text" value="@(Model.user.ServiceProviderDetail.DOB.HasValue ? Model.user.ServiceProviderDetail.DOB.Value.ToString("MM/dd/yyyy") : "")" />

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-md-line-input">
                            <label> Check the computerized estimating system you currently use and how many units you employ in the field:</label>
                            <div>

                                <div class="md-radio-inline">

                                    <div class="col-md-2">

                                        <div class="md-radio">
                                            @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.EstSystem, "AudatexEST", new { onchange = "SPRegistration.HasEstSystemChanged('AudatexEST')", @Id = "rbHasEstSystemAudatex", @class = "md-radiobtn" })
                                            <label for="rbHasEstSystemAudatex">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Audatex
                                            </label>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">#</span>
                                            <input name="user.ServiceProviderDetail.AudatexEST" maxlength="5" id="txtAudatexEST" disabled="disabled" class="form-control" style="float: none !important;text-align:center" type="text" value="@Model.user.ServiceProviderDetail.AudatexEST" />
                                            <span class="input-group-addon">units</span>

                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="md-radio">
                                            @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.EstSystem, "MitchellEST", new { onchange = "SPRegistration.HasEstSystemChanged('MitchellEST')", @Id = "rbHasEstSystemMitchell", @class = "md-radiobtn" })
                                            <label for="rbHasEstSystemMitchell">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Mitchell
                                            </label>
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon">#</span>
                                            <input name="user.ServiceProviderDetail.MitchellEST" maxlength="5" id="txtMitchellEST" disabled="disabled" class="form-control" style="float: none !important;text-align:center" type="text" value="@Model.user.ServiceProviderDetail.MitchellEST" />
                                            <span class="input-group-addon">units</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">

                                        <div class="md-radio">
                                            @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.EstSystem, "CCCEST", new { onchange = "SPRegistration.HasEstSystemChanged('CCCEST')", @Id = "rbHasEstSystemCCC", @class = "md-radiobtn" })
                                            <label for="rbHasEstSystemCCC">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span> CCC
                                            </label>
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon">#</span>
                                            <input name="user.ServiceProviderDetail.CCCEST" maxlength="5" disabled="disabled" id="txtCCCEST" class="form-control" style="float: none !important;text-align:center" type="text" value="@(Model.user.ServiceProviderDetail.CCCEST.HasValue ? Model.user.ServiceProviderDetail.CCCEST.Value.ToString()  : "")" />
                                            <span class="input-group-addon">units</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="md-radio">
                                            @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.EstSystem, "OtherEST", new { onchange = "SPRegistration.HasEstSystemChanged('OtherEST')", @Id = "rbHasEstSystemOtherEST", @class = "md-radiobtn" })
                                            <label for="rbHasEstSystemOtherEST">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Other(explain)
                                            </label>
                                        </div>

                                        <div class="input-group">

                                            <input name="user.ServiceProviderDetail.OtherDesc" id="txtOtherDesc" disabled="disabled" class="form-control" style="float: none !important;" type="text" value="@Model.user.ServiceProviderDetail.OtherDesc" />

                                            <span class="input-group-addon">#</span>
                                            <input name="user.ServiceProviderDetail.OtherEST" maxlength="5" id="txtOtherEST" disabled="disabled" class="form-control" style="float: none !important;text-align:center" type="text" value="@Model.user.ServiceProviderDetail.OtherEST" />
                                            <span class="input-group-addon">units</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row" style=" padding-bottom: 2px;padding-top: 2px;">
                    <div class="form-group form-md-line-input" style="padding-top:0px">
                        <label class="col-md-7 control-label"> Number of Appraisers company employs # :  </label>
                        <div class="col-md-5">

                            <div class="input-group" style="width: 20%;">
                                <input class="form-control" maxlength="5" style="text-align:center" name="user.ServiceProviderDetail.CompanyAppraisersCount" type="text" value="@Model.user.ServiceProviderDetail.CompanyAppraisersCount" />

                                <div class="form-control-focus"> </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-7 control-label">  Appraisers are: </label>
                    <div class="form-group form-md-radios">

                        <div class="col-md-5">
                            <div class="md-radio-inline">
                                <div class="md-radio">
                                    @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.AppraiserType, "EMP", new { @Id = "radiochkEmployees", @class = "md-radiobtn" })
                                    <label for="radiochkEmployees">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Employees
                                    </label>
                                </div>
                                <div class="md-radio">
                                    @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.AppraiserType, "SUBCONT", new { @Id = "radiochkSubContracters", @class = "md-radiobtn" })
                                    <label for="radiochkSubContracters">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> SubContracters
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group form-md-line-input" style="padding-top:0px">
                        <label class="col-md-7 control-label"> Estimated number of appraisals completed by youer company in the last 12 months :  </label>
                        <div class="col-md-5">

                            <div class="input-group" style="width: 20%;">
                                <input class="form-control" maxlength="5" style="text-align:center" name="user.ServiceProviderDetail.CompanyLast12monthEST" type="text" value="@Model.user.ServiceProviderDetail.CompanyLast12monthEST" />

                                <div class="form-control-focus"> </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label> What Appraisal Management controls do you employ?</label>
                            <textarea cols="12" rows="3" class="form-control" name="user.ServiceProviderDetail.AppraisalManagementDesc">@Model.user.ServiceProviderDetail.AppraisalManagementDesc</textarea>

                        </div>
                    </div>

                </div>

                <h4 class="form-section blockst CH4Style">Other Details</h4>
                <div class="row" style=" padding-bottom: 2px;">

                    <div class="form-group form-md-radios">

                        <div>
                            @{
    if (loggedInUser != null)
    {
        if (loggedInUser.UserTypeId == 2)
        {
                        <label class="col-md-7 control-label">Select Rank</label>
                                <div class="col-md-5">

                                    <div class="md-radio-inline">
                                        <div class="md-radio">
                                            @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.Rank, "1", new { @Id = "chkServiceProviderDetailRank1", @class = "md-radiobtn" })
                                            <label for="chkServiceProviderDetailRank1">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span> 1
                                            </label>
                                        </div>
                                        <div class="md-radio">
                                            @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.Rank, "2", new { @Id = "chkServiceProviderDetailRank2", @class = "md-radiobtn" })
                                            <label for="chkServiceProviderDetailRank2">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> 2
                                            </label>
                                        </div>
                                        <div class="md-radio">
                                            @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.Rank, "3", new { @Id = "chkServiceProviderDetailRank3", @class = "md-radiobtn" })
                                            <label for="chkServiceProviderDetailRank3">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> 3
                                            </label>
                                        </div>
                                        <div class="md-radio">
                                            @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.Rank, "4", new { @Id = "chkServiceProviderDetailRank4", @class = "md-radiobtn" })
                                            <label for="chkServiceProviderDetailRank4">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> 4
                                            </label>
                                        </div>
                                        <div class="md-radio">
                                            @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.Rank, "5", new { @Id = "chkServiceProviderDetailRank5", @class = "md-radiobtn" })
                                            <label for="chkServiceProviderDetailRank5">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> 5
                                            </label>
                                        </div>
                                    </div>

                                </div>
        }
    }

                            }
                        </div>
                    </div>


                </div>

                @if (Model.user.UserId!=-1&&Model.user.Company1 != null && Model.user.Company1.CompanyId != null)
                {

                <div class="row" style="    padding-bottom: 2px;">

                    <div class="form-group">
                        <label class="col-md-7 control-label">  Office Manager who statuses Appraisal files? </label>
                        <div class="col-md-5">

                            <a href="javascript:;" onclick="SPRegistration.InternalContactList('@Model.user.Company1.CompanyId');" class="btn btn-sm yellow-crusta">Internal Contact</a>
                        </div>

                    </div>
                    <!--/span-->
                </div>
                }


                <div class="row" style="    padding-bottom: 2px;">

                    <div class="form-group">
                        <label class="col-md-7 control-label">  Do you provide daily supervision and ongoing training of appraisers? </label>
                        <div class="col-md-5">
                            <div class="md-radio-inline">
                                <div class="md-radio">
                                    @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.IsProvideTrainingOfAppraisers, "true", new { @Id = "chkIsProvideTrainingOfAppraisersYes", @class = "md-radiobtn" })
                                    <label for="chkIsProvideTrainingOfAppraisersYes">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Yes
                                    </label>
                                </div>
                                <div class="md-radio">
                                    @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.IsProvideTrainingOfAppraisers, "false", new { @Id = "chkIsProvideTrainingOfAppraisersNo", @class = "md-radiobtn" })
                                    <label for="chkIsProvideTrainingOfAppraisersNo">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> No
                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!--/span-->
                </div>
                <div class="row" style=" padding-bottom: 2px;">

                    <div class="form-group">
                        <label class="col-md-7 control-label">  Do you or your office review completed appraisals prior to submitting them to client? </label>
                        <div class="col-md-5">
                            <div class="md-radio-inline">
                                <div class="md-radio">
                                    @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.HasOfficeReviewCompleted, "true", new { onchange = "SPRegistration.OfficeReviewCompletedChange(1)", @Id = "chkHasOfficeReviewCompletedYes", @class = "md-radiobtn" })
                                    <label for="chkHasOfficeReviewCompletedYes">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Yes
                                    </label>
                                </div>
                                <div class="md-radio">
                                    @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.HasOfficeReviewCompleted, "false", new { onchange = "SPRegistration.OfficeReviewCompletedChange(0)", @Id = "chkHasOfficeReviewCompletedNo", @class = "md-radiobtn" })
                                    <label for="chkHasOfficeReviewCompletedNo">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> No
                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!--/span-->
                </div>
                <div class="row" style="    padding-bottom: 2px;">
                    @{
                       string asOfficeReviewCompleted = "disabled='disabled'";
                       if (Model.user.ServiceProviderDetail != null)
                       {
                           if (Model.user.ServiceProviderDetail.HasOfficeReviewCompleted.HasValue && Model.user.ServiceProviderDetail.HasOfficeReviewCompleted.Value == true)
                           {
                               asOfficeReviewCompleted = "";
                           }
                           else
                           {
                               asOfficeReviewCompleted = "disabled='disabled'";
                           }
                       }
                    }
                    <div class="form-group form-md-line-input" style="padding-top:0px">
                        <label class="col-md-7 control-label">  If yes, what percentage are reviewed? </label>

                        <div class="col-md-5">

                            <div class="input-group" style="width: 20%;">

                                <input class="form-control" maxlength="5" style="text-align:center" id="txtReviewedPercentage" @asOfficeReviewCompleted name="user.ServiceProviderDetail.ReviewedPercentage" type="text" value="@Model.user.ServiceProviderDetail.ReviewedPercentage" />
                                <div class="form-control-focus"> </div>
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="    padding-bottom: 2px;">
                    <div class="form-group">
                        <label class="col-md-7 control-label">  Do you provide appraisal handling instructions with each assignment? </label>
                        <div class="col-md-5">
                            <div class="md-radio-inline">
                                <div class="md-radio">
                                    @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.IsProvideApprHandlingInsts, "true", new { @Id = "chkIsProvideApprHandlingInstsYes", @class = "md-radiobtn" })
                                    <label for="chkIsProvideApprHandlingInstsYes">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Yes
                                    </label>
                                </div>
                                <div class="md-radio">
                                    @Html.RadioButtonFor(model => model.user.ServiceProviderDetail.IsProvideApprHandlingInsts, "false", new { @Id = "chkIsProvideApprHandlingInstsNo", @class = "md-radiobtn" })
                                    <label for="chkIsProvideApprHandlingInstsNo">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> No
                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="row" style="padding-bottom: 2px;">

                    <div class="form-group form-md-line-input" style="padding-top:0px">
                        <label class="col-md-7 control-label">  Do you do any complete field re-inspections? If yes,what percentage </label>

                        <div class="col-md-5">
                            <div class="input-group" style="width: 20%;">
                                <input class="form-control" maxlength="5" style="text-align:center" name="user.ServiceProviderDetail.ReInspectionPercentage" type="text" value="@Model.user.ServiceProviderDetail.ReInspectionPercentage" />
                                <div class="form-control-focus"> </div>
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style=" padding-bottom: 2px;">

                    <div class="form-group form-md-line-input" style="padding-top:0px">
                        <label class="col-md-7 control-label"> What is the average turn around time, date assignment received and date sent back to client?  </label>
                        <div class="col-md-5">

                            <div class="input-group" style="width: 20%;">
                                <input class="form-control" maxlength="2" style="text-align:center" name="user.ServiceProviderDetail.ATATimeOfAssignment" type="text" value="@Model.user.ServiceProviderDetail.ATATimeOfAssignment" />

                                <div class="form-control-focus"> </div>
                                <span class="input-group-addon">days</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="    padding-bottom: 2px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label> Please list all technical training certificates or certifications you and your staff has completed during the previous 5 years(ASE, ASA, I-CAR, Vale-tech,etc.) Please list by appraisers:</label>
                            @Html.TextAreaFor(x => x.user.ServiceProviderDetail.TechTrainingCerti, 3, 12, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                @*<div class="row" style="    padding-bottom: 2px;">
                    <div class="col-md-12">
                    <div class="form-group">
                    <label> please list office locations and appraiser locations that are managed out of your company</label>
                    @Html.TextAreaFor(x => x.user.FirstName, 3, 12, new { @class = "form-control" })
                    </div>
                    </div>

                    </div>*@
            </div>
            <div class="form-actions right">
                @if (loggedInUser != null && loggedInUser.UserId == Model.user.UserId)
                {
                <button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn default btn-sm">Cancel</button>
                }
                else if (loggedInUser != null && loggedInUser.UserTypeId != 2)
                {
                    <button type="button" onclick="location.href='@Url.Action("Search", "SPMapSearch", new { sptype = "act" })'" class="btn default btn-sm">Cancel</button>
                 }
                else if (loggedInUser != null)
                {
                <button type="button" onclick="location.href='@Url.Action("Search", "ServiceProviders")'" class="btn default btn-sm">Cancel</button>
                }
                else
                {
                <button type="button" onclick="location.href='@Url.Action("Login", "Account")'" class="btn default btn-sm">Cancel</button>
                }

                <input name="submit" type="submit" class="btn blue  btn-sm" value="Save"  />
            </div>
        </div>
        <!-- END FORM-->

    </div>
</div>
}
<div id="divInternalContactList">

</div>
<div id="divInternalContactSave">

</div>


<script>
//INPSW-39 start   
    function UpdateQBVendor() {
        debugger;
        var QBVendorId = document.getElementById("QBVendorID").value;
        
      
        
      
        var HeadCompanyId = document.getElementById("user_HeadCompanyId").value;
        if(HeadCompanyId == 0)
        {
            HeadCompanyId = document.getElementById("ddlHeadCompany").value;
        }
        if(HeadCompanyId == 0 ||QBVendorId =="")
        {
            if(HeadCompanyId == 0)
            {
                alert("Please select Head Company First.")
            }            
            if(QBVendorId =="")
            {
                alert("Please Enter QBVendor Id First.")
            }
                
        }
        else
        {
            $.ajax({
                url: "/ServiceProviderRegistration/QBVendorIdUpdate",
                method: "GET",
                contenttype: "application/json;charset=utf-8",
                data: { QBVendorId: QBVendorId, HeadCompanyId: HeadCompanyId},
                datatype: 'json',
                success: function (data) {
                    debugger;
                    if (data == 1)
                        alert("QbVendorId successfully updated");
                    else
                        alert("Error during QbVendorId updated");
                },
                error: function (err) {
                    alert("Error during QbVendorId updated");
                }
            });
        }
        
        
    }
    //INPSW - 39 end
</script>






