﻿@model BLL.ViewModels.PropertyAssignmentViewModel




<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @*<label class="control-label col-md-2">  </label>*@
            <div class="col-md-10">
                Is the Insured Information same as Loss Information? @Html.RadioButtonFor(model => model.isInsuredInfoSameAsLossInfo, true, new { @id = "cbCopyInsuredToLoss", @onclick = "copyInsuredToLoss()" }) Yes @Html.RadioButtonFor(model => model.isInsuredInfoSameAsLossInfo, false) No
            </div>
        </div>
    </div>
  
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">*Insured First Name </label>
            <div class="col-md-8">
               @Html.TextBoxFor(model => model.Claim.InsuredFirstName, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">*Insured Last Name</label>
            <div class="col-md-8">
               @Html.TextBoxFor(model => model.Claim.InsuredLastName, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">*Insured Address 1</label>
            <div class="col-md-8">
              @Html.TextBoxFor(model => model.Claim.InsuredAddress1, new { @id = "txtInsuredAddress1", @class = "form-control" })
            </div>
        </div>
    </div>
   
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Insured Address 2 </label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Claim.InsuredAddress2, new { @id="txtInsuredAddress2",@class = "form-control" })
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Insured Home Phone</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Claim.InsuredHomePhone, new { id = "HomePhone", @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">*Insured Zip</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Claim.InsuredZip, new { @id = "txtInsuredZip", @onblur = "populateZipData('txtInsuredZip','ddlInsuredState','txtInsuredCity')", @class = "form-control" })
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Insured Mobile Phone</label>
            <div class="col-md-8">
              @Html.TextBoxFor(model => model.Claim.InsuredMobilePhone, new { id = "MobilePhone", @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">*Insured State</label>
            <div class="col-md-8">
              @Html.DropDownListFor(model => model.Claim.InsuredState, Model.InsuredStateList, new {@id = "ddlInsuredState", @class = "form-control" })
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Insured Business Phone</label>
            <div class="col-md-8">
               @Html.TextBoxFor(model => model.Claim.InsuredBusinessPhone, new { id = "BusinessPhone", @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">*Insured City</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Claim.InsuredCity, new { @id = "txtInsuredCity", @class = "form-control" })
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Insured Email</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Claim.InsuredEmail, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
@*<table width="100%">
    <tr>
        <td colspan="4" class="subHeading">Insured</td>
    </tr>
     <tr>
        <td colspan="4" >Is the Insured Information same as Loss Information? @Html.RadioButtonFor(model => model.isInsuredInfoSameAsLossInfo, true, new { @id="cbCopyInsuredToLoss", @onclick="copyInsuredToLoss()" }) Yes @Html.RadioButtonFor(model =>model.isInsuredInfoSameAsLossInfo,false) No
        </td>
        

    </tr>
    <tr>
        <td width="20%">*Insured First Name
        </td>
        <td width="25%">

            @Html.TextBoxFor(model => model.Claim.InsuredFirstName)
        </td>

        <td width="20%">*Insured Last Name
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.InsuredLastName)
        </td>

    </tr>
    <tr>
        <td>*Insured Address 1
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.InsuredAddress1, new { @id="txtInsuredAddress1" })

        </td>

        <td>
        </td>
        <td>

           

        </td>

    </tr>
     <tr>
        <td>Insured Address 2
        </td>
        <td>
             @Html.TextBoxFor(model => model.Claim.InsuredAddress2, new { @id="txtInsuredAddress2" })
            

        </td>

        <td>Insured Home Phone
        </td>
        <td>
             @Html.TextBoxFor(model => model.Claim.InsuredHomePhone, new { id = "HomePhone" })
            

        </td>

    </tr>
     <tr>
        <td>*Insured Zip
        </td>
        <td>
             @Html.TextBoxFor(model => model.Claim.InsuredZip, new { @id = "txtInsuredZip", @onblur = "populateZipData('txtInsuredZip','ddlInsuredState','txtInsuredCity')" })
          

        </td>

       <td>Insured Mobile Phone
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Claim.InsuredMobilePhone, new { id = "MobilePhone" })
                   

                </td>

    </tr>
     <tr>
        <td>*Insured State
        </td>
        <td>
             @Html.DropDownListFor(model => model.Claim.InsuredState, Model.InsuredStateList, new { style = "width: 170px;", @id = "ddlInsuredState" })
          

        </td>

       <td>Insured Business Phone
    </td>
    <td>
         @Html.TextBoxFor(model => model.Claim.InsuredBusinessPhone, new { id = "BusinessPhone" })
        
    </td>

    </tr>
      <tr>
        <td>*Insured City
        </td>
        <td>
              @Html.TextBoxFor(model => model.Claim.InsuredCity, new { @id = "txtInsuredCity" })
          

        </td>

        <td>
               Insured Email </td>
                <td>
                      @Html.TextBoxFor(model => model.Claim.InsuredEmail)
                   
                </td>

    </tr>
   
          
</table>*@