﻿@model BLL.ViewModels.AutoAssignmentViewModel

@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-blue-hoki"></i>
            <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Insured Information</span>
        </div>
        <div class="tools">
            <a href="" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        @*<form action="#" class="form-horizontal">*@
        <div class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Insured First Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.InsuredFirstName, new { @id = "txtInsuredFirstName", @class = "form-control" })
                                @*<input type="text" class="form-control">*@
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Insured Address 1</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.InsuredAddress1, new { @id = "txtInsuredAddress1", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Insured Last Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.InsuredLastName, new { @id = "txtInsuredLastName", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Insured City</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.InsuredCity, new { @id = "txtInsuredCity", @class = "form-control" })
                            </div>
                        </div>
                    </div>



                </div>
                <!--/row-->
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Insured Mobile Phone</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.InsuredMobilePhone, new { id = "txtInsuredMobilePhone", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Insured State</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.claim.InsuredState, Model.InsuredStateList, new { @id = "ddlInsuredState", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Insured Home Phone</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.InsuredHomePhone, new { id = "txtInsuredHomePhone", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Insured Zip</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.InsuredZip, new { @id = "txtInsuredZip", @onblur = "populateZipData('txtInsuredZip','ddlInsuredState','txtInsuredCity')", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Insured Email</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.InsuredEmail, new { id = "txtInsuredEmail", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            @*<label class="control-label col-md-4">Insured Zip</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.InsuredZip, new { @id = "txtInsuredZip", @onblur = "populateZipData('txtInsuredZip','ddlInsuredState','txtInsuredCity')", @class = "form-control" })
                            </div>*@
                        </div>
                    </div>
                </div>
                </div>
            </div>
        @*</form>*@
        <!-- END FORM-->
        <!-- END FORM-->
    </div>
</div>


<table width="100%">
    <tr>
        <td colspan="4" class="subHeading"></td>
    </tr>
    <tr>
        <td width="20%"></td>
        <td width="25%"></td>
        <td width="20%"></td>
        <td width="25%"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>