﻿@using CSS
@using BLL
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <title>@ViewBag.Title</title>
     @*<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/kendo.common.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/kendo.default.min.css")">
    @*     <script src="@Url.Content("~/Scripts/jquery.min.js")"></script> *@
    <script src="@Url.Content("~/Scripts/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo.all.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/PageBody.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.editable-select.css")" rel="stylesheet" type="text/css" />
    

    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

            .dropdown-content option {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content option:hover {
                    background-color: #f1f1f1;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
    <script type="text/javascript">
        function BindQuickSearch() {
            debugger;
            var QuickSearchType = 0;

            var element = document.getElementById('QuickSearchType');
            var isNumber = "";
            var isQuicktype = "";
            @{
            if (TempData["tmpNumber"] != null && TempData["tmpQuickSearchtype"] != null)
          {
              @:isNumber = '@TempData["tmpNumber"].ToString()';
                                         @:isQuicktype = '@TempData["tmpQuickSearchtype"].ToString()';
                    }
            }
            if (isNumber != "" && isQuicktype != "") {
                $("#ddlQuickSearch").val(isNumber);
                $("#QuickSearchType").val(isQuicktype);
            }


            if (typeof (element) != 'undefined' && element != null) {
                QuickSearchType = document.getElementById('QuickSearchType').value;
                //QuickSearchType = $("#QuickSearchType option:selected").text();

                $.ajax
                 ({
                     //url: "../PropertyAssignment/BindQuickSearchList?QuickSearchType=" + QuickSearchType,
                     url: '@Url.Action("BindQuickSearchList", "PropertyAssignment")',
                     type: 'POST',
                     dataType: 'json',
                     traditional: true,
                     timeout: 0,
                     async: false,
                     data: { QuickSearchType: QuickSearchType },
                     success: function (result) {
                         for (var i = 0; i < result.length; i++) {
                             $("#ddlQuickSearch").append('<option>' + result[i] + '</option>');
                         }
                         $('#ddlQuickSearch').editableSelect({ filter: false });

                         if (isNumber != "") {
                             $("#ddlQuickSearch").val(isNumber);
                         }

                     },
                     error: function (x, e) {
                         alert(e + x);
                     }
                 });
            }

        }

        function BeginbindQuickSearch() {
            debugger;
            var QuickSearchType = 0;

            var element = document.getElementById('QuickSearchType');


            if (typeof (element) != 'undefined' && element != null) {
                QuickSearchType = document.getElementById('QuickSearchType').value;
                //QuickSearchType = $("#QuickSearchType option:selected").text();

                $.ajax
                 ({
                     //url: "../PropertyAssignment/BindQuickSearchList?QuickSearchType=" + QuickSearchType,
                     url: '@Url.Action("BindQuickSearchList", "PropertyAssignment")',
                     type: 'POST',
                     dataType: 'json',
                     traditional: true,
                     timeout: 0,
                     async: false,
                     data: { QuickSearchType: QuickSearchType },
                     success: function (result) {
                         for (var i = 0; i < result.length; i++) {
                             $("#ddlQuickSearch").append('<option>' + result[i] + '</option>');
                         }
                         $('#ddlQuickSearch').editableSelect({ filter: false });



                     },
                     error: function (x, e) {
                         alert(e + x);
                     }
                 });
            }

        }
        function Redirect() {
            var hdnRedirect = document.getElementById("hdnRedirect");
            if (hdnRedirect.value == 1) {
                window.location.assign = "@Url.Action("Logout", "Account")";
            }
        }
        function CheckForLoadEvent() {
            if (window.ExecuteOnLoad != null)
                window.ExecuteOnLoad();
        }
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
        });
        function CallQuickClaimSearch() {
            //alert(document.getElementById('ddlQuickSearch').value);
            debugger;
            var QuickSearchType = 0;


            // QuickSearchType = document.getElementById('QuickSearchType').value;

            if (document.getElementById('ddlQuickSearch').value == "") {
                alert('Please enter in the textbox.');
                return false;
            }
            else {

                var Number = document.getElementById('ddlQuickSearch').value;
                var QuickSearchType = document.getElementById('QuickSearchType').value;


                @{
                @*TempData["tmpQuickSearchtype"]=@:QuickSearchType;
                TempData["tmpNumber"]=@:Number;*@

                @*int v1 = 0;
                         <text> @TempData["tmpNumber"]=Number</text>;
                 <text> @TempData["tmpQuickSearchtype"]=QuickSearchType</text>;*@
            }

                var SearchUrl = '@Url.Action("QuickSearch", "PropertyAssignment")';
                SearchUrl = SearchUrl + "?QuickSearchType=" + QuickSearchType;
                SearchUrl = SearchUrl + "&Number=" + Number;
                window.location.href = SearchUrl;


                @*$.ajax
            ({

                url: '@Url.Action("QuickSearch", "PropertyAssignment")',
                type: 'POST',
                dataType: 'json',
                traditional: true,
                timeout: 0,
                async: false,
                data: { QuickSearchType: QuickSearchType, Number: Number },
                success: function (result) {
                    alert("success");
                    $('#QuickSearchType').val(QuickSearchType);
                    $('#ddlQuickSearch').val(Number);
                }

            });*@

                @*@*var Number = document.getElementById('ddlQuickSearch').value;
            var QuickSearchType = document.getElementById('QuickSearchType').value;
            $.ajax
            ({
                //url: "../PropertyAssignment/ClaimExist?Number=" + Number + "&QuickSearchType=" + QuickSearchType,
                url: '@Url.Action("ClaimExist", "PropertyAssignment")',
                    type: 'POST',
                    dataType: 'json',
                    traditional: true,
                    timeout: 0,
                    async: false,
                    data: { Number: Number, QuickSearchType: QuickSearchType },
                    success: function (result) {
                        if (result.resultDisplay) {


                            var SearchUrl = '@Url.Action("QuickSearch", "PropertyAssignment")';
                            SearchUrl = SearchUrl + "?QuickSearchType=" + QuickSearchType;
                            SearchUrl = SearchUrl + "&Number=" + Number;
                            window.location.href = SearchUrl;


                            @*window.location.href = "../PropertyAssignment/Details?claimid=" + result.ClaimIdNo;*@

                @*var SearchUrl = '@Url.Action("Search", "PropertyAssignment")';
                        SearchUrl = SearchUrl + "?claimid=" + result.ClaimIdNo;
                        window.location.href = SearchUrl;*@

                @*var url;
                            @{
                               Int64 claimid=@:result.ClaimIdNo;
                              @:url=  Url.Action("Details", "PropertyAssignment",new{claimid=claimid});
                                                        }
                            window.location.href =url;*@
                //        }
                //        else {
                //            if (result.QuickSearchTypes==0)
                //            {
                //                //alert('This Claim Number does not exist.');
                //            }
                //            else if (result.QuickSearchTypes == 1)
                //            {
                //                alert('This Policy Number does not exist.');
                //            }
                //            else if (result.QuickSearchTypes == 2) {
                //                alert('This Invoice Number does not exist.');
                //            }
                //            else if (result.QuickSearchTypes == 3) {
                //                alert('This Insured Name does not exist.');
                //            }

                //            document.getElementById('ddlQuickSearch').value = "";
                //        }
                //    },
                //    error: function (x, e) {
                //        alert(e + x);
                //    }
                //});

            }
            return false;
        }
        $(document).ready(function () {

            // $('#QuickSearchType').editableSelect({ filter: false });
            //$('#QuickSearchType').val(0);
            BindQuickSearch();

        });
        function callSearchcriteria() {
            debugger;
            if ($('#QuickSearchType').val() == 'Claim Number' || $('#QuickSearchType').val() == 'Invoice Number' || $('#QuickSearchType').val() == 'Policy Number' || $('#QuickSearchType').val() == 'Insured Name') {
                BindQuickSearch();
            }
        }
    </script>
</head>
<body onload="CheckForLoadEvent()">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="bannerBG">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left" width="100%">
                            &nbsp;&nbsp;&nbsp;&nbsp;<img src="@Url.Content("~/Content/Images/CSSLogo03.png")" alt="Choice Solutions Service, Inc." />
                        </td>
                        <td valign="top" style="padding-right: 5px;">

                            <span id="siteseal">
                                @*<script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=DOUQ67WHqLM5QlOiKre1oOwIVWhQFq81SjDp2Yta3fbftcxU6Cv5z"></script>*@
                            </span>
                        </td>
                        <td align="right" valign="top" style="padding-right: 20px;">
                            <table class="loginBar">
                                <tr>

                                    @{
                                        if (loggedInUser != null)
                                        {
                                            <td align="right" nowrap="nowrap">

                                                @Html.ActionLink("My Profile", "Submit", "ServiceProviderRegistration", new { id = Cypher.EncryptString(loggedInUser.UserId.ToString()) }, new { })
                                                @*@Html.ActionLink("My Profile", "Submit", "ServiceProviderRegistration", new { id = loggedInUser.UserId }, new { })*@


                                                |
                                            </td>



                                        }


                                    }
                                    <td nowrap="nowrap" align="left">

                                        @{
                                            if (HttpContext.Current.User.Identity.Name == String.Empty)
                                            {

                                                @Html.ActionLink("Login", "Login", "Account")

                                            }
                                            else
                                            {
                                                <div style="display: inline;">
                                                    (@HttpContext.Current.User.Identity.Name) @Html.ActionLink("Logout", "Logout", "Account")
                                                </div>
                                            }
                                        }
                                    </td>
                                </tr>
                            </table>
                            <table valign="bottom">

                                <tr>
                                    @{
                                        if (loggedInUser != null)
                                        {
                                            <td>
                                                <select id="QuickSearchType" style="width: 150px;" onchange="BeginbindQuickSearch()">
                                                    <option value="0">Claim Number</option>
                                                    <option value="1">Policy Number</option>
                                                    <option value="2">Invoice Number</option>
                                                    <option value="3">Insured Name</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select id="ddlQuickSearch" style="width: 150px;">
                                                    @*<option>Alfa Romeo</option>
                                                        <option>Audi</option>
                                                        <option>BMW</option>
                                                        <option>Citroen</option>
                                                        <option>Fiat</option>
                                                        <option>Ford</option>
                                                        <option>Jaguar</option>*@
                                                </select>

                                            </td>

                                            <td>
                                                <input type="button" value="Search" id="btnQuickClaimSearch" onclick="return CallQuickClaimSearch()" class="buttonYellow_100" />
                                            </td>
                                        }
                                    }
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <table align="center" width="1100px" cellpadding="0" cellspacing="0"
                       border="0" class="pageBorder" style="border-top: 0px !important;">
                    <tr>
                        <td bgcolor="#46B0EE">
                            <table class="navbar" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td nowrap="nowrap" valign="middle">
                                        <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                    </td>
                                    <td nowrap="nowrap" valign="middle">
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        @Html.ActionLink("Home", "Index", "Home")&nbsp;&nbsp;&nbsp;

                                        &nbsp;
                                    </td>
                                    @*  <td nowrap="nowrap" valign="middle">
                                        <img src= "@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" /></td>  *@


                                    <td nowrap="nowrap">
                                        <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                    </td>
                                    @{
                                        if (loggedInUser != null)
                                        {
                                            bool hasQAAgentRights = loggedInUser.AssignedRights.Where(x => x == 1).ToList().Count == 1 ? true : false; //SPX/Examiner

                                            if (loggedInUser.UserTypeId == 2)
                                            {
                                                <td nowrap="nowrap">
                                                    &nbsp;&nbsp;
                                                    @Html.ActionLink("Service Providers", "Search", "ServiceProviders")
                                                    &nbsp;&nbsp; &nbsp;

                                                </td>

                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />

                                                </td>
                                            }
                                            if (loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 8 || loggedInUser.UserTypeId == 11)
                                            {
                                                <td>
                                                    <div id='cssmenu' class="cssmenu" style="margin-left: -40px;">
                                                        <ul>
                                                            <li class='active has-sub '>
                                                                <a onclick="return true"><span>Claims/PropertyAssignments</span></a>
                                                                <ul>
                                                                    @if (loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 11)
                                                                    {
                                                                        <li>@Html.ActionLink("Create Assignment", "PropertyAssignment", "PropertyAssignment")</li>
                                                                    }
                                                                    @if (loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 8 || loggedInUser.UserTypeId == 11)
                                                                    {
                                                                        <li>@Html.ActionLink("Search Assignments", "Search", "PropertyAssignment", new { @type = "General" }, null)</li>
                                                                    }
                                                                    @if (loggedInUser.UserTypeId == 2 || loggedInUser.AssignedRights.Contains((byte)2))
                                                                    {
                                                                        <li>@Html.ActionLink("Dispatch SP Assignments", "Search", "SPMapSearch")</li>
                                                                    }
                                                                    @if (loggedInUser.UserTypeId == 2)
                                                                    {
                                                                        <li>@Html.ActionLink("Import Claims", "ClaimImport", "ClaimImport")</li>
                                                                        <li>@Html.ActionLink("Batch Payments", "BatchPayment", "BatchPayments")</li>
                                                                    }
                                                                    @*<li>@Html.ActionLink("Search Claims", "List", "ClaimsSearch")</li>
                                                                        <li><a href="#">Search Claims</a></li>*@
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>


                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />

                                                </td>

                                            }

                                            //Auto Assignment tab added on 8/5/2016
                                            
                                            if (loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 8 || loggedInUser.UserTypeId == 11)
                                            {
                                                <td>
                                                    <div id='cssmenu' class="cssmenu" style="margin-left: -40px;">
                                                        <ul>
                                                            <li class='active has-sub '>
                                                                <a onclick="return true"><span>Claims/AutoAssignments</span></a>
                                                                <ul>
                                                                    @if (loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 11)
                                                                    {
                                                                        <li>@Html.ActionLink("Create Auto Assignment", "AutoAssignment", "AutoAssignment")</li>
                                                                    }
                                                                    @if (loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 8 || loggedInUser.UserTypeId == 11)
                                                                    {
                                                                        <li>@Html.ActionLink("Search Auto Assignments", "AutoSearch", "AutoAssignment", new { @type = "General" }, null)</li>
                                                                    }
                                                                    @if (loggedInUser.UserTypeId == 2 || loggedInUser.AssignedRights.Contains((byte)2))
                                                                    {
                                                                        //<li>@Html.ActionLink("Dispatch SP Assignments", "Search", "SPMapSearch")</li>
                                                                    }
                                                                    @if (loggedInUser.UserTypeId == 2)
                                                                    {
                                                                        //<li>@Html.ActionLink("Import Claims", "ClaimImport", "ClaimImport")</li>
                                                                        //<li>@Html.ActionLink("Batch Payments", "BatchPayment", "BatchPayments")</li>
                                                                    }
                                                                    @*<li>@Html.ActionLink("Search Claims", "List", "ClaimsSearch")</li>
                                                                        <li><a href="#">Search Claims</a></li>*@
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>


                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />

                                                </td>

                                            }

                                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || hasQAAgentRights)
                                            {
                                                <td nowrap="nowrap">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    @Html.ActionLink("Review Queue", "QAAgentReviewQueue", "PropertyAssignment")&nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>


                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                                </td>


                                            }

                                            if (loggedInUser.UserTypeId == 2)
                                            {
                                                <td>

                                                    <div id="cssmenuInsuranceSetup" class="cssmenu" style="margin-left: -40px;">
                                                        <ul>
                                                            <li class='active has-sub '>
                                                                <a><span>&nbsp;&nbsp;&nbsp;&nbsp;Companies&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                                <ul>
                                                                    <li>@Html.ActionLink("Create Insurance Company", "submit", "InsuranceSetUp")</li>
                                                                    <li>@Html.ActionLink("Search Company", "CompaniesList", "InsuranceSetUp")</li>
                                                                    <li>@Html.ActionLink("Search ClientPOC", "ClientPOCList", "InsuranceSetUp")</li>

                                                                    <li>@Html.ActionLink("Manage Policies", "Index", "PolicySections")</li>

                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />


                                                </td>
                                            }
                                            if (loggedInUser.UserTypeId == 1 || loggedInUser.UserTypeId == 2)
                                            {
                                                <td>

                                                    <div id="cssmenuReport" class="cssmenu" style="margin-left: -40px;">
                                                        <ul>
                                                            <li class='active has-sub '>
                                                                <a><span>&nbsp;&nbsp;&nbsp;&nbsp;Reports&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                                <ul>

                                                                    @if (loggedInUser.UserTypeId == 2)
                                                                    {
                                                                        @*<li>@Html.ActionLink("Claims Report", "ClaimsReport", "Reporting")</li>
                                                                            <li>@Html.ActionLink("Expense Commission Report", "ExpenseCommissionReport", "Reporting")</li>*@
                                                                        <li>@Html.ActionLink("Rejected Claims Report", "RejectedClaimsReport", "Reporting")</li>
                                                                        <li>@Html.ActionLink("Payroll Summary Report", "PayrollSummaryReport", "Reporting")</li>
                                                                    }
                                                                    @if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 1)
                                                                    {
                                                                        <li>@Html.ActionLink("Payroll History Report", "ProcessedPayrollReport", "Reporting")</li>
                                                                    }
                                                                    @if (loggedInUser.UserTypeId == 2)
                                                                    {
                                                                        <li>@Html.ActionLink("AR Report", "ARReport", "Reporting")</li>
                                                                        <li>@Html.ActionLink("New AR Report", "ARReportSimple", "Reporting")</li>
                                                                        <li>@Html.ActionLink("Executive Summary Report", "ESReport", "Reporting")</li>
                                                                        <li>@Html.ActionLink("Production Report", "ProdReport", "Reporting")</li>
                                                                        <li>@Html.ActionLink("Total Cycle By RCV Report", "TotalCycleByRCVReport", "Reporting")</li>
                                                                        <li>@Html.ActionLink("KPI Report", "KPIReport", "Reporting")</li>
                                                                        <li>@Html.ActionLink("Client Report card", "QuarterlyReport", "Reporting")</li>
                                                                        <li>@Html.ActionLink("SP List by Client/COL", "SPDetailReport", "Reporting")</li>
                                                                        <li>@Html.ActionLink("SP License Expiry Report", "SPLicenseExpiryReport", "Reporting")</li>
                                                                        <li>@Html.ActionLink("Failed Email Report", "FailedEmailReport", "Reporting")</li>
                                                                        @*<li>@Html.ActionLink("SP Payment Summary Report", "SPPaymentSummary", "Reporting")</li>
                                                                            <li>@Html.ActionLink("Notes", "Index", "Notes")</li>
                                                                            <li><a href="#">Notes</a></li>*@
                                                                    }


                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td nowrap="nowrap">
                                                    <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />


                                                </td>
                                            }
                                        }



                                    }

                                    @*                                    @{
                                            if (loggedInUser != null)
                                            {
                                                if (loggedInUser.UserTypeId == 3)
                                                {
                                                      <td>
                                            <div id='cssmenu' class="cssmenu" style="margin-left:-40px;">
                                                <ul>
                                                    <li class='active has-sub '><a><span>Claims/Assignments</span></a>
                                                        <ul>
                                                            <li>@Html.ActionLink("Create Property Assignment", "PropertyAssignment", "PropertyAssignment")</li>
                                                             <li>@Html.ActionLink("Search Assignments", "Search", "PropertyAssignment")</li>

                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                                }
                                            }
                                         }*@



                                    <td nowrap="nowrap" width="100%">&nbsp;</td>
                                    @{
                                        //Register link should be displayed if the user is not logged in and is not on the Registration page
                                        if (loggedInUser == null && ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString() != "Submit" && ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString() != "EmailMarketingSPRegistration")
                                        {
                                            <td nowrap="nowrap">
                                                <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                            </td>
                                            <td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink("Register", "Submit", "ServiceProviderRegistration", new { id = "-1" }, null)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                                        }
                                    }
                                    <td nowrap="nowrap" align="right">
                                        <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                    </td>

                                    <td nowrap="nowrap" align="right">
                                        <img src="@Url.Content("~/Content/Images/NavBarBlueButton_11.gif")" alt="Seperator" />
                                    </td>


                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="White" class="mainContent">
                            <div id="divpagerloading" style="display: none;height:75px;opacity:0.7">
                                <img id="progress_image" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                            </div>
                            @RenderBody()
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#666666" align="center" style="color: White; height: 40px;"
                            valign="middle">
                            @*©2013 Choice Solutions Services, Inc. All Rights Reserved. Server: OPT1.*@
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <input id="hdnRedirect" name="hdnRedirect" type="hidden" value="@(loggedInUser == null && HttpContext.Current.User.Identity.IsAuthenticated == true ? "1" : "0")" />
    <input id="hdnClaimNo" type="hidden" name="hdnClaimNo" />

    @*<script src="@Url.Content("~/Scripts/jquery-latest.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.editable-select.js")" type="text/javascript"></script>*@
</body>
</html>
