﻿
@model BLL.ViewModels.XACTAutoClaimsInfoViewModel
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

<div class="form-body" style="padding: 0px;padding-left: 11px;">
    @*<h5 class="form-section">Owner Information</h5>*@
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Address 1:</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.PropertyAddress1</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign "> Address 2:</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.PropertyAddress2</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign "> Property Access Contact Name:</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.PropertyContactName </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Property Access Contact Phone:</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.PropertyContactPhone</p>
                </div>
            </div>
        </div>
       

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Zip:</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.PropertyZip </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign "> State :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.PropertyState </p>
                </div>
            </div>
        </div>
       
    </div>
    <div class="row">
       
        <div class="col-md-6">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign "> City :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.PropertyCity </p>
                </div>
            </div>
        </div>
    </div>
</div>