﻿@model BLL.ViewModels.PropertyAssignmentViewModel


<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">*Type of Loss  </label>
            <div class="col-md-8">
              @Html.DropDownListFor(model => model.Claim.CauseTypeOfLoss, Model.LossTypesList, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Property Access Contact Name </label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Claim.PropertyContactName, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">*Address 1   </label>
            <div class="col-md-8">
               @Html.TextBoxFor(model => model.Claim.PropertyAddress1, new { @id = "txtPropertyAddress1", @onblur = "copyInsuredToLossOnBlur()", @class = "form-control" })
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Address 2   </label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Claim.PropertyAddress2, new { @id = "txtPropertyAddress2", @onblur = "copyInsuredToLossOnBlur()", @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
  
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Property Access Contact Phone</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Claim.PropertyContactPhone, new { id = "txtPropertyContactPhone", @class = "form-control" })
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">*Loss Date </label>
            <div class="col-md-8">
             
                <div class="input-group input-medium date date-picker" data-date-format="mm-dd-yyyy" data-date-viewmode="years">
                    @*<input type="text" class="form-control" readonly>*@
                    @*@Html.TextBoxFor(model => model.claim.DateofLoss, new { @id = "txtDateofLoss", @class = "form-control" })*@
                    <input type="text" id="txtDateofLoss" name="claim.DateofLoss" value="@Model.Claim.DateofLoss" class="form-control CustomeDateCLS">
                    <span class="input-group-btn">
                        <button class="btn default" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
             </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">*Zip </label>
            <div class="col-md-8">
             @Html.TextBoxFor(model => model.Claim.PropertyZip, new { @id = "txtPropertyZip", @onblur = "populateZipData('txtPropertyZip','ddlPropertyState','txtPropertyCity')", @class = "form-control" })
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">*State </label>
            <div class="col-md-8">
              @Html.DropDownListFor(model => model.Claim.PropertyState, Model.StateList, new {  @id = "ddlPropertyState", @onblur = "copyInsuredToLossOnBlur()", @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">*City </label>
            <div class="col-md-8">
               @Html.TextBoxFor(model => model.Claim.PropertyCity, new { @id = "txtPropertyCity", @onblur = "copyInsuredToLossOnBlur()" ,@class = "form-control" })
            </div>
        </div>
    </div>
 
</div>

@*<table width="100%">
    <tr>
        <td colspan="4" class="subHeading">Loss Information</td>
    </tr>


    <tr>
        <td width="20%">*Type of Loss 
        </td>
        <td width="25%">
            @Html.DropDownListFor(model => model.Claim.CauseTypeOfLoss, Model.LossTypesList, new { style = "width: 170px;" })
        </td>
        <td width="20%">Property Access Contact Name 
        </td>
        <td >
            @Html.TextBoxFor(model => model.Claim.PropertyContactName)
        </td>
    </tr>
    <tr>
        <td>*Address 1 
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.PropertyAddress1, new { @id = "txtPropertyAddress1", @onblur = "copyInsuredToLossOnBlur()" })

        </td>
        <td width="20%">Property Access Contact Phone 
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.PropertyContactPhone, new { id = "txtPropertyContactPhone" })

        </td>
    </tr>
    <tr>
        <td>Address 2
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.PropertyAddress2, new { @id = "txtPropertyAddress2", @onblur = "copyInsuredToLossOnBlur()" })

        </td>
        <td width="20%">*Loss Date 
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.DateofLoss, new { @class = "DatePickerTextBox", @Value = (Model == null || Model.Claim.DateofLoss == null ? string.Empty : Convert.ToDateTime(Model.Claim.DateofLoss).ToString("MM/dd/yyyy")) })

        </td>

    </tr>
    <tr>
        <td>*Zip
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.PropertyZip, new { @id = "txtPropertyZip", @onblur = "populateZipData('txtPropertyZip','ddlPropertyState','txtPropertyCity')" })


        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>*State
        </td>
        <td>
            @Html.DropDownListFor(model => model.Claim.PropertyState, Model.StateList, new { style = "width: 170px;", @id = "ddlPropertyState", @onblur = "copyInsuredToLossOnBlur()" })


        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>*City
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.PropertyCity, new { @id = "txtPropertyCity", @onblur = "copyInsuredToLossOnBlur()" })


        </td>
        <td></td>
        <td></td>
    </tr>

</table>*@
