﻿@using CSS
@model BLL.ViewModels.NuGenAutoAssignmentSearchViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    var lstItems = Model.NuGenAutoAssignmentSearch;
    var isInvoiced = (lstItems.All(x => x.FileStatus == 18) ? true : false);
}

<div class="portlet-body">
    <div class="table-scrollable">
        <table class="table table-hover fontsizefortbl" id="tblAssignments">
            <thead style="background-color: #406E98 !important;color: white;">
                <tr valign="top">
                    <td>Company Name</td>
                    <td>Claim #</td>
                    <td>Insured Name</td>
                    <td>Type</td>
                    <td>IADA SP Name</td>
                    <td>Year</td>
                    <td>Make</td>
                    <td>Model</td>
                    <td>DateOfLoss</td>
                    <td>AssignDate</td>
                    <td>Status</td>
		            @{
                        if (isInvoiced)
                        {
                            <td>
                                <input type="checkbox" id="chkSelectAll" value="Select All" onclick="checkAll(this)"/>Select All
                            </td>
                        }
                    }
                    <td colspan="3" >
                        @if (loggedInUser.UserTypeId == 2) { 
                        <div class="btn-group" style="width: 94px;">
                            <button type="button" class="btn purple">Export</button>
                            <button type="button" class="btn purple dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <input type="submit" class="btn red" style="width: 120px;" value="Excel" id="Excel" name="SubmitButton">
                                </li>
                                <li>
                                    <input type="submit" class="btn yellow" style="width: 120px;" value="CSV" id="CSV" name="SubmitButton">
                                </li>
                                <li>
                                    <input type="submit" class="btn blue" style="width: 120px;" value="pdf" id="pdf" name="submitbutton">
                                </li>
                            </ul>
                        </div>
                        }
                     </td>
                </tr>
            </thead>
            <tbody>
                @{

                    int i = 0;
                    foreach (var item in lstItems)
                    {
                        BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities(); @*INPSW-32*@
                        <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")" valign="top">
                            <td>@item.CompanyName</td>
                            <td>
                                @{
                        if (!String.IsNullOrEmpty(item.ClaimNumber))
                        {
                            @Html.ActionLink(item.ClaimNumber, "NuGenClaimDetails", new { claimid = Cypher.EncryptString(item.ClaimId.ToString()) }, new { onclick = "CallSearch('" + item.ClaimNumber + "')" })
                        }
                                }
                            </td>
                            <td>@item.ReferrerName</td>
                            <td>@item.ReferrerType</td>
                            <td>@item.SPCompanyName</td>
                            <td>@item.Year</td>
                            <td>@item.Make</td>
                            <td>@item.AutoModel</td>
                            <td>@item.DateOfLoss.Value.ToString("MM/dd/yyyy")</td>
                            <td>@item.AutoAssignmentDate.Value.ToString("MM/dd/yyyy")</td>
                            <td>@item.StatusDescription</td>
                     @{
                        if (isInvoiced)
                        {
                            <td>
                                <input type="checkbox" id="chkClaim" value="@item.AutoAssignmentId"/>
                            </td>
                        }
                            }
                            @*INPSW-32*@
                            <td>
                                @{
                        bool displayAssignSPIcon = false;
                        bool displayReAssignSPIcon = false;
                        if (item.SPCompanyName == null || item.SPCompanyName =="")
                        {
                            displayAssignSPIcon = true;
                        }
                        else
                        {
                            //if (claiminfo.OAUserId == 0)
                            //{
                            //    displayAssignSPIcon = true;
                            //}
                            //else
                            //{
                                if (item.FileStatus == 1 || item.FileStatus == 3 || item.FileStatus == 4 || item.FileStatus == 5 || item.FileStatus == 6 || item.FileStatus == 8 || item.FileStatus == 16 ||item.FileStatus == 17)
                                {
                                    displayReAssignSPIcon = true;
                                }
                            //}
                        }
                        if (displayAssignSPIcon)
                        {
                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2) || loggedInUser.UserTypeId == 12)//12 is claimRepManager
                            {

                                <a href="@Url.Action("Search", "SpMapSearch", new { assignmentId = item.AutoAssignmentId, IsInvoiceMgmt = "1" })" style="border: none; color: black; cursor: pointer;float:left;">
                                    <img src="@Url.Content("~/Content/Images/AddUserIcon01.png")" title="Assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                </a>

                            }
                        }
                        else
                        {
                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2) || loggedInUser.UserTypeId == 12)//12 is claimRepManager
                            {
                                if (displayReAssignSPIcon)
                                {
                                    <a href="@Url.Action("Search", "SpMapSearch", new { assignmentId = item.AutoAssignmentId, IsInvoiceMgmt = "1" })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                        <img src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Re-assign Service Provider" width="17" height="15" style="border: none; vertical-align: bottom;padding-right:4px;" />
                                    </a>
                                }

                                System.Data.Objects.ObjectParameter outIsNewInvoiceEnabled = new System.Data.Objects.ObjectParameter("IsNewInvoiceEnabled", System.Data.DbType.Boolean);
                                css.usp_IsNewPropertyInvoiceEnabled(outIsNewInvoiceEnabled, item.AutoAssignmentId);
                                if (Convert.ToBoolean(outIsNewInvoiceEnabled.Value) == true)
                                {
                                    <a href="javascript:;" style="text-decoration:none;border: none; color: black; cursor: pointer;padding-right:4px;" onclick="loadPropertyInvoicePopup('@item.AutoAssignmentId','New','-1')">
                                        <img src="@Url.Content("~/Content/Images/iconMoneyAdd01.png")" title="New Invoice" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                }
                            }
                        }
                                }
                            </td>
                            <td>
                                @if (item.StatusDescription == "Submitted" || item.StatusDescription == "Paid" ||item.PaymentDate != null)
                                {
                                    <a href="javascript:;" style="border: none; color: black; cursor: pointer;float:left;" onclick="InvoiceDocumentViewer(@item.AutoAssignmentId)">
                                        <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Invoice" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                }
                                else
                                {
                                <a href="@Url.Action("NugenInvoiceDetails", "AutoAssignment", new { claimid = Cypher.EncryptString(item.ClaimId.ToString()), IsQBInvoice = true })" style="border: none; color: black; cursor: pointer;float:left;">
                                    <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Invoice" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                </a>
                                }
                            </td>
                            <td>
                                @{
                                    if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3)
                                    {
                                        if (item.ServiceTypeId != 9)
                                        {
                                            //INPSW-32
                                            <a href="@Url.Action("AutoAssignment", "AutoAssignment", new { claimid = item.ClaimId, isNuGenClaims = true, isManualInvoiceClaim = true })" style="border: none;cursor: pointer;float:left;">
                                                <img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("PropertyAssignment", "PropertyAssignment", new { claimid = item.ClaimId, isNuGenClaims = true, isManualInvoiceClaim = true })" style="border: none;cursor: pointer;float:left;">
                                                <img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                            </a>
                                        }

                                    }
                                }
                            </td>
                          <td>
			  @*
    <a style="border: none; color: black; cursor: pointer;float:left;">
        <img src="@Url.Content("~/Content/Images/delete_icon.gif")" title="Cancel" width="15" height="15" style="border: none; vertical-align: bottom;" />
    </a>*@
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>


        <div class="table-scrollable" style="margin:0px 0 !important">
            @Html.Partial("_Pager", Model.Pager)
        </div>

    </div>
</div>
@*Inv Doc View*@
<div id="InvDocViewer" class="modal modal-wide fade in" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style=" width: 70%;">
        <div class="modal-content">
            <div>
                <div class="modal-header modalHead" style="background-color: #406E98 !important; color: white !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Invoice Document Viewer</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:700px; margin-left: -20px; margin-right: -20px; " data-always-visible="1" data-rail-visible1="1">
                        <div class="col-md-12 col-sm-12">
                            <div id="divInvDocumentViewer">
                                <div class="col-md-12" id="divdocview">
                                    <div class="holds-the-iframe">
                                        <iframe id="ifrmDoc" src="" style="width:100%; height:800px;" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline" id="btnCloseDocument" onclick="ClearPopupData();">Close</button>
                </div>*@
        </div>
    </div>
</div>
<script type="text/javascript">
    function checkAll(obj) {
     
        var cbs = document.getElementsByTagName('input');
        for (var i = 0; i < cbs.length; i++) {
            if (cbs[i].type == 'checkbox') {
                cbs[i].checked = obj.checked;
            }
        }
    }
    function InvoiceDocumentViewer(assignmentID) {
      @*$.ajax({
          url: '@Url.Action("InvoiceDocumentViewer", "AutoAssignment")',
          async: false,
          type: "POST",
          data: { assignmentID: assignmentID },

          success: function (data) {
              $("#divInvDocumentViewer").html(data);
              $("#InvDocViewer").modal("show");
          },
          fail: function (data) {

          }
      });*@
       try {

         var url = '@Url.Action("GetFirstInvoiceDocument", "AutoAssignment")' + '?Assignmentid=' + assignmentID;
        $("#ifrmDoc").attr("src", url);
        $("#InvDocViewer").modal("show");
    }
        catch (err) {

    }
    }
   
</script>
