﻿@model BLL.ViewModels.NuGenPricingScheduleViewModel

<style>
    .tblInvoiceDetails {
        font-weight: 600;
    }

    .whitespacewrap {
        white-space: nowrap;
    }

    input:not([type]), input[type="text"]
    {
        border: 1px solid #c2cad8;
    }

    
</style>
@*<script src="~/Scripts/jquery-1.8.0.min.js"></script>*@
@{
    //Set control conditions
    bool _isTimeExpense, _lobHasBaseServiceCharge;
    _isTimeExpense = Model.LOBPricingDetail.IsTimeNExpance.HasValue ? Model.LOBPricingDetail.IsTimeNExpance.HasValue : false;
    _lobHasBaseServiceCharge = !_isTimeExpense && Model.LOBPricingDetail.BaseServiceFee != null ? true : false;
    bool isSbmitted = Model.AutoInvoiceDetails.FileStatus == 19 ? true : false;
}
<script>
    var flag = true;
    function ValidateInvoiceform()
    {
        debugger;    
        flag = true;
        ChkServiceType();
        ChkLOB();
        if (flag == true)
        {
            document.getElementById("hdn_chkbuttonStatus").value = "Submit";
            document.getElementById("SUBMIT2").disabled = true;
            document.getElementById("SUBMIT1").disabled = true;
            document.getElementById("frmNugenInvoiceInsert").submit();
        }
        return flag;
    }
    function ChkLOB()
    {
        var LOBid = document.getElementById("pricingLineofBusinessId").value;
        if(LOBid == 0)
        {
            alert("Please select LOB.")
            flag = false;
        }
       
    }
    function ChkServiceType()
    {
        var Serviceid = document.getElementById("pricingServiceTypeId").value;
        if (Serviceid == 0) {
            alert("Please select Type Of Service.")
            flag = false;
        }

    }
</script>

@using (Html.BeginForm("NugenInvoiceDetails", "AutoAssignment", FormMethod.Post, new { Id = "frmNugenInvoiceInsert" }))
{
    <input type="hidden" name="SubmitStatus" id="hdn_chkbuttonStatus" />
    <div style="left: 50%; top: 50%; z-index: 9999; position: absolute; background: white; ">
        <img id="loadinglist" src="@Url.Content("~/Content/Images/spinner.gif")" width="150" height="150" style="left:50%; top:50%; display:none" />
    </div>


      <div class="portlet box Cportletbox">
        <div class="portlet-title">
            <div class="caption"><i class="fa fa-cogs"></i>Invoice Details</div>
        </div>
        <div class="portlet-body" style="background-color: #f5f5f5;">            
            <table width="100%" style="margin-bottom: 1%;">
                <tr>
                    <td class="footer" align="right">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="left" style="color:red;font-weight:600;">@ViewBag.Message</td>
                                <td align="right">
                                    @{
    if (Model.AutoInvoiceDetails.FileStatus != 19) 
    {
        if (@ViewBag.Message == null)
        {
            <input type="submit" id="SUBMIT2" name="SubmitButton" class="btn btn-primary" value="Submit" onclick="return ValidateInvoiceform()" style="background-color: #497bbb;" />
        }
        else
        {
            <input type="submit" id="SUBMIT2" name="SubmitButton" class="btn btn-primary" value="Submit" disabled="disabled" style="background-color: #497bbb;" />

        }

    }
    if (Model.IsQBInvoice)
    {
                                            <input type="button" id="htrBtnBack" name="CancelButton" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("InvoiceAutoSearch", "AutoAssignment", new { reviewType = TempData.Peek("reviewType")})'" />
                                        }
                                        else
                                        {
                                            <input type="button" id="htrBtnBack" name="CancelButton" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("AutoSearch", "AutoAssignment", new { reviewType = TempData.Peek("reviewType")})'" />
                                        }
                                    }
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <div class="note note-info" style="height:100px; background-color: #EDF7FB;margin-bottom: 10px;">
                <table id="tblInvoiceDetails">
                    <tbody>
                        <tr>
                            <td class="col-md-3 tblInvoiceDetails">Company Name:</td>
                            <td class="col-md-3">@Model.NuGenClaimDetailResult.CompanyName</td>
                            <td class="col-md-3 tblInvoiceDetails">Service Provider: </td>
                            <td class="col-md-3">@Model.NuGenClaimDetailResult.SPCompany</td>
                        </tr>
                        <tr>
                            <td class="col-md-3 tblInvoiceDetails">Claim Number:</td>
                            <td class="col-md-3">@Model.NuGenClaimDetailResult.ClaimNumber</td>
                            <td class="col-md-3 tblInvoiceDetails">Vehicle Year-Make-Model:</td>
                            <td class="col-md-3">@Model.NuGenClaimDetailResult.VehicleYrMkMdl</td>
                        </tr>
                        <tr>
                            <td class="col-md-3 tblInvoiceDetails">Insured/Claimant Name:</td>
                            <td class="col-md-3">@Model.NuGenClaimDetailResult.ReferrerName</td>
                            <td class="col-md-3 tblInvoiceDetails">Vehicle Identification Number:</td>
                            <td class="col-md-3">@Model.NuGenClaimDetailResult.VIN</td>
                            @*<td class="col-md-3 tblInvoiceDetails">Vehicle Plate #</td>
                            <td class="col-md-3">@Model.NuGenClaimDetailResult.LicensePlate</td>*@
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-blue-hoki"></i>
                        <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Invoice Details</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div ng-class="CntrlMD">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Type Of Service:</label>
                                        <div class="col-md-3">
                                           
                                            @Html.DropDownListFor(m => m.pricingServiceTypeId, Model.ServiceTypesList, new { @class = "form-control", @*disabled = "disabled",*@ onchange = "$('#frmNugenInvoiceInsert').submit()"})
                                            @Html.HiddenFor(m => m.pricingServiceTypeId)
                                        </div>
                                        @*INPSW-40*@
                                        <label class="control-label col-md-2">Invoice Number:</label>
                                        <div class="col-md-2">
                                            @Html.TextBoxFor(m => m.SpInvoiceNumber, new { @class = "form-control" })
                                        </div>  
                                        @{
                                            
                                           if (!string.IsNullOrEmpty(Model.pricingSPReferenceInvoiceNo))
                                           { 
                                                <label class="control-label col-md-2 whitespacewrap">SP Reference/Invoice #:</label>
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.pricingSPReferenceInvoiceNo, new { @class = "form-control" })
                                                </div>
                                           }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-class="CntrlMD">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">LOB:</label>
                                        <div class="col-md-3">
                                            @*@Html.DropDownList("LineofBusinessList", Model.LineofBusinessList, new { @class = "form-control", onchange = "$('#frmNugenInvoiceInsert').submit()" })*@
                                            @Html.DropDownListFor(m => m.pricingLineofBusinessId, Model.LineofBusinessList, new { @class = "form-control" })
                                        </div>  
                                        <label class="control-label col-md-2">Preferred Estimate Amount:</label>
                                        <div class="col-md-2">
                                            @Html.TextBoxFor(m => m.AutoInvoiceDetails.RCV, Model.AutoInvoiceDetails.RCV.HasValue ? Model.AutoInvoiceDetails.RCV.Value.ToString("N2") : "", new { @class = "form-control" })
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-class="CntrlMD">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Base Service Charge:</label>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa  fa-dollar"></i></span>
                                                @if (_isTimeExpense)
                                                {
                                                    @Html.TextBox("BaseServicesCharges",0, new { @class = "form-control", @readonly = "readonly" })
                                                }
                                                else
                                                {
                                                    @Html.TextBox("BaseServicesCharges",0, new { @class = "form-control", @readonly = "readonly" })
                                                }
                                            </div>
                                        </div>
                                        <label class="control-label col-md-2 col-md-push-1">RCV Reduction:</label>
                                        <div class="col-md-2 col-md-push-1">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa  fa-dollar"></i></span>
                                                @if (_isTimeExpense)
                                                {
                                                    @Html.TextBoxFor(m => m.AutoInvoiceDetails.MFReduction, Model.AutoInvoiceDetails.MFReduction.HasValue ? Model.AutoInvoiceDetails.MFReduction.Value.ToString("N2") : "", new { @class = "form-control" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.AutoInvoiceDetails.MFReduction, Model.AutoInvoiceDetails.MFReduction.HasValue ? Model.AutoInvoiceDetails.MFReduction.Value.ToString("N2") : "", new { @class = "form-control" })
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                            <div class="row">
                                <div ng-class="CntrlMD">
                                    <div class="form-group">
                                        <label class="control-label col-md-2"># of Hours: </label>
                                        <div class="col-md-1">
                                            @if (_lobHasBaseServiceCharge)
                                            {
                                                @Html.TextBoxFor(m => m.AutoInvoiceDetails.TE1NoOfHours, new { @class = "form-control", @readonly = "readonly" })                                           
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.AutoInvoiceDetails.TE1NoOfHours, new { @class = "form-control" })                                            
                                            }
                                        </div>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa  fa-dollar"></i></span>
                                                @if (_lobHasBaseServiceCharge)
                                                {
                                                    @Html.TextBoxFor(m => m.AutoInvoiceDetails.TE1SPHourlyRate, Model.AutoInvoiceDetails.TE1SPHourlyRate.HasValue ? Model.AutoInvoiceDetails.TE1SPHourlyRate.Value.ToString("N2") : "", new { @class = "form-control", placeholder = "Hourly Rate", @readonly = "readonly", title = "Hourly Rate" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.AutoInvoiceDetails.TE1SPHourlyRate, Model.AutoInvoiceDetails.TE1SPHourlyRate.HasValue ? Model.AutoInvoiceDetails.TE1SPHourlyRate.Value.ToString("N2") : "", new { @class = "form-control", placeholder = "Hourly Rate", @readonly = "readonly", title = "Hourly Rate" })
                                                }
                                                    
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa  fa-dollar"></i></span>
                                                @if (_lobHasBaseServiceCharge)
                                                {

                                                    @Html.TextBoxFor(m => m.AutoInvoiceDetails.TotalHourCalculated, Model.AutoInvoiceDetails.TotalHourCalculated.HasValue ? Model.AutoInvoiceDetails.TotalHourCalculated.Value.ToString("N2") : "", new { @class = "form-control", placeholder = "Hourly Rate", @readonly = "readonly", title = "Hourly Rate" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.AutoInvoiceDetails.TotalHourCalculated, Model.AutoInvoiceDetails.TotalHourCalculated.HasValue ? Model.AutoInvoiceDetails.TotalHourCalculated.Value.ToString("N2") : "", new { @class = "form-control", placeholder = "Calculated", @readonly = "readonly", title = "Calculated" })
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-class="CntrlMD">
                                    <div class="form-group">
                                        <label class="control-label col-md-2"># of Miles: </label>
                                        <div class="col-md-1">
                                            @Html.TextBoxFor(m => m.AutoInvoiceDetails.ActualMiles, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.TextBoxFor(m => m.AutoInvoiceDetails.IncludedMiles, new { @class = "form-control", @readonly = "readonly", placeholder = "Free Miles", title = "Free Miles" })
                                        </div>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa  fa-dollar"></i></span>
                                                @Html.TextBoxFor(m => m.AutoInvoiceDetails.MileageCharges, Model.AutoInvoiceDetails.MileageCharges.HasValue ? Model.AutoInvoiceDetails.MileageCharges.Value.ToString("N2") : "", new { @class = "form-control", @readonly = "readonly", placeholder = "$ Per Mile", title = "$ Per Mile" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa  fa-dollar"></i></span>
                                                @Html.TextBoxFor(m => m.AutoInvoiceDetails.TotalMileage, Model.AutoInvoiceDetails.TotalMileage.HasValue ? Model.AutoInvoiceDetails.TotalMileage.Value.ToString("N2") : "", new { @class = "form-control", @readonly = "readonly", placeholder = "Calculated", title = "Calculated" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-class="CntrlMD">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Total Loss:</label>
                                        <div class="col-md-2">
                                            @Html.DropDownListFor(m => m.pricingIsTotalLoss, Model.TotalLossList, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa  fa-dollar"></i></span>
                                                @Html.TextBoxFor(m => m.AutoInvoiceDetails.TotalLossFee, Model.AutoInvoiceDetails.TotalLossFee.HasValue ? Model.AutoInvoiceDetails.TotalLossFee.Value.ToString("N2") : "", new { @class = "form-control", placeholder = "Total Loss Fee", @readonly = "readonly", title = "Total Loss Fee" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div ng-class="CntrlMD">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Miscellaneous</label>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa  fa-dollar"></i></span>
                                                @Html.TextBoxFor(m => m.AutoInvoiceDetails.Misc, Model.AutoInvoiceDetails.Misc.HasValue ? Model.AutoInvoiceDetails.Misc.Value.ToString("N2") : "", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-class="CntrlMD">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Misc. Comment:</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(m => m.AutoInvoiceDetails.MiscComment, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-class="CntrlMD">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Services:</label>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa  fa-dollar"></i></span>

                                                @Html.TextBoxFor(m => m.AutoInvoiceDetails.ServicesCharges, Model.AutoInvoiceDetails.ServicesCharges.HasValue ? Model.AutoInvoiceDetails.ServicesCharges.Value.ToString("N2") : "", new { @class = "form-control", @readonly = "readonly" })

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-class="CntrlMD">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Sales Tax %:</label>
                                        <div class="col-md-1">
                                            @Html.TextBoxFor(m => m.AutoInvoiceDetails.SalesCharges, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-class="CntrlMD">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Sales Tax Amount:</label>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa  fa-dollar"></i></span>
                                                @Html.TextBoxFor(m => m.AutoInvoiceDetails.Tax, Model.AutoInvoiceDetails.Tax.HasValue ? Model.AutoInvoiceDetails.Tax.Value.ToString("N2") : "", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                        </div>
                                        <b><label class="control-label col-md-2 whitespacewrap">TOTAL INVOICE AMOUNT:</label></b>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa  fa-dollar"></i></span>
                                                @Html.TextBoxFor(m => m.AutoInvoiceDetails.GrandTotal, Model.AutoInvoiceDetails.GrandTotal.HasValue ? Model.AutoInvoiceDetails.GrandTotal.Value.ToString("N2") : "", new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table width="100%">
                <tr>
                    <td class="footer" align="right">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="left"></td>
                                <td align="right">
                                @{
                                    if (Model.AutoInvoiceDetails.FileStatus != 19 )
                                    {
                                        if (@ViewBag.Message == null)
                                        {
                                            <input type="submit" id="SUBMIT1" name="SubmitButton" class="btn btn-primary" value="Submit" onclick="return ValidateInvoiceform()"  style="background-color: #497bbb;" />
                                        }
                                        else
                                        {
                                            <input type="submit" id="SUBMIT1" name="SubmitButton" class="btn btn-primary"  value="Submit" disabled="disabled" style="background-color: #497bbb;" />

                                        }
                                    }

                                        if (Model.IsQBInvoice)
                                        {
                                            <input type="button" id="htrBtnBack" name="CancelButton" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("InvoiceAutoSearch", "AutoAssignment", new { reviewType = TempData.Peek("reviewType")})'" />
                                        }
                                        else
                                        {
                                            <input type="button" id="htrBtnBack" name="CancelButton" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("AutoSearch", "AutoAssignment", new { reviewType = TempData.Peek("reviewType")})'" />
                                        }
                                    }
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>          
    </div>
    @Html.HiddenFor(m => m.pricingClaimId)
    @Html.Hidden("hdnIsTimeExpense", _isTimeExpense, new { id = "hdnIsTimeExpense" })
    @Html.Hidden("hdnHasServiceBaseFee", _lobHasBaseServiceCharge, new { id = "hdnIsTimeExpense" })
    @Html.Hidden("isSubmitted", isSbmitted, new { id = "isSubmitted" })
    @Html.Hidden("IsQBInvoice", Model.IsQBInvoice, new { id = "IsQBInvoice" })
    <input type="hidden" id="hdnServiceBaseFee" />
}

