﻿@model BLL.ViewModels.AutoAssignmentViewModel

@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

@*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>*@

@*<script type="text/javascript">

        $(document).ready(function () {
            $("#txtOwnerHomePhone").mask("(999) 999-9999");
            $("#txtOwnerBusinessPhone").mask("(999) 999-9999");
            $("#txtOwnerMobilePhone").mask("(999) 999-9999");
            $("#txtOwnerZip").keydown(function (event) {
                // Allow: backspace, delete, tab, escape, and enter
                if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                    // Allow: Ctrl+A
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    // Allow: home, end, left, right
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                else {
                    // Ensure that it is a number and stop the keypress
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                        event.preventDefault();
                    }
                }
            });
        });
    </script>*@



<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-blue-hoki"></i>
            <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Owner Information</span>
        </div>
        <div class="tools">
            <a href="" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        @*<form action="#" class="form-horizontal">*@
        <div class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Owner First Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.OwnerFirstName, new { @id = "txtOwnerFirstName", @class = "form-control" })
                                @*<input type="text" class="form-control">*@
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Owner Address 1</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.OwnerAddress1, new { @id = "txtOwnerAddress1", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Owner Last Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.OwnerLastName, new { @id = "txtOwnerLastName", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Owner City</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.OwnerCity, new { @id = "txtOwnerCity", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    @*<div ng-class="CntrlMD">
                            <div class="form-group">
                                <label class="control-label col-md-4">Owner Home Phone</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.claim.OwnerHomePhone, new { id = "txtOwnerHomePhone", @class = "form-control" })
                                </div>
                            </div>
                        </div>*@
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Owner Mobile Phone</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.OwnerMobilePhone, new { id = "txtOwnerMobilePhone", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Owner State</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.claim.OwnerState, Model.InsuredStateList, new { @id = "ddlOwnerState", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Owner Email</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.OwnerContactEmail, new { id = "txtOwnerContactEmail", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Owner Zip</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.OwnerZip, new { @id = "txtOwnerZip", @onblur = "populateZipData('txtOwnerZip','ddlOwnerState','txtOwnerCity')", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*</form>*@
        <!-- END FORM-->
        <!-- END FORM-->
    </div>
</div>


@*<table width="100%">
        <tr>
            <td colspan="4" class="subHeading">Owner Information</td>
        </tr>
        <tr>
            <td width="20%">
                *Owner First Name
            </td>
            <td width="25%">
                @Html.TextBoxFor(model => model.claim.OwnerFirstName, new { @id = "txtOwnerFirstName" })
            </td>
            <td width="20%">
                Owner Last Name
            </td>
            <td width="25%">
                @Html.TextBoxFor(model => model.claim.OwnerLastName, new { @id = "txtOwnerLastName" })
            </td>
        </tr>
        <tr>
            <td>
                *Owner Address 1
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.OwnerAddress1, new { @id = "txtOwnerAddress1" })
            </td>
            <td>
                Owner Home Phone
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.OwnerHomePhone, new { id = "txtOwnerHomePhone" })
            </td>
        </tr>
        <tr>
            <td>
                *Owner Zip
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.OwnerZip, new { @id = "txtOwnerZip", @onblur = "populateZipData('txtOwnerZip','ddlOwnerState','txtOwnerCity')" })
            </td>
            <td>
                Owner Mobile Phone
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.OwnerMobilePhone, new { id = "txtOwnerMobilePhone" })
            </td>
        </tr>
        <tr>
            <td>
                *Owner State
            </td>
            <td>
                @Html.DropDownListFor(model => model.claim.OwnerState, Model.InsuredStateList, new { style = "width: 190px;", @id = "ddlOwnerState" })
            </td>
            <td>
                Owner Business Phone
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.OwnerBusinessPhone, new { id = "txtOwnerBusinessPhone" })
            </td>
        </tr>
        <tr>
            <td>
                *Owner City
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.OwnerCity, new { @id = "txtOwnerCity" })
            </td>
        </tr>
    </table>*@<table width="100%">
    <tr>
        <td colspan="4" class="subHeading"></td>
    </tr>
    <tr>
        <td width="20%"></td>
        <td width="25%"></td>
        <td width="20%"></td>
        <td width="25%"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>