﻿@model BLL.Models.Pager


<table width="100%">
    <tr>

        <td>
            <style type="text/css">
                .FR
                {
                    float: right;
                }

                .BR
                {
                    float: left;
                }
                .act{
                        background-color: #337ab7 !important;
                        color: white;
                }
            </style>
            <script type="text/javascript">
                function claimPaging(CurrentPage,IsButton) {
                    
                    if(CurrentPage < 0)
                    {
                        CurrentPage = 1;
                    }
                    if(IsButton == "true")
                    { 
                        $('#hdnstartPage').val(CurrentPage);
                    }
                    else
                    {
                        $('#hdnstartPage').val(@Model.FirstPageNo);
                    }
                    $('#hdnCurrentPage').val(CurrentPage);
                    //document.getElementById("formSearch").submit();
                    
                    var isajax =  '@Model.IsAjax';
 

                    if(isajax.toLowerCase() == "true")
                    {
                        var funcname ='@Model.FormName';
                        if(funcname == "ReloadPager")
                        {
                            ReloadPager('@Model.AjaxParam',CurrentPage,$('#hdnstartPage').val());
                        }
                        else if(funcname == "NotesHistoryRF")
                        {
                            //alert('@Model.AjaxParam',$('#hdnstartPage').val(),CurrentPage);
                            NotesHistoryRF('@Model.AjaxParam',$('#hdnstartPage').val(),CurrentPage);
                        }
                        else if(funcname == "ReloadPager")
                        {
                            //alert('@Model.AjaxParam',$('#hdnstartPage').val(),CurrentPage);
                            NotesHistoryRF(CurrentPage,$('#hdnstartPage').val());
                        }
                     }
                    if (isajax.toLowerCase() == "false") {
                        $("#divpagerloading").show();
                        //document.getElementById('@Model.FormName').submit();
                        GetSearchList();
                    }
                    else
                    {
                        if (typeof progressCallBack == 'function') {
                            progressCallBack();
                        }
                        document.getElementById('@Model.FormName').submit();
                    }
                 }
            </script>

            <input type="hidden" id="hdnCurrentPage" name="hdnCurrentPage" />
            <input type="hidden" id="hdnstartPage" name="hdnstartPage" />
            @if (Convert.ToInt16(Model.NoOfPages) > 1)
            {
                <div class="pager" style="vertical-align: middle;">
                    @{
                @*if ((Convert.ToInt16(Model.NoOfPages) > Convert.ToInt16(Model.PageCount)) && (Convert.ToInt16(Model.FirstPageNo) != 1))
                {
                    <input type="button" id="btnFirst" name="btnFirst" value="|<" class="ppn PR" onclick="claimPaging('1','true')" style="float:left;vertical-align:middle;" title="First Page"/>
                }*@
             }
                    <div style="display: inline;">
                        @{
                @*if ((Convert.ToInt16(Model.NoOfPages) > Convert.ToInt16(Model.PageCount)) && (Convert.ToInt16(Model.FirstPageNo) != 1))
                {
                    <input type="button" class="ppn BR" id="btnPrev" name="btnPrev" value="<<" onclick="claimPaging('@(Model.FirstPageNo - Convert.ToInt16(Model.PageCount))    ','true');" title="Previous" />
                }*@
             }
                        </div>
                    <div style="display: inline;">
                        <ul class="pag_list">

                            @{
                if ((Convert.ToInt16(Model.NoOfPages) > Convert.ToInt16(Model.PageCount)) && (Convert.ToInt16(Model.FirstPageNo) != 1))
                {
                 <li><a href="javascript:;" onclick="claimPaging('1','true')">|<</a></li>
                }
                if ((Convert.ToInt16(Model.NoOfPages) > Convert.ToInt16(Model.PageCount)) && (Convert.ToInt16(Model.FirstPageNo) != 1))
                {
                    <li><a href="javascript:;" onclick="claimPaging('@(Model.FirstPageNo - Convert.ToInt16(Model.PageCount))    ','true');"><<</a></li>
                }
                int maxNO = (Convert.ToInt16(Model.FirstPageNo) - 1) + 10;
                //int maxNO = 10;
                if (Convert.ToInt16(@Model.FirstPageNo) + 10 > Convert.ToInt16(@Model.NoOfPages))
                { maxNO = Convert.ToInt16(@Model.NoOfPages); }

                for (int x = Convert.ToInt16(@Model.FirstPageNo); x <= maxNO; x++)
                {
                    if (x == Convert.ToInt16(@Model.Page))
                    {
                                <li><a class="act" onclick="claimPaging(' @x','false');">@x</a></li>
                    }
                    else
                    {
                                <li><a href="javascript:;" onclick="claimPaging(' @x','false');">@x</a></li>
                    }
                }
                if ((Convert.ToInt16(Model.NoOfPages) > Convert.ToInt16(Model.PageCount)) && (Convert.ToInt16(Model.NoOfPages) >= (Convert.ToInt16(Model.FirstPageNo) + Convert.ToInt16(Model.PageCount))))
                {
                    @*<input type="button" class="ppn PR" id="btnnext" name="btnnext" value=">>" onclick="claimPaging('@(Model.FirstPageNo + Convert.ToInt16(Model.PageCount))    ','true')" title="Next" />*@
                <li><a href="javascript:;" onclick="claimPaging('@(Model.FirstPageNo + Convert.ToInt16(Model.PageCount))    ','true')">>></a></li>
                }
                if ((Convert.ToInt16(Model.NoOfPages) > Convert.ToInt16(Model.PageCount)) && (Convert.ToInt16(Model.NoOfPages) >= (Convert.ToInt16(Model.FirstPageNo) + Convert.ToInt16(Model.PageCount))))
                {
                   
              <li><a href="javascript:;" onclick="claimPaging('@Model.NoOfPages','true')">>|</a></li>
                }


}
                        </ul>
                    </div>
                    <div style="display: inline;">
                        @{
                @*if ((Convert.ToInt16(Model.NoOfPages) > Convert.ToInt16(Model.PageCount)) && (Convert.ToInt16(Model.NoOfPages) >= (Convert.ToInt16(Model.FirstPageNo) + Convert.ToInt16(Model.PageCount))))
                {
                    <input type="button" class="ppn PR" id="btnnext" name="btnnext" value=">>" onclick="claimPaging('@(Model.FirstPageNo + Convert.ToInt16(Model.PageCount))    ','true')" title="Next" />
                }*@
}

                    </div>

                    @* 
                       @{
                        int from = ((Model.Page - 1) * Model.RecsPerPage) + 1;
                          int to = from + Model.RecsPerPage - 1;
                          if(to > Convert.ToInt32(Model.TotalCount))
                          {
                              to = Convert.ToInt32(Model.TotalCount);
                          }
                          int total = Convert.ToInt32(Model.TotalCount);
                          @:(@from to @to of @total)
                        }*@

                        @{
                @*if ((Convert.ToInt16(Model.NoOfPages) > Convert.ToInt16(Model.PageCount)) && (Convert.ToInt16(Model.NoOfPages) >= (Convert.ToInt16(Model.FirstPageNo) + Convert.ToInt16(Model.PageCount))))
                {
                    <input type="button" id="btnLast" name="btnLast" value=">|" class="ppn PR" onclick="claimPaging('@Model.NoOfPages','true')" title="Last Page" />
                }*@
                        }
                </div>
            }
            
@*
                <input type="button" id="btnLast" name="btnLast" value="Last" class="buttonLightYellow_100" onclick="claimPaging('@Model.NoOfPages    ','true')" />*@
        </td>
    </tr>
</table>
