﻿@model BLL.ViewModels.PropertyAssignmentViewModel

<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Policy # </label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Claim.PolicyNumber, new { @id = "txtPolicynumber", @class = "form-control" })
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Policy Inception Date  </label>
            <div class="col-md-8">
              
                <div class="input-group input-medium date date-picker" data-date-format="mm-dd-yyyy" data-date-viewmode="years">
                    @*<input type="text" class="form-control" readonly>*@
                    @*@Html.TextBoxFor(model => model.claim.DateofLoss, new { @id = "txtDateofLoss", @class = "form-control" })*@
                    <input type="text" id="txtPolicyInceptionDate" name="claim.PolicyInceptionDate" value="@Model.Claim.PolicyInceptionDate" class="form-control CustomeDateCLS">
                    <span class="input-group-btn">
                        <button class="btn default" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Policy Effective Date </label>
            <div class="col-md-8">
                <div class="input-group input-medium date date-picker" data-date-format="mm-dd-yyyy" data-date-viewmode="years">
                    @*<input type="text" class="form-control" readonly>*@
                    @*@Html.TextBoxFor(model => model.claim.DateofLoss, new { @id = "txtDateofLoss", @class = "form-control" })*@
                    <input type="text" id="txtPolicyEffectiveDate" name="claim.PolicyEffectiveDate" value="@Model.Claim.PolicyEffectiveDate" class="form-control CustomeDateCLS">
                    <span class="input-group-btn">
                        <button class="btn default" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
                
            </div>
        </div>
    </div>
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Policy Expiration Date   </label>
            <div class="col-md-8">
                <div class="input-group input-medium date date-picker" data-date-format="mm-dd-yyyy" data-date-viewmode="years">
                    @*<input type="text" class="form-control" readonly>*@
                    @*@Html.TextBoxFor(model => model.claim.DateofLoss, new { @id = "txtDateofLoss", @class = "form-control" })*@
                    <input type="text" id="txtPolicyExpirationDate" name="claim.PolicyExpirationDate" value="@Model.Claim.PolicyExpirationDate" class="form-control CustomeDateCLS">
                    <span class="input-group-btn">
                        <button class="btn default" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4">Policy Type  </label>
            <div class="col-md-8">
             @Html.TextBoxFor(model => model.Claim.PolicyType, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-class="CntrlMD">
        <div class="form-group">
            <label class="control-label col-md-4"> </label>
            <div class="col-md-8">
                <a href="#myModal1" role="button" class="btn blue" data-toggle="modal"> Add Coverage & Mortgage </a>
            </div>
        </div>
    </div>
</div>


<div id="myModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" style="display: none; padding-right: 17px;">
    <div class="modal-dialog" style="width: 70%;">
        <div class="modal-content">
            <div class="modal-header modalHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Coverage & Mortgage Details</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>
                            Single Deductible
                            @Html.CheckBox("Claim.IsSingleDeductible", Model.Claim.IsSingleDeductible.HasValue ? Model.Claim.IsSingleDeductible.Value : false, new { id = "chkSingledeductible", onclick = "disableDeductible('tblCoveragesList');" })
                            @*<input type="radio" name="rdbDeductible" value="false"/>
                    Separate Deductibles
                    <input type="radio" name="rdbDeductible" value="true" />*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" id="tblCoveragesList" cellspacing="0">

                                <tr valign="top">
                                    <td class="tableHeader" nowrap="nowrap">Coverage Name</td>
                                    <td class="tableHeader" nowrap="nowrap">
                                        Type<div style="display: none;">
                                            @Html.DropDownList("ddlCoverageTypesReplica", Model.CoverageTypesList, new { @id = "ddlCoverageTypesReplica" })
                                        </div>
                                    </td>
                                    <td class="tableHeader" width="120" nowrap="nowrap">Limit</td>
                                    <td class="tableHeader" width="120" nowrap="nowrap">Deductible</td>
                                    <td class="tableHeader" width="120" nowrap="nowrap">Coverage Reserve</td>
                                    <td class="tableHeader" width="120" nowrap="nowrap">Expense Reserve</td>
                                    <td>
                                        <div style="display: none;">
                                            <img id="imgCoverageDeleteRowReplica" onclick="deleteRow('tblCoveragesList')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                        </div>
                                    </td>
                                </tr>

                                @if (Model.Claim.ClaimCoverages.ToList().Count == 0)
                                {
                                    <tr>
                                        <td>
                                            <input name="Claim.ClaimCoverages[0].CoverageName" type="text" />
                                        </td>
                                        <td>
                                            @Html.DropDownList("Claim.ClaimCoverages[0].CoverageType", Model.CoverageTypesList)
                                        </td>
                                        <td>
                                            <input name="Claim.ClaimCoverages[0].CoverageLimit" type="text" style="width: 100px;" />
                                        </td>
                                        <td>
                                            <input name="Claim.ClaimCoverages[0].CoverageDeductible" type="text" style="width: 100px;" />
                                        </td>
                                        <td>
                                            <input name="Claim.ClaimCoverages[0].COV_Reserves" type="text" style="width: 100px;" />
                                        </td>
                                        <td>
                                            <input name="Claim.ClaimCoverages[0].ExpenseReserve" type="text" style="width: 100px;" />
                                        </td>
                                        <td>
                                            <img id="imgCoverageDeleteRow0" onclick="deleteRow('tblCoveragesList')" style="color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    for (int i = 0; i < Model.Claim.ClaimCoverages.Count; i++)
                                    {
                                        BLL.ClaimCoverage coverage = Model.Claim.ClaimCoverages.ElementAt(i);
                                        <tr>
                                            <td>
                                                <input name="Claim.ClaimCoverages[@i].ClaimCoverageId" type="hidden" value="@coverage.ClaimCoverageId" />
                                                <input name="Claim.ClaimCoverages[@i].CoverageName" type="text" value="@coverage.CoverageName" />
                                            </td>
                                            <td>
                                                <select id="@("userState" + i)" name="Claim.ClaimCoverages[@i].CoverageType" style="width: 150px;">
                                                    @foreach (var type in Model.CoverageTypesList)
                                                    {
                                                        <option value="@type.Value" @(type.Value != coverage.CoverageType ? "" : "selected = selected")>@type.Text</option>
                                                    }
                                                </select>
                                            <td>
                                                <input name="Claim.ClaimCoverages[@i].CoverageLimit" type="text" value="@coverage.CoverageLimit" style="width:100px;" />
                                            </td>
                                            <td>
                                                <input name="Claim.ClaimCoverages[@i].CoverageDeductible" @(i != 0 ? "class=deductible" : "") type="text" value="@coverage.CoverageDeductible" style="width:100px;" />
                                            </td>
                                            <td>
                                                <input name="Claim.ClaimCoverages[@i].COV_Reserves" type="text" value="@coverage.COV_Reserves" style="width:100px;" />
                                            </td>
                                            <td>
                                                <input name="Claim.ClaimCoverages[@i].ExpenseReserve" type="text" value="@coverage.ExpenseReserve" style="width:100px;" />
                                            </td>
                                            <td>
                                                <img id="@("imgCoverageDeleteRow" + i)" onclick="deleteRow('tblCoveragesList')" style="@(i == (Model.Claim.ClaimCoverages.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                            </td>
                                        </tr>
                                    }
                                }

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <b>
                                <a onclick="addCoverageRow('tblCoveragesList')" style="border: none; color: black; cursor: pointer;">
                                    <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                                    Add Row
                                </a> &nbsp;
                            </b>
                        </td>
                    </tr>
                </table>
                <br />
                <br />

                <table>
                    <tr>
                        <td>
                            <table width="100%" id="tblMortgagesList" cellspacing="0">

                                <tr valign="top">
                                    <td class="tableHeader" nowrap="nowrap">Mortgage Holder</td>
                                    <td class="tableHeader" nowrap="nowrap">Loan Number</td>
                                    <td>
                                        <div style="display: none;">
                                            <img id="imgMortgageDeleteRowReplica" onclick="deleteMortgageRow('tblMortgagesList')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                        </div>
                                    </td>
                                </tr>

                                @if (Model.Claim.ClaimMortgages.ToList().Count == 0)
                                {
                                    <tr>
                                        <td>
                                            <input name="Claim.ClaimMortgages[0].MortgageHolder" type="text" style="width: 300px;" />
                                        </td>
                                        <td>
                                            <input name="Claim.ClaimMortgages[0].LoanNumber" type="text" style="width: 200px;" />
                                        </td>
                                        <td>
                                            <img id="imgMortgageDeleteRow0" onclick="deleteMortgageRow('tblMortgagesList')" style="color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    for (int i = 0; i < Model.Claim.ClaimMortgages.Count; i++)
                                    {
                                        BLL.ClaimMortgage mortgage = Model.Claim.ClaimMortgages.ElementAt(i);
                                        <tr>
                                            <td>
                                                <input name="Claim.ClaimMortgages[@i].ClaimMortgageId" type="hidden" value="@mortgage.ClaimMortgageId" />
                                                <input name="Claim.ClaimMortgages[@i].MortgageHolder" type="text" value="@mortgage.MortgageHolder" style="width: 300px;" />
                                            </td>

                                            <td>
                                                <input name="Claim.ClaimMortgages[@i].LoanNumber" type="text" value="@mortgage.LoanNumber" style="width:200px;" />
                                            </td>
                                            <td>
                                                <img id="@("imgMortgageDeleteRow" + i)" onclick="deleteMortgageRow('tblMortgagesList')" style="@(i == (Model.Claim.ClaimMortgages.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                            </td>
                                        </tr>
                                    }
                                }

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <b>
                                <a onclick="addMortgageRow('tblMortgagesList')" style="border: none; color: black; cursor: pointer;">
                                    <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                                    Add Row
                                </a> &nbsp;
                            </b>
                        </td>
                    </tr>
                </table>
                <input id="hdnCoveragesRowCount" name="hdnCoveragesRowCount" type="hidden" value="@(Model.Claim.ClaimCoverages.Count == 0 ? "1" : Model.Claim.ClaimCoverages.Count + "")" />
                <input id="hdnMortgagesRowCount" name="hdnMortgagesRowCount" type="hidden" value="@(Model.Claim.ClaimMortgages.Count == 0 ? "1" : Model.Claim.ClaimMortgages.Count + "")" />

            </div>
            <div class="modal-footer">
                <button class="btn default" data-dismiss="modal" aria-hidden="true">Ok</button>
                @*<button class="btn yellow">Save</button>*@
            </div>
        </div>
    </div>
</div>