﻿@model BLL.ViewModels.AutoAssignmentViewModel

@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}



<div class="portlet light bordered">
    <div class="portlet-title ">
        <div class="caption col-md-3 ">
            <i class="icon-equalizer font-blue-hoki"></i>
            <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Property Loss Location</span>
        </div>
        <div class="col-md-3">
            @*@Html.CheckBoxFor(model => model.IsIadaMember, new { id = "IsIADAMember", @class = "", @style = "width: 6%; height: 15px;" })<span>IADA Member</span>*@
            <div class="form-group form-md-checkboxes">
                <div class="md-checkbox-inline">
                    <div class="md-checkbox">
                        @Html.CheckBoxFor(model => model.SameAsOwnerAddress, new { id = "chkSameOwnerAddress", @class = "md-check" })
                        @*<input type="checkbox" id="chkSameOwnerAddress" class="md-check">*@
                        <label for="chkSameOwnerAddress">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span> same as Insured address
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="tools">
            <a href="" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        @*<form action="#" class="form-horizontal">*@
        <div class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Contact Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.PropertyContactName, new { @id = "txtPropertyContactName", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Address</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.PropertyAddress1, new { @id = "txtPropertyAddress1", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Contact Phone</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.PropertyContactPhone, new { @id = "txtPropertyContactPhone", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">City</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.PropertyCity, new { @id = "txtPropertyCity", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                           <label class="control-label col-md-4">Contact Email</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.InsuredContactEmail, new { @id = "txtInsuredContactEmail", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">State</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.claim.PropertyState, Model.InsuredStateList, new { @id = "ddlPropertyState", @class = "form-control" })
                            </div>

                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            @*<label class="control-label col-md-4">Zip</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.claim.PropertyZip, new { @id = "txtPropertyZip", @onblur = "populateZipData('txtPropertyZip','ddlPropertyState','txtPropertyCity')", @class = "form-control" })
                                </div>*@
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Zip</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.PropertyZip, new { @id = "txtPropertyZip", @onblur = "populateZipData('txtPropertyZip','ddlPropertyState','txtPropertyCity')", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*</form>*@
        <!-- END FORM-->
        <!-- END FORM-->
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#chkSameOwnerAddress').on('change', function () {
            if ($("#chkSameOwnerAddress").is(":checked")) {
                var ServiceId = $("#ddlServiceType").val();
                var add = $("#txtOwnerAddress1").val();
                var zip = $("#txtOwnerZip").val();
                var city = $("#txtOwnerCity").val();
                var state = $("#ddlOwnerState").val();

                if (ServiceId == 9) {
                    var add = $("#txtInsuredAddress1").val();
                    var zip = $("#txtInsuredZip").val();
                    var city = $("#txtInsuredCity").val();
                    var state = $("#ddlInsuredState").val();
                }

                $("#txtPropertyAddress1").val(add);
                $("#txtPropertyZip").val(zip);
                $("#txtPropertyCity").val(city);
                $("#ddlPropertyState").val(state);
            }
            else {
                $("#txtPropertyAddress1").val('');
                $("#txtPropertyZip").val('');
                $("#txtPropertyCity").val('');
                $("#ddlPropertyState").val(0);
            }
        });
    });
</script>


