﻿@using CSS
@using BLL
@*@model BLL.ViewModels.XactAutoAssignmentSearchViewModel*@
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}


<style type="text/css">
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        position: relative;
        min-height: 1px;
        padding-left: 0px !important;
        /* padding-left: 15px; */
        padding-right: 15px;
    }
</style>
<div class="row" style="margin-top: -15px; margin-left: -10px;">
    <div class="col-md-12" style="background-color:#EDF7FB; border: 1px solid lightgray; border-radius:5px !important;">
        @*<div class="col-md-3 " style="margin-top:5px;">
            <div class="col-md-5" style="text-align:center;">
                <label class="form-control-static"> <b> Quick Search:</b></label>
                <a style="text-decoration:underline; font-size:11px;" href="javascript:toggle();">Advanced</a>
            </div>
            <div style="padding-left: 5px;" class="col-md-4">
                <input type="text" class="form-control " style="width:85px; height:28px;margin:3px 0px; font-size: 12px;" placeholder="Name">
                <input type="text" class="form-control " style="width:85px; height:28px;margin:3px 0px; font-size: 12px;" placeholder="Claim #">
            </div>
            <div style="padding-left: 5px;" class="col-md-3">
                <button class="btn default btnradious" style="height:55px; border-color:darkgray; font-weight:bold;">Refresh</button>
            </div>
        </div>*@
        <div class="col-md-9" style="text-align:left; margin-top:5px; margin-bottom: 5px;">
            @{
                if(loggedInUser.UserTypeId==2)
                {
                    
               
            <button class="btn yellow  btnradious btncolor" style="height:60px; width:155px; margin-left:5px; font-weight:bold;" onclick="location.href = '@Url.Action("AutoAssignment", "AutoAssignment")'">Create Assignment</button>
            <button class="btn yellow  btnradious btncolor" style="height:60px; width:155px; margin-left:5px; font-weight:bold;" onclick="Redirecting()">Dispatch<br />Service Provider</button>
            <button class="btn yellow  btnradious btncolor" style="height:60px; width:155px; margin-left:5px; font-weight:bold;">Import Claims</button>
            <button class="btn yellow  btnradious btncolor" style="height:60px; width:155px; margin-left:5px; font-weight:bold;">Batch Payments</button>
            @*<button class="btn default  btnradious" style="height:55px; width:155px; margin-left:5px; border-color:darkgray; font-weight:bold;" onclick="btnAssignInternalContact_Click();">Assign<br />Internal Contact</button>*@
                }
}
            @*<input type="button" onclick="location.href = 'AutoAssignment';" class="btn yellow  btnradious btncolor" value="Create Assignment" style="height:60px; width:155px; margin-left:5px;">
                <input type="button" class="btn yellow  btnradious btncolor" value="Dispatch&#13;Service Provider" style="height:60px; margin-left:5px; width:151px;">
                <input type="button" class="btn yellow  btnradious btncolor" value="Import Claims" style="height:60px; margin-left:5px; width:151px;">
                <input type="button" class="btn yellow  btnradious btncolor" value="Batch Payments" style="height:60px; margin-left:5px; width:151px;">
                <input type="button" class="btn default btnradious " value="Assign CSS POC" style="height:60px; margin-left:5px; width:130px;">*@

        </div>        
    </div>
</div>
<script>
    @*function Redirecting() {

        ClearCookie();
        sessionStorage.setItem('Linkidname', 'liSearchAssign');

        location.href = '@Url.Action("Search", "SPMapSearch")'
    }*@
</script>
