﻿@model BLL.ViewModels.RequirementViewModel

@{
    
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
@if (!Model.isReadOnly)
{
    <script type="text/javascript">

        function clearRequirements() {
            $('#hdnClaimRequirementId').val('-1');
            $('#hdnHeadCompanyId').val('-1');
            $('#hdnLOBId').val('-1');
            $('#hdnAssgId').val('-1');
            $('#drSoftwareRequired').val('');
            $('#drContactWithin').val('');
            $('#drInspectWithin').val('');
            $('#drFirstReportDue').val('');
            $('#drReservesDue').val('');
            $('#dr').val('');
            $('#drSatusReports').val('');
            $('#drFinalReportDue').val('');
            $('#drBaseServiceCharges').val('');
            $('#drInsuredToValueRequired').val('');
            $('#drNeighborhoodCanvas').val('');
            $('#drITELRequired').val('');
            $('#drMinimumCharges').val('');
            $('#drEstimateContents').val('');
            $('#txtRequiredDocuments').val('');
            $('#drObtainAgreedSorP').val('');
            $('#drDiscussCoveragNScopewithClaimant').val('');
            $('#drRoofSketchRequired').val('');
            $('#drPhotoSGorPGRequired').val('');
            $('#drDepreciacionType').val('');
            $('#drMaxDepr').val('');
            $('#drAppOfOveheadNProfit').val('');
            $('#txtcomments').val('');
        }
    </script>
}
@if(!Model.isReadOnly)
{
    <style type="text/css">

        .lblstyle {
            padding-right: 10px;
            width: 15%;
            vertical-align: middle;
            text-align: right;
        }

        .optionStyle {
            width: 35%;
        }

        /*.lststyle {
            width: 200px;
        }*/

        .txtAreastyle {
            width: 80%;
        }
    </style>
}
else
{
    <style type="text/css">

        .lblstyle {
            padding-right: 10px;
            white-space:nowrap;
            vertical-align: top;
            text-align: right;
        }

        .optionStyle {
            vertical-align: top;
            width: 35%;
        }

        .lststyle {
            vertical-align: top;
            width: 200px;
        }

        .txtAreastyle {
            width: 80%;
        }
    </style>
}

@Html.HiddenFor(model => model.ClaimRequirementId, new { @id = "hdnClaimRequirementId" })
@Html.HiddenFor(model => model.AssignmentId, new { @id = "hdnAssgId" })
@Html.HiddenFor(model => model.HeadCompanyId, new { @id = "hdnHeadCompanyId" })
@Html.HiddenFor(model => model.LOBId, new { @id = "hdnLOBId" })
<div class="form-group">
    <label for="LOBType" class="col-md-2 control-label">Software Required:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.SoftwareRequired != 0 ? Model.lstSoftwareRequired.Where(x => x.Value == Model.SoftwareRequired + "").FirstOrDefault().Text : "")
        }
        else
        {
            @Html.DropDownListFor(model => model.SoftwareRequired, Model.lstSoftwareRequired, new { @id = "drSoftwareRequired", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>

    <label for="FreeMiles" class="col-md-2 control-label">Contact Within:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.ContactWithin != 0 ? Model.lstContactWithin.Where(x => x.Value == Model.ContactWithin + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.ContactWithin, Model.lstContactWithin, new { @id = "drContactWithin", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>
</div>

<div class="form-group">
    <label for="LOBType" class="col-md-2 control-label">Inspect within:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.InspectWithin != 0 ? Model.lstInspectWithin.Where(x => x.Value == Model.InspectWithin + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.InspectWithin, Model.lstInspectWithin, new { @id = "drInspectWithin", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>

    <label for="FreeMiles" class="col-md-2 control-label">First Report Due:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.FirstReportDue != 0 ? Model.lstFirstReportDue.Where(x => x.Value == Model.FirstReportDue + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.FirstReportDue, Model.lstFirstReportDue, new { @id = "drFirstReportDue", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>
</div>
<div class="form-group">
    <label for="LOBType" class="col-md-2 control-label">Reserves Due:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.ReservesDue != 0 ? Model.lstReservesDue.Where(x => x.Value == Model.ReservesDue + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.ReservesDue, Model.lstReservesDue, new { @id = "drReservesDue", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>

    <label for="FreeMiles" class="col-md-2 control-label">Final Report Due:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.FinalReportDue != 0 ? Model.lstFinalReportDue.Where(x => x.Value == Model.FinalReportDue + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.FinalReportDue, Model.lstFinalReportDue, new { @id = "drFinalReportDue", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>
</div>
<div class="form-group">
    <label for="LOBType" class="col-md-2 control-label">Status Reports:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.SatusReports != 0 ? Model.lstSatusReports.Where(x => x.Value == Model.SatusReports + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.SatusReports, Model.lstSatusReports, new { @id = "drSatusReports", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>

    <label for="FreeMiles" class="col-md-2 control-label">Insured To Value Required: </label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.InsuredToValueRequired != 0 ? Model.lstInsuredToValueRequired.Where(x => x.Value == Model.InsuredToValueRequired + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.InsuredToValueRequired, Model.lstInsuredToValueRequired, new { @id = "drInsuredToValueRequired", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>
</div>
<div class="form-group">
    <label for="LOBType" class="col-md-2 control-label">Base Service Charges:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.BaseServiceCharges != 0 ? Model.lstBaseServiceCharges.Where(x => x.Value == Model.BaseServiceCharges + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.BaseServiceCharges, Model.lstBaseServiceCharges, new { @id = "drBaseServiceCharges", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>

    <label for="FreeMiles" class="col-md-2 control-label">ITEL Required: </label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.ITELRequired != 0 ? Model.lstITELRequired.Where(x => x.Value == Model.ITELRequired + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.ITELRequired, Model.lstITELRequired, new { @id = "drITELRequired", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>
</div>
<div class="form-group">
    <label for="LOBType" class="col-md-2 control-label">Neighborhood Canvas:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.NeighborhoodCanvas != 0 ? Model.lstNeighborhoodCanvas.Where(x => x.Value == Model.NeighborhoodCanvas + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.NeighborhoodCanvas, Model.lstNeighborhoodCanvas, new { @id = "drNeighborhoodCanvas", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>

    <label for="FreeMiles" class="col-md-2 control-label">Estimate Contents:  </label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.EstimateContents != 0 ? Model.lstEstimateContents.Where(x => x.Value == Model.EstimateContents + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.EstimateContents, Model.lstEstimateContents, new { @id = "drEstimateContents", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>
</div>
<div class="form-group">
    <label for="LOBType" class="col-md-2 control-label">Minimum Charges:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.MinimumCharges != 0 ? Model.lstMinimumCharges.Where(x => x.Value == Model.MinimumCharges + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.MinimumCharges, Model.lstMinimumCharges, new { @id = "drMinimumCharges", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>

    <label for="FreeMiles" class="col-md-2 control-label"> </label>
    <div class="col-md-4">

    </div>
</div>
<div class="form-group">
    <label for="LOBType" class="col-md-2 control-label">Required Documents:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @Model.RequiredDocuments
        }
        else
        {
            @Html.TextAreaFor(model => model.RequiredDocuments, new { @id = "txtRequiredDocuments", @Class = "txtAreastyle form-control fontsizefortbl" })
        }
    </div>

    <label for="FreeMiles" class="col-md-2 control-label"> </label>
    <div class="col-md-4">

    </div>
</div>
<div class="form-group">
    <label for="LOBType" class="col-md-2 control-label">Obtain Agreed Scope/Price:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.ObtainAgreedSorP != 0 ? Model.lstObtainAgreedSorP.Where(x => x.Value == Model.ObtainAgreedSorP + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.ObtainAgreedSorP, Model.lstObtainAgreedSorP, new { @id = "drObtainAgreedSorP", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>

    <label for="FreeMiles" class="col-md-2 control-label">Discuss Coverage and Scope with Claimant: </label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.DiscussCoveragNScopewithClaimant != 0 ? Model.lstDiscussCoveragNScopewithClaimant.Where(x => x.Value == Model.DiscussCoveragNScopewithClaimant + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.DiscussCoveragNScopewithClaimant, Model.lstDiscussCoveragNScopewithClaimant, new { @id = "drDiscussCoveragNScopewithClaimant", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>
</div>
<div class="form-group">
    <label for="LOBType" class="col-md-2 control-label">Roof Sketch Required:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.RoofSketchRequired != 0 ? Model.lstRoofSketchRequired.Where(x => x.Value == Model.RoofSketchRequired + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.RoofSketchRequired, Model.lstRoofSketchRequired, new { @id = "drRoofSketchRequired", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>

    <label for="FreeMiles" class="col-md-2 control-label">Photo of Shingle Gague/Pitch Gauge Required:  </label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.PhotoSGorPGRequired != 0 ? Model.lstPhotoSGorPGRequired.Where(x => x.Value == Model.PhotoSGorPGRequired + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.PhotoSGorPGRequired, Model.lstPhotoSGorPGRequired, new { @id = "drPhotoSGorPGRequired", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>
</div>
<div class="form-group">
    <label for="LOBType" class="col-md-2 control-label">Depreciacion Type: </label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.DepreciacionType != 0 ? Model.lstDepreciacionType.Where(x => x.Value == Model.DepreciacionType + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.DepreciacionType, Model.lstDepreciacionType, new { @id = "drDepreciacionType", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>

    <label for="FreeMiles" class="col-md-2 control-label">Max Depr.:  </label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.MaxDepr != 0 ? Model.lstMaxDepr.Where(x => x.Value == Model.MaxDepr + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.MaxDepr, Model.lstMaxDepr, new { @id = "drMaxDepr", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>
</div>
<div class="form-group">
    <label for="LOBType" class="col-md-2 control-label">Application of Ovehead and Profit:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @(Model.AppOfOveheadNProfit != 0 ? Model.lstAppOfOveheadNProfit.Where(x => x.Value == Model.AppOfOveheadNProfit + "").FirstOrDefault().Text : " - ")
        }
        else
        {
            @Html.DropDownListFor(model => model.AppOfOveheadNProfit, Model.lstAppOfOveheadNProfit, new { @id = "drAppOfOveheadNProfit", @Class = "lststyle form-control fontsizefortbl" })
        }
    </div>

    <label for="FreeMiles" class="col-md-2 control-label"></label>
    <div class="col-md-4">

    </div>
</div>
<div class="form-group">
    <label for="LOBType" class="col-md-2 control-label">Comments or Other Instructions:</label>
    <div class="col-md-4">
        @if (Model.isReadOnly)
        {
            @Model.Comments
        }
        else
        {
            @Html.TextAreaFor(model => model.Comments, new { @id = "txtcomments", @Class = "txtAreastyle form-control fontsizefortbl", @rows = 5 })
        }
    </div>

</div>
