﻿@model BLL.ViewModels.PayrollViewModel
<div class="table-scrollable">
    <table width="100%" cellspacing="0" cellpadding="4" class="table table-hover">
        <thead style="background-color: #406E98 !important;color: white;">
            <tr>
                <td>Service Provider</td>
                <td>Invoice No.</td>
                <td>SP Invoice No.</td>
                <td align="right">Invoice Total <br />($)</td>
                <td align="right">Total Due <BR />To SP ($)</td>
                <td>Status</td>
                <td>Payroll Date</td>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.SPPayrollandAdjAutoList.Count() > 0)
                {
                    foreach (var record in Model.SPPayrollandAdjAutoList)
                    {
                        <tr>
                            <td>@record.ServiceProvider</td>
                            <td>@record.AutoInvoiceNo</td>
                            <td>@(record.SpInvoiceNumber != null ? record.SpInvoiceNumber.ToString() : "")</td>
                            <td align="right">@(Math.Round(record.GrandTotal.Value,2))</td>
                            <td align="right">@(record.TotalSPPay.HasValue ? Math.Round(record.TotalSPPay.Value,2).ToString() : "")</td>
                            @if(record.PaymentDate.HasValue)
                            {
                            <td>Paid</td>
                            }
                            else
                            {
                            <td>Pending</td>
                            }
                            <td align="center">@(record.PaymentDate.HasValue ? record.PaymentDate.Value.ToString("MM/dd/yyyy hh:mm tt") : "-")</td>
                        </tr>


                    }
                }
                else
                {
                    <tr>
                        <td> No Records Found  </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
