﻿
<form name="frmSPServiceRate" ng-submit="updateServiceRate()" role="form">
    <div class="row">
        <div class=" col-md-3" style="padding-bottom: 10px;">        <h5>Service Type    </h5>     </div>
        <div class=" col-md-3" style="padding-bottom: 10px;">        <h5>Free Miles    </h5>     </div>
        <div class=" col-md-3" style="padding-bottom: 10px;">        <h5>Service Rate    </h5>     </div>
        <div class=" col-md-3" style="padding-bottom: 10px;">        <h5>T&E Rate/Hour    </h5>     </div>
    </div>
    <div class="row" ng-repeat="obj in SPServiceRate">
        <div class=" col-md-3" style="margin-top: -15px;">
            <p>
                {{obj.ServiceDescription}}
            </p>

        </div>
        <div class="col-md-3" style="margin-top: -15px;">

            <p>
                <input class="form-control" ng-model="obj.FreeMiles" type="text">
            </p>

        </div>
        <div class="col-md-3" style="margin-top: -15px;">

            <p>
                <input class="form-control" ng-model="obj.ServiceRate" type="text">
            </p>

        </div>
        <div class="col-md-3" style="margin-top: -15px;">
            <p>
                <input class="form-control" ng-model="obj.TandERatePerHour" type="text">
            </p>
        </div>
    </div>
    <div class="row" style="text-align: right;padding-right: 15px;">
        <button type="submit" class="btn btn-sm btn-primary">
            Update
        </button>
    </div>
</form>