﻿
<div class="modal fade bs-modal-lg in" id="ManageServiceRatePopup" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#406E98 !important; color:white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ></button>
                <h4 class="modal-title">Manage Service Rate</h4>
            </div>
            <div class="modal-body">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div id="internalContactErrorList" style="color:red;">

                    </div>
                    @*<div ng-app="CSSMVCApp" class="ng-cloak" ng-cloak>*@
                    <div ng-controller="ManageSPServiceRateController" ng-init="initializeController()" ng-cloak>
                        @{Html.RenderPartial("_SPServiceRates");}
                    </div>
                    @*</div>*@
                    <!-- END FORM-->
                </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn dark btn-outline" data-dismiss="modal" >Close</button>
                 @*   <button type="button" class="btn green" id="btnSave" onclick="SPRegistration.SaveInternalContact('@Model.user.UserId');">Save</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="~/Views/Shared/ManageSPServiceRateController.js"></script>