﻿@model BLL.ViewModels.XACTAutoClaimsInfoViewModel

<table width="100%" cellpadding="8" cellspacing="0" class="table table-hover">

    <tr>
        <td class="content" align="center">
            <input type="hidden" id="claimId1" name="claimId" value="@Model.claim.ClaimId" />
            <input type="hidden" id="assignmentId1" name="assignmentId" value="@Model.AutoAssignment.AutoAssignmentId" />
            <input type="hidden" id="statusId1" name="statusId" />
            <input type="hidden" id="statusId" name="statusId" />
            <table width="100%" cellspacing="15" cellpadding="15">
                <tr id="trRetainSP1" style="display: none;">
                    <td colspan="2">
                        @Html.CheckBox("RetainSP1", true, new { @id = "cbRetainSP1" }) Retain Service Provider after Reopen<br />
                        <br />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" width="100%">
                        <table cellpadding="10" border="1" style="width: 96%;margin-left:20px;border-style:solid;margin-top:10px;">

                            <tr>


                                <td width="100" style="text-align:center">
                                    <b>#DaysToContact</b>
                                </td>


                                <td width="100" style="text-align:center">
                                    <b>#DaysToInspect</b>
                                </td>
                                <td width="100" style="text-align:center">
                                    <b>#DaysToUpload</b>
                                </td>
                                <td width="100" style="text-align:center">
                                    <b># of times file rejected</b>

                                </td>



                            </tr>
                            <tr>
                                <td style="text-align:center">@Model.DaysToContact</td>
                                <td style="text-align:center">@Model.DaysToInspect</td>
                                <td style="text-align:center">@Model.DaysToUpload</td>
                                <td style="text-align:center">@Model.RejectionCount</td>

                            </tr>





                        </table>


                    </td>

                </tr>
                <tr valign="top" id="trrankradiolist">
                    <td colspan="2" width="100%">
                        <table cellspacing="7" style="width: 96%;margin-left:20px;border:none;margin-top:18px;" cellpadding="10" class="table table-hover">
                            <tr>
                                <td colspan="2" style="padding-left:45px" align="left">
                                    <b>Please rank SP for overall satisfaction on this particular claim</b>
                                </td>
                            </tr>

                            <tr>


                                <td width="100%" colspan="2" style="padding-left:42px" align="left">

                                    @{
                                        var check = "";
                                        if (Model.CheckApprovedDate == 1)
                                        {
                                            check = "disabled=disabled";
                                        }



                                    }
                                    <input id="rb1" type="radio" name="examinerRank" value="1" checked="@(Model.Rank == 1 ? true : false)" @check />1&nbsp;
                                    <input id="rb2" type="radio" name="examinerRank" value="2" checked="@(Model.Rank == 2 ? true : false)" @check />2&nbsp;
                                    <input id="rb3" type="radio" name="examinerRank" value="3" checked="@(Model.Rank == 3 ? true : false)" @check />3&nbsp;
                                    <input id="rb4" type="radio" name="examinerRank" value="4" checked="@(Model.Rank == 4 ? true : false)" @check />4&nbsp;
                                    <input id="rb5" type="radio" name="examinerRank" value="5" checked="@(Model.Rank == 5 ? true : false)" @check />5
                                </td>
                            </tr>
                            <tr valign="top">

                                <td align="center"><b>Notes </b></td>
                                <td width="100%">
                                    <textarea id="statusChangeapproveNote" name="statusChangeapproveNote" style="width: 98%" rows="5">@Model.ApprovalComment</textarea>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="footer" style="text-align: right">
            <input type="button" value="Update" class="btn btn-primary" onclick="SubmitAssignmentStatus('@Model.AutoInvoiceList.Count');" />
        </td>
    </tr>
</table>