﻿@model BLL.ViewModels.UserRightsViewModel
<div class="col-md-12 ">
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.UserFullName)
    <div class="col-md-12 ">
        <b>User Rights for @Model.UserFullName</b>
    </div>
    <br />
    <br />  
    <div class="col-md-12 ">
        @for (int i = 0; i < Model.UserAssignedRightsInfoList.Count; i++)
        {
            <div class="col-md-12 ">
                @Html.HiddenFor(model => Model.UserAssignedRightsInfoList[i].UserRightId)
                @Html.HiddenFor(model => Model.UserAssignedRightsInfoList[i].UserRightDesc)
                @Html.HiddenFor(model => Model.UserAssignedRightsInfoList[i].UserId)
                @Html.CheckBoxFor(model => Model.UserAssignedRightsInfoList[i].HasRight)
                @{
                    string UserRightsDesc;
                    
                    if (Model.UserAssignedRightsInfoList[i].UserRightDesc == "CSS POC\r\n")
                    {
                        UserRightsDesc = "Internal Contact";
                    }
                    else
                    {
                        UserRightsDesc = Model.UserAssignedRightsInfoList[i].UserRightDesc;
                    }    
                }
                @UserRightsDesc
                @*@Model.UserAssignedRightsInfoList[i].UserRightDesc*@
            </div>
        }
        <br />
        <br />
    </div>
</div>


@*@model BLL.ViewModels.UserRightsViewModel
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.UserFullName)
    <b>&nbsp;User Rights for @Model.UserFullName</b><br /><br />
    <table width="100%" cellspacing="0">

    @for (int i = 0; i < Model.UserAssignedRightsInfoList.Count;i++)
    {

            <tr @(i%2 == 0? "class=tableRow":"class=tableRowAlternate")>

                <td>@Html.HiddenFor(model => Model.UserAssignedRightsInfoList[i].UserRightId)
            @Html.HiddenFor(model => Model.UserAssignedRightsInfoList[i].UserRightDesc)
            @Html.HiddenFor(model => Model.UserAssignedRightsInfoList[i].UserId)
            @Html.CheckBoxFor(model => Model.UserAssignedRightsInfoList[i].HasRight) </td>
                <td width="100%">@Model.UserAssignedRightsInfoList[i].UserRightDesc</td>
            </tr>



    }
        </table>*@


