﻿@using System.Configuration
@using CSS
@model BLL.ViewModels.DocumentsListViewModel
@{
    Layout = null;
    ViewBag.Title = "ClaimDocumentsList";
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    string containerName = ConfigurationManager.AppSettings["PropAssignDocsContainerName"].ToString();
}
<style type="text/css">
    #backgroundDocumentPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
        opacity:0.7;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 400px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
    .EmailEditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
       

       width: 600px; 
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
</style>
<script type="text/javascript">
    function btnDocListFilter_Click() {
        var statusId = $("#ddlStatusList").val();
        var claimId = '@Model.ClaimId';
        var assignmentId = '@Model.AssignmentId';
        var docTypeId = '@Model.DocumentTypeId';

        getDocumentsList(claimId, assignmentId, docTypeId, statusId);
    }
    function changeDocumentStatus(statusId) {
        if ($("#documentIds").val().length != 0) {
            if (confirm("Are you sure you want to change the status to " + (statusId == 1 ? "Approved" : "Rejected") + "?") == true) {
                var urlToRedirect = '@Url.Action("ClaimDocumentsList", "PropertyAssignment", new { claimId = Model.ClaimId, assignmentId = Model.AssignmentId, documentTypeId = Model.DocumentTypeId })';
                $("#imgClaimDocEmailProgress").show();
                $.post('@Url.Content("~/PropertyAssignment/ChangeDocumentStatus")',
                     {
                         assignmentId: $('#assignmentId').val(), documentIds: $('#documentIds').val(), newStatusId: statusId
                     },
                     function (responseData) {
                         if (responseData == 1) {
                             refreshDocumentsList(urlToRedirect);

                         }
                         $("#imgClaimDocEmailProgress").hide();


                     });
            }
        }
        else {
            alert('Select document(s) from the list.');
        }


    }
    function deleteClaimDocument(claimDocumentId) {
        var urlToRedirect = '@Url.Action("ClaimDocumentsList", new { claimId = Model.ClaimId, assignmentId = Model.AssignmentId, documentTypeId = Model.DocumentTypeId })';
        urlToRedirect = urlToRedirect.replace(/&amp;/g, '&');
        if (confirm('Are you sure you want to delete?')) {
            $.post('@Url.Content("~/PropertyAssignment/DeleteClaimDocument")',
            { claimDocumentId: claimDocumentId },
            function (responseData) {
                if (responseData == 1) {
                    refreshDocumentsList(urlToRedirect);
                }
            });
        }
    }
    function CallOnEachCheckBoxChangeEvent() {
        var selectedCheckBoxesValue = '';
        $('#tblDocumentsList, #tblDocumentsPreviousList').find("input:checkbox.ClassCBDocuments:checked").each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
            }
        });

        //Set the value of hiddenField selected checkboxes value 
        $("#documentIds").val(selectedCheckBoxesValue);

    }
   
    function processEmailFailure() {
        processEmailSent();
    }
    function processEmailSent() {
        disableDocumentPopups();
    }
    function disableDocumentPopups() {
        disableDocumentUploadPopup();
        disableDocumentEmailPopup();
        disableClaimCorrespondenceDocumentPopup();
        disableDocumentFTPPopup();
    }
    function refreshDocumentsList(url) {
        url = url.replace(/&amp;/g, '&');
        disableDocumentPopups();
        $("#divDocumentsList").empty();
        $("#divDocumentsListLoading").show();
        $.ajaxSetup({ cache: false });
        $.getJSON(
        url,
        function (myData) {
            $("#divDocumentsList").html(myData);
            $("#divDocumentsListLoading").hide();
        });

    }
    function loadClaimCorrespondenceDocumentPopup() {
        document.getElementById("iframeClaimCorrespondence").src = $("#hdnClaimCorrespondenceIFrameSrcUrl").val().replace("&amp;", "&");
        centerClaimCorrespondenceDocumentPopup();
        $("#backgroundDocumentPopup").css({
            "opacity": "0.7"
        });
        $("#backgroundDocumentPopup").fadeIn("slow");
        $("#divClaimCorrespondenceDocument").fadeIn("slow");
    }
    function disableClaimCorrespondenceDocumentPopup() {

        $("#backgroundDocumentPopup").fadeOut("slow");
        $("#divClaimCorrespondenceDocument").fadeOut("slow");
    }
    function centerClaimCorrespondenceDocumentPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divClaimCorrespondenceDocument").height();
        var popupWidth = $("#divClaimCorrespondenceDocument").width();
        //centering  
        $("#divClaimCorrespondenceDocument").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $("#backgroundDocumentPopup").css({
            "height": windowHeight
        });
        return false;
    }


    function loadDocumentUploadPopup() {

        document.getElementById("iframeUploadDocument").src = $("#hdnIFrameSrcUrl").val().replace("&amp;", "&");
        centerDocumentUploadPopup();
        $("#backgroundDocumentPopup").css({
            "opacity": "0.7"
        });
        $("#backgroundDocumentPopup").fadeIn("slow");
        $("#divDocumentUpload").fadeIn("slow");

    }
    function disableDocumentUploadPopup() {

        $("#backgroundDocumentPopup").fadeOut("slow");
        $("#divDocumentUpload").fadeOut("slow");
    }
    function centerDocumentUploadPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divDocumentUpload").height();
        var popupWidth = $("#divDocumentUpload").width();
        //centering  
        $("#divDocumentUpload").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $("#backgroundDocumentPopup").css({
            "height": windowHeight
        });
        return false;
    }

    //ftp pop up

    function transferDocToFTP() {
        //divDocumentsftp

        debugger;

        var mergedoc = $('#mergeftpdoc:checked').val();
        if (mergedoc == '1') {
            var mergedocs = 1;
        }
        else {
            var mergedocs = 0;
        }

        var doclistsorted = "";
        $('#Documentlist').find('li').each(function (index) {
            doclistsorted = doclistsorted + $(this).attr('id').trim() + ",";
        });
        doclistsorted = doclistsorted.substring(0, doclistsorted.length - 1);

        alert(doclistsorted);




        $("#imgDocFTPProgress").show();
        $.post('@Url.Content("~/PropertyAssignment/TransferDocToFTP")',
                                       {
                                           //claimId: 'Model.ClaimId', documentIds: $('#documentIds').val()
                                           claimId: '@Model.ClaimId', documentIds: doclistsorted,mergedoc:mergedocs

                                       },
                                       function (data) {
                                           if (data == '1') {
                                               $("#imgDocFTPProgress").hide();
                                               disableDocumentFTPPopup();
                                           }
                                           else {
                                               alert("An error occurred while transferring data to the FTP account.");
                                           }
                                       });
    }
    function loadDocumentFTPPopup() {
         
        if ($("#documentIds").val().length != 0) {
          //  debugger;
             
            $("#backgroundDocumentPopup").fadeIn("slow");
            $("#divDocumentsftp1").empty();
            $("#divDocumentsftp1Loading").show();
            $("#divDocumentFTP").show();

            $.ajaxSetup({ cache: false });
            $.getJSON(
            '@Url.Action("ClaimFtpDocuments")', //ClaimEmaiDocuments
        {
            claimId: $("#claimId")[0].value, assignmentId: $("#assignmentId")[0].value, documentIds: $('#documentIds').val(), documentTypeId: 0, statusId: $("#ddlStatusList").val()
        },
        function (myData) {

            $("#divDocumentsftp1").html(myData);
            $("#divDocumentsftp1").show();
           $("#divDocumentsftp1Loading").hide();
            centerDocumentFTPPopup();
            $("#backgroundDocumentPopup").css({
                "opacity": "0.7"
            });

            $("#divDocumentFTP").fadeIn("slow");
        });

        }
        else {
            alert('Select document(s) from the list.');
        }
    }
    function centerDocumentFTPPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divDocumentFTP").height();
        var popupWidth = $("#divDocumentFTP").width();
        //centering  
        $("#divDocumentFTP").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $("#backgroundDocumentPopup").css({
            "height": windowHeight
        });
        return false;
    }
    function disableDocumentFTPPopup() {

        $("#backgroundDocumentPopup").fadeOut("slow");
        $("#divDocumentFTP").fadeOut("slow");
    }
    function loadDocumentEmailPopup() {
        if ($("#documentIds").val().length != 0) {



            $("#backgroundDocumentPopup").fadeIn("slow");
            $("#divDocumentsemail1").empty();
            $("#divDocumentsemail1Loading").show();
            $("#divDocumentEmail").show();

            $.ajaxSetup({ cache: false });
            $.getJSON(
            '@Url.Action("ClaimEmailDocuments")',
        {
            claimId: $("#claimId")[0].value, assignmentId: $("#assignmentId")[0].value, documentIds: $('#documentIds').val(), documentTypeId: 0, statusId: $("#ddlStatusList").val()
        },
        function (myData) {

            $("#divDocumentsemail1").html(myData);
            $("#divDocumentsemail1").show();
            $("#divDocumentsemail1Loading").hide();
            centerDocumentEmailPopup();
            $("#backgroundDocumentPopup").css({
                "opacity": "0.7"
            });
            //$("#backgroundDocumentPopup").fadeIn("slow");
            $("#divDocumentEmail").fadeIn("slow");
        });
        }
        else {
            alert('Select document(s) from the list.');
        }

    }
    function disableDocumentEmailPopup() {

        $("#backgroundDocumentPopup").fadeOut("slow");
        $("#divDocumentEmail").fadeOut("slow");
    }
    function centerDocumentEmailPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divDocumentEmail").height();
        var popupWidth = $("#divDocumentEmail").width();
        //centering  
        $("#divDocumentEmail").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $("#backgroundDocumentPopup").css({
            "height": windowHeight
        });
        return false;
    }

    function htmlEncode(value) {
       //create a in-memory div, set it's inner text(which jQuery automatically encodes)
       //then grab the encoded contents back out.  The div never exists on the page.
       return $('<div/>').text(value).html();
     }
    function sendEmail() {
        var mailbody = htmlEncode($('#body').val());
        var mailsub = htmlEncode($('#subject').val());
        var mergedoc = $('#mergedoc:checked').val();
        if (mergedoc =='1') {
            var mergedocs = 1;
        }
        else {
            var mergedocs = 0;
        }
       
        var doclistsorted = "" ;
        $('#Documentlist').find('li').each(function (index) {
            doclistsorted = doclistsorted + $(this).attr('id').trim() + ",";
        });
        doclistsorted = doclistsorted.substring(0, doclistsorted.length-1);
        

      //  alert(doclistsorted);
        $("#imgClaimDocEmailProgress").show();
        $.post('@Url.Content("~/PropertyAssignment/EmailDocuments")',
                {
                    //assignmentId: $('#assignmentId').val(), documentIds: $('#documentIds').val(), setReplyToEmail: $("#cbSetReplyTo").is(":checked") ? "1" : "0", toEmails: $('#toEmails').val(), subject: mailsub, body: mailbody 
                    assignmentId: $('#assignmentId').val(), documentIds: doclistsorted, setReplyToEmail: $("#cbSetReplyTo").is(":checked") ? "1" : "0", toEmails: $('#toEmails').val(), subject: mailsub, body: mailbody, mergedoc: mergedocs
                },
                function (data) {
                    
                    if (data == 2) {
                        $("#imgClaimDocEmailProgress").hide();

                        $('#emaildocerrormsg').text("Total file size greater than 15 MB.Please select fewer files.");
                        $('#emaildocerrormsg').css('display', 'block');
                    }
                    else {
                        $("#imgClaimDocEmailProgress").hide();
                        disableDocumentPopups();
                    }

                });

    }
</script>
<table width="100%">
    <tr>
        <td width="100%"><b>@Model.ClaimDocumentType.DocumentTypeDesc</b> </td>
        <td nowrap="nowrap" align="right">Status: @Html.DropDownListFor(model => model.StatusId, Model.StatusList, new { @id = "ddlStatusList" })
            <input type="button" onclick="btnDocListFilter_Click()" value="Filter" class="buttonYellow_100" />
        </td>
        <td nowrap="nowrap">
            @if (loggedInUser.UserTypeId != 11)
            {
              if(loggedInUser.UserTypeId != 1 || loggedInUser.AssignedRights.Contains((byte)1))
              {
                if(Model.IsFTPDocExportEnabled)
                {
                    @:<input type="button" onclick="loadDocumentFTPPopup()" value="FTP" class="buttonLightYellow_100" />&nbsp;
                }
                @:<input type="button" onclick="loadDocumentEmailPopup()" value="Email" class="buttonLightYellow_100" />&nbsp;
                @:<input type="button" onclick="changeDocumentStatus(1)" value="Approve" class="buttonLightYellow_100" />&nbsp;
                @:<input type="button" onclick="changeDocumentStatus(0)" value="Reject" class="buttonLightYellow_100" />&nbsp;
              }
            }
            @{
                if (Model.DocumentTypeId != 0) //0 indicates All Document Types
                {
                    bool flag = true;//display simple document upload view
                    if (Model.ClaimDocumentType.GenerateForm.HasValue)
                    {
                        if (Model.ClaimDocumentType.GenerateForm.Value)
                        {
                            //display correspondence view
                            flag = false;
                        }
                    }
                    if (flag)
                    {
                <input type="button" onclick="loadDocumentUploadPopup()" value="Add Document" class="buttonLightYellow_100" />
                    }
                    else
                    {
                <input type="button" onclick="loadClaimCorrespondenceDocumentPopup()" value="Add Document" class="buttonLightYellow_100" />
                    }
                }
            
            }
            @if (Model.DocumentTypeId == 7)
            {
                @:<input type="button" onclick="OpenTemplateToemailUtility1()" value="Correspondence" class="buttonLightYellow_100" />&nbsp;
                    }

        </td>
    </tr>
</table>




<br />
@if (@Model.DocumentsPreviousList.Count != 0)
{
    <b>Most Recent Uploaded Document</b>
}
<table id="tblDocumentsList" width="100%" cellspacing="0" cellpadding="4">
    <thead>
        <tr class="tableHeader">
            <td></td>
            @if (Model.DocumentTypeId != null)
            {
                if (Model.DocumentTypeId == 0)
                {
                <td nowrap="nowrap">Document Type</td>
                }
            }

            <td nowrap="nowrap">Uploaded Date</td>
            <td nowrap="nowrap" width="100%">Title</td>
            <td nowrap="nowrap">File Name</td>
            <td nowrap="nowrap">Uploaded By</td>
            <td nowrap="nowrap">Status</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @{
            int rowIndex = 0;
            foreach (BLL.DocumentsList_Result document in Model.DocumentsList)
            {
            <tr @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>
                <td>
                    <input style="padding-left:3px;" type ="checkbox" class="ClassCBDocuments" name="cbDocuments" value="@document.DocumentId" onchange="CallOnEachCheckBoxChangeEvent()"  /></td>
                @if (Model.DocumentTypeId != null)
                {
                    if (Model.DocumentTypeId == 0)
                    {
                    <td nowrap="nowrap">@document.DocumentTypeDesc</td>
                    }
                }
                <td nowrap="nowrap">@document.DocumentUploadedDate.ToString("MM/dd/yyyy")</td>
                <td>@document.Title</td>
                <td nowrap="nowrap">
@{
        string absoluteFileName = document.AssignmentId + "/" + document.DocumentTypeId + "/" + document.DocumentPath;
        string fileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName,absoluteFileName);
}
                    @*<a href="@fileUrl" target="_blank">
                        <img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;"/></a>*@

                    <a href="@Url.Action("documentacess", "PropertyAssignment", new { AssignmentId = document.AssignmentId, fileurl = Cypher.EncryptString(fileUrl), filename = document.DocumentPath })"><img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" /></a>

                    @document.DocumentPath</td>
                <td nowrap="nowrap">@document.DocumentUploadedByUser</td>
                <td nowrap="nowrap">@(document.StatusDesc)</td>
                <td nowrap="nowrap">
                    @if (loggedInUser.UserTypeId != 11 && loggedInUser.UserTypeId != 1)
                    {
                        <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="deleteClaimDocument('@document.DocumentId','@Model.DocumentTypeId')">
                            <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                        </a>
                    }
                </td>
            </tr>
                    rowIndex++;
            }
            if (rowIndex == 0)
            {
            <tr>
                <td align="center" colspan="4">
                    <br />
                    - Documents not uploaded -<br />
                    <br />
                </td>
            </tr>
            }
        }
    </tbody>
</table>

@if (Model.DocumentsPreviousList.Count > 0)
{
    <br />
    <br />
    <b>Previously Uploaded Documents</b>
    <table id="tblDocumentsPreviousList" width="100%" cellspacing="0" cellpadding="4">
        <thead>
            <tr class="tableHeader">
                <td></td>
                @if (Model.DocumentTypeId != null)
                {
                    if (Model.DocumentTypeId == 0)
                    {
                    <td nowrap="nowrap">Document Type</td>
                    }
                }

                <td nowrap="nowrap">Uploaded Date</td>
                <td nowrap="nowrap" width="100%">Title</td>
                <td nowrap="nowrap">File Name</td>
                <td nowrap="nowrap">Uploaded By</td>
                <td nowrap="nowrap">Status</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @{
                int rowIndexPrevDoc = 0;
                foreach (var document in Model.DocumentsPreviousList)
                {
                <tr @(rowIndexPrevDoc % 2 == 0 ? "class=tableRowAlternate" : "")>
                    <td>
                        <input style="padding-left:3px;" type ="checkbox" class="ClassCBDocuments" name="cbDocuments" value="@document.DocumentId" onchange="CallOnEachCheckBoxChangeEvent()"  /></td>
                    @if (Model.DocumentTypeId != null)
                    {
                        if (Model.DocumentTypeId == 0)
                        {
                        <td nowrap="nowrap">@document.DocumentTypeDesc</td>
                        }
                    }
                    <td nowrap="nowrap">@document.DocumentUploadedDate.ToString("MM/dd/yyyy")</td>
                    <td>@document.Title</td>
                    <td nowrap="nowrap">
@{
        string absolutePrevFileName = document.AssignmentId + "/" + document.DocumentTypeId + "/" + document.DocumentPath;
        string prevFileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName,absolutePrevFileName);
}
                        @*<a href="@prevFileUrl" target="_blank">
                            <img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;"/></a>*@

                        <a href="@Url.Action("documentacess", "PropertyAssignment", new { AssignmentId = document.AssignmentId, fileurl = Cypher.EncryptString(prevFileUrl), filename = document.DocumentPath })"><img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" /></a>

                        @document.DocumentPath</td>
                    <td nowrap="nowrap">@document.DocumentUploadedByUser</td>
                    <td nowrap="nowrap">@(document.StatusDesc)</td>
                    <td nowrap="nowrap">
  @if (loggedInUser.UserTypeId != 11 && loggedInUser.UserTypeId != 1)
                    {
                        <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="deleteClaimDocument('@document.DocumentId','@Model.DocumentTypeId')">
                            <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                        </a>
}
                    </td>
                </tr>
                    rowIndexPrevDoc++;
                }
                if (rowIndexPrevDoc == 0)
                {
                <tr>
                    <td align="center" colspan="4">
                        <br />
                        - Documents not uploaded -<br />
                        <br />
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
}

@if (Model.DocumentsRejectedList != null && Model.DocumentsRejectedList.ToList().Count > 0)
{

    
    <br />
    <br />
    <b>Rejected Documents</b>
    <table id="tblDocumentsRejectedList" width="100%" cellspacing="0" cellpadding="4">
        <thead>
            <tr class="tableHeader">
                <td></td>
                @if (Model.DocumentTypeId != null)
                {
                    if (Model.DocumentTypeId == 0)
                    {
                    <td nowrap="nowrap">Document Type</td>
                    }
                }

                <td nowrap="nowrap">Uploaded Date</td>
                <td nowrap="nowrap" width="100%">Title</td>
                <td nowrap="nowrap">File Name</td>
                <td nowrap="nowrap">Uploaded By</td>
                <td nowrap="nowrap">Status</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @{
                int rowIndexRejDoc = 0;
                foreach (var document in Model.DocumentsRejectedList)
                {
                <tr @(rowIndexRejDoc % 2 == 0 ? "class=tableRowAlternate" : "")>
                    <td>
                        <input style="padding-left:3px;" type ="checkbox" class="ClassCBDocuments" name="cbDocuments" value="@document.DocumentId" onchange="CallOnEachCheckBoxChangeEvent()"  /></td>
                    @if (Model.DocumentTypeId != null)
                    {
                        if (Model.DocumentTypeId == 0)
                        {
                        <td nowrap="nowrap">@document.DocumentTypeDesc</td>
                        }
                    }
                    <td nowrap="nowrap">@document.DocumentUploadedDate.ToString("MM/dd/yyyy")</td>
                    <td>@document.Title</td>
                    <td nowrap="nowrap">
                        @{
                            
                    //string absoluteFileName = document.AssignmentId + "/" + document.DocumentTypeId + "/" + document.DocumentPath;
                    //string baseFolder = "/UserUploads/PropertyAssignmentDocuments/";
                    //string RejFileUrl = baseFolder + "/" + absoluteFileName;
                    
                    string absolutePrevFileName = document.AssignmentId + "/" + document.DocumentTypeId + "/" + document.DocumentPath;
                    string RejFileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName, absolutePrevFileName);
                        }
                        @*<a href="@RejFileUrl" target="_blank">
                            <img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;"/></a>*@

                        <a href="@Url.Action("documentacess", "PropertyAssignment", new { AssignmentId = document.AssignmentId, fileurl = Cypher.EncryptString(RejFileUrl), filename = document.DocumentPath })"><img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" /></a>

                        @document.DocumentPath</td>
                    <td nowrap="nowrap">@document.DocumentUploadedByUser</td>
                    <td nowrap="nowrap">@(document.StatusDesc)</td>
                    <td nowrap="nowrap">
                        @if (loggedInUser.UserTypeId != 11 && loggedInUser.UserTypeId != 1)
                        {
                            <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="deleteClaimDocument('@document.DocumentId','@Model.DocumentTypeId')">
                                <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                            </a>
                        }
                    </td>
                </tr>
                        rowIndexRejDoc++;
                }
                if (rowIndexRejDoc == 0)
                {
                <tr>
                    <td align="center" colspan="4">
                        <br />
                        - Documents not found -<br />
                        <br />
                    </td>
                </tr>
                }
                
            }
        </tbody>
    </table>

}
<div id="backgroundDocumentPopup" onclick="disableDocumentPopups();"></div>
<div id="divDocumentUpload" class="EditPopup">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Add Document</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="refreshDocumentsList('@Url.Action("ClaimDocumentsList", new { claimId = Model.ClaimId, assignmentId = Model.AssignmentId, documentTypeId = Model.DocumentTypeId })')" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <input type="hidden" id="hdnIFrameSrcUrl" 
 value="@Url.Action("UploadClaimDocument", new { assignmentId = Model.AssignmentId, documentTypeId = Model.DocumentTypeId })" />
                <iframe id="iframeUploadDocument" src="@Url.Action("UploadClaimDocument", new { assignmentId = Model.AssignmentId, documentTypeId = Model.DocumentTypeId })" width="100%" height="150" frameborder="0" scrolling="no"></iframe>
            </td>
        </tr>


    </table>

</div>
<div id="divClaimCorrespondenceDocument" class="EditPopup" style="width: 450px;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Add Document</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="refreshDocumentsList('@Url.Action("ClaimDocumentsList", new { claimId = Model.ClaimId, assignmentId = Model.AssignmentId, documentTypeId = Model.DocumentTypeId })')" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <input type="hidden" id="hdnClaimCorrespondenceIFrameSrcUrl" 
 value="@Url.Action("ClaimCorrespondenceDocument", new { assignmentId = Model.AssignmentId, documentTypeId = Model.DocumentTypeId })" />
                <iframe id="iframeClaimCorrespondence" src="@Url.Action("ClaimCorrespondenceDocument", new { assignmentId = Model.AssignmentId, documentTypeId = Model.DocumentTypeId })" width="450" height="400" frameborder="0" scrolling="auto"></iframe>
            </td>
        </tr>


    </table>

</div>

<div id="divDocumentEmail" class="EmailEditPopup">
    @*  @using (Ajax.BeginForm("EmailDocuments", new AjaxOptions { OnSuccess = "processEmailSent()", OnFailure = "processEmailFailure()" }))
    {
    *@
@*    <input type="hidden" id="assignmentId" name="assignmentId" value="@Model.AssignmentId" />*@
    <input type="hidden" id="documentIds" name="documentIds" />
    <div id="divDocumentsemail1" style="display: none;">
        @*        @Html.Partial("ClaimEmailDocuments")*@
    </div>
    <div id="divDocumentsemail1Loading" style="display: none;">
        <img id="Notesprogress_image"  style="vertical-align:middle;  padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
    </div>


    @*    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td> @Html.Partial("_EmailDocumentsZip")</td>
        </tr>
        <tr>
            <td class="footer" style="text-align: right">
                <img id="imgClaimDocEmailProgress" height="16" width="16"  style="vertical-align:middle;display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                <input type="submit" value="Send Email" class="buttonYellow_100" onclick="sendEmail()" />
            </td>
        </tr>
    </table>*@
    @*<table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Email Documents</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableDocumentPopups()" />
                                </div>




                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content" align="center">

                    <input type="hidden" id="assignmentId" name="assignmentId" value="@Model.AssignmentId" />
                    <input type="hidden" id="documentIds" name="documentIds" />
                    @Html.Partial("_EmailDocumentsZip")


                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <table>
                            <tr>
                                <td>
                                  
                                </td>
                                <td>

                                </td>
                            </tr>

                        </table>

                    </div>

                </td>
            </tr>
            <tr>
                <td class="footer" style="text-align: right">
                    <img id="imgClaimDocEmailProgress" height="16" width="16"  style="vertical-align:middle;display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                    <input type="submit" value="Send Email" class="buttonYellow_100" onclick="sendEmail()" />
                </td>
            </tr>
        </table>*@

</div>
<div id="divDocumentFTP" class="EditPopup" style="width:600px">

      <div id="divDocumentsftp1" style="display: none;">
        @*        @Html.Partial("ClaimEmailDocuments")*@
    </div>
    <div id="divDocumentsftp1Loading" style="display: none;">
        <img id="Notesprogress_image"  style="vertical-align:middle;  padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
    </div>

@*
    <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">
                    <table width="100%">
                        <tr>
                            <td align="left"><b>FTP</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableDocumentFTPPopup()" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content" align="center">
<br />
<br />
                    Transfer selected document(s) to the FTP account?
                <br />
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="dvattachments">

                    <div id="Documentlist">
                        <ul id="sortablebasic">

                            @{foreach (var doc in Model.DocumentsListMail)
                              {
                                <li class="sortable" id="@doc.DocumentId ">@doc.Title  </li>
                              }
                            }
                        </ul>
                    </div>
                </div>

            </td>

        </tr> 
        <tr>
            <td class="footer" style="text-align: right">
                <img id="imgDocFTPProgress" height="16" width="16"  style="vertical-align:middle;display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                <input type="submit" value="Transfer" class="buttonYellow_100" onclick="transferDocToFTP()" />
            </td>
        </tr>
    </table>*@

</div>
