﻿@model BLL.ViewModels.XACTClaimsInfoViewModel
@using CSS

@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

@*<link href="~/Content/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/kendo.dataviz.min.css" rel="stylesheet" />
<link href="~/Content/kendo.dataviz.default.min.css" rel="stylesheet" />*@
@*  <script src="js/jquery.min.js"></script>*@
@*<script src="@Url.Content("~/Scripts/jquery.min.js")" ></script>*@
@*   <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.dataviz.default.min.css" rel="stylesheet" />
    <script src="http://cdn.kendostatic.com/2014.1.528/js/jquery.min.js"></script>
   <script src="http://cdn.kendostatic.com/2014.1.528/js/kendo.all.min.js" ></script>*@

<script type="text/javascript">

    function RequirementSuceess() {
        $('#divRequirementsMessage').css('display', 'block');
        $('#divRequirementsMessage').empty().append('Changes saved Successfully!');
    }
    //OnSuccess = "RequirementSuceess()" 
    function RequirementFailed() {
        $('#divRequirementsMessage').css('display', 'block');
        $('#divRequirementsMessage').empty().append('Some error occoured!');
    }

    function ResetMessage() {

        $('#divRequirementsMessage').empty();
    }

    function ExecuteOnLoad() {
        var ActiveMainTab = '@Model.ActiveMainTab';
        if (ActiveMainTab.length != 0) {
            if (ActiveMainTab == "Details") {
                showView(0);
            }
            else if (ActiveMainTab == "Triage") {
                showTriageView('@Url.Action("TriageDetails", new { assignmentId = Model.PropertyAssignment.AssignmentId })', '2');
            }
    }
}
function getDocumentsList(claimId, assignmentId, documentTypeId, statusId) {
    //    console.log(claimId);
    //  console.log(assignmentId);
    // console.log(documentTypeId);
    $("#divDocumentsList").empty();
    $("#divDocumentsListLoading").show();
    $.ajaxSetup({ cache: false });
    $.getJSON(
    '@Url.Action("ClaimDocumentsList")',
        {
            claimId: claimId, assignmentId: assignmentId, documentTypeId: documentTypeId, statusId: statusId
        },
        function (myData) {
            //       console.log(myData);
            $("#divDocumentsList").html(myData);
            $("#divDocumentsListLoading").hide();
            //     console.log("end");
        });

}
function getFinaciallist(claimid) {


    $.ajax({
        url: '@Url.Action("GetFinacialList", "PropertyAssignment")',
        contentType: 'application/json; charset=utf-8',
        data: { claimid: claimid },
        cache: false,
        success: function (result) {
            $('#tabReserves').empty().append(result);

        },
        error: function (error) {

        }
    });
        showView('7');
    }
    function showTriageView(url, tabid) {
        $("#divTriage").empty();
        $("#divTriageLoading").show();
        $.ajaxSetup({ cache: false });
        $.getJSON(
        url,
        function (myData) {

            $("#divTriage").html(myData);
            $("#divTriageLoading").hide();
        });
        showView(tabid);
    }

    function showFinancialsView(url, tabid) {
        $("#divFinancials").empty();
        $("#divFinancialsLoading").show();
        $.getJSON(
        url,
        function (myData) {
            $("#divFinancials").html(myData);
            $("#divFinancialsLoading").hide();
        }).error(function (err) {
            //alert(err.responseText);
        });
        showView(tabid);
    }
    function showRequirementsView(assignmentId, tabid) { //JAY

        $("#divRequirementsContent").empty();
        $("#divRequirementLoading").show();
        $.ajax({
            url: '@Url.Action("Requierments", "PropertyAssignment")',
            contentType: 'application/json; charset=utf-8',
            data: { assignmentId: assignmentId },
            cache: false,
            success: function (result) {
                $('#divRequirementsContent').empty().append(result);
                $("#divRequirementLoading").hide();
            },
            error: function (error) {
                alert(error);
            }
        });
        showView(tabid);
    }


    function getDiariesList(url, tabid) {
        $("#divDiaries").empty();
        $("#divDiariyListLoading").show();

        $.ajaxSetup({ cache: false });
        $.getJSON(
        url,
        function (myData) {
            $("#divDiaries").html(myData);
            $("#divDiariyListLoading").hide();
        });
        showView(tabid);
    }

    function bindDiaries(data) {
        $("#divDiaries").empty();
        $("#divDiaries").html(data);
    }
    function getNotesList(tabid) {
        //check if ddlNotesDisplayType exists. If not make use of default value.
        displayType = $("#ddlNotesDisplayType").length != 0 ? $("#ddlNotesDisplayType").val() : "0";
        $('#divNotesHistory').empty();
        $("#divNotesListLoading").show();
        $.ajax({
            url: '@Url.Action("GetNotesList", "PropertyAssignment")',
            contentType: 'application/json; charset=utf-8',
            data: { claimid: '@Model.PropertyAssignment.ClaimId', DisplayType: displayType },
            cache: false,
            success: function (result) {
                $('#divNotesHistory').empty().append(result);
                $("#divNotesListLoading").hide();
            },
            error: function (error) {
            }
        });
        showView(tabid);
    }

    function NotesHistoryRF(Claimid, FirstPage1, CurrentPage1) {
        var displayType = $('#ddlNotesDisplayType').val();
        $("#divNotesListLoading").show();
        $.post('@Url.Content("~/PropertyAssignment/GetNotesList")',
               {
                   claimid: Claimid, FirstPage: FirstPage1, CurrentPage: CurrentPage1, DisplayType: displayType
               },
                 function (data) {
                     $('#divNotesHistory').empty().append(data);
                     $("#divNotesListLoading").hide();
                 });
        showView(5);
    }

    function showView(id) {
        element = document.getElementById('divDetails');
        element.style.display = 'none';
        element = document.getElementById('divClientPolicy');
        element.style.display = 'none';
        element = document.getElementById('divTriage');
        element.style.display = 'none';
        element = document.getElementById('divRequirements');
        element.style.display = 'none';
        element = document.getElementById('divDiaries');
        element.style.display = 'none';
        element = document.getElementById('divNotesHistory');
        element.style.display = 'none';
        element = document.getElementById('divDocuments');
        element.style.display = 'none';
        element = document.getElementById('divFinancials');
        element.style.display = 'none';

        if (id == 0) {
            element = document.getElementById('divDetails');
            element.style.display = 'block';
        }
        else if (id == 1) {
            element = document.getElementById('divClientPolicy');
            element.style.display = 'block';
        }
        else if (id == 2) {
            element = document.getElementById('divTriage');
            element.style.display = 'block';
        }
        else if (id == 3) {
            element = document.getElementById('divRequirements');
            element.style.display = 'block';
        }
        else if (id == 4) {
            element = document.getElementById('divDiaries');
            element.style.display = 'block';
        }
        else if (id == 5) {
            element = document.getElementById('divNotesHistory');
            element.style.display = 'block';
        }
        else if (id == 6) {
            element = document.getElementById('divDocuments');
            element.style.display = 'block';
            getDocumentsList('@Model.PropertyAssignment.ClaimId', '@Model.PropertyAssignment.AssignmentId', '0');
        }
        else if (id == 7) {
            element = document.getElementById('divFinancials');
            element.style.display = 'block';

        }
}

function OpenemailUtility(emailid, phoneNum, emailSubject) {
    $('#divEmailUtility').css("display", "block");
    loadEmailUtilityPopup(emailid, '@CSS.AuthenticationUtility.GetUser().Email', '@Model.PropertyAssignment.AssignmentId', phoneNum, emailSubject);
    }
    function OpenTemplateToemailUtility1() {
         $('#divTemplateToEmailUtility1').css("display", "block");
       //  $('#TemplateToEmailUtilitbackgroundPopup1').css("display", "block");
         loadTemplateToEmailUtilityPopup1('@Model.PropertyAssignment.AssignmentId', '@Model.claim.ClaimId');
       
    }
</script>
<!-- Jay For Edit popup -->
<script type="text/javascript">
    function disableAllPopups() {
        disableEditClaimPopup();
    }
    function loadEditClaimPopup(url) {
        //alert('' + url);
        document.getElementById("iframeEditClaim").src = url;
        centerEditClaimPopup();

        $("#backgroundPopup").css({
            "opacity": "0.7"
        });

        $("#backgroundPopup").fadeIn("slow");
        $("#divEditClaim").fadeIn("slow");

        return false;
    }

    function disableEditClaimPopup() {

        $("#backgroundPopup").fadeOut("slow");
        $("#divEditClaim").fadeOut("slow");
        // loadSubmit();

        // document.forms["formSearch"].submit();

        //location.href = '@Url.Content("~/PropertyAssignment/Details?claimid=" + @Model.claim.ClaimId)';
        location.href = '@Url.Content("~/PropertyAssignment/Details?claimid=" + Cypher.EncryptString(@Model.claim.ClaimId.ToString()))';
    }
    function centerEditClaimPopup() {


        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divEditClaim").height();
        var popupWidth = $("#divEditClaim").width();
        //centering  
        $("#divEditClaim").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#backgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }
    function loadSubmit() {
        var ProgressImage = document.getElementById("progress_image");
        document.getElementById("progress").style.visibility = "visible";
        setTimeout(function () { ProgressImage.src = ProgressImage.src }, 100);
        return true;
    }
</script>


<input type="hidden" name="hdnClaimID" id="hdnClaimID" value="@Model.claim.ClaimId" />
<table width="100%">
    <tr>
        <td class="mainHeader">
            <table>
                <tr>
                    <td nowrap="nowrap">Assignment/Claim Details&nbsp;</td>
                    <td>@{
                        if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3)
                        {
                        <a href="#" onclick="loadEditClaimPopup('@Url.Action("PropertyAssignment", "PropertyAssignment", new { claimid = Model.claim.ClaimId })')" style="border: none; color: black; cursor: pointer;float:left;">
                            <img alt="Edit" src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="16" height="16" style="border: none; vertical-align: bottom;" />
                        </a>
                        }
                                    
                    }</td>
                    <td nowrap="nowrap">
                        @{
                            //BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                            //BLL.Claim claim = css.Claims.Find(claiminfo.ClaimId);
                            bool displayAssignSPIcon = false;
                            bool displayReAssignSPIcon = false;
                            if (Model.PropertyAssignment.OAUserID == null)
                            {
                                displayAssignSPIcon = true;
                            }
                            else
                            {
                                if (Model.PropertyAssignment.OAUserID == 0)
                                {
                                    displayAssignSPIcon = true;
                                }
                                else
                                {
                                    if (Model.PropertyAssignment.FileStatus == 1 || Model.PropertyAssignment.FileStatus == 3 || Model.PropertyAssignment.FileStatus == 4 || Model.PropertyAssignment.FileStatus == 5 || Model.PropertyAssignment.FileStatus == 6 || Model.PropertyAssignment.FileStatus == 8 || Model.PropertyAssignment.FileStatus == 8)
                                    {
                                        displayReAssignSPIcon = true;
                                    }
                                }
                            }

                            if (displayAssignSPIcon)
                            {
                                if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2))
                                {
                
                            <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = Model.PropertyAssignment.AssignmentId })" style="border: none; color: black; cursor: pointer;float:left;">
                                <img src="@Url.Content("~/Content/Images/AddUserIcon01.png")" title="Assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;" />
                            </a>
                                            
                                }
                            }
                        }
                    </td>
                    <td nowrap="nowrap">
                        @if (!displayAssignSPIcon)
                        {
                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2))
                            {
                                if (displayReAssignSPIcon)
                                {
                            <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = Model.PropertyAssignment.AssignmentId })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                <img src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Re-assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;padding-right:4px;" />
                            </a>
                                }
                            }
                        }
                    </td>
                </tr>
            </table>


        </td>
    </tr>
    <tr>
        <td>
            <table style="width: 100%">
                <tr>
                    <td class="subHeading">Summary</td>
                </tr>
                <tr>
                    <td class="content">
                        <table>
                            <tr>
                                <td nowrap="nowrap" valign="top">
                                    <b>Claim #:</b></td>
                                <td width="100%" colspan="2" nowrap="nowrap">
                                    @Model.claim.ClaimNumber</td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" valign="top">
                                    <b>CAT Code:</b></td>
                                <td width="100%" nowrap="nowrap" colspan="2">
                                    @Model.claim.CatCode</td>

                            </tr>
                            <tr>
                                <td nowrap="nowrap" valign="top">
                                    <b>Insured Name:</b></td>
                                <td width="100%">
                                    @Model.claim.InsuredFirstName @Model.claim.InsuredLastName</td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" valign="top">
                                    <b>RCV:</b></td>
                                <td width="100%">
                                    @(Model.claim.RCV.HasValue ? String.Format("{0:$0.00}", Model.claim.RCV) : "") </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="subFooter">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="3" cellspacing="0"
                            style="border-top-style: solid; border-bottom-style: solid; border-width: 1px; border-color: #999999"
                            width="100%">
                            <tr>
                                <td align="center">
                                    <a href="#" onclick="showView(0)">Details</a>

                                </td>
                                <td align="center"
                                    style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                    <a href="#" onclick="showView(1)">Client/Policy</a>

                                </td>
                                <td align="center"
                                    style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                    <a href="#" onclick="showTriageView('@Url.Action("TriageDetails", new { assignmentId = Model.PropertyAssignment.AssignmentId })','2')">Triage</a></td>
                                <td align="center"
                                    style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                    @*                                    <a href="#" onclick="showRequirementsView('@Url.Action("Requierments", new { assignmentId = Model.PropertyAssignment.AssignmentId })','3')">Requirements</a></td>*@
                                    <a href="#" onclick="showRequirementsView('@Model.PropertyAssignment.AssignmentId','3')">Requirements</a></td>

                                <td align="center"
                                    style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                    <a href="#" onclick="getDiariesList('@Url.Action("ClaimDiariesList", new { assignmentId = Model.PropertyAssignment.AssignmentId })','4')">Tasks/Diary</a></td>
                                <td align="center"
                                    style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                    <a href="#" onclick="getNotesList('5')">Notes</a>

                                </td>
                                <td align="center"
                                    style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                    <a href="#" onclick="showView('6')">Documents</a>

                                </td>
                                @*<td align="center" 
                style="border-left-style: solid; border-width: 1px; border-color: #999999">
                Photos</td>*@
                                <td align="center"
                                    style="border-left-style: solid; border-width: 1px; border-color: #999999">
                                    @*<a href="#" onclick="getFinaciallist('@Model.PropertyAssignment.ClaimId')">Financials</a>*@
                                    @if (loggedInUser.UserTypeId != 11)
                                    {
                                        <a href="#" onclick="showFinancialsView('@Url.Action("Financials", new { claimId = Model.PropertyAssignment.ClaimId })',7)">Financials</a>
                                    }

                                </td>
                                <td align="center">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                        <div id="divDetails">
                            @Html.Partial("_AssignmentDetailsBasic")
                        </div>
                        <div id="divClientPolicy" style="display: none;">
                            @Html.Partial("_AssignmentDetailsClientPolicy")
                        </div>
                        <div id="divTriageLoading" style="display: none;">
                            <img id="progress_image"  style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                        </div>
                        <div id="divTriage" style="display: none;">
                        </div>
                        <div id="divRequirementLoading" style="display: none;">
                            <img id="progress_image"  style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                        </div>
                        <div id="divRequirements" style="display: none;">
                            <div id="divRequirementsMessage" class="errorMsg"></div>
                            @using (Ajax.BeginForm("Requirements", "PropertyAssignment", null, new AjaxOptions { HttpMethod = "POST", OnFailure = "RequirementFailed();", OnSuccess = "RequirementSuceess();" }, new { id = "frmRequirements" }))
                            {
                                <table align="left" cellpadding="3" cellspacing="0" width="100%">
                                    <tr>
                                        <td class="mainHeader">Requirements</td>
                                    </tr>
                                    <tr>
                                        <td class="content">
                                            <div id="divRequirementsContent"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="right" class="footer">
                                            <img id="imgProcessingSaveTriage" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                                            <input type="submit" class="buttonYellow_100" value="Save" />
                                            @* <input type="button" class="buttonLightYellow_100" value="Reset" onclick="resetTriageForm()" />*@
                                        </td>
                                    </tr>
                                </table>
                           
                            }
                        </div>
                        <div id="divNotesListLoading" style="display: none;">
                            <img id="Notesprogress_image"  style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                        </div>
                        <div id="divNotesHistory" style="display: none;">
                            @*@Html.Partial("_AssignmentDetailsNotesHistory")*@
                        </div>

                        <div id="divDocuments" style="display: none;">
                            @Html.Partial("_AssignmentDetailsDocuments")
                        </div>
                        <div id="divDiariyListLoading" style="display: none;">
                            <img id="progress_image"  style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                        </div>
                        <div id="divDiaries" style="display: none;">
                            @* @Html.Partial("_AssignmentDetailsDiariesList")*@
                        </div>
                        <div id="divFinancialsLoading" style="display: none;">
                            <img style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />Loading...
                        </div>
                        <div id="divFinancials" style="display: none;">
                            @Html.Partial("_AssignmentDetailsFinancials")
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="footer">
            @using (Html.BeginForm("Search", "PropertyAssignment", FormMethod.Get))
            {
                <input type="submit" class="buttonLightYellow_100" value="Back" />
            }

        </td>
    </tr>
</table>
<div id="backgroundPopup"></div>
<div id="divEmailUtility" style="display: none;">
    @Html.Partial("_EmailUtility")
</div>
<div id="divEditClaim" class="EditPopup" style="width: 1000px;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Edit Claim/Assignment</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableEditClaimPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <iframe id="iframeEditClaim" width="1000" height="600" frameborder="0" scrolling="auto"></iframe>
            </td>
        </tr>


    </table>

</div>
<div id="divTemplateToEmailUtility1" style="display:none">
    @Html.Partial("_TemplateToEmailUtility1")
</div>
