﻿@{
    Layout = "~/Views/Shared/_subNewsLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-9 main-content-wrap">

            <article id="post-2658" class="post-2658 post type-post status-publish format-standard has-post-thumbnail hentry category-events pmpro-has-access odd">

                <div class="row">

                    <div class="col-md-12">
                        <header class="entry-header text-center">
                            <img width="800" height="319" src="~/wp-content/uploads/2016/07/header-8.png" class="img-responsive wp-post-image" alt="header-8" srcset="~/wp-content/uploads/2016/07/header-8.png 800w, ~/wp-content/uploads/2016/07/header-8-300x120.png 300w" sizes="(max-width: 800px) 100vw, 800px">				<div class="label-ribbon-row {f}">
                                <div class="label-info-ribbon-row-wrapper">
                                    <div class="label-info-ribbon-row">
                                        <div class="ribbons" id="ribbon-15">
                                            <div class="ribbon-wrap">
                                                <div class="content">
                                                    <div class="ribbon">
                                                        <span class="ribbon-span">
                                                            Jul 24 2016
                                                        </span>
                                                    </div>
                                                </div><!-- /.content -->
                                            </div><!-- /.ribbon-wrap -->
                                        </div><!-- /.ribbons -->
                                    </div><!-- /.label-info-ribbon -->
                                </div><!-- /.ribbon-wrapper -->
                            </div><!-- /.label-ribbon -->
                        </header><!-- .entry-header -->
                    </div><!-- col-md-4 -->

                </div>
                <div class="row entry-author-info-wrap">
                    <div class="col-md-2 col-xs-2 entry-author-image">
                        <a>
                            <div class="javo-thb" style="width:80px; height:80px; background-image:url('/wp-content/uploads/2016/04/dennis.omahoney7-250x250.jpg');"></div>
                        </a>
                    </div>
                    <div class="col-md-10 col-xs-10 entry-author-meta-wrap">
                        <div class="entry-author-name">Dennis O'Mahoney</div>
                        <div class="entry-author-social">
                            <div class="entry-author-category">
                                <i class="fa fa-bookmark-o"></i>
                                <a href="~/category/events/" rel="category tag">Events</a>
                            </div>
                            <div class="pull-left" style="margin:0 10px;">
                                <span class="separator">/</span>
                            </div>
                            <div class="entry-author-comment">
                                <i class="fa fa-comments-o"></i>
                                <a href="~/the-47th-iada-vehicle-repair-conference-was-a-huge-success/#respond">0 Comment</a>
                            </div>
                        </div>
                    </div>
                </div><!--row entry-author-info-wrap-->
                <div class="row entry-description-wrap">
                    <div class="col-md-12 entry-description">
                        <h1 class="entry-title">The 47th IADA Vehicle Repair Conference Was a Huge Success</h1>
                        <div class="single-post-meta row">
                            <div class="col-md-10 post-meta-infor">

                            </div> <!-- col-md-10 -->

                            <div class="col-md-2 text-right post-social">
                                <span class="javo-sns-wrap social-wrap">
                                    <i class="sns-facebook" data-title="The 47th IADA Vehicle Repair Conference Was a Huge Success" data-url="~/the-47th-iada-vehicle-repair-conference-was-a-huge-success/">
                                        <a class="facebook javo-tooltip" title="" data-original-title="Share Facebook"></a>
                                    </i>
                                    <i class="sns-twitter" data-title="The 47th IADA Vehicle Repair Conference Was a Huge Success" data-url="~/the-47th-iada-vehicle-repair-conference-was-a-huge-success/">
                                        <a class="twitter javo-tooltip" title="" data-original-title="Share Twitter"></a>
                                    </i>
                                </span>
                            </div> <!-- col-md-2-->
                        </div> <!-- single-post-meta -->

                        <div class="entry-content">
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1469648944933"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div id="ultimate-heading-299157eb5cf89e621" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-299157eb5cf89e621 uvc-580 " data-hspacer="no_spacer" data-halign="center" style="text-align:center"><div class="uvc-heading-spacer no_spacer" style="top"></div><div class="uvc-main-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading-299157eb5cf89e621 h2" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:32px;&quot;,&quot;line-height&quot;:&quot;desktop:34px;&quot;}"><h2 style="font-weight:normal;margin-top:40px;margin-bottom:12px;">The 47th IADA Vehicle Repair Conference</h2></div><div class="uvc-sub-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading-299157eb5cf89e621 .uvc-sub-heading " data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:22px;&quot;,&quot;line-height&quot;:&quot;desktop:24px;&quot;}" style="font-weight:normal;margin-bottom:40px;">A Huge Success</div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-8">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_right">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="448" height="299" src="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0105.jpg" class="vc_single_image-img attachment-full" alt="2016-Auto-Damage-Repair-Conference0105" srcset="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0105.jpg 448w, ~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0105-300x200.jpg 300w" sizes="(max-width: 448px) 100vw, 448px"></div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <h4 style="text-align: left;">A Tremendous Thanks to This Year’s&nbsp;Sponsors!</h4>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <h3 style="text-align: center;">Enjoy Some Highlights</h3>

                                                </div>
                                            </div>
                                            <!-- vc_grid start -->
                                            <div class="vc_grid-container-wrapper vc_clearfix">
                                                <div class="vc_grid-container vc_clearfix wpb_content_element vc_masonry_media_grid" data-initial-loading-animation="zoomIn" data-vc-grid-settings="{&quot;page_id&quot;:2658,&quot;style&quot;:&quot;all-masonry&quot;,&quot;action&quot;:&quot;vc_get_vc_grid_data&quot;,&quot;shortcode_id&quot;:&quot;1469659402953-dae4032c-968a-6&quot;,&quot;tag&quot;:&quot;vc_masonry_media_grid&quot;}" data-vc-request="~/wp-admin/admin-ajax.php" data-vc-post-id="2658" data-vc-public-nonce="499aa586d4">
                                                    <style type="text/css">
                                                        img.wp-smiley,
                                                        img.emoji {
                                                            display: inline !important;
                                                            border: none !important;
                                                            box-shadow: none !important;
                                                            height: 1em !important;
                                                            width: 1em !important;
                                                            margin: 0 .07em !important;
                                                            vertical-align: -0.1em !important;
                                                            background: none !important;
                                                            padding: 0 !important;
                                                        }
                                                    </style>
                                                    <link rel="stylesheet" id="pmpro_admin-css" href="~/wp-content/plugins/paid-memberships-pro/css/admin.css?ver=1.8.10.1" type="text/css" media="screen">
                                                    <div class="vc_grid vc_row vc_grid-gutter-5px vc_pageable-wrapper vc_hook_hover" data-vc-pageable-content="true">
                                                        <div class="vc_pageable-slide-wrapper vc_clearfix" data-vc-grid-content="true" style="position: relative; height: 584.438px;">
                                                            <div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 0px; top: 0px;">
                                                                <div class="vc_grid-item-mini vc_clearfix ">
                                                                    <div class="vc_gitem-animated-block ">
                                                                        <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0108.jpg) !important;">
                                                                            <a href="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0108.jpg" title="2016-Auto-Damage-Repair-Conference0108" data-rel="prettyPhoto[rel--1239372422]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0108.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div><div class="vc_clearfix"></div>
                                                            </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 270px; top: 0px;">
                                                                <div class="vc_grid-item-mini vc_clearfix ">
                                                                    <div class="vc_gitem-animated-block ">
                                                                        <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0103.jpg) !important;">
                                                                            <a href="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0103.jpg" title="2016-Auto-Damage-Repair-Conference0103" data-rel="prettyPhoto[rel--1239372422]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0103.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div><div class="vc_clearfix"></div>
                                                            </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 540px; top: 0px;">
                                                                <div class="vc_grid-item-mini vc_clearfix ">
                                                                    <div class="vc_gitem-animated-block ">
                                                                        <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0101.jpg) !important;">
                                                                            <a href="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0101.jpg" title="2016-Auto-Damage-Repair-Conference0101" data-rel="prettyPhoto[rel--1239372422]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0101.jpg" class="vc_gitem-zone-img" alt="2016 Automotive Damage Repair Conference">	<div class="vc_gitem-zone-mini">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div><div class="vc_clearfix"></div>
                                                            </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 270px; top: 182px;">
                                                                <div class="vc_grid-item-mini vc_clearfix ">
                                                                    <div class="vc_gitem-animated-block ">
                                                                        <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0111.jpg) !important;">
                                                                            <a href="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0111.jpg" title="2016-Auto-Damage-Repair-Conference0111" data-rel="prettyPhoto[rel--1239372422]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0111.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div><div class="vc_clearfix"></div>
                                                            </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 540px; top: 182px;">
                                                                <div class="vc_grid-item-mini vc_clearfix ">
                                                                    <div class="vc_gitem-animated-block ">
                                                                        <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0109.jpg) !important;">
                                                                            <a href="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0109.jpg" title="2016-Auto-Damage-Repair-Conference0109" data-rel="prettyPhoto[rel--1239372422]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0109.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div><div class="vc_clearfix"></div>
                                                            </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 270px; top: 364px;">
                                                                <div class="vc_grid-item-mini vc_clearfix ">
                                                                    <div class="vc_gitem-animated-block ">
                                                                        <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0107.jpg) !important;">
                                                                            <a href="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0107.jpg" title="2016-Auto-Damage-Repair-Conference0107" data-rel="prettyPhoto[rel--1239372422]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0107.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div><div class="vc_clearfix"></div>
                                                            </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_visible-item" style="position: absolute; left: 0px; top: 402px;">
                                                                <div class="vc_grid-item-mini vc_clearfix ">
                                                                    <div class="vc_gitem-animated-block ">
                                                                        <div class="vc_gitem-zone vc_gitem-zone-a vc_gitem-is-link" style="background-image: url(/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0106.jpg) !important;">
                                                                            <a href="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0106.jpg" title="2016-Auto-Damage-Repair-Conference0106" data-rel="prettyPhoto[rel--1239372422]" data-vc-gitem-zone="prettyphotoLink" class="vc_gitem-link prettyphoto vc-zone-link vc-prettyphoto-link"></a>	<img src="~/wp-content/uploads/2016/07/2016-Auto-Damage-Repair-Conference0106.jpg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div><div class="vc_clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- vc_grid end -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div><!-- .entry-content -->
                    </div><!-- 12 Columns Close -->
                </div><!-- Row Close -->
                <footer class="entry-meta">
                    <div class="inner-footer">
                        <div class="inner-footer-more">
                            <a href="~/the-47th-iada-vehicle-repair-conference-was-a-huge-success/">
                                more
                            </a>
                        </div>
                    </div>
                </footer><!-- .entry-meta -->

            </article><!-- #post -->

            <div id="comments" class="comments-area">



                @*<div id="respond" class="comment-respond">
                    <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/the-47th-iada-vehicle-repair-conference-was-a-huge-success/#respond" style="display:none;">Cancel Reply</a></small></h3>				<form action="~/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                        <p class="logged-in-as">Logged in as <a href="~/wp-admin/profile.php">pramod.chavan340@gmail.com</a>. <a href="~/wp-login.php?action=logout&amp;redirect_to=http%3A%2F%2Fwww.claimsappraisers.com%2Fthe-47th-iada-vehicle-repair-conference-was-a-huge-success%2F&amp;_wpnonce=3f9d37ad22" title="Log out of this account">Log out?</a></p><div class="form-group comment-form-comment"><textarea class="form-control" id="comment" name="comment" cols="45" rows="8" aria-required="true" placeholder="Comment (required)"></textarea></div><button class="btn btn-primary" type="submit">Submit</button><p class="form-submit">
                            <input name="submit" type="submit" id="submit" class="submit" value="Submit Comment"> <input type="hidden" name="comment_post_ID" value="2658" id="comment_post_ID">
                            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                        </p>
                    </form>
                </div>*@<!-- #respond -->

            </div><!-- #comments .comments-area -->				<nav class="nav-single">
                <h3 class="assistive-text">Post navigation</h3>
                <span class="nav-previous">
                    <a href="~/introducing-the-new-iada-logo/" rel="prev"><span class="meta-nav"><i class="icon-arrow-left7"></i></span> Prev</a>
                </span>
                <span class="nav-next">
                    <a href="~/help-iada-save-a-life/" rel="next">Next <span class="meta-nav"><i class="icon-arrow-right7"></i></span></a>
                </span>
            </nav><!-- .nav-single -->
        </div>

        <div class="col-md-3 sidebar-full">
            <div class="row">
                <div class="col-lg-12 siderbar-inner">
                    <style>
                        .rpwe-block ul {
                            list-style: none !important;
                            margin-left: 0 !important;
                            padding-left: 0 !important;
                        }

                        .rpwe-block li {
                            border-bottom: 1px solid #eee;
                            margin-bottom: 10px;
                            padding-bottom: 10px;
                            list-style-type: none;
                        }

                        .rpwe-block a {
                            display: inline !important;
                            text-decoration: none;
                        }

                        .rpwe-block h3 {
                            background: none !important;
                            clear: none;
                            margin-bottom: 0 !important;
                            margin-top: 0 !important;
                            font-weight: 400;
                            font-size: 12px !important;
                            line-height: 1.5em;
                        }

                        .rpwe-thumb {
                            border: 1px solid #EEE !important;
                            box-shadow: none !important;
                            margin: 2px 10px 2px 0;
                            padding: 3px !important;
                        }

                        .rpwe-summary {
                            font-size: 12px;
                        }

                        .rpwe-time {
                            color: #bbb;
                            font-size: 11px;
                        }

                        .rpwe-comment {
                            color: #bbb;
                            font-size: 11px;
                            padding-left: 5px;
                        }

                        .rpwe-alignleft {
                            display: inline;
                            float: left;
                        }

                        .rpwe-alignright {
                            display: inline;
                            float: right;
                        }

                        .rpwe-aligncenter {
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        .rpwe-clearfix:before, .rpwe-clearfix:after {
                            content: "";
                            display: table !important;
                        }

                        .rpwe-clearfix:after {
                            clear: both;
                        }

                        .rpwe-clearfix {
                            zoom: 1;
                        }
                    </style>
                    <div class="widget-1 widget-odd row widgets-wraps"><div class="widgettitle_wrap col-md-12"><h2 class="widgettitle"><span>Recent News</span></h2></div><div class="rpwe-block "><ul class="rpwe-ul"><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="~/help-iada-save-a-life/" rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="~/wp-content/uploads/2016/07/IADA-Helps-St-Judes-45x45.jpeg" alt="IADA Gives Back"></a><h3 class="rpwe-title"><a href="~/help-iada-save-a-life/" title="Permalink to IADA Gives Back" rel="bookmark">IADA Gives Back</a></h3><time class="rpwe-time published" datetime="2016-07-27T16:24:20+00:00">July 27, 2016</time><div class="rpwe-summary">IADA's "Save a Life" Project raises over $15,000 for St. …</div></li><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="~/introducing-the-new-iada-logo/" rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="~/wp-content/uploads/2016/07/logo-transition-6-45x45.png" alt="Introducing the New IADA Logo"></a><h3 class="rpwe-title"><a href="~/introducing-the-new-iada-logo/" title="Permalink to Introducing the New IADA Logo" rel="bookmark">Introducing the New IADA Logo</a></h3><time class="rpwe-time published" datetime="2016-07-01T15:57:12+00:00">July 1, 2016</time><div class="rpwe-summary">IADA is proud to unveil refreshed branding and a new …</div></li></ul></div><!-- Generated by http://wordpress.org/plugins/recent-posts-widget-extended/ --></div><div class="widget-2 widget-even widget-alt row widgets-wraps">
                        <div class="widgettitle_wrap col-md-12"><h2 class="widgettitle"><span>New Items</span></h2></div>
                        <div class="widget_posts_wrap">

                            <ul class="latest-posts items list-unstyled">
                                <li class="col-xs-4 col-sm-4 col-md-4">
                                    <span class="thumb">
                                        <a href="~/appraisal-service/complete-claims-service/">
                                            <div class="img-wrap-shadow">
                                                <img width="80" height="80" src="~/wp-content/uploads/2016/05/NE-Header-80x80.jpg" class="attachment-javo-tiny size-javo-tiny wp-post-image" alt="NE-Header" srcset="~/wp-content/uploads/2016/05/NE-Header-80x80.jpg 80w, ~/wp-content/uploads/2016/05/NE-Header-150x150.jpg 150w, ~/wp-content/uploads/2016/05/NE-Header-250x250.jpg 250w, ~/wp-content/uploads/2016/05/NE-Header-132x133.jpg 132w" sizes="(max-width: 80px) 100vw, 80px">
                                            </div>
                                        </a>
                                    </span>
                                </li>
                                <li class="col-xs-4 col-sm-4 col-md-4">
                                    <span class="thumb">
                                        <a href="~/appraisal-service/new-york-claims/">
                                            <div class="img-wrap-shadow">
                                                <img width="80" height="80" src="~/wp-content/uploads/2016/05/NE-Header-80x80.jpg" class="attachment-javo-tiny size-javo-tiny wp-post-image" alt="NE-Header" srcset="~/wp-content/uploads/2016/05/NE-Header-80x80.jpg 80w, ~/wp-content/uploads/2016/05/NE-Header-150x150.jpg 150w, ~/wp-content/uploads/2016/05/NE-Header-250x250.jpg 250w, ~/wp-content/uploads/2016/05/NE-Header-132x133.jpg 132w" sizes="(max-width: 80px) 100vw, 80px">
                                            </div>
                                        </a>
                                    </span>
                                </li>
                                <li class="col-xs-4 col-sm-4 col-md-4">
                                    <span class="thumb">
                                        <a href="~/appraisal-service/imperial-claim-service-2/">
                                            <div class="img-wrap-shadow">
                                                <img width="80" height="80" src="~/wp-content/uploads/2016/06/recreational-vehicles-80x80.jpg" class="attachment-javo-tiny size-javo-tiny wp-post-image" alt="Recreational Vehicle Damage Appraisal Service" srcset="~/wp-content/uploads/2016/06/recreational-vehicles-80x80.jpg 80w, ~/wp-content/uploads/2016/06/recreational-vehicles-150x150.jpg 150w, ~/wp-content/uploads/2016/06/recreational-vehicles-250x250.jpg 250w, ~/wp-content/uploads/2016/06/recreational-vehicles-132x133.jpg 132w" sizes="(max-width: 80px) 100vw, 80px">
                                            </div>
                                        </a>
                                    </span>
                                </li>
                                <li class="col-xs-4 col-sm-4 col-md-4">
                                    <span class="thumb">
                                        <a href="~/appraisal-service/willison-claim-service-llc/">
                                            <div class="img-wrap-shadow">
                                                <img width="80" height="80" src="~/wp-content/uploads/2016/06/auto-damage-appraisal-80x80.jpeg" class="attachment-javo-tiny size-javo-tiny wp-post-image" alt="Claims Appraisal Service" srcset="~/wp-content/uploads/2016/06/auto-damage-appraisal-80x80.jpeg 80w, ~/wp-content/uploads/2016/06/auto-damage-appraisal-150x150.jpeg 150w, ~/wp-content/uploads/2016/06/auto-damage-appraisal-250x250.jpeg 250w, ~/wp-content/uploads/2016/06/auto-damage-appraisal-132x133.jpeg 132w" sizes="(max-width: 80px) 100vw, 80px">
                                            </div>
                                        </a>
                                    </span>
                                </li>
                                <li class="col-xs-4 col-sm-4 col-md-4">
                                    <span class="thumb">
                                        <a href="~/appraisal-service/western-wyoming-claims/">
                                            <div class="img-wrap-shadow">
                                                <img width="80" height="80" src="~/wp-content/uploads/2016/06/heavy-equipment-appraisals-1-80x80.jpg" class="attachment-javo-tiny size-javo-tiny wp-post-image" alt="heavy-equipment-appraisals" srcset="~/wp-content/uploads/2016/06/heavy-equipment-appraisals-1-80x80.jpg 80w, ~/wp-content/uploads/2016/06/heavy-equipment-appraisals-1-150x150.jpg 150w, ~/wp-content/uploads/2016/06/heavy-equipment-appraisals-1-250x250.jpg 250w, ~/wp-content/uploads/2016/06/heavy-equipment-appraisals-1-132x133.jpg 132w" sizes="(max-width: 80px) 100vw, 80px">
                                            </div>
                                        </a>
                                    </span>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div> <!-- pp-siderbar inner -->
            </div> <!-- new row -->
        </div><!-- Side bar -->
    </div>
</div>