﻿@model BLL.ViewModels.ServiceTypesManagementViewModel
@{
    ViewBag.Title = "Service Types";
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}


<style type="text/css">
    .modal.modal-wide .modal-dialog {
        width: 90%;
    }



    .modal-wide .modal-body {
        overflow-y: auto;
    }

    .modalHead {
        background-color: #406E98 !important;
        color: white;
        font-weight: bold;
    }

    .holds-the-iframe {
        background: url(/Content/Images/waiting1.gif) center center no-repeat;
    }

    .fontsizefortbl {
        font-size: 13px !important;
    }

        .fontsizefortbl input, select {
            height: 28px !important;
            padding: 0px !important;
        }

    .form-group {
        margin-bottom: 12px !important;
    }

    .input-medium {
        width: 100% !important;
    }


    .portlet.box > .portlet-title > .tools > a.expand {
        background-image: url(../img/portlet-expand-icon-white.png);
    }

    .portlet.box > .portlet-title > .tools > a.collapse {
        background-image: url(../img/portlet-collapse-icon-white.png);
    }
</style>



@{string divSearch = "";

divSearch = "style=display:none;";
string Expand = "expand";
}




@using (Html.BeginForm("ServiceTypes", "ServiceTypeManagement", FormMethod.Post, new { id = "frmServiceTypesMgt" }))
{


    <div class="portlet box blue fontsizefortbl" id="frmAutosearchfilter">
        <div class="portlet-title col-md-12" style="background-color:#406E98 !important">
            <div class="caption col-md-10">
                <div class="form-group">
                    <div class="col-md-6">
                        <span class="caption-subject font-white-hoki bold uppercase" style="font-size:14px; ">Manage Service Type</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: right; margin-top: 50px;">
        <input type="button" onclick="loadServiceTypeManagementPopup()" value="Add New" class="btn yellow-crusta" />
    </div>

    <div id="divServiceTypesSearchList">
        @Html.Raw(Model.searchTypesListSearchResult)
    </div>

    <div class="table-scrollable">
        @Html.Partial("_Pager", Model.Pager)
    </div>

}


@* Line Of Business *@
<div id="LOBmodal" class="modal modal-wide fade in" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Line Of Business</h4>
            </div>
            <div class="modal-body holds-the-iframe">

                <iframe id="iframeLOB" style="width:100%;max-height: 800px;min-height: 700px;" frameborder="0" scrolling="auto" class="slimScrollDiv"></iframe>

            </div>
            <div class="modal-footer">

                <input type="button" data-dismiss="modal" class="btn btn-primary" value="Cancel">

            </div>
        </div>

    </div>
</div>


@* New Service Types *@


<div id="ServiceTypeAddmodal" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Service Type Management</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-md-4 control-label">Service Name</label>
                    <div class="col-md-8 divServiceTypesCntrl">
                        @Html.TextBox("txtServiceName", null, new { @class = "form-control", id = "txtServiceName", name = "txtServiceName" })
                    </div>
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue" onclick="addNewServiceType();" name="SubmitButton" id="SaveService" value="SAVE">Save</button>
                <input type="button" data-dismiss="modal" class="btn btn-primary" value="Cancel" onclick="clearServiceTypeControls();">
            </div>
        </div>
    </div>
</div>


@section PageLevelScript{
<script>
    function clearServiceTypeControls() {
        $("div.divServiceTypesCntrl > input").val("");
    }

    //Add new service type
    function addNewServiceType() {
        if ($("#txtServiceName").val() != "") {
            $.post('@Url.Content("~/ServiceTypeManagement/AddNewServiceType")',
               {
                   serviceTypeName: $('#txtServiceName').val(),
                   process: $('#hdnServiceAction').val()
               },
               function (data) {
                   $('#txtServiceName').val('');
                   $('#divServiceTypesSearchList').html('').html(data);
                   process: $('#hdnServiceAction').val('');
               }
             );
        }

        $('#ServiceTypeAddmodal').modal('hide');
    }

    function editServiceType(serviceTypeId) {
            var xhr = $.post('@Url.Content("~/ServiceTypeManagement/Edit")',
               {
                   serviceTypeId: serviceTypeId
               },
               function (data) {
                   $('#hdnServiceAction').val('U');
                   $('#txtServiceName').val(data);
                   $('#ServiceTypeAddmodal').modal('show');
               }
             ).fail(function (result) {
                 alert("error");
             });

        console.log(xhr);
    }

    function confirmDelete(serviceTypeId) {
        if (confirm('Do you really want to delete this service type')) {
            $.post('@Url.Content("~/ServiceTypeManagement/Delete")',
               {
                   serviceTypeId: serviceTypeId
               },
               function (data) {
                   $('#divServiceTypesSearchList').html('').html(data);
               }
             );
        }
    }

</script>

<script>
    function loadLOBPopup(url) {

        document.getElementById("iframeLOB").src = url;

        $("#LOBmodal").modal('show');
        return false;
    }

    function loadServiceTypeManagementPopup() {
        alert('Hi..');
        $('#hdnServiceAction').val('');
        $('#ServiceTypeAddmodal').modal('show');
    }

</script>

}