﻿@model BLL.ViewModels.PropertyAssignmentViewModel
<style>
    #divProperyAssignment .form-control {
               height: 32px !important;
       
    }
      .form-control {
        border: 1px solid #c2cad8 !important;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        var parent = $('.CustomeDateCLS').parent();
        var dtp = parent.datepicker({
            format: "mm-dd-yyyy",
            showTodayButton: true
        });
        dtp.on("change", function (e) {
            //ngModelCtrl.$setViewValue(moment(e.date).format("mm-dd-yyyy"));
            //scope.$apply();
            parent.datepicker('hide');
        });

        disableDeductible('tblCoveragesList');
    });
</script>
<div class="portlet light " ng-controller="SPMapSearchController">
    <form action="#" class="form-horizontal" id="frmPropertyAssignment">
        <input type="hidden" ng-model="selectedassignmentID" id="selectedassignmentID" name="selectedassignmentID" value="" />
        <input type="hidden" id="RedirectToSpMap" name="RedirectToSpMap" value="True" />
        @Html.HiddenFor(model => model.Claim.ClaimId)
        @Html.HiddenFor(model => model.propertyassignment.AutoAssignmentId)
        @Html.HiddenFor(model => model.UseMasterPageLayout)
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase" style="font-size: 16px !important;">Property Claim Information</span>
            </div>

        </div>
        <div class="portlet-body" id="divProperyAssignment">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#tab_2_1" data-toggle="tab" aria-expanded="false"> Claim Information </a>
                </li>
                <li class="">
                    <a href="#tab_2_2" data-toggle="tab" aria-expanded="false"> Policy Information </a>
                </li>
                <li class="">
                    <a href="#tab_2_3" data-toggle="tab" aria-expanded="false"> Loss Information  </a>
                </li>
                <li class="">
                    <a href="#tab_2_4" data-toggle="tab" aria-expanded="false"> Insured </a>
                </li>
                @*<li class="dropdown active">
                        <a href="javascript:;" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            other
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                            <li class="">
                                <a href="#tab_2_3" tabindex="-1" data-toggle="tab" aria-expanded="false"> Loss Information </a>
                            </li>
                            <li class="">
                                <a href="#tab_2_4" tabindex="-1" data-toggle="tab" aria-expanded="false">  Insured </a>
                            </li>

                        </ul>
                    </li>*@
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" style="background-color: white !important;color: black;" id="tab_2_1">
                    @Html.Partial("_ClaimInformation", Model)
                </div>
                <div class="tab-pane fade" style="background-color: white !important;color: black;" id="tab_2_2">
                    @Html.Partial("_PolicyInformation", Model)
                </div>
                <div class="tab-pane fade" style="background-color: white !important;color: black;" id="tab_2_3">
                    @Html.Partial("_LossInformation", Model)
                </div>
                <div class="tab-pane fade" style="background-color: white !important;color: black;" id="tab_2_4">
                    @Html.Partial("_Insured", Model)
                </div>
            </div>
            <div style="float:right;padding-top:20px">
                <input type="button" class="btn blue" value="Submit" onclick="SubmitPropertyAssignment(event)"/>
            </div>
        </div>
       </form>
</div>


<script type="text/javascript">
  
</script>