﻿@model BLL.ViewModels.PropertyAssignmentViewModel
<style>
    body {
        background-image: none !important;
    }

    .lblstyle {
        padding-right: 10px;
        width: 15%;
        vertical-align: middle;
        text-align: right;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .col-md-2, .col-md-4 {
        position: relative;
        min-height: 1px;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .errorMsg {
        font-weight: bold;
        color: red;
        display: inline;
    }

    .fontsizefortbl {
        font-size: 13px !important;
    }
    .modalHead {
    background-color: #406E98 !important;
    color: white;
    font-weight: bold;
}
    .form-control {
        border: 1px solid #c2cad8 !important;
    }
    .opacityCSS {
    opacity: 1 !important;
    }
</style>
<div class="portlet box Cportletbox" ng-app="CSSMVCApp">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Property Claim Information
        </div>
        <div class="tools">
            @*<a href="javascript:;" class="collapse"> </a>*@
        </div>
    </div>
    <div class="portlet-body form" ng-controller="SPMapSearchController12">
        <!-- BEGIN FORM-->
        @*<form action="#" class="form-horizontal">*@
        <div class="form-horizontal" style="opacity: 0.5;" ng-class="OpacityCSS">
            <div class="form-actions top">
                <div class="row" style="margin-top:-20px !important">
                    <div class="col-md-12">
                        <!--page content -->
                        <table bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">
                            <tr>
                                <td>

                                    @using (Html.BeginForm("PropertyAssignment", "PropertyAssignment", FormMethod.Post))
                                    {
                                        <input type="hidden" id="claimid" name="claimid" value="@Model.Claim.ClaimId" />
                                        @Html.HiddenFor(model => model.Claim.ClaimId)
                                        @Html.HiddenFor(model => model.propertyassignment.AutoAssignmentId)
                                        @Html.HiddenFor(model => model.UseMasterPageLayout)
                                        <table width="100%">
                                            @*<tr>
                                                <td class="mainHeader">Auto Assignment</td>
                                            </tr>*@
                                            <tr valign="top">
                                                <td>
                                                    <table width="100%">
                                                        <tr valign="top">
                                                            <td align="left" class="errorMsg" style="width: 100%;" width="100%">@Html.ValidationSummary()</td>
                                                            @*<td align="right" nowrap="nowrap">*Required Field</td>*@
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="footer" align="right">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td align="left"></td>
                                                            <td align="right">
                                                                <input type="submit" class="btn btn-primary" value="Submit" />
                                                                <input type="button" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("AutoSearch", "AutoAssignment", new { reviewType = TempData.Peek("reviewType")})'" />

                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="portlet light bordered wStyle" style="margin: 0px; padding-bottom: 0px;">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <i class="icon-equalizer font-blue-hoki"></i>
                                                                <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;"> Claim Information</span>
                                                            </div>
                                                            <div class="tools">
                                                                <a href="" class="collapse" data-original-title="" title=""> </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body form" style="display: block;margin-top: -14px;">
                                                            <div class="form-horizontal" role="form">

                                                                <div style="width:100%;">@Html.Partial("_ClaimInformation", Model)</div>

                                                            </div>

                                                        </div>
                                                    </div>


                                                </td>
                                            </tr>
                                            <tr>

                                                <td>
                                                    <div class="portlet light bordered wStyle" style="margin: 0px; padding-bottom: 0px;">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <i class="icon-equalizer font-blue-hoki"></i>
                                                                <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;"> Policy Information</span>
                                                            </div>
                                                            <div class="tools">
                                                                <a href="" class="collapse" data-original-title="" title=""> </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body form" style="display: block;margin-top: -14px;">
                                                            <div class="form-horizontal" role="form">
                                                                <div style="width:100%;">@Html.Partial("_PolicyInformation", Model)</div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="portlet light bordered wStyle" style="margin: 0px; padding-bottom: 0px;">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <i class="icon-equalizer font-blue-hoki"></i>
                                                                <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Loss Information</span>
                                                            </div>
                                                            <div class="tools">
                                                                <a href="" class="collapse" data-original-title="" title=""> </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body form" style="display: block;margin-top: -14px;">
                                                            <div class="form-horizontal" role="form">

                                                                <div style="width:100%;">@Html.Partial("_LossInformation", Model)</div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="portlet light bordered wStyle" style="margin: 0px; padding-bottom: 0px;">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <i class="icon-equalizer font-blue-hoki"></i>
                                                                <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;"> Insured</span>
                                                            </div>
                                                            <div class="tools">
                                                                <a href="" class="collapse" data-original-title="" title=""> </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body form" style="display: block;margin-top: -14px;">
                                                            <div class="form-horizontal" role="form">

                                                                <div style="width:100%;">@Html.Partial("_Insured", Model)</div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="footer" align="right">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td align="left"></td>
                                                            <td align="right">
                                                                <input type="submit" class="btn btn-primary" value="Submit" />
                                                                <input type="button" class="btn btn-primary" value="Back" onclick="location.href = '@Url.Action("AutoSearch", "AutoAssignment")'" />

                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @*</form>*@
        <!-- END FORM-->
    </div>
</div>



@section PageLevelScript{
<script type="text/javascript">
    var GetLineOfBussinessListUrl = '@Url.Action("GetLineOfBussinessList","PropertyAssignment")';
    var GetClientPointOfContactListUrl = '@Url.Action("GetClientPointOfContactList","PropertyAssignment")';
    var PropertyAssignmentAddCatCodeUrl = '@Url.Content("~/PropertyAssignment/AddCatCode")';
    var PropertyAssignmentAddClientPOCUrl = '@Url.Content("~/PropertyAssignment/AddClientPOC")';
    var GetCatCodesListUrl = '@Url.Action("GetCatCodesList","PropertyAssignment")';
    var GetCSSPOCListUrl = '@Url.Action("GetCSSPOCList","PropertyAssignment")';
    var GetZipCodeInfoUrl = '@Url.Content("~/Utility/GetZipCodeInfo")';
    var GetLOBListUrl = '@Url.Action("GetLOBList","PropertyAssignment")';
    var GetInternalContactListUrl = '@Url.Action("GetInternalContactList")';
    var ClientPOCEditUrl = '@Url.Action("ClientPOCEdit", "InsuranceSetup")';
    var ClientPOCEditSaveUrl = '@Url.Action("ClientPOCEdit", "InsuranceSetup")';
    var PropertyAssignmentSubmitUrl = '@Url.Action("PropertyAssignment", "PropertyAssignment")';
    var checkPolicyIDUrl = '@Url.Action("checkPolicyID","PropertyAssignment")';
    var checkClaimIDUrl = '@Url.Action("checkClaimID", "PropertyAssignment")';
    var AutoSearchUrl = '@Url.Action("AutoSearch", "AutoAssignment")';
</script>

<script src="~/Scripts/Customs/PropertyClaim.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var parent = $('.CustomeDateCLS').parent();
        var dtp = parent.datepicker({
            format: "mm-dd-yyyy",
            showTodayButton: true
        });
        dtp.on("change", function (e) {
            //ngModelCtrl.$setViewValue(moment(e.date).format("mm-dd-yyyy"));
            //scope.$apply();
            parent.datepicker('hide');
        });

        disableDeductible('tblCoveragesList');
    });

    var app = angular.module('CSSMVCApp', []);
    app.controller('SPMapSearchController12', ['$scope', function ($scope) {
        $scope.CntrlMD = 'col-md-6';
        $scope.OpacityCSS = 'opacityCSS';

        $scope.popup2 = {
            opened: false
        };
    }]);
</script>
}
