﻿@using CSS
@model BLL.ViewModels.XactAssignmentSearchViewModel

@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();

}
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet"
      type="text/css" />
<style type="text/css">
    #bgAssignCSSPOC {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .AssignCSSPOCPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 400px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }


    #backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }

    #backgroundPropertyInvoicePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 10;
    }

    .EditPropertyInvoicePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 600px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 11;
        font-size: 13px;
    }

    #backgroundInvoiceListPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 8;
    }

    .InvoiceListPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 500px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 9;
        font-size: 13px;
    }

    .backgroundPopupClaimsSearchList {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditPopupClaimsSearchList {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlInsuranceCompany").change(function () {

            $('#btnAssignLOB').css('display', 'none');

        });
    });
    function btnAssignCSSPOCConfirm_Click() {
        if ($("#ddlAssignCSSPOC").val() != "0") {
            $("#spanAssignCSSPOCValidate").hide();
            $("#imgClaimDocEmailProgress").show();
            $.ajax({
                type: "POST"
                , url: '@Url.Action("BulkAssignCSSPOC","PropertyAssignment")'
                , data: { assignmentIds: getSelectedAssignmentIds(), CSSPOCUserId: $("#ddlAssignCSSPOC").val() }
            }).done(function (data) {
                if (data == "1") {
                    disableAssignCSSPOCPopup();
                    $("#imgClaimDocEmailProgress").hide();
                    loadSubmit();
                    document.forms["formSearch"].submit();
                }
                else {
                    alert("Error: " + data);
                }

            }).error(function (data) {
                alert("Error: " + data.responseText);
            });
        }
        else {
            $("#spanAssignCSSPOCValidate").show();

        }
    }
    function btnAssignLOBConfirm_Click() {
        if ($("#LOBList").val() != "0") {
            $("#spanAssignLOBValidate").hide();
            $("#imgClaimDocEmailProgress").show();
            $.ajax({
                type: "POST"
                , url: '@Url.Action("BulkAssignLOB", "PropertyAssignment")'
                , data: { assignmentIds: getSelectedAssignmentIds(), LOBId: $("#LOBList").val() }
            }).done(function (data) {
                if (data == "1") {
                    disableAssignLOBPopup();
                    $("#imgClaimDocEmailProgress").hide();
                    loadSubmit();
                    document.forms["formSearch"].submit();
                }
                else {
                    alert("Error: " + data);
                }

            }).error(function (data) {
                alert("Error: " + data.responseText);
            });
        }
        else {
            $("#spanAssignLOBValidate").show();

        }
    }

    function GetLOBList() {
        debugger;
        if ($("#ddlInsuranceCompany").val() != "0") {

            $('#btnAssignLOB').css('display', 'block');
            var CompanyId;
            CompanyId = $("#ddlInsuranceCompany").val();
            $.ajax({
                url: '@Url.Action("GetLOBList", "PropertyAssignment")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: { CompanyId: CompanyId },
                type: 'GET',
                success: function (data) {

                    var data1 = data;
                    if (data1 == null) {
                        // $('#trInvoiceavailable').css('display', 'table-row');

                        var validationmsg = "LOB Not Available.<br/>";
                        $("#spanLOBCheck").html(validationmsg);


                    }

                    else {
                        $("#spanLOBCheck").empty();

                        $("#LOBList").empty();
                        var item = [];
                        item.push("<option value='0'>--Select LOB--</option>");
                        $.each(data, function () {
                            item.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                        });
                        $("#LOBList").html(item.join(' '));
                        $('#btnAssignLOB').css('display', 'block');
                    }
                }
            });
        }
        else {
            var validationmsg = "Insurance Company is not Selected<br/>";
            $("#spanLOBCheck").html(validationmsg);
            $('#btnAssignLOB').css('display', 'none');

        }


    }
    function getSelectedAssignmentIds() {
        var selectedCheckBoxesValue = '';
        $('input[name=cbSelect]:checked').each(function (i, selected) {
            if (selectedCheckBoxesValue.length == 0) {
                selectedCheckBoxesValue += $(selected).val();
            }
            else {
                selectedCheckBoxesValue += ',' + $(selected).val();
            }
        });
        return selectedCheckBoxesValue;
    }
    function btnAssignCSSPOC_Click() {
        if (getSelectedAssignmentIds() != '') {
            loadAssignCSSPOCPopup();
        }
        else {
            alert("Select Claim(s) from the list.");
        }

    }
    function btnAssignLOB_Click() {
        GetLOBList();
        if (getSelectedAssignmentIds() != '') {
            loadAssignLOBPopup();
        }
        else {
            alert("Select Claim(s) from the list.");
        }

    }
    function loadAssignCSSPOCPopup() {

        centerAssignCSSPOCPopup();
        $("#bgAssignCSSPOC").css({
            "opacity": "0.7"
        });
        $("#bgAssignCSSPOC").fadeIn("slow");
        $("#divAssignCSSPOCPopup").fadeIn("slow");

    }
    function loadAssignLOBPopup() {

        centerAssignLOBPopup();
        $("#bgAssignCSSPOC").css({
            "opacity": "0.7"
        });
        $("#bgAssignCSSPOC").fadeIn("slow");
        $("#divAssignLOBPopup").fadeIn("slow");

    }
    function disableAssignCSSPOCPopup() {

        $("#bgAssignCSSPOC").fadeOut("slow");
        $("#divAssignCSSPOCPopup").fadeOut("slow");
    }
    function disableAssignLOBPopup() {

        $("#bgAssignCSSPOC").fadeOut("slow");
        $("#divAssignLOBPopup").fadeOut("slow");
    }
    function centerAssignCSSPOCPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divAssignCSSPOCPopup").height();
        var popupWidth = $("#divAssignCSSPOCPopup").width();
        //centering
        $("#divAssignCSSPOCPopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $("#bgAssignCSSPOC").css({
            "height": windowHeight
        });
        return false;
    }
    function centerAssignLOBPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divAssignLOBPopup").height();
        var popupWidth = $("#divAssignLOBPopup").width();
        //centering
        $("#divAssignLOBPopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $("#bgAssignCSSPOC").css({
            "height": windowHeight
        });
        return false;
    }
    function btnPISubmit_Click() {
        $('#divPISubmitProcessing').show();
        UnformatField('Search');
    }
    function disableAllPopups() {
        disableEditClaimPopup();
    }
    function loadEditClaimPopup(url) {
        document.getElementById("iframeEditClaim").src = url;
        centerEditClaimPopup();

        $("#backgroundPopup").css({
            "opacity": "0.7"
        });

        $("#backgroundPopup").fadeIn("slow");
        $("#divEditClaim").fadeIn("slow");

        return false;
    }

    function disableEditClaimPopup() {

        $("#backgroundPopup").fadeOut("slow");
        $("#divEditClaim").fadeOut("slow");
        loadSubmit();
        document.forms["formSearch"].submit();

    }
    function centerEditClaimPopup() {


        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divEditClaim").height();
        var popupWidth = $("#divEditClaim").width();
        //centering
        $("#divEditClaim").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }
    function expandSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "table-row";
        document.getElementById("trSearchFilterFooter").style.display = "table-row";
        document.getElementById("lblSearchExpand").style.display = "none";
        document.getElementById("lblSearchCollapse").style.display = "inline";
    }
    function collapseSearchFilter() {
        document.getElementById("trSearchFilterContent").style.display = "none";
        document.getElementById("trSearchFilterFooter").style.display = "none";
        document.getElementById("lblSearchExpand").style.display = "inline";
        document.getElementById("lblSearchCollapse").style.display = "none";
    }
    function ConfirmationBox() {
        var result = confirm("Are you sure you want to continue?");
        var hdnIsActive = document.getElementsByName("hdnIsActive");
        if (result == true) {
            hdnIsActive.value = 1;
        }
        else {
            hdnIsActive.value = 0;
        }
    }
    function showRecordDetails(rowIndex) {
        document.getElementById('trRecordInfo' + rowIndex).style.display = 'table-row';
        document.getElementById('imgExpand' + rowIndex).style.display = 'none';
        document.getElementById('imgCollapse' + rowIndex).style.display = 'block';
    }
    function hideRecordDetails(rowIndex) {
        document.getElementById('trRecordInfo' + rowIndex).style.display = 'none';
        document.getElementById('imgExpand' + rowIndex).style.display = 'block';
        document.getElementById('imgCollapse' + rowIndex).style.display = 'none';
    }

    function OrderByclaim(OrderBYclaim) {
        $('#hdnCurrentPage').val('@Model.Pager.Page');
        $('#hdnOrderByValue').val(OrderBYclaim)
        document.getElementById("formSearch").submit();
    }

    function loadSubmit() {
        var ProgressImage = document.getElementById("progress_image");
        document.getElementById("progress").style.visibility = "visible";
        setTimeout(function () { ProgressImage.src = ProgressImage.src }, 100);
        return true;
    }
    function loadAcceptPopup(url) {

        if (confirm("Are you sure you want to Accept this Claim Record?")) {
            window.location.href = url;
        }

    }

    function loadPropertyInvoiceListPopup(url) {
        $('#divInvoicelList').empty()
        $("#divInvoiceListLoading").show();
        $.ajaxSetup({ cache: false });
        $.getJSON(
            url,
            function (result) {

                $('#divInvoicelList').append(result);
                $("#divInvoiceListLoading").hide();
            }
        );

        centerPropertyInvoiceListPopup();
        $('#backgroundInvoiceListPopup').css({
            "opacity": "0.7"
        });
        $('#backgroundInvoiceListPopup').fadeIn("slow");
        $('#divPropertyInvoiceListPopup').fadeIn("slow");
    }
    function disablePropertyInvoiceListPopup() {

        $('#backgroundInvoiceListPopup').fadeOut("slow");
        $('#divPropertyInvoiceListPopup').fadeOut("slow");
    }
    function centerPropertyInvoiceListPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $('#divPropertyInvoiceListPopup').height();
        var popupWidth = $('#divPropertyInvoiceListPopup').width();
        //centering
        $('#divPropertyInvoiceListPopup').css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $('#backgroundInvoiceListPopup').css({
            "height": windowHeight
        });
        return false;
    }

    function loadPropertyInvoicePopup(assignmentId, Mode, invoiceId) {


        RCVDetail(assignmentId, Mode, invoiceId);
        centerPropertyInvoicePopup();
        $('#backgroundPropertyInvoicePopup').css({
            "opacity": "0.7"
        });
        $('#backgroundPropertyInvoicePopup').fadeIn("slow");
        $('#divPropertyInvoicePopup').fadeIn("slow");
    }
    function disablePropertyInvoicePopup() {

        $('#backgroundPropertyInvoicePopup').fadeOut("slow");
        $('#divPropertyInvoicePopup').fadeOut("slow");
    }
    function centerPropertyInvoicePopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $('#divPropertyInvoicePopup').height();
        var popupWidth = $('#divPropertyInvoicePopup').width();
        //centering
        $('#divPropertyInvoicePopup').css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $('#backgroundPropertyInvoicePopup').css({
            "height": windowHeight
        });
        return false;
    }

    function RCVDetail(assignmentId, Mode, invoiceId) {

        $('#divPropertyInvoiceDetails').empty();
        $("#imgProcessingPropertyInvoicedetails").show();
        $.post('@Url.Content("~/PropertyAssignmentInvoice/Details")',
               {
                   assignmentid: assignmentId, fileOpenMode: Mode, invoiceId: invoiceId
               },
                 function (data) {
                     $('#divPropertyInvoiceDetails').append(data);
                     $("#imgProcessingPropertyInvoicedetails").hide();
                     if (Mode == 'New' || Mode == 'Edit') {
                         $('#tdPropertyInvoicefooter').css('display', 'block')
                     }
                     else if (Mode == 'Read') {
                         $('#tdPropertyInvoicefooter').css('display', 'none')
                     }
                 });
    }
    function searchedClaim() {
        debugger;
        if ($('#txtClaimnumber').css("display") == "none") {
            $('#txtClaimnumber').val($('#ddlClaimSearch').val());

        }

    }
</script>

<script>

    function loadPopupClaimsSearchList() {
        debugger;

        var popupStatus = 0;

        if (popupStatus == 0) {

            centerPopupClaimsSearchList();
            $("#backgroundPopupClaimsSearchList").css({
                "opacity": "0.7"
            });

            bindClaimsSearchList();

            $("#backgroundPopupClaimsSearchList").fadeIn("slow");
            $("#ClaimsSearchList").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function centerPopupClaimsSearchList() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#ClaimsSearchList").height();
        var popupWidth = $("#ClaimsSearchList").width();
        //centering
        $("#ClaimsSearchList").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundPopupClaimsSearchList").css({
            "height": windowHeight
        });
        return false;
    }
    function bindClaimsSearchList() {
        debugger;
        $.ajax({
            url: '@Url.Action("_LastClaimsSearchList", "PropertyAssignment")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',

            success: function (result) {

                var div = $('#dvClaimsSearchList');
                div.html(result);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }
    function disablePopupClaimsSearchList() {
        //debugger;
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupClaimsSearchList").fadeOut("slow");
            $("#ClaimsSearchList").fadeOut("slow");
            popupStatus = 0;


        }
    }
    function CallExistClaim(Claimnumber) {
        //alert("hie");
        debugger;
        //alert(Claimnumber);

        if (Claimnumber == "") {
            alert('Please enter in the textbox.');
            return false;
        }
        else {
            //var Number = document.getElementById('ddlClaimSearch').value;
            var QuickSearchType = 0;
            $.ajax
            ({
                //url: "../PropertyAssignment/ClaimExist?Number=" + Claimnumber + "&QuickSearchType=" + QuickSearchType,
                url: '@Url.Action("ClaimExist", "PropertyAssignment")',
                type: 'POST',
                dataType: 'json',
                traditional: true,
                timeout: 0,
                async: false,
                data: { Number: Claimnumber, QuickSearchType: QuickSearchType, SearchString: Claimnumber },
                success: function (result) {
                    debugger;
                    if (result.resultDisplay) {
                        window.location.href = "../PropertyAssignment/Details?claimid=" + result.ClaimIdNo;
                    }
                    else {
                        if (result.QuickSearchTypes == 0) {
                            alert('This Claim Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 1) {
                            alert('This Policy Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 2) {
                            alert('This Invoice Number does not exist.');
                        }
                        else if (result.QuickSearchTypes == 3) {
                            alert('This Insured Name does not exist.');
                        }

                        // document.getElementById('ddlClaimSearch').value = "";
                    }
                },
                error: function (x, e) {
                    alert(e + x);
                }
            });

        }
        return false;

    }
</script>




@using (Html.BeginForm("Search", "PropertyAssignment", FormMethod.Post, new { @id = "formSearch" }))
{
    <table width="100%">
        <tr>
            <td>

                <table align="left" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">
                            <a id="lblSearchExpand" style="color: black;" href="#" onclick="expandSearchFilter()">Search Filter</a>
                            <a id="lblSearchCollapse" href="#" onclick="collapseSearchFilter()" style="display: none; color: black;">Search Filter</a>
                        </td>
                    </tr>
                    <tr id="trSearchFilterContent" style="display: none;">
                        <td class="content">

                            @Html.Partial("_AssignmentSearchFilter")

                        </td>
                    </tr>
                    <tr align="right" id="trSearchFilterFooter" style="display: none;">
                        <td class="footer">

                            <input type="submit" class="buttonLightYellow_100" value="Search" name="SubmitButton" />

                            <input type="submit" class="buttonLightYellow_100" value="Export" id="Export" name="SubmitButton" />

                        </td>
                    </tr>

                </table>

            </td>
        </tr>
        <tr>
            <td>
                <br />
                <table align="left" cellpadding="3" cellspacing="0" width="100%">
                    <tr>
                        <td class="mainHeader">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="100%" nowrap="nowrap">Claims List</td>
                                    <td nowrap="nowrap" style="font-size: 11px !important; font-weight: normal !important;">
                                        <span style="visibility: hidden; width: 150px; height: 40px;" id="progress">
                                            <img id="progress_image" height="16" width="16" style="vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                                            Refreshing...
                                        </span>

                                    </td>
                                    @if (loggedInUser.UserTypeId == 2 && Model.InsuranceCompany != null && Model.InsuranceCompany > 0)
                                    {
                                        <td>
                                            <input type="button" value="Assign LOB" class="buttonLightYellow_120" onclick="btnAssignLOB_Click()" style="font-size:11px !important;" id="btnAssignLOB" />
                                        </td>
                                    }
                                    <td nowrap="nowrap" style="width:20px;"></td>
                                    <td>
                                        @if (loggedInUser.UserTypeId != 1)
                                        {
                                            <input type="button" value="Assign CSS POC" class="buttonLightYellow_120" onclick="btnAssignCSSPOC_Click()" />
                                        }

                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>

                    <tr>
                        <td class="content">
                            <table cellpadding="3" cellspacing="0" width="100%">

                                <thead class="tableHeader">
                                    <tr valign="top">
                                        <td nowrap="nowrap"></td>
                                        <td nowrap="nowrap">#</td>
                                        <td nowrap="nowrap"></td>
                                        <td><a href="#" onclick="OrderByclaim('ClaimNo');">Claim Number</a></td>
                                        <td nowrap="nowrap">RCV ($)</td>
                                        <td>@*<a href="#" onclick="OrderByclaim('ServiceProvider');">*@Service Provider@*</a>*@</td>
                                        <td>@*<a href="#" onclick="OrderByclaim('policynumber');">*@Insured Name@*</a>*@</td>
                                        @*<td>Sender Id
                                            </td>


                                            <td>Carrier Office1
                                            </td>*@

                                        <td>
                                            @*<a href="#" onclick="OrderByclaim('Mitigation');">*@Status@*</a>*@
                                        </td>
                                        <td>@*<a href="#" onclick="OrderByclaim('CSSpointOfContact');">*@CSS Point Of Contact@*</a>*@</td>
                                        <td>@*<a href="#" onclick="OrderByclaim('QaAgent');">*@QA Agent@*</a>*@</td>
                                        <td>@*<a href="#" onclick="OrderByclaim('ClientPointOfContact');">*@Client Point of Contact@*</a>*@</td>
                                        @* <td>Profile Code
                                            </td>*@
                                        <td>@*<a href="#" onclick="OrderByclaim('Companyname');">*@Company Name@*</a>*@</td>
                                        <td>LOB</td>
                                        <td align="center">
                                            <a href="#" onclick="OrderByclaim('Olddays');">Days Old</a>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <input type="hidden" value="@ViewBag.LastOrderByValue" id="hdnlastOrderByValue" name="hdnlastOrderByValue" />
                                            <input type="hidden" value="@ViewBag.flag" id="hdnFlagClaim" name="hdnFlagClaim" />
                                            <input type="hidden" id="hdnOrderByValue" name="hdnOrderByValue" />
                                            <input type="hidden" id="hdnPageSige" name="hdnPageSige" />
                                            <input type="hidden" id="hdnNext" name="hdnNext" />
                                            <input type="hidden" id="hdnOrderDirection" name="hdnOrderDirection" />

                                        </td>
                                    </tr>
                                </thead>

                                @{
                                        int i = 0; //Used to identify whether any records are present, Alternating row colours, row number
                                        int j = Model.Pager.Page - 1;
                                        int z = Convert.ToInt32(Model.Pager.RecsPerPage);
                                        int k = j * z;
                                        if (Model.ClaimsInfo != null)
                                        {

                                            foreach (var claiminfo in Model.ClaimsInfo)
                                            {

                                                string claimNumber = "";
                                                string rcv = "";
                                                string serviceProvider = "";
                                                string policyNumber = "";
                                                string catCode = "";
                                                string causeTypeOfLoss = "";
                                                string serviceOffering = "";
                                                string dateOfLoss = "";
                                                string insuredName = "";
                                                string insuredAddress = "";
                                                string insuredCity = "";
                                                string insuredState = "";
                                                string insuredZip = "";
                                                string totalDeductible = "";
                                                BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                                                BLL.Claim claim = css.Claims.Find(claiminfo.ClaimId);
                                                if (claim != null)
                                                {
                                                    if (!String.IsNullOrEmpty(claim.ClaimNumber))
                                                    {
                                                        claimNumber = claim.ClaimNumber;
                                                    }
                                                    if (claiminfo.RCV.HasValue)
                                                    {
                                                        rcv = String.Format("{0:0.00}", claiminfo.RCV);
                                                    }
                                                    if (!String.IsNullOrEmpty(claim.PolicyNumber))
                                                    {
                                                        policyNumber = claim.PolicyNumber;
                                                    }
                                                    if (!String.IsNullOrEmpty(claim.PolicyNumber))
                                                    {
                                                        policyNumber = claim.PolicyNumber;
                                                    }
                                                    if (!String.IsNullOrEmpty(claim.CatCode))
                                                    {
                                                        catCode = claim.CatCode;
                                                    }
                                                    if (claim.CauseTypeOfLoss != null)
                                                    {
                                                        //causeTypeOfLoss = claim.CauseTypeOfLoss;
                                                        BLL.LossType lossType = css.LossTypes.Find(claim.CauseTypeOfLoss);
                                                        if (lossType != null)
                                                        {
                                                            causeTypeOfLoss = lossType.LossType1;
                                                        }
                                                    }

                                                    if (claim.DateofLoss.HasValue)
                                                    {
                                                        dateOfLoss = claim.DateofLoss.Value.ToString("MM/dd/yyyy");
                                                    }
                                                    if (!String.IsNullOrEmpty(claim.InsuredFirstName))
                                                    {
                                                        insuredName = claim.InsuredFirstName;
                                                    }
                                                    if (!String.IsNullOrEmpty(claim.InsuredLastName))
                                                    {
                                                        insuredName += " " + claim.InsuredLastName;
                                                    }
                                                    if (!String.IsNullOrEmpty(claim.InsuredAddress1))
                                                    {
                                                        insuredAddress = claim.InsuredAddress1;
                                                    }
                                                    if (!String.IsNullOrEmpty(claim.InsuredAddress2))
                                                    {
                                                        insuredAddress += "" + claim.InsuredAddress2;
                                                    }
                                                    if (!String.IsNullOrEmpty(claim.InsuredCity))
                                                    {
                                                        insuredCity = claim.InsuredCity;
                                                    }
                                                    if (!String.IsNullOrEmpty(claim.InsuredState))
                                                    {
                                                        insuredState = claim.InsuredState;
                                                    }
                                                    if (!String.IsNullOrEmpty(claim.InsuredZip))
                                                    {
                                                        insuredZip = claim.InsuredZip;
                                                    }
                                                }

                                                <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")" valign="top">
                                                    <td><input type="checkbox" name="cbSelect" value="@claiminfo.AssignmentId" /></td>
                                                    <td>@(k = k + 1)</td>
                                                    <td nowrap="nowrap">
                                                        <a href="#">
                                                            <img id="imgExpand@(i + "")" alt="Expand" title="Expand" src="~/Content/Images/plus.png" onclick="showRecordDetails(@(i + ""))" style="border: none;" />
                                                        </a>
                                                        <a href="#">
                                                            <img id="imgCollapse@(i + "")" title="Collapse" onclick="hideRecordDetails(@(i + ""))" alt="Collapse" src="~/Content/Images/minus.png" style="display: none; border: none;" />
                                                        </a>
                                                    </td>
                                                    <td>
                                                        @{
                                                if (!String.IsNullOrEmpty(claiminfo.ClaimNumber))
                                                {
                                                    @Html.ActionLink(claiminfo.ClaimNumber, "Details", new { claimid = Cypher.EncryptString(claiminfo.ClaimId.ToString()) }, new { onclick = "CallSearch('" + claiminfo.ClaimNumber + "')" })
                                                }
                                                        }

                                                    </td>
                                                    <td>
                                                        @rcv
                                                    </td>
                                                    <td>
                                                        @claiminfo.OAName
                                                    </td>
                                                    <td>
                                                        @claiminfo.InsuredName
                                                    </td>
                                                    <td>
                                                        @claiminfo.FileStatus
                                                    </td>
                                                    <td>
                                                        @{
                                                if (@claiminfo.CSSPointofContactUserId != 0 && @claiminfo.CSSPointofContactUserId != null)
                                                {
                                                    BLL.User user = css.Users.Find(@claiminfo.CSSPointofContactUserId);

                                                    <div style="display: inline">@user.FirstName @user.LastName</div>
                                                }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                if (@claiminfo.CSSQAAgentUserId != 0 && @claiminfo.CSSQAAgentUserId != null)
                                                {
                                                    BLL.User user1 = css.Users.Find(@claiminfo.CSSQAAgentUserId);

                                                    <div style="display: inline">@user1.FirstName @user1.LastName</div>
                                                }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                if (@claiminfo.ClientPointOfContactUserId != 0 && @claiminfo.ClientPointOfContactUserId != null)
                                                {
                                                    BLL.User user2 = css.Users.Find(@claiminfo.ClientPointOfContactUserId);

                                                    <div style="display: inline">@user2.FirstName @user2.LastName</div>
                                                }
                                                        }
                                                    </td>
                                                    <td>@claiminfo.Company</td>
                                                    <td>
                                                        @claiminfo.LobDescription

                                                    </td>
                                                    <td align="center">
                                                        @claiminfo.OlDDays

                                                    </td>
                                                    <td>
                                                        @if (css.Triages.Where(x => x.AssignmentId == claiminfo.AssignmentId).ToList().Count > 0)
                                                        {
                                                            <a href="@Url.Action("Details", "PropertyAssignment", new { ClaimId = Cypher.EncryptString(claiminfo.ClaimId.ToString()), ActiveMainTab = "Triage" })">
                                                                <img alt="Triage" title="Triage Available" src="@Url.Content("~/Content/Images/text_list_bullets.png")" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                            </a>

                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)1)) && Model.FileStatus == 6)
                                                {
                                                    if (claiminfo.ShowAccept == 1)
                                                    {
                                                        <a href="#" onclick="loadAcceptPopup('@Url.Action("Accepted", "PropertyAssignment", new { AssignmentId = claiminfo.AssignmentId, IsAccepted = true, claimid = claiminfo.ClaimId })');" style="padding-right:5px; border: none; color: black; cursor: pointer;text-decoration:none;">
                                                            <img src="~/Content/Images/Approve.png" title="Accept" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                        </a>

                                                    }
                                                }
                                                        }
                                                    </td>
                                                    <td nowrap="nowrap">
                                                        @{
                                                bool displayAssignSPIcon = false;
                                                bool displayReAssignSPIcon = false;
                                                if (claiminfo.OAUserId == null)
                                                {
                                                    displayAssignSPIcon = true;
                                                }
                                                else
                                                {
                                                    if (claiminfo.OAUserId == 0)
                                                    {
                                                        displayAssignSPIcon = true;
                                                    }
                                                    else
                                                    {
                                                        if (claiminfo.FileStatusId == 1 || claiminfo.FileStatusId == 3 || claiminfo.FileStatusId == 4 || claiminfo.FileStatusId == 5 || claiminfo.FileStatusId == 6 || claiminfo.FileStatusId == 8 || claiminfo.FileStatusId == 16)
                                                        {
                                                            displayReAssignSPIcon = true;
                                                        }
                                                    }
                                                }

                                                if (displayAssignSPIcon)
                                                {
                                                    if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2))
                                                    {

                                                        <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = claiminfo.AssignmentId })" style="border: none; color: black; cursor: pointer;float:left;">
                                                            <img src="@Url.Content("~/Content/Images/AddUserIcon01.png")" title="Assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                        </a>

                                                    }
                                                }
                                                        }
                                                    </td>
                                                    <td nowrap="nowrap">
                                                        @if (!displayAssignSPIcon)
                                                        {
                                                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2))
                                                            {
                                                                if (displayReAssignSPIcon)
                                                                {
                                                                    <a href="@Url.Action("SelectServiceProvider", "NewAssignment", new { assignmentId = claiminfo.AssignmentId })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                                                        <img src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Re-assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;padding-right:4px;" />
                                                                    </a>
                                                                }

                                                                System.Data.Objects.ObjectParameter outIsNewInvoiceEnabled = new System.Data.Objects.ObjectParameter("IsNewInvoiceEnabled", System.Data.DbType.Boolean);
                                                                css.usp_IsNewPropertyInvoiceEnabled(outIsNewInvoiceEnabled, claiminfo.AssignmentId);
                                                                if (Convert.ToBoolean(outIsNewInvoiceEnabled.Value) == true)
                                                                {
                                                                    <a href="#" style="text-decoration:none;border: none; color: black; cursor: pointer;padding-right:4px;" onclick="loadPropertyInvoicePopup('@claiminfo.AssignmentId','New','-1')">
                                                                        <img src="@Url.Content("~/Content/Images/iconMoneyAdd01.png")" title="New Invoice" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                                    </a>
                                                                }


                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)1)))
                                                        {
                                                            if (css.ClaimCoverages.Where(x => x.ClaimId == @claiminfo.ClaimId).ToList().Count > 0)
                                                            {
                                                                List<BLL.PropertyInvoice> invoiceList = css.PropertyInvoices.Where(x => x.AssignmentId == claiminfo.AssignmentId).OrderByDescending(x => x.InvoiceId).ToList();
                                                                Int64 invoiceId = 0;
                                                                if (invoiceList.Count == 0)
                                                                {
                                                                    invoiceId = -1;
                                                                }
                                                                else
                                                                {
                                                                    invoiceId = invoiceList.First().InvoiceId;
                                                                }
                                                                if (invoiceList.Count == 1)
                                                                {
                                                                    <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="loadPropertyInvoicePopup('@claiminfo.AssignmentId','Read','@invoiceId')">
                                                                        <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                                    </a>
                                                                }
                                                                else if (invoiceList.Count > 1)
                                                                {
                                                                    <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="loadPropertyInvoiceListPopup('@Url.Content("~/PropertyAssignmentInvoice/AssignmentInvoiceSummaryList?AssignmentId=" + claiminfo.AssignmentId)')">
                                                                        <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                                    </a>
                                                                }
                                                                else if (invoiceList.Count < 0 || (css.PropertyAssignments.Where(x => x.AssignmentId == claiminfo.AssignmentId).First().FileStatus == 7))
                                                                {
                                                                    <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="loadPropertyInvoicePopup('@claiminfo.AssignmentId','Edit','@invoiceId')">
                                                                        <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                                    </a>

                                                                }
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3)
                                                {
                                                    <a href="#" onclick="loadEditClaimPopup('@Url.Action("PropertyAssignment", "PropertyAssignment", new { claimid = claiminfo.ClaimId })')" style="border: none; color: black; cursor: pointer;float:left;">
                                                        <img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                    </a>
                                                }


                                                        }
                                                    </td>
                                                </tr>
                                                <tr id="trRecordInfo@(i + "")" style="display:none;" class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                                    <td colspan="18">
                                                        <table width="100%" cellspacing="5">
                                                            <tr>
                                                                <td><b>Claim #:</b> @claimNumber</td>
                                                                <td><b>Policy #:</b>@policyNumber</td>
                                                                <td><b>CAT Code:</b> @catCode</td>
                                                                <td><b>Cause Type of Loss:</b> @causeTypeOfLoss </td>
                                                                <td><b>Service Offering:</b> @serviceOffering</td>
                                                                <td><b>Date of Loss: </b>@dateOfLoss</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Insured:</b> @insuredName</td>
                                                                <td><b>Address:</b> @insuredAddress </td>
                                                                <td><b>City:</b> @insuredCity</td>
                                                                <td><b>State:</b>  @insuredState</td>
                                                                <td><b>Zip: </b>@insuredZip</td>
                                                                <td><b>Total Deductible:</b>@totalDeductible</td>
                                                            </tr>
                                                        </table>


                                                        <br />
                                                        <br />
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                        if (i == 0)
                                        {
                                            <tr>
                                                <td colspan="18" align="center">
                                                    <br />
                                                    - No record matching the Search Filter was found -<br />
                                                    <br />
                                                </td>
                                            </tr>
                                        }
                                }


                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%">
                                <tr>

                                    <td>
                                        @Html.Partial("_Pager", Model.Pager)
                                    </td>
                                </tr>
                            </table>



                        </td>
                    </tr>
                    <tr>
                        <td class="footer">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}

<div id="backgroundPopup" onclick="disableAllPopups();"></div>
<div id="divEditClaim" class="EditPopup" style="width: 1000px;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Edit Claim/Assignment</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableEditClaimPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">

                <iframe id="iframeEditClaim" width="1000" height="600" frameborder="0" scrolling="auto"></iframe>
            </td>
        </tr>


    </table>

</div>
<div id="divPropertyInvoicePopup" class="EditPropertyInvoicePopup" style="width: 78%;">
    @using (@Html.BeginForm("SubmitPropertyInvoice", "PropertyAssignmentInvoice", new { returnToPage = "Search" }, FormMethod.Post, new { @id = "frmInvoice" }))
    {
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Property Invoice</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePropertyInvoicePopup()" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%;">
                        <tr>
                            <td colspan="2">
                                <img id="imgProcessingPropertyInvoicedetails" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="loading" />
                                <div id="divPropertyInvoiceDetails" style="overflow-y: scroll; height: 500px;">
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td id="tdPropertyInvoicefooter" class="footer" style="text-align: right; display: none;">
                    <table>
                        <tr>
                            <td nowrap="nowrap" width="100%" align="right">
                                <div id="divPISubmitProcessing" style="display: none; width: 100%">
                                    <img src=@Url.Content("~/Content/Images/progress01.gif") height="16" width="16" style="vertical-align: middle;padding-right:5px;" alt="loading" />
                                </div>
                            </td>
                            <td>
                                <input type="button" class="buttonLightYellow_100" value="Submit" onclick="btnPISubmit_Click()" />
                            </td>
                        </tr>
                    </table>


                </td>
            </tr>
        </table>

    }
</div>
<div id="divPropertyInvoiceListPopup" class="InvoiceListPopup" style="width: 500px;">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Invoices</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePropertyInvoiceListPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <div id="divInvoiceListLoading">
                    <img id="imgInvoiceListLoading" src=@Url.Content("~/Content/Images/progress01.gif") height="16" width="16" style="vertical-align: middle; display: none;" alt="loading" />
                </div>
                <div id="divInvoicelList"></div>
                <br />
            </td>
        </tr>
        <tr>
            <td class="footer">
                <br />
            </td>
        </tr>

    </table>

</div>
<div id="backgroundInvoiceListPopup" onclick="disablePropertyInvoiceListPopup()"></div>
<div id="backgroundPropertyInvoicePopup"></div>
<div id="bgAssignCSSPOC" onclick="disableAssignCSSPOCPopup();"></div>

<div id="divAssignCSSPOCPopup" class="AssignCSSPOCPopup">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Assign CSS POC</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableAssignCSSPOCPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <br />
                <span id="spanAssignCSSPOCValidate" class="errorMsg" style="display:none;">Select a CSS POC.<br /><br /></span>
                CSS POC: @Html.DropDownList("ddlAssignCSSPOC", Model.CSSPOCList, new { @id = "ddlAssignCSSPOC" })
                <br /><br />
            </td>
        </tr>

        <tr>
            <td class="footer" style="text-align: right">
                <img id="imgClaimDocEmailProgress" height="16" width="16" style="vertical-align:middle;display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" />

                <input type="button" value="Assign" class="buttonYellow_100" onclick="btnAssignCSSPOCConfirm_Click()" />
            </td>
        </tr>
    </table>

</div>


<div id="divAssignLOBPopup" class="AssignCSSPOCPopup">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Assign LOB</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableAssignLOBPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <br />
                <span id="spanAssignLOBValidate" class="errorMsg" style="display: none;">
                    Select a LOB.<br />
                    <br />
                </span>
                <span id="spanLOBCheck">

                </span>
                LOB:

                @Html.DropDownListFor(model => model.LOBId, (IEnumerable<SelectListItem>)new List<SelectListItem> { new SelectListItem { Text = "--Select LOB--", Value = "0", Selected = true } }, new { @id = "LOBList", style = "width: 50%;" })

                <br />
                <br />
            </td>
        </tr>

        <tr>
            <td class="footer" style="text-align: right">
                <img id="imgClaimDocEmailProgress" height="16" width="16" style="vertical-align:middle;display:none;" src="@Url.Content("~/Content/Images/progress01.gif")" />

                <input type="button" value="Assign" class="buttonYellow_100" onclick="btnAssignLOBConfirm_Click()" />
            </td>
        </tr>
    </table>

</div>
<div id="ClaimsSearchList" style="display: none;width:746px;" class="EditPopupClaimsSearchList">
    <table width=" 100%" cellspacing="0" id="tbldivservice">
        <tr>
            <td class="mainHeader">

                <table width="100%">
                    <tr>
                        <td align="left"><b>Recently Accessed Claims</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disablePopupClaimsSearchList()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="trLOB">
            <td>
                <table width="100%" cellspacing="0">

                    <tr>
                        <td colspan="2">
                            <div id="dvClaimsSearchList">
                            </div>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

    </table>
</div>
<div id="backgroundPopupClaimsSearchList" onclick="disablePopupClaimsSearchList();" class="backgroundPopupClaimsSearchList" style="display: none;"></div>
