﻿@model BLL.ViewModels.ServiceProviderRegistrationViewModel


<style type="text/css">
    .waiting-box {
        display: block;
        position: fixed; /* fixed position so it doesn't scroll */
        _position: fixed; /* hack for internet explorer 6*/
        z-index: 99; /* on top of everything else */
        top: 0;
        left: 0;
        /*left: 50%;
        top: 50%;*/ /* displayed on the top of the page, just like Gmail's yellow info-box */
        /*background: white;*/
        background-color: black;
        border-radius: 4px;
        /*margin-top: -147px;*/
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }


    .loading {
        font-family: Arial;
        font-size: 10pt;
        /*border: 5px solid #67CFF5;*/
        width: 150px;
        height: 150px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }
</style>
<div class="loading" align="center">
    <img src="@Url.Content("~/Content/Images/spinner.gif")" width="150" height="150" />
</div>
 @Html.Partial("_IADAServiceProviderBasicInfo", Model)
<div id="ErrorPopup" class="modal fade in" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Errors</h4>
            </div>
            <div class="modal-body">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;">
                    <div class="scroller" style="overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                        <div class="form-body">
                            <div id="Errorlog" style="color: red;">
                               @Html.ValidationSummary()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" ng-click="searchSPMapclick()" class="btn dark btn-outline">Ok</button>
            </div>
        </div>
    </div>
</div>

@section PageLevelScript{

    <script src="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">
        var populateZipUrl = '@Url.Content("~/Utility/GetZipCodeInfo")';
        var HeadCompanyDetailsUrl = '@Url.Content("~/ServiceProviderRegistration/GetHeadCompanyDetails")';
        var InternalContactRejectUrl = '@Url.Action("RejectInternalContact", "ServiceProviderRegistration")';
        var SaveInternalContact = '@Url.Action("SaveInternalContact", "ServiceProviderRegistration")';
        var CreateInternalContactPopup = '@Url.Content("~/ServiceProviderRegistration/EditInternalContact")';
        var InternalContactList = '@Url.Content("~/ServiceProviderRegistration/GetInternalContactList")';
        var federal = $.trim('@Model.user.ServiceProviderDetail.FederalTaxClassification');
        var ISDBA = '@Model.user.ServiceProviderDetail.IsDBA';
    </script>
     <script src="~/Scripts/Customs/SPRegistration.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            @if(!Html.ViewData.ModelState.IsValid)
            {
                @:$("#ErrorPopup").modal("show");
            }
            debugger;
            var EnableLLC = '@(ViewBag.EnableLLC)';

            $('#txtPassword').val('@Model.user.Password');
            $('#txtConfPassword').val('@Model.user.Password');

            if (EnableLLC == '1') {
                $('#tddbaradio input[type="radio"]').removeAttr("disabled");
                $('#ddlFederalTaxClassification').removeAttr("disabled");
                $('#ddlLLCTaxClassification').removeAttr("disabled");
                $('#hdnmodifyllc').val("1");

            }
            else {
                $('#hdnmodifyllc').val("0");
            }
           
       });

    </script>
}