﻿@{
    Layout = "~/Views/Shared/_subMainLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <article id="post-1672" class="post-1672 page type-page status-publish has-post-thumbnail hentry pmpro-has-access odd">
                <div class="entry-content">
                    <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1469657343254 ult-vc-hide-row vc_row-has-fill" data-rtl="false" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" style="position: relative; left: -46.5px; box-sizing: border-box; width: 1263px; padding-left: 46.5px; padding-right: 46.5px;">
                        <div class="upb_row_bg vcpb-default" data-upb_br_animation="" data-parallax_sense="30" data-bg-override="0" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" style="background-size: cover; background-repeat: repeat; background-color: rgba(0, 0, 0, 0); background-image: url(&quot;/wp-content/uploads/2016/04/Claims-Appraisal-Service-Sub-Page-Header-1.png&quot;); background-attachment: scroll; min-width: 1263px; left: 0px; width: 1262px;"><div class="upb_bg_overlay" style="background-color:rgba(50,56,108,0.2);"></div></div><div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <div class="textshadow">
                                                <h2 style="text-align: center;"><span style="color: #ffffff; font-size: 175%;">IADA News and Events</span></h2>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="vc_row-full-width vc_clearfix"></div><!-- Row Backgrounds --><div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_column-gap-20" style="position: relative; left: -36.5px; box-sizing: border-box; width: 1263px;">
                        <div class="wpb_column vc_column_container vc_col-sm-9">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <!-- vc_grid start -->
                                    <div class="vc_grid-container-wrapper vc_clearfix">
                                        <div class="vc_grid-container vc_clearfix wpb_content_element vc_masonry_grid" data-initial-loading-animation="zoomIn" data-vc-grid-settings="{&quot;page_id&quot;:1672,&quot;style&quot;:&quot;lazy-masonry&quot;,&quot;action&quot;:&quot;vc_get_vc_grid_data&quot;,&quot;shortcode_id&quot;:&quot;1469658810814-f43e3bc6-ffc0-9&quot;,&quot;items_per_page&quot;:&quot;10&quot;,&quot;tag&quot;:&quot;vc_masonry_grid&quot;}" data-vc-request="~/wp-admin/admin-ajax.php" data-vc-post-id="1672" data-vc-public-nonce="499aa586d4">
                                            <style type="text/css" data-type="vc_shortcodes-custom-css">
                                                .vc_custom_1469657477257 {
                                                    padding-right: 10px !important;
                                                    padding-left: 10px !important;
                                                    background-color: #f6f6f6 !important;
                                                }

                                                .vc_custom_1469657583241 {
                                                    border-top-width: 1px !important;
                                                    border-right-width: 1px !important;
                                                    border-bottom-width: 1px !important;
                                                    border-left-width: 1px !important;
                                                    padding-top: 10px !important;
                                                    padding-right: 10px !important;
                                                    padding-bottom: 10px !important;
                                                    padding-left: 10px !important;
                                                    border-left-color: #f6f6f6 !important;
                                                    border-left-style: solid !important;
                                                    border-right-color: #f6f6f6 !important;
                                                    border-right-style: solid !important;
                                                    border-top-color: #f6f6f6 !important;
                                                    border-top-style: solid !important;
                                                    border-bottom-color: #f6f6f6 !important;
                                                    border-bottom-style: solid !important;
                                                }

                                                .vc_custom_1469657436073 {
                                                    background-color: #f6f6f6 !important;
                                                }
                                            </style>
                                            <style type="text/css">
                                                img.wp-smiley,
                                                img.emoji {
                                                    display: inline !important;
                                                    border: none !important;
                                                    box-shadow: none !important;
                                                    height: 1em !important;
                                                    width: 1em !important;
                                                    margin: 0 .07em !important;
                                                    vertical-align: -0.1em !important;
                                                    background: none !important;
                                                    padding: 0 !important;
                                                }
                                            </style>
                                            <link rel="stylesheet" id="pmpro_admin-css" href="~/wp-content/plugins/paid-memberships-pro/css/admin.css?ver=1.8.10.1" type="text/css" media="screen">
                                            <ul class="vc_grid-filter vc_clearfix vc_grid-filter-default vc_grid-filter-size-md vc_grid-filter-center vc_grid-filter-color-grey" data-vc-grid-filter="category">
                                                <li class="vc_active vc_grid-filter-item"><span data-vc-grid-filter-value="*">All</span></li>
                                                <li class="vc_grid-filter-item">
                                                    <span data-vc-grid-filter-value=".vc_grid-term-161">Events</span>
                                                    <!-- fix whitespace
                                                    -->
                                                </li>
                                                <li class="vc_grid-filter-item">
                                                    <span data-vc-grid-filter-value=".vc_grid-term-162">News</span>
                                                    <!-- fix whitespace
                                                    -->
                                                </li>
                                            </ul>	<!-- for responsive vc_responsive !-->
                                            <div class="vc_grid-filter-select vc_grid-filter-center vc_grid-filter-color-grey" data-vc-grid-filter-select="category">
                                                <div class="vc_grid-styled-select">
                                                    <select data-filter="category">
                                                        <option class="vc_active" value="*">All&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                        <option value=".vc_grid-term-161">Events&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                        <option value=".vc_grid-term-162">News&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                    </select><i class="vc_arrow-icon-navicon"></i>
                                                </div>
                                            </div>
                                            <div class="vc_grid vc_row vc_grid-gutter-35px vc_pageable-wrapper vc_hook_hover" data-vc-pageable-content="true">
                                                <div class="vc_pageable-slide-wrapper vc_clearfix" data-vc-grid-content="true" style="position: relative; height: 588.531px;">
                                                    <div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_grid-item-zone-c-bottom vc_grid-term-162 vc_grid_filter-item vc_visible-item" style="position: absolute; left: 0px; top: 0px;">
                                                        <div class="vc_grid-item-mini vc_clearfix ">
                                                            <div class="vc_gitem-animated-block  vc_gitem-animate vc_gitem-animate-scaleIn" data-vc-animation="scaleIn">
                                                                <div class="vc_gitem-zone vc_gitem-zone-a vc_custom_1469657583241 vc_gitem-is-link" style="background-image: url(/wp-content/uploads/2016/07/IADA-Helps-St-Judes-1024x683.jpeg) !important;">
                                                                    <a href="~/help-iada-save-a-life/" title="IADA Gives Back" class="vc_gitem-link vc-zone-link"></a>	<img src="/wp-content/uploads/2016/07/IADA-Helps-St-Judes-1024x683.jpeg" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="vc_gitem-zone vc_gitem-zone-c vc_custom_1469657477257">
                                                                <div class="vc_gitem-zone-mini">
                                                                    <div class="vc_gitem_row vc_row vc_gitem-row-position-top">
                                                                        <div class="vc_col-sm-12 vc_gitem-col vc_gitem-col-align-left">
                                                                            <div class="vc_custom_heading vc_gitem-post-data vc_gitem-post-data-source-post_title"><h4 style="text-align: left">IADA Gives Back</h4></div><div class="vc_custom_heading vc_custom_1469657436073 vc_gitem-post-data vc_gitem-post-data-source-post_excerpt">
                                                                                <p style="text-align: left"></p><p>IADA’s “Save a Life” Project raises over $15,000 for St. Judes Children’s Research Hospital. The event was held at the NASCAR Hall of Fame as part of IADA’s 47th Vehicle Repair Conference in Charlotte, North Carolina.</p>
                                                                                <p></p>
                                                                            </div><div class="vc_btn3-container vc_btn3-left"><a href="~/help-iada-save-a-life/" class="vc_gitem-link vc_general vc_btn3 vc_btn3-size-sm vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-color-blue" title="Read more">Read more</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><div class="vc_clearfix"></div>
                                                    </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_grid-item-zone-c-bottom vc_grid-term-161 vc_grid_filter-item vc_visible-item" style="position: absolute; left: 310px; top: 0px;">
                                                        <div class="vc_grid-item-mini vc_clearfix ">
                                                            <div class="vc_gitem-animated-block  vc_gitem-animate vc_gitem-animate-scaleIn" data-vc-animation="scaleIn">
                                                                <div class="vc_gitem-zone vc_gitem-zone-a vc_custom_1469657583241 vc_gitem-is-link" style="background-image: url(/wp-content/uploads/2016/07/header-8.png) !important;">
                                                                    <a href="~/the-47th-iada-vehicle-repair-conference-was-a-huge-success/" title="The 47th IADA Vehicle Repair Conference Was a Huge Success" class="vc_gitem-link vc-zone-link"></a>	<img src="/wp-content/uploads/2016/07/header-8.png" class="vc_gitem-zone-img" alt="">	<div class="vc_gitem-zone-mini">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="vc_gitem-zone vc_gitem-zone-c vc_custom_1469657477257">
                                                                <div class="vc_gitem-zone-mini">
                                                                    <div class="vc_gitem_row vc_row vc_gitem-row-position-top">
                                                                        <div class="vc_col-sm-12 vc_gitem-col vc_gitem-col-align-left">
                                                                            <div class="vc_custom_heading vc_gitem-post-data vc_gitem-post-data-source-post_title"><h4 style="text-align: left">The 47th IADA Vehicle Repair Conference Was a Huge Success</h4></div><div class="vc_custom_heading vc_custom_1469657436073 vc_gitem-post-data vc_gitem-post-data-source-post_excerpt">
                                                                                <p style="text-align: left"></p><p>The 47th IADA Vehicle Repair Conference was a tremendous success, thanks in part to this year’s sponsors. View some interesting photos and make sure you plan to attend next year.</p>
                                                                                <p></p>
                                                                            </div><div class="vc_btn3-container vc_btn3-left"><a href="~/the-47th-iada-vehicle-repair-conference-was-a-huge-success/" class="vc_gitem-link vc_general vc_btn3 vc_btn3-size-sm vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-color-blue" title="Read more">Read more</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><div class="vc_clearfix"></div>
                                                    </div><div class="vc_grid-item vc_clearfix vc_col-sm-4 vc_grid-item-zone-c-bottom vc_grid-term-162 vc_grid_filter-item vc_visible-item" style="position: absolute; left: 621px; top: 0px;">
                                                        <div class="vc_grid-item-mini vc_clearfix">
                                                            <div class="vc_gitem-animated-block  vc_gitem-animate vc_gitem-animate-scaleIn" data-vc-animation="scaleIn">
                                                                <div class="vc_gitem-zone vc_gitem-zone-a vc_custom_1469657583241 vc_gitem-is-link" style="background-image: url(/wp-content/uploads/2016/07/logo-transition-6.png) !important;">
                                                                    <a href="~/introducing-the-new-iada-logo/" title="Introducing the New IADA Logo" class="vc_gitem-link vc-zone-link"></a>	<img src="/wp-content/uploads/2016/07/logo-transition-6.png" class="vc_gitem-zone-img" alt="The IADA Logo">	<div class="vc_gitem-zone-mini">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="vc_gitem-zone vc_gitem-zone-c vc_custom_1469657477257">
                                                                <div class="vc_gitem-zone-mini">
                                                                    <div class="vc_gitem_row vc_row vc_gitem-row-position-top">
                                                                        <div class="vc_col-sm-12 vc_gitem-col vc_gitem-col-align-left">
                                                                            <div class="vc_custom_heading vc_gitem-post-data vc_gitem-post-data-source-post_title"><h4 style="text-align: left">Introducing the New IADA Logo</h4></div><div class="vc_custom_heading vc_custom_1469657436073 vc_gitem-post-data vc_gitem-post-data-source-post_excerpt">
                                                                                <p style="text-align: left"></p><p>IADA is proud to unveil refreshed branding and a new logo to represent the future vision, behaviors and culture of the Association.</p>
                                                                                <p></p>
                                                                            </div><div class="vc_btn3-container vc_btn3-left"><a href="~/introducing-the-new-iada-logo/" class="vc_gitem-link vc_general vc_btn3 vc_btn3-size-sm vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-color-blue" title="Read more">Read more</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><div class="vc_clearfix"></div>
                                                    </div>
                                                </div><div data-lazy-loading-btn="true" style="display: none;"><a href="~/iada-news-and-events/"></a></div>
                                            </div>
                                        </div>
                                    </div><!-- vc_grid end -->
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_widgetised_column wpb_content_element">
                                        <div class="wpb_wrapper">

                                            <div class="widget-1 widget-odd row widgets-wraps">
                                                <div class="widgettitle_wrap col-md-12"><h2 class="widgettitle"><span>Featured Providers</span></h2></div>
                                                <div class="widget_posts_wrap javo-wgfi-wrap">
                                                    <ul class="latest-posts items list-unstyled  javo-wgfi-listing-grid">
                                                        Not Found Features Items.
                                                    </ul><!-- /.row -->
                                                </div><!-- /.widget_posts_wrap -->

                                                <script type="text/javascript">
		jQuery( function( $ ){
			var opt = {
				rating:{
					container	: '.javo-wgfi-listing-meta-container > [data-score]'
					, starOff	: '~/wp-content/themes/javo-directory/assets/images/star-off-s.png'
					, starOn	: '~/wp-content/themes/javo-directory/assets/images/star-on-s.png'
					, starHalf	: '~/wp-content/themes/javo-directory/assets/images/star-half-s.png'
				}
			};
			new window.javo_wgfi( opt );
		});

                                                </script>

                                            </div><div class="widget-2 widget-even widget-alt row widgets-wraps"><div class="widgettitle_wrap col-md-12"><h2 class="widgettitle"><span>Service Partners</span></h2></div><div class="bc_random_banner" data-id="2" data-url="~/wp-admin/admin-ajax.php?action=bc_rb_ads_click&amp;nonce=22c7dcf3a8"><a href="" title="duncan-systems"><img style="width:257px;" height:100px="" src="~/wp-content/uploads/2016/04/duncan-systems.png" title="duncan-systems"></a></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="vc_row-full-width vc_clearfix"></div>
                </div><!-- .entry-content -->
                <footer class="entry-meta"></footer><!-- .entry-meta -->
            </article><!-- #post -->
        </div>
    </div>
</div>