﻿@using System.Configuration
@using CSS
@model BLL.ViewModels.LicenseDocsUploadViewModel
@{
    Layout = null;
    ViewBag.Title = " License Documents Upload";
    string containerName = ConfigurationManager.AppSettings["SPDocsContainerName"].ToString();
    <style type="text/css">
        body {
            font-family: Verdana;
            font-size: 11px !important;
            color: #727272;
            margin: 0px;
        }
    </style>
}
<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
     <script type="text/javascript">
         function isFileValid() {
             var isValid = true;
             var file = document.getElementById('licenseFile');
             //var hash = {
             //    '.pdf': 1,
             //    '.PDF': 1
             //};
             //if (check_extension(file.value, hash) != true) {
             //    alert('Select a PDF file.');
             //    isValid = false;
             //}
             if (file.value.trim().length == 0) {
                 alert("Select a file");
                 isValid = false;
             }
             return isValid;
         }
         function getExtension(filename) {
             var re = /\..+$/;
             var ext = filename.match(re);
             return ext;
         }
         function check_extension(filename, hash) {

             var ext = getExtension(filename);

             if (hash[ext]) {
                 return true;
             } else {
                 return false;
             }
         }
    </script>
</head>
<body>
    <table>
        <tr>
            <td>@using (Html.BeginForm("LicenseDocsUpload", "ServiceProviderRegistration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <table>
                     <tr>
                        <td class="defaultPageText" colspan="2">If the list below does not contain your license, kindly save this registration form before proceeding.
                        </td>
                    </tr>
                    <tr>
                        <td class="defaultPageText" width="200" nowrap="nowrap">Select License:@Html.HiddenFor(model => model.UserId)</td>
                        <td>@Html.DropDownListFor(model => model.SPLId, Model.LicenseList, new { onchange = "this.form.submit();" })
                        </td>
                    </tr>
                    @{
                    if (Model.License != null)
                    {
                        bool showUpload = true;
                        if (Model.License.IsDocUploaded.HasValue)
                        {
                            if (Model.License.IsDocUploaded.Value)
                            {
                                showUpload = false;
                            }
                        }

                        if (showUpload)
                        {
                        <tr>
                            <td class="defaultPageText">Choose File:</td>
                            <td class="defaultPageText">
                                <input type="file" id="licenseFile" name="licenseFile" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="right">

                                <input type="submit" value="Upload" class="buttonYellow_100" onclick="javascript: return isFileValid();" /></td>
                        </tr>
                        }

                    }
                    }
                </table>
                }
            </td>
        </tr>
        @{
            if (Model.License != null)
            {
                if (Model.License.IsDocUploaded.HasValue)
                {
                    if (Model.License.IsDocUploaded.Value)
                    {
                        string absoluteFileName = Model.License.UserId + "/" + ConfigurationManager.AppSettings["ServiceProviderLicenseDocsFolderName"].ToString() + "/" + Model.License.FileName;
                        string fileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName,absoluteFileName);
            <tr>
                <td class="defaultPageText"><a style="padding-right:5px;" href="@fileUrl" target="_blank">
                    <img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;"/></a>
                    <a style="padding-right:5px;" href="@Url.Action("LicenseDocsDelete", "ServiceProviderRegistration", new { SPLId = Model.License.SPLId })" style="border: none; color: black; cursor: pointer;float:right;">
                        <img src="@Url.Content("~/Content/Images/Cancel.png")" title="Remove" alt="Remove" width="12" height="12" style="border:none;vertical-align:bottom;" onclick = "return confirm('Are you sure you want to Delete ?')" /></a> @Model.License.LicenseNumber - @Model.License.Type</td>
                <td class="defaultPageText"></td>
            </tr>
                    }
                }
            }
        }
    </table>

</body>
