﻿@model BLL.ViewModels.ProcessESigningDocViewModel
@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
    ViewBag.Title = "ProcessESigningDocument";
}

<script type="text/javascript">
    $(function () {
        $("#close").click(function () { window.close(); });
    });
</script>
<table width="100%">
    <tr>
        <td class="mainHeader">@Model.DocTitle </td>
    </tr>
    <tr>
        <td class="content">
            <iframe src="@Model.DocURL" frameborder="0" width="100%" height="480"></iframe>

        </td>
    </tr>
    <tr>
        <td class="footer" style="text-align:center;">
            <input type="button" value="Exit" id="close" style="width:100px" />
            <br />
        </td>
    </tr>
</table>
