﻿@model BLL.ViewModels.LineOfBusinessViewModel
@{
    Layout = "~/Views/Shared/_modalLayout.cshtml";
  
}
<style type="text/css">
    body {
        background-image: none !important;
    }

    .lblstyle {
        padding-right: 10px;
        width: 15%;
        vertical-align: middle;
        text-align: right;
    }
    .form-group {
    margin-bottom: 5px !important;
}
   .col-md-2, .col-md-4 {
    position: relative;
    min-height: 1px;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
   .errorMsg {
    font-weight: bold;
    color: red;
    display: inline;
}
</style>




<!DOCTYPE html>

<script type="text/javascript">
    function btnClear_click() {
        $("#hdnLOBId").val("-1");
        $("#ddlLOBType").val("");
        $("#ddlCATType").val("");
        $("#txtOther").val("");
        $("#txtStandardAdjuster").val("");
        $("#txtGeneralAdjuster").val("");
        $("#txtExecutiveGeneralAdjuster").val("");
        $("#txtFreeMiles").val("");
        $("#txtRatePerMile").val("");
        $("#txtNoOfPhotosIncluded").val("");
        $("#txtRatePerPhoto").val("");

        clearRequirements();
    }

    function AddNewLOB() {
        var href = "@Url.Action("LineOfBusiness", "LineOfBusiness", new { HeadCompanyId = Model.headcompanyid, LOBId = -1 })";
        href = href.replace('&amp;', '&');
        window.location.href = href;
    }


    
</script>
<body>

    @using (Html.BeginForm("LineOfBusiness", "LineOfBusiness", FormMethod.Post))
    { 
        <script type="text/javascript">

    function LoadKenduPricing(url) {

       //var strCompId = CompId;
       //         var strLobId = LobId;
              @*   var window = $("#LOBPricing").data("kendoWindow");
                window.refresh({
                    url: '@Url.Content("~/CompanyLOBPricing/ICompanyLobPricing")',
                    data: { CompanyId: strCompId, LobID: strLobId }
                });
                window.center().open();*@

        document.getElementById("iCompLOBPricing").src = url;

        $("#LOBPricingmodal").modal('show');
                return false;
            }

            function RefreshKenduPricing(CompId, LobId) {

                var strCompId = CompId;
                var strLobId = LobId;
                var window = $("#LOBPricing").data("kendoWindow");
                window.refresh({
                    url: '@Url.Content("~/CompanyLOBPricing/ICompanyLobPricing")',
            data: { CompanyId: strCompId, LobID: strLobId }
        });
        window.center().open();
    }


        </script>
        <style>
            .fontsizefortbl {
    font-size: 13px !important;
}
        </style>

    <div id="mainblock" class="portlet light bordered" style="margin: 0px; padding-bottom: 0px;">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-equalizer font-blue-hoki"></i>
                <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Add/Edit Line of Business</span>
            </div>
            <div class="tools">
                <a href="" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body form" style="display: block;margin-top: -14px;">
            <div class="form-horizontal" role="form">
                @*<div class="form-group">
                    @if (Model.LOBGetList.Count > 0)
                    {
                        <div style="float: right; margin-right: 7px;"><a href="@Url.Content("~/#aloblistdiv")" style="text-decoration: none;">Scroll down to the Line of Business List</a></div>
    <div class="scroll-to-bottom" style="display: block;">
        <i class="icon-arrow-down"></i>
    </div>
                    }
                </div>*@
                <div class="form-group">
                    <div style="display: none;">
                        @Html.HiddenFor(model => model.headcompanyid, new { id = "hdnHeadCompanyId" })
                        @Html.HiddenFor(model => model.LOB.LOBId, new { id = "hdnLOBId" })
                    </div>
                    <div class="errorMsg">

                        @if (TempData["Error"] != null)
                        {
                            @:@TempData["Error"]
                                                                                                                                                                                                                                                                                                                        TempData["Error"] = null;
                        }
                        @Html.ValidationSummary()
                    </div>
                </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-2 control-label">LOB Type:</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.LOB.LOBType, Model.LOBTypeList, new { @class = "form-control fontsizefortbl", id = "ddlLOBType" })
                        </div>

                        <label for="FreeMiles" class="col-md-2 control-label">Free Miles:</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.LOB.FreeMiles, new { id = "txtFreeMiles", @class = "form-control fontsizefortbl" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CatType" class="col-md-2 control-label">CAT Type:</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.LOB.CatType, Model.CatTypeList, new { @class = "form-control fontsizefortbl", id = "ddlCATType" })
                        </div>

                        <label for="RatePerMile" class="col-md-2 control-label">Rate Per Mile:</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.LOB.RatePerMile, new { id = "txtRatePerMile", @class = "decimal form-control fontsizefortbl" })
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="txtOther" class="col-md-2 control-label">Other:</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.LOB.Other, new { @class = "form-control fontsizefortbl", id = "txtOther" })
                        </div>

                        <label for="txtNoOfPhotosIncluded" class="col-md-2 control-label">No Of Photos Included:</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.LOB.NoOfPhotosIncluded, new { id = "txtNoOfPhotosIncluded", @class = "integer form-control fontsizefortbl" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtStandardAdjuster" class="col-md-2 control-label">Standard Adjuster:</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.LOB.StandardAdjuster, new { id = "txtStandardAdjuster", @class = "decimal form-control fontsizefortbl" })

                        </div>

                        <label for="txtRatePerPhoto" class="col-md-2 control-label">Rate Per Photo:</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.LOB.RatePerPhoto, new { id = "txtRatePerPhoto", @class = "decimal form-control fontsizefortbl" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtGeneralAdjuster" class="col-md-2 control-label">General Adjuster:</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.LOB.GeneralAdjuster, new { id = "txtGeneralAdjuster", @class = "decimal form-control fontsizefortbl" })
                        </div>
                        <label for="txtTEMonthlyBillingDay" class="col-md-2 control-label">T&E Monthly Billing Day:</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.LOB.TEMonthlyBillingDay, new { id = "txtTEMonthlyBillingDay", @class = "integer form-control fontsizefortbl" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtExecutiveGeneralAdjuster" class="col-md-2 control-label">Executive General Adjuster:</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.LOB.ExecutiveGeneralAdjuster, new { id = "txtExecutiveGeneralAdjuster", @class = "decimal form-control fontsizefortbl" })

                        </div>

                        @{
                        BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                        BLL.Company cmp = css.Companies.Find(Model.headcompanyid);
                        if (cmp.IntegrationTypeId == 1 || cmp.IntegrationTypeId == 2)
                        {
                            <label for="HasBridge" class="col-md-2 control-label"> Do Not Bridge:</label>
                           <div class="col-md-4">
                               @Html.CheckBoxFor(model => model.HasBridge, new { @class = "form-control fontsizefortbl", @style = "width: 8%;" })
                           </div>

                        }
                        else
                        {
                            <label for="Billing" class="col-md-2 control-label lblstyle"></label>
                            <div class="col-md-4">
                            </div>

                        }

}

                    </div>
                </div>
        </div>
    </div>
    <div class="portlet light bordered" style="margin: 0px; padding-bottom: 0px;">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-equalizer font-blue-hoki"></i>
                <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Line of Business Requirements</span>
            </div>
            <div class="tools">
             
                <a href="" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body form" style="display: block;margin-top: -14px;">
            <div class="form-horizontal" role="form">
                @Html.Partial("_Requirements", Model.RequirementsViewModel)
            </div>
        </div>
    </div>
    <div class="portlet light bordered" style="margin: 0px; padding-bottom: 0px;">
        <div class="portlet-title">
            <div class="caption">
               
            </div>
            <div class="tools">
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </div>
        <div class="portlet-body form" style="display: block;margin-top: -14px;">

        </div>
    </div>
    

    <div class="portlet light bordered" id="aloblistdiv" style="margin: 0px; padding-bottom: 0px;">
        <div class="portlet-title">
            <div class="caption">
             
                <i class="icon-equalizer font-blue-hoki"></i>
                <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Line Of Business List</span>
            </div>
            <div class="tools">
                <a name="aLOBList" style="text-decoration: none;"></a>
                <input type="button" value="New LOB" class="btn btn-primary" style="float: right; margin-right: 5px;" onclick="AddNewLOB()" />
                @*<a href="" class="collapse" data-original-title="" title=""> </a>*@
            </div>
        </div>
        <div class="portlet-body form" style="display: block;margin-top: -14px;">
            <div class="form-horizontal" role="form">
                <div class="table-scrollable">
                    <table class="table table-hover fontsizefortbl" cellpadding="3" cellspacing="0" width="100%">
                        <thead style="background-color: #406E98 !important;color: white;">
                            <tr valign="top">
                                <td width="20%">
                                    LOB Description
                                </td>
                                <td align="right" width="20%">
                                    Standard
                                    <br />
                                    Adjuster ($)
                                </td>
                                <td align="right" width="20%">
                                    General
                                    <br />
                                    Adjuster ($)
                                </td>
                                <td align="right" width="25%">
                                    Executive
                                    <br />
                                    General Adjuster ($)
                                </td>
                                <td align="center" width="10%">Lob Pricing </td>
                                <td align="center" width="10%">Edit</td>
                                <td align="center" width="10%">Delete</td>
                            </tr>
                        </thead>
                        @{
                        int i = 0;
                        if (Model.LOBGetList != null)
                        {
                            foreach (var lob in Model.LOBGetList)
                            {
                                <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                    <td width="20%">
                                        @lob.LOBDescription
                                    </td>
                                    <td align="right" width="20%">
                                        @lob.StandardAdjuster
                                    </td>
                                    <td align="right" width="20%">
                                        @lob.GeneralAdjuster
                                    </td>
                                    <td align="right" width="25%">
                                        @lob.ExecutiveGeneralAdjuster
                                    </td>
                                    <td align="center" widht="10%">
                                        @*  <a href="#" onclick="loadLOBPricingPopup('@Url.Action("LOBPricing", "CompanyLOBPricing", new { CompanyId = @lob.HeadCompanyId, LobID = @lob.LOBId })')" style="border: none; cursor: pointer;">
                                            <img src="~/Content/Images/doller.jpg" title="Lob Pricing" width="15" height="15" style="border: none; vertical-align: bottom;" />    </a>*@
                                        <a href="javascript:void(0);" onclick="LoadKenduPricing('@Url.Action("LOBPricing", "CompanyLOBPricing", new { CompanyId = lob.HeadCompanyId, LobID = lob.LOBId })')" style="border: none; cursor: pointer;">
                                            <img src="~/Content/Images/doller.jpg" title="Lob Pricing" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                        </a>
                                    </td>
                                    <td align="center" widht="10%">
                                        <a href="@Url.Action("LineOfBusiness", "LineOfBusiness", new { HeadCompanyId = @lob.HeadCompanyId, LOBId = @lob.LOBId })" style="border: none; color: black; cursor: pointer;">
                                            <img src="~/Content/Images/Edit.png" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                        </a>
                                    </td>
                                    <td align="center" widht="10%">
                                        <a href="@Url.Action("LineOfBusinessDelete", "LineOfBusiness", new { headcompanyid = @lob.HeadCompanyId, LOBId = @lob.LOBId })" style="border: none; color: black; cursor: pointer;" onclick="javascript:return confirm('Are you sure you want to delete this record!');">
                                            <img src="~/Content/Images/Cancel.png" title="Delete" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

@*
        <div id="backgroundPopupPricing" onclick="disableLOBPricingPopup();"></div>*@
      
    }
    <style type="text/css">
        .modal.modal-wide .modal-dialog {
            width: 90%;
        }

        .modal-wide .modal-body {
            overflow-y: auto;
        }

        .modalHead {
            background-color: #67809F;
            color: white;
            font-weight: bold;
        }
    </style>

    <div id="LOBPricingmodal" class="modal modal-wide fade in" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modalHead">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Add/Edit Pricing Info</h4>
                </div>
                <div class="modal-body">

                    <iframe id="iCompLOBPricing" style="width:100%;max-height: 800px;min-height:500px" frameborder="0"  class="slimScrollDiv"></iframe>
                    @*<iframe id="iCompLOBPricing" src='@Url.Content("~/CompanyLOBPricing/LOBPricing?CompanyId="+ViewBag.CompanyId +"&LobID="+ViewBag.LobID)' frameborder="0" width="680px" style="overflow:scroll" height="290"></iframe>*@
                </div>

            </div>
        </div>
    </div>

</body>
@section PageLevelScript{

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('change blur', '.decimal', function () {

                var amt = parseFloat(this.value);
                if (isNaN(amt)) {
                    $(this).val('');
                }
                else {
                    $(this).val(amt.toFixed(2));
                }
            });

            $(document).on('change blur', '.integer', function () {
                var amt = parseInt(this.value);
                if (isNaN(amt)) {
                    $(this).val('');
                }
                else {
                    $(this).val(amt);
                }
            });
            //$('#mainblock').block({
            //    message: '<h1>Processing</h1>',
            //    css: { border: '3px solid #a00' }
            //});
            //$('#iframeLOB').load(function () { $('#mainblock').unblock(); });
        });
       
    </script>
}
