﻿@model CSS.Models.User
<link href="~/Content/SPMapSearch.css" rel="stylesheet" />

<style type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }

    .active {
        background-color: lightgray !important;
        /*color: white;*/
    }

    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .portlet.light.portlet-fit > .portlet-body {
        padding: 0px 0px 0px 0px !important;
    }

    .portlet {
        margin-top: 0;
        margin-bottom: 5px !important;
        padding: 0;
        border-radius: 4px;
    }

    .col-md-7 {
        padding-right: 0px !important;
    }

    .mt-element-step .step-thin .mt-step-title {
        font-size: 14px !important;
        font-weight: 700 !important;
        padding-left: 60px !important;
        margin-top: 12px !important;
        margin-left: -12px !important;
    }

    .subTitle {
        font-size: 12px !important;
        font-weight: 500 !important;
        font-style: italic;
        text-transform: initial;
    }

    .font-grey-cascade {
        color: lightslategrey !important;
    }
</style>

<div ng-app="CSSMVCApp" class="ng-cloak" ng-cloak>

    <div ng-controller="SPMapSearchController" ng-init="initializeController()" ng-cloak>
        <div class="row">
           
                <div class="portlet light portlet-fit ">

                    <div class="portlet-body">
                        <div class="mt-element-step">

                            <div class="row step-thin">

                                <div class="col-md-4 bg-grey mt-step-col active" ng-class="sTypeClass">
                                    <div class="mt-step-number bg-white font-grey">1</div>
                                    <div class="mt-step-title uppercase font-grey-cascade">
                                        Select Service Type
                                        <span class="subTitle">
                                            (example:Auto Appraisal, etc)
                                        </span>
                                    </div>
                                    @*<div class="mt-step-content font-grey-cascade">Select Service Type</div>*@
                                </div>
                                <div class="col-md-4 bg-grey mt-step-col" ng-class="PlaceClass">
                                    <div class="mt-step-number bg-white font-grey">2</div>
                                    <div class="mt-step-title uppercase font-grey-cascade">
                                        Enter Service Location
                                        <span class="subTitle">
                                            (address, city, state or zip)
                                        </span>
                                    </div>

                                </div>
                                <div class="col-md-4 bg-grey  mt-step-col " ng-class="SPClass">
                                    <div class="mt-step-number bg-white font-grey">3</div>
                                    <div class="mt-step-title uppercase font-grey-cascade">
                                        Select Service Provider
                                        <span class="subTitle">
                                            (enter claim information)
                                        </span>
                                    </div>
                                </div>
                            </div>
                      </div>
                    </div>
                </div>
           
        </div>

        <div class="row">
            <style type="text/css">
                .waiting-box1 {
                    display: block;
                    position: fixed; /* fixed position so it doesn't scroll */
                    _position: fixed; /* hack for internet explorer 6*/
                    z-index: 9999; /* on top of everything else */
                    left: 50%;
                    top: 50%; /* displayed on the top of the page, just like Gmail's yellow info-box */
                    background: white;
                    border: 1px solid #cecece;
                    border-radius: 4px;
                    margin-top: -147px;
                }

                .waitStyle {
                    opacity: 0.7;
                    cursor: wait;
                }
            </style>
            <div loading-indicator class="waiting-box1">
                <img src="@Url.Content("~/Content/Images/spinner.gif")" width="150" height="150" />
            </div>
            <div id="right-pane" ng-class="{waitStyle:IsSpinnerVisible}">
                <div class="portlet box" style="background-color: #406E98 !important;">
                    <div class="portlet-title">
                        <div class="caption">

                            <div class="row">
                                <div class="col-md-1">
                                    <span style="font-weight: 600; vertical-align: -webkit-baseline-middle; padding-left: 10px;">FIND:</span>
                                </div>

                                <div class="col-md-4">
                                    <select ng-model="ServiceType" ng-change="validateFilter('sType')" class="form-control">
                                        <option value="0">Select Service Type</option>
                                        <option ng-repeat="service in ServiceOfferings" value="{{service.ServiceId}}">{{service.ServiceDescription}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-map-marker"></i>
                                        </span>                                                                      @*ng-keypress="enterClick($event)"*@
                                        <input type="text" class="form-control" ng-change="validateFilter('sType')" ng-model="gMapSearch" details="details" css-focus id="gmap_geocoding_address" placeholder="address...">
                                        <span class="input-group-btn">
                                            <button class="btn blue" ng-click="searchSPMapclick()" id="gmap_geocoding_btn">
                                                <i class="fa fa-search"></i>

                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    @if (Model != null)
                                    {
                                        if (Model.UserTypeId == 2)
                                        {
                                            <a data-toggle="modal" href="#AdvancedFilter" style="color: white; text-decoration: underline;" class="btn btn-icon-only">
                                                Advanced
                                            </a>
                                        }
                                        else
                                        {
                                            <div class="btn-group">
                                                <button class="btn purple dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    Actions
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a data-toggle="modal" href="#AdvancedFilter" style="text-decoration: underline;" class="btn btn-icon-only">
                                                            Advanced
                                                        </a>
                                                    </li>

                                                    <li class="divider"> </li>
                                                    <li>
                                                         <a href="@Url.Action("Submit", "ServiceProviderRegistration", new { SPType="SP" })" style="border: none; color: black; cursor: pointer;float:left;">
                                                            Add Location
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="portlet-body form">
                        <div class="form-horizontal">
                            <div class="form-actions top" style="padding:0px">
                                <div class="row">
                                    <style type="text/css">
                                        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
                                            padding: 4px !important;
                                        }
                                    </style>
                                    <div class="col-md-5" style="padding-right: 0px;padding-left: 1px;">

                                        <div class="table-scrollable" style="min-height: 600px;" ng-cloak>
                                            <div class="alert alert-info" ng-if="IsSplistExist()">
                                                <strong>Info!</strong> Enter Search Criteria for Results
                                            </div>
                                            <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr class="repeatCls " ng-repeat="obj in Splist | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
                                                        <td ng-class="{active:obj.UserId==assignmentID.item}">
                                                            @*<img alt="" style=" height: 75px; width: 75px;" src="~/Content/Images/Noimages.jpg">*@
                                                            <img alt="" style="height: 75px; width: 75px;" ng-src="{{obj.imagePath}}">

                                                        </td>
                                                        <td style="width: 100%;padding-top: 0px;" ng-class="{active:obj.UserId==assignmentID.item}">
                                                            <table style="width:100%">
                                                                <tr>
                                                                    @*<td style="font-weight: 800">{{obj.Firstname+' '+obj.LastName}}</td>*@
                                                                    <td style="font-weight: 800">{{obj.CompanyName}}</td>

                                                                    <td style="color: #e43a45;padding: 5px;font-weight: 800;font-size: smaller; float: right;">{{obj.OpenClaimsCount}} OPEN</td>
                                                                </tr>
                                                                <tr style="vertical-align: initial;">
                                                                    <td>
                                                                        <span class="rating">
                                                                            <label ng-show="ratingSet(obj.OverdueRank,1)" for="rating-input-1-1" class="rating-star1"></label>
                                                                            <label ng-show="ratingSet(obj.OverdueRank,2)" for="rating-input-1-2" class="rating-star1"></label>
                                                                            <label ng-show="ratingSet(obj.OverdueRank,3)" for="rating-input-1-2" class="rating-star1"></label>
                                                                            <label ng-show="ratingSet(obj.OverdueRank,4)" for="rating-input-1-2" class="rating-star1"></label>
                                                                            <label ng-show="ratingSet(obj.OverdueRank,5)" for="rating-input-1-2" class="rating-star1"></label>
                                                                        </span>
                                                                    </td>

                                                                    <td style="color:blue;padding: 5px;font-weight: 800;font-size: smaller;float: right;">{{obj.Distance}} Miles</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-weight: 800;font-size: smaller;">{{obj.City+', '+obj.State+' '+obj.Zip}}</td>

                                                                    <td style="padding: 5px;font-weight: 800;font-size: smaller;float: right;">RANK:  <span style="color: #e43a45">{{obj.Rank}}</span></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td ng-class="{active:obj.UserId==assignmentID.item}">
                                                            <table>
                                                                <tr>
                                                                    <td style="padding-bottom: 7px;">
                                                                        <button type="button" style="width:90px;" ng-show="autoClaimSelect" ng-disabled="preventDBLClick" ng-click="AssignSP(obj.UserId)" class="btn green-meadow">Select</button>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <button type="button" data-toggle="modal" ng-click="spMoreInfo(obj.UserId)" style="width:90px;" class="btn blue">More Info</button>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-if="autoSPDelete&&!(obj.MgrId==null)">
                                                                    <td>
                                                                        <button type="button" data-toggle="modal" ng-click="SPMapDelete(obj.UserId)" style="width:90px;margin-top: 5px;" class="btn red">Delete</button>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                        <style type="text/css">
                                            .badge-info {
                                                background-color: #406E98 !important;
                                                font-size: 14px !important;
                                                font-weight: bolder !important;
                                                height: 30px !important;
                                                padding-top: 9px !important;
                                            }
                                        </style>
                                        <div class="pagination" style="margin: 8px 0;width: 100%;">
                                            <button class="btn btn-primary" style="margin-left: 5px;" ng-disabled="currentPage == 0" ng-click="$event.preventDefault(); currentPage=currentPage-1">
                                                &larr; Previous
                                            </button>
                                            <span class="badge badge-info" style=" margin-left: 119px;">{{currentPage+1}}/{{numberOfPages()}} </span>

                                            <button class="btn btn-primary" style="float:right;margin-right: 11px;" ng-disabled="currentPage >= dataSetLength()/pageSize - 1" ng-click="$event.preventDefault(); currentPage=currentPage+1">
                                                Next &rarr;
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-md-7" style="padding-top:1px;padding-left: 0px;">
                                        <div ng-show="SPMapVisible" id="SPMaplayout" style="height:675px">
                                            <css-map marker="markerModel"></css-map>
                                        </div>
                                        @*Create New Assignment*@
                                        <input type="hidden" id="CAutoAssignmentID" />

                                        <div ng-if="!SPMapVisible">
                                            @*@Html.Action("MapAutoAssignment","AutoAssignment");*@
                                            <div id="spmapautoassignment">

                                            </div>
                                            @*@Html.Partial("_CreateAutoAssignment")*@
                                        </div>
                                        @* <div id="gmaps" css-map="" style="height: 520px;background-color: GrayText"></div>*@



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

            <style type="text/css">
                .modalHead {
                    background-color:#406E98 !important;
                    color: white;
                    font-weight: bold;
                }
            </style>
            <div id="AdvancedFilter" class="modal fade in" tabindex="-1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modalHead">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Advanced Filter</h4>
                        </div>
                        <div class="modal-body">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;">
                                <div class="scroller" style="overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <span style="text-align: left;" class="control-label col-md-12">Distance in Miles:</span>

                                                    <div class="col-md-12">
                                                        <ionslider ng-model="DistanceFilter" grid=true from="sliderVM.fromVal"
                                                                   min="sliderVM.min"
                                                                   max="sliderVM.max"></ionslider>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <span style="text-align: left;" class="control-label col-md-12">Rank:</span>

                                                    <div class="col-md-12">

                                                        <span class="rating">
                                                            <input type="radio" class="rating-input"
                                                                   id="rating-input-1-5" name="rating-input-1" value="5" ng-model="Rank" />
                                                            <label for="rating-input-1-5" class="rating-star"></label>
                                                            <input type="radio" class="rating-input"
                                                                   id="rating-input-1-4" name="rating-input-1" value="4" ng-model="Rank" />
                                                            <label for="rating-input-1-4" class="rating-star"></label>
                                                            <input type="radio" class="rating-input"
                                                                   id="rating-input-1-3" name="rating-input-1" value="3" ng-model="Rank" />
                                                            <label for="rating-input-1-3" class="rating-star"></label>
                                                            <input type="radio" class="rating-input"
                                                                   id="rating-input-1-2" name="rating-input-1" value="2" ng-model="Rank" />
                                                            <label for="rating-input-1-2" class="rating-star"></label>
                                                            <input type="radio" class="rating-input"
                                                                   id="rating-input-1-1" name="rating-input-1" value="1" ng-model="Rank" />
                                                            <label for="rating-input-1-1" class="rating-star"></label>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <span style="text-align: left;" class="control-label col-md-12">Name:</span>

                                                    <div class="col-md-12">
                                                        @*<input type="text" ng-model="SPName" class="form-control" />*@
                                                        <select ng-model="SPName" class="form-control" >
                                                            @*<option value="0">Select Service Type</option>*@
                                                            <option ng-repeat="company in HeadCompanyList" value="{{company.Text}}">{{company.Text}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <span style="text-align: left;" class="control-label col-md-12">Status:</span>
                                                      <div class="col-md-12">
                                                        <div class="md-radio-inline">
                                                            <div class="md-radio">

                                                                <input type="radio" id="chkActive" ng-model="SPActiveStatus" name="radio2" value="true" class="md-radiobtn">
                                                                <label for="chkActive">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span> Active
                                                                </label>
                                                            </div>
                                                            <div class="md-radio">
                                                             
                                                                <input type="radio" ng-model="SPActiveStatus" id="chkInactive" name="radio2" value="false" class="md-radiobtn">
                                                                <label for="chkInactive">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span> Inactive
                                                                </label>
                                                            </div>
                                                          
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" data-dismiss="modal" ng-click="searchSPMapPopupclick()" class="btn dark btn-outline">Ok</button>
                            <button type="button" ng-click="ResetFilter()" class="btn dark btn-outline">Reset Filter</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ErrorPopup" class="modal fade in" tabindex="-1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modalHead">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Errors</h4>
                        </div>
                        <div class="modal-body">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;">
                                <div class="scroller" style="overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                                    <div class="form-body">
                                        <div id="Errorlog" style="color: red;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" ng-click="searchSPMapclick()" class="btn dark btn-outline">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            @*Sp More Info Modal*@
            <div id="spMoreInfoModal" class="modal fade in" tabindex="-1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog" style="width:60%">
                    <div class="modal-content">
                        <div class="modal-header modalHead">
                            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">{{SPInfo.SpName}}</h4>
                            <div style="float:right"></div>*@
                            <table style="width:100%">
                                <tr>
                                    <td style="width: 15%;">
                                        @*<img alt="" style=" height: 50px; width: 50px;" src="~/Content/Images/Noimages.jpg">*@
                                        <img alt="" ng-src="{{SPInfo.ImagePath}}" style=" height: 50px; width: 50px;">
                                           
                                    </td>
                                    <td><h4 class="modal-title" style="font-weight:bold">{{SPInfo.SpName}}</h4>
                                        <h5 class="modal-title">({{SPInfo.UserName}})</h5>
                                    </td>
                                    <td>
                                        <div class="socicons" style="float:right">
                                           
                                            <a ng-href="{{SPInfo.LinkedInAddress}}" target="_blank"><img class="alignleft wp-image-2042" src="/wp-content/uploads/2016/05/LinkedIn.png" alt="Claims Appraisal On Linked In" width="50" height="50"></a>
                                           
                                        </div>
                                    </td>
                                    <td><button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button></td>

                                </tr>
                            </table>
                        </div>
                        <div class="modal-body">
                            <div class="slimScrollDiv" style="position: relative; overflow: auto;max-height:600px;  width: auto;">
                                <div class="scroller" style="overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                                    <div class="form-body" style="font-size: 13px !important;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div style="text-align:justify">
                                                    @*Complete Claims Service(CCS) has been providing top-notch claims appraisal services for over 36 years.Combined our hignly trained staff has over 75 years of experience.That means accuracy, integrity and efficiency on all assignments.Our clients priorities are our priorities and we understand the importance of providing low-cost appraisals without sacrificing quality*@
                                                    {{SPInfo.BusinessDesc}}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div style="width:100%;">

                                                <div class="portlet light bordered" style="margin: 0px; padding-bottom: 0px;">
                                                    <div class="portlet-title">
                                                        <div class="caption col-md-6">
                                                            <i class="icon-equalizer font-blue-hoki"></i>
                                                            <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Provider Information</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-checkboxes">
                                                                <div class="md-checkbox-inline">
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="chkfavourite" class="md-check" ng-change="updateUserfavourite(SPInfo.spID)" ng-model="SPInfo.userfavourite" name="favourite" />
                                                                        <label for="chkfavourite">
                                                                            <span class="inc"></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Favorite
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tools">
                                                            <a href="" class="collapse" data-original-title="" title=""> </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body form" style="display: block;margin-top: -14px;">
                                                        <!-- BEGIN FORM-->

                                                        <div class="form-horizontal" style=" margin-bottom: -24px;">
                                                            <div class="form-body">
                                                                @*<div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3">Name:</span>
                                                                            <div class="col-md-9">
                                                                                {{SPInfo.UserName}}
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>*@
                                                             
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3" style="padding-right:4px">Internal Contact:</span>
                                                                            <div class="col-md-9">
                                                                                {{SPInfo.internalContact}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3" style="padding-right:4px">Phone:</span>
                                                                            <div class="col-md-9">
                                                                                {{SPInfo.Phone}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3" style="padding-right:4px">Address:</span>
                                                                            <div class="col-md-9">
                                                                                <span ng-if="nullEmptyCheck(SPInfo.StreetAddress)">
                                                                                    {{ SPInfo.StreetAddress}} <br>
                                                                                </span>
                                                                                {{SPInfo.Address}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3" style="padding-right:4px">E-mail:</span>

                                                                            <div class="col-md-9">
                                                                                <a href="mailto:{{SPInfo.Email}}">{{SPInfo.Email}}</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3" style="padding-right:4px">Website:</span>
                                                                            <div class="col-md-9">
                                                                                @*<a href="{{SPInfo.Website}}">{{SPInfo.Website}}</a>*@   
                                                                                <a target="_blank" href="http://{{SPInfo.Website}}">{{SPInfo.Website}}</a>                                                                                                                                                             
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group" >
                                                                            <span class="col-md-3" style="padding-right:4px">Category:</span>
                                                                            <div class="col-md-9">
                                                                                {{SPInfo.Category}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*<div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3">Location:</span>
                                                                            <div class="col-md-9">
                                                                                {{SPInfo.Location}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3">Tags:</span>
                                                                            <div class="col-md-9">
                                                                                {{SPInfo.Tags}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>*@                                                              
                                                                
                                                                @*<div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                         
                                                                            <div class="col-md-12">
                                                                                <div class="form-group form-md-checkboxes">
                                                                                    <div class="md-checkbox-inline">
                                                                                        <div class="md-checkbox">
                                                                                            <input type="checkbox" id="chkfavourite" class="md-check" ng-change="updateUserfavourite(SPInfo.spID)" ng-model="SPInfo.userfavourite" name="favourite" />
                                                                                            <label for="chkfavourite">
                                                                                                <span class="inc"></span>
                                                                                                <span class="check"></span>
                                                                                                <span class="box"></span> Favourite
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>*@


                                                            </div>
                                                        </div>

                                                        <!-- END FORM-->
                                                        <!-- END FORM-->
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" data-dismiss="modal" class="btn dark btn-outline">Ok</button>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>






@section PageLevelScript{

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYv4s1WHz4gEbbaKJBPWc3BWz-lDMCoyU&libraries=geometry,places&sensor=false"
        type="text/javascript"></script>
<script src="~/assets/global/plugins/gmaps/gmaps.js"></script>
<script src="~/Scripts/MarkerCluster.js"></script>

<script src="~/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js"></script>

<script src="~/Views/SPMapSearch/SearchController.js"></script>
<script>

    function SubmitAutoAssignment() {
        var sss = $("#CAutoAssignmentID").val();
        $("#selectedassignmentID").val($("#CAutoAssignmentID").val())

        $.post("@Url.Content("~/AutoAssignment/AutoAssignment")",
        $("form").serialize(),
    function (data) {
        if (data.id == 1) {
            window.location = "/AutoAssignment/AutoSearch";

        }
        else {
            var Data1 = "<ul>"
            for (i = 0; i < data.errorList.length; i++) {

                var Error = data.errorList[i].Message;
                Data1 = Data1 + "<li>" + Error + "</li>"


            }
            Data1 = Data1 + "</ul>"
            $("#Errorlog").html(Data1);
            $("#ErrorPopup").modal("show");
        }

    });
        event.preventDefault();
    }

</script>



}
