﻿@model BLL.ViewModels.AutoInvoiceViewModel

@*<script src="@Url.Content("~/Scripts/jquery.formatCurrency-1.4.0.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>*@
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true
    });
    });


    function formatCurrency(value, id) {

        if ((String(value)).indexOf("$") != -1 || String(value) == "") {
            return;
        }
        var buf = "";
        var sBuf = "";
        var j = 0;
        value = String(parseFloat(value).toFixed(2));

        if (value.indexOf(".") >= 0) {
            buf = value.substring(0, value.indexOf("."));
        } else {
            buf = value;
        }
        if (buf.length % 3 != 0 && (buf.length / 3 - 1) > 0) {
            sBuf = buf.substring(0, buf.length % 3) + ",";
            buf = buf.substring(buf.length % 3);
        }
        j = buf.length;
        for (var i = 0; i < (j / 3 - 1) ; i++) {
            sBuf = sBuf + buf.substring(0, 3) + ",";
            buf = buf.substring(3);
        }
        sBuf = sBuf + buf;
        if (value.indexOf(".") >= 0) {
            //value = '$' + sBuf + value.slice(value.indexOf("."), value.indexOf(".") + 3);
            value = sBuf + value.slice(value.indexOf("."), value.indexOf(".") + 3);
        }
        else {
            //value = '$' + sBuf + '.00';
            value = sBuf + '.00';
        }
        $('#' + id).val(value);
    }

    function UnFormatCurrency(value) {
        if (value == "" || value == undefined)
        { return 0; }
        else {
            for (var i = 0; i <= value.indexOf(",") ;) {
                value = value.replace(",", "");
            }
            value = value.replace("$", "");
            return value;
        }
    }

    function currenciesOnly(event) {
        var legalKeyCode =
            (!event.shiftKey && !event.ctrlKey && !event.altKey)
                &&
            (jQuery.inArray(event.keyCode, allowedSpecialCharKeyCodes) >= 0
                ||
            jQuery.inArray(event.keyCode, numberKeyCodes) >= 0
                ||
            jQuery.inArray(event.keyCode, commaKeyCode) >= 0
                ||
            jQuery.inArray(event.keyCode, decimalKeyCode) >= 0);

        // Allow for $
        if (!legalKeyCode && event.shiftKey && event.keyCode == 52)
            legalKeyCode = true;

        if (legalKeyCode === false)
            event.preventDefault();
    }
    function numericOnly(o) {
        var sValue = o.value;
        var sKey = String.fromCharCode(window.event.keyCode);
        if (document.selection.createRange().text == sValue) {
            sValue = sKey;
        } else {
            sValue = sValue + sKey;
        }
        var re = new RegExp("^\\d+(?:\\.\\d{0,2})?$");
        if (!sValue.match(re))
            window.event.returnValue = false;
    }
    $(function () {


        $('#txtRCV').blur(function () {
            getlobpricing();
            populateQAAgentFeePercentage();
        })
        if ("@Model.invoiceDetail.AutoInvoiceId" == "-1") {
            $('#txtRCV').trigger('blur');
        }
        $('#ddlLineOfBussiness').change(function () {
            getlobpricing();
            getcompanylobpricing();
            populateQAAgentFeePercentage();

        });

    });

    $(document).ready(function () {

        getlobpricing(true);

        $("#txtIncludedMiles,#txtMileageRate,#txtActualMiles").blur(function () {
            var totalMileage;
            if ($('#txtIncludedMiles').val() == "") {
                $('#txtIncludedMiles').val(0);
            }
            if ($('#txtMileageRate').val() == "") {
                $('#txtMileageRate').val(0);
            }
            if ($('#txtActualMiles').val() == "") {
                $('#txtActualMiles').val(0);
            }

            totalMileage = parseFloat($('#txtActualMiles').val()) - parseFloat($('#txtIncludedMiles').val());
            totalMileage = totalMileage * parseFloat(UnFormatCurrency($('#txtMileageRate').val()));
            if (totalMileage < 0) {
                totalMileage = 0;
            }
            formatCurrency(totalMileage, 'txtTotalMileage');

            $('#txtServices').trigger('blur');
        });

        $("#txtPhotosIncluded,#txtCountOfPhotos,#txtPhotoRate").blur(function () {
            var totalphoto;
            if ($('#txtPhotosIncluded').val() == "") {
                $('#txtPhotosIncluded').val(0);
            }
            if ($('#txtCountOfPhotos').val() == "") {
                $('#txtCountOfPhotos').val(0);
            }
            if ($('#txtPhotoRate').val() == "") {
                $('#txtPhotoRate').val(0);
            }

            //totalphoto = $('#txtCountOfPhotos').val() - $('#txtPhotosIncluded').val();
            //totalphoto = totalphoto * UnFormatCurrency($('#txtPhotoRate').val());

            totalphoto = parseFloat($('#txtCountOfPhotos').val()) - parseFloat($('#txtPhotosIncluded').val());
            totalphoto = totalphoto * parseFloat(UnFormatCurrency($('#txtPhotoRate').val()));

            if (totalphoto < 0) {
                totalphoto = 0;
            }
            formatCurrency(totalphoto, 'txtTotalPhotos');
            $('#txtServices').trigger('blur');
        });
        $("#txtPhotoRate").trigger("blur");

        $("#txtIssalesTax").change(function () {
            $('#txtPercentIssalesTax').trigger('blur');
            $('#txtPercentIssalesTax').focus();
        });
        function processTimeAndExpenseCalc() {
            var te1Fee = 0;
            var te1NoOfHours = 0;
            var te1HourlyRate = 0
            te1NoOfHours = parseFloat(UnFormatCurrency($('#txtTE1NoOfHours').val()));
            te1HourlyRate = parseFloat(UnFormatCurrency($('#txtTE1SPHourlyRate').val()));

            var te1Fee = te1NoOfHours * te1HourlyRate;
            $('#hdnServiceFee').val(te1Fee);
            $('#hdnSPServiceFee').val(te1Fee);
            $('#hdnQAAgentFee').val(te1Fee);
            //$('#hdnSPXPercent').val(0);

            formatCurrency(te1Fee, 'txtServices');
        }
        $("#txtTE1NoOfHours,#ddlTE1SPLevel,#txtTE1SPHourlyRate,#txtTolls,#txtothertravel,#txtAierialImageFee,#txtEDIFee,#txtTotalAdditionalCharge,#txtServices, #txtTPAOfficeFee, #txtFileSetUpFee, #txtReinspectionFee,#txtBalanceDue,#txtAirfare,#txtmisc,#txtContentCount,#txtIssalesTax,#txtPercentIssalesTax").blur(function () {
            //Time & Expense Calculations
            if ($('#ddlFeeType').val() == "1") {
                processTimeAndExpenseCalc();
            }

            var totalAdditionalCharges;
            var totalSerices;
            var totalInvoice;
            if ($('#txtTolls').val() == "") {
                $('#txtTolls').val(0);
            }
            if ($('#txtothertravel').val() == "") {
                $('#txtothertravel').val(0);
            }
            if ($('#txtAierialImageFee').val() == "") {
                $('#txtAierialImageFee').val(0);
            }
            if ($('#txtEDIFee').val() == "") {
                $('#txtEDIFee').val(0);
            }
            totalAdditionalCharges = parseFloat(UnFormatCurrency($('#txtTotalMileage').val())) + parseFloat(UnFormatCurrency($('#txtTolls').val())) + parseFloat(UnFormatCurrency($('#txtothertravel').val())) + parseFloat(UnFormatCurrency($('#txtAierialImageFee').val())) + parseFloat(UnFormatCurrency($('#txtEDIFee').val())) + parseFloat(UnFormatCurrency($('#txtTotalPhotos').val())) + parseFloat(UnFormatCurrency($('#txtAirfare').val())) + parseFloat(UnFormatCurrency($('#txtmisc').val())) + parseFloat(UnFormatCurrency($('#txtContentCount').val()))
            formatCurrency(totalAdditionalCharges, 'txtTotalAdditionalCharge');

            if ($('#txtServices').val() == "") {
                $('#txtServices').val(0);
            }
            if ($('#txtTPAOfficeFee').val() == "") {
                $('#txtTPAOfficeFee').val(0);
            }
            if ($('#txtFileSetUpFee').val() == "") {
                $('#txtFileSetUpFee').val(0);
            }
            if ($('#txtReinspectionFee').val() == "") {
                $('#txtReinspectionFee').val(0);
            }
            if ($('#txtTotalMileage').val() == "") {
                $('#txtTotalMileage').val(0);
            }
            if ($('#txtTotalPhotos').val() == "") {
                $('#txtTotalPhotos').val(0);
            }
            if ($('#txtSalesTax').val() == "") {
                $('#txtSalesTax').val(0);
            }
            if ($('#txtPriorPayments').val() == "") {
                $('#txtPriorPayments').val(0);
            }
            if ($('#txtPercentIssalesTax').val() == "") {
                $('#txtPercentIssalesTax').val(0);
            }



            totalSerices = parseFloat(UnFormatCurrency($('#txtServices').val())) + parseFloat(UnFormatCurrency($('#txtTPAOfficeFee').val())) + parseFloat(UnFormatCurrency($('#txtFileSetUpFee').val())) + parseFloat(UnFormatCurrency($('#txtReinspectionFee').val()));

            formatCurrency(totalSerices, 'txtTotalServices');

            var saletax = parseFloat($('#txtPercentIssalesTax').val() / 100) * parseFloat(UnFormatCurrency($('#txtTotalServices').val()));
            if (saletax < 0) {
                saletax = 0;
            }
            if ($('#txtIssalesTax').val() != "1") {
                saletax = 0;
            }
            $('#txtSalesTax').val(saletax.toFixed(2));//round up the 2nd decimal place i.e. 0.165 should be 0.17 to match with QuickBooks calculation
            //formatCurrency(saletax, 'txtSalesTax');//do not use as it rounds down the 2nd decimal place unlike QuickBooks

            if (totalSerices < 0) {
                totalSerices = 0;
            }
            if (totalSerices < 0) {
                totalSerices = 0;
            }
            totalInvoice = totalSerices + parseFloat(UnFormatCurrency($('#txtTolls').val())) + parseFloat(UnFormatCurrency($('#txtothertravel').val())) + parseFloat(UnFormatCurrency($('#txtAierialImageFee').val())) + parseFloat(UnFormatCurrency($('#txtEDIFee').val())) + parseFloat(UnFormatCurrency($('#txtTotalMileage').val())) + parseFloat(UnFormatCurrency($('#txtTotalPhotos').val())) + parseFloat(UnFormatCurrency($('#txtSalesTax').val())) + parseFloat(UnFormatCurrency($('#txtAirfare').val())) + parseFloat(UnFormatCurrency($('#txtmisc').val())) + parseFloat(UnFormatCurrency($('#txtContentCount').val()));
            formatCurrency(totalInvoice, 'txtTotalInvoice');

            formatCurrency(UnFormatCurrency($('#txtServices').val()), 'txtServices');
            formatCurrency(UnFormatCurrency($('#txtTPAOfficeFee').val()), 'txtTPAOfficeFee');
            formatCurrency(UnFormatCurrency($('#txtFileSetUpFee').val()), 'txtFileSetUpFee');
            formatCurrency(UnFormatCurrency($('#txtReinspectionFee').val()), 'txtReinspectionFee');

            //BalanceDue = totalInvoice + parseFloat($('#invoiceDetail_PreviousBilledAmount').val()) - parseFloat($('#txtPriorPayments').val());
            BalanceDue = totalInvoice - parseFloat($('#txtPriorPayments').val());
            if (BalanceDue < 0) {
                BalanceDue = 0;
            }
            formatCurrency(BalanceDue, 'txtBalanceDue');
            $('#txtPercentSpAeiralImageCharge').trigger('blur');
        });

        //$('#txtPercentIssalesTax').blur(function () {

        //    $('#txtServices').trigger('blur');
        //    //formatCurrency(totalInvoice, 'txtTotalInvoice');
        //});

        //$('#txtPercentContentCount').val($('#txtSpServiceFee').val());

        $("#txtQAAgentFee,#txtSpServiceFee,#txtHoldback,#txtPercentTotalMileage,#txtPercentSpAeiralImageCharge,#txtPercentTolls,#txtPercentothertravel,#txtPercentTotalPhotos,#txtPercentAirfare,#txtPercentSPEDICharge,#txtPercentmisc,#txtPercentContentCount").blur(function () {

            //Time & Expense Calculations
            if ($('#ddlFeeType').val() == "1") {
                processTimeAndExpenseCalc();
            }

            if ($('#txtQAAgentFee').val() == "") {
                $('#txtQAAgentFee').val(0);
            }
            if ($('#txtSpServiceFee').val() == "") {
                $('#txtSpServiceFee').val(0);
            }
            if ($('#txtHoldback').val() == "") {
                $('#txtHoldback').val(0);
            }
            if ($('#txtPercentTotalMileage').val() == "") {
                $('#txtPercentTotalMileage').val(0);
            }
            if ($('#txtPercentSpAeiralImageCharge').val() == "") {
                $('#txtPercentSpAeiralImageCharge').val(0);
            }
            if ($('#txtPercentTolls').val() == "") {
                $('#txtPercentTolls').val(0);
            }
            if ($('#txtPercentothertravel').val() == "") {
                $('#txtPercentothertravel').val(0);
            }
            if ($('#txtPercentTotalPhotos').val() == "") {
                $('#txtPercentTotalPhotos').val(0);
            }
            if ($('#txtPercentAirfare').val() == "") {
                $('#txtPercentAirfare').val(0);
            }
            if ($('#txtAirfare').val() == "") {
                $('#txtAirfare').val(0);
            }
            if ($('#txtPercentSPEDICharge').val() == "") {
                $('#txtPercentSPEDICharge').val(0);
            }


            var qaAgentFee;

            if ($('#hdnQAAgentFee').val() != '-1') {
                qaAgentFee = (parseFloat($('#txtQAAgentFee').val()) / 100) * parseFloat(UnFormatCurrency($('#txtServices').val()));
            }
            else {

                qaAgentFee = (parseFloat($('#txtQAAgentFee').val()) / 100) * (parseFloat(UnFormatCurrency($('#txtTotalInvoice').val())));
            }
            var ServiceFee = parseFloat(UnFormatCurrency($('#txtSpServiceFee').val()) / 100) * parseFloat($('#hdnSPServiceFee').val());
            //var HoldbackFee = parseFloat(UnFormatCurrency($('#txtHoldback').val()) / 100) * parseFloat($('#hdnSPServiceFee').val());
            var HoldbackFee = parseFloat(UnFormatCurrency($('#txtHoldback').val()) / 100) * ServiceFee;
            if (qaAgentFee < 0) {
                qaAgentFee = 0;
            }
            if (ServiceFee < 0 || ServiceFee == undefined || isNaN(ServiceFee)) {
                ServiceFee = 0;
            }
            if (HoldbackFee < 0 || HoldbackFee == undefined || isNaN(HoldbackFee)) {
                HoldbackFee = 0;
            }
            formatCurrency(qaAgentFee, 'txtPercentQAagentFee');
            formatCurrency(ServiceFee, 'txtPercentSpServiceFee');
            formatCurrency(HoldbackFee, 'txtPercentHoldback');



            var totalMileage = (parseFloat(UnFormatCurrency($('#txtTotalMileage').val())) * (parseFloat(UnFormatCurrency($('#txtPercentTotalMileage').val())) / 100));
            var tolls = (parseFloat(UnFormatCurrency($('#txtTolls').val())) * (parseFloat(UnFormatCurrency($('#txtPercentTolls').val())) / 100));
            var othertravel = (parseFloat(UnFormatCurrency($('#txtothertravel').val())) * (parseFloat(UnFormatCurrency($('#txtPercentothertravel').val())) / 100));
            var totalPhoto = (parseFloat(UnFormatCurrency($('#txtTotalPhotos').val())) * (parseFloat(UnFormatCurrency($('#txtPercentTotalPhotos').val())) / 100));
            var airfare = (parseFloat(UnFormatCurrency($('#txtAirfare').val())) * (parseFloat(UnFormatCurrency($('#txtPercentAirfare').val())) / 100));
            var misc = (parseFloat(UnFormatCurrency($('#txtmisc').val())) * (parseFloat(UnFormatCurrency($('#txtPercentmisc').val())) / 100));
            var contentCount = (parseFloat(UnFormatCurrency($('#txtContentCount').val())) * (parseFloat(UnFormatCurrency($('#txtPercentContentCount').val())) / 100));
            //var SPtotal = (totalMileage) + (tolls) + (othertravel) + (totalPhoto) + (airfare) + (misc) + (contentCount) + parseFloat(UnFormatCurrency($('#txtPercentSpServiceFee').val())) - parseFloat(UnFormatCurrency($('#txtPercentHoldback').val())) - parseFloat(UnFormatCurrency($('#txtPercentSPEDICharge').val())) - parseFloat(UnFormatCurrency($('#txtPercentSpAeiralImageCharge').val())) - parseFloat(UnFormatCurrency($('#txtPercentQAagentFee').val()));
            var SPtotal = (totalMileage) + (tolls) + (othertravel) + (totalPhoto) + (airfare) + (misc) + (contentCount) + parseFloat(UnFormatCurrency($('#txtPercentSpServiceFee').val())) - parseFloat(UnFormatCurrency($('#txtPercentHoldback').val())) - parseFloat(UnFormatCurrency($('#txtPercentSPEDICharge').val())) - parseFloat(UnFormatCurrency($('#txtPercentSpAeiralImageCharge').val())) + parseFloat(UnFormatCurrency($('#txtPercentQAagentFee').val()));
            if (SPtotal < 0 || SPtotal == undefined || isNaN(SPtotal)) {
                SPtotal = 0;
            }
            if (CsPortion < 0 || CsPortion == undefined || isNaN(CsPortion)) {
                CsPortion = 0;
            }
            formatCurrency(SPtotal, 'txtPercentSPPay');
            var CsPortion = parseFloat(UnFormatCurrency($('#txtTotalInvoice').val())) - parseFloat(UnFormatCurrency($('#txtPercentSPPay').val()));
            formatCurrency(CsPortion, 'txtPercentCssPortion');
            if (((parseFloat(UnFormatCurrency($('#txtPercentSPPay').val())) / parseFloat(UnFormatCurrency($('#txtTotalInvoice').val()))) * 100) < 0 || isNaN((parseFloat(UnFormatCurrency($('#txtPercentSPPay').val())) / parseFloat(UnFormatCurrency($('#txtTotalInvoice').val()))) * 100)) {
                $('#txtTotalSPpay').val(0);
            }
            else {
                formatCurrency((((parseFloat(UnFormatCurrency($('#txtPercentSPPay').val()))) / (parseFloat(UnFormatCurrency($('#txtTotalInvoice').val())))) * 100), 'txtTotalSPpay');
            }
            if (((parseFloat(UnFormatCurrency($('#txtPercentCssPortion').val())) / parseFloat(UnFormatCurrency($('#txtTotalInvoice').val()))) * 100) < 0 || isNaN((parseFloat(UnFormatCurrency($('#txtPercentCssPortion').val())) / parseFloat(UnFormatCurrency($('#txtTotalInvoice').val()))) * 100)) {
                $('#txtCssPortion').val(0);
            }
            else {
                formatCurrency((((parseFloat(UnFormatCurrency($('#txtPercentCssPortion').val()))) / (parseFloat(UnFormatCurrency($('#txtTotalInvoice').val())))) * 100), 'txtCssPortion');
            }
        });

    });


    $('#ddlTE1SPLevel').change(function () {
        populateTEHourlyRate('ddlTE1SPLevel', 'txtTE1SPHourlyRate');


    });
    $('#ddlFeeType').change(function () {
        if ($('#ddlFeeType').val() == '1') {
            $('#trTimeExpense').show();
        }
        else {
            $('#trTimeExpense').hide();
        }


    });

    function populateTEHourlyRate(spLevelId, destinationTextBox) {
        if (!(parseFloat(UnFormatCurrency($('#txtRCV').val()))) >= 0) {
            $.post('@Url.Content("~/PropertyAssignmentInvoice/GetCompanyLObPricingDetails")',

                  { LobId: $('#ddlLineOfBussiness').val(), HeadCompanyId: '@Model.claim.HeadCompanyId', RCVValue: $('#txtRCV').val() },
                 function (data) {

                     if (data != 1 && data != 0) {
                         if ($('#' + spLevelId).val() == 1) {
                             formatCurrency(data[0].StandardAdjuster, destinationTextBox);

                         }
                         else if ($('#' + spLevelId).val() == 2) {
                             formatCurrency(data[0].GeneralAdjuster, destinationTextBox);

                         }
                         else if ($('#' + spLevelId).val() == 3) {
                             formatCurrency(data[0].ExecutiveGeneralAdjuster, destinationTextBox);

                         }
                         else {
                             $('#' + destinationTextBox).val(0);
                         }
                     }
                     else {
                         $('#' + destinationTextBox).val(0);
                     }
                     $('#txtServices').trigger('blur');
                 });
        }
        else {
            $('#' + destinationTextBox).val(0);
            $('#txtServices').trigger('blur');
        }
    }
    function getlobpricing(isRetainFeeTypeEnabled) {

        isRetainFeeTypeEnabled = typeof isRetainFeeTypeEnabled !== 'undefined' ? isRetainFeeTypeEnabled : false;



        if (!(parseFloat(UnFormatCurrency($('#txtRCV').val()))) >= 0) {
            $('#imgRCVProcessing').show();
            $('#imgLOBProcessing').show();
            $.post('@Url.Content("~/AutoAssignmentInvoice/GetLObPricingDetails")',

                  { claimId: '@Model.invoiceDetail.ClaimId', invoiceId: '@Model.invoiceDetail.AutoInvoiceId', invoiceType: $('#ddlInvoiceType').val(), feeType: $('#ddlFeeType').val(), LobId: $('#ddlLineOfBussiness').val(), HeadCompanyId: '@(Model.claim.HeadCompanyId.HasValue ? Model.claim.HeadCompanyId.Value + "" : "")', RCVValue: $('#txtRCV').val() },
                 function (data) {

                     if (data != 1 && data != 0) {

                         if (data[0].FeeType == 1) {
                             //Time & Expense
                             formatCurrency(0, 'txtServices');
                             $('#hdnServiceFee').val(0);
                             $('#hdnSPServiceFee').val(0);
                             $('#hdnQAAgentFee').val(0);

                         }
                         else if (data[0].FeeType == 3) {
                             //Scheduled Services

                             //Identify if BaseServiceFee and SPServiceFee is specified
                             if (data[0].BaseServiceFee != null && data[0].SPServiceFee != null) {
                                 formatCurrency(data[0].BaseServiceFee, 'txtServices');
                                 $('#hdnServiceFee').val(data[0].BaseServiceFee);
                                 $('#hdnSPServiceFee').val(data[0].SPServiceFee);
                                 $('#hdnQAAgentFee').val(data[0].BaseServiceFee);

                             }
                             else if (data[0].RCVPercent != null && data[0].SPRCVPercent != null) {
                                 //Service Fee
                                 var serviceFee = parseFloat(UnFormatCurrency($('#txtRCV').val())) * (parseFloat(data[0].RCVPercent) / 100);
                                 $('#hdnServiceFee').val(serviceFee);
                                 formatCurrency(serviceFee, 'txtServices');

                                 //SP Service Fee
                                 var SPServiceFee = parseFloat(UnFormatCurrency($('#txtRCV').val())) * (parseFloat(data[0].SPRCVPercent) / 100);
                                 $('#hdnSPServiceFee').val(SPServiceFee);

                                 //QA Agent Fee
                                 $('#hdnQAAgentFee').val('-1');//Make use of Invoice Total


                             }
                             //alert('BaseServiceFee: ' + data[0].BaseServiceFee + ' SPServiceFee: ' + data[0].SPServiceFee + ' RCVPercent: ' + data[0].RCVPercent + ' SPRCVPercent: ' + data[0].SPRCVPercent + ' SPXPercent: ' + data[0].SPXPercent + ' Service Fee: ' + $('#hdnServiceFee').val() + ' SP Service Fee: ' + $('#hdnSPServiceFee').val());
                         }
                         if (isRetainFeeTypeEnabled == false) {
                             $('#ddlFeeType').val(data[0].FeeType);
                         }
                         $('#ddlFeeType').trigger('change');
                     }
                     else {
                         formatCurrency('0.00', 'txtServices');
                         $('#hdnServiceFee').val(0);
                         $('#hdnSPServiceFee').val(0);
                         $('#hdnQAAgentFee').val(0);

                         if (isRetainFeeTypeEnabled == false) {
                             $('#ddlFeeType').val(0);
                             alert('LOB Pricing for the specified RCV does not exist.');
                         }

                     }

                     $('#txtServices').trigger('blur');
                     $('#imgRCVProcessing').hide();
                     $('#imgLOBProcessing').hide();
                 });
        }
        else {
            formatCurrency('0.00', 'txtServices');
            $('#hdnServiceFee').val(0);
            $('#hdnSPServiceFee').val(0);
            $('#hdnQAAgentFee').val(0);

            if (isRetainFeeTypeEnabled == false) {
                $('#ddlFeeType').val(0);
            }
            $('#txtServices').trigger('blur');
        }

    }
    function populateQAAgentFeePercentage() {
        if (!(parseFloat(UnFormatCurrency($('#txtRCV').val()))) >= 0) {
            $('#imgQAAgentFeeProcessing').show();
            $.post('@Url.Content("~/AutoAssignmentInvoice/GetLObPricingDetails")',
                  { LobId: $('#ddlLineOfBussiness').val(), HeadCompanyId: '@(Model.claim.HeadCompanyId.HasValue ? Model.claim.HeadCompanyId.Value + "" : "")', RCVValue: $('#txtRCV').val() },
                     function (data) {

                         if (data != 1 && data != 0) {

                             if (data[0].FeeType == 1) {
                                 //Time & Expense
                                 $('#hdnSPXPercent').val(0);
                             }
                             else if (data[0].FeeType == 3) {
                                 //Scheduled Services

                                 //Identify if BaseServiceFee and SPServiceFee is specified
                                 if (data[0].BaseServiceFee != null && data[0].SPServiceFee != null) {
                                     $('#hdnSPXPercent').val(data[0].SPXPercent);
                                 }
                                 else if (data[0].RCVPercent != null && data[0].SPRCVPercent != null) {
                                     $('#hdnSPXPercent').val(parseFloat(data[0].SPXPercent));
                                 }
                                 //alert('BaseServiceFee: ' + data[0].BaseServiceFee + ' SPServiceFee: ' + data[0].SPServiceFee + ' RCVPercent: ' + data[0].RCVPercent + ' SPRCVPercent: ' + data[0].SPRCVPercent + ' SPXPercent: ' + data[0].SPXPercent + ' Service Fee: ' + $('#hdnServiceFee').val() + ' SP Service Fee: ' + $('#hdnSPServiceFee').val());
                             }
                         }
                         else {
                             $('#hdnSPXPercent').val(0);
                         }

                         $('#txtQAAgentFee').val($('#hdnSPXPercent').val());


                         $('#txtServices').trigger('blur');
                         $('#imgQAAgentFeeProcessing').hide();
                     });
        }
        else {
            $('#hdnSPXPercent').val(0);
            $('#txtServices').trigger('blur');
        }


    }
    function getcompanylobpricing() {
        if (!(parseFloat(UnFormatCurrency($('#txtRCV').val()))) >= 0) {
            $.post('@Url.Content("~/PropertyAssignmentInvoice/GetCompanyLObPricingDetails")',

                      { LobId: $('#ddlLineOfBussiness').val(), HeadCompanyId: '@Model.claim.HeadCompanyId', RCVValue: $('#txtRCV').val() },
                     function (data) {

                         if (data != 1 && data != 0) {

                             $('#txtMileageRate').val(data[0].RatePerMile);
                             $('#txtPhotoRate').val(data[0].RatePerPhoto);
                             $('#txtIncludedMiles').val(data[0].FreeMiles);
                             $('#txtPhotosIncluded').val(data[0].NoOfPhotosIncluded);


                         }
                         else {
                             $('#txtMileageRate').val(0);
                             $('#txtPhotoRate').val(0);
                             $('#txtIncludedMiles').val(0);
                             $('#txtPhotosIncluded').val(0);
                         }
                         $('#txtServices').trigger('blur');
                         $("#txtPhotosIncluded,#txtCountOfPhotos,#txtPhotoRate").trigger('blur');
                         $("#txtIncludedMiles,#txtMileageRate,#txtActualMiles").trigger('blur');
                     });
        }
        else {
            $('#txtMileageRate').val(0);
            $('#txtPhotoRate').val(0);
            $('#txtIncludedMiles').val(0);
            $('#txtPhotosIncluded').val(0);
            $('#txtServices').trigger('blur');
            $("#txtPhotosIncluded,#txtCountOfPhotos,#txtPhotoRate").trigger('blur');
            $("#txtIncludedMiles,#txtMileageRate,#txtActualMiles").trigger('blur');
        }

    }

    function UnformatField(Mode) {
        var isFormValid = '@(Model.allowSubmit ? 1 : 0)';
        if (isFormValid == '1') {
            $('#txtMileageRate').val(parseFloat(UnFormatCurrency($('#txtMileageRate').val())));
            $('#txtPhotoRate').val(parseFloat(UnFormatCurrency($('#txtPhotoRate').val())));
            $('#txtActualMiles').val(parseFloat(UnFormatCurrency($('#txtActualMiles').val())));
            $('#txtCountOfPhotos').val(parseFloat(UnFormatCurrency($('#txtCountOfPhotos').val())));
            $('#txtIncludedMiles').val(parseFloat(UnFormatCurrency($('#txtIncludedMiles').val())));
            $('#txtPhotosIncluded').val(parseFloat(UnFormatCurrency($('#txtPhotosIncluded').val())));
            $('#txtTotalMileage').val(parseFloat(UnFormatCurrency($('#txtTotalMileage').val())));
            $('#txtPercentTotalMileage').val(parseFloat(UnFormatCurrency($('#txtPercentTotalMileage').val())));
            $('#txtTotalPhotos').val(parseFloat(UnFormatCurrency($('#txtTotalPhotos').val())));
            $('#txtPercentTotalPhotos').val(parseFloat(UnFormatCurrency($('#txtPercentTotalPhotos').val())));
            $('#txtTolls').val(parseFloat(UnFormatCurrency($('#txtTolls').val())));
            $('#txtPercentTolls').val(parseFloat(UnFormatCurrency($('#txtPercentTolls').val())));
            $('#txtAirfare').val(parseFloat(UnFormatCurrency($('#txtAirfare').val())));
            $('#txtPercentAirfare').val(parseFloat(UnFormatCurrency($('#txtPercentAirfare').val())));
            $('#txtothertravel').val(parseFloat(UnFormatCurrency($('#txtothertravel').val())));
            $('#txtPercentothertravel').val(parseFloat(UnFormatCurrency($('#txtPercentothertravel').val())));
            $('#txtmisc').val(parseFloat(UnFormatCurrency($('#txtmisc').val())));
            $('#txtPercentmisc').val(parseFloat(UnFormatCurrency($('#txtPercentmisc').val())));
            $('#txtAierialImageFee').val(parseFloat(UnFormatCurrency($('#txtAierialImageFee').val())));
            $('#txtPercentAierialImage').val(parseFloat(UnFormatCurrency($('#txtPercentAierialImage').val())));
            $('#txtContentCount').val(parseFloat(UnFormatCurrency($('#txtContentCount').val())));
            $('#txtPercentContentCount').val(parseFloat(UnFormatCurrency($('#txtPercentContentCount').val())));
            $('#txtEDIFee').val(parseFloat(UnFormatCurrency($('#txtEDIFee').val())));
            $('#txtPercentEDIFee').val(parseFloat(UnFormatCurrency($('#txtPercentEDIFee').val())));
            $('#txtTotalAdditionalCharge').val(parseFloat(UnFormatCurrency($('#txtTotalAdditionalCharge').val())));
            $('#txtPercenttotalAdditionalCharge').val(parseFloat(UnFormatCurrency($('#txtPercenttotalAdditionalCharge').val())));
            $('#txtServices').val(parseFloat(UnFormatCurrency($('#txtServices').val())));
            $('#txtPercentServices').val(parseFloat(UnFormatCurrency($('#txtPercentServices').val())));

            $('#txtQAAgentFee').val(parseFloat(UnFormatCurrency($('#txtQAAgentFee').val())));
            $('#txtPercentQAagentFee').val(parseFloat(UnFormatCurrency($('#txtPercentQAagentFee').val())));
            $('#txtTPAOfficeFee').val(parseFloat(UnFormatCurrency($('#txtTPAOfficeFee').val())));
            $('#txtPercentTPAOfficeFee').val(parseFloat(UnFormatCurrency($('#txtPercentTPAOfficeFee').val())));
            $('#txtSpServiceFee').val(parseFloat(UnFormatCurrency($('#txtSpServiceFee').val())));
            $('#txtPercentSpServiceFee').val(parseFloat(UnFormatCurrency($('#txtPercentSpServiceFee').val())));
            $('#txtFileSetUpFee').val(parseFloat(UnFormatCurrency($('#txtFileSetUpFee').val())));
            $('#txtPercentFileSetUpFee').val(parseFloat(UnFormatCurrency($('#txtPercentFileSetUpFee').val())));
            $('#txtHoldback').val(parseFloat(UnFormatCurrency($('#txtHoldback').val())));
            $('#txtPercentHoldback').val(parseFloat(UnFormatCurrency($('#txtPercentHoldback').val())));
            $('#txtReinspectionFee').val(parseFloat(UnFormatCurrency($('#txtReinspectionFee').val())));
            $('#txtPercentReinspectionFee').val(parseFloat(UnFormatCurrency($('#txtPercentHoldback').val())));
            $('#txtPercentSPEDICharge').val(parseFloat(UnFormatCurrency($('#txtPercentSPEDICharge').val())));
            $('#txtTotalServices').val(parseFloat(UnFormatCurrency($('#txtTotalServices').val())));
            $('#txtPercentSpAeiralImageCharge').val(parseFloat(UnFormatCurrency($('#txtPercentSpAeiralImageCharge').val())));
            $('#txtPercentIssalesTax').val(parseFloat(UnFormatCurrency($('#txtPercentIssalesTax').val())));
            $('#txtTotalSPpay').val(parseFloat(UnFormatCurrency($('#txtTotalSPpay').val())));
            $('#txtPercentSPPay').val(parseFloat(UnFormatCurrency($('#txtPercentSPPay').val())));
            $('#txtSalesTax').val(parseFloat(UnFormatCurrency($('#txtSalesTax').val())));
            $('#txtPercentSalesTax').val(parseFloat(UnFormatCurrency($('#txtPercentSalesTax').val())));
            //$('#txtCssPortion').val(parseFloat(UnFormatCurrency($('#txtCssPortion').val())));
            $('#txtPercentCssPortion').val(parseFloat(UnFormatCurrency($('#txtPercentCssPortion').val())));
            $('#txtTotalInvoice').val(parseFloat(UnFormatCurrency($('#txtTotalInvoice').val())));
            $('#txtPercentTotalInvoice').val(parseFloat(UnFormatCurrency($('#txtPercentTotalInvoice').val())));
            $('#txtRCV').val(parseFloat(UnFormatCurrency($('#txtRCV').val())));
            $('#txtBalanceDue').val(parseFloat(UnFormatCurrency($('#txtBalanceDue').val())));

            if (Mode == 'Details') {

                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: $('#frmInvoice').attr('action'),
                    data: $('#frmInvoice').serialize(),
                    success: function (data) {
                        setAssignmentApproveStatus();
                        $('#statusChangeapproveNote').val("");
                       // setAssignmentStatus();
                       // AssignmentDetailsBasicUpdate();
                    }
                });

                //$('#frmInvoice').submit();
            }
            else if (Mode == 'TEInterimInvoiceDiary') {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: $('#frmTEInterimInvoiceDiary').attr('action'),
                    data: $('#frmTEInterimInvoiceDiary').serialize(),
                    success: function (data) {
                        markDiaryIdComplete($('#hdnTEInterimInvoiceDiaryId').val());
                        disableTEInterimInvoiceDiaryPopup();
                    }
                });
            }
            else if (Mode == 'Search') {
                $('#frmInvoice').submit();
            }
            else if (Mode == 'financial') {

                $('#frmInvoicefinancial').submit();
                //showTab('3');
                //showView('7');
                showView('7');
            }

        }
        else {
            alert('Kindly rectify the errors before proceeding.');
        }
    }



</script>
<style type="text/css">
    .style3 {
        width: 60px;
    }

    .spPercent {
        text-align: right;
        padding-right: 110px;
    }

    .tdspEdicharge {
        text-align: right;
        padding-right: 55px;
    }

    .style2 {
        width: 220px;
    }
    .subHeading
    {
        font-size: inherit;
    font-weight: 700;
    }
</style>
<div id="divErrMsg" class="errorMsg">
    @Html.ValidationSummary()
</div>
<table style="width: 100%;font-size:13px;" bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">
    <tr>
        <td style="height: 20px"></td>
    </tr>
    <tr style="display: none;">
        <td>
            <input type="hidden" id="hdnServiceFee" name="hdnServiceFee" />
            @*<input type="hidden" id="hdnSPServiceFee" name="hdnSPServiceFee" value="@ViewBag.hdnSPServiceFee"/>*@
            <input type="hidden" id="hdnSPServiceFee" name="hdnSPServiceFee" />
            <input type="hidden" id="hdnQAAgentFee" name="hdnQAAgentFee" />
            <input type="hidden" id="hdnSPXPercent" name="hdnSPXPercent" />
            @*This value is used to populate txtQAAgentFee *@
            @Html.HiddenFor(model => model.invoiceDetail.AutoInvoiceId, new { @id = "hdnInvoiceId" })
            @Html.HiddenFor(model => model.invoiceDetail.CompanyName)
            @Html.HiddenFor(model => model.invoiceDetail.PolicyNumber)
            @Html.HiddenFor(model => model.invoiceDetail.DateofLoss)
            @Html.HiddenFor(model => model.invoiceDetail.OutSideAdujusterName)
            @Html.HiddenFor(model => model.invoiceDetail.InsuredFirstName)
            @Html.HiddenFor(model => model.invoiceDetail.InsuredLastName)
            @Html.HiddenFor(model => model.invoiceDetail.PropertyAddress1)
            @Html.HiddenFor(model => model.invoiceDetail.PropertyAddress2)
            @Html.HiddenFor(model => model.invoiceDetail.PropertyCity)
            @Html.HiddenFor(model => model.invoiceDetail.PropertyState)
            @Html.HiddenFor(model => model.invoiceDetail.PropertyZip)
            @Html.HiddenFor(model => model.invoiceDetail.PropertyContactPhone)
            @Html.HiddenFor(model => model.invoiceDetail.InsuredHomePhone)
            @Html.HiddenFor(model => model.claim.HeadCompanyId)
            @Html.HiddenFor(model => model.invoiceDetail.AutoInvoiceDate)

        </td>
    </tr>
    <tr>
        <td width="10px">&nbsp</td>
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td style="width: 50%" valign="top">
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" class="subHeading">Invoice Information</td>
                            </tr>
                            <tr height="26px">
                                <td>Invoice Number</td>
                                <td>
                                    @Model.invoiceDetail.AutoInvoiceNo
                                    @Html.HiddenFor(model => model.invoiceDetail.AutoInvoiceNo)
                                </td>
                            </tr>
                            <tr height="26px">
                                <td>File Number</td>
                                <td>
                                    @Model.invoiceDetail.AutoAssignmentId
                                    @Html.HiddenFor(model => model.invoiceDetail.AutoAssignmentId)
                                </td>
                            </tr>
                            <tr height="26px">
                                <td>Claim Number</td>
                                <td>
                                    @Model.invoiceDetail.ClaimNumber
                                    @Html.HiddenFor(model => model.invoiceDetail.ClaimNumber)
                                </td>
                            </tr>
                            <tr height="26px">
                                <td>Invoice Date</td>
                                <td>


                                    @(Model.invoiceDetail.AutoInvoiceDate.HasValue ? Model.invoiceDetail.AutoInvoiceDate.Value.ToString("MM/dd/yyyy") : System.DateTime.Now.ToString("MM/dd/yyyy"))
                                </td>
                            </tr>
                            <tr height="26px">
                                <td>Invoice Type</td>
                                <td>
                                    @Html.DropDownListFor(model => model.invoiceDetail.AutoInvoiceType, Model.InvoiceTypeList, new { @id = "ddlInvoiceType" })

                                </td>
                            </tr>
                            @*<tr height="26px">
                                <td>Service Offering</td>
                                <td>
                                    @if (@Model.invoiceDetail.ServiceOffering != 0 && @Model.invoiceDetail.ServiceOffering != null)
                                    {
                                        BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                                        @css.ServiceOfferings.Where(x => x.ServiceId == Model.invoiceDetail.ServiceOffering).First().ServiceDescription;
                                    }
                                </td>
                            </tr>*@
                        </table>
                    </td>
                    <td style="width: 50%">
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2" class="subHeading">Status</td>
                            </tr>
                            <tr>
                                <td>Invoice Status</td>
                                <td width="300">
                                    @Html.DropDownListFor(model => model.invoiceDetail.AutoInvoiceStatus, Model.InvoiceStatusList, new { @tabindex = "1", @class = "style2" })

                                </td>
                            </tr>
                            <tr>
                                <td>Original Invoice Date</td>
                                <td>
                                    @*@Html.TextBoxFor(model => model.invoiceDetail.OriginalAutoInvoiceDate, new { @class = "DatePickerTextBox", @tabindex = "2", @Value = (Model == null || Model.invoiceDetail.OriginalAutoInvoiceDate == null ? string.Empty : Convert.ToDateTime(Model.invoiceDetail.OriginalAutoInvoiceDate).ToString("MM/dd/yyyy")) })*@
                                    <div class="input-group input-medium date date-picker" data-date="12-02-2012" data-date-format="mm-dd-yyyy" data-date-viewmode="years">
                                        @*<input type="text" class="form-control" readonly>*@
                                        @Html.TextBoxFor(model => model.invoiceDetail.OriginalAutoInvoiceDate, new { @id = "txtfrom", @tabindex = "2", @Value = (Model == null || Model.invoiceDetail.OriginalAutoInvoiceDate == null ? string.Empty : Convert.ToDateTime(Model.invoiceDetail.OriginalAutoInvoiceDate).ToString("MM/dd/yyyy")) })
                                        @*<span class="input-group-btn">
                                            <button class="btn default" type="button" style=" height: 30px;">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>*@
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>RCV</td>
                                <td>
                                    @Html.TextBoxFor(model => model.invoiceDetail.RCV, Model.invoiceDetail.RCV.HasValue ? Model.invoiceDetail.RCV.Value.ToString("N2") : "", new { @id = "txtRCV", @tabindex = "3", @onkeypress = "numericOnly(this);" })
                                    <img id="imgRCVProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none; padding-left: 5px;" alt="loading" />
                                </td>
                            </tr>
                            <tr height="26px">
                                <td>Line OF Business</td>
                                <td>

                                    @Html.DropDownListFor(model => model.invoiceDetail.LOBId, Model.LineOfBussinessList, new { @class = "style2", @tabindex = "4", @id = "ddlLineOfBussiness" })
                                    <img id="imgLOBProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none; padding-left: 5px;" alt="loading" />

                                </td>
                            </tr>
                            <tr>
                                <td>Fee Type</td>
                                <td>
                                    @Html.DropDownListFor(model => model.invoiceDetail.FeeType, Model.FeeTypeList, new { @id = "ddlFeeType", @class = "style2", @tabindex = "5" })

                                </td>
                            </tr>
                            <tr>
                                <td>Tax ID #</td>
                                <td>
                                    @Html.TextBoxFor(model => model.invoiceDetail.TaxID, new { @tabindex = "6" })

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>


    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr id="trTimeExpense" style="display:none;">
        <td width="10px">&nbsp</td>
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td colspan="6" class="subHeading">
                        Time And Expense
                        @if (Model.ShowBilledNotesExportOption)
                        {
                            if (Model.invoiceDetail.AutoInvoiceId > 0)
                            {
                                @:(<a target="_blank" href="@Url.Action( "InvoiceBilledNotesList","PropertyAssignmentInvoice", new { @claimId = 0, @invoiceId=Model.invoiceDetail.AutoInvoiceId })">Export Billed Notes</a>)
                            }
                            else
                            {
                                @:(<a target="_blank" href="@Url.Action("InvoiceBilledNotesList", "PropertyAssignmentInvoice", new { @claimId = Model.invoiceDetail.ClaimId, @invoiceId = 0 })">Export Billed Notes</a>)
                        }
                        }
                    </td>
                </tr>
                <tr>
                    <td># of Hours</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.TE1NoOfHours, new { @id = "txtTE1NoOfHours", @tabindex = "7" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }

                    </td>
                    <td># of Hours</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBox("txtofHours", "", new { @tabindex = "10", @disabled = "disabled" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }
                    </td>
                    <td># of Hours</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBox("txtofHours", "", new { @tabindex = "13", @disabled = "disabled" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }
                    </td>
                </tr>
                <tr>
                    <td>Service Provider Level</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.DropDownListFor(model => model.invoiceDetail.TE1SPLevel, Model.SPLevelList, new { @id = "ddlTE1SPLevel", @tabindex = "8" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }
                    </td>
                    <td>Service Provider Level</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBox("txtServiceProviderLevel", "", new { @tabindex = "11", @disabled = "disabled" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }
                    </td>
                    <td>Service Provider Level</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBox("txtServiceProviderLevel", "", new { @tabindex = "14", @disabled = "disabled" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }
                    </td>
                </tr>
                <tr>
                    <td>Hourly Rate</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {

                            @Html.TextBoxFor(model => model.invoiceDetail.TE1SPHourlyRate, Model.invoiceDetail.TE1SPHourlyRate.HasValue ? Model.invoiceDetail.TE1SPHourlyRate.Value.ToString("N2") : "", new { @id = "txtTE1SPHourlyRate", @tabindex = "9" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }
                    </td>
                    <td>Hourly Rate</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBox("txtHourlyRate", "", new { @tabindex = "12", @disabled = "disabled" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }
                    </td>
                    <td>Hourly Rate</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBox("txtHourlyRate", "", new { @tabindex = "15", @disabled = "disabled" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3"></td>

    </tr>

    <tr>
        <td width="10px">&nbsp</td>
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="6" class="subHeading">Mileage</td>
                </tr>
                <tr>
                    <td colspan="6"></td>
                </tr>
                <tr>


                    <td>
                        <input id="lblmileage" style="display: none" />
                    </td>
                    <th style="padding-left: 80px; text-align: left;">SP %</th>
                    <td>&nbsp</td>
                    <td>
                        <input id="lblphoto" style="display: none" />
                    </td>
                    <th style="padding-left: 80px; text-align: left;">SP %</th>
                </tr>

                <tr>
                    <td>Mileage rate</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.MileageCharges, new { @class = "style3", @tabindex = "16", @id = "txtMileageRate", @onkeypress = "numericOnly(this);", @onblur = "formatCurrency(this.value,this.id)" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.MileageCharges
                                    </td>
                                    <td>@*@Model.invoiceDetail.TotalMiles*@</td>
                                </tr>
                            </table>

                        }

                    </td>
                    <td>&nbsp</td>
                    <td>Photo Rate</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.PhotoCharge, new { @id = "txtPhotoRate", @tabindex = "28", @onkeypress = "numericOnly(this);", @onblur = "formatCurrency(this.value,this.id)", @class = "style3" })
                            @* @Html.TextBoxFor(model => model.invoiceDetail.TotalMiles, new { @class = "style3", @id = "txtpercentPhotoRate" })</td>*@
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.PhotoCharge
                                    </td>
                                    <td>@*@Model.invoiceDetail.TotalMiles*@</td>
                                </tr>
                            </table>

                        }
                    </td>
                </tr>
                <tr>
                    <td>Actual Miles</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.ActualMiles, new { @id = "txtActualMiles", @tabindex = "17", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @*@Html.TextBoxFor(model => model.invoiceDetail.TotalMiles, new { @class = "style3", @id = "txtPercentActualMiles" })</td>*@
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.ActualMiles
                                    </td>
                                    <td>@*@Model.invoiceDetail.TotalMiles*@</td>
                                </tr>
                            </table>

                        }
                    </td>
                    <td>&nbsp</td>
                    <td>Count of Photos</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.PhotoCount, new { @id = "txtCountOfPhotos", @tabindex = "29", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @*@Html.TextBoxFor(model => model.invoiceDetail.TotalMiles, new { @class = "style3", @id = "txtCountOfPhotos" })</td>*@
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.PhotoCount
                                    </td>
                                    <td>@*@Model.invoiceDetail.TotalMiles*@</td>
                                </tr>
                            </table>

                        }
                    </td>
                </tr>
                <tr>
                    <td>Included Miles</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.IncludedMiles, new { @id = "txtIncludedMiles", @tabindex = "18", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @*@Html.TextBoxFor(model => model.invoiceDetail.TotalMiles, new { @class = "style3", @id = "txtPercentIncludedMiles" })</td>*@
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.IncludedMiles
                                    </td>
                                    <td>@*@Model.invoiceDetail.TotalMiles*@</td>
                                </tr>
                            </table>

                        }
                    </td>
                    <td>&nbsp</td>
                    <td># of Photos Included</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.PhotosIncluded, new { @id = "txtPhotosIncluded", @tabindex = "30", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @*@Html.TextBoxFor(model => model.invoiceDetail.TotalMiles, new { @class = "style3", @id = "txtPercentPhotosIncluded" })</td>*@
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.PhotosIncluded
                                    </td>
                                    <td>@*@Model.invoiceDetail.TotalMiles*@</td>
                                </tr>
                            </table>
                        }
                    </td>

                </tr>
                <tr>
                    <td>Total Mileage</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.TotalMileage, Model.invoiceDetail.TotalMileage.HasValue ? Model.invoiceDetail.TotalMileage.Value.ToString("N2") : "", new { @id = "txtTotalMileage", @tabindex = "19", @onkeypress = "numericOnly(this);", @readonly = true, @class = "style3" })
                            @Html.TextBoxFor(model => model.invoiceDetail.SPTotalMileagePercent, new { @class = "style3", @tabindex = "20", @id = "txtPercentTotalMileage", @onkeypress = "numericOnly(this);" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.TotalMileage
                                    </td>
                                    <td>@Model.invoiceDetail.TotalMiles</td>
                                </tr>
                            </table>
                        }
                    </td>
                    <td>&nbsp</td>
                    <td>Total Photos</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.TotalPhotosCharges, Model.invoiceDetail.TotalPhotosCharges.HasValue ? Model.invoiceDetail.TotalPhotosCharges.Value.ToString("N2") : "", new { @id = "txtTotalPhotos", @tabindex = "31", @onkeypress = "numericOnly(this);", @readonly = true, @class = "style3" })
                            @Html.TextBoxFor(model => model.invoiceDetail.SPTotalPhotoPercent, new { @class = "style3", @tabindex = "32", @id = "txtPercentTotalPhotos", @onkeypress = "numericOnly(this);" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.TotalPhotosCharges
                                    </td>
                                    <td>@Model.invoiceDetail.TotalMiles</td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>



                <tr>
                    <td>Tolls</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.Tolls, Model.invoiceDetail.Tolls.HasValue ? Model.invoiceDetail.Tolls.Value.ToString("N2") : "", new { @id = "txtTolls", @tabindex = "21", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @Html.TextBoxFor(model => model.invoiceDetail.SPTollsPercent, new { @class = "style3", @tabindex = "22", @id = "txtPercentTolls", @onkeypress = "numericOnly(this);" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.Tolls
                                    </td>
                                    <td>@Model.invoiceDetail.TotalMiles</td>
                                </tr>
                            </table>
                        }
                    </td>
                    <td>&nbsp</td>
                    <td>Airfare</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.Airfare, Model.invoiceDetail.Airfare.HasValue ? Model.invoiceDetail.Airfare.Value.ToString("N2") : "", new { @id = "txtAirfare", @tabindex = "33", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @Html.TextBoxFor(model => model.invoiceDetail.AirFarePercent, new { @class = "style3", @tabindex = "34", @id = "txtPercentAirfare", @onkeypress = "numericOnly(this);" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @*@Model.invoiceDetail.Tolls*@
                                    </td>
                                    <td>@Model.invoiceDetail.AirFarePercent</td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Other Travel</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.OtherTravelCharge, Model.invoiceDetail.OtherTravelCharge.HasValue ? Model.invoiceDetail.OtherTravelCharge.Value.ToString("N2") : "", new { @id = "txtothertravel", @tabindex = "23", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @Html.TextBoxFor(model => model.invoiceDetail.SPOtherTravelPercent, new { @class = "style3", @tabindex = "24", @id = "txtPercentothertravel", @onkeypress = "numericOnly(this);" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.OtherTravelCharge
                                    </td>
                                    <td>@Model.invoiceDetail.TotalMiles</td>
                                </tr>
                            </table>
                        }
                    </td>
                    <td>&nbsp</td>
                    <td>Misc.</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.Misc, Model.invoiceDetail.Misc.HasValue ? Model.invoiceDetail.Misc.Value.ToString("N2") : "", new { @id = "txtmisc", @tabindex = "35", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @Html.TextBoxFor(model => model.invoiceDetail.MiscPercent, new { @class = "style3", @tabindex = "36", @id = "txtPercentmisc", @onkeypress = "numericOnly(this);" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @*@Model.invoiceDetail.Tolls*@
                                    </td>
                                    <td>@Model.invoiceDetail.MiscPercent</td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Aierial Image Fee</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.AierialImageFee, Model.invoiceDetail.AierialImageFee.HasValue ? Model.invoiceDetail.AierialImageFee.Value.ToString("N2") : "", new { @id = "txtAierialImageFee", @tabindex = "25", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @*@Html.TextBoxFor(model => model.invoiceDetail.TotalMiles, new { @class = "style3", @id = "txtPercentAierialImage", @onkeypress = "numericOnly(this);" })*@
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.Airfare
                                    </td>
                                    <td>@Model.invoiceDetail.TotalMiles</td>
                                </tr>
                            </table>
                        }
                    </td>
                    <td>&nbsp</td>
                    <td>Misc. Comment</td>
                    <td colspan="2" align="left">@Html.TextAreaFor(model => model.invoiceDetail.MiscComment, new { @tabindex = "37" })</td>

                </tr>
                <tr>
                    <td>EDI Fee</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.EDIFee, Model.invoiceDetail.EDIFee.HasValue ? Model.invoiceDetail.EDIFee.Value.ToString("N2") : "", new { @id = "txtEDIFee", @tabindex = "26", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @*@Html.TextBoxFor(model => model.invoiceDetail.TotalMiles, new { @class = "style3", @id = "txtPercentEDIFee", @onkeypress = "numericOnly(this);" })*@
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.EDIFee
                                    </td>
                                    <td>@Model.invoiceDetail.TotalMiles</td>
                                </tr>
                            </table>
                        }

                    </td>
                    <td>&nbsp</td>


                    <td>Contents Count</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.ContentCount, Model.invoiceDetail.ContentCount.HasValue ? Model.invoiceDetail.ContentCount.Value.ToString("N2") : "", new { @id = "txtContentCount", @tabindex = "38", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @Html.TextBoxFor(model => model.invoiceDetail.ContentsCountPercent, new { @class = "style3", @tabindex = "39", @id = "txtPercentContentCount", @onkeypress = "numericOnly(this);" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @*@Model.invoiceDetail.Airfare*@
                                    </td>
                                    <td>@Model.invoiceDetail.ContentsCountPercent</td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Total Additional Charges</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.TotalAdditionalCharges, Model.invoiceDetail.TotalAdditionalCharges.HasValue ? Model.invoiceDetail.TotalAdditionalCharges.Value.ToString("N2") : "", new { @id = "txtTotalAdditionalCharge", @tabindex = "27", @onkeypress = "numericOnly(this);", @class = "style3", @readonly = true })
                            @*@Html.TextBoxFor(model => model.invoiceDetail.TotalMiles, new { @class = "style3", @id = "txtPercenttotalAdditionalCharge", @onkeypress = "numericOnly(this);" })*@
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.TotalAdditionalCharges
                                    </td>
                                    <td>@Model.invoiceDetail.TotalMiles</td>
                                </tr>
                            </table>


                        }
                    </td>
                    <td>&nbsp</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>


                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="6" class="subHeading">Services</td>
                </tr>
                <tr>

                    <td>
                        <input id="tbltd1" style="display: none" />
                    </td>
                    <td>
                        <input id="tbltd2" style="display: none" />
                    </td>
                    <td>
                        <input id="tbltd3" style="display: none" />
                    </td>
                    <td>
                        <input id="tbltd4" style="display: none" />
                    </td>
                    <th style="padding-left: 80px; text-align: left;">$Amount</th>
                    <td>
                        <input id="tbltd6" style="display: none" />
                    </td>
                </tr>

                <tr>
                    <td>Services</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.ServicesCharges, Model.invoiceDetail.ServicesCharges.HasValue ? Model.invoiceDetail.ServicesCharges.Value.ToString("N2") : "", new { @id = "txtServices", @tabindex = "40", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @*@Html.TextBoxFor(model => model.invoiceDetail.TotalMiles, new { @class = "style3", @id = "txtPercentServices", @onkeypress = "numericOnly(this);" })*@
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.ServicesCharges
                                    </td>
                                    <td>@Model.invoiceDetail.TotalMiles</td>
                                </tr>
                            </table>
                        }
                    </td>
                    <td>&nbsp</td>
                    <td>QA Agent Fee %</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.QAAgentFeePercent, new { @id = "txtQAAgentFee", @onkeypress = "numericOnly(this);", @class = "style3", @tabindex = "49" })
                            @Html.TextBoxFor(model => model.invoiceDetail.QAAgentFee, Model.invoiceDetail.QAAgentFee.HasValue ? Model.invoiceDetail.QAAgentFee.Value.ToString("N2") : "", new { @class = "style3", @id = "txtPercentQAagentFee", @onkeypress = "numericOnly(this);", @readonly = true, @tabindex = "50" })<img id="imgQAAgentFeeProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none; padding-left: 5px;" alt="loading" />
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.QAAgentFeePercent
                                    </td>
                                    <td>@Model.invoiceDetail.QAAgentFee</td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>TPA/Office Fee</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.OfficeFee, Model.invoiceDetail.OfficeFee.HasValue ? Model.invoiceDetail.OfficeFee.Value.ToString("N2") : "", new { @id = "txtTPAOfficeFee", @tabindex = "41", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @*@Html.TextBoxFor(model => model.invoiceDetail.TotalMiles, new { @class = "style3", @id = "txtPercentTPAOfficeFee", @onkeypress = "numericOnly(this);" })*@
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.OfficeFee
                                    </td>
                                    <td>@Model.invoiceDetail.TotalMiles</td>
                                </tr>
                            </table>
                        }
                    </td>
                    <td>&nbsp</td>
                    <td>SP Service Fee %</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.SPServiceFeePercent, new { @id = "txtSpServiceFee", @onkeypress = "numericOnly(this);", @class = "style3", @tabindex = "51", @readonly = true })
                            @Html.TextBoxFor(model => model.invoiceDetail.SPServiceFee, Model.invoiceDetail.SPServiceFee.HasValue ? Model.invoiceDetail.SPServiceFee.Value.ToString("N2") : "", new { @class = "style3", @id = "txtPercentSpServiceFee", @onkeypress = "numericOnly(this);", @readonly = true, @tabindex = "52" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.SPServiceFeePercent
                                    </td>
                                    <td>@Model.invoiceDetail.SPServiceFee</td>
                                </tr>
                            </table>



                        }
                    </td>
                </tr>
                <tr>
                    <td>File Set up Fee</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.FileSetupFee, Model.invoiceDetail.FileSetupFee.HasValue ? Model.invoiceDetail.FileSetupFee.Value.ToString("N2") : "", new { @id = "txtFileSetUpFee", @tabindex = "42", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @*@Html.TextBoxFor(model => model.invoiceDetail.TotalMiles, new { @class = "style3", @id = "txtPercentFileSetUpFee", @onkeypress = "numericOnly(this);" })*@
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.FileSetupFee
                                    </td>
                                    <td>@Model.invoiceDetail.TotalMiles</td>
                                </tr>
                            </table>
                        }

                    </td>
                    <td>&nbsp</td>
                    <td>Hold Back %</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.HoldBackPercent, new { @id = "txtHoldback", @onkeypress = "numericOnly(this);", @class = "style3", @tabindex = "53", @readonly = true })
                            @Html.TextBoxFor(model => model.invoiceDetail.HoldBackFee, Model.invoiceDetail.HoldBackFee.HasValue ? Model.invoiceDetail.HoldBackFee.Value.ToString("N2") : "", new { @class = "style3", @id = "txtPercentHoldback", @onkeypress = "numericOnly(this);", @readonly = true, @tabindex = "54" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.HoldBackPercent
                                    </td>
                                    <td>@Model.invoiceDetail.HoldBackFee</td>
                                </tr>
                            </table>


                        }
                    </td>
                </tr>
                <tr>
                    <td>Reinspection Fee</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.ReInspectionFee, Model.invoiceDetail.ReInspectionFee.HasValue ? Model.invoiceDetail.ReInspectionFee.Value.ToString("N2") : "", new { @id = "txtReinspectionFee", @tabindex = "43", @onkeypress = "numericOnly(this);", @class = "style3" })
                            @*@Html.TextBoxFor(model => model.invoiceDetail.TotalMiles, new { @class = "style3", @id = "txtPercentReinspectionFee", @onkeypress = "numericOnly(this);" })*@
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.ReInspectionFee
                                    </td>
                                    <td>@Model.invoiceDetail.TotalMiles</td>
                                </tr>
                            </table>
                        }
                    </td>
                    <td>&nbsp</td>
                    <td>SP EDI Charge</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            <table width="100%">
                                <tr>
                                    <td style="width: 60px"></td>
                                    <td>@Html.TextBoxFor(model => model.invoiceDetail.SPEDICharge, Model.invoiceDetail.SPEDICharge.HasValue ? Model.invoiceDetail.SPEDICharge.Value.ToString("N2") : "", new { @id = "txtPercentSPEDICharge", @style = "width:60px ;", @onkeypress = "numericOnly(this);", @class = "style3", @tabindex = "55" })</td>
                                </tr>
                            </table>


                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @*@Model.invoiceDetail.ReInspectionFee*@
                                    </td>
                                    <td class="spPercent">@Model.invoiceDetail.SPEDICharge</td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Total Services</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.SubTotal, Model.invoiceDetail.SubTotal.HasValue ? Model.invoiceDetail.SubTotal.Value.ToString("N2") : "", new { @id = "txtTotalServices", @tabindex = "44", @onkeypress = "numericOnly(this);", @readonly = true, @class = "style3" })
                            @Html.Label("Rates", new { @style = "margin-left:2px;" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.SubTotal
                                    </td>
                                    <td>Rates</td>
                                </tr>
                            </table>
                        }

                    </td>
                    <td>&nbsp</td>
                    <td>SP Aeiral Image Charge</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            <table width="100%">
                                <tr>
                                    <td style="width: 60px"></td>
                                    <td>
                                        @Html.TextBoxFor(model => model.invoiceDetail.SPAerialCharge, Model.invoiceDetail.SPAerialCharge.HasValue ? Model.invoiceDetail.SPAerialCharge.Value.ToString("N2") : "", new { @style = "width:60px", @id = "txtPercentSpAeiralImageCharge", @onkeypress = "numericOnly(this);", @tabindex = "56" })
                                    </td>
                                </tr>
                            </table>
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @*@Model.invoiceDetail.SubTotal*@
                                    </td>
                                    <td class="spPercent">@Model.invoiceDetail.SPAerialCharge</td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Sales Tax</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.DropDownListFor(model => model.invoiceDetail.IsTaxApplicable, Model.IsTaxApplicable, new { @id = "txtIssalesTax", @tabindex = "45", @style = "width:65px" })

                            @Html.TextBoxFor(model => model.invoiceDetail.SalesCharges, Model.invoiceDetail.SalesCharges.HasValue ? Model.invoiceDetail.SalesCharges.Value.ToString("N2") : "0", new { @class = "style3", @id = "txtPercentIssalesTax", @tabindex = "46", @style = "margin-left:2px;", @onkeypress = "numericOnly(this);" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @if (@Model.invoiceDetail.IsTaxApplicable == 1)
                                        {
                                            @Html.Label("Yes");
                                        }
                                        else if (@Model.invoiceDetail.IsTaxApplicable == 0)
                                        {
                                            @Html.Label("No");
                                        }
                                    </td>
                                    <td>@Model.invoiceDetail.TotalMiles</td>
                                </tr>
                            </table>
                        }
                    </td>
                    <td>&nbsp</td>
                    <td>Total SP Pay</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.TotalSPPayPercent, new { @id = "txtTotalSPpay", @onkeypress = "numericOnly(this);", @class = "style3", @readonly = true, @tabindex = "57" })
                            @Html.TextBoxFor(model => model.invoiceDetail.TotalSPPay, Model.invoiceDetail.TotalSPPay.HasValue ? Model.invoiceDetail.TotalSPPay.Value.ToString("N2") : "", new { @class = "style3", @id = "txtPercentSPPay", @onkeypress = "numericOnly(this);", @readonly = true, @tabindex = "58" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.TotalSPPayPercent
                                    </td>
                                    <td>@Model.invoiceDetail.TotalSPPay</td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Sales Tax</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.Tax, Model.invoiceDetail.Tax.HasValue ? Model.invoiceDetail.Tax.Value.ToString("N2") : "", new { @tabindex = "47", @id = "txtSalesTax", @onkeypress = "numericOnly(this);", @readonly = true, @class = "style3" })
                            @*@Html.TextBoxFor(model => model.invoiceDetail.TotalMiles, new { @class = "style3", @id = "txtPercentSalesTax", @onkeypress = "numericOnly(this);" })*@
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.Tax
                                    </td>
                                    <td>@Model.invoiceDetail.TotalMiles</td>
                                </tr>
                            </table>
                        }
                    </td>
                    <td>&nbsp</td>
                    <td>CSS Portion</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.CSSPortionPercent, new { @id = "txtCssPortion", @onkeypress = "numericOnly(this);", @class = "style3", @tabindex = "59" })
                            @Html.TextBoxFor(model => model.invoiceDetail.CSSPortion, Model.invoiceDetail.CSSPortion.HasValue ? Model.invoiceDetail.CSSPortion.Value.ToString("N2") : "", new { @class = "style3", @id = "txtPercentCssPortion", @onkeypress = "numericOnly(this);", @readonly = true, @tabindex = "60" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.CSSPortionPercent
                                    </td>
                                    <td>@Model.invoiceDetail.CSSPortion</td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Total Invoice</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.GrandTotal, Model.invoiceDetail.GrandTotal.HasValue ? Model.invoiceDetail.GrandTotal.Value.ToString("N2") : "", new { @id = "txtTotalInvoice", @tabindex = "48", @onkeypress = "numericOnly(this);", @readonly = true, @class = "style3" })
                            @* @Html.TextBoxFor(model => model.invoiceDetail.TotalMiles, new { @class = "style3", @id = "txtPercentTotalInvoice", @onkeypress = "numericOnly(this);" })*@
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {
                            <table width="100%">
                                <tr>
                                    <td>
                                        @Model.invoiceDetail.GrandTotal
                                    </td>
                                    <td>@Model.invoiceDetail.TotalMiles</td>
                                </tr>
                            </table>
                        }
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="6" class="subHeading">Balance</td>
                </tr>
                <tr>
                    <td>Invoice Balance Due</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.BalanceDue, Model.invoiceDetail.BalanceDue.HasValue ? Model.invoiceDetail.BalanceDue.Value.ToString("N2") : "", new { @id = "txtBalanceDue", @class = "style3", @readonly = true, @tabindex = "61" })

                            @Html.TextBox("txtPercentBalanceDue", "", new { @class = "style3", @tabindex = "62" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp</td>
                    <td>&nbsp;</td>

                </tr>
                <tr>
                    <td>Total Balance Due</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.TotalBalanceDue, Model.TotalBalanceDue.ToString("N2"), new { @id = "txtInvcTotalBalanceDue", @class = "style3", @readonly = true, @tabindex = "61" })

                            @Html.TextBox("txtPercentTotalBalanceDue", "", new { @class = "style3", @tabindex = "62" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp</td>
                    <td>&nbsp;</td>

                </tr>
                <tr>
                    <td>Previous Billed Amount(s)</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.PreviousBilledAmount, "{0:0.00}", new { @class = "style3", @tabindex = "63" })


                            @Html.TextBox("txtPercentPreviousBilledAmount", "", new { @class = "style3", @tabindex = "64" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }
                    </td>

                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp</td>

                </tr>
                <tr>
                    <td>Prior Payments</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBoxFor(model => model.invoiceDetail.PriorPayments, "{0:0.00}", new { @id = "txtPriorPayments", @class = "style3", @readonly = true, @tabindex = "65" })

                            @Html.TextBox("txtPercentPriorPayments", "", new { @class = "style3", @tabindex = "66" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp</td>

                </tr>
                <tr>
                    <td>Check Number (s)</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBox("txtCheckNumber", "", new { @class = "style3", @tabindex = "67" })
                            @Html.TextBox("txtPercentCheckNumber", "", new { @class = "style3", @tabindex = "68" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }
                    </td>
                    <td>&nbsp</td>
                    <td>Post Payment</td>
                    <td>
                        @if (@Model.viewType.ToUpper() == "EDIT")
                        {
                            @Html.TextBox("txtPostPayment", "", new { @class = "style3", @tabindex = "69" })
                            @Html.TextBox("txtPercentPostPayment", "", new { @class = "style3", @tabindex = "70" })
                        }
                        else if (@Model.viewType.ToUpper() == "READ" && @Model.invoiceDetail != null)
                        {

                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>



