﻿@using CSS
@model BLL.ViewModels.XactAutoAssignmentSearchViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();

}


@*<div class="table-scrollable">
        <table class="table table-hover">
            <tr>
                <td>
                    <table align="left" cellspacing="0" width="100%">
                        <tr>
                            <td class="mainHeader">
                                <a id="lblSearchExpand" style="color: black;" href="javacript:;" onclick="expandSearchFilter()">Search Filter</a>
                                <a id="lblSearchCollapse" href="javacript:;" onclick="collapseSearchFilter()" style="display: none; color: black;">Search Filter</a>
                            </td>
                        </tr>
                        <tr id="trSearchFilterContent" style="display: none;">
                            <td class="content">
                                @Html.Partial("_AutoAssignmentSearchFilter")
                            </td>
                        </tr>
                        <tr align="right" id="trSearchFilterFooter" style="display: none;">
                            <td class="footer">
                                <input type="submit" class="buttonLightYellow_100" value="Search" name="SubmitButton" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>*@
<div class="portlet-body">
    <div class="table-scrollable">
        <table class="table table-hover fontsizefortbl">
            <thead style="background-color: #406E98 !important;color: white;">
                <tr valign="top">
                    @*<td nowrap="nowrap"></td>*@
                    @*<td nowrap="nowrap">#</td>*@
                    <td nowrap="nowrap"></td>
                    @*<td><a href="javascript:;" onclick="OrderByclaim('ClaimNo');" class="act">Claim Number</a></td>*@
                    <td>Claim</td>
                    <td>Claim Name</td>@*InsuredName*@
                    <td>Company Name</td>
                    <td>Client Contact</td>
                    @*<td>Internal Contact</td>*@
                    @*<td>QA Agent</td>
                        <td>LOB</td>*@
                    <td>Service Type</td>
                    <td>Service Provider</td>
                    <td align="center">
                        @*<a href="#" onclick="OrderByclaim('Olddays');">Days Old</a>*@
                        Duration (Days)
                    </td>
                    @*<td nowrap="nowrap">Estimate ($)</td>*@
                    <td>Status</td>
                    <td>Last Activity</td>
               
                    <td></td>
                    <td></td>
                   
                    
                    <td colspan="5">
                        <div class="btn-group">
                            <button type="button" class="btn purple">Export</button>
                            <button type="button" class="btn purple dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <input type="submit" class="btn red" style="width: 120px;" value="Excel" id="Excel" name="SubmitButton">
                                </li>
                                <li>
                                    <input type="submit" class="btn yellow" style="width: 120px;" value="CSV" id="CSV" name="SubmitButton">
                                </li>
                                <li>
                                    <input type="submit" class="btn blue" style="width: 120px;" value="PDF" id="PDF" name="SubmitButton">
                                </li>
                               
                            </ul>
                        </div>
                    </td>
                  
                    <td>
                        <input type="hidden" value="@ViewBag.LastOrderByValue" id="hdnlastOrderByValue" name="hdnlastOrderByValue" />
                        <input type="hidden" value="@ViewBag.flag" id="hdnFlagClaim" name="hdnFlagClaim" />
                        <input type="hidden" id="hdnOrderByValue" name="hdnOrderByValue" />
                        <input type="hidden" id="hdnPageSige" name="hdnPageSige" />
                        <input type="hidden" id="hdnNext" name="hdnNext" />
                        <input type="hidden" id="hdnOrderDirection" name="hdnOrderDirection" />
                    </td>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0; //Used to identify whether any records are present, Alternating row colours, row number
                    int j = Model.Pager.Page - 1;
                    int z = Convert.ToInt32(Model.Pager.RecsPerPage);
                    int k = j * z;
                    if (Model.AutoClaimsInfo != null)
                    {

                        foreach (var claiminfo in Model.AutoClaimsInfo)
                        {

                            string claimNumber = "";
                            string rcv = "";
                            string serviceProvider = "";
                            string policyNumber = "";
                            string catCode = "";
                            string causeTypeOfLoss = "";
                            string serviceOffering = "";
                            string dateOfLoss = "";
                            string OwnerName = "";
                            string OwnerAddress = "";
                            string OwnerCity = "";
                            string OwnerState = "";
                            string OwnerZip = "";
                            string TotalDeductible = "";
                            BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                            BLL.Claim claim = css.Claims.Find(claiminfo.ClaimId);
                            if (claim != null)
                            {
                                if (!String.IsNullOrEmpty(claim.ClaimNumber))
                                {
                                    claimNumber = claim.ClaimNumber;
                                }
                                if (claiminfo.RCV.HasValue)
                                {
                                    rcv = String.Format("{0:0.00}", claiminfo.RCV);
                                }
                                if (!String.IsNullOrEmpty(claim.PolicyNumber))
                                {
                                    policyNumber = claim.PolicyNumber;
                                }
                                if (!String.IsNullOrEmpty(claim.PolicyNumber))
                                {
                                    policyNumber = claim.PolicyNumber;
                                }
                                if (!String.IsNullOrEmpty(claim.CatCode))
                                {
                                    catCode = claim.CatCode;
                                }
                                if (claim.CauseTypeOfLoss != null)
                                {
                                    //causeTypeOfLoss = claim.CauseTypeOfLoss;
                                    BLL.LossType lossType = css.LossTypes.Find(claim.CauseTypeOfLoss);
                                    if (lossType != null)
                                    {
                                        causeTypeOfLoss = lossType.LossType1;
                                    }
                                }

                                if (claim.DateofLoss.HasValue)
                                {
                                    dateOfLoss = claim.DateofLoss.Value.ToString("MM/dd/yyyy");
                                }
                                if (!String.IsNullOrEmpty(claim.OwnerFirstName))
                                {
                                    OwnerName = claim.OwnerFirstName;
                                }
                                if (!String.IsNullOrEmpty(claim.OwnerLastName))
                                {
                                    OwnerName += " " + claim.OwnerLastName;
                                }
                                if (!String.IsNullOrEmpty(claim.OwnerAddress1))
                                {
                                    OwnerAddress = claim.OwnerAddress1;
                                }
                                if (!String.IsNullOrEmpty(claim.OwnerAddress2))
                                {
                                    OwnerAddress += "" + claim.OwnerAddress2;
                                }
                                if (!String.IsNullOrEmpty(claim.OwnerCity))
                                {
                                    OwnerCity = claim.OwnerCity;
                                }
                                if (!String.IsNullOrEmpty(claim.OwnerState))
                                {
                                    OwnerState = claim.OwnerState;
                                }
                                if (!String.IsNullOrEmpty(claim.OwnerZip))
                                {
                                    OwnerZip = claim.OwnerZip;
                                }
                                if (claim.TotalDeductible != null)
                                {
                                    TotalDeductible = Convert.ToString(claim.TotalDeductible);
                                }
                            }

                            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")" valign="top">
                                @*<td><input type="checkbox" name="cbSelect" value="@claiminfo.AutoAssignmentId" /></td>*@
                                @*<td>@(k = k + 1)</td>*@
                                <td nowrap="nowrap">
                                    <a href="javascript:;">
                                       @* <img id="imgExpand@(i + "")" alt="Expand" title="Expand" src="~/Content/Images/plus.png" onclick="showRecordDetails(@(i + ""))" style="display: block; border: none;margin-top: 6px" />*@
                                        <div class="fa-item" id="imgExpand@(i + "")" onclick="showRecordDetails(@(i + ""))">
                                            <i class="fa fa-plus" title="Expand" style="color: red;"></i>
                                        </div>
                                    </a>
                                    <a href="javascript:;">
                                      @*  <img id="imgCollapse@(i + "")" title="Collapse" onclick="hideRecordDetails(@(i + ""))" alt="Collapse" src="~/Content/Images/minus.png" style="display: none; border: none;margin-top: 6px" />*@
                                        <div class="fa-item" id="imgCollapse@(i + "")" onclick="hideRecordDetails(@(i + ""))" style="display: none;">
                                            <i class="fa fa-minus" title="Collapse" style="color: red;"></i>
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    @{
                            if (!String.IsNullOrEmpty(claiminfo.ClaimNumber))
                            {
                                @Html.ActionLink(claiminfo.ClaimNumber, "Details", new { claimid = Cypher.EncryptString(claiminfo.ClaimId.ToString()) }, new { onclick = "CallSearch('" + claiminfo.ClaimNumber + "')" })
                            }
                                    }
                                </td>
                                <td>
                                    @claiminfo.InsuredName
                                </td>
                                <td>@claiminfo.Company</td>
                                <td>
                                    @{
                            if (@claiminfo.RepresentativeID != 0 && @claiminfo.RepresentativeID != null)
                            {
                                BLL.User user2 = css.Users.Find(@claiminfo.RepresentativeID);
                                <div style="display: inline">
                                    <a onclick="ShowUserInfo(@claiminfo.RepresentativeID);">@user2.FirstName @user2.LastName</a>
                                </div>
                            }
                                    }
                                </td>
                                @*<td>
                                    @{
                            if (@claiminfo.CSSPointofContactUserId != 0 && @claiminfo.CSSPointofContactUserId != null)
                            {
                                BLL.User user = css.Users.Find(@claiminfo.CSSPointofContactUserId);
                                if (user != null)
                                {
                                    <div style="display: inline">
                                        <a onclick="ShowUserInfo(@claiminfo.CSSPointofContactUserId);">@user.FirstName @user.LastName</a>
                                    </div>
                                }
                            }
                                    }
                                </td>*@
                                @*<td>
                                            @{
                                    if (@claiminfo.CSSQAAgentUserId != 0 && @claiminfo.CSSQAAgentUserId != null)
                                    {
                                        BLL.User user1 = css.Users.Find(@claiminfo.CSSQAAgentUserId);

                                        <div style="display: inline">@user1.FirstName @user1.LastName</div>
                                    }
                                            }
                                        </td>
                                        <td>
                                            @claiminfo.LobDescription
                                        </td>*@
                                <td>
                                    @claiminfo.ServiceDescription
                                </td>
                                <td>
                                    @*@claiminfo.OAName*@
                                    @{
                            if (@claiminfo.OAUserId != null && @claiminfo.OAUserId != 0)
                            {
                                BLL.User User = css.Users.Find(@claiminfo.OAUserId);
                                if (User.HeadCompanyId != null)
                                {
                                    BLL.Company Company = css.Companies.Find(User.HeadCompanyId);
                                    <div style="display: inline">
                                        <a onclick="ShowSPDetails(@claiminfo.OAUserId);">@Company.CompanyName</a>
                                    </div>
                                }
                            }
                                    }
                                </td>
                                <td align="center">
                                    @claiminfo.OlDDays
                                </td>
                                @*<td>
                                    @rcv
                                </td>*@
                                <td>
                                    @claiminfo.FileStatus
                                </td>
                                <td>
                                    @if (css.Triages.Where(x => x.AssignmentId == claiminfo.AutoAssignmentId).ToList().Count > 0)
                                    {
                                        <a href="@Url.Action("Details", "PropertyAssignment", new { ClaimId = Cypher.EncryptString(claiminfo.ClaimId.ToString()), ActiveMainTab = "Triage" })">
                                            <img alt="Triage" title="Triage Available" src="@Url.Content("~/Content/Images/text_list_bullets.png")" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                        </a>

                                    }
                                </td>
                                <td>
                                    @{
                            if ((loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)4)) && Model.FileStatus == 6)
                            {
                                if (claiminfo.ShowAccept == 1)
                                {
                                    <a href="javascript:;" onclick="loadAcceptPopup('@Url.Action("Accepted", "AutoAssignment", new { AssignmentId = claiminfo.AutoAssignmentId, IsAccepted = true, claimid = claiminfo.ClaimId })');" style="padding-right:5px; border: none; color: black; cursor: pointer;text-decoration:none;">
                                        <img src="~/Content/Images/Approve.png" title="Accept" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>

                                }
                            }
                                    }
                                </td>
                                <td nowrap="nowrap">
                                    @{
                            bool displayAssignSPIcon = false;
                            bool displayReAssignSPIcon = false;
                            if (claiminfo.OAUserId == null)
                            {
                                displayAssignSPIcon = true;
                            }
                            else
                            {
                                if (claiminfo.OAUserId == 0)
                                {
                                    displayAssignSPIcon = true;
                                }
                                else
                                {
                                    if (claiminfo.FileStatusId == 1 || claiminfo.FileStatusId == 3 || claiminfo.FileStatusId == 4 || claiminfo.FileStatusId == 5 || claiminfo.FileStatusId == 6 || claiminfo.FileStatusId == 8 || claiminfo.FileStatusId == 16)
                                    {
                                        displayReAssignSPIcon = true;
                                    }
                                }
                            }

                            if (displayAssignSPIcon)
                            {
                                if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2))
                                {

                                    <a href="@Url.Action("Search", "SpMapSearch", new { assignmentId = claiminfo.AutoAssignmentId })" style="border: none; color: black; cursor: pointer;float:left;">
                                        <img src="@Url.Content("~/Content/Images/AddUserIcon01.png")" title="Assign Service Provider" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>

                                }
                            }
                            else
                            {
                                if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.AssignedRights.Contains((byte)2))
                                {
                                    if (displayReAssignSPIcon)
                                    {
                                        <a href="@Url.Action("Search", "SpMapSearch", new { assignmentId = claiminfo.AutoAssignmentId })" style="text-decoration:none;border: none; color: black; cursor: pointer;">
                                            <img src="@Url.Content("~/Content/Images/AddUserIcon02.png")" title="Re-assign Service Provider" width="17" height="15" style="border: none; vertical-align: bottom;padding-right:4px;" />
                                        </a>
                                    }

                                    System.Data.Objects.ObjectParameter outIsNewInvoiceEnabled = new System.Data.Objects.ObjectParameter("IsNewInvoiceEnabled", System.Data.DbType.Boolean);
                                    css.usp_IsNewPropertyInvoiceEnabled(outIsNewInvoiceEnabled, claiminfo.AutoAssignmentId);
                                    if (Convert.ToBoolean(outIsNewInvoiceEnabled.Value) == true)
                                    {
                                        <a href="javascript:;" style="text-decoration:none;border: none; color: black; cursor: pointer;padding-right:4px;" onclick="loadPropertyInvoicePopup('@claiminfo.AutoAssignmentId','New','-1')">
                                            <img src="@Url.Content("~/Content/Images/iconMoneyAdd01.png")" title="New Invoice" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                        </a>
                                    }
                                }
                            }
                                    }
                                </td>
                                <td nowrap="nowrap">
                                    @*<button type="button" class="demo-loading-btn btn red btn-circle" data-toggle="modal" href="#NewAutoNote">*@
                                    <a href="javascript:;" style="text-decoration:none;border: none; color: black; cursor: pointer;padding-right:4px;">
                                        <img src="@Url.Content("~/Content/Images/Doc3.png")" title="Upload Documents"  onclick="DocModalPopup(@claiminfo.AutoAssignmentId);"  width="17" height="15" style="border: none; vertical-align: bottom;padding-right:4px;" />
                                    </a>
                                </td>
                                <td nowrap="nowrap">
                                    @*<button type="button" class="demo-loading-btn btn red btn-circle" data-toggle="modal" href="#NewAutoNote">*@
                                    <a href="javascript:;" onclick="DocumentViewer(@claiminfo.AutoAssignmentId)" style="text-decoration:none;border: none; color: black; cursor: pointer;padding-right:4px;">
                                        <img src="@Url.Content("~/Content/Images/docViewer1.png")" title="View Documents" data-toggle="modal" width="30" height="27" style="border: none; vertical-align: bottom;padding-right:4px;" />
                                    </a>
                                </td>
                                <td>
                                    @if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)1)))
                                    {
                                        List<BLL.AutoDocument>
                                            InvoiceDocumentList = css.AutoDocuments.Where(x => (x.AutoAssignmentId == @claiminfo.AutoAssignmentId) && (x.DocumentTypeId == 8)).ToList();
                                        if (InvoiceDocumentList.Count != 0)
                                        {                                            
                                            <a href="javascript:;" style="border: none; color: black; cursor: pointer;float:left;" onclick="InvoiceDocumentViewer(@claiminfo.AutoAssignmentId)">
                                                <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="View Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                            </a>
                                        }
                                    }
                                </td>
                                @*<td>
                                        @if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)1)))
                                        {
                                            //if (css.ClaimCoverages.Where(x => x.ClaimId == @claiminfo.ClaimId).ToList().Count > 0)
                                            //{
                                            List<BLL.AutoInvoice> invoiceList = css.AutoInvoices.Where(x => x.AutoAssignmentId == 10).OrderByDescending(x => x.AutoInvoiceId).ToList();
                                            Int64 invoiceId = 0;
                                            if (invoiceList.Count == 0)
                                            {
                                                invoiceId = -1;
                                            }
                                            else
                                            {
                                                invoiceId = invoiceList.First().AutoInvoiceId;
                                            }
                                            if (invoiceList.Count == 1)
                                            {
                                                <a href="javascript:;" style="border: none; color: black; cursor: pointer;float:left;" onclick="loadPropertyInvoicePopup('@claiminfo.AutoAssignmentId','Read','@invoiceId')">
                                                    <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                </a>
                                            }
                                            else if (invoiceList.Count > 1)
                                            {
                                                <a href="javascript:;" style="border: none; color: black; cursor: pointer;float:left;" onclick="loadPropertyInvoiceListPopup('@Url.Content("~/AutoAssignmentInvoice/AssignmentInvoiceSummaryList?AssignmentId=" + claiminfo.AutoAssignmentId)')">
                                                        <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                    </a>
                                            }
                                            else if (invoiceList.Count < 0 || (css.PropertyAssignments.Where(x => x.AssignmentId == claiminfo.AutoAssignmentId).First().FileStatus == 7))
                                                {
                                                    <a href="#" style="border: none; color: black; cursor: pointer;float:left;" onclick="loadPropertyInvoicePopup('@claiminfo.AutoAssignmentId','Edit','@invoiceId')">
                                                        <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                    </a>

                                                }
                                            }
                                            if (claiminfo.FileStatusId != 2)
                                                {
                                                    <a href="javascript:;" style="border: none; color: black; cursor: pointer;float:left;" onclick="loadClaimDetailsforInvoice('@claiminfo.ClaimId','@claiminfo.AutoAssignmentId')">
                                                        <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Property Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                                    </a>
                                                }
                                        }
                                    </td>*@
                                <td>
                                    @{
                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3)
                            {
                                @*<a href="#" onclick="loadEditClaimPopup('@Url.Action("PropertyAssignment", "PropertyAssignment", new { claimid = claiminfo.ClaimId })')" style="border: none; color: black; cursor: pointer;float:left;">
                                        <img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>*@
                                        
                                if (claiminfo.ServiceId != 9)
                                { 
                                        <a href="@Url.Action("AutoAssignment", "AutoAssignment", new { claimid = claiminfo.ClaimId })" style="border: none;cursor: pointer;float:left;">
                                            <img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                        </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("PropertyAssignment", "PropertyAssignment", new { claimid = claiminfo.ClaimId })" style="border: none;cursor: pointer;float:left;">
                                        <img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />
                                    </a>
                                }

                            }


}
                                </td>
                                <td>
                                    @{
                            if (loggedInUser.UserTypeId == 1)
                            {
                                if (claiminfo.FileStatusId == 1 || claiminfo.FileStatusId == 2)
                                {
                                    <a href="javascript:;">
                                        <img src="@Url.Content("~/Content/Images/Approve.png")" title="Accept Assignment" data-toggle="modal" onclick="loadAssignmentManageStatusPopup(3,'@claiminfo.ClaimId','@claiminfo.AutoAssignmentId')" width="17" height="15" style="border: none; vertical-align: bottom;padding-right:4px;" />
                                    </a>
                                }
                            }
                                    }
                                </td>
                            </tr>
                            <tr id="trRecordInfo@(i + "")" style="display:none;" class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                <td colspan="18">
                                    <table width="100%" cellspacing="5">
                                        <tr>
                                            <td><b>Claim #:</b> @claimNumber</td>
                                            <td><b>Policy #:</b>@policyNumber</td>
                                            <td><b>CAT Code:</b> @catCode</td>
                                            <td><b>Cause Type of Loss:</b> @causeTypeOfLoss </td>
                                            <td><b>Service Offering:</b> @serviceOffering</td>
                                            <td><b>Date of Loss: </b>@dateOfLoss</td>
                                        </tr>
                                        <tr>
                                            <td><b>Owner Name:</b> @OwnerName</td>
                                            <td><b>Owner Address:</b> @OwnerAddress </td>
                                            <td><b>Owner City:</b> @OwnerCity</td>
                                            <td><b>Owner State:</b>  @OwnerState</td>
                                            <td><b>Owner Zip: </b>@OwnerZip</td>
                                            <td><b>Total Deductible:</b>@TotalDeductible</td>
                                        </tr>
                                    </table>


                                    <br />

                                </td>
                            </tr>
                            i++;
                        }
                    }
                    if (i == 0)
                    {
                        <tr>
                            <td colspan="18" align="center">
                                <br />
                                - No record matching the Search Filter was found -<br />
                                <br />
                            </td>
                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>


</div>
<div class="table-scrollable">
    @Html.Partial("_Pager", Model.Pager)
</div>

<div id="multiDocUploaderPopup">

</div>
<style>
    .modal.modal-wide .modal-dialog {
        width: 90%;
        height: 70%;
    }

    .modal-wide .modal-body {
        overflow-y: auto;
    }
</style>
<style>
    .holds-the-iframe {
        background: url(/Content/Images/waiting1.gif) center center no-repeat;
    }
</style>
@*Inv Doc View*@
<div id="InvDocViewer" class="modal modal-wide fade in" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-header modalHead" style="background-color: #406E98 !important; color: white !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Invoice Document Viewer</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:700px; margin-left: -20px; margin-right: -20px; " data-always-visible="1" data-rail-visible1="1">
                        <div class="col-md-12 col-sm-12">
                            <div id="divInvDocumentViewer">
                                <div class="col-md-12" id="divdocview">
                                    <div class="holds-the-iframe">
                                        <iframe id="ifrmDoc" src="" style="width:100%; height:800px;" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">               
                <button type="button" data-dismiss="modal" class="btn dark btn-outline" id="btnCloseDocument" onclick="ClearPopupData();">Close</button>
            </div>*@
        </div>
    </div>
</div>

@*//Doc Viewer*@
<div id="DocViewer" class="modal modal-wide fade in" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div>
                <div class="modal-header modalHead" style="background-color: #406E98 !important; color: white !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Document Viewer</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:600px" data-always-visible="1" data-rail-visible1="1">
                        <div class="col-md-12 col-sm-12">
                            <div id="divDocumentViewer"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                @*<button type="button" class="btn dark btn-outline" onclick="ClearPopup();">Clear</button>*@
                <button type="button" data-dismiss="modal" class="btn dark btn-outline" id="btnCloseDocument" >Close</button>
            </div>
        </div>

    </div>
</div>

@*Accept Assignment*@

<div id="divAssignmentManageStatus" style="width: 100%;" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width:78%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #67809F; color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><b>Update Auto Assignment Status</b></h4>
            </div>
            <div class="modal-body">

                <div class="scroller" style="height:200px" data-always-visible="1" data-rail-visible1="1">
                    <div class="col-md-12 col-sm-12">
                        @using (Html.BeginForm("AssignmentStatusUpdate", "AutoAssignment", FormMethod.Post, new { @id = "frmAssignmentRejectStatusUpdate" }))
                        {
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="content" align="center">
                                        <input type="hidden" id="claimId" name="claimId" />
                                        <input type="hidden" id="assignmentId" name="assignmentId" />
                                        <input type="hidden" id="statusId" name="statusId" />
                                        <table width="100%">
                                            <tr id="trRetainSP" style="display: none;">
                                                <td colspan="2">
                                                    @Html.CheckBox("RetainSP", true, new { @id = "cbRetainSP" }) Retain Service Provider after Reopen<br />
                                                    <br />
                                                </td>
                                            </tr>
                                            <tr valign="top">
                                                <td align="right">Notes:</td>
                                                <td width="3%"></td>
                                                <td width="100%">
                                                    <textarea id="statusChangeNote" name="statusChangeNote" style="width: 98%" rows="5"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="footer" style="text-align: center">
                                        <input type="button" value="Update" class="btn btn-primary" onclick="SubmitAssignmentStatus();" />
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    //Accept Assignment
    function loadAssignmentManageStatusPopup(newStatusId, claimid, autoassignmentid) {
        debugger;
        document.getElementById('claimId').value = claimid;
        document.getElementById('assignmentId').value = autoassignmentid;
        document.getElementById('statusId').value = newStatusId;
        $("#divAssignmentManageStatus").modal("show");
    }

    function SubmitAssignmentStatus() {
        debugger;
        setAssignmentStatus();
        AssignmentDetailsBasicUpdate();
    }

    function AssignmentDetailsBasicUpdate() {
        location.reload();
    }

    function setAssignmentStatus() {
        debugger;
        //make use of .ajax and set it as sync
        var retainSP = $("#cbRetainSP").is(":checked");
        var AutoAssignmentID = $("#assignmentId").val();
        var ClaimID = $("#claimId").val();
        //var SPRank = $('input:radio[name=examinerRank]:checked').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/AutoAssignment/AssignmentStatusUpdate")',
            data: { assignmentid: AutoAssignmentID, claimid: ClaimID, statusid: $('#statusId').val(), statusChangeNote: $('#statusChangeNote').val(), retainSP: retainSP, SPRank: 0, RejectionMark: 'true' },
            success: function (data) {
                $("#divAssignmentManageStatus").modal("hide");
                $('#statusChangeNote').val('');
                if (data == 1) {
                    AssignmentDetailsBasicUpdate();
                }
                else {
                    alert('Error: ' + data);
                }
            },
            async: false
        });
    }

    function validation() {
        debugger;
        var File = $("#uploadFile").val();
        var DocType = $("#Doctype").val();
        var Title = $("#txtTitle").val();

        if (DocType == "0" || DocType == null) {
            $("#lblDoc").show();
            return false;
        }
        if (Title == "" || Title == null) {
            $("#lblTitle").show();
            return false;
        }
        if (File == "" || File == null) {
            $("#lblFile").show();
            return false;
        }
        return true;
    }

    function ClearPopup() {
        ClearData();
    }

    function ClearPopupData() {
        ClearData();
    }

    function ClearData() {
        debugger;
        document.getElementById('uploadFile').value = "";
        document.getElementById('Doctype').value = "0";
        document.getElementById('hdnAssignmentID').value = "";
        document.getElementById('txtTitle').value = null;
    }

    function DocModalPopup(AssignmentID) {
        debugger;
        $("#loadinglist").show();
        $.ajax({
            url: "@Url.Action("multiDocUploader", "AutoAssignment")"
           , type: 'POST'
           , data: { assignmentID: AssignmentID }
       , success: function (result) {
           debugger;
           $("#loadinglist").hide();
           $("#multiDocUploaderPopup").empty().html(result);

           $("#DocUpload").modal('show');
           $("#hdnAssignmentID").val(AssignmentID);
           var ngElement = document.getElementById("DIVmultiFileUpload");
           angular.bootstrap(ngElement, ['CSSMVCApp']);
       }, error: function (jqXHR, exception) {
           $("#loadinglist").hide();
       }

        });

        //validation label
        $("#lblDoc").hide();
        $("#lblTitle").hide();
        $("#lblFile").hide();
    }

    function InvoiceDocumentViewer(assignmentID) {      
        @*$.ajax({
           url: '@Url.Action("InvoiceDocumentViewer", "AutoAssignment")',
           async: false,
           type: "POST",
           data: { assignmentID: assignmentID },

           success: function (data) {
               $("#divInvDocumentViewer").html(data);
               $("#InvDocViewer").modal("show");
           },
           fail: function (data) {

           }
       });*@
        try {

            var url = '@Url.Action("GetFirstInvoiceDocument", "AutoAssignment")' + '?Assignmentid=' + assignmentID;
            $("#ifrmDoc").attr("src", url);
            $("#InvDocViewer").modal("show");
        }
        catch (err) {

        }
    }

    function DocumentViewer(assignmentID) {
        @*var url = '@Url.Content("~/AutoAssignment/DocumentViewer/")' + claimID;*@
        $.ajax({
            url: '@Url.Action("DocumentViewer", "AutoAssignment")',
            async: false,
            type: "POST",
            data: { assignmentID: assignmentID },

            success: function (data) {
                $("#divDocumentViewer").html(data);
                $("#DocViewer").modal("show");
                debugger
                var url = '@Url.Action("GetFirstDocumentFilePath", "AutoAssignment")' + '?Assignmentid=' + assignmentID;
                $("#ifrmDoc1").attr("src", url);
            },
            fail: function (data) {

            }
        });

    }

    function FileOpen(docID) {
     
        @*$.ajax({
            url: '@Url.Action("DocumentAcessFilePath", "AutoAssignment")',
            async: false,
            type: "POST",
            data: { docTypeId: docID },

            success: function (data) {
                // $scope.FilePathURL = data;
                $("#ifrmDoc").attr("src", data);
                //$("#divViewDoc").modal("show");
            },
            fail: function (data) {

            }
        });*@
      
        debugger
        var url = '@Url.Action("DocumentAcessFilePath", "AutoAssignment")' + '?docTypeId=' + docID;
     
        $("#ifrmDoc1").attr("src", url);
       

    }
    @*function FileOpen(docID) {

                            $.ajax({
                                url: '@Url.Action("DocumentAcessFilePath", "AutoAssignment")',
                                async: false,
                                type: "POST",
                                data: { docTypeId: docID },

                                success: function (data) {
                                    // $scope.FilePathURL = data;
                                    $("#ifrmDocViewer").attr("src", data);
                                    $("#divViewDoc").modal("show");
                                },
                                fail: function (data) {

                                }
                            });

                        }*@
    function AddDocument() {

        if (validation() == true) {
            //var formdata = new FormData();
            //if ($("#uploadFile")[0].files.length > 0) {

            //    formdata.append("uploadFile", $("#uploadFile")[0].files[0]);

            //}
            $('.waiting-boxSP').css("display", "block");
            var fileUpload = $("#uploadFile").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var formdata = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                formdata.append("uploadFile", files[i]);
            }

            formdata.append("ClaimDocumentType", $("#Doctype").val());
            formdata.append("hdnAssignmentID", $("#hdnAssignmentID").val());
            formdata.append("txtTitle", $("#txtTitle").val());

            debugger;
            //e.preventDefault();
            $.ajax({
                url: '@Url.Action("UploadClaimDocument1","AutoAssignment")',
                async: false,
                type: "POST",
                data: formdata,
                processData: false,
                contentType: false,
                success: function (data) {
                    $('.waiting-boxSP').css("display", "none");
                    if (data == "Document saved successfully") {
                        ClearData();
                        alert("Document saved successfully");
                    }
                    else {
                        alert("Document not saved");
                    }
                },
                fail: function (data) {
                    $('.waiting-boxSP').css("display", "none");
                    console.log(data);
                    alert("Something went wrong");
                }
            });
        }
    }

</script>

