﻿@model BLL.ViewModels.AutoAssignmentViewModel

@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
@*<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>*@

@*<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet">*@

@*<script type="text/javascript">

        $(function () {
            debugger;
            $(".DatePickerTextBox").datepicker({
                showOn: "button",
                buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+20"

            });
        });

    </script>*@

@*<script type="text/javascript">
        $(function () {
            $('#ddlInsuranceCompany').change(function () {
                debugger;
                populateClientPOCDLL('0');
                GetLineOfBussinessList();
            });

        });

        function GetLineOfBussinessList() {
            var selectedCategoryId = $('#ddlInsuranceCompany').val();
            alert(selectedCategoryId);
            $("#imgLOBListLoading").show();
            $('#ddlLOB').empty();
            $('#ddlLOB').append($('<option/>').attr('value', "0").text("--Select--"));
            $.getJSON('@Url.Action("GetLOBList")',
                       { companyId: selectedCategoryId },
                       function (subcategories) {
                           var subsSelect = $('#ddlLOB');
                           $('#ddlLOB').empty();
                           $.each(subcategories, function (index, subcat) {
                               subsSelect.append(
                                   $('<option/>')
                                       .attr('value', subcat.Value)
                                       .text(subcat.Text)
                               );
                           });
                           $("#imgLOBListLoading").hide();
                       });
        }

        function populateClientPOCDLL(SelectClientPOCFromList) {
            var selectedCategoryId = $('#ddlInsuranceCompany').val();
            alert(selectedCategoryId);
            $("#imgClientPOCListLoading").show();
            //$('#ddlLOB').empty();
            //$('#ddlLOB').append($('<option/>').attr('value', "0").text("--Select--"));
            $.getJSON('@Url.Action("GetInternalContactList")',
                    { companyId: selectedCategoryId },
                    function (subcategories) {
                        var subsSelect = $('#ddlClientPointOfContact');
                        subsSelect.empty();
                        $.each(subcategories, function (index, subcat) {
                            subsSelect.append(
                                $('<option/>')
                                    .attr('value', subcat.Value)
                                    .text(subcat.Text)
                            );
                        });

                        try {
                            $('#ddlClientPointOfContact').val(SelectClientPOCFromList);
                        }
                        catch (e) {

                        }
                        $("#imgClientPOCListLoading").hide();
                    });
        }
    </script>*@

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-blue-hoki"></i>
            @if (Model.autoassignment.ServiceId == 9 || Model.autoassignment.ServiceId == 11|| Model.autoassignment.ServiceId == 12)
            {
                <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Property Claim Information</span>
            }
            else
            {
                <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Auto Claim Information</span>
            }

        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        @*<form action="#" class="form-horizontal">*@
        <div class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Insurance Company</label>
                            <div class="col-md-8">
                                @{
                                    string companyName = "";
                                    //BLL.User LoggedInUser = css.Users.Find(loggedInUser.UserId);
                                    //if (LoggedInUser.UserId == )
                                    //{

                                    //}
                                    @*if (loggedInUser.UserTypeId != 2)
                                    {
                                        BLL.Company company = null;
                                        if (Model.claim != null)
                                        {
                                            if (Model.claim.HeadCompanyId.HasValue)
                                            {
                                                company = css.Companies.Find(Model.claim.HeadCompanyId);
                                                if (company != null)
                                                {
                                                    companyName = company.CompanyName;
                                                }
                                            }
                                        }
                                        @Html.HiddenFor(model => model.claim.HeadCompanyId)
                                        @Html.TextBox("txtInsuranceCompany", @companyName, new { @readonly = true, @class = "form-control" })
                                    }
                                    else
                                    {*@
                                        @Html.DropDownListFor(model => model.claim.HeadCompanyId, Model.InsuranceCompaniesList, new { @id = "ddlInsuranceCompany", @class = "form-control", @onchange = "GetClaimRepresentative(this.value);" })
                                    @*}*@
                                }
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            @{
    //BLL.User LoggedInUser = css.Users.Find(loggedInUser.UserId);
    //if (LoggedInUser.UserTypeId == 3)
    //{
    <label class="control-label col-md-4">Claim Representative</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.autoassignment.RepresentativeID, Model.ClaimRepresentativeList, new { @id = "ddlClaimRepresentativeList", @class = "form-control" })
                                </div>
                                @*}*@
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Claim Number</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.ClaimNumber, new { @id = "txtClaimNumber", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Type Of Loss</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.claim.CauseTypeOfLoss, Model.LossTypesList, new { @id = "ddlLossTypesList", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Policy Number</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.PolicyNumber, new { @id = "txtPolicyNumber", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Claim for</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.claim.ReferrerTypeId, Model.ReferrerTypeList, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                @if (Model.autoassignment.ServiceId != 9 || Model.autoassignment.ServiceId != 11|| Model.autoassignment.ServiceId != 12)
                {
                    <div class="row">
                        <div ng-class="CntrlMD">
                            <div class="form-group">
                                <label class="control-label col-md-4">Deductible Amount</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.claim.TotalDeductible, new { @id = "txtTotalDeductible", @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        @*<div ng-class="CntrlMD">
                            <div class="form-group">
                                <label class="control-label col-md-4">Type of Claim</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.claim.ClaimTypeId, Model.ClaimTypeList, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>*@
                        <div ng-class="CntrlMD">
                            <div class="form-group">
                                <label class="control-label col-md-4">Apply Deductible</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.claimReferrer.ReferrerDeductibleStatus, Model.ApplyDeductibleList, new { @id = "ddlApplyDeductible", @class = "form-control" })
                                </div>
                            </div>
                        </div>

                    </div>
                }
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Insured Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.InsuredFirstName, new { @id = "txtInsuredName", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            @*<label class="control-label col-md-4">Date of Loss</label>
                                    <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.claim.DateofLoss, new { @class = "form-control", @value = (Model == null || Model.claim.DateofLoss == null ? string.Empty : Convert.ToDateTime(Model.claim.DateofLoss).ToString("MM/dd/yyyy")) })
                                </div>*@
                            <label class="control-label col-md-4">Date of Loss</label>
                            <div class="col-md-8">
                                <div class="input-group input-medium date date-picker" data-date-format="mm-dd-yyyy" data-date-viewmode="years">
                                    @*<input type="text" class="form-control" readonly>*@
                                    @*@Html.TextBoxFor(model => model.claim.DateofLoss, new { @id = "txtDateofLoss", @class = "form-control" })*@
                                    <input type="text" id="txtDateofLoss" name="claim.DateofLoss" value="@Model.claim.DateofLoss" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Special Instructions</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.autoassignment.AutoAssignmentDescription, new { @id = "txtAutoAssignmentDescription", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Service Type</label>
                            <div class="col-md-8">
                                @if (Model.IsEditOrSearchAssign==true)
                                {
                                    @Html.DropDownListFor(model => model.autoassignment.ServiceId, Model.ServiceOfferingsList, new { @id = "ddlServiceType", @class = "form-control", disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.autoassignment.ServiceId, Model.ServiceOfferingsList, new { @id = "ddlServiceType", @class = "form-control" })
                               }

                            </div>
                        </div>
                    </div>
                    @*<div ng-class="CntrlMD">
                            <div class="form-group">
                                <label class="control-label col-md-4">Line Of Business</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.claim.LOBId, Model.LineOfBusinessList, new { @id = "ddlLOB", @class = "form-control" })<img id="imgLOBListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
                                </div>
                            </div>
                        </div>*@
                    <!--/span-->
                    <!--/span-->
                    @*<div ng-class="CntrlMD">
                            <div class="form-group">
                                <label class="control-label col-md-4">QA Agent</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.autoassignment.CSSQAAgentUserId, Model.CSSQAAgentList, new { @id = "ddlQAAgent", @class = "form-control" })
                                </div>
                            </div>
                        </div>*@
                    <!--/span-->
                </div>
                <div class="row">
                    @*<div ng-class="CntrlMD">
                            <div class="form-group">
                                <label class="control-label col-md-4">Client Contact</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.claim.ClientPointOfContactUserId, Model.ClientPointofContactList, new { @id = "ddlClientPointOfContact", @class = "form-control" })
                                </div>
                            </div>
                        </div>*@
                    <!--/span-->
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">CAT Code</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.Code, new { @id = "txtCatCode", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            @{
                                @*if (Model.autoassignment.AutoAssignmentId != 0)
                                    {
                                        <label class="control-label col-md-4">Internal Contact</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.autoassignment.CSSPointofContactUserId, Model.InternalContactList, new { @id = "ddlCSSPOC", @class = "form-control" })
                                        </div>
                                    }*@
                                if (Model.autoassignment.OAUserID != null)
                                {
                                    <label class="control-label col-md-4">Internal Contact</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.autoassignment.CSSPointofContactUserId, Model.InternalContactList, new { @id = "ddlCSSPOC", @class = "form-control" })
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <!--/span-->
                </div>
                @*@if (Model.autoassignment.ServiceId != 9)
                {
                    <div class="row">
                        <div ng-class="CntrlMD">
                            <div class="form-group">
                                <label class="control-label col-md-4">Apply Deductible</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.claimReferrer.ReferrerDeductibleStatus, Model.ApplyDeductibleList, new { @id = "ddlApplyDeductible", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div ng-class="CntrlMD">
                                <div class="form-group">
                                    <label class="control-label col-md-4">RCV($)</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.claim.RCV, new { @id = "txtRCV", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        <div ng-class="CntrlMD">
                                <div class="form-group">
                                    <label class="control-label col-md-4">File Status</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.autoassignment.FileStatus, Model.FileStatusList, new { @id = "ddlFileStatus", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                    </div>
                }*@
            </div>
        </div>
        @*</form>*@
        <!-- END FORM-->
        <!-- END FORM-->
    </div>
</div>

@*<table width="100%">
        <tr>
            <td colspan="4" class="subHeading">Auto Claim Information</td>
        </tr>
        <tr>
            <td width="20%">
                Insurance Company
            </td>
            <td width="25%">
                @{
                    string companyName = "";
                    if (loggedInUser.UserTypeId != 2)
                    {
                        BLL.Company company = null;
                        if (Model.claim != null)
                        {
                            if (Model.claim.HeadCompanyId.HasValue)
                            {
                                company = css.Companies.Find(Model.claim.HeadCompanyId);
                                if (company != null)
                                {
                                    companyName = company.CompanyName;
                                }
                            }
                        }
                        @Html.HiddenFor(model => model.claim.HeadCompanyId)
                        @Html.TextBox("txtInsuranceCompany", @companyName, new { @readonly = true })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.claim.HeadCompanyId, Model.InsuranceCompaniesList, new { @id = "ddlInsuranceCompany", @style = "width: 190px;" })
                    }
                }
            </td>
            <td width="20%">
                *Type of Loss
            </td>
            <td width="25%">
                @Html.DropDownListFor(model => model.claim.CauseTypeOfLoss, Model.LossTypesList, new { style = "width: 190px;" })
            </td>
        </tr>
        <tr>
            <td>
                *Claim Number
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.ClaimNumber, new { @id = "txtClaimNumber" })
            </td>
            <td width="20%">
                *Claim For
            </td>
            <td width="25%">
                @Html.DropDownListFor(model => model.claim.ReferrerTypeId, Model.ReferrerTypeList, new { style = "width: 190px;" })
            </td>
        </tr>
        <tr>
            <td>
                *Policy Number
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.PolicyNumber, new {@id = "txtPolicyNumber" })
            </td>
            <td width="20%">
                *Type of Claim
            </td>
            <td width="25%">
                @Html.DropDownListFor(model => model.claim.ClaimTypeId, Model.ClaimTypeList, new { style = "width: 190px;" })
            </td>
        </tr>
        <tr>
            <td>
                Deductible Amount
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.TotalDeductible, new {@id = "txtTotalDeductible" })
            </td>
            <td width="20%">
                *Date of Loss
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.DateofLoss, new { @class = "DatePickerTextBox", @value = (Model == null || Model.claim.DateofLoss == null ? string.Empty : Convert.ToDateTime(Model.claim.DateofLoss).ToString("MM/dd/yyyy")) })
            </td>
        </tr>
        <tr>
            <td>
                *Insured Name
            </td>
            <td colspan="1">
                @Html.TextBoxFor(model => model.claim.InsuredFirstName)
                @Html.HiddenFor(model => model.claim.InsuredLastName)
                @Html.HiddenFor(model => model.claim.InsuredAddress1)
                @Html.HiddenFor(model => model.claim.InsuredCity)
                @Html.HiddenFor(model => model.claim.InsuredState)
                @Html.HiddenFor(model => model.claim.InsuredZip)
                @Html.HiddenFor(model => model.claim.SeverityLevel)
            </td>
        </tr>
    </table>*@