﻿@model BLL.ViewModels.AutoInvoiceSummaryListViewModel
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
<div class="table-scrollable">
    @if (Model.AutoInvoiceSummaryList.Count() > 0)
    {
        <table width="100%" cellspacing="0" cellpadding="4" class="table table-hover">
            @*@if (Model.DisplayHeader)
                {
                    <tr>
                        <td colspan="4">Claim Number: @Model.ClaimNumber</td>
                    </tr>
                }*@
            <thead style="background-color: #406E98 !important;color: white;">
                @*<tr class="tableHeader">*@
                <tr>

                    <td>Invoice No.</td>
                    <td>Invoice Date</td>
                    <td align="right">Invoice Total ($)</td>
                    <td width="100"></td>

                </tr>
            </thead>
            <tbody>

                @{
        int recordIndex = 0;
        foreach (var record in Model.AutoInvoiceSummaryList)
        {
            //System.Data.Objects.ObjectParameter outIsInvoiceEditable = new System.Data.Objects.ObjectParameter("IsInvoiceEditable", System.Data.DbType.Boolean);
            //css.usp_IsInvoiceEditable(outIsInvoiceEditable, record.InvoiceId);
            //Replace the following lines with the SP above
            //bool isInvoiceEditable = false;
            //if (css.SPPayrollAndAdjustments.Where(x => x.InvoiceId == record.InvoiceId).ToList().Count == 1)
            //{
            //    if (css.SPPayrollAndAdjustments.Where(x => x.InvoiceId == record.InvoiceId).First().PaymentDate.HasValue)
            //    {
            //        isInvoiceEditable = true;
            //    }
            //}

            @*<tr class="@(recordIndex % 2 == 0 ? "tableRow" : "tableRowAlternate")">*@
                    <tr>
                        <td>@record.AutoInvoiceNo</td>
                        <td>@(record.AutoInvoiceDate.HasValue ? record.AutoInvoiceDate.Value.ToString("MM/dd/yyyy hh:mm tt") : "")</td>
                        <td align="right">@(record.GrandTotal.HasValue ? String.Format("{0:0.00}", record.GrandTotal.Value) : "")</td>
                        <td align="right">
                            @{
            bool isEditable = false;
            if (Model.IsEditable)
            {
                System.Data.Objects.ObjectParameter outIsInvoiceEditable = new System.Data.Objects.ObjectParameter("IsInvoiceEditable", System.Data.DbType.Boolean);
                css.usp_IsPropertyInvoiceEditable(outIsInvoiceEditable, record.AutoInvoiceId);
                isEditable = Convert.ToBoolean(outIsInvoiceEditable.Value);

            }
                            }
                            <a href="javascript:;" style="border: none; color: black; cursor: pointer;" onclick="loadPropertyInvoicePopup('@record.AutoAssignmentId','@(isEditable? "Edit":"Read")','@record.AutoInvoiceId')">
                                <img src="@Url.Content("~/Content/Images/dollar_Sign.png")" title="Auto Invoice Document" width="15" height="15" style="border: none; vertical-align: bottom;" />
                            </a>
                        </td>
                    </tr>
            recordIndex++;
        }
                }
            </tbody>
        </table>
    }
    else
    {
        <table width="100%" cellspacing="0" cellpadding="4" class="table table-hover">
            <tr>
                <td>
                    No Records Found
                </td>
            </tr>
            </table>
            }




</div>


