﻿@model BLL.ViewModels.XactAutoAssignmentSearchViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();

}

@{
    ViewBag.Title = "_AutoAssignmentSearchFilter";
}
<style>
    .fontsizefortbl {
        font-size: 13px !important;
    }

        .fontsizefortbl input, select {
            height: 28px !important;
            padding: 0px !important;
        }

    .form-group {
        margin-bottom: 12px !important;
    }

    .input-medium {
        width: 100% !important;
    }


    .portlet.box > .portlet-title > .tools > a.expand {
         background-image: url(../img/portlet-expand-icon-white.png); 
    }
    .portlet.box > .portlet-title > .tools > a.collapse {
         background-image: url(../img/portlet-collapse-icon-white.png); 
    }

</style>

<script type="text/javascript">


    function keypressHandler(e) {
        if (e.which == 13) {
            e.preventDefault(); //stops default action: submitting form
            //alert('You pressed enter!');
            $('#SubmitButton').val = null; //give your submit an ID
            $("#formAutoSearch").submit();
        }

    }
    $('#formAutoSearch').keypress(keypressHandler);
</script>

    @{string divSearch = "";

  divSearch = "style=display:none;";
string Expand = "expand";
}

<div class="portlet box blue fontsizefortbl" id="frmAutosearchfilter" style="margin-bottom: 0px;">
    <div class="portlet-title col-md-12" style="background-color:#406E98 !important">
        <div class="caption col-md-10">
            <div class="form-group">
                <div class="col-md-2">
                    <span class="caption-subject font-white-hoki bold uppercase" style="font-size:16px; ">Quick Search</span>
                </div>
                <div class="col-md-9" style="font-size:13px;">
                    <div class="col-md-6 ">
                        <label class="col-md-5 control-label" style="margin-left: -15px;">Claim Name:</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.InsureName, new { id = "txtInsuredname", @class = "form-control", @style = "margin-left: -20px;" })
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-md-5 control-label" style="margin-left: -15px;">Claim Number:</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.AutoClaimNumber, new { id = "txtClaimnumber", @class = "form-control", @style = "margin-left: -20px;" })
                        </div>
                    </div>
                </div>
                <div class="col-md-1 " style=" margin-left: -40px;">
                    <button type="button" class="btn green-meadow" onclick="GetSearchList();">Search</button>
                </div>
            </div>
        </div>
        <div class="col-md-2 tools">
            <a style="text-decoration:underline; font-size:11px; color:white;white-space:nowrap;" href="javascript:;" class="@Expand">Advanced</a>
        </div>
    </div>
    <div class="portlet-body" @divSearch>
        <div class="form-horizontal" role="form">
            @Html.Partial("_AutoClaimFilter", Model)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @*<button type="submit" class="btn blue">Search</button>*@
                    <button type="button" class="btn blue" onclick="GetSearchList();">Search</button>

                </div>
            </div>
        </div>
     </div>
</div>

@*<table width="100%">
    <tr>
        <td width="33%" align="left" valign="top">
            <table width="100%">
                <tr>
                    <td nowrap="nowrap" align="right">
                        Claim Number:
                    </td>
                    <td valign="top" width="100%">
                        <span style="display: flex;">
                            @Html.TextBoxFor(model => model.AutoClaimNumber, new { id = "txtClaimnumber" })
                        </span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        Zip Code:
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Zip)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        City:
                    </td>
                    <td valign="top" width="100%">
                        @Html.TextBoxFor(model => model.City)
                    </td>
                </tr>*@
@*<tr>
        <td align="right">Distance in Miles</td>
        <td>@Html.TextBoxFor(model => model.Distance)</td>
    </tr>*@
@*<tr>
                        <td align="right">
                            State:
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.State, Model.StateList, new { style = "width:150px;" })
                        </td>
                    </tr>
                </table>
            </td>
            <td width="34%" align="left" valign="top">
                <table>
                    <tr>
                        <td nowrap="nowrap" align="right">Policy Number: </td>
                        <td valign="top" width="100%">
                            @Html.TextBoxFor(model => model.AutoPolicyNumber)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" nowrap="nowrap">
                            Date Received From:
                        </td>
                        <td>

                            @Html.TextBoxFor(model => model.DateReceivedFrom, "{0:MM/dd/yyyy}", new { @id = "txtfrom", style = "width:100px;", @class = "DatePickerTextBox", @onchange = "DateCompare();" })
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            To:
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.DateReceivedTo, "{0:MM/dd/yyyy}", new { @id = "txtTo", style = "width:100px;", @class = "DatePickerTextBox", @onchange = "DateCompare();"})
                        </td>
                    </tr>
                </table>
            </td>
            <td width="33%" align="left" valign="top">
                <table>
                    <tr>
                        <td align="right">
                            Insurance Company:
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.InsuranceCompany, Model.InsuranceCompanies, new { style = "width:150px;", @id = "ddlInsuranceCompany" })
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            Claim Type:
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.ClaimType, Model.ClaimTypeList, new { style = "width:150px;" })
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>*@
