﻿@model BLL.ViewModels.XACTAutoClaimsInfoViewModel

<style type="text/css">
    .holds-the-iframe {
        background: url(/Content/Images/waiting1.gif) center center no-repeat;
    }

    .waiting-box {
        display: block;
        position: absolute; /* fixed position so it doesn't scroll */
        _position: absolute; /* hack for internet explorer 6*/
        z-index: 9999; /* on top of everything else */
        left: 50%;
        top: 50%; /* displayed on the top of the page, just like Gmail's yellow info-box */
        background: white;
        border: 1px solid #cecece;
        border-radius: 4px;
    }

    .waitStyle {
        opacity: 0.7;
        cursor: wait;
    }

    iframe body img {
        position: relative;
        left: 50%;
        top: 50%;
    }
.panel-title{
font-size: 14px !important;
}
</style>
<div ng-app="CSSMVCApp" class="ng-cloak" ng-cloak>
    <div loading-indicator class="waiting-box">
        <img src="@Url.Content("~/Content/Images/spinner.gif")" width="150" height="150" />
    </div>
    <div ng-controller="AutoClaimDocsController" ng-init="initializeController()" ng-cloak>
        <input type="hidden" id="AutoClaimId" ng-model="autoClaim.AutoClaimId" value="@Model.claim.ClaimId" />
        <input type="hidden" id="AutoAssignmentId" ng-model="autoClaim.AutoAssignmentId" value="@Model.AutoAssignment.AutoAssignmentId" />
        <div class="page-bar" style="background-color: #67809F;">
            <div class="row" style="padding-top: 2px;padding-bottom: 2px;padding-right: 2px;">
                <div class="col-md-4">
                    <div class="panel-heading" style="background-color: #67809F; color: white;">

                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_1">
                                Recent Uploaded Docs
                                &nbsp;&nbsp; <span class="badge badge-info"> {{DocumentsList.length}} </span>
                            </a>

                        </h4>

                    </div>
                </div>
               <div class="col-md-3" style="padding-top: 3px;">
                    <div class="input-group">
                        <select ng-model="selectedStatus.item" class="form-control" style="height:30px">

                            <option ng-repeat="status in StatusList" value="{{status.Value}}">{{status.Text}}</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn blue btn-sm" type="button" ng-click="filterDocList()">
                                <i class="fa fa-filter"></i> Filter
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-5" style="padding-top: 3px;">
                    <button type="button" class="btn yellow-crusta btn-sm">
                        FTP
                    </button>
                    <div class="btn-group btn-group-solid" style="float:right;">
                        <button type="button" class="btn green btn-sm" ng-click="changeStatus(1)">
                            <i class="fa fa-cogs"></i> Approve
                        </button>
                        <button type="button" class="btn red btn-sm" ng-click="changeStatus(0)">
                            <i class="fa fa-bullhorn"></i> Reject
                        </button>
                        <button type="button" class="btn blue btn-sm" ng-click="initEmailpopup()">
                            <i class="fa socicon-mail"></i> Email
                        </button>
                        <button type="button" class="btn purple btn-sm" data-toggle="modal" ng-if="DocumentTypeId.item!=0" href="#uploadDocsPopup">
                            <i class="fa fa-upload"></i> Upload
                        </button>
                    </div>
                </div>
            </div>
        </div>
          <div class="row" style="margin-top: 10px;padding-top: 0px;margin-top: -6px;margin-right: 1px;" ng-class="{waitStyle:IsSpinnerVisible}">
            <div class="col-md-3">
                <ul class="list-group" style="cursor:pointer">
                    <li class="list-group-item" ng-class="{active:docType.DocumentTypeId==DocumentTypeId.item}" ng-click="documentTypeClick(docType.DocumentTypeId)" ng-repeat="docType in ClaimDocumentTypeList">

                        {{docType.DocumentTypeDesc}}
                        <span class="badge badge-info"> {{docType.DocCount}} </span>
                    </li>

                </ul>
            </div>
            <div class="col-md-9">
             
                <div class="row">
                    <div ng-if="DocumentsList.length<=0&&DocumentsPreviousList.length<=0&&DocumentsRejectedList.length<=0" style="color:red">
                        <div class="alert alert-info">
                            <strong>Info!</strong>  No Document(s) found!
                        </div>
                    </div>
                    <div class="panel-group accordion scrollable" id="accordion2">
                        <div class="panel panel-default" ng-if="DocumentsList.length>0">
                            @*<div class="panel-heading" style="background-color: #67809F; color: white;">

                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_1">
                                        Most Recent Uploaded Document
                                        &nbsp;&nbsp; <span class="badge badge-info"> {{DocumentsList.length}} </span>
                                    </a>
                              
                                </h4>
                               
                            </div>*@
                                    <div id="collapse_2_1" class="panel-collapse in">
                                        <div class="panel-body" style="padding-left: 0px !important;padding-right: 0px !important;padding-top: 0px !important;">
                                            <div class="table-scrollable">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th> # </th>
                                                            <th> Uploaded Date </th>
                                                            <th> Title </th>
                                                            <th> File Name </th>
                                                            <th> Uploaded By </th>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>                                                              
                                                            </th>
                                                            <th>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="doc in DocumentsList">
                                                            <td> <input type="checkbox" ng-model="doc.checked" value="{{doc.AutoDocumentId}}" ng-click='DocChecked()' /> </td>
                                                            <td> {{doc.AutoDocumentUploadedDate | Dateform }} </td>
                                                            <td> {{doc.Title}} </td>
                                                            <td>
                                                                <a ng-href="{{createdoclk(doc.AutoDocumentId)}}"><img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" />{{doc.AutoDocumentPath}}</a>
                                                                @* <a ng-click='FileOpen(doc.AutoDocumentId)'><img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" />{{doc.AutoDocumentPath}}</a>*@
                                                            </td>
                                                            <td> {{doc.DocumentUploadedByUser}} </td>
                                                            <td>
                                                                <span class="label label-sm label-success"> {{doc.StatusDesc}} </span>
                                                            </td>
                                                            <td>
                                                                <a href="javascript:;" class="btn green-meadow btn-circle  btn-xs" ng-click="$event.preventDefault();FileOpen(doc.AutoDocumentId)">
                                                                    View
                                                                </a>
                                                            </td>
                                                            <td >
                                                              
                                                                <a href="javascript:;" class="btn red btn-circle  btn-xs" ng-click="$event.preventDefault();deleteDoc(doc.AutoDocumentId)">
                                                                    <i class="fa fa-trash-o"></i> Delete
                                                                </a>
                                                            </td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        <div class="panel panel-default" ng-if="DocumentsPreviousList.length>0">
                            <div class="panel-heading" style="background-color: #67809F; color: white;">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_2">
                                        Previously Uploaded Documents
                                        &nbsp;&nbsp; <span class="badge badge-info"> {{DocumentsPreviousList.length}} </span>
                                    </a>

                                </h4>
                            </div>
                            <div id="collapse_2_2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <th> Uploaded Date </th>
                                                    <th> Title </th>
                                                    <th> File Name </th>
                                                    <th> Uploaded By </th>
                                                    <th> Status </th>
                                                    <th>  </th>
                                                    <th>  </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="doc in DocumentsPreviousList">
                                                    <td> <input type="checkbox" ng-model="doc.checked" value="{{doc.AutoDocumentId}}" ng-click='DocChecked()' /> </td>
                                                    <td> {{doc.AutoDocumentUploadedDate | Dateform }} </td>
                                                    <td> {{doc.Title}} </td>
                                                    <td>
                                                        <a ng-href="{{createdoclk(doc.AutoDocumentId)}}"><img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" />{{doc.AutoDocumentPath}}</a>
                                                        @*<a ng-click='FileOpen(doc.AutoDocumentId)'><img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" />{{doc.AutoDocumentPath}}</a>*@

                                                    </td>
                                                    <td> {{doc.DocumentUploadedByUser}} </td>
                                                    <td>
                                                        <span class="label label-sm label-success"> {{doc.StatusDesc}} </span>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:;" class="btn green-meadow btn-circle  btn-xs" ng-click="$event.preventDefault();FileOpen(doc.AutoDocumentId)">
                                                            View
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="javascript:;" class="btn red btn-circle  btn-xs" ng-click="$event.preventDefault();deleteDoc(doc.AutoDocumentId)">
                                                            <i class="fa fa-trash-o"></i> Delete
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" ng-if="DocumentsRejectedList.length>0">
                            <div class="panel-heading" style="background-color: #67809F; color: white;">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_3">
                                        Rejected Documents
                                        &nbsp;&nbsp; <span class="badge badge-info"> {{DocumentsRejectedList.length}} </span>
                                    </a>

                                </h4>
                            </div>
                            <div id="collapse_2_3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <th> Uploaded Date </th>
                                                    <th> Title </th>
                                                    <th> File Name </th>
                                                    <th> Uploaded By </th>
                                                    <th> Status </th>
                                                    <th>  </th>
                                                    <th>  </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="doc in DocumentsRejectedList">
                                                    <td> <input type="checkbox" ng-model="doc.checked" value="{{doc.AutoDocumentId}}" ng-click='DocChecked()' /> </td>
                                                    <td> {{doc.AutoDocumentUploadedDate | Dateform }} </td>
                                                    <td> {{doc.Title}} </td>
                                                    <td>
                                                        <a ng-href="{{createdoclk(doc.AutoDocumentId)}}"><img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" />{{doc.AutoDocumentPath}}</a>
                                                        @* <a ng-click='FileOpen(doc.AutoDocumentId)'><img src="@Url.Content("~/Content/Images/Download.png")" title="Download" width="12" height="12" style="border:none;vertical-align:bottom;" />{{doc.AutoDocumentPath}}</a>*@
                                                    </td>
                                                    <td> {{doc.DocumentUploadedByUser}} </td>
                                                    <td>
                                                        <span class="label label-sm label-danger"> {{doc.StatusDesc}} </span>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:;" class="btn green-meadow btn-circle  btn-xs" ng-click="$event.preventDefault();FileOpen(doc.AutoDocumentId)">
                                                            View
                                                        </a>
                                                    </td>
                                                    <td>

                                                        <a href="javascript:;" class="btn red btn-circle  btn-xs" ng-click="$event.preventDefault();deleteDoc(doc.AutoDocumentId)">
                                                            <i class="fa fa-trash-o"></i> Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <style type="text/css">
            .modalHead {
                background-color: #67809F;
                color: white;
                font-weight: bold;
            }

            .ng-invalid {
                /*color: Maroon;*/
                /*font-weight: bold;
            background-color: #ffeeee;*/
                border-bottom-color: red;
                border-top-color: red;
                border-left-color: red;
                border-right-color: red;
            }
        </style>


        @*Doc Upload Popup*@
        <div id="uploadDocsPopup" class="modal fade in" tabindex="-1" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="uploadDocsForm" ng-submit="saveDocument()">
                        <div class="modal-header modalHead">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Document Upload</h4>
                        </div>
                        <div class="modal-body">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;">
                                <div class="scroller" style="overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Title</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="DocTitle" class="form-control" placeholder="Enter text" ng-required="true">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Document</label>
                                            <div class="col-md-9">
                                                <input type="file" file-model="imagefile" id="exampleInputFile" ng-required="true">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Add Document</button>
                            <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        @*Doc Email Popup*@
        <div id="emailDocsPopup" class="modal fade in" tabindex="-1" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="emailDoc" ng-submit="sendDocEmail()">
                        <div class="modal-header modalHead">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Email Documents</h4>
                        </div>
                        <div class="modal-body">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;">
                                <div class="scroller" style="overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-md-3"> To:</label>
                                            <div class="col-md-9">

                                                <textarea id="toEmails" ng-model="docEmail.ToAdd" class="form-control" style="width: 98% !important;" rows="2" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3"> Set Replay To :</label>
                                            <div class="col-md-9">

                                                <input type="checkbox" ng-model="docEmail.IsReplayTo"> {{docEmail.ReplayTo}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3"> Subject:</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="docEmail.Subject" class="form-control" placeholder="Enter text" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3"> Body:</label>
                                            <div class="col-md-9">

                                                <textarea id="body" ng-model="docEmail.Body" style="width: 98% !important;" class="form-control" rows="5" name="body">  </textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3"> Merge :</label>
                                            <div class="col-md-9">

                                                <input type="checkbox" ng-model="docEmail.Ismergedoc" name="mergedoc" value="0" id="mergedoc">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3"> Documents:</label>
                                            <div class="col-md-9">

                                                <div id="Documentlist" style="margin-left:0px;width:500px;overflow-y:scroll">


                                                    <ul id="sortablebasic" style="text-align:left" class="ui-sortable">

                                                        <li class="ui-state-default sortable ui-sortable-handle" ng-repeat="doc in DocumentsListMail" id="{{doc.DocumentId}}">{{doc.Title}}  </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Send Email</button>
                            <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        @*View Doc Popup*@
        <div id="divViewDoc" class="modal fade" tabindex="-1" aria-hidden="true" style="display:none;">
            <div class="modal-dialog" style="width:800px">
                <div class="modal-content">
                    @*src="{{FilePathURL}}"*@
                    @*<iframe ng-src="{{FilePathURL}}" id="ifrmDocView" width="500px" height="900px" marginwidth="1" marginheight="1" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>*@
                    <iframe ng-src="{{FilePathURL}}" id="ifrmDocView" style="width:100%; height:750px;" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>

    </div>
</div>
