﻿@model BLL.ViewModels.XACTAutoClaimsInfoViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}

@*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>*@
<style type="text/css">
    #bgSPPayPercentagePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .SPPayPercentagePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        /*width: 600px;*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
</style>
@*<script type="text/javascript">
    $('#txtSPPayPercent,#txtHoldBackPercent').keypress(function (event) {
        if (event.which != 46 && (event.which < 47 || event.which > 59)) {
            event.preventDefault();
            if ((event.which == 46) && ($(this).indexOf('.') != -1)) {
                event.preventDefault();
            }
        }

    });
    function btnInvoiceTabInvoiceSave_Click() {
        $('#btnInvoiceTabInvoiceSave').attr('disabled', 'disabled');
        UnformatField('financial');
    }
    function showTab(id) {
        $('#tabReserves').css("display", "none");
        $('#tdTextReserves').css("backgroundColor", "LightGray");
        $('#tdTextReserves').css('border-bottom', 'solid');
        $('#tdTextReserves').css('border-width', '1px');
         @if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)1)))
    {
        @:$('#tabPayments').css("display", "none");
        @:$('#tdTextPayments').css("backgroundColor", "LightGray");
        @:$('#tdTextPayments').css('border-bottom', 'solid');
        @:$('#tdTextPayments').css('border-width', '1px');

        @:$('#tabInvoice').css("display", "none");
        @:$('#tdTextInvoice').css("backgroundColor", "LightGray");
        @:$('#tdTextInvoice').css('border-bottom', 'solid');
        @:$('#tdTextInvoice').css('border-width', '1px');

        @:$('#tabPaymentsdetails').css("display", "none");
        @:$('#tdTextpaymentDetails').css("backgroundColor", "LightGray");
        @:$('#tdTextpaymentDetails').css('border-bottom', 'solid');
        @:$('#tdTextpaymentDetails').css('border-width', '1px');

        @:$('#tabPayroll').css("display", "none");
        @:$('#tdPayroll').css("backgroundColor", "LightGray");
        @:$('#tdPayroll').css('border-bottom', 'solid');
        @:$('#tdPayroll').css('border-width', '1px');
    }
    if (id == 1) {
        $('#tabReserves').css("display", "block");
        $('#tdTextReserves').css("backgroundColor", "White");
        $('#tdTextReserves').css('border-bottom', 'None');
    }
    else if (id == 2) {
        $('#tabPayments').css("display", "block");
        $('#tdTextPayments').css("backgroundColor", "White");
        $('#tdTextPayments').css('border-bottom', 'None');
    }
    else if (id == 3) {
        $('#tabInvoice').css("display", "block");
        $('#tdTextInvoice').css("backgroundColor", "White");
        $('#tdTextInvoice').css('border-bottom', 'None');
    }
    else if (id == 4) {
        $('#tabPaymentsdetails').css("display", "block");
        $('#tdTextpaymentDetails').css("backgroundColor", "White");
        $('#tdTextpaymentDetails').css('border-bottom', 'None');

    }
   
    window.scrollTo(0, 0);

    }
    function getFinancialPayment(claimid) {
        $.ajax({
            url: '@Url.Action("GetFinacialpaymentList", "PropertyAssignment")',
            contentType: 'application/json; charset=utf-8',
            data: { claimID: claimid },
            cache: false,
            success: function (result) {
                $('#tabPayments').empty().append(result);
            },
            error: function (error) {
            }
        });
        showTab('2');
        showView('7');
    }
    function getPaymentDetails(claimId, assignmentid, invoiceId) {
        $.ajax({
            url: '@Url.Action("GetPaymentDetails", "PropertyAssignmentInvoice")',
            contentType: 'application/json; charset=utf-8',
            data: { claimId: claimId, assignmentid: assignmentid, invoiceId: invoiceId },
            cache: false,
            success: function (result) {
                $('#tabPaymentsdetails').empty().append(result);
            },
            error: function (error) {
            }
        });
        showTab('4');
        showView('7');
    }
    function btnSPPayPercentSave_Click() {
        $('#imgSPPayPercentProcessing').show();
        $.ajaxSetup({ cache: false });
        $.getJSON(
            '@Url.Action("SetupSPPayPercentage", "PropertyAssignment")',
                { assignmentId: '@Model.PropertyAssignment.AssignmentId', spPayPercentage: $('#txtSPPayPercent').val(), holdbackPercentage: $('#txtHoldBackPercent').val() },
                function (result) {
                    if (result == '1') {
                        $('#imgSPPayPercentProcessing').hide();
                        disableSpPayPercentagePopup();
                        showTab('1');//default view
                    }
                }
            );
    }
    
    function disableSpPayPercentagePopup() {

        $('#bgSPPayPercentagePopup').fadeOut("slow");
        $('#divSPPayPercentagePopup').fadeOut("slow");
    }
    function centerSPPayPercentagePopup() {
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divSPPayPercentagePopup").height();
        var popupWidth = $("#divSPPayPercentagePopup").width();
        //centering
        $("#divSPPayPercentagePopup").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#bgSPPayPercentagePopup").css({
            "height": windowHeight
        });
        return false;
    }
    function loadPropertyInvoiceList(url) {
        $('#divinvoicemessage').empty();
        $("#divFinanceSubTabLoading").show();

        $.ajaxSetup({ cache: false });
        $.getJSON(
            url,
            function (result) {

                $('#divPropertyInvoice').empty().append("<br/>" + result);
                $('#tdPropertyInvoicefooter').css('display', 'none');
                $('#trBackToInvoiceList').css('display', 'none');

                $("#divFinanceSubTabLoading").hide();
            }
        );
        showTab('3');
        showView('7');
    }
    function loadPropertyInvoicePopup(assignmentid, mode, invoiceId) {
        $('#divinvoicemessage').empty();
        getPropertyInvoice(assignmentid, mode, invoiceId);
    }
    function getPropertyInvoice(assignmentid, mode, invoiceId) {
        $('#divinvoicemessage').empty();
        $("#divFinanceSubTabLoading").show();
        $.ajax({
            url: '@Url.Content("~/PropertyAssignmentInvoice/Details")',
            contentType: 'application/json; charset=utf-8',
            data: { assignmentid: assignmentid, fileOpenMode: mode, invoiceId: invoiceId },
            cache: false,
            success: function (result) {
                $('#divPropertyInvoice').empty().append(result);
                if (mode == 'Read') {
                    $('#tdPropertyInvoicefooter').css('display', 'none');
                }
                else {
                    $('#tdPropertyInvoicefooter').css('display', 'table-cell');
                }
                $('#trBackToInvoiceList').css('display', 'table-row');
                $("#divFinanceSubTabLoading").hide();
            },
            error: function (error) {
            }
        });
        $('#divinvoicemessage').css('display', 'none');
        $('#divinvoicemessage').empty();
        showTab('3');
        showView('7');

    }

    function InvoiceSuccess() {
        $('#divinvoicemessage').css('display', 'block');
        $('#divinvoicemessage').empty().append('Invoice updated Successfully!');
    }
</script>*@
<script>

    function getPaymentDetails(claimId, assignmentid, invoiceId) {
        $.ajax({
            url: '@Url.Action("GetPaymentDetails", "AutoAssignmentInvoice")',
            contentType: 'application/json; charset=utf-8',
            data: { claimId: claimId, assignmentid: assignmentid, invoiceId: invoiceId },
            cache: false,
            success: function (result) {
                $('#tabPaymentsdetails').empty().append(result);
            },
            error: function (error) {
            }
        });
        //showTab('4');
        //showView('7');
    }
    function loadAutoInvoicePopup(assignmentid, mode, invoiceId) {
        $('#divinvoicemessage').empty();
        getAutoInvoice(assignmentid, mode, invoiceId);
    }
    function getAutoInvoice(assignmentid, mode, invoiceId) {
        $('#divinvoicemessage').empty();
        $("#divFinanceSubTabLoading").show();
        $.ajax({
            url: '@Url.Content("~/PropertyAssignmentInvoice/Details")',
            contentType: 'application/json; charset=utf-8',
            data: { assignmentid: assignmentid, fileOpenMode: mode, invoiceId: invoiceId },
            cache: false,
            success: function (result) {
                $('#divPropertyInvoice').empty().append(result);
                if (mode == 'Read') {
                    $('#tdPropertyInvoicefooter').css('display', 'none');
                }
                else {
                    $('#tdPropertyInvoicefooter').css('display', 'table-cell');
                }
                $('#trBackToInvoiceList').css('display', 'table-row');
                $("#divFinanceSubTabLoading").hide();
            },
            error: function (error) {
            }
        });
        $('#divinvoicemessage').css('display', 'none');
        $('#divinvoicemessage').empty();


    }

    function btnSPPayPercentSave_Click() {
        $('#imgSPPayPercentProcessing').show();
        $.ajaxSetup({ cache: false });
        $.getJSON(
            '@Url.Action("SetupAutoSPPayPercentage", "AutoAssignment")',
                { autoassignmentId: '@Model.AutoAssignment.AutoAssignmentId', spPayPercentage: $('#txtSPPayPercent').val(), holdbackPercentage: $('#txtHoldBackPercent').val() },
                function (result) {
                    if (result == '1') {
                        $('#imgSPPayPercentProcessing').hide();

                        $('#divSPPayPercentagePopup').modal("hide");
                    }
                }
            );
    }

    function getPropertyInvoice(assignmentid, mode, invoiceId) {
        $('#divinvoicemessage').empty();
        $("#divFinanceSubTabLoading").show();
        $.ajax({
            url: '@Url.Content("~/AutoAssignmentInvoice/Details")',
            contentType: 'application/json; charset=utf-8',
            data: { assignmentid: assignmentid, fileOpenMode: mode, invoiceId: invoiceId },
            cache: false,
            success: function (result) {
                $('#divPropertyInvoice').empty().append(result);
                if (mode == 'Read') {
                    $('#tdPropertyInvoicefooter').css('display', 'none');
                }
                else {
                    $('#tdPropertyInvoicefooter').css('display', 'table-cell');
                }
                $('#trBackToInvoiceList').css('display', 'table-row');
                $("#divFinanceSubTabLoading").hide();
            },
            error: function (error) {
            }
        });
        $('#divinvoicemessage').css('display', 'none');
        $('#divinvoicemessage').empty();


    }
    function loadPropertyInvoiceList(url) {
        debugger;
        $('#divinvoicemessage').empty();
        $("#divFinanceSubTabLoading").show();

        $.ajaxSetup({ cache: false });
        $.getJSON(
            url,
            function (result) {
                debugger;
                $('#divPropertyInvoice').empty().append("<br/>" + result);
                $('#tdPropertyInvoicefooter').css('display', 'none');
                $('#trBackToInvoiceList').css('display', 'none');

                $("#divFinanceSubTabLoading").hide();
            }
        );

    }

    function loadPropertyInvoicePopup(assignmentid, mode, invoiceId) {
        $('#divinvoicemessage').empty();
        getPropertyInvoice(assignmentid, mode, invoiceId);
    }
    function btnInvoiceTabInvoiceSave_Click() {
        $('#btnInvoiceTabInvoiceSave').attr('disabled', 'disabled');
        UnformatField('financial');
    }

    function InvoiceSuccess() {
        $('#divinvoicemessage').css('display', 'block');
        $('#divinvoicemessage').empty().append('Invoice updated Successfully!');
    }

    function LoadFinanceTab() {
        @*if ('@Model.AutoInvoiceList.Count' > 0) {
             loadPropertyInvoiceList('@Url.Action("AutoAssignmentInvoiceSummaryList", "AutoAssignmentInvoice", new { claimId = Model.AutoAssignment.ClaimId, assignmentId = Model.AutoAssignment.AutoAssignmentId, isEditable = "true", displayHeader = "false" })')
            debugger;*@

        $('#divinvoicemessage').empty();
        $("#divFinanceSubTabLoading").show();

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: '@Url.Action("AutoAssignmentInvoiceSummaryList", "AutoAssignmentInvoice")',
            data: { claimId: '@Model.AutoAssignment.ClaimId', assignmentId: '@Model.AutoAssignment.AutoAssignmentId', isEditable: "true", displayHeader: "false" },
            success: function (result) {
                debugger;
                $('#divPropertyInvoice').empty().append("<br/>" + result);
                $('#tdPropertyInvoicefooter').css('display', 'none');
                $('#trBackToInvoiceList').css('display', 'none');

                $("#divFinanceSubTabLoading").hide();
            }
        });
        // }
    }
</script>

    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <button type="button" class="demo-loading-btn btn red btn-circle" data-toggle="modal" href="#divSPPayPercentagePopup">
                    <i class="fa fa-edit"></i> Adjust SP Pay Percentage
                </button>
               
            </div>
           
        </div>
        <div class="portlet-body">
            <ul class="nav nav-tabs">
              @{
                  
                  Int64 AutoinvoiceId = 0;
                  if (Model.AutoInvoiceList.Count == 0)
                  {
                      AutoinvoiceId = -1;
                  }
                  else
                  {
                      AutoinvoiceId = Model.AutoInvoiceList.OrderByDescending(x => x.AutoInvoiceId).First().AutoInvoiceId;
                  }
                 
              }
                @if (Model.IsNuGenClaim == false) { 
                <li class="active">
                   
                        @{

                      
                        if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)1)))
                        {
                            
                            <input type="hidden" id="hdnTabInvoiceId" value="@AutoinvoiceId" />
                            if (Model.AutoInvoiceList.Count == 1 || Model.AutoInvoiceList.Count > 1 || (Model.AutoInvoiceList.Count < 0 || (css.AutoAssignments.Where(x => x.AutoAssignmentId == Model.AutoAssignment.AutoAssignmentId).First().FileStatus == 7)))
                            {

                                
                                    if (Model.AutoInvoiceList.Count == 1)
                                    {
                                        System.Data.Objects.ObjectParameter outIsInvoiceEditable = new System.Data.Objects.ObjectParameter("IsInvoiceEditable", System.Data.DbType.Boolean);
                                        css.usp_IsPropertyInvoiceEditable(outIsInvoiceEditable, AutoinvoiceId);

                                        <a href="#tab_1_1" data-toggle="tab" aria-expanded="true" onclick="getPropertyInvoice('@Model.AutoAssignment.AutoAssignmentId','@(Convert.ToBoolean(outIsInvoiceEditable.Value) ? "Edit" : "Read")','@AutoinvoiceId')">
                                            <b>Invoice</b>
                                        </a>
                                    }
                                    else if (Model.AutoInvoiceList.Count > 1)
                                    {
                                        <a href="#tab_1_1" data-toggle="tab" aria-expanded="true" onclick="loadPropertyInvoiceList('@Url.Action("AutoAssignmentInvoiceSummaryList", "AutoAssignmentInvoice", new { claimId = Model.AutoAssignment.ClaimId, assignmentId = Model.AutoAssignment.AutoAssignmentId, isEditable = "true", displayHeader = "true" })')">
                                            <b>Invoice</b>
                                        </a>
                                    }
                                    else if (Model.AutoInvoiceList.Count < 0 || (css.AutoAssignments.Where(x => x.AutoAssignmentId == Model.AutoAssignment.AutoAssignmentId).First().FileStatus == 7))
                                    {
                                        <a href="#tab_1_1" data-toggle="tab" aria-expanded="true" onclick="getPropertyInvoice('@Model.AutoAssignment.AutoAssignmentId','Edit','@AutoinvoiceId')">
                                            <b>Invoice</b>
                                        </a>

                                    }
                            }
                        }
}
                          
                </li>
                }
                <li>
                    @if ((loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 8 || loggedInUser.AssignedRights.Contains((byte)1)) && Model.AutoInvoiceList.Count >= 1)
                    {

                        <a href="#tab_1_2" data-toggle="tab" aria-expanded="false" onclick="getPaymentDetails('@Model.AutoAssignment.ClaimId','@Model.AutoAssignment.AutoAssignmentId','@AutoinvoiceId')">Payments</a>

                    }

                </li>
                
            </ul>
            <div class="tab-content">
@if (Model.IsNuGenClaim == false) {
                <div class="tab-pane fade active in" id="tab_1_1">
                    <div id="tabInvoice">


                        @using (Ajax.BeginForm("SubmitPropertyInvoice", "AutoAssignmentInvoice", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "InvoiceSuccess()", LoadingElementId = "imgPISubmitProcessing" }, new { id = "frmInvoicefinancial" }))
                        {
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr id="trBackToInvoiceList" style="display: none;">
                                    <td colspan="2" valign="middle" style="padding-left: 5px; padding-top: 3px;">
                                        @if (Model.AutoInvoiceList.Count > 1)
                                        {
                                            <a href="javascript:;" onclick="loadPropertyInvoiceList('@Url.Action("AutoAssignmentInvoiceSummaryList", "AutoAssignmentInvoice", new { ClaimId = Model.AutoAssignment.ClaimId, AssignmentId = Model.AutoAssignment.AutoAssignmentId, DisplayHeader = "false", IsEditable = "true" })')" style="text-decoration:none;">
                                                <img src="@Url.Content("~/Content/Images/PreviousLevelIcon01.png")" width="16" height="16" />
                                                Back to Invoice List
                                            </a>

                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="hidden" name="returnToPage" value="financial" />
                                        <table style="width: 100%;">

                                            <tr>
                                                <td colspan="2">
                                                    <img id="imgPISubmitProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none; padding-left: 5px;" alt="loading" />
                                                    <div style="display: none; color: red" id="divinvoicemessage"></div>
                                                    <div id="divPropertyInvoice">
                                                    </div>

                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="tdPropertyInvoicefooter" align="right" class="footer">
                                        <table>
                                            <tr>
                                                <td width="100%" align="right"></td>
                                                <td>

                                                    <input type="button" id="btnInvoiceTabInvoiceSave" class="btn btn-primary" value="Save" onclick="btnInvoiceTabInvoiceSave_Click()" />
                                                </td>

                                            </tr>
                                        </table>


                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
}
                <div class="tab-pane fade" id="tab_1_2">
                    <div id="tabPaymentsdetails">
                        </div>
                    </div>
               
            </div>
            <div class="clearfix margin-bottom-20"> </div>
          
        </div>
    </div>


<div id="divSPPayPercentagePopup" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #67809F; color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><b>Setup SP Pay Percentage</b></h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="col-md-12 col-sm-12">
                        <div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">SP Pay Percentage:</label>
                                <div class="col-md-9">
                                    @Html.TextBox("txtSPPayPercent", Model.AutoAssignment.SPPayPercent.HasValue ? Model.AutoAssignment.SPPayPercent.Value + "" : Model.claim.CauseTypeOfLoss.Equals(8) ? "65" : "60", new { @id = "txtSPPayPercent", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Hold Back Percentage:</label>
                                <div class="col-md-9">
                                    @Html.TextBox("txtHoldBackPercent", Model.AutoAssignment.HoldBackPercent.HasValue ? Model.AutoAssignment.HoldBackPercent + "" : "10", new { @id = "txtHoldBackPercent", @class = "form-control" })
                                </div>
                            </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                <button type="button" class="btn green" onclick="btnSPPayPercentSave_Click()">Save</button>
            </div>
        </div>
    </div>

                        

                    </div>


