﻿@model BLL.ViewModels.PropertyAssignmentViewModel
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
<style type="text/css">
    .backgroundPopupNewCatCode {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditPopupNewCatCode {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 250px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }

   
   
</style>
<script type="text/javascript">
    $(function () {

        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+20"

    });
    });
    function GetLineOfBussinessList() {
        var selectedCategoryId = $('#ddlInsuranceCompany').val();
        $("#imgLOBListLoading").show();
        $('#ddlLineOfBussiness').empty();
        $('#ddlLineOfBussiness').append($('<option/>').attr('value', "0").text("--Select--"));
        $.getJSON('@Url.Action("GetLineOfBussinessList")',
                   { companyId: selectedCategoryId },
                   function (subcategories) {
                       var subsSelect = $('#ddlLineOfBussiness');
                       $('#ddlLineOfBussiness').empty();
                       $.each(subcategories, function (index, subcat) {
                           subsSelect.append(
                               $('<option/>')
                                   .attr('value', subcat.Value)
                                   .text(subcat.Text)
                           );
                       });
                       $("#imgLOBListLoading").hide();
                   });
    }

    function populateClientPOCDLL(SelectClientPOCFromList) {
        var selectedCategoryId = $('#ddlInsuranceCompany').val();
        $("#imgClientPOCListLoading").show();
        $('#ddlLineOfBussiness').empty();
        $('#ddlLineOfBussiness').append($('<option/>').attr('value', "0").text("--Select--"));
        $.getJSON('@Url.Action("GetClientPointOfContactList")',
                { companyId: selectedCategoryId },
                function (subcategories) {
                    var subsSelect = $('#ddlClientPointOfContact');
                    subsSelect.empty();
                    $.each(subcategories, function (index, subcat) {
                        subsSelect.append(
                            $('<option/>')
                                .attr('value', subcat.Value)
                                .text(subcat.Text)
                        );
                    });

                    try {
                        $('#ddlClientPointOfContact').val(SelectClientPOCFromList);
                    }
                    catch (e) {

                    }
                    $("#imgClientPOCListLoading").hide();
                });
    }

    $(function () {
        $('#ddlInsuranceCompany').change(function () {
            populateClientPOCDLL('0');
            GetLineOfBussinessList();
        });

    });

    $(function () {
        $('#txtClaimNumber').blur(function () {
            var claimNumber = $(this).val();
            $.getJSON('@Url.Action("checkClaimID")',
            { ClaimNumber: claimNumber },
            function (result) {
                if (result > 0) {
                    alert('Warning: This Claim Number already exists');
                    //$('#txtClaimNumber').val('');
                    return false;
                }
            });
        });
    });


    function loadPopupNewCatCode() {


        var popupStatus = 0;

        if (popupStatus == 0) {
            //disablePopupNewDiaryItem();
            centerPopupNewCatCode();
            $("#backgroundPopupNewCatCode").css({
                "opacity": "0.7"
            });

            $("#backgroundPopupNewCatCode").fadeIn("slow");
            $("#NewCatCode").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }

    function disablePopupNewCatCode() {
        //debugger;
        //disables popup only if it is enabled 
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupNewCatCode").fadeOut("slow");
            $("#NewCatCode").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupNewCatCode() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#NewCatCode").height();
        var popupWidth = $("#NewCatCode").width();
        //centering  
        $("#NewCatCode").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#backgroundPopupNewCatCode").css({
            "height": windowHeight
        });
        return false;
    }

    function createNewClaimContact() {

        var txtCatCode = $('#txtCatCode').val();
        var txtcatCodeDescription = $("#txtcatCodeDescription").val();

        var isValid = true;
        var isValidErrorMsg = '';

        if (txtCatCode.length == 0) {
            isValid = false;
            isValidErrorMsg += "Cat Code is required.<br/>";
        }

        if (txtcatCodeDescription.length == 0) {
            isValid = false;
            isValidErrorMsg += "Description is required.<br/>";
        }

        if (isValid) {
            $("#imgProcessingNewCatCodeSubmit").show();


            $.getJSON('@Url.Content("~/PropertyAssignment/AddCatCode")',
           {
               catcode: txtCatCode, Description: txtcatCodeDescription
           },
            function (data) {
                if (data == 1) {
                    disablePopupNewCatCode();
                    populateCatCodesDDL(txtCatCode);
                }
                else if (data == 2) {
                    //CatCode Already Exists
                    $("#imgProcessingNewCatCodeSubmit").hide();
                    document.getElementById("divCatCodeError").innerHTML = "Cat Code already exists.";
                }
            });
        }
        else {
            document.getElementById("divCatCodeError").innerHTML = isValidErrorMsg;
        }

    }
    function createNewClientPOC() {

        var hdnHeadCompanyId = $('#hdnHeadCompanyId').val();
        var txtFirstName = $('#txtFirstName').val();
        var txtMiddleInitial = $('#txtMiddleInitial').val();
        var txtLastName = $("#txtLastName").val();
        var txtEmail = $("#txtEmail").val();

        var isValid = true;
        var isValidErrorMsg = '';

        if (txtFirstName.length == 0) {
            isValid = false;
            isValidErrorMsg += "First Name is required.<br/>";
        }

        if (txtLastName.length == 0) {
            isValid = false;
            isValidErrorMsg += "Last Name is required.<br/>";
        }

        if (txtEmail.length == 0) {
            isValid = false;
            isValidErrorMsg += "Email Address is required.<br/>";
        }


        if (isValid) {
            $("#imgProcessingNewClientPOCSubmit").show();


            $.getJSON('@Url.Content("~/PropertyAssignment/AddClientPOC")',
          {
              headCompanyId: hdnHeadCompanyId, firstName: txtFirstName, middleInitial: txtMiddleInitial, lastName: txtLastName, email: txtEmail
          },
           function (data) {
               if (data > 0) {
                   $("#imgProcessingNewClientPOCSubmit").hide();
                   disablePopupNewClientPOC();
                   populateClientPOCDLL(data);
               }
               else if (data == -2) {
                   //User Name Already Exists
                   $("#imgProcessingNewClientPOCSubmit").hide();
                   document.getElementById("divClientPOCError").innerHTML = "User Name already exists.";
               }
               else if (data == -3) {
                   //Email Already Exists
                   $("#imgProcessingNewClientPOCSubmit").hide();
                   document.getElementById("divClientPOCError").innerHTML = "Email already exists.";
               }
           });
        }
        else {
            document.getElementById("divClientPOCError").innerHTML = isValidErrorMsg;
        }

    }
    function populateCatCodesDDL(SelectCatCodeFromList) {
        $(function () {


            $.getJSON('@Url.Action("GetCatCodesList")',
                    function (subcategories) {
                        var subsSelect = $('#ddlCatCodesList');
                        subsSelect.empty();
                        $.each(subcategories, function (index, subcat) {
                            subsSelect.append(
                                $('<option/>')
                                    .attr('value', subcat.Value)
                                    .text(subcat.Text)
                            );

                        });
                        //alert('External Participants List Loaded.');
                        $("#ddlCatCodesList").val(SelectCatCodeFromList);
                    });

        });

    }
    function populateCSSPOCDDL(SelectCSSPOCFromList) {
        $(function () {


            $.getJSON('@Url.Action("GetCSSPOCList")',
            function (subcategories) {
                var subsSelect = $('#ddlCSSPOC');
                subsSelect.empty();
                $.each(subcategories, function (index, subcat) {
                    subsSelect.append(
                        $('<option/>')
                            .attr('value', subcat.Value)
                            .text(subcat.Text)
                    );

                });
                //alert('External Participants List Loaded.');
                $("#ddlCSSPOC").val(SelectCSSPOCFromList);
            });

        });

    }
</script>
<table width="100%">
    <tr>
        <td colspan="4" class="subHeading">Claim Information</td>
    </tr>
    <tr>

        <td width="20%">Insurance Company
        </td>
        <td width="25%">
            @{
                
                string companyName = "";
                if (loggedInUser.UserTypeId != 2)
                {
                    BLL.Company company = null;
                    if (Model.Claim != null)
                    {
                        if (Model.Claim.HeadCompanyId.HasValue)
                        {
                            company = css.Companies.Find(Model.Claim.HeadCompanyId);
                            if (company != null)
                            {
                                companyName = company.CompanyName;
                            }
                        }
                    }
                @Html.HiddenFor(model => model.Claim.HeadCompanyId)

                @Html.TextBox("txtInsuranceCompany", @companyName, new { @readonly = true })
                    
                }
                else
                {
                @Html.DropDownListFor(model => model.Claim.HeadCompanyId, Model.InsuranceCompaniesList, new { @id = "ddlInsuranceCompany", @style = "width: 170px;" })
                }
            }


        </td>
        <td width="20%">Client Point of Contact
        </td>
        <td>
            @Html.DropDownListFor(model => model.Claim.ClientPointOfContactUserId, Model.ClientPointofContactList, new { @id = "ddlClientPointOfContact", style = "width: 170px;" })
            <a onclick="btnNewCPOC_Click()" style="border: none; color: black; cursor: pointer;">
                <img src="~/Content/Images/Addplus.png" title="New CSS Point of Contact" width="8" height="8" border="0" /></a><img id="imgClientPOCListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
        </td>
    </tr>
    <tr>
        <td>*Claim # 
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.ClaimNumber, new { @id = "txtClaimNumber" })
        </td>
        <td width="20%">CSS Point of Contact 
        </td>
        <td>


            @Html.DropDownListFor(model => model.propertyassignment.CSSPointofContactUserId, Model.PointofContactList, new { @id = "ddlCSSPOC", style = "width: 170px;" })

        </td>
    </tr>
    <tr>
        <td>Cat Code 
        </td>
        <td>


            @Html.DropDownListFor(model => model.Claim.CatCode, Model.CatCodesList, new { @style = "width: 170px;", @id = "ddlCatCodesList" })
            <a onclick="loadPopupNewCatCode();" style="border: none; color: black; cursor: pointer;">
                <img src="~/Content/Images/Addplus.png" title="New Cat Code" width="8" height="8" border="0" /></a>
        </td>
        <td>QA Agent 
        </td>
        <td>
            @{
                
                BLL.User userQAAgent = null;
                string QAAgentFullName = "";
                if (loggedInUser.UserTypeId == 2)
                {
                @Html.DropDownListFor(model => model.propertyassignment.CSSQAAgentUserId, Model.CSSQAAgentList, new { style = "width: 170px;" })
                }
                else
                {
                    if (Model.propertyassignment != null)
                    {
                        if (Model.propertyassignment.CSSQAAgentUserId.HasValue)
                        {
                            userQAAgent = css.Users.Find(Model.propertyassignment.CSSQAAgentUserId);
                            if (userQAAgent != null)
                            {
                                QAAgentFullName = (!String.IsNullOrEmpty(userQAAgent.FirstName) ? userQAAgent.FirstName + " " : "") + (String.IsNullOrEmpty(userQAAgent.MiddleInitial) ? "" : userQAAgent.MiddleInitial + " ") + (!String.IsNullOrEmpty(userQAAgent.LastName) ? userQAAgent.LastName : "");
                            }
                        }
                    }
                    
                @Html.HiddenFor(model => model.propertyassignment.CSSQAAgentUserId)
                @Html.TextBox("txtCSSQAAgentFullName", @QAAgentFullName, new { @readonly = true })
                }

              
            }



        </td>
    </tr>
    <tr>
        <td>*Severity Level 
        </td>
        <td colspan="3">

            @Html.DropDownListFor(model => model.Claim.SeverityLevel, Model.SeverityLevelsList, new { style = "width: 170px;" })
        </td>

    </tr>
    <tr>
        <td>Service Offering 
        </td>
        <td>

            @Html.DropDownListFor(model => model.Claim.ServiceOffering, Model.ServiceOfferingsList, new { style = "width: 170px;" })
        </td>
        <td>Line of Business 
        </td>
        <td>

            @Html.DropDownListFor(model => model.Claim.LOBId, Model.LineOfBusinessList, new { style = "width: 170px;", @id = "ddlLineOfBussiness" })<img id="imgLOBListLoading" style="display:none;margin-left:4px;" src="@Url.Content("~/Content/Images/progress01.gif")" width="16" height="16" />
        </td>
    </tr>
    <tr>
        <td>Claim Description 
        </td>
        <td colspan="1">

            @Html.TextAreaFor(model => model.propertyassignment.AssignmentDescription)</td>
        <td>Status:
        </td>
        <td>
            @{
                if (loggedInUser.UserTypeId == 2)
                {
                
                @Html.DropDownListFor(model => model.propertyassignment.FileStatus, Model.FileStatusList, new { style = "width:170px;", id = "ddlFileStatus" })
              
                
                }
                else
                {
                    if (Model.propertyassignment != null)
                    {
                        if (Model.propertyassignment.FileStatus.HasValue)
                        {
                            BLL.AssignmentStatu fileStatus = css.AssignmentStatus.Find(Model.propertyassignment.FileStatus.Value);
                            if (fileStatus != null)
                            {
                @:@fileStatus.StatusDescription
             @Html.HiddenFor(model => model.propertyassignment.FileStatus)
                                                                                                                                                    }
                        }
                    }

                }
            }
        </td>
    </tr>
</table>
<div id="NewCatCode" style="display: none;" class="EditPopupNewCatCode">
    <table width="100%" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <div style="float: left">
                                    Add Cat Code
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupNewCatCode();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">
                <div id="divCatCodeError" class="errorMsg" style="text-align: left; width: 100%;"></div>
                <div id="divClaimContacts">
                    @Html.Partial("_CatCode", Model.CatCodeViewModel)
                </div>
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <img id="imgProcessingNewCatCodeSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                <input type="button" value="Add" class="buttonYellow_100" onclick="createNewClaimContact()" /></td>
        </tr>
    </table>
</div>
<div id="backgroundPopupNewCatCode" onclick="disablePopupNewCatCode();" class="backgroundPopupNewCatCode" style="display: none;"></div>




