﻿@model BLL.ViewModels.ClientPOCDetailsEditViewModel

<script type="text/javascript">
    function setUseHeadCompanyContactDetailsVisibility(differentFromParent) {
        if (differentFromParent == false || differentFromParent == 'false') {
            $("#trCPOCMobile").hide();
            $("#trCPOCWorkPhone").hide();
            $("#trCPOCAddressPO").hide();
            $("#trCPOCStreetName").hide();
            $("#trCPOCStreetNo").hide();
            $("#trCPOCZip").hide();
            $("#trCPOCState").hide();
            $("#trCPOCCity").hide();

            //heading rows
            $("#trCPOCPhoneHeading").hide();
            $("#trCPOCAddressHeading").hide();
        }
        else {
            $("#trCPOCMobile").show();
            $("#trCPOCWorkPhone").show();
            $("#trCPOCAddressPO").show();
            $("#trCPOCStreetName").show();
            $("#trCPOCStreetNo").show();
            $("#trCPOCZip").show();
            $("#trCPOCState").show();
            $("#trCPOCCity").show();

            //heading rows
            $("#trCPOCPhoneHeading").show();
            $("#trCPOCAddressHeading").show();
        }
        centerPopupNewClientPOC();
    }
    $(function () {

        $(".PhoneNo").mask("(999) 999-9999");

        $("#cbUseHeadCompanyContactDetails").change(function () {
            setUseHeadCompanyContactDetailsVisibility($("#cbUseHeadCompanyContactDetails").is(":checked"));
        });
        @if (Model.UserId == 0)
        {
        @:$("#txtCPOCFName, #txtCPOCLName").blur(function () { $("#txtCPOCUserName").val($("#txtCPOCFName").val().toLowerCase().replace(" ", "").substr(0, 1) + $("#txtCPOCLName").val().toLowerCase().replace(" ", "")); });
                                @:setUseHeadCompanyContactDetailsVisibility(false);
            }
        else
        {

             @:setUseHeadCompanyContactDetailsVisibility('@((Model.CPOC.UseHeadCompanyContactDetails ?? false) == true ? "false" : "true")');
                                }
    });

</script>
<div class="errorMsg">
    @Html.ValidationSummary()
</div>
@Html.CheckBox("CPOC.UseHeadCompanyContactDetails", (Model.CPOC.UseHeadCompanyContactDetails ?? false) == true ? false : true, new { @id = "cbUseHeadCompanyContactDetails" }) Contact Details different from Parent Company<br />

<table width="100%" class="content">
    <tr>
        <td width="50%">
            <table width="100%">
                <tr>
                    <td class="subHeading" colspan="2">Basic</td>
                </tr>
                <tr>
                    <td width="30%" nowrap="nowrap">First Name:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.FirstName, new { @id = "txtCPOCFName" })</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Middle Name:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.MiddleInitial)</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Last Name:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.LastName, new { @id = "txtCPOCLName" })</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Email:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.Email)</td>
                </tr>
                <tr id="trCPOCPhoneHeading">
                    <td class="subHeading" colspan="2">Phone Numbers</td>
                </tr>
                <tr id="trCPOCMobile">
                    <td nowrap="nowrap">Mobile Phone #:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.MobilePhone, new { @class = "PhoneNo" })</td>
                </tr>
                <tr id="trCPOCWorkPhone">
                    <td nowrap="nowrap">Work Phone #:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.WorkPhone, new { @class = "PhoneNo" })</td>
                </tr>
                  <tr id="trCPOCAddressHeading">
                    <td class="subHeading" colspan="2">Address</td>
                </tr>
                <tr id="trCPOCAddressPO">
                    <td nowrap="nowrap">Address or PO #:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.AddressPO)</td>
                </tr>
                <tr id="trCPOCStreetNo">
                    <td nowrap="nowrap">Street #:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.AddressLine1)</td>
                </tr>
                <tr id="trCPOCStreetName">
                    <td nowrap="nowrap">Street Name:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.StreetAddress)</td>
                </tr>
                <tr id="trCPOCZip">
                    <td nowrap="nowrap">Zip:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.Zip, new { @id = "txtCPOCZip", @onblur = "populateZipData('txtCPOCZip','ddlCPOCState','txtCPOCCity')" })</td>
                </tr>
                <tr id="trCPOCState">
                    <td nowrap="nowrap">State:</td>
                    <td>@Html.DropDownListFor(model => model.CPOC.State, Model.StateList, new { @id = "ddlCPOCState", @style = "width:150px;" })</td>
                </tr>
                <tr id="trCPOCCity">
                    <td nowrap="nowrap">City:</td>
                    <td>@Html.TextBoxFor(model => model.CPOC.City, new { @id = "txtCPOCCity" })</td>
                </tr>

            </table>
        </td>
        <td width="50%" valign="top">

            <table>
                 <tr>
                    <td class="subHeading" colspan="2">Login</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">User Name:</td>

                    <td>@if (Model.UserId > 0)
                        {
                        @Model.CPOC.UserName
                        @Html.HiddenFor(model => model.CPOC.UserName)
                        }
                        else
                        {
                        @Html.TextBoxFor(model => model.CPOC.UserName, new { @id = "txtCPOCUserName" })
                        }
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Password:</td>
                    <td>@Html.PasswordFor(model => model.CPOC.Password)</td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td>@Html.PasswordFor(model => model.ConfirmPassword)</td>
                </tr>
                 <tr>
                    <td>External Identifier:</td>
                    <td>@Html.TextBoxFor(model=>model.CPOC.ExternalMappingIdentifier) </td>

                </tr>

            </table>
        </td>
    </tr>
</table>

@Html.HiddenFor(model => model.UserId, new { @id = "hdnCPOCUserId" })
@Html.HiddenFor(model => model.CPOC.HeadCompanyId, new { @id = "hdnCPOCHeadCompanyId" })