﻿@model BLL.ViewModels.HomeViewModel
@using CSS
@using BLL
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}
<style type="text/css">
    .mainTableHeader {
        border-bottom: 1px solid black;
        background-color: #406E98 !important;
        color: white;
    }

    .subTableHeader1 {
        border-bottom: 1px solid black;
        background-color: #406E98 !important;
        color: white;
    }

    .subTableHeader2 {
        border-bottom: 1px solid black;
        background-color: #406E98 !important;
        color: white;
    }

    .subTableHeader3 {
        border-bottom: 1px solid black;
        background-color: #406E98 !important;
        color: white;
    }
</style>
<script type="text/javascript">



    function showRecordData(controlId) {
        debugger;
        $("#divDiarySummaryAdmin table tbody #tr" + controlId).show();
        $("#imgExpand" + controlId).hide();
        $("#imgCollapse" + controlId).show();
    }
    function hideRecordData(controlId) {
        debugger;
        $("#divDiarySummaryAdmin table tbody #tr" + controlId).hide();
        $("#imgExpand" + controlId).show();
        $("#imgCollapse" + controlId).hide();

    }
</script>

<div >
    <div class="note note-info" style="height:50px; background-color: #EDF7FB;margin-bottom: 0px;">
        <table>
            <tbody>
                <tr>
                    <td>
                        <h4>Diary Summary</h4>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-scrollable">
        <table class="table table-hover fontsizefortbl">
            <thead style="background-color: #406E98 !important;color: white;">
                <tr>
                    <td class="mainTableHeader">
                        <div >Company</div>
                    </td>
                    <td class="mainTableHeader">
                        <div >CSS POC</div>
                    </td>
                    <td class="mainTableHeader">
                        <div >Service Provider</div>
                    </td>
                    <td class="mainTableHeader">
                        <div >Contact Overdue</div>
                    </td>
                    <td class="mainTableHeader">
                        <div >Inspection Overdue</div>
                    </td>
                    <td class="mainTableHeader">
                        <div >Final Upload Overdue</div>
                    </td>
                    <td class="mainTableHeader">
                        <div >Misc. Overdue</div>
                    </td>
                </tr>
            </thead>
            @{
                List<usp_DiarySummaryMasterLevel1_Result> diarySummaryMaster = css.usp_DiarySummaryMasterLevel1(Model.Level1GroupId, Model.Level1GroupFilter).ToList();
                for (int i = 0; i < diarySummaryMaster.Count; i++)
                {
                    usp_DiarySummaryMasterLevel1_Result recordI = diarySummaryMaster[i];
                    <tr>
                        <td>
                            <div>
                                @*<img id="@("imgExpand" + i)" border="0" src="@Url.Content("~/content/images/plus.png")" onclick="showRecordData('@("" + i)')" />
                                <img id="@("imgCollapse" + i)" border="0" src="@Url.Content("~/content/images/minus.png")" onclick="hideRecordData('@("" + i)')" style="display:none;" />*@
                                <div class="fa-item" id="@("imgExpand" + i)" onclick="showRecordData('@("" + i)')" >
                                    <i class="fa fa-plus" title="Expand" style="color: red;"></i>
                                </div>
                                <div class="fa-item" id="@("imgCollapse" + i)" onclick="hideRecordData('@("" + i)')" style="display: none;">
                                    <i class="fa fa-minus" title="Collapse" style="color: red;"></i>
                                </div>
                                @recordI.Level1_Desc
                            </div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                        <td>
                            <div>
                                <a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('3','Contact Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','0','','0','')">@recordI.ContactOverDue</a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('4','Inspection Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','0','','0','')">@recordI.InspectionOverDue</a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('5','Final Upload Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','0','','0','')">@recordI.FinalUploadOverDue</a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('-2','Misc. Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','0','','0','')">@recordI.MiscOverDue</a>
                            </div>
                        </td>
                    </tr>
                    List<usp_DiarySummaryMasterLevel2_Result> diarySummaryCompany = css.usp_DiarySummaryMasterLevel2(Model.Level1GroupId, recordI.Level1_ID, Model.Level2GroupId).ToList();
                    for (int j = 0; j < diarySummaryCompany.Count; j++)
                    {
                        usp_DiarySummaryMasterLevel2_Result recordJ = diarySummaryCompany[j];
                        <tr id="@("tr" + i)" style="display:none;" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>
                            <td>
                                <div></div>
                            </td>
                            <td>
                                <div>
                                    @*<img id="@("imgExpand" + i + "" + j)" border="0" src="@Url.Content("~/Content/Images/plus.png")" onclick="showRecordData('@("" + i + "" + j)')" />
                                    <img id="@("imgCollapse" + i + "" + j)" border="0" src="@Url.Content("~/Content/Images/minus.png")" onclick="hideRecordData('@("" + i + "" + j)')" style="display:none;" />*@
                                    <div class="fa-item" id="@("imgExpand" + i + "" + j)" onclick="showRecordData('@("" + i + "" + j)')">
                                        <i class="fa fa-plus" title="Expand" style="color: red;"></i>
                                    </div>
                                    <div class="fa-item" id="@("imgCollapse" + i + "" + j)" onclick="hideRecordData('@("" + i + "" + j)')" style="display: none;">
                                        <i class="fa fa-minus" title="Collapse" style="color: red;"></i>
                                    </div>
                                     @recordJ.Level2_Desc
                                </div>
                            </td>
                            <td>
                                <div></div>
                            </td>
                            <td>
                                <div>
                                    <a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('3','Contact Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','0','')">@recordJ.ContactOverDue</a>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('4','Inspection Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','0','')">@recordJ.InspectionOverDue</a>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('5','Final Upload Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','0','')">@recordJ.FinalUploadOverDue</a>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('-2','Misc. Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','0','')">@recordJ.MiscOverDue</a>
                                </div>
                            </td>
                        </tr>
                        List<usp_DiarySummaryMasterLevel3_Result> diarySummaryCSSPOC = css.usp_DiarySummaryMasterLevel3(Model.Level1GroupId, recordI.Level1_ID, Model.Level2GroupId, recordJ.Level2_ID, Model.Level3GroupId).ToList();
                        for (int k = 0; k < diarySummaryCSSPOC.Count; k++)
                        {
                            usp_DiarySummaryMasterLevel3_Result recordK = diarySummaryCSSPOC[k];

                            <tr id="@("tr" + i + "" + j)" style="display:none;" @(j % 2 == 0 ? "class=tableRowAlternate" : "class=tableRow")>
                                <td>
                                    <div ></div>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                                <td>
                                    <div>@recordK.Level3_Desc</div>
                                </td>
                                <td>
                                    <div>
                                        <a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('3','Contact Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','@recordK.Level3_ID','@recordK.Level3_Desc')">@recordK.ContactOverDue</a>
                                    </div>
                                </td>
                                <td>
                                    <div >
                                        <a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('4','Inspection Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','@recordK.Level3_ID','@recordK.Level3_Desc')">@recordK.InspectionOverDue</a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('5','Final Upload Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','@recordK.Level3_ID','@recordK.Level3_Desc')">@recordK.FinalUploadOverDue</a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('-2','Misc. Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','@recordK.Level3_ID','@recordK.Level3_Desc')">@recordK.MiscOverDue</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </table>
    </div>   
</div>



@*<div id="divCompanyView" style="width: 100%;">
        <table style="width: 100%;" cellpadding="5" cellspacing="0">
            <tr>
                <td class="mainTableHeader">
                    Company
                </td>
                <td class="mainTableHeader" align="center">
                    CSS POC
                </td>
                <td class="mainTableHeader" align="center">
                    Service Provider
                </td>
                <td class="mainTableHeader" align="center">
                    Contact
                    <br />
                    Over Due
                </td>
                <td class="mainTableHeader" align="center">
                    Inspection
                    <br />
                    Over Due
                </td>
                <td class="mainTableHeader" align="center">
                    Final Upload
                    <br />
                    Over Due
                </td>
                <td class="mainTableHeader" align="center">Misc. Over Due</td>
            </tr>

            @{
                List<usp_DiarySummaryMasterLevel1_Result> diarySummaryMaster = css.usp_DiarySummaryMasterLevel1(Model.Level1GroupId, Model.Level1GroupFilter).ToList();
                for (int i = 0; i < diarySummaryMaster.Count; i++)
                {
                    usp_DiarySummaryMasterLevel1_Result recordI = diarySummaryMaster[i];
                    <tr>
                        <td @(i % 2 == 0 ? "class=tableRowAlternate" : "")>
                            <img id="@("imgExpand" + i)" border="0" src="@Url.Content("~/Content/Images/plus.png")" onclick="showRecordData('@("" + i)')" />
                            <img id="@("imgCollapse" + i)" border="0" src="@Url.Content("~/Content/Images/minus.png")" onclick="hideRecordData('@("" + i)')" style="display:none;" /> @recordI.Level1_Desc
                        </td>
                        <td></td>
                        <td></td>
                        <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('3','Contact Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','0','','0','')">@recordI.ContactOverDue</a></td>
                        <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('4','Inspection Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','0','','0','')">@recordI.InspectionOverDue</a></td>
                        <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('5','Final Upload Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','0','','0','')">@recordI.FinalUploadOverDue</a></td>
                        <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('-2','Misc. Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','0','','0','')">@recordI.MiscOverDue</a></td>
                    </tr>
                    <tr id="@("tr" + i)" style="display:none;" @(i % 2 == 0 ? "class=tableRowAlternate" : "")>
                        <td colspan="7" align="right">
                            <table style="width: 98%;" cellpadding="5" cellspacing="0">
                                @{
                    List<usp_DiarySummaryMasterLevel2_Result> diarySummaryCompany = css.usp_DiarySummaryMasterLevel2(Model.Level1GroupId, recordI.Level1_ID, Model.Level2GroupId).ToList();
                    for (int j = 0; j < diarySummaryCompany.Count; j++)
                    {
                        usp_DiarySummaryMasterLevel2_Result recordJ = diarySummaryCompany[j];
                        <tr @(j % 2 == 0 ? "class=tableRowAlternate" : "class=tableRow")>
                            <td style="width: 170px;"></td>
                            <td>
                                <img id="@("imgExpand" + i + "" + j)" border="0" src="@Url.Content("~/Content/Images/plus.png")" onclick="showRecordData('@("" + i + "" + j)')" />
                                <img id="@("imgCollapse" + i + "" + j)" border="0" src="@Url.Content("~/Content/Images/minus.png")" onclick="hideRecordData('@("" + i + "" + j)')" style="display:none;" /> @recordJ.Level2_Desc
                            </td>
                            <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('3','Contact Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','0','')">@recordJ.ContactOverDue</a></td>
                            <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('4','Inspection Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','0','')">@recordJ.InspectionOverDue</a></td>
                            <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('5','Final Upload Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','0','')">@recordJ.FinalUploadOverDue</a></td>
                            <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('-2','Misc. Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','0','')">@recordJ.MiscOverDue</a></td>
                        </tr>
                                    <tr id="@("tr" + i + "" + j)" style="display:none;" @(j % 2 == 0 ? "class=tableRowAlternate" : "class=tableRow")>
                                        <td></td>
                                        <td colspan="7" align="right">
                                            <table style="width: 98%;" cellpadding="5" cellspacing="0">
                                                @{
                        List<usp_DiarySummaryMasterLevel3_Result> diarySummaryCSSPOC = css.usp_DiarySummaryMasterLevel3(Model.Level1GroupId, recordI.Level1_ID, Model.Level2GroupId, recordJ.Level2_ID, Model.Level3GroupId).ToList();
                        for (int k = 0; k < diarySummaryCSSPOC.Count; k++)
                        {
                            usp_DiarySummaryMasterLevel3_Result recordK = diarySummaryCSSPOC[k];
                            <tr @(k % 2 == 0 ? "class=tableRowAlternate" : "class=tableRow")>
                                <td style="width: 175px;"></td>
                                <td>@recordK.Level3_Desc</td>
                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('3','Contact Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','@recordK.Level3_ID','@recordK.Level3_Desc')">@recordK.ContactOverDue</a></td>
                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('4','Inspection Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','@recordK.Level3_ID','@recordK.Level3_Desc')">@recordK.InspectionOverDue</a></td>
                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('5','Final Upload Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','@recordK.Level3_ID','@recordK.Level3_Desc')">@recordK.FinalUploadOverDue</a></td>
                                <td align="center"><a style="cursor:pointer;" onclick="loadOverDueLevelClaimsListPopup('-2','Misc. Overdue','@recordI.Level1_ID','@recordI.Level1_Desc','@recordJ.Level2_ID','@recordJ.Level2_Desc','@recordK.Level3_ID','@recordK.Level3_Desc')">@recordK.MiscOverDue</a></td>
                            </tr>
                        }
                                                }
                                            </table>
                                        </td>
                                    </tr>
                    }
                                }
                            </table>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>*@
