﻿@model BLL.ViewModels.HomeViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "frmHome" }))
{

    if (loggedInUser.UserTypeId == 2)
    {
        <div id="divDiarySummaryAdmin">@Html.Partial("_DiarySummaryAdminV2")</div>
        @*if (loggedInUser.AssignedRights.Contains((byte)2))
        {
            <div class="tab-pane active" id="tab_2">
                    <div class="portlet box " style="background-color: #406E98 !important;">
                        <div class="portlet-title">
                            <div class="caption">
                                CSS POC View
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <br />
                            <br />
                            <div>@Html.Partial("_DiarySummaryCSSPOC")</div>
                        </div>
                    </div>
                </div>          
        }*@        
        @*<div>
                <div><b>Administrator View</b></div>
                <div>
                    <table>
                        <tr>
                            <td>Filter: @Html.TextBoxFor(model => model.Level1GroupFilter, new { @style = "width:140px;" })</td>
                            <td>Hierarchy: @Html.DropDownListFor(model => model.Level1GroupId, Model.Level1GroupList, new { @id = "ddlLevel1GroupList", @style = "width:120px;" }) @Html.DropDownListFor(model => model.Level2GroupId, Model.Level2GroupList, new { @id = "ddlLevel2GroupList", @style = "width:120px;" }) @Html.DropDownListFor(model => model.Level3GroupId, Model.Level3GroupList, new { @id = "ddlLevel3GroupList", @style = "width:120px;" })</td>
                            <td><input value="Refresh" onclick="btnAdminViewRefresh_Click()" type="button" class="buttonLightYellow_100" /></td>
                            <td><img id="imgAdminViewRefresh" style="display:none;vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" width="14" height="14" src="@Url.Content("~/Content/Images/progress01.gif")" /></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td colspan="2" align="right" valign="middle"></td>
                            <td align="left" valign="top"></td>
                        </tr>
                    </table>
                </div>
                <div id="divDiarySummaryAdmin">@Html.Partial("_DiarySummaryAdminV2")</div>
                <br />
            </div>*@
    }
    else if (loggedInUser.UserTypeId == 3)
    {
        @Html.Partial("_DiarySummaryCSSPOC")
    }
    else
    {
        @Html.Partial("_DiarySummarySP")
    }

}
