﻿   <style type="text/css">
    .backgroundEmailUtilityPopup
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopupEmailUtility
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        
    }

    .widearea
    {
        width: 650px;
        height: 200px;
    }
</style>

<script type="text/javascript">

    function loadEmailUtilityPopup(Emailidto, replyTo, assignmentid, phoneNum, emailSubject) {
        //debugger;
        // popupDivVal = Edit;
        //loads popup only if it is disabled
        $('#hdnAssignmentid').val(assignmentid);
        $('#spnEmailPhone').html(phoneNum);
        $('#spanReplyTo').html(replyTo);
        $('#txtEmailto').val(Emailidto).attr('readonly', 'readonly');
        $('#txtEmailSubject').val($('<div />').html(emailSubject).text());

        var popupStatus = 0;

        if (popupStatus == 0) {
            centerEmailUtilityPopup();
            $("#EmailUtilitybackgroundPopup").css({
                "opacity": "0.7"
            });
            $("#EmailUtilitybackgroundPopup").fadeIn("slow");
            $("#EmailUtility").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disableEmailUtilityPopup() {
        //debugger;
        //disables popup only if it is enabled 
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#EmailUtilitybackgroundPopup").fadeOut("slow");
            $("#EmailUtility").fadeOut("slow");
            popupStatus = 0;
            $('#txtEmailto').val('').removeAttr('readonly');
            $("#txtEmailSubject").val('')
            $("#txtEmailContent").val('')
        }
    }
    function centerEmailUtilityPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#EmailUtility").height();
        var popupWidth = $("#EmailUtility").width();
        //centering  
        $("#EmailUtility").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#EmailUtilitybackgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }
    function htmlEncode(value) {
        //create a in-memory div, set it's inner text(which jQuery automatically encodes)
        //then grab the encoded contents back out.  The div never exists on the page.
        return $('<div/>').text(value).html();
    }
    function saveEmailUtilityNotesHistory() {
        var mailbody = htmlEncode($('#txtEmailContent').val());
        var mailsub = htmlEncode($('#txtEmailSubject').val());

        $.post('@Url.Content("~/PropertyAssignment/EmailUtility")',
                  {
                      Emailto: $("#txtEmailto").val(), EmailFrom: $("#txtEmailfrom").val(), setReplyToEmail: $("#cbSetReplyTo").is(":checked") ? "1" : "0", Subject: mailsub, Content: mailbody, assignmentid: $('#hdnAssignmentid').val()
                  },
                    function (data) {
                        if (data == 1) {
                            disableEmailUtilityPopup();
                        }
                    });
    }
</script>

<div id="EmailUtility" style="display: none;" class="EditPopupEmailUtility">
    <div>
        <table style="width: 100%">
            <tr>
                <td class="mainHeader">
                    <div style="float: left">
                        Mail
                    </div>
                    <div style="float: right">
                        <img src="~/Content/Images/Cancel.png" onclick="disableEmailUtilityPopup();" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <table style="width: 100%" cellspacing="2" cellpadding="2">
        <tr style="display:none;">
            <td style="width: 30px"></td>
            <td>From</td>
            <td>
                <input type="text" name="txtEmailfrom" id="txtEmailfrom" style="width: 500px" />
                <input type="hidden" id="hdnAssignmentid" value="" name="hdnAssignmentid" />
            </td>
           
        </tr>
        <tr>
            <td style="width: 30px"></td>
             <td align="left">Phone #:</td>
            <td align="left">
                <span id="spnEmailPhone"></span>
                </td>
        </tr>
        <tr>
            <td style="width: 30px"></td>
             <td>To :</td>
            <td>
                <input type="text" name="txtEmailto" id="txtEmailto" style="width: 500px" /></td>
        </tr>
         <tr>
            <td style="width: 30px"></td>
             <td></td>
            <td>
               <input type="checkbox" id="cbSetReplyTo" checked="checked"> Set Reply-To email address as <span id="spanReplyTo"></span></td>
        </tr>
        <tr>
            <td style="width: 30px"></td>
            <td>Subject</td>
            <td>
                <input type="text" name="txtEmailSubject" id="txtEmailSubject" style="width: 500px" /></td>
        </tr>
        <tr>
            <td style="width: 30px"></td>
            <td colspan="2">
                @*<input type="text" id="txtEmailContent" name="txtEmailContent" class="widearea"/>*@
                <textarea id="txtEmailContent" name="txtEmailContent" class="widearea"></textarea>
            </td>
        </tr>
        <tr>
            <td style="width: 30px"></td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="3">
                <input type="submit" value="Send" class="buttonLightYellow_100" name="Send" id="Send" onclick="saveEmailUtilityNotesHistory();"/></td>
        </tr>
    </table>

</div>
<div id="EmailUtilitybackgroundPopup" onclick="disableEmailUtilityPopup();" class="backgroundEmailUtilityPopup" style="display: none;"></div>