﻿@using CSS
@using BLL
@*@model BLL.ViewModels.XactAutoAssignmentSearchViewModel*@
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<script src="~/assets/global/plugins/jquery.min.js"></script>
<style type="text/css">
    /*.col-md-12 {
        position: relative;
        min-height: 1px !important;
        padding-left: 0px !important;
        padding-right: 21px !important;
    }

    .col-md-8 {
        position: relative;
        min-height: 1px;
        padding-left: 9px !important;
        padding-right: 0px !important;
    }*/

    .modal.modal-wide .modal-dialog {
        width: 90%;
    }



    .modalHead {
        background-color: #67809F;
        color: white;
        font-weight: bold;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
    .claimTypeModal{
        width: 400px;
    }
</style>
<table>
    @{
        if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3)
        {
            <tr>
                @*<td><button class="btn yellow  btnradious btncolor" style="height:60px; width:100%;  font-weight:bold; margin-bottom: 8px;" onclick="location.href = '@Url.Action("AutoAssignment", "AutoAssignment")'">Create Assignment</button></td>*@
                <td><button id="btnCreateAssignment" class="btn yellow  btnradious btncolor" style="height:60px; width:100%;  font-weight:bold; margin-bottom: 8px; " onclick=ShowClaimSelectionModal()>Create Assignment</button></td>
            </tr>
        }
    }
    <tr>
        <td>
            @using (Html.BeginForm("AutoSearch", "AutoAssignment", FormMethod.Post, new { id = "frmHomeAssignmentSearch" }))
            {
                <div class="row" style="background-color:#EDF7FB; border: 1px solid lightgray; border-radius:5px !important;margin-left:0px;margin-right:0px">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" id="txtInsuredname" style="margin-top: 8px;" placeholder="InsureName.." name="InsureName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtClaimnumber" name="AutoClaimNumber" placeholder="ClaimNumber.." class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <span class="input-group-btn" style="padding-top: 5px !important;">
                            <a href="javascript:;" class="btn submit" style="border: 1px solid lightgray !important;" onclick="submitAction()">
                                <i class="icon-magnifier"></i>
                            </a>
                        </span>
                    </div>
                    <div class="col-md-12" style="float:right">
                        <a href="javascript:;" class="btn submit" onclick="homeAdvancedFilter()">
                            Advanced
                        </a>

                    </div>
                </div>
            }
        </td>
    </tr>
</table>
<div id="_AutoAssignmentSearchFiltermodal" class="modal modal-wide fade in"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Advanced Filter</h4>

            </div>
            @using (Html.BeginForm("AutoSearch", "AutoAssignment", FormMethod.Post, new { id = "frmAdvancedAssignmentSearch" }))
            {
                <div class="modal-body holds-the-iframe">
                    <div class="form-horizontal">
                        @Html.Action("AutoClaimFilter", "Home")
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" value="Ok" class="btn btn-primary" onclick="submitAdvancedFilter()" />
                </div>
            }
        </div>
    </div>
</div>

<div id="ModalClaimTypeSelection" class="modal   fade in " aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:400px">
        <div class="modal-content" >
            <div class="modal-header modalHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Claim Type</h4>

            </div>
            @using (Html.BeginForm("AutoAssignmentClaimType", "AutoAssignment", FormMethod.Post, new { id = "frmClaimTypeSelection" }))
            {
                <div class="modal-body holds-the-iframe">
                    <div class="row" style="padding-bottom:10px">
                        <div class="col-md-4" >
                             Choose Claim Type :
                        </div>
                        <div class="col-md-8">
                            <select id="ddlClaimType" name="ddlClaimType" class="form-control" >
                              
                                <option value="Automobile" selected="selected">Automobile</option>
                                <option value="Property">Property</option>
                            </select>
                            <div style="display:none">
                                TempTempTemp
                            </div>
                         </div>
                        </div>
                <div class="modal-footer" >
                    <input type="submit" id="btnOK"  value="Ok" class="btn btn-primary"  />
                </div>
            
        </div>
            }
    </div>
</div>
    </div>

<script type="text/javascript">
    function submitAction() {
        $('#frmHomeAssignmentSearch').submit();
    }
    function submitAdvancedFilter() {
        $('#frmAdvancedAssignmentSearch').submit();
    }
    function submitClaimType() {
        $('#frmClaimTypeSelection').submit();
    }
    function homeAdvancedFilter() {
        $('#_AutoAssignmentSearchFiltermodal').modal('show');
    }

    function ShowClaimSelectionModal() {
        $('#ModalClaimTypeSelection').modal('show');
        $('#ddlClaimType').val('Automobile');
    }

 
    //$(function()
    //{
    //    $('#ddlClaimType').change(function () {
    //        var val = $('#ddlClaimType').val();
    //        if (val == 'Automobile' || val == 'Property') {
    //            $('#btnOK').prop('disabled', false);
    //        }
    //        else
    //        {
    //            $('#btnOK').prop('disabled', true);
    //        }
    //    });
    //})



</script>