﻿@model BLL.ViewModels.PropertyAssignmentViewModel

<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        //alert('@Model.Claim.InsuredState');
        $("#HomePhone").mask("(999) 999-9999");
        $("#BusinessPhone").mask("(999) 999-9999");
        $("#MobilePhone").mask("(999) 999-9999");
        $("#txtInsuredZip").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) ||
                // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });
    });
    function copyInsuredToLoss() {
        try {
            document.getElementById('txtInsuredAddress1').value = document.getElementById('txtPropertyAddress1').value;
            document.getElementById('txtInsuredAddress2').value = document.getElementById('txtPropertyAddress2').value;
            document.getElementById('txtInsuredZip').value = document.getElementById('txtPropertyZip').value;
            document.getElementById('ddlInsuredState').value = document.getElementById('ddlPropertyState').value;
            document.getElementById('txtInsuredCity').value = document.getElementById('txtPropertyCity').value;
        }
        catch (err) {
        }
    }
</script>
<table width="100%">
    <tr>
        <td colspan="4" class="subHeading">Insured</td>
    </tr>
     <tr>
        <td colspan="4" >Is the Insured Information same as Loss Information? @Html.RadioButtonFor(model => model.isInsuredInfoSameAsLossInfo, true, new { @id="cbCopyInsuredToLoss", @onclick="copyInsuredToLoss()" }) Yes @Html.RadioButtonFor(model =>model.isInsuredInfoSameAsLossInfo,false) No
        </td>
        

    </tr>
    <tr>
        <td width="20%">*Insured First Name
        </td>
        <td width="25%">

            @Html.TextBoxFor(model => model.Claim.InsuredFirstName)
        </td>

        <td width="20%">*Insured Last Name
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.InsuredLastName)
        </td>

    </tr>
    <tr>
        <td>*Insured Address 1
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.InsuredAddress1, new { @id="txtInsuredAddress1" })

        </td>

        <td>
        </td>
        <td>

           

        </td>

    </tr>
     <tr>
        <td>Insured Address 2
        </td>
        <td>
             @Html.TextBoxFor(model => model.Claim.InsuredAddress2, new { @id="txtInsuredAddress2" })
            

        </td>

        <td>Insured Home Phone
        </td>
        <td>
             @Html.TextBoxFor(model => model.Claim.InsuredHomePhone, new { id = "HomePhone" })
            

        </td>

    </tr>
     <tr>
        <td>*Insured Zip
        </td>
        <td>
             @Html.TextBoxFor(model => model.Claim.InsuredZip, new { @id = "txtInsuredZip", @onblur = "populateZipData('txtInsuredZip','ddlInsuredState','txtInsuredCity')" })
          

        </td>

       <td>Insured Mobile Phone
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Claim.InsuredMobilePhone, new { id = "MobilePhone" })
                   

                </td>

    </tr>
     <tr>
        <td>*Insured State
        </td>
        <td>
             @Html.DropDownListFor(model => model.Claim.InsuredState, Model.InsuredStateList, new { style = "width: 170px;", @id = "ddlInsuredState" })
          

        </td>

       <td>Insured Business Phone
    </td>
    <td>
         @Html.TextBoxFor(model => model.Claim.InsuredBusinessPhone, new { id = "BusinessPhone" })
        
    </td>

    </tr>
      <tr>
        <td>*Insured City
        </td>
        <td>
              @Html.TextBoxFor(model => model.Claim.InsuredCity, new { @id = "txtInsuredCity" })
          

        </td>

        <td>
               Insured Email </td>
                <td>
                      @Html.TextBoxFor(model => model.Claim.InsuredEmail)
                   
                </td>

    </tr>
   
          
</table>