﻿@using System.Configuration
@using CSS
@model BLL.ViewModels.InsuranceTypeSearchViewModel
@{
    string containerName = ConfigurationManager.AppSettings["SPDocsContainerName"].ToString();
}
<style>
    body {
        background-image: none !important;
    }

    .lblstyle {
        padding-right: 10px;
        width: 15%;
        vertical-align: middle;
        text-align: right;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .col-md-2, .col-md-4 {
        position: relative;
        min-height: 1px;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .errorMsg {
        font-weight: bold;
        color: red;
        display: inline;
    }

    .fontsizefortbl {
        font-size: 13px !important;
    }
</style>
<div class="row">
    <div id="mainblock" class="portlet light bordered wStyle" style="margin: 0px; padding-bottom: 0px;">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-equalizer font-blue-hoki"></i>
                <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Basic/Contact Information </span>
            </div>
            <div class="tools">
                <a href="" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body form" style="display: block;margin-top: -14px;">
            <div class="form-horizontal" role="form">
                <div class="col-md-6">
                    @Html.HiddenFor(model => model.companyid)

                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Company Name:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control fontsizefortbl", @maxlength = "41" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Carrier Id:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.CarriedId, new { @class = "form-control fontsizefortbl" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Tax Id:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.TaxID, new { @class = "form-control fontsizefortbl" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Integration Company:</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.IntegrationTypeId, Model.IntegrationTypeList, new { @class = "form-control fontsizefortbl", @id = "ddlIntTypeList", @onchange = "ddlIntTypeList_OnChange()" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Uses Shared Dataset:</label>
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.UsesSharedDataset, new { @id = "cbUsesSharedDataset", @class = "form-control fontsizefortbl", @style = "width: 8%;" })

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Send Invoice:</label>
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.HasDocumentBridge, new { @class = "form-control fontsizefortbl", @style = "width: 8%;" })

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Xact Business Unit:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.XACTBusinessUnit, new { @class = "form-control fontsizefortbl" })

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Company logo:</label>
                        <div class="col-md-8">
                            @if (Model.logo != "" && Model.logo != null)
                            {
                                string absoluteThumnailFileName = Model.companyid + "/" + Model.logo;
                                string thumbnailFileUrl = CloudStorageUtility.GetAbsoluteFileURL(containerName, absoluteThumnailFileName);
                                <a href="@Url.Action("DeleteLogo", "InsuranceSetUp", new { CompanyId=@Model.companyid })" style="border: none; color: black; cursor: pointer;float:left;">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" title="Remove" alt="Remove" width="12" height="12" style="border:none;vertical-align:bottom;" onclick="return confirm('Are you sure you want to Delete ?')" />
                                </a>
                                <img id="companyLogo" width="100" height="100" src="@thumbnailFileUrl" />
                            }
                            else
                            {
                                <input type="file" id="file1" class="form-control fontsizefortbl" name="file1" value="file" />
                            }
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Is Active:</label>
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.IsActive, new { id = "Isactive", @class = "form-control fontsizefortbl", @style = "width: 8%;" })
                        </div>

                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Address:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control fontsizefortbl" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">City:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.City, new { id = "txtCity", @class = "form-control fontsizefortbl" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">State:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.State, new { id = "txtState", @class = "form-control fontsizefortbl" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Zip:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Zip, new { id = "txtZip", @class = "form-control fontsizefortbl" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Phone:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.PhoneNumber, new { id = "txtCompPhone", @class = "form-control fontsizefortbl" })

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Email:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Email, new { id = "txtEmailPhone", @class = "form-control fontsizefortbl" })

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Fax:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Fax, new { id = "TxtCompFax", @class = "form-control fontsizefortbl" })

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Webstite URL:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.WebsiteURL, new { @class = "form-control fontsizefortbl" })

                        </div>

                    </div>
                    @*<div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Add Template</label>
                        <div class="col-md-8">
                            <input type="button" id="addtemplate" class="btn blue" value="Add Template" onclick="loadTemplatePopup('@Url.Action("EmailTemplate", "EmailTemplate", new { HeadCompanyId = Model.companyid, TemplateId = -1, StatusId = -1 })    ')" />
                        </div>

                    </div>*@
                </div>

            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="portlet light bordered wStyle" style="margin: 0px; padding-bottom: 0px;">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-equalizer font-blue-hoki"></i>
                <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;"> FTP Integration</span>
            </div>
            <div class="tools">
                <a href="" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body form" style="display: block;margin-top: -14px;">
            <div class="form-horizontal" role="form">

                <div class="col-md-6">

                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">
                            FTP User Name:
                        </label>
                        <div class="col-md-8">

                            @Html.TextBoxFor(model => model.FTPUserName, new { @class = "form-control fontsizefortbl" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">FTP Password:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                @Html.PasswordFor(model => model.FTPPassword, new { @class = "form-control fontsizefortbl" })
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">Enable Document Export:</label>
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.EnableFTPDocExport, new { @class = "form-control fontsizefortbl", @style = "width: 8%;" })
                        </div>

                    </div>


                    <div class="form-group">
                        <label for="LOBType" class="col-md-4 control-label">FTP Confirm Password:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                @Html.PasswordFor(model => model.FTPConfirmPassword, new { @class = "form-control fontsizefortbl" })
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style type="text/css">
    .modal.modal-wide .modal-dialog {
        width: 90%;
    }

    .modal-wide .modal-body {
        overflow-y: auto;
    }

    .modalHead {
        background-color: #67809F;
        color: white;
        font-weight: bold;
    }

    .holds-the-iframe {
        background: url(/Content/Images/waiting1.gif) center center no-repeat;
    }
</style>
<div id="EmailTemplatemodal" class="modal modal-wide fade in" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalHead">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Template</h4>
                @*<div style="float: right; margin-right: 7px;"><a href="@Url.Content("~/LineOfBusiness/LineOfBusiness/#aloblistdiv")" style="text-decoration: none;">Scroll down to the Line of Business List</a></div>*@
            </div>
            <div class="modal-body holds-the-iframe">

                <iframe id="iframeTemplate" style="width:100%;max-height: 800px;min-height: 700px;" frameborder="0" scrolling="auto" class="slimScrollDiv"></iframe>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    function ddlIntTypeList_OnChange() {
        if ($("#ddlIntTypeList").val() == "1") {
            $("#divUsesSharedDataset").show();
            $("#tdXactBusinessUnit").show();
            $("#tdXactsendinvoices").show();
        }
        else {
            $("#divUsesSharedDataset").hide();
            $("#tdXactBusinessUnit").hide();
            $("#tdXactsendinvoices").hide();
            $("#cbUsesSharedDataset").removeAttr("checked");
            $("#HasDocumentBridge").removeAttr("checked");
        }
    }
    function loadTemplatePopup(url) {


        //document.getElementById("iframeTemplate").src = url;
        //centerTemplatePopup();


        //$("#backgroundTemplatePopup").css({
        //    "opacity": "0.7"
        //});

        //$("#backgroundTemplatePopup").fadeIn("slow");
        //$("#divTemplate").fadeIn("slow");


        document.getElementById("iframeTemplate").src = url;

        $("#EmailTemplatemodal").modal('show');
        return false;

    }

    function centerTemplatePopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divTemplate").height();
        var popupWidth = $("#divTemplate").width();
        //centering
        $("#divTemplate").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6

        $("#backgroundTemplatePopup").css({
            "height": windowHeight
        });
        return false;
    }


    function disableTemplatePopup() {

        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundTemplatePopup").fadeOut("slow");
            $("#divTemplate").fadeOut("slow");
            popupStatus = 0;
        }

    }
</script>