﻿@model BLL.ViewModels.XACTAutoClaimsInfoViewModel
@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

<div class="form-body" style="padding: 0px;padding-left: 11px;">
    @*<h5 class="form-section">Owner Information</h5>*@
    <div class="row">
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Name :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.InsuredFirstName @Model.claim.InsuredLastName</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Address :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.InsuredAddress1 @Model.claim.InsuredAddress2</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Email:</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.InsuredEmail </p>
                </div>
            </div>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Home Phone:</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.InsuredHomePhone </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign "> Mobile Phone :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.InsuredMobilePhone</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign "> Business Phone :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.InsuredBusinessPhone </p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign ">Zip:</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.InsuredZip </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign "> State :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.InsuredState </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group FormControlMargin">
                <label class="control-label col-md-6 FormControlTextAlign "> City :</label>
                <div class="col-md-6">
                    <p class="form-control-static"> @Model.claim.InsuredCity </p>
                </div>
            </div>
        </div>
    </div>
   
</div>
