﻿@model BLL.ViewModels.ServiceProviderRegistrationViewModel
@using CSS
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

<div class="modal fade bs-modal-lg in" id="CreateInternalContactPopup" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#406E98 !important; color:white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="Close();"></button>
                <h4 class="modal-title">Create Claim Representative</h4>
            </div>
            <div class="modal-body">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div id="internalContactErrorList" style="color:red;">

                    </div>
                    <form action="#" id="frmCreateInternalContact" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">First Name </label>
                                <div class="col-md-3">
                                    <input type="hidden" id="hdnuserid" value="@Model.user.UserId" name="user.userId"/>
                                    <input type="hidden" id="hdnHeadCompanyId" value="@Model.user.HeadCompanyId" name="user.HeadCompanyId" />
                                    @Html.TextBoxFor(model => model.user.FirstName, Model.user.FirstName, new { @id = "txtIntContFirstName", @name = "FirstName", @class = "form-control", @tabindex = "1" })
                                    @*<input type="text" class="form-control" id="txtFirstName" name="FirstName" placeholder="Enter First Name" tabindex="1">*@
                                </div>
                                <label class="col-md-2 control-label">Email Address</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.user.Email, Model.user.Email, new { @id = "txtIntContEmail", @name = "EmailAddress", @class = "form-control", @tabindex = "4" })
                                        @*<input type="email" class="form-control" id="txtEmail" name="EmailAddress" placeholder="Email Address" tabindex="4">*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Middle Name</label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.user.MiddleInitial, Model.user.MiddleInitial, new { @id = "txtIntContMiddleName", @name = "MiddleName", @class = "form-control", @tabindex = "2" })
                                    @*<input type="text" class="form-control" id="txtMiddleName" name="MiddleName" placeholder="Enter Middle Name" tabindex="2">*@
                                </div>
                                <label class="col-md-2 control-label">Mobile Number</label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.user.MobilePhone, Model.user.MobilePhone, new { @id = "txtIntContMobile", @name = "MobileNumber", @class = "form-control", @tabindex = "5" })
                                    @*<input type="text" class="form-control" id="txtMobile" name="MobileNumber" placeholder="Enter Mobile Number" tabindex="8">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Last Name</label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.user.LastName, Model.user.LastName, new { @id = "txtIntContLastName", @name = "LastName", @class = "form-control", @tabindex = "3" })
                                    @*<input type="text" class="form-control" id="txtLastName" name="LastName" placeholder="Enter Last Name" tabindex="3">*@
                                </div>
                                <label class="col-md-2 control-label">IsDefault</label>
                                <div class="col-md-3">
                                    @{
                                        BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();                                        
                                        var companydetails = css.Companies.Find(@Model.user.HeadCompanyId);
                                        if(companydetails != null)
                                        {                                            
                                         if(companydetails.IsDefault == @Model.user.UserId)
                                         {
                                             Model.IsDefault = true;
                                         }
                                         else
                                         {
                                             Model.IsDefault = false;
                                             //IsDefaultChk = "checked='checked'";                                             
                                         }  
                                        }
                                     }
                                    @Html.CheckBoxFor(model => model.IsDefault, new { id = "IsDefault", @name = "IsDefault", @style = "width: 10%; height: 25px;" })
                                </div>
                            </div>
                            
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal" onclick="Close();">Close</button>
                <button type="button" class="btn green" id="btnSave" onclick="SPRegistration.SaveInternalContact('@Model.user.UserId');">Save</button>                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>