﻿@using CSS
@using BLL
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    ChoiceSolutionsEntities css = new ChoiceSolutionsEntities();
    if (loggedInUser != null)
    {
        BLL.User LoggedInUser = css.Users.Find(loggedInUser.UserId);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <title>@ViewBag.Title - IADA</title>

    <base href="@MvcApplication.WebAppURL" />
    @*    <base href="http://localhost/IADA/" />*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="#1 selling multi-purpose bootstrap admin theme sold in themeforest marketplace packed with angularjs, material design, rtl support with over thausands of templates and ui elements and plugins to power any type of web applications including saas and admin dashboards. Preview page of Theme #2 for blank page layout"
          name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/assets/layouts/layout2/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/layouts/layout2/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/layouts/layout2/css/custom.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/siteFont.css" rel="stylesheet" />

    @*<script src="~/Scripts/angular.min.js"></script>*@
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />

    <style type="text/css">
        .backgroundcolor {
            background-color: #406E98 !important;
        }

        .menubackgroundcolor {
            background-color: #384856 !important;
        }

        .logoIADA {
            font-size: 25px;
            font-weight: bold;
            color: white;
            padding-left: 10px;
            padding-bottom: 2px;
            margin: 3px 0 0 !important;
            font-style: italic;
            /*letter-spacing: 2px;*/
        }
    </style>



    <!-- END HEAD -->
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top" style="height:40px;">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner backgroundcolor" style="height:40px;">
            <!-- BEGIN LOGO -->
            <div class="page-logo backgroundcolor" style="height:40px;">

                <a class="" href="@Url.Content("~/")">
                    <img src="@Url.Content("~/wp-content/uploads/2016/05/IADA-Auto-Damage-Appraisal-Logo-300x108.png")" id="javo-header-logo" style="
                       height: 99px; margin-top: -14px; margin-left: -23px;"> </a>
             </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- BEGIN PAGE TOP -->
            <div class="page-top backgroundcolor" style="height: 70px;">
              
                <div class="top-menu" style="height:40px;margin-top: 10px;">
                    <ul class="nav navbar-nav pull-right">
                      
                        <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                            <a href="javascript:;" onclick="MainLayout.NotificationPopup();" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-bell"></i>
                                @{
                                    Int32 notificationcount;
                                    if (loggedInUser != null)
                                    {
                                        var autonotes = css.AutoNotes.Where(x => x.ToUserId == loggedInUser.UserId && x.IsView == null || x.IsView == false).ToList();
                                        notificationcount = autonotes.Count();
                                        <span class="badge badge-default">@notificationcount</span>
                                    }
                                }
                            </a>
                           
                        </li>
                     
                        @{
                            if (loggedInUser != null)
                            {
                                <li class="dropdown dropdown-user">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        @*<img alt="" class="img-circle" src="../assets/layouts/layout2/img/avatar3_small.jpg" />*@
                                        <i class="icon-user"></i>
                                        <span class="username username-hide-on-mobile">@loggedInUser.UserName</span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-default">
                                        <li>
                                            <a href="~/Account/UserProfile">
                                                <i class="icon-user"></i> My Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Submit", "ServiceProviderRegistration", new { SPID = loggedInUser.UserId })">
                                                <i class="fa fa-edit"></i> Edit Registration Info
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Account/LogOut" onclick="MainLayout.ClearCookie()">
                                                <i class="icon-key"></i> Log Out
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }
                        <!-- END USER LOGIN DROPDOWN -->
                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                     
                      
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container" style="margin-top: 70px !important">
        <!-- BEGIN SIDEBAR -->
      
        <div class="page-sidebar-wrapper">
          
            <div class="page-sidebar navbar-collapse collapse menubackgroundcolor">
                <!-- BEGIN SIDEBAR MENU  -->
               
                <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="margin-left: -6px;">
                    @{
                        if (loggedInUser != null)
                        {
                            <li class="nav-item start" id="liHome" onclick="MainLayout.HighlightLink('liHome')">
                                <a href="~/Home/Index" class="nav-link nav-toggle">
                                    <i class="icon-home"></i>
                                    <span class="title">Home</span>
                                </a>
                            </li>


                            bool hasQAAgentRights = loggedInUser.AssignedRights.Where(x => x == 1).ToList().Count == 1 ? true : false; //SPX/Examiner

                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3) //3 is Claim Rep. and 2 is admin
                            {

                                <li class="nav-item" id="liSearchAssign">
                                    <a href="~/SPMapSearch/Search" class="nav-link nav-toggle" onclick="MainLayout.HighlightLink('liSearchAssign')">
                                        <i class="icon-pointer"></i>
                                        @*<i class="icon-folder"></i>*@
                                        <span class="title">Search & Assign</span>
                                    </a>
                                </li>
                               
                            }

                            if (loggedInUser != null)
                            {
                                BLL.User LoggedInUser = css.Users.Find(loggedInUser.UserId);
                                if (LoggedInUser.HeadCompanyId != null && LoggedInUser.MgrId == null && LoggedInUser.UserTypeId == 1) // 1 is the SP
                                {
                                    <li class="nav-item" id="liActiveLocations">
                                        <a href="~/SPMapSearch/Search?sptype=act" class="nav-link nav-toggle" onclick="MainLayout.HighlightLink('liActiveLocations')">
                                            @*<i class="icon-folder"></i>*@
                                            <i class="icon-pointer"></i>
                                            <span class="title">Active Locations</span>
                                        </a>
                                    </li>
                                }
                            }

                            <li class="nav-item start" id="liClaimManagement">
                                <a href="~/AutoAssignment/AutoSearch" class="nav-link nav-toggle" onclick="MainLayout.HighlightLink('liClaimManagement')">
                                    <i class="icon-briefcase"></i>
                                    @*<i class="icon-diamond"></i>*@
                                    <span class="title">Claim Management</span>
                                </a>
                            </li>

                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 1)
                            {
                                <li class="nav-item start" id="liInvoiceManagement">
                                    <a href="~/AutoAssignment/InvoiceAutoSearch" class="nav-link nav-toggle" onclick="MainLayout.HighlightLink('liInvoiceManagement')">
                                        <i class="icon-briefcase"></i>
                                        <span class="title">Invoice Management</span>
                                    </a>
                                </li>
                            }
                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3 || loggedInUser.UserTypeId == 8 || hasQAAgentRights) //2 admin and 3 claim Rep.
                            {
                                <li class="nav-item" id="liQAReview">
                                    <a href="~/AutoAssignment/AutoSearch?reviewType=QAAgent_Review" class="nav-link nav-toggle" onclick="MainLayout.HighlightLink('liQAReview')">
                                        @*<a href="javascript:;" class="nav-link nav-toggle">*@
                                        <i class="icon-folder"></i>
                                        <span class="title">QA Review</span>
                                    </a>
                                </li>
                            }
                            if (loggedInUser.UserTypeId == 2)
                            {
                                @*<li class="nav-item" id="liInvoiceManagement">
                                        <a href="javascript:;" class="nav-link nav-toggle">
                                            <i class="icon-wallet"></i>
                                            <span class="title">Invoice Management</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="liRealTime">
                                        <a href="javascript:;" class="nav-link nav-toggle">
                                            <i class="icon-clock"></i>
                                            <span class="title">Real Time</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </li>*@
                                <li class="nav-item" id="liAdmin">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        @*<i class="icon-basket"></i>*@
                                        <i class="icon-user"></i>
                                        <span class="title">Admin</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu" style="margin-left: 100px;">
                                        <li class="nav-item  ">
                                            <a href="~/ServiceProviders/Search" class="nav-link " onclick="MainLayout.HighlightLink('liAdmin')">
                                                <span class="title">Manage Service Providers</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="~/InsuranceSetUp/CompaniesList" class="nav-link " onclick="MainLayout.HighlightLink('liAdmin')">
                                                <span class="title">Manage Insurance Companies</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="~/ServiceTypeManagement/ServiceTypes" class="nav-link " onclick="MainLayout.HighlightLink('liAdmin')">
                                                <span class="title">Manage Service Type</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="~/BatchPayments/AutoBatchPayments" class="nav-link " onclick="MainLayout.HighlightLink('liAdmin')">
                                                <span class="title">Batch Payments</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            if (loggedInUser.UserTypeId == 2 || loggedInUser.UserTypeId == 3) //3 is Claim Rep. and 2 is admin
                            {
                            <li class="nav-item" id="liReports">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-docs"></i>
                                    <span class="title">Reports</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu" style="margin-left: 100px;">

                                        <li class="nav-item  ">
                                            <a href="~/Reports/InvoiceTrackerReport" class="nav-link " onclick="MainLayout.HighlightLink('liReports')">
                                                <span class="title">Invoice Tracker</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="~/Reports/PayrollSummaryReport" class="nav-link " onclick="MainLayout.HighlightLink('liReports')">
                                                <span class="title">PAYROLL SUMMARY REPORT</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="~/Reports/PayrollHistoryReport" class="nav-link " onclick="MainLayout.HighlightLink('liReports')">
                                                <span class="title">PAYROLL HISTORY REPORT</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="~/Reports/BulkInvoiceHistoryReport" class="nav-link " onclick="MainLayout.HighlightLink('liReports')">
                                                <span class="title">BULK INVOICE HISTORY REPORT</span>
                                            </a>
                                        </li>
                                </ul>
                            </li>
                           <li class="nav-item" id="liFavouriteSP">
                               <a href="~/SPMapSearch/Search?sptype=fav" class="nav-link nav-toggle" onclick="MainLayout.HighlightLink('liFavouriteSP')">
                                   @*<i class="icon-folder"></i>*@
                                   <i class="icon-diamond"></i>
                                   <span class="title">Favorite Providers</span>
                               </a>
                           </li>
                          }
                        }
                   }

                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
        </div>

        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper menubackgroundcolor">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content" style="margin-left:100px; min-height: 850px;overflow: inherit;">
                <!-- BEGIN PAGE HEADER style="margin-left:100px;"-->
                <!-- BEGIN THEME PANEL -->
                <div class="theme-panel">

                </div>

                <!-- END PAGE HEADER-->
             
                @RenderBody()
            </div>
            <!-- END CONTENT BODY -->

        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler">
            <i class="icon-login"></i>
        </a>
      
        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2016 &copy; IADA VM2
            @*<a target="_blank" href="http://keenthemes.com">Keenthemes</a> &nbsp;|&nbsp;
                <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>*@
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
        <!-- BEGIN QUICK NAV -->
      
    </div>
    <div class="quick-nav-overlay"></div>
    <div id="FormNotification">

    </div>
    <div id="FormNotificationView">

    </div>
  
    <!--[if lt IE 9]>
    <script src="~/assets/global/plugins/respond.min.js"></script>
    <script src="~/assets/global/plugins/excanvas.min.js"></script>
    <script src="~/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->

    <script src="~/assets/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @*<script src="~/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js"></script>*@
    @*@Scripts.Render("~/bundles/jqueryval");*@
    <script src="~/assets/global/plugins/datatables/datatables.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>

    @*<script src="~/assets/pages/scripts/components-ion-sliders.min.js"></script>*@

    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/pages/scripts/components-select2.min.js"></script>
    
    @*Angular Dependancies*@


    <script src="~/Scripts/angular.min.js"></script>
    @*<script src="~/assets/global/plugins/angularjs/angular.min.js"></script>*@
    <script src="~/Scripts/angular-animate.min.js"></script>

    <script src="~/Views/Shared/ngAPP.js"></script>

    @RenderSection("PageLevelScript", false)


    <script>

            debugger;
            var contrName = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()';
            var action = '@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString()';
            var para = '@Request.Url.Query';
            var NotificationPopupUrl = '@Url.Action("NotificationList", "Home")';
            var ShowNotificationUrl = '@Url.Action("NotificationView", "Home")';
            var CloseNotificationUrl = '@Url.Action("NotificationIsViewUpdate", "Home")';
      
    </script>
    <script src="~/Scripts/Customs/MainLayout.js"></script>

</body>
</html>