﻿@model BLL.ViewModels.LoginViewModel


    <div class="logo">
        <h2 class="form-title font-green" style="font-size: 36px; font-weight: bold;">IADA</h2>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
    
  
        @if (HttpContext.Current.User.Identity.IsAuthenticated == false)
        {

            <form class="login-form" action="@Url.Content("~/Account/Login")" method="post">
                <h3 class="form-title font-green">Login to your account</h3>

                <div class="errorMsg" style="color:red;">
                    @*<div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>*@
                    @Html.ValidationSummary(false)
                    @if (TempData["errorMsg"] != null)
                    {
                        <ul><li>  @TempData["errorMsg"]</li></ul>
                    }
                    @*</div>*@
                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        @Html.TextBoxFor(model => model.UserName, new {@id="txtUserName", @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Username" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        @Html.PasswordFor(Model => Model.Password, new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Password" })
                    </div>

                </div>
                <div class="form-actions">
                    @*<a href="~/ServiceProviderRegistration/Submit" class="btn green uppercase">Register</a>*@
                    <button type="submit" class="btn green uppercase">Login</button>
                    <label class="rememberme check mt-checkbox mt-checkbox-outline">
                        @*<input type="checkbox" name="remember" value="">*@
                        @Html.CheckBoxFor(model=>model.RememberMe) Remember
                        <span></span>
                    </label>
                    <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                </div>
                <div class="create-account">
                    <p>
                        <a class="uppercase" id="register-btn" data-toggle="modal" onclick="registerlink()">Create an account</a>
                        @*<a href="~/ServiceProviderRegistration/Submit" id="register-btn" class="uppercase">Create an account</a>*@
                    </p>
                </div>
            </form>
            <form class="forget-form" action="@Url.Content("~/Account/ResetPassword")" method="post" novalidate="novalidate" style="display: none;">
                <h3 class="font-green">Forget Password ?</h3>
                <p> Enter your e-mail address below to reset your password. </p>
                <div class="form-group has-error">
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="UserEmail" aria-required="true" aria-describedby="email-error">
                </div>
                <div class="form-actions">
                    <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
                    <button type="button" id="btnFrmForgotPassword" class="btn btn-success uppercase pull-right">Submit</button>
                </div>
            </form>

        }
        else
        {
                <div style="padding-bottom:11px;text-align:center;"> You are Logged Out as <b>@HttpContext.Current.User.Identity.Name</b></div>
                <div style="text-align:center;">
                    <a href="~/Account/LogOut" onclick="ClearCookie()" class="btn green uppercase">
                        <b> Go to Login Screen </b>
                    </a>
                </div>
            }
            
            @*register*@
            <div class="modal fade" id="divregister" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        @*<div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal Title</h4>
                        </div>*@
                        <div class="modal-body">
                            <br />
                            <div class="clearfix">                               
                                @*<a class="btn blue btn-block" href="~/ServiceProviderRegistration/Submit">Register as a Claim Service Provider</a>*@
                                <a class="btn blue btn-block" href="~/InsuranceSetup/CreateCompany">Register as Insurance Claim Professional</a>
                                @*<button class="btn blue btn-block btn-outline " href="~/ServiceProviderRegistration/Submit">Register as Insurance Company</button>*@                                
                            </div>
                            <br />                           
                        </div>                       
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
       
    </div>

