﻿@model BLL.ViewModels.PropertyAssignmentViewModel
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+20"

    });
    });
    function copyInsuredToLossOnBlur() {
        if (document.getElementById('cbCopyInsuredToLoss').checked) {
            copyInsuredToLoss();
        }
    }
    $(document).ready(function () {
        $("#txtPropertyContactPhone").mask("(999) 999-9999");

        $("#txtPropertyZip").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) ||
                // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });
    });
</script>

<table width="100%">
    <tr>
        <td colspan="4" class="subHeading">Loss Information</td>
    </tr>


    <tr>
        <td width="20%">*Type of Loss 
        </td>
        <td width="25%">
            @Html.DropDownListFor(model => model.Claim.CauseTypeOfLoss, Model.LossTypesList, new { style = "width: 170px;" })
        </td>
        <td width="20%">Property Access Contact Name 
        </td>
        <td >
            @Html.TextBoxFor(model => model.Claim.PropertyContactName)
        </td>
    </tr>
    <tr>
        <td>*Address 1 
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.PropertyAddress1, new { @id = "txtPropertyAddress1", @onblur = "copyInsuredToLossOnBlur()" })

        </td>
        <td width="20%">Property Access Contact Phone 
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.PropertyContactPhone, new { id = "txtPropertyContactPhone" })

        </td>
    </tr>
    <tr>
        <td>Address 2
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.PropertyAddress2, new { @id = "txtPropertyAddress2", @onblur = "copyInsuredToLossOnBlur()" })

        </td>
        <td width="20%">*Loss Date 
        </td>
        <td>

            @Html.TextBoxFor(model => model.Claim.DateofLoss, new { @class = "DatePickerTextBox", @Value = (Model == null || Model.Claim.DateofLoss == null ? string.Empty : Convert.ToDateTime(Model.Claim.DateofLoss).ToString("MM/dd/yyyy")) })

        </td>

    </tr>
    <tr>
        <td>*Zip
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.PropertyZip, new { @id = "txtPropertyZip", @onblur = "populateZipData('txtPropertyZip','ddlPropertyState','txtPropertyCity')" })


        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>*State
        </td>
        <td>
            @Html.DropDownListFor(model => model.Claim.PropertyState, Model.StateList, new { style = "width: 170px;", @id = "ddlPropertyState", @onblur = "copyInsuredToLossOnBlur()" })


        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>*City
        </td>
        <td>
            @Html.TextBoxFor(model => model.Claim.PropertyCity, new { @id = "txtPropertyCity", @onblur = "copyInsuredToLossOnBlur()" })


        </td>
        <td></td>
        <td></td>
    </tr>

</table>
