﻿@using CSS
@using BLL
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <base href="@MvcApplication.WebAppURL" />
    @*    <base href="http://localhost/IADA/" />*@

    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="#1 selling multi-purpose bootstrap admin theme sold in themeforest marketplace packed with angularjs, material design, rtl support with over thausands of templates and ui elements and plugins to power any type of web applications including saas and admin dashboards. Preview page of Theme #2 for blank page layout"
          name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

    @*<link href="~/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" />*@
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/assets/layouts/layout2/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/layouts/layout2/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/layouts/layout2/css/custom.min.css" rel="stylesheet" type="text/css" />
  
    @*<script src="~/Scripts/angular.min.js"></script>*@
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
  

    <style type="text/css">
        .backgroundcolor {
            background-color: #406E98 !important;
        }

        .menubackgroundcolor {
            background-color: #384856 !important;
        }

        .logoIADA {
            font-size: 25px;
            font-weight: bold;
            color: white;
            padding-left: 10px;
            padding-bottom: 2px;
            margin: 3px 0 0 !important;
            font-style: italic;
            /*letter-spacing: 2px;*/
        }
    </style>



    <!-- END HEAD -->
</head>
<body >
    <!-- BEGIN HEADER -->

    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
      
     
        <!-- BEGIN CONTENT -->
        <div>
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content" >
                <!-- BEGIN PAGE HEADER style="margin-left:100px;"-->
                <!-- BEGIN THEME PANEL -->
                <div class="theme-panel">

                </div>

                <!-- END PAGE HEADER-->
                @*<div class="note note-info">
                        <p> A black page template with a minimal dependency assets to use as a base for any custom page you create </p>
                    </div>*@
                @RenderBody()
            </div>
            <!-- END CONTENT BODY -->

        </div>
        <!-- END CONTENT -->
        
    
        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->

    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    @*<script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>*@
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    @*<script src="~/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>*@
    @*<script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>*@

    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->

    <script src="~/assets/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
    @*<script src="~/assets/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>*@
    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @*<script src="~/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js"></script>*@
    @*<script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>*@
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    @*<script src="~/assets/pages/scripts/components-ion-sliders.min.js"></script>*@
    @*<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>*@
    <!-- END PAGE LEVEL SCRIPTS -->
    @*Angular Dependancies*@



    @RenderSection("PageLevelScript", false)
  

</body>
</html>