﻿
<div id="DocUpload" class="modal fade in" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width:70%">
        <form id="FrmDocUpload">
            <div class="modal-content" id="DIVmultiFileUpload">
                <div ng-controller="FileUploadCtrl" ng-init="InitController()">
                    <div class="modal-header modalHead" style="background-color: #406E98 !important; color: white !important;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Document Upload</h4>
                    </div>
                    <div class="modal-body">
                        <div class="scroller" data-always-visible="1" data-rail-visible1="1">
                            <div style="color:red" ng-bind-html="ModelErrors">
                              
                            </div>
                            <div class="col-md-12 col-sm-12" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                                <div class="form-group" style="margin-bottom: 90px !important; margin-top: 35px !important;">
                                    <label class="col-md-2 control-label">Document Type :</label>
                                    <div class="col-md-10">
                                        @*@Html.DropDownListFor(model => model.claim.ClaimTypeId, Model.ClaimTypeList, new { @class = "form-control" })*@
                                        @*@Html.DropDownListFor(model => model.ClaimDocumentType, Model.DocumentList, new { @class = "form-control", @id = "Doctype" })*@
                                        <select ng-model="DocTypeID" class="form-control">
                                            <option value="0">Select</option>
                                            <option ng-repeat="ClaimDoc in DocumentList" value="{{ClaimDoc.ClaimDocId}}">{{ClaimDoc.ClaimDocDescription}}</option>
                                        </select>
                                        <input type="hidden" id="hdnAssignmentID" name="hdnAssignmentID" />
                                        <label style="display:none; color:red;" id="lblDoc">Select Document Type</label>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 150px !important;">
                                    <label class="col-md-2 control-label">Title :</label>
                                    <div class="col-md-10">
                                        <input type="text" ng-model="txtDocTitle" class="form-control" id="txtTitle">
                                        <label style="display:none; color:red;" id="lblTitle">Enter the Title</label>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 150px !important;">
                                    <label class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <div class="portlet light" style="padding: 0px 0px 0px;">
                                            <div class="portlet-title">
                                                <div class="caption font-green-sharp">
                                                    <i class="icon-settings font-green-sharp"></i>
                                                    <span class="caption-subject bold uppercase">Select files</span>
                                                    <span class="caption-helper hide"></span>
                                                </div>
                                                <div class="actions">
                                                    @*<a class="btn btn-circle btn-icon-only btn-default" href="#">
                                                        <i class="icon-cloud-upload"></i>
                                                     </a>
                                                     <a class="btn btn-circle btn-icon-only btn-default" href="#">
                                                         <i class="icon-wrench"></i>
                                                     </a>*@
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="col-md-8">
                                                    <div ng-show="uploader.isHTML5">
                                                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                                                        <div class="file-drop-zone margin-bottom-20" nv-file-over="" uploader="uploader" over-class="file-drop-zone-over"> Base drop zone </div>
                                                        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                                        @*<div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                                                          <div nv-file-over="" uploader="uploader" over-class="file-drop-zone-over" class="file-drop-zone margin-bottom-20"> Another drop zone with its own settings </div>
                                                      </div>*@
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->Multiple
                                                    <input type="file" nv-file-select="" uploader="uploader" multiple />
                                                </div>
                                                @*<br /> Single
                                                 <input type="file" nv-file-select="" uploader="uploader" />*@
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-group" style="margin-bottom: 150px !important;">
                                    <label class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <div class="portlet light" style="padding: 0px 0px 0px;">
                                            <div class="portlet-title">
                                                <div class="caption font-green-sharp">
                                                    <i class="icon-settings font-green-sharp"></i>
                                                    <span class="caption-subject bold uppercase">Upload queue</span>
                                                    <span class="caption-helper">Queue length: {{ uploader.queue.length }}</span>
                                                </div>
                                                <div class="actions">

                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-scrollable table-scrollable-borderless">
                                                    <table class="table table-hover table-light">
                                                        <thead>
                                                            <tr class="uppercase">
                                                                <th width="50%">Name</th>
                                                                <th ng-show="uploader.isHTML5">Size</th>
                                                                @*<th ng-show="uploader.isHTML5">Progress</th>*@
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in uploader.queue">
                                                                <td>
                                                                    <strong>{{ item.file.name }}</strong>
                                                                </td>
                                                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                                @*<td ng-show="uploader.isHTML5">
                                    <div class="progress progress-sm" style="margin-bottom: 0;">
                                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>*@
                                                                <td class="text-center">
                                                                    <span ng-show="item.isSuccess" class="text-success">
                                                                        <i class="glyphicon glyphicon-ok"></i>
                                                                    </span>
                                                                    <span ng-show="item.isCancel" class="text-info">
                                                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                                                    </span>
                                                                    <span ng-show="item.isError" class="text-danger">
                                                                        <i class="glyphicon glyphicon-remove"></i>
                                                                    </span>
                                                                </td>
                                                                <td nowrap>
                                                                    @*<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>*@
                                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                @*<div>
                    <p>Queue progress:</p>
                    <div class="progress progress-sm" style="">
                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>*@
                                                @* <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                                                </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>*@
                                                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                                


                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div style="float: left;padding-left:100px" ng-show="spinnerVisible" class="waiting-boxSP">
                            <img src="@Url.Content("~/Content/Images/waiting.gif")" width="30" height="30" />
                        </div>
                        <button type="button" class="btn purple" ng-click="UploadDocs()" id="btnAddDocument">
                            <i class="fa fa-upload"></i> Upload Documents
                        </button>
                        <button type="button" class="btn dark btn-outline" ng-click="ClearPopup()">Clear</button>
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline" id="btnCloseDocument" ng-click="ClearPopup()">Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="~/assets/global/plugins/angularjs/angular-sanitize.min.js"></script>
<script src="~/assets/global/plugins/angularjs/angular-touch.min.js"></script>
<script src="~/assets/global/plugins/angularjs/plugins/angular-ui-router.min.js"></script>
<script src="~/assets/global/plugins/angularjs/plugins/ocLazyLoad.min.js"></script>
<script src="~/assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js"></script>
<script src="~/assets/global/plugins/angularjs/plugins/angular-file-upload/angular-file-upload.min.js"></script>
<script>
    'use strict';


    angular.module('CSSMVCApp', ['angularFileUpload'])
    .service('ajaxService', ['$http', function ($http, BlockUI) {

        // setting timeout of 1 second to simulate a busy server.

        this.AjaxPost = function (data, route, successFunction, errorFunction) {
     
            setTimeout(function () {
                $http.post(route, data).success(function (response, status, headers, config) {
         
                    successFunction(response, status);
                }).error(function (response) {
              
                    if (response.IsAuthenicated == false) { window.location = "/index.html"; }
                    errorFunction(response);
                });
            }, 100);

        }
        this.AjaxGetWithDataResponseType = function (data, route,ResponseType, successFunction, errorFunction) {

            setTimeout(function () {
                $http({ method: 'GET', url: route, params: data, responseType: ResponseType }).success(function (response, status, headers, config) {

                    successFunction(response, status, headers);
                }).error(function (response) {

                    if (response.IsAuthenicated == false) { window.location = "/index.html"; }
                    errorFunction(response);
                });
            }, 100);

        }

        this.AjaxGet = function (route, successFunction, errorFunction) {
     
            setTimeout(function () {
                $http({ method: 'GET', url: route }).success(function (response, status, headers, config) {
             
                    successFunction(response, status);
                }).error(function (response) {
              
                    if (response.IsAuthenicated == false) { window.location = "/index.html"; }
                    errorFunction(response);
                });
            }, 100);

        }

        this.AjaxGetWithData = function (data, route, successFunction, errorFunction) {
       
            setTimeout(function () {
                $http({ method: 'GET', url: route, params: data }).success(function (response, status, headers, config) {
                
                    successFunction(response, status);
                }).error(function (response) {
               
                    if (response.IsAuthenicated == false) { window.location = "/index.html"; }
                    errorFunction(response);
                });
            }, 100);

        }
        //ajax post with file data
        this.AjaxPostwithFile = function (data, route, successFunction, errorFunction) {
     
            setTimeout(function () {
                $http.post(route, data, {
                    headers: { 'Content-Type': undefined },
                    transformRequest: angular.identity

                }).success(function (response, status, headers, config) {
             
                    successFunction(response, status);
                }).error(function (response) {
              
                    if (response.IsAuthenicated == false) { window.location = "/index.html"; }
                    errorFunction(response);
                });
            }, 100);

        }
    }])
     .service('MultiFileService', ['ajaxService', function (ajaxService) {
         this.InitMultiFileUpload = function (data, successFunction, errorFunction) {
             ajaxService.AjaxGetWithData(data, "AutoAssignment/InitmultiDocUploader", successFunction, errorFunction);
         };

         this.DocUpload = function (postData, successFunction, errorFunction) {
             ajaxService.AjaxPostwithFile(postData, "AutoAssignment/UploadClaimDocument1", successFunction, errorFunction);
         };
     }])


    .controller('FileUploadCtrl', ['$scope', 'FileUploader', 'MultiFileService', '$sce', function ($scope, FileUploader, MultiFileService, $sce) {

        $scope.InitController = function () {
            $scope.InitMultiFileUpload();
            $scope.DocTypeID = "0";
            $scope.ModelErrors = "";
            $scope.spinnerVisible = false;
        }
        $scope.InitMultiFileUpload = function () {
            var PostData = { assignmentID: document.getElementById("hdnAssignmentID").value };
            MultiFileService.InitMultiFileUpload(PostData, $scope.InitMultiFileUploadCompleted, $scope.InitMultiFileUploadError)
        }
        $scope.InitMultiFileUploadCompleted = function (response, status) {
            $scope.DocumentList = response.DocumentList;

        }
        $scope.InitMultiFileUploadError = function (response, status) {

        }
        var uploader = $scope.uploader = new FileUploader({
            url: 'AutoAssignment/UploadClaimDocument1'
        });

        // FILTERS
        $scope.validateModel = function () {
            debugger;
            var Iserror = true;
            var vErrors = "<ul>";
            if ($scope.DocTypeID=="0")
            {
                Iserror = false;
                vErrors += "<li>Please Select Doc Type</li>";
            }
            else if ($scope.uploader.queue.length == 0) {
                Iserror = false;
                vErrors += "<li>Please Select Document</li>";
            }
            else if (angular.isUndefined($scope.txtDocTitle) || $scope.txtDocTitle.length <= 2) {
                Iserror = false;
                vErrors += "<li>Please Enter DocumentTitle</li>";
            }
            vErrors += "</ul>";
            if (Iserror == false) {
                $scope.ModelErrors = $sce.trustAsHtml(vErrors);
            }
            else {
                $scope.ModelErrors = "";
            }
            return Iserror;
        }

        $scope.UploadDocs = function () {
            debugger;
           
            if ($scope.validateModel()) {
                $scope.spinnerVisible = true;
                var formdata = new FormData();

                for (var i = 0; i < $scope.uploader.queue.length; i++) {
                    formdata.append("uploadFile", $scope.uploader.queue[i]._file);
                }

                formdata.append("ClaimDocumentType", $scope.DocTypeID);
                formdata.append("hdnAssignmentID", document.getElementById("hdnAssignmentID").value);
                formdata.append("txtTitle", $scope.txtDocTitle);
                var PostData = formdata;
                MultiFileService.DocUpload(PostData, $scope.saveDocumentCompleted, $scope.saveDocumentError)
            }
        }
        $scope.saveDocumentCompleted = function (response, status) {
            $scope.spinnerVisible = false;
            $scope.uploader.clearQueue();
            $scope.txtDocTitle = "";
            $scope.DocTypeID = "0";
            if (response == "1") {
                alert("Document Uploaded Successfully");
            }
            else {
                alert("An error occured while uploading Documents");
            }
        }
        $scope.saveDocumentError = function (response, status) {
            // window.location = "/index.html";
            $scope.spinnerVisible = true;
        }
        $scope.ClearPopup = function () {
            $scope.spinnerVisible = false;
            $scope.uploader.clearQueue();
            $scope.txtDocTitle = "";
            $scope.DocTypeID = "0";
        }
        uploader.filters.push({
            name: 'customFilter',
            fn: function (item /*{File|FileLikeObject}*/, options) {
                return this.queue.length < 10;
            }
        });

        // CALLBACKS

        uploader.onWhenAddingFileFailed = function (item /*{File|FileLikeObject}*/, filter, options) {
            console.info('onWhenAddingFileFailed', item, filter, options);
        };
        uploader.onAfterAddingFile = function (fileItem) {
            console.info('onAfterAddingFile', fileItem);
        };
        uploader.onAfterAddingAll = function (addedFileItems) {
            console.info('onAfterAddingAll', addedFileItems);
        };
        uploader.onBeforeUploadItem = function (item) {
            console.info('onBeforeUploadItem', item);
        };
        uploader.onProgressItem = function (fileItem, progress) {
            console.info('onProgressItem', fileItem, progress);
        };
        uploader.onProgressAll = function (progress) {
            console.info('onProgressAll', progress);
        };
        uploader.onSuccessItem = function (fileItem, response, status, headers) {
            console.info('onSuccessItem', fileItem, response, status, headers);
        };
        uploader.onErrorItem = function (fileItem, response, status, headers) {
            console.info('onErrorItem', fileItem, response, status, headers);
        };
        uploader.onCancelItem = function (fileItem, response, status, headers) {
            console.info('onCancelItem', fileItem, response, status, headers);
        };
        uploader.onCompleteItem = function (fileItem, response, status, headers) {
            console.info('onCompleteItem', fileItem, response, status, headers);
        };
        uploader.onCompleteAll = function () {
            console.info('onCompleteAll');
        };

        console.info('uploader', uploader);
    }]);
</script>
