﻿@using BLL
@model IEnumerable<NotificationList_Result>
@{
    ChoiceSolutionsEntities css = new ChoiceSolutionsEntities();               
}


<div id="divNotification" class="modal fade" tabindex="-1" data-width="400">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #406E98; color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Notification</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="table-scrollable col-md-12">
                        <table class="table table-hover ">
                            <thead style="background-color: #406E98 !important; color: white;">
                                <tr>
                                    <th> Date </th>
                                    <th> Subject </th>
                                    <th> Comment </th>
                                    <th> Source </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.ToList().Count() > 0 && Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.DateCreated</td>
                                                <td>
                                                    <a onclick="ShowNotification(@item.AutoNoteID);">@item.Subject</a>
                                                </td>
                                                <td>@item.Comment</td>
                                                @{
                                            var userdetails = css.Users.Where(x => x.UserId == item.ToUserId).FirstOrDefault();
                                            var company = css.Companies.Where(x => x.CompanyId == userdetails.HeadCompanyId).FirstOrDefault();
                                                }
                                                <td>@company.CompanyName</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>                
            </div>
        </div>
    </div>
</div>

