﻿@using BLL
@model IEnumerable<NotificationList_Result>
@{
    ChoiceSolutionsEntities css = new ChoiceSolutionsEntities();
}


<div id="divNotificationView" class="modal fade" tabindex="-1" data-width="400">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #406E98 !important; color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Notification</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="table-scrollable col-md-12">
                        <table>
                            <tbody>
                                @{
                                    if (Model.ToList().Count() > 0 && Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="hidden" id="hidAutoNoteID" value="@item.AutoNoteID"/>
                                                    <ul class="feeds">                                                                                                                
                                                        @if (item.Subject == "Service Provider assigned")
                                                        {
                                                            <li>
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col2">
                                                                            <div class="desc"> SP <b>@item.ToUserName</b> has been assigned to Claim# <b>@item.ClaimNumber</b>. </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                        else if (item.IsSystemGenerated == false)
                                                        {
                                                            <li>
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col2">
                                                                            <div class="desc"> New Note has been added by <b>@item.FromUserName</b> for Claim# <b>@item.ClaimNumber</b>. </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                        else if (item.Subject == "Document Uploaded")
                                                        {
                                                            <li>
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col2">
                                                                            <div class="desc"> Document <b>@item.DocumentType</b> has been uploaded by <b>@item.FromUserName</b> for Claim# <b>@item.ClaimNumber</b>. </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                        else if (item.Subject == "Status changed to Accepted")
                                                        {
                                                            <li>
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col2">
                                                                            <div class="desc"> Claim# <b>@item.ClaimNumber</b> has been accepted by SP <b>@item.FromUserName</b>. </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                        else if (item.Subject == "Status changed to Estimate Hold")
                                                        {
                                                            <li>
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col2">
                                                                            <div class="desc"> Estimate has been put on hold for Claim# <b>@item.ClaimNumber</b>. </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                        else if (item.Subject == "Status changed to UnApproved")
                                                        {
                                                            <li>
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col2">
                                                                            <div class="desc"> Estimate has been rejected for Claim# <b>@item.ClaimNumber</b>. </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                        else if (item.Subject == "Invoice")
                                                        {
                                                            <li>
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col2">
                                                                            <div class="desc"> Estimate has been approved for Claim# <b>@item.ClaimNumber</b>. </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                        else if (item.Subject == "Marked as Favorite")
                                                        {
                                                            <li>
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col2">
                                                                            @{
                                                            var userdetails = css.Users.Where(x => x.UserId == item.ToUserId).FirstOrDefault();
                                                            var company = css.Companies.Where(x => x.CompanyId == userdetails.HeadCompanyId).FirstOrDefault();
                                                                            }
                                                                            <div class="desc"> You have been marked as Favorite SP by <b>@company.CompanyName</b>. </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                        else if (item.Subject == "Status changed to Contacted")
                                                        {
                                                            <li>
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col2">
                                                                            @{
                                                            var userdetails = css.Users.Where(x => x.UserId == item.ToUserId).FirstOrDefault();
                                                            var company = css.Companies.Where(x => x.CompanyId == userdetails.HeadCompanyId).FirstOrDefault();
                                                                            }
                                                                            <div class="desc"> SP <b>@item.ToUserName</b> has been Contacted to Customer for Claim# <b>@item.ClaimNumber</b>. </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                        else if (item.Subject == "Status changed to Inspected")
                                                        {
                                                            <li>
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col2">
                                                                            @{
                                                            var userdetails = css.Users.Where(x => x.UserId == item.ToUserId).FirstOrDefault();
                                                            var company = css.Companies.Where(x => x.CompanyId == userdetails.HeadCompanyId).FirstOrDefault();
                                                                            }
                                                                            <div class="desc"> SP <b>@item.ToUserName</b> has been Inspected the Site for Claim# <b>@item.ClaimNumber</b>. </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                        else if (item.Subject == "Status changed to Returned")
                                                        {
                                                            <li>
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col2">
                                                                            @{
                                                            var userdetails = css.Users.Where(x => x.UserId == item.ToUserId).FirstOrDefault();
                                                            var company = css.Companies.Where(x => x.CompanyId == userdetails.HeadCompanyId).FirstOrDefault();
                                                                            }
                                                                            <div class="desc"> Estimate has been Returned for Claim# <b>@item.ClaimNumber</b>. </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>*@
                <button type="button" class="btn red" onclick="CloseNotification()">Ok</button>
            </div>
        </div>
    </div>
</div>
