﻿@model BLL.ViewModels.NuGenAutoAssignmentSearchViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}

<div class="form-group">
    <label for="inputEmail1" class="col-md-2 control-label">Service Provider Name:</label>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.objXactAutoAssignmentSearchViewModel.SPName, new { @id = "objXactAutoAssignmentSearchViewModel.txtSPName", @class = "form-control fontsizefortbl" })
    </div>

    <label for="inputPassword12" class="col-md-2 control-label">Zip Code:</label>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.objXactAutoAssignmentSearchViewModel.Zip, new { @id = "objXactAutoAssignmentSearchViewModel.txtZip", @class = "form-control fontsizefortbl" })
    </div>
</div>
<div class="form-group">
    <label for="inputPassword12" class="col-md-2 control-label">City:</label>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.objXactAutoAssignmentSearchViewModel.City, new { @id = "objXactAutoAssignmentSearchViewModel.txtCity", @class = "form-control fontsizefortbl" })
    </div>

    <label for="inputPassword12" class="col-md-2 control-label">State:</label>
    <div class="col-md-3">
        @Html.DropDownListFor(model => model.objXactAutoAssignmentSearchViewModel.State, Model.objXactAutoAssignmentSearchViewModel.StateList, new { @class = "form-control fontsizefortbl" })
    </div>
</div>
<div class="form-group">


    <label for="inputPassword12" class="col-md-2 control-label">Date Received From:</label>
    <div class="col-md-3">
        <div class="input-group input-medium date date-picker" data-date-format="mm-dd-yyyy" data-date-viewmode="years">
            @Html.TextBoxFor(model => model.objXactAutoAssignmentSearchViewModel.DateReceivedFrom, new { @id = "txtfrom", @class = "form-control fontsizefortbl", @onchange = "DateCompare();" })
            <span class="input-group-btn">
                <button class="btn default" type="button" style=" height: 28px;">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </div>
    </div>
    <label for="inputPassword12" class="col-md-2 control-label">To:</label>
    <div class="col-md-3">



        <div class="input-group input-medium date date-picker" data-date-format="mm-dd-yyyy" data-date-viewmode="years">
            @Html.TextBoxFor(model => model.objXactAutoAssignmentSearchViewModel.DateReceivedTo, new { @id = "txtTo", @class = "form-control fontsizefortbl", @onchange = "DateCompare();" })
            <span class="input-group-btn">
                <button class="btn default" type="button" style=" height: 28px;">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="inputPassword12" class="col-md-2 control-label">Policy Number:</label>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.objXactAutoAssignmentSearchViewModel.AutoPolicyNumber, new { @class = "form-control fontsizefortbl" })
    </div>
    <label for="inputPassword12" class="col-md-2 control-label">Insurance Company:</label>
    <div class="col-md-3">
        @{
            BLL.User user = css.Users.Find(loggedInUser.UserId);
            if (user.UserTypeId == 3)
            {
                @Html.DropDownListFor(model => model.objXactAutoAssignmentSearchViewModel.InsuranceCompany, Model.objXactAutoAssignmentSearchViewModel.InsuranceCompanies, new { @id = "ddlInsuranceCompany", @class = "form-control fontsizefortbl", @disabled = "disable", style = "width: 100%" })
            }
            else
            {
                @Html.DropDownListFor(model => model.objXactAutoAssignmentSearchViewModel.InsuranceCompany, Model.objXactAutoAssignmentSearchViewModel.InsuranceCompanies, new { @id = "ddlInsuranceCompany", @class = "form-control fontsizefortbl", style = "width: 100%" })
            }
        }
    </div>
</div>
<div class="form-group">
    <label for="inputPassword12" class="col-md-2 control-label">Claim Type:</label>
    <div class="col-md-3">
        @Html.DropDownListFor(model => model.objXactAutoAssignmentSearchViewModel.ClaimType, Model.objXactAutoAssignmentSearchViewModel.ClaimTypeList, new { @class = "form-control fontsizefortbl" })
    </div>
    <label for="inputPassword12" class="col-md-2 control-label">File Status:</label>
    <div class="col-md-3">
        @Html.DropDownListFor(model => model.objXactAutoAssignmentSearchViewModel.FileStatus, Model.objXactAutoAssignmentSearchViewModel.FileStatusList, new { @class = "form-control fontsizefortbl" })
    </div>
</div>




