﻿
@model BLL.ViewModels.NuGenAutoAssignmentSearchViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();

}

@{
    ViewBag.Title = "_NuGenAssignmentSearchFilter";
}
<style>
    .fontsizefortbl {
        font-size: 13px !important;
    }

        .fontsizefortbl input, select {
            height: 28px !important;
            padding: 0px !important;
        }

    .form-group {
        margin-bottom: 12px !important;
    }

    .input-medium {
        width: 100% !important;
    }


    .portlet.box > .portlet-title > .tools > a.expand {
        background-image: url(../img/portlet-expand-icon-white.png);
    }

    .portlet.box > .portlet-title > .tools > a.collapse {
        background-image: url(../img/portlet-collapse-icon-white.png);
    }
</style>

<script type="text/javascript">

    function keypressHandler(e) {
        if (e.which == 13) {
            e.preventDefault(); 
            $('#SubmitButton').val = null;
            $("#formNugenInvoicesSearch").submit();
        }
    }
    $('#formNugenInvoicesSearch').keypress(keypressHandler);

</script>




@{string divSearch = "";

divSearch = "style=display:none;";
string Expand = "expand";
}

<div class="portlet box blue fontsizefortbl" id="frmNuGensearchfilter" style="margin-bottom: 0px;">
    <div class="portlet-title col-md-12" style="background-color:#406E98 !important">
        <div class="caption col-md-10">
            <div class="form-group">
                <div class="col-md-2">
                    <span class="caption-subject font-white-hoki bold uppercase" style="font-size:16px; ">Quick Search</span>
                </div>
                <div class="col-md-9" style="font-size:13px;">
                    <div class="col-md-6 ">
                        <label class="col-md-5 control-label" style="margin-left: -15px;">Claim Name:</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.objXactAutoAssignmentSearchViewModel.InsureName, new { id = "objXactAutoAssignmentSearchViewModel.txtInsuredname", @class = "form-control", @style = "margin-left: -20px;" })
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <label class="col-md-5 control-label" style="margin-left: -15px;">Claim Number:</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.objXactAutoAssignmentSearchViewModel.AutoClaimNumber, new { id = "objXactAutoAssignmentSearchViewModel.txtClaimnumber", @class = "form-control", @style = "margin-left: -20px;" })
                        </div>
                    </div>
                </div>
                <div class="col-md-1 " style=" margin-left: -40px;">
                    <button type="button" class="btn green-meadow" onclick="GetSearchList();">Search</button>
                </div>
            </div>
        </div>
        <div class="col-md-2 tools">
            <a style="text-decoration:underline; font-size:11px; color:white;white-space:nowrap;" href="javascript:;" class="@Expand">Advanced</a>
        </div>
    </div>
    <div class="portlet-body" @divSearch>
        <div class="form-horizontal" role="form">
            @Html.Partial("_NuGenClaimFilter", Model)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn blue" onclick="GetSearchList();">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>