﻿@model BLL.ViewModels.PropertyInvoiceViewModel

@*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />*@
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true
    });
    $('#ddlPayInvoiceList').change( function() {
        $("#ddlPaymentInvLoading").show();
        getPaymentDetails('@Model.propertyAssignment.ClaimId','@Model.propertyAssignment.AssignmentId',$("#ddlPayInvoiceList").val());
    });
    });
    function UnFormatCurrency(value) {
        if (value == "" || value == undefined)
        { return 0; }
        else {
            for (var i = 0; i <= value.indexOf(",") ;) {
                value = value.replace(",", "");
            }
            value = value.replace("$", "");
            return value;
        }
    }
    @*function addPayments() {

        $.ajax({
            url: '@Url.Action("PaymentDetailsInsert", "PropertyAssignmentInvoice")',
            contentType: 'application/json; charset=utf-8',
            data: { PaymentId: '@Model.payment.PaymentId', InvoiceId: $('#hdnInvoiceId').val(), ReceivedDate: $('#txtReceivedDate').val(), AmountReceived: $('#txtAmountReceived').val(), CheckNumber: $('#txtCheckNumber').val() },//, AddedBy: AddedBy, CreatedDateTime: CreatedDateTime
            cache: false,
            success: function (result) {
                //debugger;
                getPaymentDetails('5349');
            },
            error: function (error) {
            }
        });
    }*@
    function addPayments() {
        
        $("#divPaymentValidationMsg").empty();
        var isValid = true;
        var validationMsg = "";
        if($("#txtAmountReceived").val().trim().length == 0)
        {
            isValid = false;
            validationMsg += "Amount Received is required. <br/>";
        }
        else
        {
            if(parseFloat(UnFormatCurrency($("#txtAmountReceived").val()))>parseFloat(UnFormatCurrency($("#txtBalanceDue").val())))
            {
                isValid = false;
                validationMsg += "Amount Received is more than the Balance Due. <br/>";
            }
        }
        //alert($("#txtCheckNumber").val() + ' ' + $("#txtCheckNumber").val().trim().length);
        if($("#txtCheckNum").val().trim().length == 0)
        {
            isValid = false;
            validationMsg += "Check No. is required. <br/>";
        }
        if($("#txtReceivedDate").val().trim().length == 0)
        {
            isValid = false;
            validationMsg += "Received Date is required. <br/>";
        }
        
        if(isValid)
        {
            $("#btnPaymentAdd").attr("disabled","disabled");
            $('#imgAddPaymentProcessing').show();
            $.post('@Url.Content("~/PropertyAssignmentInvoice/PaymentDetailsInsert")',

                  { PaymentId: $('#hdnpaymentId').val(), InvoiceId: $('#ddlPayInvoiceList').val(), ReceivedDate: $('#txtReceivedDate').val(), AmountReceived: $('#txtAmountReceived').val(), CheckNumber: $('#txtCheckNum').val() },
                 function (data) {
                     if(data == "1")
                     {
                         $('#imgAddPaymentProcessing').hide();
                         $("#btnPaymentAdd").removeAttr("disabled");
                         getPaymentDetails('@Model.propertyAssignment.ClaimId','@Model.invoiceDetail.AssignmentId','@Model.invoiceDetail.InvoiceId');
                     }
                     else
                     {
                         //alert(data);
                     }
                 });
        }
        else
        {
            $("#divPaymentValidationMsg").html(validationMsg);
            
        }

    }
    function EditpaymentDetails(paymentid, amountReceived, ChequeNumber, ReceivedDate) {
             
        $('#hdnpaymentId').val(paymentid);
        $('#txtAmountReceived').val(amountReceived);
        $('#txtCheckNum').val(ChequeNumber);
        $('#txtReceivedDate').val(ReceivedDate);
    }

    function deletePaymentDetails(paymentid, Invoiceid) {
        if (confirm('Are you sure you want to delete this payment ?'))
        {
            $.post('@Url.Content("~/PropertyAssignmentInvoice/DeletePaymentDetail")',

             { PaymentId: paymentid, InvoiceId: Invoiceid },
            function (data) {
                if (data == 1) {
                    getPaymentDetails('@Model.propertyAssignment.ClaimId','@Model.invoiceDetail.AssignmentId','@Model.invoiceDetail.InvoiceId');
                }
            });
        }
    }
    function clearPaymentFields() {
        //$('#txtGrandtotal').val('');
        //$('#txtBalanceDue').val('');
        $("#divPaymentValidationMsg").empty();
        $('#txtAmountReceived').val('');
        $('#txtCheckNum').val('');
        $('#txtReceivedDate').val('');
    }

    function loadPaymentDetailsPopup(assignmentId, Mode) {
        centerPaymentDetailsPopup();
        $('#backgroundPopupPaymentDetails').css({
            "opacity": "0.7"
        });
        $('#backgroundPopupPaymentDetails').fadeIn("slow");
        $('#divCloseInvoicePopup').fadeIn("slow");
    }
    function disablePaymentDetailsPopup() {

        $('#backgroundPopupPaymentDetails').fadeOut("slow");
        $('#divCloseInvoicePopup').fadeOut("slow");
    }
    function centerPaymentDetailsPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $('#divCloseInvoicePopup').height();
        var popupWidth = $('#divCloseInvoicePopup').width();
        //centering  
        $('#divCloseInvoicePopup').css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  
        $('#backgroundPopupPaymentDetails').css({
            "height": windowHeight
        });
        return false;
    }


    function isInvoiceloss(InvoiceId) {
        if (parseFloat('@Model.invoiceDetail.BalanceDue') > 0) {
            $('#rdYes').attr('checked', 'checked')
            $('#txtSpLosspercent').attr("disabled", "disabled")
            loadPaymentDetailsPopup();
        }
        else {
            closeInvoice(InvoiceId);
        }

    }
    $('input[name=foo]').click(function () {
        if ($(this).val() == "No")
        { $('#txtSpLosspercent').removeAttr("disabled", "disabled") }
        if ($(this).val() == "Yes")
        { $('#txtSpLosspercent').attr("disabled", "disabled") }
    });

    function closeInvoice(Invoiceid) {
             
        var IsLossIncurred;
        var SpLossPercent;
        if ($('#rdYes').is(':checked')) {
            IsLossIncurred = false;
            SpLossPercent=0;
        }
        else if ($('#rdNo').is(':checked')) {
            IsLossIncurred = true;
            SpLossPercent=$('#txtSpLosspercent').val();
        }
        else{
            IsLossIncurred = false;
            SpLossPercent=0;
        }
        $.post('@Url.Content("~/PropertyAssignmentInvoice/CloseInvoice")',
         { InvoiceId: Invoiceid, Comment: $('#txtPaymentReasons').val(), Reason: $('#ddlReasonType').val(), IsLossIncurred: IsLossIncurred ,SpLossPercent:SpLossPercent,IsInvoiceClose:true},
            function (data) {
                if (data == 1) {
                    $("#backgroundPopupPaymentDetails").fadeOut("slow");
                    $("#divCloseInvoicePopup").fadeOut("slow");
                    getPaymentDetails('@Model.invoiceDetail.AssignmentId','@Model.invoiceDetail.InvoiceId');
                }
            });
    }
   
</script>
<style type="text/css">
    .wideareaNewPaymentdetail
    {
        width: 98%;
        height: 80px;
    }

    #backgroundPopupPaymentDetails
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopupPaymentDetails
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        /*width: 600px;*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        
    }
</style>

<table style="padding-left:5px;padding-right:5px;width: 100%" bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">
    <tr>
        <td style="height: 20px"></td>
    </tr>
    <tr>
        <td colspan="3" class="subHeading">&nbsp;&nbsp;Invoice Reason</td>
    </tr>
    <tr>
        <td colspan="3">
           
                        <table width="80%">

                            <tr>
                                <td width="10px"></td>
                                <td width="15%">Reason :
                                </td>

                                <td>
                                    @Html.DropDownListFor(model => model.invoiceDetail.FieldStaffPercent, Model.ReasonTyptList, new { @id = "ddlReasonType" })
                                </td>
                            </tr>
                            <tr>
                                <td width="10px"></td>
                                <td valign="top">Comment :</td>
                                <td>@Html.TextAreaFor(model => model.invoiceDetail.Notes, new { @id = "txtPaymentReasons", @class = "wideareaNewPaymentdetail" })</td>
                            </tr>
                            <tr>
                                <td colspan="3" align="right"> @{
                            if (@Model.invoiceDetail.IsInvoiceClose == false || @Model.invoiceDetail.IsInvoiceClose == null)
                            {
                            <input type="button" class="buttonLightYellow_100" value="Close Invoice" onclick="isInvoiceloss('@Model.invoiceDetail.InvoiceId    ')" />
                        }
                        }</td>
                            </tr>
                        </table>
                   
                       
                  
        </td>
    </tr>
 
 
    <tr>
        <td colspan="3" class="subHeading">&nbsp;&nbsp;Payment</td>
    </tr>
    <tr>
        <td width="10px"></td>
        <td valign="top">
            <table width="100%">
                <tr height="26px">
                    <td>Invoice No :</td>
                    <td>
                        @Html.DropDownListFor(model => model.InvoiceId, new SelectList(Model.PropertyInvoiceList.OrderByDescending(x => x.InvoiceId), "InvoiceId", "InvoiceNo"), new { @id="ddlPayInvoiceList" })
                        <img id="ddlPaymentInvLoading" width="15" height="15"  style="display:none; vertical-align:middle; padding-left: 5px; padding-top: 5px; padding-right:5px;" src="@Url.Content("~/Content/Images/progress01.gif")" />
                    </td>
                    <td style="display: none;">
                        @Html.HiddenFor(model => model.invoiceDetail.InvoiceNo)
                        @Html.HiddenFor(model => model.invoiceDetail.InvoiceId, new { @id = "hdnInvoiceId" })
                        @Html.HiddenFor(model => model.payment.PaymentId, new { @id = "hdnpaymentId" })
                    </td>
                </tr>
                <tr>
                    <td>Invoice Total :</td>
                    <td>@Html.TextBoxFor(model => model.invoiceDetail.GrandTotal, Model.invoiceDetail.GrandTotal.HasValue ? Model.invoiceDetail.GrandTotal.Value.ToString("N2") : "", new { @id = "txtGrandtotal", @readonly = true })</td>
                </tr>
                <tr>
                    <td>Invoice Balance Due :</td>
                    <td>@Html.TextBoxFor(model => model.invoiceDetail.BalanceDue, Model.invoiceDetail.BalanceDue.HasValue ? Model.invoiceDetail.BalanceDue.Value.ToString("N2") : "", new { @id = "txtBalanceDue", @readonly = true })</td>
                </tr>
                <tr>
                    <td>Total Balance Due :</td>
                    <td>@Html.TextBoxFor(model => model.TotalBalanceDue, Model.TotalBalanceDue.ToString("N2") , new { @id = "txtTotalBalanceDue", @readonly = true })</td>
                </tr>
            </table>
        </td>
        <td>
            <div id="divPaymentValidationMsg" class="errorMsg"></div>
            <table width="100%">
                <tr>
                    <td>Amount Received :</td>
                    <td>@Html.TextBoxFor(model => model.payment.AmountReceived, new { @id = "txtAmountReceived" })</td>
                </tr>
                <tr>
                    <td>Check No :</td>
                    <td>@Html.TextBoxFor(model => model.payment.CheckNumber, new { @id = "txtCheckNum" })</td>
                </tr>
                <tr>
                    <td>Date Received :</td>
                    <td>@Html.TextBoxFor(model => model.payment.ReceivedDate, new { @id = "txtReceivedDate", @class = "DatePickerTextBox", @Value = (Model == null || Model.payment.ReceivedDate== null ? string.Empty : Convert.ToDateTime(Model.payment.ReceivedDate).ToString("MM/dd/yyyy")) })</td>
                </tr>
                <tr><td><br /></td><td></td></tr>
                <tr>
                    <td></td>
                    <td>@{
                if (@Model.invoiceDetail.IsInvoiceClose == false || @Model.invoiceDetail.IsInvoiceClose == null)
                {
                <input type="button" value="Clear" class="buttonLightYellow_100" onclick="clearPaymentFields()" />
                <input type="button" id="btnPaymentAdd" value="Add" class="buttonLightYellow_100" onclick="addPayments()" /> <img id="imgAddPaymentProcessing" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;padding-left:5px;" alt="loading" />
                }
            }</td>
                </tr>
            </table>
        </td>
    </tr>
        
    <tr>

        <td colspan="3" style="text-align: right">
   &nbsp;         
        </td>
    </tr>

   
    
    <tr>
        <td colspan="3" class="subHeading">&nbsp;&nbsp;Details</td>
    </tr>

    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>

    <tr>

        <td colspan="3" class="content">
            <div id="divPaymentListing">
                @Html.Partial("_PaymentList")
                
            </div>
            <br /><br />

        </td>
    </tr>
</table>
<div id="divCloseInvoicePopup" class="EditPopupPaymentDetails" style="width: 30%; height: 15%;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr>
                        <td align="left"><b>Loss Details</b></td>
                        <td align="right">
                            <div style="width: 100%; text-align: right;">
                                <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disablePaymentDetailsPopup()" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%;">
                    <tr>
                        <td colspan="2">
                            <div id="divCloseInvocieReason">
                                <img id="imgProcessingCloseInvocieReason" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="loading" />
                                <table style="width: 100%;">
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>100% Loss Incurred by CSS
                                            <input type="radio" id="rdYes" name="foo" value="Yes" />
                                            Yes
                                            <input type="radio" id="rdNo" name="foo" value="No" />
                                            No</td>
                                    </tr>
                                    <tr>
                                        <td>SP Loss %
                                            <input type="text" id="txtSpLosspercent" value="@Model.invoiceDetail.SPServiceFeePercent" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </table>



                            </div>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td id="tdPropertyInvoicefooter" class="footer" style="text-align: right">
                <input type="button" class="buttonLightYellow_100" value="Submit" onclick="closeInvoice('@Model.invoiceDetail.InvoiceId')"/>
            </td>
        </tr>
    </table>
</div>
<div id="backgroundPopupPaymentDetails" onclick="disablePaymentDetailsPopup()"></div>
