﻿@model BLL.ViewModels.ReportViewer
<style>
    .palet {
        background-color: #222222;
        padding: 10px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        border-radius: 12px;
        border: 2px solid #222222;
    }

    #reportViewer .portlet-body {
        background-color: white;
    }
     .holds-the-iframe {
        background: url(/Content/Images/waiting1.gif) center center no-repeat;
    }
</style>
@if (!String.IsNullOrEmpty(Model.ReportURL))
{
    <div class="palet" id="reportViewer">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box blue-hoki">
                    <div class="portlet-title" style="background-color:#406E98 !important">
                        <div class="caption">
                            <i class="fa fa-gift"></i>@Model.ReportTitle
                        </div>
                        <div class="tools">
                            @if (Model.BackButtonDisplay)
                            {
                                <button type="button" id="btnCancel" onclick="javascript:BackBt_Click();" class="btn btn-Default" style="margin-bottom: 0px;color:blue">Filter</button>
                            }
                        </div>
                    </div>
                    <div id="rptViewerBody" class="portlet-body holds-the-iframe">

                        <iframe src="@Url.Content(Model.ReportURL)" onload="onReportViewerLoad(this)" frameborder="0" width="100%" height="1050px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function onReportViewerLoad()
    {
        $('#rptViewerBody').removeClass("holds-the-iframe");
    }
</script>