﻿@model BLL.ViewModels.RequirementViewModel

@{
    
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
}

<style type="text/css">
    .lblstyle {
        padding-right: 10px;
        width: 15%;
        vertical-align: middle;
        text-align: right;
    }

    .optionStyle {
        width: 35%;
    }

    .lststyle {
        width: 200px;
    }

    .txtAreastyle {
        width: 80%;
    }
</style>




<table style="width: 100%" cellspacing="0">

    <tr valign="top" valign="top" class="tableRowAlternate">
        <td class="lblstyle">Software Required: </td>
        <td class="optionStyle">
            @Model.lstSoftwareRequired.Where(x => x.Value == Model.SoftwareRequired+"").FirstOrDefault().Text;

        </td>
        <td class="lblstyle">Contact Within:</td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.ContactWithin, Model.lstContactWithin, new { @id = "drContactWithin", @Class = "lststyle" })

        </td>
    </tr>

    <tr valign="top" valign="top" class="tableRow">
        <td class="lblstyle">Inspect within:</td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.InspectWithin, Model.lstInspectWithin, new { @id = "drInspectWithin", @Class = "lststyle" })

        </td>
        <td class="lblstyle">First Report Due:
        </td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.FirstReportDue, Model.lstFirstReportDue, new { @id = "drFirstReportDue", @Class = "lststyle" })

        </td>
    </tr>

    <tr valign="top" valign="top" class="tableRowAlternate">
        <td class="lblstyle">Reserves Due:
        </td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.ReservesDue, Model.lstReservesDue, new { @id = "drReservesDue", @Class = "lststyle" })

        </td>
        <td class="lblstyle">Contact Within:</td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.ContactWithin, Model.lstContactWithin, new { @id = "dr", @Class = "lststyle" })

        </td>
    </tr>

    <tr valign="top" valign="top" class="tableRow">
        <td class="lblstyle">Status Reports:</td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.SatusReports, Model.lstSatusReports, new { @id = "drSatusReports", @Class = "lststyle" })

        </td>
        <td class="lblstyle">Final Report Due:
        </td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.FinalReportDue, Model.lstFinalReportDue, new { @id = "drFinalReportDue", @Class = "lststyle" })

        </td>
    </tr>

    <tr valign="top" valign="top" class="tableRowAlternate">
        <td class="lblstyle">Base Service Charges:
        </td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.BaseServiceCharges, Model.lstBaseServiceCharges, new { @id = "drBaseServiceCharges", @Class = "lststyle" })

        </td>
        <td class="lblstyle">Insured To Value Required: </td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.InsuredToValueRequired, Model.lstInsuredToValueRequired, new { @id = "drInsuredToValueRequired", @Class = "lststyle" })

        </td>
    </tr>

    <tr valign="top" valign="top" class="tableRow">
        <td class="lblstyle">Neighborhood Canvas: </td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.NeighborhoodCanvas, Model.lstNeighborhoodCanvas, new { @id = "drNeighborhoodCanvas", @Class = "lststyle" })

        </td>
        <td class="lblstyle">ITEL Required:</td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.ITELRequired, Model.lstITELRequired, new { @id = "drITELRequired", @Class = "lststyle" })

        </td>
    </tr>


    <tr valign="top" valign="top" class="tableRowAlternate">
        <td class="lblstyle">Minimum Charges: </td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.MinimumCharges, Model.lstMinimumCharges, new { @id = "drMinimumCharges", @Class = "lststyle" })
        </td>
        <td class="lblstyle">Estimate Contents: </td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.EstimateContents, Model.lstEstimateContents, new { @id = "drEstimateContents", @Class = "lststyle" })
        </td>
    </tr>



    <tr valign="top" valign="top" class="tableRow">
        <td class="lblstyle">Required Documents:</td>
        <td colspan="3">
            @Html.TextAreaFor(model => model.RequiredDocuments, new { @id = "txtRequiredDocuments", @Class = "txtAreastyle" })
        </td>

    </tr>



    <tr valign="top" valign="top" class="tableRowAlternate">
        <td class="lblstyle">Obtain Agreed Scope/Price:</td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.ObtainAgreedSorP, Model.lstObtainAgreedSorP, new { @id = "drObtainAgreedSorP", @Class = "lststyle" })
        </td>
        <td class="lblstyle">Discuss Coverage and Scope with Claimant:</td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.DiscussCoveragNScopewithClaimant, Model.lstDiscussCoveragNScopewithClaimant, new { @id = "drDiscussCoveragNScopewithClaimant", @Class = "lststyle" })

        </td>
    </tr>



    <tr valign="top" valign="top" class="tableRow">
        <td class="lblstyle">Roof Sketch Required:</td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.RoofSketchRequired, Model.lstRoofSketchRequired, new { @id = "drRoofSketchRequired", @Class = "lststyle" })

        </td>
        <td class="lblstyle">Photo of Shingle Gague/Pitch Gauge Required: </td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.PhotoSGorPGRequired, Model.lstPhotoSGorPGRequired, new { @id = "drPhotoSGorPGRequired", @Class = "lststyle" })

        </td>
    </tr>



    <tr valign="top" valign="top" class="tableRowAlternate">
        <td class="lblstyle">Depreciacion Type: </td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.DepreciacionType, Model.lstDepreciacionType, new { @id = "drDepreciacionType", @Class = "lststyle" })

        </td>
        <td class="lblstyle">Max Depr.: </td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.MaxDepr, Model.lstMaxDepr, new { @id = "drMaxDepr", @Class = "lststyle" })

        </td>
    </tr>

    <tr valign="top" valign="top" class="tableRow">
        <td class="lblstyle">Application of Ovehead and Profit: </td>
        <td class="optionStyle">
            @Html.DropDownListFor(model => model.AppOfOveheadNProfit, Model.lstAppOfOveheadNProfit, new { @id = "drAppOfOveheadNProfit", @Class = "lststyle" })

        </td>
        <td class="lblstyle"></td>
        <td class="optionStyle"></td>
    </tr>

    <tr valign="top" valign="top" class="tableRowAlternate">
        <td class="lblstyle">Comments or Other Instructions: </td>
        <td colspan="3">
            @Html.TextAreaFor(model => model.Comments, new { @id = "txtcomments", @Class = "txtAreastyle",@rows=5 })
        </td>
    </tr>

</table>

