﻿@model BLL.ViewModels.ServiceProviderSearchViewModel
<style>
    .form-group {
        margin-bottom: 5px !important;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5 {
        position: relative;
        min-height: 1px;
        padding-left: 0px !important;
        ;
        padding-right: 15px !important;
    }
    /*radio btn*/
    .md-radio label > .check {
        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        background: #406E98 !important;
        opacity: 0;
        z-index: 6;
        border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
</style>

@{string divCarrierStaus = "";

divCarrierStaus = "style=display:none;";
string colClass = "expand";
}

<div class="portlet box blue fontsizefortbl" id="frmSPListsearchfilter" style="display: block;">
    <div class="portlet-title" id="spFilterHead" style="background-color:#406E98 !important">
        <div class="caption">
            <span class="caption-subject font-white-hoki bold uppercase" style="font-size:14px;">Search</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="@colClass" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body" @divCarrierStaus>
        <div class="form-horizontal" role="form">
            <div class="form-group form-md-radios">
                <label class="col-md-2 control-label" for="form_control_1">Status</label>
                <div class="col-md-3">
                    <div class="md-radio-inline">
                        <div class="md-radio">
                            @Html.RadioButtonFor(model => model.Status, "Inactive", new { @Id = "chkInactive", @class = "md-radiobtn" })
                            @*<input type="radio" id="checkbox1_8" name="radio2" value="1" class="md-radiobtn">*@
                            <label for="chkInactive">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Inactive
                            </label>
                        </div>
                        <div class="md-radio">
                            @Html.RadioButtonFor(model => model.Status, "Active", new { @Id = "chkActive", @class = "md-radiobtn" })
                            @*<input type="radio" id="checkbox1_9" name="radio2" value="2" class="md-radiobtn">*@
                            <label for="chkActive">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Active
                            </label>
                        </div>
                        <div class="md-radio">
                            @Html.RadioButtonFor(model => model.Status, "All", new { @id = "chkAll", @class = "md-radiobtn" })
                            @*<input type="radio" id="checkbox1_10" name="radio2" value="2" class="md-radiobtn">*@
                            <label for="chkAll">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> All
                            </label>
                        </div>
                    </div>
                </div>
                <label for="inputPassword12" class="col-md-2 control-label">Zip:</label>
                <div class="col-md-3">

                    @Html.TextBoxFor(model => model.Zip, new { @id = "UserZip", @class = "form-control", onblur = "populateZipData()" })
                </div>
            </div>

           
            <div class="form-group">
               <label for="inputPassword12" class="col-md-2 control-label">Company Name:</label>
                <div class="col-md-3">
                    @*@Html.DropDownListFor(model => model.HeadCompanyID,Model.HeadCompanyList, new { @class = "form-control" })*@
                    <select id="HeadCompanyID" name="HeadCompanyId" class="form-control">
                        @foreach (var item in Model.HeadCompanyList)
                        {
                            var optionStyle = String.Empty;
                            if (item.IsMark == true)
                            { optionStyle = "style=font-weight:bold"; }
                            <option value="@item.Value" @(Model.HeadCompanyID.ToString() == item.Value ? "selected=\"selected\"" : "") @optionStyle>@item.Text</option>
                        }
                    </select>

                </div>
                <label for="inputPassword12" class="col-md-2 control-label">State:</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.State, Model.StateList, new { @id = "UserState", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword12" class="col-md-2 control-label">User Name:</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control " })

                </div>
                <label for="inputPassword12" class="col-md-2 control-label">City:</label>
                <div class="col-md-3">

                    @Html.TextBoxFor(model => model.City, new { @id = "UserCity", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @*<label for="inputPassword12" class="col-md-2 control-label">User Name:</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control " })

                </div>*@
                @*<label for="inputPassword12" class="col-md-2 control-label">Rank:</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Rank, new { @id = "txtSliderRank", @class = "form-control" })
                 
                </div>*@
                @*<label for="inputPassword12" class="col-md-2 control-label">Years of Experience:</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.ExperienceClaimTypeId, new SelectList(Model.ExperienceClaimTypeList, "Value", "Text"), new { @class = "form-control " })

                </div>
                <div class="col-md-1">
                    @Html.TextBoxFor(model => model.ExperienceYears, new { style = "width:25px", id = "txtExpYears", @class = "form-control " })
                </div>*@
            </div>
            <div class="form-group">


                <label for="inputPassword12" class="col-md-2 control-label">Contact Name:</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control" })
                </div>
                <label for="inputPassword12" class="col-md-2 control-label">Email Address:</label>
                <div class="col-md-3">

                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @*<label for="inputPassword12" class="col-md-2 control-label">LLC/Corp./Partnership Name:	</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.DBA_LLC_Firm_Corp, new { @class = "form-control" })
                </div>*@
                <label for="inputPassword12" class="col-md-2 control-label">Rank:</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Rank, new { @id = "txtSliderRank", @class = "form-control" })

                </div>

                <label for="inputPassword12" class="col-md-2 control-label">Mobile Phone:</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.MobilePhone, new { @class = "form-control" })
                </div>
            </div>
            @*<div class="form-group">
                <div class="col-md-5" style=" margin-bottom: 5px;">
                    <div class="clearfix">
                        <label for="inputPassword12" class="col-md-2 control-label">Registered Date From:</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.RegisteredDateFrom, new { @class = "form-control fontsizefortbl" })
                        </div>
                        <label for="inputPassword12" class="col-md-1 control-label">To:</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.RegisteredDateTo, new { @class = "form-control fontsizefortbl" })
                        </div>
                    </div>
                </div>
            </div>*@

            @*<div class="col-md-5" style=" margin-bottom: 5px;">
                <div class="clearfix">
                    <label for="inputPassword12" class="col-md-2 control-label">Approved Date From:</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.ApprovedDateFrom, new { @class = "form-control fontsizefortbl" })
                    </div>
                    <label for="inputPassword12" class="col-md-1 control-label">To:</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.ApprovedDateTo, new { @class = "form-control fontsizefortbl" })
                    </div>
                </div>
            </div>*@
            <div class="form-group">
                <label for="inputPassword12" class="col-md-2 control-label">Date Registered From:</label>
                <div class="col-md-3">
                    <div class="input-group input-medium date date-picker" data-date="12-02-2016" data-date-format="mm-dd-yyyy" data-date-viewmode="years">                        
                        @Html.TextBoxFor(model => model.RegisteredDateFrom, new { @id = "txtfrom", @class = "form-control", @onchange = "DateCompare();" })
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <label for="inputPassword12" class="col-md-2 control-label">Date Approved From:</label>
                <div class="col-md-3">
                    <div class="input-group input-medium date date-picker" data-date="12-02-2016" data-date-format="mm-dd-yyyy" data-date-viewmode="years">
                        @*<input type="text" class="form-control" readonly>*@
                        @Html.TextBoxFor(model => model.ApprovedDateFrom, new { @id = "txtfrom", @class = "form-control", @onchange = "DateCompare();" })
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">               
                <label for="inputPassword12" class="col-md-2 control-label">To:</label>
                <div class="col-md-3">
                    <div class="input-group input-medium date date-picker" data-date="12-02-2016" data-date-format="mm-dd-yyyy" data-date-viewmode="years">
                        @Html.TextBoxFor(model => model.RegisteredDateTo, new { @id = "txtTo", @class = "form-control", @onchange = "DateCompare();" })
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <label for="inputPassword12" class="col-md-2 control-label">To:</label>
                <div class="col-md-3">
                    <div class="input-group input-medium date date-picker" data-date="12-02-2016" data-date-format="mm-dd-yyyy" data-date-viewmode="years">
                        @*<input type="text" class="form-control" readonly>*@
                        @Html.TextBoxFor(model => model.ApprovedDateTo, new { @id = "txtTo", @class = "form-control", @onchange = "DateCompare();" })
                        @*@Html.TextBoxFor(model => model.DateReceivedTo, new { @id = "txtTo", @class = "form-control fontsizefortbl", @onchange = "DateCompare();" })*@
                        <span class="input-group-btn">
                            <button class="btn default" type="button" >
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-md-radios">
                <label class="col-md-2 control-label" for="form_control_1">Is IADA Member</label>
                <div class="col-md-3">
                    <div class="md-radio-inline">
                        <div class="md-radio">
                            @Html.RadioButtonFor(model => model.IsIADAMember, "InactiveIADA", new { @Id = "chkInactiveIADA", @class = "md-radiobtn" })
                            @*<input type="radio" id="checkbox1_8" name="radio2" value="1" class="md-radiobtn">*@
                            <label for="chkInactiveIADA">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Non-IADA
                            </label>
                        </div>
                        <div class="md-radio">
                            @Html.RadioButtonFor(model => model.IsIADAMember, "ActiveIADA", new { @Id = "chkActiveIADA", @class = "md-radiobtn" })
                            @*<input type="radio" id="checkbox1_9" name="radio2" value="2" class="md-radiobtn">*@
                            <label for="chkActiveIADA">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> IADA
                            </label>
                        </div>
                        <div class="md-radio">
                            @Html.RadioButtonFor(model => model.IsIADAMember, "AllIADA", new { @id = "chkAllIADA", @class = "md-radiobtn" })
                            @*<input type="radio" id="checkbox1_10" name="radio2" value="2" class="md-radiobtn">*@
                            <label for="chkAllIADA">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> All
                            </label>
                        </div>
                    </div>
                </div>               
            </div>
            @*<div class="form-group">
                <label for="inputPassword12" class="col-md-2 control-label">Is IADAMember</label>
                <div class="col-md-3">
                    @Html.CheckBoxFor(model => model.IsIADAMember, new { id = "IsIADAMember", @class = "form-control fontsizefortbl", @style = "width: 8%;" })
                 </div>
            </div>*@
            @*<div class="form-group">
                    <label for="langlbl" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <div class="btn-group" data-toggle="buttons">

                            <label class="btn default active">
                                @Html.CheckBoxFor(model => model.IsBilingual, new { @class = "toggle" })Bi-Lingual:
                            </label>

                            <label class="btn default active">
                                @Html.CheckBoxFor(model => model.HasRopeHarnessExp, new { @class = "toggle" })Has Rope and Harness Experience?
                            </label>

                            <label class="btn default active">
                                @Html.CheckBoxFor(model => model.HasRopeHarnessEquip, new { @class = "toggle" }) Has Rope and Harness Equipment?
                            </label>

                            <label class="btn default active">
                                @Html.CheckBoxFor(model => model.HasRoofAssistProgram, new { @class = "toggle" }) Is Accepting Roof Assist Program:
                            </label>

                            <label class="btn default active">
                                @Html.CheckBoxFor(model => model.HasExaminerRights, new { @class = "toggle" }) Has Examiner Rights?
                            </label>

                            <label class="btn default active">
                                @Html.CheckBoxFor(model => model.HasDeployed, new { @class = "toggle" }) Is Deployed?
                            </label>

                        </div>
                    </div>
                    <label for="inputPassword12" class="col-md-2 control-label">Software Used:</label>
                    <div class="col-md-5" style=" margin-bottom: 5px;">
                        <div class="clearfix">
                            <div class="btn-group" data-toggle="buttons">
                                @foreach (var experience in Model.SoftwareExperienceList)
                                {
                                    <label class="btn default active">
                                           <input type="checkbox" class="toggle" name="SoftwareUsed" @(Model.SoftwareUsed.Contains(experience.Value) ? "checked=\"checked\"" : "") value="@experience.Value" />
                                        @experience.Text
                                    </label>
                                }

                            </div>
                        </div>
                    </div>

                    <label for="inputPassword12" class="col-md-2 control-label">Capability to climb steep:</label>
                    <div class="col-md-5" style=" margin-bottom: 5px;">
                        <div class="clearfix">
                            <div class="btn-group" data-toggle="buttons">
                                @foreach (var Capability in Model.CapabilityToClimbSteepList)
                                {
                                    <label class="btn blue active">
                                   <input type="radio" class="toggle" name="CapabilityToClimbSteep" @(Model.CapabilityToClimbSteep.Contains(Capability.Value) ? "checked=\"checked\"" : "") value="@Capability.Value" />
                                        @Capability.Text
                                    </label>
                                }

                            </div>
                        </div>
                    </div>

                    <label for="inputPassword12" class="col-md-2 control-label">Capable to climb:</label>
                    <div class="col-md-5" style=" margin-bottom: 5px;">
                        <div class="clearfix">
                            <div class="btn-group" data-toggle="buttons">
                                @foreach (var Capability in Model.CapabilityToClimbList)
                                {
                                    <label class="btn blue active">
                                <input type="radio" class="toggle" name="CapabilityToClimb" @(Model.CapabilityToClimb.Contains(Capability.Value) ? "checked=\"checked\"" : "") value="@Capability.Value" />
                                        @Capability.Text
                                    </label>
                                }

                            </div>
                        </div>
                    </div>
                    <label for="inputPassword12" class="col-md-2 control-label"></label>
                    <div class="col-md-5" style=" margin-bottom: 5px;">
                        <div class="clearfix">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn default active">
                                    @Html.CheckBoxFor(model => model.HasW9Signed, new { id = "chkW9Signed",@class="toggle" })  Has W9 Signed?
                                </label>
                                <label class="btn default active">
                                    @Html.CheckBoxFor(model => model.HasIgnoreSigned, new { id = "chkIgnoreSigned", @class = "toggle" })  Ignore Signed:
                                </label>
                                <label class="btn default active">
                                   @Html.CheckBoxFor(model => model.HasContractSigned, new { id = "chkContractSigned", @class = "toggle" }) Has Contract Signed?
                                </label>

                            </div>
                        </div>
                    </div>
                    <label for="inputPassword12" class="col-md-2 control-label">Registered Date:</label>
                    <div class="col-md-5" style=" margin-bottom: 5px;">
                        <div class="clearfix">
                            <label for="inputPassword12" class="col-md-1 control-label">From:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.RegisteredDateFrom, new { style = "width:100px;", @class = "form-control fontsizefortbl" })

                            </div>
                            <label for="inputPassword12" class="col-md-1 control-label">To:</label>
                            <div class="col-md-4">
                              @Html.TextBoxFor(model => model.RegisteredDateTo, new { style = "width:100px;", @class = "form-control fontsizefortbl" })
                            </div>
                        </div>
                    </div>
                    <label for="inputPassword12" class="col-md-2 control-label">Approved Date:</label>
                    <div class="col-md-5" style=" margin-bottom: 5px;">
                        <div class="clearfix">
                            <label for="inputPassword12" class="col-md-1 control-label">From:</label>
                            <div class="col-md-4">
                              @Html.TextBoxFor(model => model.ApprovedDateFrom, new { style = "width:100px;", @class = "form-control fontsizefortbl" })
                            </div>
                            <label for="inputPassword12" class="col-md-1 control-label">To:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.ApprovedDateTo, new { style = "width:100px;", @class = "form-control fontsizefortbl" })
                            </div>
                        </div>
                    </div>
                </div>*@

            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <button type="submit" class="btn blue">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function populateZipData() {

        $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
    { ZipCode: $("#UserZip").val() },
    function (data) {
        if (data != -1) {
            $("#UserState").val(data.State);
            $("#UserCity").val(data.City);
        }

    });
    }
</script>