﻿@using BLL
@model IEnumerable<usp_GetSPMapDetails_Result>


@{
    if (Model.ToList().Count() > 0 && Model != null)
    {
        foreach (var item in Model)
        {
            <div id="SPDetailModal" class="modal fade in" tabindex="-1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modalHead" style="font-size:17px; background-color:#406E98 !important;color: white;">
                            @*<table style="width:100%">
                                    <tr>
                                        <td style="width: 15%;"><img alt="" style=" height: 50px; width: 50px;" src="~/Content/Images/avatar3_small.jpg"></td>
                                        <td><h4 class="modal-title">@item.FirstName &nbsp; @item.LastName</h4></td>
                                        <td><button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button></td>
                                    </tr>
                                </table>*@
                            @*<label> <b>Service Provider Details</b></label>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
                            <table style="width:100%">
                                <tr>
                                    <td style="width: 15%;">
                                        @{
                                        var imagePath = CSS.Utility.GetClaimServiceProviderAbsoluteDocPath((Int32)item.HeadCompanyId, item.imagePath);
                                        }
                                        <img alt="" src="@imagePath" style=" height: 50px; width: 50px;">

                                    </td>
                                    <td>
                                        <h4 class="modal-title" style="font-weight:bold">@item.CompanyName</h4>
                                        @if (!string.IsNullOrEmpty(item.Firstname) || !string.IsNullOrEmpty(item.LastName))
                                        { 
                                        <h5 class="modal-title">( @item.Firstname @item.LastName )</h5>
                                        }
                                    </td>
                                    <td>
                                        <div class="socicons" style="float:right">

                                            <a href="@item.LinkedInAddress" target="_blank"><img class="alignleft wp-image-2042" src="/wp-content/uploads/2016/05/LinkedIn.png" alt="Claims Appraisal On Linked In" width="50" height="50"></a>

                                        </div>
                                    </td>
                                    <td><button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <div class="modal-body">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;">
                                <div class="scroller" style="overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                                    <div class="form-body" style="font-size: 13px !important;">
                                        <div>
                                         
                                            <div style="text-align:justify">
                                              
                                                @item.BusinessDesc
                                            </div>
                                        </div>
                                        <br />
                                        <div class="">

                                            <div style="width:100%;">

                                                <div class="portlet light bordered" style="margin: 0px; padding-bottom: 0px;">
                                                    <div class="portlet-title">
                                                        <div class="caption col-md-6">
                                                            <i class="icon-equalizer font-blue-hoki"></i>
                                                            <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Provider INFORMATION</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-checkboxes">
                                                                <div class="md-checkbox-inline">
                                                                    <div class="md-checkbox">
                                                                        @{
                                                                            var FavoriteStatus="";
                                                                            if(item.IsFavourite.HasValue &&item.IsFavourite.Value)
                                                                            {
                                                                            FavoriteStatus="checked='checked'";
                                                                            }                                                                            
                                                                        }
                                                                        <input type="checkbox" id="chkfavourite" class="md-check" @FavoriteStatus onchange="updateUserfavourite(@item.UserId)"  name="favourite" />
                                                                        <label for="chkfavourite">
                                                                            <span class="inc"></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Favorite
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tools">
                                                            <a href="" class="collapse" data-original-title="" title=""> </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body form" style="display: block;margin-top: -14px;">
                                                        <!-- BEGIN FORM-->
                                                        <div class="form-horizontal" style=" margin-bottom: -24px;">
                                                            <div class="form-body" style="padding-left: 20px;">
                                                               
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3">Internal Contact:</span>
                                                                            <div class="col-md-9">
                                                                                @item.internalContact
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3">Phone:</span>

                                                                            <div class="col-md-9">
                                                                                @item.MobilePhone
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3">Address:</span>
                                                                            <div class="col-md-9">
                                                                                @if (!string.IsNullOrEmpty(item.StreetAddress))
                                                                                {
                                                                                    @item.StreetAddress<br>
                                                                                }
                                                                                @item.City, @item.State @item.Zip
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3">E-mail:</span>

                                                                            <div class="col-md-9">
                                                                                <a href="mailto:@item.Email">@item.Email</a>
                                                                              
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3">Website:</span>

                                                                            <div class="col-md-9">

                                                                                <a href="http://@item.WebsiteURL" target="_blank">@item.WebsiteURL</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3">Category:</span>

                                                                            <div class="col-md-9">
                                                                                @item.ServiceTypes
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            
                                                                <!--/row-->
                                                            </div>
                                                            <br />
                                                        </div>

                                                        <!-- END FORM-->
                                                        <!-- END FORM-->
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        @*<br />
                                        <div class="">

                                            <div style="width:100%;">

                                                <div class="portlet light bordered" style="margin: 0px; padding-bottom: 0px;">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class="icon-equalizer font-blue-hoki"></i>
                                                            <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Other Details</span>
                                                        </div>
                                                        <div class="tools">
                                                            <a href="" class="collapse" data-original-title="" title=""> </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body form" style="display: block;margin-top: -14px;">
                                                        <!-- BEGIN FORM-->

                                                        <div class="form-horizontal" style=" margin-bottom: -24px;">
                                                            <div class="form-body" style="padding-left: 20px;">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3">RANK:</span>
                                                                            <div class="col-md-9">
                                                                                @item.Rank
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3">Company:</span>
                                                                            <div class="col-md-9">
                                                                                @item.CompanyName
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3">Open Claims:</span>

                                                                            <div class="col-md-9">
                                                                                @item.OpenClaimsCount
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                        
                                                                <br />
                                                            </div>
                                                        </div>

                                                        <!-- END FORM-->
                                                        <!-- END FORM-->
                                                    </div>
                                                </div>

                                            </div>

                                        </div>*@

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" data-dismiss="modal" class="btn blue-madison ">Ok</button>
                            @*<button type="button" ng-click="ResetFilter()" class="btn dark btn-outline">Reset Filter</button>*@
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}


<script type="text/javascript">

    function updateUserfavourite(spID) {
        var fevoriteVal=$('#chkfavourite').is(":checked");
        $.ajax({
            url: '@Url.Action("updateUserfavourite", "SPMapSearch")',
            async: false,
            type: "POST",
            data: { SPid: spID, isFavourite: fevoriteVal },

            success: function (data) {
              
            },
            fail: function (data) {

            }
        });

    }
</script>