﻿@model BLL.ViewModels.ServiceProviderRegistrationViewModel
<style type="text/css">
    #inPagePopupBG {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 550px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        
    }
</style>

<script type="text/javascript">
    function disableInPagePopup() {
        disableLicenseUploadPopup();
        disableCertificationUploadPopup();
    }
    function loadLicenseUploadPopup() {
        centerLicenseUploadPopup();
        $("#inPagePopupBG").css({
            "opacity": "0.7"
        });
        $("#inPagePopupBG").fadeIn("slow");
        $("#divLicenseUpload").fadeIn("slow");
        return false;
    }

    function disableLicenseUploadPopup() {
        //debugger;
        //disables popup only if it is enabled 
        
            $("#inPagePopupBG").fadeOut("slow");
            $("#divLicenseUpload").fadeOut("slow");
        
    }
    function centerLicenseUploadPopup() {
        //request data for centering

        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divLicenseUpload").height();
        var popupWidth = $("#divLicenseUpload").width();
        //centering  
        $("#divLicenseUpload").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $("#inPagePopupBG").css({
            "height": windowHeight
        });
        return false;
    }

    function loadCertificationUploadPopup() {
        centerCertificationUploadPopup();
        $("#inPagePopupBG").css({
            "opacity": "0.7"
        });
        $("#inPagePopupBG").fadeIn("slow");
        $("#divCertificationUpload").fadeIn("slow");
        return false;
    }
    function disableCertificationUploadPopup() {
            $("#inPagePopupBG").fadeOut("slow");
            $("#divCertificationUpload").fadeOut("slow");
    }
    function centerCertificationUploadPopup() {
        //request data for centering

        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divCertificationUpload").height();
        var popupWidth = $("#divCertificationUpload").width();
        //centering  
        $("#divCertificationUpload").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $("#inPagePopupBG").css({
            "height": windowHeight
        });
        return false;
    }

    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });

    function addLicenses(tableID) {

        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;
        var newRowIndex = rowCount - 1;
        var row = table.insertRow(rowCount);
        var hdnLicensesRowCount = document.getElementById("hdnLicensesRowCount");
        hdnLicensesRowCount.value = parseInt(hdnLicensesRowCount.value) + 1;

        //Delete Checkbox
        var cell1 = row.insertCell(0);
        var element1 = document.createElement("input");
        //element1.type = "checkbox";
        element1.type = "hidden";
        cell1.appendChild(element1);

        //Type
        var cell2 = row.insertCell(1);
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.value = "Adjuster License";
        element2.name = "user.ServiceProviderLicenses[" + newRowIndex + "].Type";
        cell2.appendChild(element2);

        //State
        var cell3 = row.insertCell(2);
        var element3 = document.getElementById("ddlStateListReplica").cloneNode(true);
        element3.name = "user.ServiceProviderLicenses[" + newRowIndex + "].State";
        cell3.appendChild(element3);

        //Number
        var cell4 = row.insertCell(3);
        var element4 = document.createElement("input");
        element4.type = "text";
        element4.name = "user.ServiceProviderLicenses[" + newRowIndex + "].LicenseNumber";
        cell4.appendChild(element4);

        //Expiration Date
        var cell5 = row.insertCell(4);
        var element5 = document.createElement("input");
        element5.type = "text";
        cell5.style.whiteSpace = "nowrap";
        element5.className = "DatePickerTextBox";
        element5.name = "user.ServiceProviderLicenses[" + newRowIndex + "].ExpirationDate";
        cell5.appendChild(element5);

        //Issuer
        //var cell6 = row.insertCell(5);
        //var element6 = document.createElement("input");
        //element6.type = "text";
        //element6.name = "user.ServiceProviderLicenses[" + newRowIndex + "].Issuer";
        //cell6.appendChild(element6);

        //Delete
        var cell7 = row.insertCell(5);
        var element7 = document.getElementById("imgLicensesDeleteRowReplica").cloneNode(true);
        element7.id = "imgLicenseDeleteRow" + newRowIndex;
        cell7.appendChild(element7);
        if ((rowCount - 2) >= 0) {
            var deleteRowIcon = document.getElementById("imgLicenseDeleteRow" + (rowCount - 2));
            deleteRowIcon.style.display = "none";
        }


        $(function () {
            $(".DatePickerTextBox").datepicker({
                showOn: "button",
                buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+20"

            });
        });
    }


    function deleteLicenses(tableID) {
        try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var hdnLicensesRowCount = document.getElementById("hdnLicensesRowCount");
            hdnLicensesRowCount.value = parseInt(hdnLicensesRowCount.value) - 1;

            table.deleteRow(rowCount - 1);
            if ((rowCount - 3) >= 0) {
                var deleteRowIcon = document.getElementById("imgLicenseDeleteRow" + (rowCount - 3));
                deleteRowIcon.style.display = "inline";
            }

        } catch (e) {
            alert(e);
        }
    }

    function addProfDesig(tableID) {

        var table = document.getElementById(tableID);
        var hdnDesignationsRowCount = document.getElementById("hdnDesignationsRowCount");
        var rowCount = table.rows.length;
        var newRowIndex = rowCount - 1;
        var row = table.insertRow(rowCount);

        hdnDesignationsRowCount.value = parseInt(hdnDesignationsRowCount.value) + 1;
        //Delete CheckBox
        var cell1 = row.insertCell(0);
        var element1 = document.createElement("input");
        //element1.type = "checkbox";
        element1.type = "hidden";
        cell1.appendChild(element1);

        //Date
        var cell2 = row.insertCell(1);
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.style.width = "150px";
        cell2.style.whiteSpace = "nowrap";
        element2.className = "DatePickerTextBox";
        element2.name = "user.ServiceProviderDesignations[" + newRowIndex + "].Date";
        cell2.appendChild(element2);

        //Designation
        var cell3 = row.insertCell(2);
        var element3 = document.createElement("input");
        element3.type = "text";
        element3.name = "user.ServiceProviderDesignations[" + newRowIndex + "].Designation";
        cell3.appendChild(element3);

        //Company Certification
        //var cell4 = row.insertCell(3);
        //var element4 = document.createElement("input");
        //element4.style.width = "200px";
        //element4.type = "text";
        //element4.name = "user.ServiceProviderDesignations[" + newRowIndex + "].Certification";
        //cell4.appendChild(element4);

        //Delete
        var cell4 = row.insertCell(3);
        var element4 = document.getElementById("imgProfDesigDeleteRowReplica").cloneNode(true);
        element4.id = "imgProfDesigDeleteRow" + newRowIndex;
        cell4.appendChild(element4);
        if ((rowCount - 2) >= 0) {
            var deleteRowIcon = document.getElementById("imgProfDesigDeleteRow" + (rowCount - 2));
            deleteRowIcon.style.display = "none";
        }


        //call jquery so that the dynamically created textbox is given a datepicker functionality
        $(function () {
            $(".DatePickerTextBox").datepicker({
                showOn: "button",
                buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true

            });
        });
    }

    function deleteRowProfDesig(tableID) {
        try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var hdnDesignationsRowCount = document.getElementById("hdnDesignationsRowCount");
            hdnDesignationsRowCount.value = parseInt(hdnDesignationsRowCount.value) - 1;

            table.deleteRow(rowCount - 1);
            if ((rowCount - 3) >= 0) {
                var deleteRowIcon = document.getElementById("imgProfDesigDeleteRow" + (rowCount - 3));
                deleteRowIcon.style.display = "inline";
            }
        } catch (e) {
            alert(e);
        }
    }

    function addCompCerti(tableID) {

        var table = document.getElementById(tableID);
        var hdnCertificationsRowCount = document.getElementById("hdnCertificationsRowCount");
        var rowCount = table.rows.length;
        var newRowIndex = rowCount - 1;
        var row = table.insertRow(rowCount);

        hdnCertificationsRowCount.value = parseInt(hdnCertificationsRowCount.value) + 1;
        //Delete CheckBox
        var cell1 = row.insertCell(0);
        var element1 = document.createElement("input");
        //element1.type = "checkbox";
        element1.type = "hidden";
        cell1.appendChild(element1);

        //Date
        var cell2 = row.insertCell(1);
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.style.width = "150px";
        cell2.style.whiteSpace = "nowrap";
        element2.className = "DatePickerTextBox";
        element2.name = "user.ServiceProviderCertifications[" + newRowIndex + "].Date";
        cell2.appendChild(element2);

        //Designation
        var cell3 = row.insertCell(2);
        var element3 = document.createElement("input");
        element3.type = "text";
        element3.name = "user.ServiceProviderCertifications[" + newRowIndex + "].Certification";
        cell3.appendChild(element3);

        //Company Certification
        var cell4 = row.insertCell(3);
        var element4 = document.getElementById("imgCompCertiDeleteRowReplica").cloneNode(true);
        element4.id = "imgCompCertiDeleteRow" + newRowIndex;
        cell4.appendChild(element4);
        if ((rowCount - 2) >= 0) {
            var deleteRowIcon = document.getElementById("imgCompCertiDeleteRow" + (rowCount - 2));
            deleteRowIcon.style.display = "none";
        }


        //call jquery so that the dynamically created textbox is given a datepicker functionality
        $(function () {
            $(".DatePickerTextBox").datepicker({
                showOn: "button",
                buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true

            });
        });
    }

    function deleteRowCompCerti(tableID) {
        try {

            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var hdnCertificationsRowCount = document.getElementById("hdnCertificationsRowCount");
            hdnCertificationsRowCount.value = parseInt(hdnCertificationsRowCount.value) - 1;

            table.deleteRow(rowCount - 1);
            if ((rowCount - 3) >= 0) {
                var deleteRowIcon = document.getElementById("imgCompCertiDeleteRow" + (rowCount - 3));
                deleteRowIcon.style.display = "inline";
            }
        } catch (e) {
            alert(e);
        }
    }

    function Radio_ClickDoubleDateReverse(rdbNo, txtTobeDisabled1, txtTobeDisabled2, autoFocus) {
        var rdb = document.getElementById(rdbNo);
        var textBox1 = document.getElementById(txtTobeDisabled1);
        var textBox2 = document.getElementById(txtTobeDisabled2);

        textBox1.disabled = rdb.checked;
        textBox2.disabled = rdb.checked;

        if (textBox2.disabled == false) {

            $('#' + txtTobeDisabled2).addClass('DatePickerTextBox');
            $('#' + txtTobeDisabled2).datepicker("enable");
            $(function () {
                $(".DatePickerTextBox").datepicker({
                    showOn: "button",
                    buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
                    buttonImageOnly: true,
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-100:+20"

                });
            });

            //textBox.setAttribute("class", ".DatePickerTextBox");
            //textBox.className = "DatePickerTextBox";
        }
        else {
            //textBox.setAttribute("class", "");
            $('#' + txtTobeDisabled2).removeClass('DatePickerTextBox');
            $('#' + txtTobeDisabled2).datepicker("disable");

        }
        if (autoFocus == true) {
            textBox1.focus();
        }

    }

</script>
<div id="inPagePopupBG" onclick="disableInPagePopup();"></div>
<table>
    <tr>
        <td>&nbsp;
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td colspan="2" valign="top"><a id="a_SPLicenses" name="a_SPLicenses"></a>List any professional, occupational, and vocational licenses (Adjuster Licenses) issued by any public
            or governmental licensing agency or regulatory authority which you presently hold.
             &nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">
            <table>
                <tr>
                    <td>
                        <table id="tblLicensesList">
                            <tr>
                                <td></td>
                                <td width="150"><b>Type (Editable)</b>
                                </td>
                                <td width="150"><b>State</b>
                                    <div style="display: none;">
                                        <select id="ddlStateListReplica" style="width: 150px;">
                                            @foreach (var state in Model.StateList)
                                            {
                                                <option value="@state.Key">@state.Value</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td width="150"><b>License Number</b>
                                </td>
                                <td width="150"><b>Expiration Date</b>
                                </td>
                                @* <td width="150"><b>Issuer</b>
                                </td>*@
                                <td>
                                    <div style="display: none;">
                                        <img id="imgLicensesDeleteRowReplica" onclick="deleteLicenses('tblLicensesList')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </div>
                                </td>
                            </tr>
                            @if (Model.user.ServiceProviderLicenses.Count == 0)
                            {
                                <tr>
                                    <td></td>
                                    <td>

                                        <input name="user.ServiceProviderLicenses[0].Type" type="text" value="Adjuster License" />
                                    </td>
                                    <td>
                                        <select id="user.ServiceProviderLicenses[0].State" name="user.ServiceProviderLicenses[0].State" style="width: 150px;">
                                            @foreach (var state in Model.StateList)
                                            {
                                                <option value="@state.Key">@state.Value</option>
                                            }
                                        </select>
                                    </td>

                                    <td>
                                        <input name="user.ServiceProviderLicenses[0].LicenseNumber" type="text" />
                                    </td>
                                    <td nowrap="nowrap">
                                        <input name="user.ServiceProviderLicenses[0].ExpirationDate" class="DatePickerTextBox" type="text" />
                                    </td>
                                    @*<td>
                                        <input name="user.ServiceProviderLicenses[0].Issuer" type="text" />
                                    </td>*@
                                    <td>
                                        <img id="imgLicenseDeleteRow0" onclick="deleteLicenses('tblLicensesList')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.user.ServiceProviderLicenses.Count; i++)
                                {
                                    BLL.ServiceProviderLicens license = Model.user.ServiceProviderLicenses.ElementAt(i);
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="hidden" />
                                        <input name="@("user.ServiceProviderLicenses[" + i + "].SPLId")" type="hidden" value="@license.SPLId"/>
                                        <input  name="@("user.ServiceProviderLicenses[" + i + "].Type")" type="text" value="@license.Type" />
                                    </td>
                                    <td>
                                        <select id="@("user.ServiceProviderLicenses[" + i + "].State")" name="@("user.ServiceProviderLicenses[" + i + "].State")" style="width: 150px;">
                                            @foreach (var state in Model.StateList)
                                            {
                                                <option value="@state.Key" @(state.Key != license.State ? "" : "selected = selected")>@state.Value</option>
                                            }
                                        </select>
                                    </td>

                                    <td>
                                        <input name="@("user.ServiceProviderLicenses[" + i + "].LicenseNumber")" type="text" value="@license.LicenseNumber" />
                                    </td>
                                    <td nowrap="nowrap">
                                        <input name="@("user.ServiceProviderLicenses[" + i + "].ExpirationDate")" class="DatePickerTextBox" type="text" value="@(license.ExpirationDate.HasValue ? license.ExpirationDate.Value.ToString("MM/dd/yyyy") : "")" />
                                    </td>
                                    @*<td>
                                        <input name="@("user.ServiceProviderLicenses[" + i + "].Issuer")" type="text" value="@license.Issuer" />
                                    </td>*@
                                    <td>
                                        <img id="@("imgLicenseDeleteRow" + i)" onclick="deleteLicenses('tblLicensesList')" style="@(i == Model.user.ServiceProviderLicenses.Count - 1 ? "display:inline;" : "display:none;")color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row"  />
                                    </td>
                                </tr>
                                }
                            }



                        </table>
                    </td>
                </tr>
                <tr>

                    <td align="right">
                        <b><a style="border: none; color: black; cursor: pointer" onclick="addLicenses('tblLicensesList')">
                            <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" onclick="addLicenses('tblLicensesList')" />
                            Add Row</a> &nbsp; 
                        </b>
                    </td>

                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td colspan="1" valign="top">Attach copies of licenses:
             &nbsp;
        </td>
        <td><a href="#" onclick="loadLicenseUploadPopup()">Upload License Documents</a></td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td width="200" valign="top">&nbsp;
        </td>
        <td width="100%" valign="top">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">Have you ever been refused a vocational license or had a license revoked or suspended?
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">
                @{
                    string VocationalLicenseEverRevokedYes = "";
                    string VocationalLicenseEverRevokedNo = "";
                if (Model.user.ServiceProviderDetail != null)
                {
                    if (Model.user.ServiceProviderDetail.VocationalLicenseEverRevoked.HasValue)
                    {
                        if (Model.user.ServiceProviderDetail.VocationalLicenseEverRevoked.Value)
                        {
                            VocationalLicenseEverRevokedYes = "checked=checked";
                        }
                        else
                        {
                            VocationalLicenseEverRevokedNo = "checked=checked";
                        }
                    }
                    else
                    {
                        VocationalLicenseEverRevokedNo = "checked=checked";
                    }
                }
                else
                {
                    VocationalLicenseEverRevokedNo = "checked=checked";
                }
                
            }
            <input id="rbVocLicBeenSuspendedYes" type="radio" name="user.ServiceProviderDetail.VocationalLicenseEverRevoked" value="true" 
onclick = "Radio_Click('rbVocLicBeenSuspendedNo', 'txtVocationalLicenseEverRevokedDetails', true)" @VocationalLicenseEverRevokedYes  />Yes
            <input id="rbVocLicBeenSuspendedNo" type="radio" name="user.ServiceProviderDetail.VocationalLicenseEverRevoked" onclick = "Radio_Click('rbVocLicBeenSuspendedNo', 'txtVocationalLicenseEverRevokedDetails', true)" value="false" @VocationalLicenseEverRevokedNo />No&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">If yes, give details:
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td width="200" colspan="2" valign="top">
            <textarea rows="4" style="width: 700px;" id="txtVocationalLicenseEverRevokedDetails"  cols="20" name="user.ServiceProviderDetail.VocationalLicenseEverRevokedDetails">@Model.user.ServiceProviderDetail.VocationalLicenseEverRevokedDetails</textarea>
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td width="200" valign="top">&nbsp;
        </td>
        <td width="100%" valign="top">&nbsp;
        </td>
    </tr>

    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td valign="top">Earthquake Certified?&nbsp;&nbsp;
            
        </td>
        <td>
             @{
                 string EQCertifiedYes = "";
                 string EQCertifiedNo = "";
                if (Model.user.ServiceProviderDetail != null)
                {
                    if (Model.user.ServiceProviderDetail.EQCertified.HasValue)
                    {
                        if (Model.user.ServiceProviderDetail.EQCertified.Value)
                        {
                            EQCertifiedYes = "checked=checked";
                        }
                        else
                        {
                            EQCertifiedNo = "checked=checked";
                        }
                    }
                    else
                    {
                        EQCertifiedNo = "checked=checked";
                    }
                }
                else
                {
                    EQCertifiedNo = "checked=checked";
                }
                
            }
            <input id="rbIsEQCertifiedYes" type="radio" name="user.ServiceProviderDetail.EQCertified" onclick = "Radio_ClickDoubleDateReverse('rbIsEQCertifiedNo', 'txtEQCertificationNumber', 'txtEQExpirationDate', true)" value="true" @EQCertifiedYes />Yes
            <input id="rbIsEQCertifiedNo" type="radio" name="user.ServiceProviderDetail.EQCertified" value="false" onclick = "Radio_ClickDoubleDateReverse('rbIsEQCertifiedNo', 'txtEQCertificationNumber', 'txtEQExpirationDate', true)" @EQCertifiedNo />No
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td valign="top">Certification  Number 
            
            
        </td>
        <td>
            <input name="user.ServiceProviderDetail.EQCertificationNumber" id="txtEQCertificationNumber"  type="text" value="@Model.user.ServiceProviderDetail.EQCertificationNumber"  />

        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td valign="top">Expiration Date
            
            
        </td>
        <td>
            <input name="user.ServiceProviderDetail.EQExpirationDate" type="text"  id="txtEQExpirationDate" class="DatePickerTextBox"  value="@(Model.user.ServiceProviderDetail.EQExpirationDate.HasValue ? Model.user.ServiceProviderDetail.EQExpirationDate.Value.ToString("MM/dd/yyyy") : "")"
                 />

        </td>
    </tr>
    <tr>
        <td></td>
        <td valign="top">Attach Copy of Earthquake Certificate:</td>
        <td>
            <iframe id="frameUploadEQ" style="overflow-y:hidden;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=4&maxDocsCount=1&displayMode=0&isReadOnly=false")" ></iframe>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>HAAG certification?
           
        </td>
        <td>
              @{
                  string HAAGCertifiedYes = "";
                  string HAAGCertifiedNo = "";
                if (Model.user.ServiceProviderDetail != null)
                {
                    if (Model.user.ServiceProviderDetail.HAAGCertified.HasValue)
                    {
                        if (Model.user.ServiceProviderDetail.HAAGCertified.Value)
                        {
                            HAAGCertifiedYes = "checked=checked";
                        }
                        else
                        {
                            HAAGCertifiedNo = "checked=checked";
                        }
                    }
                    else
                    {
                        HAAGCertifiedNo = "checked=checked";
                    }
                }
                else
                {
                    HAAGCertifiedNo = "checked=checked";
                }
                
            }
            <input id="rbIsHAAGCertifiedYes" type="radio" name="user.ServiceProviderDetail.HAAGCertified" onclick = "Radio_ClickDoubleDateReverse('rbIsHAAGCertifiedNo', 'txtHAAGCertificationNumber', 'txtHAAGExpirationDate', true)" value="true" @HAAGCertifiedYes  />Yes
            <input id="rbIsHAAGCertifiedNo" type="radio" name="user.ServiceProviderDetail.HAAGCertified" value="false" onclick = "Radio_ClickDoubleDateReverse('rbIsHAAGCertifiedNo', 'txtHAAGCertificationNumber', 'txtHAAGExpirationDate', true)" @HAAGCertifiedNo  />No
               
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Certification Number
           
        </td>
        <td>
            <input name="user.ServiceProviderDetail.HAAGCertificationNumber"  id="txtHAAGCertificationNumber" type="text" value="@Model.user.ServiceProviderDetail.HAAGCertificationNumber" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Expiration Date
           
        </td>
        <td>
            <input name="user.ServiceProviderDetail.HAAGExpirationDate" id="txtHAAGExpirationDate"  type="text" class="DatePickerTextBox"  value="@(Model.user.ServiceProviderDetail.HAAGExpirationDate.HasValue ? Model.user.ServiceProviderDetail.HAAGExpirationDate.Value.ToString("MM/dd/yyyy") : "")"
                 />
        </td>
    </tr>
    <tr>
        <td></td>
        <td valign="top">Attach Copy of HAAG Certificate:</td>
        <td>
            <iframe id="frameUploadHAAG" style="overflow-y:hidden;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=5&maxDocsCount=1&displayMode=0&isReadOnly=false")" ></iframe>
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td width="200" valign="top">&nbsp;
        </td>
        <td width="100%" valign="top">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td colspan="2" valign="top">Has the certificate of authority or license to do business of any insurance company
            of which you were an officer or director or key management person ever been suspended
            or revoked while you occupied such position? &nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">
               @{
                   string WasCompanyEverSuspendedYes = "";
                   string WasCompanyEverSuspendedNo = "";
                if (Model.user.ServiceProviderDetail != null)
                {
                    if (Model.user.ServiceProviderDetail.WasCompanyEverSuspended.HasValue)
                    {
                        if (Model.user.ServiceProviderDetail.WasCompanyEverSuspended.Value)
                        {
                            WasCompanyEverSuspendedYes = "checked=checked";
                        }
                        else
                        {
                            WasCompanyEverSuspendedNo = "checked=checked";
                        }
                    }
                    else
                    {
                        WasCompanyEverSuspendedNo = "checked=checked";
                    }
                }
                else
                {
                    WasCompanyEverSuspendedNo = "checked=checked";
                }
                
            }
            <input id="rbAnyLicSuspendedYes" type="radio" name="user.ServiceProviderDetail.WasCompanyEverSuspended" value="true" onclick = "Radio_Click('rbAnyLicSuspendedNo', 'txtCompanySuspendedDetails',true)" @WasCompanyEverSuspendedYes />Yes
            <input id="rbAnyLicSuspendedNo" type="radio" name="user.ServiceProviderDetail.WasCompanyEverSuspended" value="false" onclick = "Radio_Click('rbAnyLicSuspendedNo', 'txtCompanySuspendedDetails',true)" @WasCompanyEverSuspendedNo  />No&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">If yes, give details: &nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td width="200" colspan="2" valign="top">
            <textarea rows="4" style="width: 700px;" cols="20"  id="txtCompanySuspendedDetails" name="user.ServiceProviderDetail.CompanySuspendedDetails">@Model.user.ServiceProviderDetail.CompanySuspendedDetails</textarea>
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td width="200" valign="top">&nbsp;
        </td>
        <td width="100%" valign="top">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2"><a id="a_SPProDesig" name="a_SPProDesig"></a>List all Professional Designations
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2" width="200">
            <table>
                <tr>
                    <td>
                        <table id="tblProfessionalDesig">
                            <tr>
                                <td></td>
                                <td width="150"><b>Date</b>
                                </td>
                                <td width="150"><b>Designations<br />
                                    (CPCU, AIC, RPA, etc.)</b>
                                </td>
                                @* <td width="220" nowrap="nowrap"><b>Company Certifications<br />(State Farm, Metlife, TWIA, etc.)</b>
                                </td>*@
                                <td>
                                    <div style="display: none;">
                                        <img id="imgProfDesigDeleteRowReplica" onclick="deleteRowProfDesig('tblProfessionalDesig')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </div>
                                </td>
                            </tr>
                            @if (Model.user.ServiceProviderDesignations.Count == 0)
                            {
                                <tr>
                                    <td></td>
                                    <td nowrap="nowrap">
                                        <input name="user.ServiceProviderDesignations[0].Date" class="DatePickerTextBox" type="text"
                                            style="width: 150px;" />
                                    </td>
                                    <td>
                                        <input name="user.ServiceProviderDesignations[0].Designation" type="text" />
                                    </td>
                                    @* <td>
                                        <input name="user.ServiceProviderDesignations[0].Certification" type="text" style="width:200px;" />
                                    </td>*@
                                    <td>
                                        <img id="imgProfDesigDeleteRow0" onclick="deleteRowProfDesig('tblProfessionalDesig')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.user.ServiceProviderDesignations.Count; i++)
                                {
                                    BLL.ServiceProviderDesignation designation = Model.user.ServiceProviderDesignations.ElementAt(i);
                                <tr>
                                    <td></td>
                                    <td nowrap="nowrap">
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].SPDId")" type="hidden" value="@designation.SPDId" />
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].Date")" class="DatePickerTextBox" type="text"
                                            value="@(designation.Date.HasValue ? designation.Date.Value.ToString("MM/dd/yyyy") : "")" style="width: 150px;"  />
                                    </td>
                                    <td>
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].Designation")" type="text" value="@designation.Designation" />
                                    </td>
                                    @*<td>
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].Certification")" type="text" value="@designation.Certification" style="width:200px;" />
                                    </td>*@
                                    <td>

                                        <img id="@("imgProfDesigDeleteRow" + i)" onclick="deleteRowProfDesig('tblProfessionalDesig')" style="@(i == (Model.user.ServiceProviderDesignations.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row"  />

                                    </td>
                                </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="right">



                        <b><a onclick="addProfDesig('tblProfessionalDesig')" style="border: none; color: black; cursor: pointer;">
                            <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                            Add Row</a> &nbsp; 
         

                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">List Individual Company Certifications
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2" width="200">
            <table>
                <tr>
                    <td>
                        <table id="tblCompanyCertifications">
                            <tr>
                                <td></td>
                                <td width="150"><b>Date</b>
                                </td>

                                <td width="220" nowrap="nowrap"><b>Company Certifications<br />
                                    (State Farm, Metlife, TWIA, etc.)</b>
                                </td>
                                <td>
                                    <div style="display: none;">
                                        <img id="imgCompCertiDeleteRowReplica" onclick="deleteRowCompCerti('tblCompanyCertifications')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </div>
                                </td>
                            </tr>
                            @if (Model.user.ServiceProviderCertifications.Count == 0)
                            {
                                <tr>
                                    <td></td>
                                    <td nowrap="nowrap">
                                        <input name="user.ServiceProviderCertifications[0].Date" class="DatePickerTextBox" type="text"
                                            style="width: 150px;" />
                                    </td>

                                    <td width="10%">
                                        <input name="user.ServiceProviderCertifications[0].Certification" type="text" style="width: 150px;" />
                                    </td>
                                    <td>
                                        <img id="imgCompCertiDeleteRow0" onclick="deleteRowCompCerti('tblCompanyCertifications')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.user.ServiceProviderCertifications.Count; i++)
                                {
                                    BLL.ServiceProviderCertification certification = Model.user.ServiceProviderCertifications.ElementAt(i);
                                <tr>
                                    <td></td>
                                    <td nowrap="nowrap">
                                        <input name="@("user.ServiceProviderCertifications[" + i + "].SPCId")" type="hidden" value="@certification.SPCId" />
                                        <input name="@("user.ServiceProviderCertifications[" + i + "].Date")" class="DatePickerTextBox" type="text"
                                            value="@(certification.Date.HasValue ? certification.Date.Value.ToString("MM/dd/yyyy") : "")" style="width: 150px;"  />
                                    </td>

                                    <td>
                                        <input name="@("user.ServiceProviderCertifications[" + i + "].Certification")" type="text" value="@certification.Certification" style="width:150px;" />
                                    </td>
                                    <td>

                                        <img id="@("imgCompCertiDeleteRow" + i)" onclick="deleteRowCompCerti('tblCompanyCertifications')" style="@(i == (Model.user.ServiceProviderCertifications.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row"  />

                                    </td>
                                </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="right">



                        <b><a onclick="addCompCerti('tblCompanyCertifications')" style="border: none; color: black; cursor: pointer;">
                            <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                            Add Row</a> &nbsp; 
         

                    </td>
                </tr>
            </table>

        </td>
    </tr>
     <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td colspan="1" valign="top">Attach copies of Certifications:
             &nbsp;
        </td>
        <td><a href="#" onclick="loadCertificationUploadPopup()">Upload Company Certification Documents</a></td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    @*<tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">List all professional designations along with individual company certifications
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2" width="200">
            <table>
                <tr>
                    <td>
                        <table id="tblProfessionalDesig">
                            <tr>
                                <td></td>
                                <td width="150"><b>Date</b>
                                </td>
                                <td width="150"><b>Designations<br />(CPCU, AIC, RPA, etc.)</b>
                                </td>
                                <td width="220" nowrap="nowrap"><b>Company Certifications<br />(State Farm, Metlife, TWIA, etc.)</b>
                                </td>
                                <td>
                                    <div style="display: none;">
                                        <img id="imgProfDesigDeleteRowReplica" onclick="deleteRowProfDesig('tblProfessionalDesig')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </div>
                                </td>
                            </tr>
                            @if (Model.user.ServiceProviderDesignations.Count == 0)
                            {
                                <tr>
                                    <td></td>
                                    <td nowrap="nowrap">
                                        <input name="user.ServiceProviderDesignations[0].Date" class="DatePickerTextBox" type="text"
                                            style="width: 150px;" />
                                    </td>
                                    <td>
                                        <input name="user.ServiceProviderDesignations[0].Designation" type="text" />
                                    </td>
                                    <td>
                                        <input name="user.ServiceProviderDesignations[0].Certification" type="text" style="width:200px;" />
                                    </td>
                                    <td>
                                        <img id="imgProfDesigDeleteRow0" onclick="deleteRowProfDesig('tblProfessionalDesig')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.user.ServiceProviderDesignations.Count; i++)
                                {
                                    BLL.ServiceProviderDesignation designation = Model.user.ServiceProviderDesignations.ElementAt(i);
                                <tr>
                                    <td></td>
                                    <td nowrap="nowrap">
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].SPDId")" type="hidden" value="@designation.SPDId" />
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].Date")" class="DatePickerTextBox" type="text"
                                            value="@(designation.Date.HasValue ? designation.Date.Value.ToString("MM/dd/yyyy") : "")" style="width: 150px;"  />
                                    </td>
                                    <td>
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].Designation")" type="text" value="@designation.Designation" />
                                    </td>
                                    <td>
                                        <input name="@("user.ServiceProviderDesignations[" + i + "].Certification")" type="text" value="@designation.Certification" style="width:200px;" />
                                    </td>
                                    <td>
                                        
                                        <img id="@("imgProfDesigDeleteRow" + i)" onclick="deleteRowProfDesig('tblProfessionalDesig')" style="@(i == (Model.user.ServiceProviderDesignations.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row"  />
                                        
                                    </td>
                                </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="right">



                        <b><a onclick="addProfDesig('tblProfessionalDesig')" style="border: none; color: black; cursor: pointer;">
                            <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                            Add Row</a> &nbsp; 
         

                    </td>
                </tr>
            </table>

        </td>
    </tr>*@

    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25"></td>
        <td nowrap="nowrap" width="200" colspan="2" valign="top">Are you NFIP Certified?&nbsp;
            <input id="rbIsNFIPCertifiedYes" type="radio" name="user.ServiceProviderDetail.IsFloodCertified" value="true" checked="@(Model.user.ServiceProviderDetail.IsFloodCertified.HasValue ? Model.user.ServiceProviderDetail.IsFloodCertified : false)" />Yes
            <input id="rbIsNFIPCertifiedNo" type="radio" name="user.ServiceProviderDetail.IsFloodCertified" value="false" checked="@(Model.user.ServiceProviderDetail.IsFloodCertified.HasValue ? !Model.user.ServiceProviderDetail.IsFloodCertified : true)" />No
        </td>
    </tr>
    <tr>
        <td></td>
        <td valign="top">Attach Copy of NFIP Certificate:
        </td>
        <td>
            <iframe id="frameUploadNFIP" style="overflow-y:hidden;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=6&maxDocsCount=1&displayMode=0&isReadOnly=false")" ></iframe>
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">If so, please check the following boxes which apply to your experience handling
            NFIP claims:
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" valign="top" width="25">&nbsp;
        </td>
        <td colspan="2" valign="top">
            <input type ="hidden" name="hdnFClaimTypeYearExpCount" value="@Model.ClaimTypeList.Count" />
            <table>
                @for (int i = 0; i < Model.ClaimTypeList.Count; i++)
                {
                    BLL.ServiceProviderFloodExperience floodexp = null;

                    string FYearsOfExp = "";
                    string HasExperience = "";
                    string SPFEId = "0";

                    if (Model.user.ServiceProviderFloodExperiences.Where(m => m.ClaimTypeId == Model.ClaimTypeList.ElementAt(i).Key).Count() != 0)
                    {
                        floodexp = Model.user.ServiceProviderFloodExperiences.Where(m => m.ClaimTypeId == Model.ClaimTypeList.ElementAt(i).Key).First();
                        SPFEId = floodexp.SPFEId + "";
                        FYearsOfExp = floodexp.YearsOfExperience + "";
                        HasExperience = floodexp.HasExperience == true ? "checked=\"checked\"" : "";
                    }
                    <tr>
                        <td>
                            <input name="@("user.ServiceProviderFloodExperiences[" + i + "].SPFEId")" value="@SPFEId" type="hidden" />
                            <input name="@("user.ServiceProviderFloodExperiences[" + i + "].HasExperience")" type="checkbox" @HasExperience value="true"  style="display:none;"/>
                        </td>
                        <td>@Model.ClaimTypeList.ElementAt(i).Value
                        </td>

                        <td>
                            <input name="@("user.ServiceProviderFloodExperiences[" + i + "].ClaimTypeId")" value="@Model.ClaimTypeList.ElementAt(i).Key" type="hidden" />
                        </td>
                        <td>
                            <input name="@("user.ServiceProviderFloodExperiences[" + i + "].YearsOfExperience")" type="text" style="width: 20px;"  value="@(FYearsOfExp != "" ? FYearsOfExp : "0")" />

                        </td>
                    </tr>
                }
                @*<tr>
                    <td>
                        <input name="cbExpAL" type="checkbox" />
                        AL - Commercial, Resident, Mobile Home
                    </td>
                    <td>
                        <input name="txtExpALYears" type="text" style="width: 20px" />
                        Years Experience
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="cbExpMH" type="checkbox" />
                        MH - Mobile Home
                    </td>
                    <td>
                        <input name="txtExpMHYears" type="text" style="width: 20px" />
                        Years Experience
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="cbExpPC" type="checkbox" />
                        PC - Property Commercial
                    </td>
                    <td>
                        <input name="txtExpPCYears" type="text" style="width: 20px" />
                        Years Experience
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="cbExpPR" type="checkbox" />
                        PR - Property Residential
                    </td>
                    <td>
                        <input name="txtExpPRYears" type="text" style="width: 20px" />
                        Years Experience
                    </td>
                </tr>*@
            </table>
        </td>
    </tr>


</table>

<div id="divCertificationUpload" class="EditPopup">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr><td nowrap="nowrap">Company Certification Documents Upload</td><td width="100%" align="right"><div style="width:100%;text-align:right;" >
                        <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableInPagePopup();" /></div></td></tr>
                </table>
                </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <iframe src="@Url.Content("~/ServiceProviderRegistration/CertificationDocsUpload?userId=" + Model.user.UserId)" frameborder="0" height="200" width="100%"></iframe>
                
            </td>
        </tr>
        <tr>
        <td class="footer" style="text-align: right">
            <br />
        </td>
    </tr>

    </table>
    
</div>
<div id="divLicenseUpload" class="EditPopup">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr><td nowrap="nowrap">License Documents Upload</td><td width="100%" align="right"><div style="width:100%;text-align:right;" >
                        <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" onclick="disableInPagePopup();" /></div></td></tr>
                </table>
                </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <iframe src="@Url.Content("~/ServiceProviderRegistration/LicenseDocsUpload?userId=" + Model.user.UserId)" frameborder="0" height="200" width="100%"></iframe>
                
            </td>
        </tr>
        <tr>
        <td class="footer" style="text-align: right">
            <br />
        </td>
    </tr>

    </table>
    
</div>
<input id="hdnLicensesRowCount" name="hdnLicensesRowCount" type="hidden" value="@(Model.user.ServiceProviderLicenses.Count == 0 ? "1" : Model.user.ServiceProviderLicenses.Count + "")" />
<input id="hdnDesignationsRowCount" name="hdnDesignationsRowCount" type="hidden" value="@(Model.user.ServiceProviderDesignations.Count == 0 ? "1" : Model.user.ServiceProviderDesignations.Count + "")"  />
<input id="hdnCertificationsRowCount" name="hdnCertificationsRowCount" type="hidden" value="@(Model.user.ServiceProviderCertifications.Count == 0 ? "1" : Model.user.ServiceProviderCertifications.Count + "")"  />



