﻿@model BLL.ViewModels.ServiceProviderRegistrationViewModel

@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser(); 
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
<style type="text/css">
     #backgrounddocumentmanagePopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

      .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 400px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
    }
    .backgroundPopupUnQualifiedSP {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 2;
    }

    .EditPopupUnQualifiedSP {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 3;
    }


</style>
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true
        });
    });
    $(document).ready(function () {
        //$('#tdcompany').click(function () {
        //    $('#trcompany').fadeIn('slow');
        //});

        CompanyChange();
        LoadClientPOCForCompany();
        $('#tdLOB').click(function () {
            // debugger;
            $('#trLOB').fadeIn('slow');
            $('#trcompany').fadeOut(500);
            $('#trClientPOC').fadeOut(500);
        });
        $('#tdcompany').click(function () {

            //debugger;
            $('#trcompany').css('display', 'none');
            $('#trcompany').fadeIn('slow');
            $('#trLOB').fadeOut(500);
            $('#trClientPOC').fadeOut(500);
        });
        $('#tdClientPOC').click(function () {
            // debugger;
            $('#trClientPOC').fadeIn('slow');
            $('#trLOB').fadeOut(500);
            $('#trcompany').fadeOut(500);
        });

    });
    function CompanyChange() {
       @* var url = '@Url.Content("~/Users/getCityJson")';*@

        var ddlsource = "#ddlCompany1";
        var ddltarget = "#LobId";

        if ($(ddlsource).val() != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getLOBListJson", "ServiceProviderRegistration")',
                data: { companyId: $("#ddlCompany1").val() },
                success: function (data) {

                    debugger;

                    $("#LobId").empty();
                    var item = [];
                    item.push("<option value='0'>--Select LOB--</option>");
                    $.each(data, function () {
                        item.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                    });
                    $("#LobId").html(item.join(' '));
               
                    // alert($("#hdnSearchFilter").val());
                    //alert($("#SearchFilter").val());

                }
            })

        }
        else {
            $("#LobId").empty();
            $("#LobId").append("<option value=''>--Select LOB--</option>");
        }
    }
    function LoadClientPOCForCompany() {
       @* var url = '@Url.Content("~/Users/getCityJson")';*@

         var ddlsource = "#ddlCompany2";
         var ddltarget = "#ClientPOCId";

         if ($(ddlsource).val() != "") {
             $.ajax({
                 type: "POST",
                 url: '@Url.Action("getClientPOCListJson", "ServiceProviderRegistration")',
                data: { companyId: $("#ddlCompany2").val() },
                success: function (data) {

                    debugger;

                    $("#ClientPOCId").empty();
                    var item = [];
                    item.push("<option value='0'>--Select ClientPOC--</option>");
                    $.each(data, function () {
                        item.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                    });
                    $("#ClientPOCId").html(item.join(' '));

                    // alert($("#hdnSearchFilter").val());
                    //alert($("#SearchFilter").val());

                }
            })

        }
        else {
             $("#ClientPOCId").empty();
             $("#ClientPOCId").append("<option value=''>--Select ClientPOC--</option>");
        }
    }

    function refreshView() {
        window.location.reload();
    }

    function openContracter() {
        var width = '800';
        var height = '500';
        var left = parseInt((screen.availWidth / 2) - (width / 2));
        var top = parseInt((screen.availHeight / 2) - (height / 2));
        var windowFeatures = "dialogWidth:" + width + ";dialogHeight:" + height + ",status=0,resizable=1,title=no,location=no,scrollbars=1,menubar=no,addressbar='no',left=" + left + ",top=" + top + "screenX=" + left + ",screenY=" + top;
        window.open("@Url.Content("~/Utility/GetAgrrementDoc")", "subWind1", windowFeatures);

    }

    function Radio_ClickTriple(rdbNo, txtTobeDisabled1, txtTobeDisabled2, txtTobeDisabled3, autoFocus) {
        var rdb = document.getElementById(rdbNo);
        var textBox1 = document.getElementById(txtTobeDisabled1);
        var textBox2 = document.getElementById(txtTobeDisabled2);
        var textBox3 = document.getElementById(txtTobeDisabled3);
        textBox1.disabled = rdb.checked;
        textBox2.disabled = rdb.checked;
        textBox3.disabled = rdb.checked;

        if (textBox1.disabled == false) {

            $('#' + txtTobeDisabled1).addClass('DatePickerTextBox');
            $('#' + txtTobeDisabled1).datepicker("enable");
            $(function () {
                $(".DatePickerTextBox").datepicker({
                    showOn: "button",
                    buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
                    buttonImageOnly: true,
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-100:+20"

                });
            });

            //textBox.setAttribute("class", ".DatePickerTextBox");
            //textBox.className = "DatePickerTextBox";
        }
        else {
            //textBox.setAttribute("class", "");
            $('#' + txtTobeDisabled1).removeClass('DatePickerTextBox');
            $('#' + txtTobeDisabled1).datepicker("disable");

        }
        if (autoFocus == true) {
            textBox1.focus();
        }
    }
	 function loadDocumentManagePopup(statusid) {
        $('#documentflagid').val(statusid);
       
        centerDocumentManagePopup();
        $("#backgrounddocumentmanagePopup").css({
            "opacity": "0.7"
        });
        $("#backgrounddocumentmanagePopup").fadeIn("slow");
        $("#divDocumentManageStatus").fadeIn("slow");

    }
    function disableDocumentBasicPopup() {
        disableDocumentManagePopup();
    }
    function disableDocumentManagePopup() {
        $("#backgrounddocumentmanagePopup").fadeOut("slow");
        $("#divDocumentManageStatus").fadeOut("slow");
       
    }
    function centerDocumentManagePopup() {
        //request data for centering
  
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divDocumentManageStatus").height();
        var popupWidth = $("#divDocumentManageStatus").width();
        //centering  
        $("#divDocumentManageStatus").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $("#backgrounddocumentmanagePopup").css({
            "height": windowHeight
        });
        return false;
    }
    function SubmitDocumentStatus() {

        var docid = $('#documentflagid').val();
        var userid = $('#serviceuserid').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/ServiceProviderRegistration/DocumentStatusUpdate")',
            data: { UserId: userid, doctypeid: docid },
            success: function (data) {
                disableDocumentManagePopup();
               
               
            },
            async: false
        });
    }
    function loadPopupUnQualifiedSP() {


        var popupStatus = 0;

        if (popupStatus == 0) {
          
            centerPopupNewUnQualifiedSP();
            $("#backgroundPopupUnQualifiedSP").css({
                "opacity": "0.7"
            });
            bindUnQualifiedList('@Model.user.UserId');
            bindUnQualifiedSPByLOBList('@Model.user.UserId');
            bindUnQualifiedSPByClientPOCList('@Model.user.UserId');
            $("#backgroundPopupUnQualifiedSP").fadeIn("slow");
            $("#UnQualifiedSP").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }

    function disablePopupUnQualifiedSP() {
        //debugger;
        //disables popup only if it is enabled 
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupUnQualifiedSP").fadeOut("slow");
            $("#UnQualifiedSP").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupNewUnQualifiedSP() {
        //request data for centering

        var windowWidth = parent.document.documentElement.clientWidth;
        var windowHeight = parent.document.documentElement.clientHeight;
        var popupHeight = $("#UnQualifiedSP").height();
        var popupWidth = $("#UnQualifiedSP").width();
        //centering  
        $("#UnQualifiedSP").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#backgroundPopupUnQualifiedSP").css({
            "height": windowHeight
        });
        return false;
    }
    function UnQualifiedSPCompany() {

        var ddlCompany = $('#ddlCompany').val();
     

        var isValid = true;
        var isValidErrorMsg = '';

        if (ddlCompany == '0') {
            isValid = false;
            isValidErrorMsg += "Select Company required.<br/>";
        }

        document.getElementById("divUnQError").innerHTML = ""

        if (isValid) {
            $("#imgProcessingUnQualifiedSPSubmit").show();


            $.getJSON('@Url.Content("~/ServiceProviderRegistration/UnQualifiedSP")',
           {
               SPid: '@Model.user.UserId', Companyid: ddlCompany
           },
            function (data) {
                if (data == 1) {
                    // disablePopupUnQualifiedSP();
                    $("#imgProcessingUnQualifiedSPSubmit").hide();
                   
                    bindUnQualifiedList('@Model.user.UserId');
                }
                else if (data == 2) {
                    //record Already Exists
                    $("#imgProcessingUnQualifiedSPSubmit").hide();
                    document.getElementById("divUnQError").innerHTML = "Company Already Exists";
                }
            });
        }
        else {
            document.getElementById("divUnQError").innerHTML = isValidErrorMsg;
        }

    }
    function bindUnQualifiedList(SpID) {
        debugger;
        $.ajax({
            url: '@Url.Action("_UnQualifiedList", "ServiceProviderRegistration")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                SPID: SpID
            }),
            success: function (result) {
      
                var div = $('#dvUnQualifiedList');
                div.html(result);
            },
            error: function (error) {
           
                alert(JSON.stringify(error));
            }
        });
    }
    function QualifiedSP(SpID, CompanyID) {
        debugger;
        $("#imgProcessingUnQualifiedSPSubmit").show();
        $.ajax({
            url: '@Url.Action("_QualifiedSP", "ServiceProviderRegistration")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                SPID: SpID, Companyid: CompanyID
            }),
            success: function (result) {

                $("#imgProcessingUnQualifiedSPSubmit").hide();
                bindUnQualifiedList(SpID);
            },
            error: function (error) {

                $("#imgProcessingUnQualifiedSPSubmit").hide();
                alert(JSON.stringify(error));
            }
        });
    }


    function UnQualifiedSPCompanyLOB() {

        var ddlCompany = $('#ddlCompany1').val();
        var ddlLOB = $('#LobId').val();


        var isValid = true;
        var isValidErrorMsg = '';

        if (ddlCompany == '0') {
            isValid = false;
            isValidErrorMsg += "Select Company required.<br/>";
        }
        if (ddlLOB == '0')
        {
            isValid = false;
            isValidErrorMsg += "Select LOB required.<br/>";
        }

        document.getElementById("divUnQLOBError").innerHTML = ""

        if (isValid) {
            $("#imgProcessingUnQualifiedSPSubmit1").show();


            $.getJSON('@Url.Content("~/ServiceProviderRegistration/UnQualifiedSPByCompanyLOB")',
           {
               SPid: '@Model.user.UserId', Companyid: ddlCompany, LOBId: ddlLOB
           },
            function (data) {
                if (data == 1) {
                    // disablePopupUnQualifiedSP();
                    $("#imgProcessingUnQualifiedSPSubmit1").hide();

                    bindUnQualifiedSPByLOBList('@Model.user.UserId');
                }
                else if (data == 2) {
                    //record Already Exists
                    $("#imgProcessingUnQualifiedSPSubmit1").hide();
                    document.getElementById("divUnQLOBError").innerHTML = "LOB Already Exists";
                }
            });
        }
        else {
            document.getElementById("divUnQLOBError").innerHTML = isValidErrorMsg;
        }

    }
    function bindUnQualifiedSPByLOBList(SpID) {
        debugger;
        $.ajax({
            url: '@Url.Action("_UnQualifiedSPByLOBList", "ServiceProviderRegistration")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                SPID: SpID
            }),
            success: function (result) {

                var div = $('#dvUnQualifiedList1');
                div.html(result);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }
    function QualifiedSPByLOBId(SpID, CompanyID,LOBId) {
        debugger;
        $("#imgProcessingUnQualifiedSPSubmit1").show();
        $.ajax({
            url: '@Url.Action("_QualifiedSPByLOB", "ServiceProviderRegistration")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                SPID: SpID, Companyid: CompanyID, LOBId: LOBId
            }),
            success: function (result) {

                $("#imgProcessingUnQualifiedSPSubmit1").hide();
                bindUnQualifiedSPByLOBList(SpID);
            },
            error: function (error) {

                $("#imgProcessingUnQualifiedSPSubmit1").hide();
                alert(JSON.stringify(error));
            }
        });
    }
    function UnQualifiedSPCompanyClientPOC() {
        debugger;

        var ddlCompany = $('#ddlCompany2').val();
        var ddlClientPOC = $('#ClientPOCId').val();


        var isValid = true;
        var isValidErrorMsg = '';

        if (ddlCompany == '0') {
            isValid = false;
            isValidErrorMsg += "Select Company required.<br/>";
        }
        if (ddlClientPOC == '0') {
            isValid = false;
            isValidErrorMsg += "Select ClientPOC required.<br/>";
        }

        document.getElementById("divUnClientPOCError").innerHTML = ""

        if (isValid) {
            $("#imgProcessingUnQualifiedSPSubmit2").show();


            $.getJSON('@Url.Content("~/ServiceProviderRegistration/UnQualifiedSPByCompanyClientPOC")',
           {
               SPid: '@Model.user.UserId', Companyid: ddlCompany, ClientPOCId: ddlClientPOC
           },
            function (data) {
                if (data == 1) {
                    // disablePopupUnQualifiedSP();
                    $("#imgProcessingUnQualifiedSPSubmit2").hide();

                    bindUnQualifiedSPByClientPOCList('@Model.user.UserId');
                }
                else if (data == 2) {
                    //record Already Exists
                    $("#imgProcessingUnQualifiedSPSubmit2").hide();
                    document.getElementById("divUnClientPOCError").innerHTML = "ClientPOC Already Exists";
                }
            });
        }
        else {
            document.getElementById("divUnClientPOCError").innerHTML = isValidErrorMsg;
        }

    }
    function bindUnQualifiedSPByClientPOCList(SpID) {
        debugger;
        $.ajax({
            url: '@Url.Action("_UnQualifiedSPByClientPOCList", "ServiceProviderRegistration")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                SPID: SpID
            }),
            success: function (result) {

                var div = $('#dvUnQualifiedList2');
                div.html(result);
            },
            error: function (error) {

                alert(JSON.stringify(error));
            }
        });
    }
    function QualifiedSPByClientPOCId(SpID, CompanyID, ClientPOCId) {
        debugger;
        $("#imgProcessingUnQualifiedSPSubmit2").show();
        $.ajax({
            url: '@Url.Action("_QualifiedSPByClientPOC", "ServiceProviderRegistration")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                SPID: SpID, Companyid: CompanyID, ClientPOCId: ClientPOCId
            }),
            success: function (result) {

                $("#imgProcessingUnQualifiedSPSubmit2").hide();
                bindUnQualifiedSPByClientPOCList(SpID);
            },
            error: function (error) {

                $("#imgProcessingUnQualifiedSPSubmit2").hide();
                alert(JSON.stringify(error));
            }
        });
    }

</script>

<table>
    <tr>
        <td>&nbsp;
        </td>
        <td width="200"></td>
        <td></td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2"><a id="a_TypeOfClaimsPref" name="a_TypeOfClaimsPref"></a>What type of claims do you prefer?
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>

        @{
            BLL.ServiceProviderDetail servdetails = null;

            string TypeOfClaimPref = "";
            string chkDaily = "";
            string chkFlood = "";
            string chkHurricane = "";
            string chkSupervision = "";
            string chkMobileHomes = "";
            string chkWind = "";
            string chkOther = "";

            if (Model.user.ServiceProviderDetail.TypeOfClaimsPref != null && Model.user.ServiceProviderDetail.TypeOfClaimsPref != "")
            {
                string[] strArrayClaimPref = new string[10];
                TypeOfClaimPref = Model.user.ServiceProviderDetail.TypeOfClaimsPref;
                strArrayClaimPref = TypeOfClaimPref.Split(',');
                for (int i = 0; i < strArrayClaimPref.Length; i++)
                {
                    string strVal = strArrayClaimPref[i];

                    switch (strVal)
                    {
                        case "Daily":
                            chkDaily = "checked=\"checked\"";
                            break;
                        case "Flood":
                            chkFlood = "checked=\"checked\"";
                            break;
                        case "Hurricane":
                            chkHurricane = "checked=\"checked\"";
                            break;
                        case "Inside Claims Handling/Supervision":
                            chkSupervision = "checked=\"checked\"";
                            break;
                        case "Mobile Homes":
                            chkMobileHomes = "checked=\"checked\"";
                            break;
                        case "Wind/Hail":
                            chkWind = "checked=\"checked\"";
                            break;
                        case "Other":
                            chkOther = "checked=\"checked\"";
                            break;

                    }

                }
            } 
            
         

            <td colspan="2">
                <input name="user.ServiceProviderDetail.TypeOfClaimsPref" type="checkbox" value="Daily" @chkDaily />
                Daily
            <input name="user.ServiceProviderDetail.TypeOfClaimsPref" type="checkbox" value="Flood" @chkFlood />
                Flood
            <input name="user.ServiceProviderDetail.TypeOfClaimsPref" type="checkbox" value="Hurricane" @chkHurricane />
                Hurricane
            <input name="user.ServiceProviderDetail.TypeOfClaimsPref" type="checkbox" value="Inside Claims Handling/Supervision" @chkSupervision />
                Inside Claims Handling/Supervision
            <input name="user.ServiceProviderDetail.TypeOfClaimsPref" type="checkbox" value="Mobile Homes" @chkMobileHomes />
                Mobile Homes
            <input name="user.ServiceProviderDetail.TypeOfClaimsPref" type="checkbox" value="Wind/Hail" @chkWind />
                Wind/Hail
            <br />
                <input name="user.ServiceProviderDetail.TypeOfClaimsPref" type="checkbox" value="Other" @chkOther />Other&nbsp;
            <input name="user.ServiceProviderDetail.TypeOfClaimsPrefOthers" type="text" value="@Model.user.ServiceProviderDetail.TypeOfClaimsPrefOthers" />
                &nbsp;
            </td>
        }
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2"><a id="a_ConsiderWorkingInCat" name="a_ConsiderWorkingInCat"></a>Would you consider working a desk as an inside examiner?&nbsp; &nbsp;
              @{
                  string ConsiderWorkingInCatYes = "";
                  string ConsiderWorkingInCatNo = "";
                  if (Model.user.ServiceProviderDetail != null)
                  {
                      if (Model.user.ServiceProviderDetail.ConsiderWorkingInCat.HasValue)
                      {
                          if (Model.user.ServiceProviderDetail.ConsiderWorkingInCat.Value)
                          {
                              ConsiderWorkingInCatYes = "checked=checked";
                          }
                          else
                          {
                              ConsiderWorkingInCatNo = "checked=checked";
                          }
                      }
                      else
                      {
                          ConsiderWorkingInCatNo = "checked=checked";
                      }
                  }
                  else
                  {
                      ConsiderWorkingInCatNo = "checked=checked";
                  }
                
              }
            <input id="rbHasWorkCatOfficeYes" name="user.ServiceProviderDetail.ConsiderWorkingInCat" type="radio"  value="true" @ConsiderWorkingInCatYes />Yes 
            <input id="rbHasWorkCatOfficeNo" name="user.ServiceProviderDetail.ConsiderWorkingInCat" type="radio" 
                value="false" @ConsiderWorkingInCatNo/>No
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2"><a id="a_HasExperienceWorkingInCat" name="a_HasExperienceWorkingInCat"></a>Do you have any experience working as an inside examiner?&nbsp; &nbsp;
              @{
                  string HasExperienceWorkingInCatYes = "";
                  string HasExperienceWorkingInCatNo = "";
                  if (Model.user.ServiceProviderDetail != null)
                  {
                      if (Model.user.ServiceProviderDetail.ConsiderWorkingInCat.HasValue)
                      {
                          if (Model.user.ServiceProviderDetail.ConsiderWorkingInCat.Value)
                          {
                              HasExperienceWorkingInCatYes = "checked=checked";
                          }
                          else
                          {
                              HasExperienceWorkingInCatNo = "checked=checked";
                          }
                      }
                      else
                      {
                          HasExperienceWorkingInCatNo = "checked=checked";
                      }
                  }
                  else
                  {
                      HasExperienceWorkingInCatNo = "checked=checked";
                  }
                
              }
            <input id="rbHasExpCatOfficeYes" name="user.ServiceProviderDetail.HasExperienceWorkingInCat" type="radio" onclick = "Radio_ClickTriple('rbHasExpCatOfficeNo', 'txtExperienceWorkingInCatWhen', 'txtCatCompany', 'txtCatDuties', true)" value="true" @HasExperienceWorkingInCatYes  />Yes 
            <input id="rbHasExpCatOfficeNo" name="user.ServiceProviderDetail.HasExperienceWorkingInCat" type="radio" value="false" onclick = "Radio_ClickTriple('rbHasExpCatOfficeNo', 'txtExperienceWorkingInCatWhen', 'txtCatCompany', 'txtCatDuties', true)" @HasExperienceWorkingInCatNo />No
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200"><a id="a_ExperienceWorkingInCatWhen"></a>When?
        </td>
        <td width="100%">
            <input name="user.ServiceProviderDetail.ExperienceWorkingInCatWhen"  id="txtExperienceWorkingInCatWhen" class="DatePickerTextBox" type="text" value="@(Model.user.ServiceProviderDetail.ExperienceWorkingInCatWhen.HasValue ? Model.user.ServiceProviderDetail.ExperienceWorkingInCatWhen.Value.ToString("MM/dd/yyyy") : "")"  />
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200"><a id="a_CatCompany"></a>Company:
        </td>
        <td width="100%">
            <input name="user.ServiceProviderDetail.CatCompany" id="txtCatCompany"  type="text" value="@Model.user.ServiceProviderDetail.CatCompany"  />
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td nowrap="nowrap" width="200">Describe Duties:
        </td>
        <td width="100%">
            <textarea rows="3" name="user.ServiceProviderDetail.CatDuties" id="txtCatDuties">@Model.user.ServiceProviderDetail.CatDuties</textarea>
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">During the last ten (10) years, have you ever been refused a professional, occupational,
            or vocational license by any public or governmental licensing agency or regulatory
            authority, or has any such license held by you ever been suspended or revoked?
            <br />
            @{
                string AnyLicenseEverRevokedYes = "";
                string AnyLicenseEverRevokedNo = "";
                if (Model.user.ServiceProviderDetail != null)
                {
                    if (Model.user.ServiceProviderDetail.AnyLicenseEverRevoked.HasValue)
                    {
                        if (Model.user.ServiceProviderDetail.AnyLicenseEverRevoked.Value)
                        {
                            AnyLicenseEverRevokedYes = "checked=checked";
                        }
                        else
                        {
                            AnyLicenseEverRevokedNo = "checked=checked";
                        }
                    }
                    else
                    {
                        AnyLicenseEverRevokedNo = "checked=checked";
                    }
                }
                else
                {
                    AnyLicenseEverRevokedNo = "checked=checked";
                }
                
            }
            <input id="rbIsRefusedLicYes" name="user.ServiceProviderDetail.AnyLicenseEverRevoked" type="radio" value="true" onclick = "Radio_Click('rbIsRefusedLicNo', 'txtAnyLicenseEverRevokedDetails', true)"  @AnyLicenseEverRevokedYes  />Yes
            <input id="rbIsRefusedLicNo" name="user.ServiceProviderDetail.AnyLicenseEverRevoked" type="radio" value="false" onclick = "Radio_Click('rbIsRefusedLicNo', 'txtAnyLicenseEverRevokedDetails', true)" @AnyLicenseEverRevokedNo />No
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;</td>
        <td colspan="2">If yes, give details:
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;</td>
        <td colspan="2">
            <textarea rows="4" cols="20" name="user.ServiceProviderDetail.AnyLicenseEverRevokedDetails" id="txtAnyLicenseEverRevokedDetails" style="width: 700px;">@Model.user.ServiceProviderDetail.AnyLicenseEverRevokedDetails</textarea></td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">List any insurers in which you control directly or indirectly or own legally or
            beneficially 10% or more of the outstanding stock (in voting power):&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2" width="200">
            <textarea name="user.ServiceProviderDetail.InsurerStakeholderList" rows="4" style="width: 700px;">@( Model.user.ServiceProviderDetail.InsurerStakeholderList == null ? "N/A" : Model.user.ServiceProviderDetail.InsurerStakeholderList)</textarea>
        </td>
    </tr>
    @* <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2">If any of the stock is pledged or hypothecated in any way, give details:&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2" width="200">
            <textarea rows="4" cols="20" name="user.ServiceProviderDetail.InsurerStakeholderStockPledged" style="width: 700px;">@Model.user.ServiceProviderDetail.InsurerStakeholderStockPledged</textarea>
        </td>
    </tr>*@
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">a. Have you had any DWI/DUI convictions in the last 5 years?
            <input id="rbHasDWIConvectionsYes" name="user.ServiceProviderDetail.HasDWIDUIConvections" type="radio" value="true" checked="@(Model.user.ServiceProviderDetail.HasDWIDUIConvections.HasValue ? Model.user.ServiceProviderDetail.HasDWIDUIConvections : false)"   />Yes
            <input id="rbHasDWIConvectionsNo" name="user.ServiceProviderDetail.HasDWIDUIConvections" type="radio" 
                value="false" checked="@(Model.user.ServiceProviderDetail.HasDWIDUIConvections.HasValue ? !Model.user.ServiceProviderDetail.HasDWIDUIConvections : true)"  />No
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2">b. Have you ever been convicted of, plead guilty to, or plead nolo contender (no contest)
            to a felony or misdemeanor?
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;</td>
        <td colspan="2">
            @{
                string HasFelonyConvictionsYes = "";
                string HasFelonyConvictionsNo = "";
                if (Model.user.ServiceProviderDetail != null)
                {
                    if (Model.user.ServiceProviderDetail.AnyLicenseEverRevoked.HasValue)
                    {
                        if (Model.user.ServiceProviderDetail.AnyLicenseEverRevoked.Value)
                        {
                            HasFelonyConvictionsYes = "checked=checked";
                        }
                        else
                        {
                            HasFelonyConvictionsNo = "checked=checked";
                        }
                    }
                    else
                    {
                        HasFelonyConvictionsNo = "checked=checked";
                    }
                }
                else
                {
                    HasFelonyConvictionsNo = "checked=checked";
                }
                
            }
            <input id="rbHasFelconyConvectionYes" type="radio" name="user.ServiceProviderDetail.HasFelonyConvictions" value="true" onclick = "Radio_Click('rbHasFelconyConvectionNo', 'txtFelonyConvictionsDetails', true)" @HasFelonyConvictionsYes />Yes
            <input id="rbHasFelconyConvectionNo" type="radio" name="user.ServiceProviderDetail.HasFelonyConvictions"  onclick = "Radio_Click('rbHasFelconyConvectionNo', 'txtFelonyConvictionsDetails', true)"
                value="false"  @HasFelonyConvictionsNo />No
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2">If yes, give details and location (county) of offense:&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td colspan="2" width="200">
            <textarea name="user.ServiceProviderDetail.FelonyConvictionsDetails" id="txtFelonyConvictionsDetails" rows="4" cols="20" name="S3" style="width: 700px;">@Model.user.ServiceProviderDetail.FelonyConvictionsDetails</textarea>
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td colspan="2">Have you ever been an officer, director, trustee, investment committee member, key
            employee, or controlling stockholder of any insurer which, while you occupied any
            such position or capacity with respect to it, became insolvent or was placed under
            supervision or in receivership, rehabilitation,liquidation, or conservatorship?
            <br />
            <input id="rbHasBecameInsolventYes" name="user.ServiceProviderDetail.BecameInsolvent" type="radio" value="true" checked="@(Model.user.ServiceProviderDetail.BecameInsolvent.HasValue ? Model.user.ServiceProviderDetail.BecameInsolvent : false)" />Yes
            <input id="rbHasBecameInsolventNo" name="user.ServiceProviderDetail.BecameInsolvent" type="radio" value="false"  checked="@(Model.user.ServiceProviderDetail.BecameInsolvent.HasValue ? !Model.user.ServiceProviderDetail.BecameInsolvent : true)"/>No
         @if(loggedInUser!=null)
         {
            
            if(loggedInUser.UserTypeId==2)
           {
            <a href="#" id="resetalldoc" style="text-decoration:none;font-size:13px;margin-left:135px" onclick="loadDocumentManagePopup('1')">Reset All Documents</a>
           }
         }
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td valign="top"><a id="a_AgreementDoc" name="a_AgreementDoc"></a>Copy of Agreement:
            @{
                BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                BLL.ServiceProviderDocument spdocument = null;
                BLL.ServiceProviderDetail spdetails = null;
                if (css.ServiceProviderDetails.Where(x => x.UserId == Model.user.UserId).ToList().Count != 0)
                {
                    spdetails = css.ServiceProviderDetails.Where(x => x.UserId == Model.user.UserId).First();
                    if (Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 8).Count() != 0)
                    {
                        spdocument = Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 8).First();
                        if (CSS.Utility.isSertifiDocumentSigned(spdetails.SertifiFileId, spdocument.SertifiDocumentId, spdocument.SPDId) == true)
                        {
                <img src="~/Content/Images/Approve.png" width="15" height="15" style="border: none; vertical-align: bottom" />
                        }
                    }
                    if (Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 12).Count() != 0)
                    {
                        spdocument = Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 12).First();
                        if (CSS.Utility.isSertifiDocumentSigned(spdetails.SertifiFileId, spdocument.SertifiDocumentId, spdocument.SPDId) == true)
                        {
                            {
                <img src="~/Content/Images/Approve.png" width="15" height="15" style="border: none; vertical-align: bottom" />
                            }
                        }
                    }
                }
            }
        </td>
        <td>

            @{
                bool displayLoginToView = true;

                if (Model.user.ServiceProviderDetail.EOHasInsurance == true)
                {
                    if (Model.user.UserId != -1)
                    {
                        displayLoginToView = false;
                       
                @:<a href="@Url.Content("~/ServiceProviderRegistration/ProcessESigningDoc?userID=" + Model.user.UserId + "&documentTypeID=8")" target="_blank">E-Sign Document </a>
                @:<br />Click the link to sign or view the document<br /><br />
            

                    }
                }
                else
                {
                    if (Model.user.UserId != -1)
                    {
                        displayLoginToView = false;
                       
                @:<a href="@Url.Content("~/ServiceProviderRegistration/ProcessESigningDoc?userID=" + Model.user.UserId + "&documentTypeID=12")" target="_blank">E-Sign Document </a>
                @:<br />Click the link to sign or view the document
                if(loggedInUser!=null)
                { 
                if(loggedInUser.UserTypeId==2)
                                                                    { <a href="#" id="resetcopydoc" style="text-decoration:none;font-size:13px;margin-left:100px" onclick="loadDocumentManagePopup('2')">Reset Agreement</a><br /><br /> } }
                    
                    }
                }
                if (displayLoginToView)
                {
                @:After you "Save" this registration form, kindly login to your account to e-sign these documents.
                }
            }



        </td>
    </tr>

    <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td valign="top"><a id="a_W9Doc" name="a_W9Doc"></a>Copy of W9:
             @{
                
                 if (css.ServiceProviderDetails.Where(x => x.UserId == Model.user.UserId).ToList().Count != 0)
                 {

                     if (Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 9).Count() != 0)
                     {
                         spdocument = Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 9).First();
                         if (CSS.Utility.isSertifiDocumentSigned(spdetails.SertifiFileId, spdocument.SertifiDocumentId, spdocument.SPDId) == true)
                         {
                 <img src="~/Content/Images/Approve.png" width="15" height="15" style="border: none; vertical-align: bottom" />
                         }
                     }

                 }
             }
            @* @{

                    if (Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 9).Count() != 0)
                    {
                        spdocument = Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 9).First();
                        if (spdocument.IsSigned == true)
                        {
                    <img src="~/Content/Images/Approve.png" width="15" height="15" style="border: none; vertical-align: bottom"  />
                        }
                    }
             }*@
        </td>
        <td>

            @{
                if (Model.user.UserId != -1)
                {
                    if (!String.IsNullOrEmpty(Model.user.SSN) || !String.IsNullOrEmpty(Model.user.ServiceProviderDetail.TaxID))
                    {  
                @:<a href="@Url.Content("~/ServiceProviderRegistration/ProcessESigningDoc?userID=" + Model.user.UserId + "&documentTypeID=9")" target="_blank">E-Sign Document </a>
                @:<br />Click the link to sign or view the document 
                if(loggedInUser!=null)
                {
                 if(loggedInUser.UserTypeId==2)
                                                               { <a href="#" id="resetw9doc" style="text-decoration:none;font-size:13px;margin-left:100px" onclick="loadDocumentManagePopup('3')">Reset w9</a><br /><br /> } }
            }
                    else
                    {
                @:To E-Sign document, kindly provide your SSN and then click on "Save".
                        }
                }

            }





        </td>
    </tr>


    @*<tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
        <td valign="top"><a id="a_DDFDoc" name="a_DDFDoc"></a>Copy of Direct Deposit Form:
               @{
                
                   if (css.ServiceProviderDetails.Where(x => x.UserId == Model.user.UserId).ToList().Count != 0)
                   {

                       if (Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 11).Count() != 0)
                       {
                           spdocument = Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 11).First();
                           if (CSS.Utility.isSertifiDocumentSigned(spdetails.SertifiFileId, spdocument.SertifiDocumentId, spdocument.SPDId) == true)
                           {
                   <img src="~/Content/Images/Approve.png" width="15" height="15" style="border: none; vertical-align: bottom" />
                           }
                       }

                   }
               }*@
            @*   @{

                   if (Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 11).Count() != 0)
                   {
                       spdocument = Model.user.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && p.DTId == 11).First();
                       if (spdocument.IsSigned == true)
                       {
                    <img src="~/Content/Images/Approve.png" width="15" height="15" style="border: none; vertical-align: bottom"  />
                       }
                   }
             }*@
        @*</td>
        <td>

            @{
                
                if (Model.user.UserId != -1)
                {
                    
                
                @:<a onclick="loadpopup("11");" href="@Url.Content("~/ServiceProviderRegistration/ProcessESigningDoc?userID=" + Model.user.UserId + "&documentTypeID=11")" target="_blank">E-Sign Document </a>
                @:<br />Click the link to sign or view the document<br /><br />
                @:<iframe id="frameUploadDirectDeposit" style="overflow-y:hidden;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=15&maxDocsCount=1&displayMode=0&isReadOnly=false")" ></iframe>
                }
               
            }



        </td>
    </tr>*@
    @if (Model.user.Active.HasValue)
    {
        if (Model.user.Active == true)
        {
        <tr>
            <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
            <td valign="top" colspan="2">Currently Accepting assignments from Choice Solutions? 
            <input type="radio" name="user.ServiceProviderDetail.IsAcceptingAssignments" value="true" checked="@(Model.user.ServiceProviderDetail.IsAcceptingAssignments.HasValue ? Model.user.ServiceProviderDetail.IsAcceptingAssignments : false)" />Yes &nbsp;
            <input type="radio" name="user.ServiceProviderDetail.IsAcceptingAssignments" value="false" checked="@(Model.user.ServiceProviderDetail.IsAcceptingAssignments.HasValue ? !Model.user.ServiceProviderDetail.IsAcceptingAssignments : true)" />No
            </td>

        </tr>
        <tr>
            <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
            <td valign="top">Available for deployment? 
            
            </td>
            <td>
                <input type="radio" name="user.ServiceProviderDetail.IsAvailableForDeployment" value="true" checked="@(Model.user.ServiceProviderDetail.IsAvailableForDeployment.HasValue ? Model.user.ServiceProviderDetail.IsAvailableForDeployment : false)" />Yes &nbsp;
            <input type="radio" name="user.ServiceProviderDetail.IsAvailableForDeployment" value="false" checked="@(Model.user.ServiceProviderDetail.IsAvailableForDeployment.HasValue ? !Model.user.ServiceProviderDetail.IsAvailableForDeployment : true)" />No</td>

        </tr>
        <tr>
            <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
            <td valign="top">Has been deployed?
            
            </td>
            <td>
                <input type="radio" name="user.ServiceProviderDetail.IsDeployed" value="true" checked="@(Model.user.ServiceProviderDetail.IsDeployed.HasValue ? Model.user.ServiceProviderDetail.IsDeployed : false)" />Yes &nbsp;
            <input type="radio" name="user.ServiceProviderDetail.IsDeployed" value="false" checked="@(Model.user.ServiceProviderDetail.IsDeployed.HasValue ? !Model.user.ServiceProviderDetail.IsDeployed : true)" />No<br />
            </td>

        </tr>
        <tr>
            <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
            <td valign="top">Deployment location:
            
            </td>
            <td>
                <table>
                    <tr>
                        <td>Zip Code:</td>
                        <td>
                            <input value="@Model.user.ServiceProviderDetail.DeployedZip" name="user.ServiceProviderDetail.DeployedZip" id="txtDeployedZip" type="text" onblur="populateZipData('txtDeployedZip','ddlDeployedState','ddlDeployedCity')" />
                        </td>
                    </tr>
                    <tr>
                        <td>State:</td>
                        <td>
                            <select name="user.ServiceProviderDetail.DeployedState" id="ddlDeployedState" style="width: 150px;">
                                @foreach (var state in Model.StateList)
                                {
                                    <option value="@state.Key" @(state.Key != Model.user.ServiceProviderDetail.DeployedState ? "" : "selected = selected")>@state.Value</option>
                                }
                            </select></td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td>
                            <input name="user.ServiceProviderDetail.DeployedCity" id="ddlDeployedCity" type="text" value="@Model.user.ServiceProviderDetail.DeployedCity"/></td>
                    </tr>
                </table>


            </td>

        </tr>
        }
    }
     @if (loggedInUser != null)
    {
        if (loggedInUser.UserTypeId == 2)
        {
     <tr>
        <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top">&nbsp;
        </td>
        <td width="200">&nbsp;
        </td>
        <td width="100%">&nbsp;
        </td>
    </tr>
   
          <tr>
            <td style="color: #FF0000; font-weight: bold; font-size: 20px;" width="25" valign="top"></td>
            <td >
            
            </td>
            <td>
                 <a href="#" onclick="loadPopupUnQualifiedSP();" style="cursor: pointer;">UnQualify ServiceProvider</a><br/>
                Click the link to UnQualify ServiceProvider<br /><br />
            </td>

        </tr>
          }
         }
</table>
<div id="backgrounddocumentmanagePopup" onclick="disableDocumentBasicPopup()"></div>
<div id="divDocumentManageStatus" class="EditPopup">
   <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="mainHeader">

                    <table width="100%">
                        <tr>
                            <td align="left"><b>Update Document Status</b></td>
                            <td align="right">
                                <div style="width: 100%; text-align: right;">
                                    <img style="cursor:pointer;" src="@Url.Content("~/Content/Images/Cancel.png")"  onclick="disableDocumentBasicPopup()" />
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height:50px">
                <td class="content" align="center" >
                    <input type="hidden" id="serviceuserid" name="serviceuserid" value="@Model.user.UserId" />
                    <input type="hidden" id="documentflagid" name="documentflagid" value="" />
                   
                    Are you sure want to reset the documents ?
                </td>
            </tr>

            <tr>
                <td class="footer" style="text-align: right">
                    <input type="button" value="Reset" class="buttonYellow_100" onclick="SubmitDocumentStatus();" />
                </td>
            </tr>
        </table>

</div>
<div id="UnQualifiedSP" style="display: none;" class="EditPopupUnQualifiedSP">
    <table width="100%" cellspacing="0">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <div style="float: left">
                                    UnQualify ServiceProvider
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupUnQualifiedSP();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#" id="tdcompany" style="color:black;font-size:17px">Company</a>
            </td>
        </tr>
        <tr>
            <td>
              
            </td>
        </tr>

        <tr id="trcompany">
            <td>
                <table width="100%" cellspacing="0">

                    <tr>
                        <td class="content" align="left">
                            <div id="divUnQError" class="errorMsg" style="text-align: left; width: 100%;"></div>
                            <div id="div">
                                <table>
                                    <tr>
                                        <td>Select Company</td>
                                        <td>
                                            <select name="UnQualifiedSPforCompany" id="ddlCompany" style="width: 150px;">
                                                @foreach (var Company in Model.CompanyList)
                                                {
                                                    <option value="@Company.Key" >@Company.Value</option>
                                                }
                                            </select></td>
                                        <td class="footer" align="right">
                                            <img id="imgProcessingUnQualifiedSPSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                                            <input type="button" value="UnQualify" class="buttonYellow_100" onclick="UnQualifiedSPCompany()" /></td>
                                    </tr>

                                </table>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div id="dvUnQualifiedList">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="footer" align="right" style="height: 20px;">
                            @*  <img id="imgProcessingNewCatCodeSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                <input type="button" value="Add" class="buttonYellow_100" onclick="createNewClaimContact()" />*@</td>
                    </tr>

                </table>
            </td>

        </tr>

        <tr>
            <td>
                <a href="#" id="tdLOB" style="color:black;font-size:17px">LOB</a>
            </td>
        </tr>
         <tr>
            <td>
                
            </td>
        </tr>
        <tr id="trLOB" style="display: none">
            <td>
                <table width="100%" cellspacing="0">
                    <tr>
                        <td class="content" align="left">
                            <div id="divUnQLOBError" class="errorMsg" style="text-align: left; width: 100%;"></div>
                            <div id="div1">
                                <table>
                                    <tr>
                                        <td>Select Company</td>
                                        <td>
                                            <select name="UnQualifiedSPforCompany1" id="ddlCompany1" style="width: 150px;" onchange="CompanyChange()">
                                                @foreach (var Company in Model.CompanyList)
                                                {
                                                    <option value="@Company.Key" >@Company.Value</option>
                                                }
                                            </select></td>
                                            <td>
                                                @Html.DropDownListFor(model => model.LobId,(IEnumerable<SelectListItem>)ViewBag.LOBList,"--Select LOB--" ,new { @style="width:150px;"})</td>
                                            </td>
                                        <td class="footer" align="right">
                                            <img id="imgProcessingUnQualifiedSPSubmit1" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                                            <input type="button" value="UnQualify" class="buttonYellow_100" onclick="UnQualifiedSPCompanyLOB()" /></td>
                                    </tr>

                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="dvUnQualifiedList1">
                            </div>
                        </td>
                    </tr>

                   
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#" id="tdClientPOC" style="color:black;font-size:17px">Client POC</a>
            </td>
        </tr>
        <tr id="trClientPOC" style="display: none">
            <td>

                 <table width="100%" cellspacing="0">
                    <tr>
                        <td class="content" align="left">
                            <div id="divUnClientPOCError" class="errorMsg" style="text-align: left; width: 100%;"></div>
                            <div id="div2">
                                <table>
                                    <tr>
                                        <td>Select Company</td>
                                        <td>
                                            <select name="UnQualifiedSPforCompany2" id="ddlCompany2" style="width: 170px;" onchange="LoadClientPOCForCompany()">
                                                @foreach (var Company in Model.CompanyList)
                                                {
                                                    <option value="@Company.Key" >@Company.Value</option>
                                                }
                                            </select></td>
                                            <td>
                                                @Html.DropDownListFor(model => model.ClientPOCId,(IEnumerable<SelectListItem>)ViewBag.ClientPOCList,"--Select ClientPOC--" ,new { @style="width:170px;"})</td>
                                            </td>
                                        <td class="footer" align="right">
                                            <img id="imgProcessingUnQualifiedSPSubmit2" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />
                                            <input type="button" value="UnQualify" class="buttonYellow_100" onclick="UnQualifiedSPCompanyClientPOC()" /></td>
                                    </tr>

                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="dvUnQualifiedList2">
                            </div>
                        </td>
                    </tr>

                   
                </table>



            </td>
        </tr>



    </table>

</div>
<div id="backgroundPopupUnQualifiedSP" onclick="disablePopupUnQualifiedSP();" class="backgroundPopupUnQualifiedSP" style="display: none;"></div>

