﻿@model BLL.ViewModels.ServiceProviderDetailViewModel

<script type="text/javascript">
    $(document).ready(function maskSSN() {

        var hdnSSN = document.getElementById("hdnSSN");
        var SocialSec = document.getElementById("SocialSec");

        var v = "@(Model.user.SSN)";

            var l = v.length;
            var val = '';
            for (var i = 0; i < l; i++) {
                if (i < 6) {
                    val += '*';
                }
                else {
                    val += v.charAt(i);
                }
            }
            SocialSec.innerHTML = val;
        return true;
    });
   


</script>

<table width="100%">
    <tr>
        <td align="left" valign="top" width="50%">
            <table width="95%" align="center" cellspacing="0">
                <tr>
                    <td style="width: 150px;" nowrap="nowrap" class="borderBottomLightGray">
                        <strong>Personal Information</strong></td>
                    <td class="borderBottomLightGray">&nbsp;</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap">Full Name:</td>
                    <td bgcolor="#EAEAEA">
                        @Model.user.FirstName @Model.user.MiddleInitial @Model.user.LastName</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Known by any other names:</td>
                    <td>
                        @(Model.user.ServiceProviderDetail.IsKnowByOtherNames == true ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap">If yes, the names:</td>
                    <td bgcolor="#EAEAEA">
                        @Model.user.ServiceProviderDetail.KnowByOtherNames</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Date of Birth:</td>
                    <td>
                        @{
                            string DOB = "";

                            if (Model.user.ServiceProviderDetail.DOB != null)
                            {
                                DOB = CSS.Utility.getDateInDefaultFormat(Model.user.ServiceProviderDetail.DOB.Value);
                            }
                        }
                        @DOB</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap">Place of Birth State:</td>
                    <td bgcolor="#EAEAEA">
                        @{
                  
                            BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                            string birthState = "";
                            if (Model.user.ServiceProviderDetail.PlaceOfBirthState != null)
                            {
                                if (Model.user.ServiceProviderDetail.PlaceOfBirthState != "")
                                {
                                    if (Model.user.ServiceProviderDetail.PlaceOfBirthState != "--Select--" && Model.user.ServiceProviderDetail.PlaceOfBirthState != "0")
                                    {


                                        string state = css.StateProvinces.Where(m => m.StateProvinceCode == Model.user.ServiceProviderDetail.PlaceOfBirthState).ToList().Count != 0 ? css.StateProvinces.Where(m => m.StateProvinceCode == Model.user.ServiceProviderDetail.PlaceOfBirthState).First().Name : "";
                                        birthState = state;

                                    }
                                }


                            }
                    
                        }
                        @birthState</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">City of Birth:</td>
                    <td>
                        @Model.user.ServiceProviderDetail.PlaceOfBirth</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" class="borderBottomLightGray">Shirt Size:</td>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray">
                        @{
                 
                            BLL.ShirtSizeType sst = new BLL.ShirtSizeType();
                            string shirtsize = "";
                            if (Model.user.ServiceProviderDetail.ShirtSizeTypeId != null)
                            {
                                if (Model.user.State != "")
                                {
                                    if (Model.user.ServiceProviderDetail.ShirtSizeTypeId != 0)
                                    {
                                        Int64 sstid = Convert.ToInt64(Model.user.ServiceProviderDetail.ShirtSizeTypeId);
                                        sst = css.ShirtSizeTypes.Find(sstid);
                                        if (sst != null)
                                        {
                                            shirtsize = sst.ShirtSizeTypeDesc;
                                        }
                                    }
                                }


                            }
                    
                        }
                        @shirtsize</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td nowrap="nowrap" class="borderBottomLightGray">
                        <strong>Business Information</strong></td>
                    <td class="borderBottomLightGray">&nbsp;</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap">Doing Business As DBA:</td>
                    <td bgcolor="#EAEAEA">
                        @(Model.user.ServiceProviderDetail.IsDBA == true ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">LLC/Corp./Partnership Name:</td>
                    <td>
                        @Model.user.ServiceProviderDetail.DBA_LLC_Firm_Corp</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" class="borderBottomLightGray">Tax ID:</td>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray">
                        @Model.user.ServiceProviderDetail.TaxID</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td nowrap="nowrap" class="borderBottomLightGray">
                        <strong>Present Address</strong></td>
                    <td class="borderBottomLightGray">&nbsp;</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap">Street Number:</td>
                    <td bgcolor="#EAEAEA">
                        @Model.user.AddressLine1</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Street Name:</td>
                    <td>
                        @Model.user.StreetAddress</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap">Zip:</td>
                    <td bgcolor="#EAEAEA">
                        @Model.user.Zip</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">State:</td>
                    <td>
                        @{
                  
                 
                 
                            string addrState = "";
                            if (Model.user.State != null && Model.user.State != "")
                            {
                                string state = css.StateProvinces.Where(m => m.StateProvinceCode == Model.user.State).ToList().Count != 0 ? css.StateProvinces.Where(m => m.StateProvinceCode == Model.user.State).First().Name : "";
                                addrState = state;

                            }
                    
                        }
                        @addrState</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" class="borderBottomLightGray">City:</td>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray">
                        @Model.user.City</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" nowrap="nowrap" class="borderBottomLightGray">
                        <strong>Residences for the last ten (10) years starting with current address</strong></td>
                </tr>
                <tr>
                    <td colspan="2" class="borderBottomLightGray">
                        <table cellspacing="0">

                            <tr>


                                <td width="100"><b>Date From</b>
                                </td>
                                <td width="100"><b>Date To</b>
                                <td width="130"><b>Address</b>
                                </td>
                                <td width="130"><b>State</b>

                                </td>
                                <td width="130"><b>City</b>
                                </td>


                            </tr>

                            @{
                   
                                BLL.ServiceProviderAddress spaddr = new BLL.ServiceProviderAddress();
                                if (Model.user.ServiceProviderAddresses.Count != 0)
                                {

                                    string address = "";
                                    string resiState = "";
                                    string resiCity = "";
                                    string resiStateName = "";
                                    string resiDateto = "";
                                    string resiDateFrom = "";


                                    var objData = css.ServiceProviderAddresses.Where(prop => prop.UserId == Model.user.UserId);
                                    int rowIndex = 0;
                                    foreach (var resiaddr in objData)
                                    {
                                        address = resiaddr.Address;
                                        resiState = resiaddr.State;
                                        resiCity = resiaddr.City;
                                        if (!string.IsNullOrEmpty(resiState))
                                        {
                                            if (resiState != "--Select--" && resiState != "0")
                                            {
                                                string resiStateid = resiState;

                                                string state = css.StateProvinces.Where(m => m.StateProvinceCode == resiState).ToList().Count != 0 ? css.StateProvinces.Where(m => m.StateProvinceCode == resiState).First().Name : "";
                                                resiStateName = state;
                                            }



                                        }

                                        if (resiaddr.DateTo != null)
                                        {

                                            resiDateto = CSS.Utility.getDateInDefaultFormat(resiaddr.DateTo.Value);
                                        }
                                        if (resiaddr.DateFrom != null)
                                        {

                                            resiDateFrom = CSS.Utility.getDateInDefaultFormat(resiaddr.DateFrom.Value);
                                        }
                                <tr>
                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@resiDateFrom</td>
                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@resiDateto</td>

                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@address</td>
                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@resiStateName</td>
                                    <td @(rowIndex % 2 == 0 ? "class=tableRowAlternate" : "")>@resiCity</td>
                                </tr>
                                        rowIndex++;
                                    }

                                }
                                else
                                {
                                <tr>
                                    <td colspan="4">- No Records -
                        
                                    </td>
                                </tr>
                                }
        
                            }


                        </table>
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" colspan="2">
                        <br />
                        
                        &nbsp;</td>

                </tr>
                <tr>
                    <td colspan="2" nowrap="nowrap" class="borderBottomLightGray">
                        <strong>Login Credentials</strong></td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" >User Name:</td>
                    <td bgcolor="#EAEAEA" >@Model.user.UserName</td>
                </tr>
               @* <tr>
                    <td  class="borderBottomLightGray">Password:</td>
                    <td  class="borderBottomLightGray">@Model.user.Password</td>
                </tr>*@


            </table>
        </td>
        <td valign="top" width="50%">
            <table align="center" width="95%" cellspacing="0">
                <tr>
                    <td style="width: 150px;" nowrap="nowrap" class="borderBottomLightGray">
                        <strong>Contact Information</strong></td>
                    <td class="borderBottomLightGray">&nbsp;</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap">Mobile Phone:</td>
                    <td bgcolor="#EAEAEA">
                        @Model.user.MobilePhone
                        &nbsp;&nbsp;Network Provider:&nbsp;&nbsp;&nbsp;@Model.NetworkProvider
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Home Phone:</td>
                    <td>
                        @Model.user.HomePhone</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap">Email Address:</td>
                    <td bgcolor="#EAEAEA">
                        @Model.user.Email</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Facebook Address:</td>
                    <td>
                        @Model.user.Facebook</td>
                </tr>
                <tr>
                    <td nowrap="nowrap" bgcolor="#EAEAEA">Twitter Address:</td>
                    <td bgcolor="#EAEAEA">
                        @Model.user.Twitter</td>
                </tr>
                <tr>
                    <td nowrap="nowrap" class="borderBottomLightGray">Google+ Address:</td>
                    <td class="borderBottomLightGray">
                        @Model.user.GooglePlus</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td nowrap="nowrap" class="borderBottomLightGray">
                        <strong>Social Security</strong></td>
                    <td class="borderBottomLightGray"><input id="hdnSSN" type="hidden" value="@Model.user.SSN" onblur="maskSSN()" /></td>
                    
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap">Social Security Number:</td>
                    <td bgcolor="#EAEAEA" id="SocialSec">
                        </td>
                </tr>
                <tr>
                    <td nowrap="nowrap" class="borderBottomLightGray" valign="top">Copy of Social Security Card:</td>
                    <td class="borderBottomLightGray">
                        <iframe id="frameUploadSSN" style="overflow:hidden;text-align:right;" frameborder="0" width="250" height="30" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=1&maxDocsCount=1&displayMode=0&isReadOnly=true")" ></iframe>
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap">&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td nowrap="nowrap" class="borderBottomLightGray">
                        <strong>Passport</strong></td>
                    <td class="borderBottomLightGray">&nbsp;</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap">Has valid passport?</td>
                    <td bgcolor="#EAEAEA">
                        @(Model.user.ServiceProviderDetail.HasValidPassport == true ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">If yes, Expiration Date:</td>
                    <td>
                        @{
                            string passportexpdate = "";
                            if (Model.user.ServiceProviderDetail.PassportExpiryDate != null)
                            {

                                passportexpdate = CSS.Utility.getDateInDefaultFormat(Model.user.ServiceProviderDetail.PassportExpiryDate.Value);
                            }
                        }
                        @passportexpdate</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" class="borderBottomLightGray" valign="top">Copy of Passport:</td>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray">
                        <iframe id="frameUploadDL" style="overflow:hidden;text-align:right;" frameborder="0" width="250" height="30" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=2&maxDocsCount=1&displayMode=0&isReadOnly=true")" ></iframe>
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap">&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td nowrap="nowrap" class="borderBottomLightGray">
                        <strong>Driver's License</strong></td>
                    <td class="borderBottomLightGray">&nbsp;</td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap">Driver’s License Number:</td>
                    <td bgcolor="#EAEAEA">
                        @Model.user.ServiceProviderDetail.DriversLicenceNumber</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Issuing State:</td>
                    <td>
                        @{
              
               
                            string State = "";
                            if (Model.user.ServiceProviderDetail.DriversLicenceState != null && Model.user.ServiceProviderDetail.DriversLicenceState != "")
                            {
                                if (Model.user.ServiceProviderDetail.DriversLicenceState != "--Select--" && Model.user.ServiceProviderDetail.DriversLicenceState != "0")
                                {

                                    string state = css.StateProvinces.Where(m => m.StateProvinceCode == Model.user.ServiceProviderDetail.DriversLicenceState).ToList().Count != 0 ? css.StateProvinces.Where(m => m.StateProvinceCode == Model.user.ServiceProviderDetail.DriversLicenceState).First().Name : "";
                                    State = state;

                                }

                            }
                    
                        }@State

                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" nowrap="nowrap" valign="top" class="borderBottomLightGray">Copy of Drivers License:</td>
                    <td bgcolor="#EAEAEA" class="borderBottomLightGray">
                        <iframe id="frameUploadDL" style="overflow:hidden;text-align:right;" frameborder="0" width="250" height="30" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=3&maxDocsCount=1&displayMode=0&isReadOnly=true")" ></iframe>
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap">&nbsp;<br />
                        <br />
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td nowrap="nowrap" class="borderBottomLightGray">
                        <strong>Language</strong></td>
                    <td class="borderBottomLightGray">&nbsp;</td>
                </tr>
                <tr>
                    <td nowrap="nowrap" bgcolor="#EAEAEA">Primary Language:</td>
                    <td bgcolor="#EAEAEA">
                        @Model.user.ServiceProviderDetail.PrimaryLanguage</td>
                </tr>
                <tr>
                    <td nowrap="nowrap" class="borderBottomLightGray">Other Languages:</td>
                    <td class="borderBottomLightGray">
                        @Model.user.ServiceProviderDetail.OtherLanguages</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">&nbsp;</td>
                    <td nowrap="nowrap">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>

</table>


























