﻿@model BLL.ViewModels.ServiceProviderRegistrationViewModel
@{
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser(); 
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    function processFederalTaxClassificationChange() {

        if ($("#ddlFederalTaxClassification").val() == "L") {
            document.getElementById("trLLCTaxClassification").style.display = "table-row";
        }
        else {
            document.getElementById("trLLCTaxClassification").style.display = "none";
            $("#ddlLLCTaxClassification").val("0");
        }
    }
    function populateZipData(zipControl, stateControl, cityControl) {

        $.post("@Url.Content("~/Utility/GetZipCodeInfo")",
    { ZipCode: $("#" + zipControl).val() },
    function (data) {
        if (data != -1) {

            $("#" + stateControl).val(data.State);
            $("#" + cityControl).val(data.City);
        }
        else {
            $("#" + stateControl).val("");
            $("#" + cityControl).val("");
        }

    });
    }

    function getCurrentCity() {
        var ddlCity = document.getElementById("ddlCity").value;
        var userCity = document.getElementById("userCity0");

        if (ddlCity != null && ddlCity != "") {
            userCity.value = ddlCity;
        }
    }

    function getCurrentState() {

        var ddlState = document.getElementById("ddlState").value;
        var userState = document.getElementById("userState0");

        if (ddlState != null && ddlState != "") {
            userState.value = ddlState;
        }
    }

    function toggleIFrame(id, visible) {
        alert(id + "" + visible + "");
        element = document.getElementById("frameUploadSSN");
        if (visible == "true") {
            element.style.visibility = "inline";
        }
        else {
            element.style.visibility = "none";
        }
    }
    function openPopup(url, title) {
        window.open(url, "", 'directories = 0, titlebar = 0, toolbar = 0, location = 0, status = 0, menubar = 0, scrollbars = no, resizable = no, width = 400, height = 350');
    }
    function UserCheck() {
        $("#divStatus").html("Checking....");
        $.post("@Url.Content("~/Account/IsUserNameAvailable")",
    { username: $("#txtUserName").val() },
    function (data) {
        if (data == 1) {
            $("#divStatus").html("User Name is Available");
        }
        else {
            $("#divStatus").html("User Name is Unavailable");
        }
    });
    }

    function isAnswerYes(txtid) {
        var txtbox = document.getElementById(txtid);
        txtbox.enable = false;
    }




    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });


    function addDynamicRow(tableID) {

        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;
        var newRowIndex = rowCount - 1;
        var row = table.insertRow(rowCount);
        row.vAlign = "top";
        var hdnResiRowCount = document.getElementById("hdnResiRowCount");
        hdnResiRowCount.value = parseInt(hdnResiRowCount.value) + 1;
        //delete checkbox
        //var cell1 = row.insertCell(0);
        //var element1 = document.createElement("input");
        ////element1.type = "checkbox";
        //element1.type = "hidden";
        //cell1.appendChild(element1);

        //dateTo
        var cell1 = row.insertCell(0);
        cell1.style.whiteSpace = "nowrap";
        var element1 = document.createElement("input");
        element1.type = "text";
        element1.className = "DatePickerTextBox";
        element1.name = "user.ServiceProviderAddresses[" + newRowIndex + "].DateFrom";
        cell1.appendChild(element1);

        //dateFrom
        var cell2 = row.insertCell(1);
        cell2.style.whiteSpace = "nowrap";
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.className = "DatePickerTextBox";
        element2.name = "user.ServiceProviderAddresses[" + newRowIndex + "].DateTo";
        cell2.appendChild(element2);

        //Address
        var cell3 = row.insertCell(2);
        var element3 = document.createElement("textarea");
        element3.name = "user.ServiceProviderAddresses[" + newRowIndex + "].Address";
        element3.style.width = "150px"
        cell3.appendChild(element3);

        //State
        var cell4 = row.insertCell(3);
        var element4 = document.getElementById("ddlStateListReplica").cloneNode(true);
        element4.style.width = "150px";
        element4.name = "user.ServiceProviderAddresses[" + newRowIndex + "].State";
        cell4.appendChild(element4);

        //City
        var cell5 = row.insertCell(4);
        var element5 = document.createElement("input");
        element5.type = "text";
        element5.style.width = "150px";
        element5.name = "user.ServiceProviderAddresses[" + newRowIndex + "].City";
        cell5.appendChild(element5);

        //Delete
        var cell6 = row.insertCell(5);
        var element6 = document.getElementById("imgResiDeleteRowReplica").cloneNode(true);
        element6.id = "imgResiDeleteRow" + newRowIndex;
        cell6.appendChild(element6);
        if ((rowCount - 2) >= 0) {
            var deleteRowIcon = document.getElementById("imgResiDeleteRow" + (rowCount - 2));
            deleteRowIcon.style.display = "none";
        }

        $(function () {
            $(".DatePickerTextBox").datepicker({
                showOn: "button",
                buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+20"

            });
        });
    }

    function deleteRow(tableID) {
        try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var hdnResiRowCount = document.getElementById("hdnResiRowCount");
            hdnResiRowCount.value = parseInt(hdnResiRowCount.value) - 1;
            table.deleteRow(rowCount - 1);
            if ((rowCount - 3) >= 0) {
                var deleteRowIcon = document.getElementById("imgResiDeleteRow" + (rowCount - 3));
                deleteRowIcon.style.display = "inline";
            }


        } catch (e) {
            alert(e);
        }
    }

    $(function () {
        $(".PhoneNo").mask("(999) 999-9999");


    });

    function addShowHideLLC() {
        $('#tddbaradio input[type="radio"]').removeAttr("disabled");
        $('#ddlFederalTaxClassification').removeAttr("disabled");
        $('#ddlLLCTaxClassification').removeAttr("disabled");

        $('#hdnmodifyllc').val("1");
        if ($('#rdbIsDBAYes').is(':checked')) {
            $('#txtLLCFirm').removeAttr("disabled");
        }
        else { $('#txtLLCFirm').Attr("disabled", "disabled"); }
    }
    $(document).ready(function () {
        // $('#SSN').bind('blur', ssnunique);
        debugger;
        var EnableLLC = '@(ViewBag.EnableLLC)';

        $('#txtPassword').val('@Model.user.Password');
        $('#txtConfPassword').val('@Model.user.Password');
        if (EnableLLC == '1') {
            $('#tddbaradio input[type="radio"]').removeAttr("disabled");
            $('#ddlFederalTaxClassification').removeAttr("disabled");
            $('#ddlLLCTaxClassification').removeAttr("disabled");
            $('#hdnmodifyllc').val("1");

        }
        else {
            $('#hdnmodifyllc').val("0");
        }
        //$('#modifyLLC').click(function () {

        //    $('#tddbaradio input[type="radio"]').removeAttr("disabled");
        //    $('#ddlFederalTaxClassification').removeAttr("disabled");
        //    $('#ddlLLCTaxClassification').removeAttr("disabled");

        //    $('#hdnmodifyllc').val("1");

        //});

        $("#SSN").mask("999-99-9999");
        $("#txttaxid").mask("99-9999999");

        if ('@Model.user.ServiceProviderDetail.IsDBA' != null) {
            if ('@Model.user.ServiceProviderDetail.IsDBA' != "") {
                if ('@Model.user.ServiceProviderDetail.IsDBA' == 'False') {

                    $('#ddlFederalTaxClassification').empty();
                    $("#ddlFederalTaxClassification").append($("<option>").val('I').text('Individual/Sole Proprietor'));
                }
                if ('@Model.user.ServiceProviderDetail.IsDBA' == 'True') {
                    $('#ddlFederalTaxClassification').empty();
                    $("#ddlFederalTaxClassification").append($("<option>").val('0').text('--Select--'));
                    $("#ddlFederalTaxClassification").append($("<option>").val('C').text('C Corporation'));
                    $("#ddlFederalTaxClassification").append($("<option>").val('S').text('S Corporation'));
                    $("#ddlFederalTaxClassification").append($("<option>").val('P').text('Partnership'));
                    $("#ddlFederalTaxClassification").append($("<option>").val('T').text('Trust/estate'));
                    $("#ddlFederalTaxClassification").append($("<option>").val('L').text('LLC'));

                    var federal = $.trim('@Model.user.ServiceProviderDetail.FederalTaxClassification');

                    $("#ddlFederalTaxClassification option[value=" + federal + "]").attr("selected", "selected");


                }
            }
            else {
                $('#ddlFederalTaxClassification').empty();
                $("#ddlFederalTaxClassification").append($("<option>").val('I').text('Individual/Sole Proprietor'));

            }
        }


    });



    function ExecuteScript() {

        var hdnSSN = document.getElementById("hdnSSN");
        if (hdnSSN != null) {
            makeAst();
        }


    }

    function makeAst() {

        var hdnSSN = document.getElementById("hdnSSN");
        var SSN1 = document.getElementById("SSN1");
        if (hdnSSN == null) {

        }
        else {
            var v = hdnSSN.value;
            var l = v.length;
            var val = '';
            for (var i = 0; i < l; i++) {
                if (i < 6) {
                    val += '*';
                }
                else {
                    val += v.charAt(i);
                }
            }
            SSN1.value = val;
        }
        return true;
    }

    function compare() {
        //Perform validation when all the previous required fields have data else let the controller handle those validations.
        var valueToReturn = true;
        if ($("#txtFirstName").val().length != 0 && $("#txtLastName").val().length != 0 && $("#txtUserName").val().length != 0) {
            if ($("#tdConfirmPassword") != "") {
                var pass = $('#txtPassword').val();
                var confPass = $('#txtConfPassword').val();
                var letters;
                var numbers;
                var alpha = /^[a-zA-Z]+$/; //PATTERN FOR ALPHABETS
                var number = /^[0-9]+$/; //PATTERN FOR NUMBERS
                if ($('#txtPassword').val() != $('#txtConfPassword').val()) {
                    passwordNotMatch("Passwords do not match.");
                    valueToReturn = false;
                }
                else if (pass.length < 6) {
                    passwordNotMatch("Password should be at least 6 characters.");
                    valueToReturn = false;
                }
                for (i = 0; i < pass.length; i++) {
                    if (pass.substr(i, 1).match(alpha)) {
                        letters = true; //AT LEAST ONE LETTER EXISTS
                    }
                    else if (pass.substr(i, 1).match(number)) {
                        numbers = true; //AT LEAST ONE NUMBER EXISTS
                    }
                }
                //IF BOTH LETTERS AND NUMBERS ARE PRESENT...
                if (letters == true && numbers == true) {
                }
                else {
                    passwordNotMatch("Password should have at least one alphabet and one numeric character.");
                    valueToReturn = false;
                }
            }
        }
        return valueToReturn;
    }

    function passwordNotMatch(message) {
        $("#tdConfirmPassword").css("display", "block");
        $('#txtPassword').val('');
        $('#txtConfPassword').val('');
        $("#tdConfirmPassword").text(message);
        $("#divJSValidation").html(message);

    }
    function HidePasswordMessage() {
        $("#tdConfirmPassword").css("display", "none");
    }

    function ssnunique() {
        var SSNValue = $("#SSN").val();
        if (SSNValue != "") {
            SSNValue = SSNValue.replace('-', '');
            SSNValue = SSNValue.replace('-', '');
            $.ajax({
                url: '@Url.Action("SSNUnique", "ServiceProviderRegistration")',
                contentType: 'application/json; charset=utf-8',
                data: { SSNValue: SSNValue },
                cache: false,
                success: function (result) {
                    if (!result) {
                        $("#tdSSN div").css("display", "block");
                        $("#tdSSN div").text("SSN number already exists!");
                        $("#tdSSN div").css("color", "red");
                    }
                    else { $("#tdSSN div").css("display", "none"); }
                },
                error: function (error) {
                }
            });
            }
        }

        function hideDiv() {
            $("#tdSSN div").css("display", "none");
            $("#tdEmail div").css("display", "none");
        }

        $(function () {
            // $('#txtEmail').bind('blur', emailUnique);
            // $('#txtEmail').bind('focus', hideDiv);
        });

        function emailUnique() {
            var Emailtext = $("#txtEmail").val();
            if (Emailtext != "") {
                Emailtext = Emailtext.replace('-', '');
                Emailtext = Emailtext.replace('-', '');
                $.ajax({
                    url: '@Url.Action("EmailUnique", "ServiceProviderRegistration")',
                contentType: 'application/json; charset=utf-8',
                data: { Emailtext: Emailtext },
                cache: false,
                success: function (result) {
                    if (!result) {
                        $("#tdEmail div").css("display", "block");
                        $("#tdEmail div").text("Email already exists!");
                        $("#tdEmail div").css("color", "red");
                    }
                    else { $("#tdEmail div").css("display", "none"); }
                },
                error: function (error) {
                }
            });
        }
    }

    function getLLCFirm() {
        if ($('#txttaxid').val() != "") {
            $.post("@Url.Content("~/ServiceProviderRegistration/GetLLCFirm")",
        {
            taxid: $('#txttaxid').val()
        },

        function (data) {
            if (data != null) {
                if (data != "") {
                    if (data != -1) {
                        $('#txtLLCFirm').val(data);
                    }
                    else {
                        $('#txtLLCFirm').val("");
                    }
                }
            }
        });
        }
    }

    function Radio_Click(rdbNo, txtTobeDisabled, autoFocus) {
        var rdb = document.getElementById(rdbNo);
        var textBox = document.getElementById(txtTobeDisabled);
        textBox.disabled = rdb.checked;
        if (autoFocus == true) {
            textBox.focus();
        }
    }


    function Radio_ClickLLC(rdbNo, txtTobeDisabled, autoFocus) {
        var rdb = document.getElementById(rdbNo);
        var textBox = document.getElementById(txtTobeDisabled);

        $('#rdbIsDBAYes').click(function () {
            textBox.disabled = false;
            $('#hdnIsDBA').val("true");
            $('#ddlFederalTaxClassification').empty();

            $("#ddlFederalTaxClassification").append($("<option>").val('0').text('--Select--'));
            $("#ddlFederalTaxClassification").append($("<option>").val('C').text('C Corporation'));
            $("#ddlFederalTaxClassification").append($("<option>").val('S').text('S Corporation'));
            $("#ddlFederalTaxClassification").append($("<option>").val('P').text('Partnership'));
            $("#ddlFederalTaxClassification").append($("<option>").val('T').text('Trust/estate'));
            $("#ddlFederalTaxClassification").append($("<option>").val('L').text('LLC'));
        });
        $('#rdbIsDBANo').click(function () {
            $('#hdnIsDBA').val("false");
            $('#ddlFederalTaxClassification').empty();
            $('#txtLLCFirm').val("");
            textBox.disabled = rdb.checked;
            $("#ddlFederalTaxClassification").append($("<option>").val('I').text('Individual/Sole Proprietor'));
            document.getElementById("trLLCTaxClassification").style.display = "none";
            $("#ddlLLCTaxClassification").val("0");
        });

        if (autoFocus == true) {
            textBox.focus();
        }

    }


    function Radio_ClickDate(rdbNo, txtDate, autoFocus) {
        var rdb = document.getElementById(rdbNo);
        var textBox = document.getElementById(txtDate);

        textBox.disabled = rdb.checked;
        if (textBox.disabled == false) {

            $('#' + txtDate).addClass('DatePickerTextBox');
            $('#' + txtDate).datepicker("enable");
            $(function () {
                $(".DatePickerTextBox").datepicker({
                    showOn: "button",
                    buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
                    buttonImageOnly: true,
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-100:+20"

                });
            });

            //textBox.setAttribute("class", ".DatePickerTextBox");
            //textBox.className = "DatePickerTextBox";
        }
        else {
            //textBox.setAttribute("class", "");
            $('#' + txtDate).removeClass('DatePickerTextBox');
            $('#' + txtDate).datepicker("disable");

        }
        if (autoFocus == true) {
            textBox.focus();
        }


    }




</script>

<table>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">&nbsp;
        </td>
        <td valign="top" colspan="2">&nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">Full Name
            <br />
            (initials not acceptable)
        </td>
        <td valign="top" colspan="2">
            <table align="left" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td valign="top" style="padding-right: 5px;"><a id="a_user_FirstName"></a>First Name
                    </td>
                    <td valign="top" style="padding-right: 5px;">Middle Name
                    </td>
                    <td valign="top"><a id="a_user_LastName"></a>Last Name
                    </td>
                    @* <td valign="top" rowspan="2">
                        <input name="submit" type="submit" class="buttonYellow_100" value="Save" /></td>*@
                </tr>
                <tr>
                    <td valign="top" style="padding-right: 5px;">
                        <input name="user.FirstName" id="txtFirstName" type="text" value="@Model.user.FirstName" maxlength="25" />


                    </td>
                    <td valign="top" style="padding-right: 5px;">
                        <input name="user.MiddleInitial" type="text" value="@Model.user.MiddleInitial" maxlength="5" />

                    </td>
                    <td valign="top">
                        <input name="user.LastName" id="txtLastName" type="text" value="@Model.user.LastName" maxlength="25" />

                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Please enter your name exactly as shown on your income tax return form</td>
    </tr>

    <tr>
        <td valign="top">&nbsp;</td>
        <td>Goes by Nickname :</td>
        <td>
            <input name="user.ServiceProviderDetail.NickName" type="text" value="@Model.user.ServiceProviderDetail.NickName" />
        </td>
    </tr>
    @* <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">Attach your Photo: 
        </td>
        <td valign="top"><iframe id="frameUploadSSN" style="overflow:hidden;" frameborder="0" width="500" height="100" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=7&maxDocsCount=1&displayMode=1")" ></iframe>
        </td>
    </tr>*@
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">&nbsp;
        </td>
        <td valign="top" colspan="2">&nbsp;
        </td>
    </tr>
    <tr>
        @if (loggedInUser != null)
        {
            if (loggedInUser.UserTypeId == 2)
            {
            <td valign="top">&nbsp;</td>
            <td valign="top"><a id="a_user_UserName"></a>User Name
            </td>
            <td nowrap="nowrap" valign="top">
                <input  name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" readonly="true" />
                @* <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />*@

            </td>
            }
            else
            {
            <td valign="top">&nbsp;</td>
            <td valign="top"><a id="a_user_UserName"></a>User Name
            </td>
            <td nowrap="nowrap" valign="top">
                <input  name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" />
                <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />

            </td>
            }
        }
        else
        {
            <td valign="top">&nbsp;</td>
            <td valign="top"><a id="a_user_UserName"></a>User Name
            </td>
            <td nowrap="nowrap" valign="top">
                <input  name="user.UserName" id="txtUserName" type="text" value="@Model.user.UserName" />
                <input id="btnCheckUserName" type="button" value="Check Availability" onclick="UserCheck()" />

            </td>
        }

        <td valign="top" nowrap="nowrap" rowspan="3">
            <table style="padding-left: 30px;">
                <tr>
                    <td><a id="a_SPPhoto" name="a_SPPhoto"></a>Attach your Photo: </td>

                </tr>
                <tr>
                    <td>
                        <iframe id="frameUploadSSN" style="overflow:hidden;text-align:right;" frameborder="0" width="350" height="100" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=7&maxDocsCount=1&displayMode=1&isReadOnly=false")" ></iframe>
                    </td>
                </tr>
            </table>


        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top"><a id="a_user_Password"></a>Password</td>
        <td valign="top" colspan="2">
            @*<input name="user.Password" id="txtPassword" type="password" value="@Model.user.Password" onfocus="HidePasswordMessage();" />&nbsp;<div style="display: inline; color: red;" id="divStatus"></div>*@
            <input name="user.Password" id="txtPassword" type="password" onfocus="HidePasswordMessage();" />&nbsp;<div style="display: inline; color: red;" id="divStatus"></div>
            <br />Password should atleast be of 6 characters with one alphabet and a number
        </td>

    </tr>
    <tr>
        <td valign="top" style="height: 10px">&nbsp;</td>
        <td valign="top" style="height: 10px">Confirm Password</td>
        <td valign="top" align="left" colspan="2" style="height: 10px">
            @*<input name="user.PasswordConfirm" id="txtConfPassword" type="password" value="@Model.user.Password" onblur="compare();" onfocus="HidePasswordMessage();"/>*@
            <input name="user.PasswordConfirm" id="txtConfPassword" type="password" onblur="compare();" onfocus="HidePasswordMessage();" />
            <div id="tdConfirmPassword" valign="top" align="left" style="height: 10px; color: red; display: none;"></div>
        </td>

    </tr>

    <tr style="height: 10px">
        <td valign="top">&nbsp;
        </td>
        <td valign="top"><a id="a_user_Email"></a>Email Address:
        </td>
        <td valign="top" colspan="1">
            <input name="user.Email" id="txtEmail" type="text" value="@Model.user.Email" />

        </td>
        <td id="tdEmail">
            <div></div>
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">&nbsp;</td>
        <td valign="top" colspan="2">&nbsp;</td>
    </tr>
     <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">Address or PO Box:
        </td>
        <td valign="top" colspan="2">
            <input name="user.AddressPO" type="text" value="@Model.user.AddressPO" />
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">Street Number:
        </td>
        <td valign="top" colspan="2">
            <input name="user.AddressLine1" type="text" value="@Model.user.AddressLine1" />
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top"><a id="a_user_StreetAddress"></a>Street Name:
        </td>
        <td valign="top" colspan="2">
            <input name="user.StreetAddress" type="text" value="@Model.user.StreetAddress" />
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top"><a id="a_user_Zip"></a>Zip:
        </td>
        <td valign="top" colspan="2">
            <input name="user.Zip" id="txtZip" type="text" value="@Model.user.Zip" onblur="populateZipData('txtZip','ddlState','ddlCity')" />
        </td>

    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top"><a id="a_user_State"></a>State:
        </td>
        <td valign="top" colspan="2">
            <select name="user.State" id="ddlState" style="width: 150px;" onblur="getCurrentState()">
                @foreach (var state in Model.StateList)
                {
                    <option value="@state.Key.Trim()" @(state.Key.Trim() != (Model.user.State ?? "").Trim() ? "" : "selected = selected")>@state.Value</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top"><a id="a_user_City"></a>City:
        </td>
        <td valign="top" colspan="2">
            <input name="user.City" id="ddlCity" type="text" value="@Model.user.City" onblur="getCurrentCity()" />
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">&nbsp;</td>
        <td valign="top" colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td colspan="3" valign="top">Have you ever been known by any other names?
                @{
                    string IsKnowByOtherNamesYes = "";
                    string IsKnowByOtherNamesNo = "";
                    if (Model.user.ServiceProviderDetail != null)
                    {
                        if (Model.user.ServiceProviderDetail.IsKnowByOtherNames.HasValue)
                        {
                            if (Model.user.ServiceProviderDetail.IsKnowByOtherNames.Value)
                            {
                                IsKnowByOtherNamesYes = "checked=checked";
                            }
                            else
                            {
                                IsKnowByOtherNamesNo = "checked=checked";
                            }
                        }
                        else
                        {
                            IsKnowByOtherNamesNo = "checked=checked";
                        }
                    }
                    else
                    {
                        IsKnowByOtherNamesNo = "checked=checked";
                    }
                
                }
            <input name="user.ServiceProviderDetail.IsKnowByOtherNames" id="rdbIsKnowByOtherNamesYes" type="radio" value="true" onclick = "Radio_Click('rdbIsKnowByOtherNamesNo', 'txtKnowByOtherNames',true)" @IsKnowByOtherNamesYes />Yes
            <input name="user.ServiceProviderDetail.IsKnowByOtherNames" id="rdbIsKnowByOtherNamesNo" type="radio" value="false" onclick = "Radio_Click('rdbIsKnowByOtherNamesNo', 'txtKnowByOtherNames', true)" @IsKnowByOtherNamesNo />No
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">If yes, give the names:
        </td>
        <td valign="top" colspan="2">
            <input name="user.ServiceProviderDetail.KnowByOtherNames" id="txtKnowByOtherNames" type="text" value="@Model.user.ServiceProviderDetail.KnowByOtherNames" />
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">&nbsp;
        </td>
        <td valign="top" colspan="2">&nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top"><a id="a_user_SSN"></a>Social Security Number:
        </td>
        <td valign="top" colspan="1">
            @if (loggedInUser != null)
            {
                if (loggedInUser.UserTypeId == 2)
                {
                <input type="text" id="SSN1" readonly="true" />
                <input id="hdnSSN" name="user.SSN" type="hidden" value="@Model.user.SSN" />
                }
                else
                {
                
                <input name="user.SSN" type="text" id="SSN" value="@Model.user.SSN" />
                }
            }
            else
            {
                <input name="user.SSN" type="text" id="SSN" value="@Model.user.SSN" />
            }

        </td>
        <td id="tdSSN">
            <div></div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td valign="top"><a id="a_SSNDoc" name="a_SSNDoc"></a>Attach Copy of Social Security Card:
        </td>
        <td colspan="2">

            @*<a href="#" onclick="javascript: openPopup('@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId="+ Model.user.UserId + "&documentTypeID=1")', 'Social Security Card ');">Upload Documents </a>*@
            @*<a href="#" onclick="toggleIFrame('frameUploadSSN','true')">Upload Documents </a>
            <br />*@
            <iframe id="frameUploadSSN" style="overflow-y:hidden;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=1&maxDocsCount=1&displayMode=0&isReadOnly=false")" ></iframe>
            @*@Html.ActionLink("Upload Documents", "DocumentsList", "ServiceProviderRegistration", new { userId = Model.user.UserId, documentTypeID = 1 }, new { target="_blank" })*@
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">&nbsp;
        </td>
        <td valign="top" colspan="2">&nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">Are you doing business as DBA?
        </td>
        <td valign="top" colspan="2" id="tddbaradio">
            @{
                BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
                BLL.ServiceProviderDocument spdocument = null;
                string showFTC = "";
                string displaceFTCName ="";
                if (css.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && (p.DTId == 9)).ToList().Count > 0)
                {
                 
                <input type="hidden" id="hdnLLCFirm" value="@Model.user.ServiceProviderDetail.DBA_LLC_Firm_Corp" name="user.ServiceProviderDetail.DBA_LLC_Firm_Corp" />
                <input type="hidden" id="hdnFTC" value="@Model.user.ServiceProviderDetail.FederalTaxClassification" name="user.ServiceProviderDetail.FederalTaxClassification" />
                <input type="hidden" id="hdnLLCTaxClassification" value="@Model.user.ServiceProviderDetail.LLCTaxClassification" name="user.ServiceProviderDetail.LLCTaxClassification" />
                
                    showFTC = "disabled=disabled";
                    displaceFTCName = "x";
                }
               
            
                
            }
            @{
                string IsDBAYes = "";
                string IsDBANo = "";
                if (Model.user.ServiceProviderDetail != null)
                {
                    if (Model.user.ServiceProviderDetail.IsDBA.HasValue)
                    {
                        if (Model.user.ServiceProviderDetail.IsDBA.Value)
                        {
                            IsDBAYes = "checked=checked";
                        }
                        else
                        {
                            IsDBANo = "checked=checked";
                        }
                    }
                    else
                    {
                        IsDBANo = "checked=checked";
                    }

                }
                else
                {
                    IsDBANo = "checked=checked";
                }
                
            }
            <input type="hidden" id="hdnIsDBA" value="@Model.user.ServiceProviderDetail.IsDBA.ToString()" name="user.ServiceProviderDetail.IsDBA" />
            <input name="user.ServiceProviderDetail.IsDBAProxy" id="rdbIsDBAYes" type="radio" value="true" onclick = "Radio_ClickLLC('rdbIsDBANo', 'txtLLCFirm', true)" @showFTC  @IsDBAYes />Yes
            <input name="user.ServiceProviderDetail.IsDBAProxy" id="rdbIsDBANo" type="radio" value="false" onclick = "Radio_ClickLLC('rdbIsDBANo', 'txtLLCFirm', true)" @showFTC  @IsDBANo />No

            

        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">LLC/Corp./Partnership Name:
        </td>
        <td valign="top" colspan="2">
            <input name="user.ServiceProviderDetail.DBA_LLC_Firm_Corp@(displaceFTCName)" type="text"  id="txtLLCFirm"  value="@Model.user.ServiceProviderDetail.DBA_LLC_Firm_Corp" @showFTC />
            @if(loggedInUser!=null)
            {
            // if (loggedInUser.UserTypeId == 2)
          //  {
                 if (css.ServiceProviderDocuments.Where(p => (p.UserId == Model.user.UserId) && (p.DTId == 9)).ToList().Count > 0)
                 {
                 <a onclick="addShowHideLLC()" id="modifyLLC" style="border: none; color: blue; cursor: pointer;margin-left:100px;text-decoration:none;font-size:13px">Edit LLC</a>
                 <input type="hidden" id="hdnmodifyllc" name="EditLLC" />
            }
           // }
            }
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td nowrap="nowrap">Federal Tax Classification:</td>
        <td>
            <select name="user.ServiceProviderDetail.FederalTaxClassification@(displaceFTCName)" onchange="processFederalTaxClassificationChange()" id="ddlFederalTaxClassification" style="width: 150px;" @showFTC>
                <option value="0">--Select--</option>
            </select>
        </td>
    </tr>
    @{
        bool isLLCTaxClassificationVisible = false;
        string trLLCTaxClassificationStyle = "";
        if (!String.IsNullOrEmpty(Model.user.ServiceProviderDetail.FederalTaxClassification))
        {
            if (Model.user.ServiceProviderDetail.FederalTaxClassification.Trim() == "L")
            {
                isLLCTaxClassificationVisible = true;
            }
        }
        if (!isLLCTaxClassificationVisible)
        {
            trLLCTaxClassificationStyle = "style=display:none;";
        }
    }
    <tr id="trLLCTaxClassification" @trLLCTaxClassificationStyle>
        <td valign="top">&nbsp;</td>
        <td nowrap="nowrap">LLC Tax Classification:</td>
        <td>
            @{
                string llcTaxClassification = "0";
                if (!String.IsNullOrEmpty(Model.user.ServiceProviderDetail.LLCTaxClassification))
                {
                    llcTaxClassification = Model.user.ServiceProviderDetail.LLCTaxClassification;
                }
            }
            <select name="user.ServiceProviderDetail.LLCTaxClassification@(displaceFTCName)" id="ddlLLCTaxClassification" style="width: 150px;" value="@Model.user.ServiceProviderDetail.LLCTaxClassification" @showFTC>
                <option value="0" @(llcTaxClassification == "0"? "selected=selected":"")>--Select--</option>
                <option value="C" @(llcTaxClassification == "C"? "selected=selected":"")>C Corporation</option>
                <option value="S" @(llcTaxClassification == "S"? "selected=selected":"")>S Corporation</option>
                <option value="P" @(llcTaxClassification == "P"? "selected=selected":"")>Partnership</option>
            </select>
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">Tax Id:
            <br />
            (Employe Identification Number)
        </td>
        <td valign="top" colspan="2">
            <input name="user.ServiceProviderDetail.TaxID" type="text" id="txttaxid" onblur="getLLCFirm();" onchange="getLLCFirm();" value="@Model.user.ServiceProviderDetail.TaxID" />
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">&nbsp;
        </td>
        <td valign="top" colspan="2">&nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top"><a id="a_user_ServiceProviderDetail_DriversLicenceNumber" name="a_user_ServiceProviderDetail_DriversLicenceNumber"></a>Valid Driver’s License Number:
        </td>
        <td valign="top" colspan="2">
            <input name="user.ServiceProviderDetail.DriversLicenceNumber" type="text" value="@Model.user.ServiceProviderDetail.DriversLicenceNumber" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td valign="top"><a id="a_DriversLicenseDoc" name="a_DriversLicenseDoc"></a>Attach Copy of Drivers License:
        </td>
        <td colspan="2">
            <iframe id="frameUploadDriverLicense" style="overflow-y:hidden;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=3&maxDocsCount=1&displayMode=0&isReadOnly=false")" ></iframe>
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top"><a id="a_DriversLicenceState" name="a_DriversLicenceState"></a>Issuing State:<u> </u>
        </td>
        <td valign="top" colspan="2">
            <select name="user.ServiceProviderDetail.DriversLicenceState" style="width: 150px;">
                @foreach (var issuingstate in Model.IssuingStateList)
                {
                    <option value="@issuingstate.Key" @(issuingstate.Key != Model.user.ServiceProviderDetail.DriversLicenceState ? "" : "selected = selected")>@issuingstate.Value</option>
                }
            </select>
            @*            <input  type="text" value="@Model.user.DriversLicenceState" />*@
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">&nbsp;
        </td>
        <td valign="top" colspan="2">&nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top"><a id="a_user_ServiceProviderDetail_DOB"></a>Date of Birth:
        </td>
        <td valign="top" colspan="2">
            <input name="user.ServiceProviderDetail.DOB" class="DatePickerTextBox" type="text" value="@(Model.user.ServiceProviderDetail.DOB.HasValue ? Model.user.ServiceProviderDetail.DOB.Value.ToString("MM/dd/yyyy") : "")" />
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top"><a id="a_PlaceOfBirthState" name="a_PlaceOfBirthState"></a>Place of Birth State:
        </td>
        <td valign="top" colspan="2">
            <select name="user.ServiceProviderDetail.PlaceOfBirthState" style="width: 150px;">
                @foreach (var placeofbirhtstate in Model.PlaceOfBirthStateList)
                {
                    <option value="@placeofbirhtstate.Key" @(placeofbirhtstate.Key != Model.user.ServiceProviderDetail.PlaceOfBirthState ? "" : "selected = selected")>@placeofbirhtstate.Value</option>
                }

            </select>&nbsp;
            City:
            <input name="user.ServiceProviderDetail.PlaceOfBirth" type="text" value="@Model.user.ServiceProviderDetail.PlaceOfBirth" />
        </td>

    </tr>


    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">&nbsp;
        </td>
        <td valign="top" colspan="2">&nbsp;
        </td>
    </tr>

    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top"><a id="a_user_HomePhone"></a>Home Phone:
        </td>
        <td valign="top" colspan="2">
            <input name="user.HomePhone" class="PhoneNo" type="text" value="@Model.user.HomePhone" />
        </td>
    </tr>

    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top"><a id="a_user_MobilePhone"></a>Mobile Phone:
        </td>
        <td valign="top" colspan="2">
            <input name="user.MobilePhone" class="PhoneNo" type="text" value="@Model.user.MobilePhone" />
            &nbsp;&nbsp;
            @Html.DropDownListFor(model => model.NetworkProvider, Model.NetworkProviderList, new { @id = "ddlNetworkProvider",@name="user.MobileNetworkProvider",@style = "width:170px;" })

        </td>
    </tr>

    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top"></td>
        <td valign="top" colspan="2"></td>
    </tr>

    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top"><a id="a_user_Facebook"></a>Facebook Address:
        </td>
        <td valign="top" colspan="2">
            <input name="user.Facebook" type="text" value="@Model.user.Facebook" />
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top"><a id="a_user_Twitter"></a>Twitter Address:<u> </u>
        </td>
        <td valign="top" colspan="2">
            <input name="user.Twitter" type="text" value="@Model.user.Twitter" />
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top"><a id="a_user_GooglePlus"></a>Google+ Address:<u> </u>
        </td>
        <td valign="top" colspan="2">
            <input name="user.GooglePlus" type="text" value="@Model.user.GooglePlus" />
        </td>
    </tr>

    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">&nbsp;
        </td>
        <td valign="top" colspan="2">&nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td colspan="3" valign="top"><a id="a_SPAddressHistory" name="a_SPAddressHistory"></a>List your residences for the last ten (10) years starting with your current address,
            giving:
            
           

        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td colspan="3" valign="top">
            <table>
                <tr>
                    <td>
                        <table id="tblResidencesList">
                            <tr>
                                <td width="150"><b>Date From</b>
                                <td width="150"><b>Date To</b>

                                </td>
                                <td width="150"><b>Address</b>
                                </td>
                                <td width="150"><b>State</b>
                                    <div style="display: none;">
                                        <select id="ddlStateListReplica" style="width: 150px;">
                                            @foreach (var state in Model.StateList)
                                            {
                                                <option value="@state.Key">@state.Value</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td width="150"><b>City</b>
                                </td>
                                <td>
                                    <div style="display: none;">
                                        <img id="imgResiDeleteRowReplica" onclick="deleteRow('tblResidencesList')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </div>
                                </td>
                            </tr>
                            @if (Model.user.ServiceProviderAddresses.Count == 0)
                            {
                                
                                <tr>
                                    <td valign="top" nowrap="nowrap">
                                        <input name="user.ServiceProviderAddresses[0].DateFrom" class="DatePickerTextBox" type="text" />
                                    </td>
                                    <td valign="top" nowrap="nowrap">
                                        <input name="user.ServiceProviderAddresses[0].DateTo" class="DatePickerTextBox" type="text" />
                                    </td>

                                    <td valign="top">
                                        <textarea rows="2" style="width: 150px;" cols="20" name="user.ServiceProviderAddresses[0].Address"></textarea>
                                    </td>
                                    <td valign="top">
                                        <select id="userState0" name="user.ServiceProviderAddresses[0].State" style="width: 150px;">
                                            @foreach (var state in Model.StateList)
                                            {
                                                <option value="@state.Key">@state.Value</option>
                                            }
                                        </select>
                                    </td>
                                    <td valign="top">
                                        @*<select id="ddlResiCity0" name="ddlResiCity0" style="width: 100px;">
                                            @foreach (var city in Model.CityList)
                                            {
                                                <option value="@city.Key">@city.Value</option>
                                            }
                                        </select>*@
                                        <input type="text" id="userCity0" name="user.ServiceProviderAddresses[0].City" style="width: 150px;" value="" />
                                    </td>
                                    <td>
                                        <img id="imgResiDeleteRow0" onclick="deleteRow('tblResidencesList')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.user.ServiceProviderAddresses.Count; i++)
                                {
                                    BLL.ServiceProviderAddress residence = Model.user.ServiceProviderAddresses.ElementAt(i);
                                <tr>
                                    <td valign="top" nowrap="nowrap">
                                        <input name="@("user.ServiceProviderAddresses[" + i + "].SPAId")" type="hidden" value="@residence.SPAId" />
                                        <input name="@("user.ServiceProviderAddresses[" + i + "].DateFrom")" class="DatePickerTextBox" type="text"
                                            value="@(residence.DateFrom.HasValue ? residence.DateFrom.Value.ToString("MM/dd/yyyy") : "")" />

                                    </td>
                                    <td valign="top" nowrap="nowrap">
                                        @*<input name="@("user.ServiceProviderAddresses[" + i + "].SPAId")" type="hidden" value="@residence.SPAId" />*@
                                        <input name="@("user.ServiceProviderAddresses[" + i + "].DateTo")" class="DatePickerTextBox" type="text"
                                            value="@(residence.DateTo.HasValue ? residence.DateTo.Value.ToString("MM/dd/yyyy") : "")" />
                                    </td>
                                    <td valign="top">
                                        <textarea rows="2" style="width: 150px;" cols="20" name="@("user.ServiceProviderAddresses[" + i + "].Address")">@residence.Address</textarea>
                                    </td>
                                    <td valign="top">
                                        <select id="userState0" name="@("user.ServiceProviderAddresses[" + i + "].State")" style="width: 150px;">
                                            @foreach (var state in Model.StateList)
                                            {
                                                <option value="@state.Key" @(state.Key != residence.State ? "" : "selected = selected")>@state.Value</option>
                                            }
                                        </select>
                                    </td>
                                    <td valign="top">
                                        @* <select id="@("ddlResiCity" + i)" name="@("ddlResiCity" + i)" style="width: 100px;">
                                            @foreach (var city in Model.CityList)
                                            {
                                                <option value="@city.Key">@city.Value</option>
                                            }
                                        </select>*@
                                        <input id="userCity0" name="@("user.ServiceProviderAddresses[" + i + "].City")" style="width: 150px;" type="text" value="@(residence.City == null ? "" : residence.City)"/>
                                    </td>
                                    <td>
                                        <img id="@("imgResiDeleteRow" + i)" onclick="deleteRow('tblResidencesList')" style="@(i == (Model.user.ServiceProviderAddresses.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row"  />
                                    </td>
                                </tr>
                                }
                            }

                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <b><a onclick="addDynamicRow('tblResidencesList')" style="border: none; color: black; cursor: pointer;">
                            <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                            Add Row</a> &nbsp; 
                        </b>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">&nbsp;
        </td>
        <td valign="top" colspan="2">&nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top"><a id="a_PrimaryLanguage"></a>Primary language:
        </td>
        <td valign="top" colspan="2">
            <input name="user.ServiceProviderDetail.PrimaryLanguage" type="text" value="@Model.user.ServiceProviderDetail.PrimaryLanguage" />
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top"><a id="a_OtherLanguages"></a>Other languages:
            
        </td>
        <td valign="top" colspan="2">
            <input name="user.ServiceProviderDetail.OtherLanguages" type="text" value="@Model.user.ServiceProviderDetail.OtherLanguages" />
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">&nbsp;
        </td>
        <td valign="top" colspan="2">&nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">Do you have a valid passport?
        </td>
        <td valign="top" colspan="2">
            @{
                string HasValidPassportYes = "";
                string HasValidPassportNo = "";
                if (Model.user.ServiceProviderDetail != null)
                {
                    if (Model.user.ServiceProviderDetail.HasValidPassport.HasValue)
                    {
                        if (Model.user.ServiceProviderDetail.HasValidPassport.Value)
                        {
                            HasValidPassportYes = "checked=checked";
                        }
                        else
                        {
                            HasValidPassportNo = "checked=checked";
                        }
                    }
                    else
                    {
                        HasValidPassportNo = "checked=checked";
                    }
                }
                else
                {
                    HasValidPassportNo = "checked=checked";
                }
                
            }
            <input name="user.ServiceProviderDetail.HasValidPassport" id="rdbHasValidPassportYes" type="radio" value="true" onclick = "Radio_ClickDate('rdbHasValidPassportNo', 'txtPassportExpDate',true)" @HasValidPassportYes />Yes
            <input name="user.ServiceProviderDetail.HasValidPassport" id="rdbHasValidPassportNo" type="radio" value="false" onclick = "Radio_ClickDate('rdbHasValidPassportNo', 'txtPassportExpDate',true)" @HasValidPassportNo />No
        </td>
    </tr>
    <tr>
        <td></td>
        <td valign="top">Attach Copy of Passport: 
        </td>
        <td colspan="2">
            <iframe id="frameUploadPassport" style="overflow-y:hidden;" frameborder="0" width="500" height="60" src="@Url.Content("~/ServiceProviderRegistration/DocumentsList?userId=" + Model.user.UserId + "&documentTypeID=2&maxDocsCount=1&displayMode=0&isReadOnly=false")" ></iframe>
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">If yes, give expiration date:
        </td>
        <td valign="top" colspan="2">

            <input name="user.ServiceProviderDetail.PassportExpiryDate" type="text"  id="txtPassportExpDate"  
                value="@(Model.user.ServiceProviderDetail.PassportExpiryDate.HasValue ? Model.user.ServiceProviderDetail.PassportExpiryDate.Value.ToString("MM/dd/yyyy") : "")" />

        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">&nbsp;
        </td>
        <td valign="top" colspan="2">&nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top"><a id="a_ShirtSize" name="a_ShirtSize"></a>Shirt Size:
        </td>
        <td valign="top" colspan="2">

            <select id="user.ServiceProviderDetail.ShirtSizeTypeId" name="user.ServiceProviderDetail.ShirtSizeTypeId" style="width: 150px;">
                @foreach (var shirttype in Model.ShirtSizeTypeList)
                {
                    <option value="@shirttype.Key" @(@shirttype.Key != Model.user.ServiceProviderDetail.ShirtSizeTypeId ? "" : "selected = selected")>@shirttype.Value</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td valign="top">&nbsp;
        </td>
        <td valign="top">&nbsp;
        </td>
        <td valign="top" colspan="2">&nbsp;
        </td>
    </tr>
    @if (loggedInUser != null)
    {
        if (loggedInUser.UserTypeId == 2)
        {
        <tr>
            <td valign="top">&nbsp;
            </td>
            <td valign="top">Rank :
            </td>
            <td colspan="2">
                <input id="rb1" type="radio" name="user.ServiceProviderDetail.Rank" value="1" checked="@(Model.user.ServiceProviderDetail.Rank == 1 ? true : false)" />1&nbsp;
            <input id="rb2" type="radio" name="user.ServiceProviderDetail.Rank" value="2"  checked="@(Model.user.ServiceProviderDetail.Rank == 2 ? true : false)"  />2&nbsp;
            <input id="rb3" type="radio" name="user.ServiceProviderDetail.Rank" value="3"  checked="@(Model.user.ServiceProviderDetail.Rank == 3 ? true : false)"  />3&nbsp;
            <input id="rb4" type="radio" name="user.ServiceProviderDetail.Rank" value="4"  checked="@(Model.user.ServiceProviderDetail.Rank == 4 ? true : false)"  />4&nbsp;
          <input id="rb5" type="radio" name="user.ServiceProviderDetail.Rank" value="5"  checked="@(Model.user.ServiceProviderDetail.Rank == 5 ? true : false)"  />5
            </td>
        </tr>
        }
    }
</table>
<input id="hdnResiRowCount" name="hdnResiRowCount" type="hidden" value="@(Model.user.ServiceProviderAddresses.Count == 0 ? "1" : Model.user.ServiceProviderAddresses.Count + "")" />

