﻿@model BLL.ViewModels.AutoAssignmentViewModel

@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

@*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>*@

@*<script type="text/javascript">

        $(document).ready(function () {
            $("#txtPropertyContactPhone").mask("(999) 999-9999");
            $("#txtPropertyZip").keydown(function (event) {
                // Allow: backspace, delete, tab, escape, and enter
                if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                    // Allow: Ctrl+A
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    // Allow: home, end, left, right
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                else {
                    // Ensure that it is a number and stop the keypress
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                        event.preventDefault();
                    }
                }
            });
        });
    </script>*@


<div class="portlet light bordered">
    <div class="portlet-title ">
        <div class="caption col-md-5 ">
            <i class="icon-equalizer font-blue-hoki"></i>
            <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Vehicle Location</span>
        </div>
        <div class="col-md-4">
            @*@Html.CheckBoxFor(model => model.IsIadaMember, new { id = "IsIADAMember", @class = "", @style = "width: 6%; height: 15px;" })<span>IADA Member</span>*@
            <div class="form-group form-md-checkboxes">
                <div class="md-checkbox-inline">
                    <div class="md-checkbox">
                        @Html.CheckBoxFor(model => model.SameAsOwnerAddress, new { id = "chkSameOwnerAddress", @class = "md-check" })
                        @*<input type="checkbox" id="chkSameOwnerAddress" class="md-check">*@
                        <label for="chkSameOwnerAddress">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span> same as owner address
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="tools">
            <a href="" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        @*<form action="#" class="form-horizontal">*@
        <div class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Vehicle Location</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.claim.VehicleLocationID, Model.VehicleLocationList, new { @id = "ddlVehicleLocation", @class = "form-control" })
                                @*<input type="text" class="form-control">*@
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Contact Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.PropertyContactName, new { @id = "txtPropertyContactName", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Contact Phone</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.PropertyContactPhone, new { @id = "txtPropertyContactPhone", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Address</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.PropertyAddress1, new { @id = "txtPropertyAddress1", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">City</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.PropertyCity, new { @id = "txtPropertyCity", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">State</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.claim.PropertyState, Model.InsuredStateList, new { @id = "ddlPropertyState", @class = "form-control" })
                            </div>

                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            @*<label class="control-label col-md-4">Zip</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.claim.PropertyZip, new { @id = "txtPropertyZip", @onblur = "populateZipData('txtPropertyZip','ddlPropertyState','txtPropertyCity')", @class = "form-control" })
                                </div>*@
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Zip</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.PropertyZip, new { @id = "txtPropertyZip", @onblur = "populateZipData('txtPropertyZip','ddlPropertyState','txtPropertyCity')", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*</form>*@
        <!-- END FORM-->
        <!-- END FORM-->
    </div>
</div>


@*<table width="100%">
        <tr>
            <td colspan="4" class="subHeading">Vehicle Location</td>
        </tr>
        <tr>
            <td width="20%">
                *Vehicle Location
            </td>
            <td width="25%">
                @Html.DropDownListFor(model => model.claim.VehicleLocationID, Model.VehicleLocationList, new { style = "width: 190px;", @id = "ddlVehicleLocation" })
            </td>
            <td width="20%">
                *Zip
            </td>
            <td width="25%">
                @Html.TextBoxFor(model => model.claim.PropertyZip, new { @id = "txtPropertyZip", @onblur = "populateZipData('txtPropertyZip','ddlPropertyState','txtPropertyCity')" })
            </td>
        </tr>
        <tr>
            <td>
                *Address
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.PropertyAddress1, new { @id = "txtPropertyAddress1" })
            </td>
            <td>
                *State
            </td>
            <td>
                @Html.DropDownListFor(model => model.claim.PropertyState, Model.InsuredStateList, new { style = "width: 190px;", @id = "ddlPropertyState" })
            </td>
        </tr>
        <tr>
            <td>
                *Contact Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.PropertyContactName, new { @id = "txtPropertyContactName" })
            </td>
            <td>
                *City
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.PropertyCity, new { @id = "txtPropertyCity" })
            </td>
        </tr>
        <tr>
            <td>
                *Contact Phone
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.PropertyContactPhone, new { @id = "txtPropertyContactPhone" })
            </td>
        </tr>
    </table>*@


