﻿@using BLL
@model IEnumerable<GetUserDetails_Result>
    @{
    if (Model.ToList().Count() > 0 && Model != null)
    {
    foreach (var UserInfo in Model)
    {
    <div id="UserDetailModal" class="modal fade in" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modalHead" style="font-size:17px; background-color:#406E98 !important;color: white;">
                    @*<table style="width:100%">
                        <tr>
                            <td style="width: 15%;"><img alt="" style=" height: 50px; width: 50px;" src="~/Content/Images/avatar3_small.jpg"></td>
                            <td><h4 class="modal-title">@item.FirstName &nbsp; @item.LastName</h4></td>
                            <td><button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button></td>
                        </tr>
                    </table>*@
                    @{
                    if (UserInfo.UserTypeID == 1)
                    {
                    <label> <b>Internal Contact Details</b></label>
                    }
                    else if (UserInfo.UserTypeID == 11)
                    {
                    <label> <b>Client Contact Details</b></label>
                    }
                    }
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;">
                        <div class="scroller" style="overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                            <div class="form-body" style="font-size: 13px !important;">
                                <div>
                                    <table style="width:100%">
                                        <tr>
                                            <td style="width: 15%;">
                                                @{
                                                String RelativePath = "";
                                                string baseFolder = System.Configuration.ConfigurationManager.AppSettings["ServiceProviderDocsPath"].ToString();
                                                if (!String.IsNullOrEmpty(UserInfo.imagePath))
                                                {

                                                    RelativePath = Path.Combine((VirtualPathUtility.ToAbsolute(baseFolder) + "ThumbnailImage/" + UserInfo.UserId), UserInfo.imagePath);
                                                //if (!System.IO.File.Exists(RelativePath))
                                                //{
                                                //    RelativePath = Path.Combine((VirtualPathUtility.ToAbsolute(baseFolder)), "avatar.jpg");
                                                //}

                                                }
                                                else
                                                {
                                                RelativePath = Path.Combine((VirtualPathUtility.ToAbsolute(baseFolder)), "avatar.jpg");
                                                }
                                                UserInfo.imagePath = RelativePath;

                                                }
                                                <img alt="" style=" height: 50px; width: 50px;" src="@UserInfo.imagePath">
                                            </td>
                                            <td><h4 class="modal-title">@UserInfo.FirstName &nbsp; @UserInfo.LastName</h4></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                                <br />
                                <div class="">
                                    <div style="width:100%;">
                                        <div class="portlet light bordered" style="margin: 0px; padding-bottom: 0px;">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-equalizer font-blue-hoki"></i>
                                                    <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Contact Information</span>
                                                </div>
                                                <div class="tools">
                                                    <a href="" class="collapse" data-original-title="" title=""> </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body form" style="display: block;margin-top: -14px;">
                                                <!-- BEGIN FORM-->
                                                <div class="form-horizontal" style=" margin-bottom: -24px;">
                                                    <div class="form-body" style="padding-left: 20px;">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <span class="col-md-3">Address:</span>
                                                                    <div class="col-md-9">
                                                                        @UserInfo.StreetAddress
                                                                    </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3"></span>
                                                                            <div class="col-md-9">
                                                                                @UserInfo.City,@UserInfo.State.@UserInfo.Zip
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3">Phone:</span>
                                                                            <div class="col-md-9">
                                                                                @UserInfo.MobilePhone
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <span class="col-md-3">E-mail:</span>
                                                                            <div class="col-md-9">
                                                                                @UserInfo.Email
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*<div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <span class="col-md-3">Location:</span>
                                                                                <div class="col-md-9">
                                                                                    @UserInfo.City,@UserInfo.State.@UserInfo.Zip
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>*@
                                                            </div>
                                                            <br />
                                                        </div>

                                                <!-- END FORM-->
                                                <!-- END FORM-->
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <br />
                                @*<div class="">
                                    <div style="width:100%;">
                                        <div class="portlet light bordered" style="margin: 0px; padding-bottom: 0px;">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-equalizer font-blue-hoki"></i>
                                                    <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Other Details</span>
                                                </div>
                                                <div class="tools">
                                                    <a href="" class="collapse" data-original-title="" title=""> </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body form" style="display: block;margin-top: -14px;">  
                                                <div class="form-horizontal" style=" margin-bottom: -24px;">
                                                    <div class="form-body" style="padding-left: 20px;">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <span class="col-md-3">RANK:</span>
                                                                    <div class="col-md-9">
                                                                        @item.Rank
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <span class="col-md-3">Company:</span>
                                                                    <div class="col-md-9">
                                                                        @item.DBA_LLC_Firm_Corp
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <span class="col-md-3">Open Claims:</span>
                                                                    <div class="col-md-9">
                                                                        @item.OpenClaimsCount
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>                                                       
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn blue-madison ">Ok</button>
                   
                </div>
            </div>
        </div>
    </div>
    }
    }
    }

