﻿@model BLL.ViewModels.AutoAssignmentViewModel

@{
    BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
    CSS.Models.User loggedInUser = CSS.AuthenticationUtility.GetUser();
}

@*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>*@


<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-blue-hoki"></i>
            <span class="caption-subject font-blue-hoki bold uppercase" style="font-size:14px;">Vehicle Information</span>
        </div>
        <div class="tools">
            <a href="" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        @*<form action="#" class="form-horizontal">*@
        <div class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Vehicle Year</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.Year, new { @id = "txtYear", @class = "form-control" })
                                @*<input type="text" class="form-control">*@
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Vehicle Make</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.Make, new { @id = "txtMake", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Vehicle Model</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.AutoModel, new { @id = "txtAutoModel", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Vehicle VIN#</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.VIN_, new { id = "txtVin#", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Vehicle License Plate</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.LicensePlate, new { @id = "txtLicensePlate", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Vehicle Color</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.claim.AutoColor, new { id = "txtAutoColor", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Vehicle Damage</label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.claim.AutoDamage, new { @id = "txtAutoDamage", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div ng-class="CntrlMD">
                        <div class="form-group">
                            <label class="control-label col-md-4">Vehicle Instruction</label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.claim.AutoInstructions, new { @id = "txtAutoInstructions", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*</form>*@
        <!-- END FORM-->
        <!-- END FORM-->
    </div>
</div>



@*<table width="100%">
        <tr>
            <td colspan="4" class="subHeading">Vehicle Information</td>
        </tr>
        <tr>
            <td width="20%">
                Vehicle Year
            </td>
            <td width="25%">
                @Html.TextBoxFor(model => model.claim.Year, new { @id = "txtYear" })
            </td>
            <td width="20%">
                Vehicle Make
            </td>
            <td width="25%">
                @Html.TextBoxFor(model => model.claim.Make, new { @id = "txtMake" })
            </td>
        </tr>
        <tr>
            <td>
                Vehicle Model
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.AutoModel, new { @id = "txtAutoModel" })
            </td>
            <td>
                Vehicle VIN#
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.VIN_, new { id = "txtVin#" })
            </td>
        </tr>
        <tr>
            <td>
                Vehicle License Plate
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.LicensePlate, new { @id = "txtLicensePlate" })
            </td>
            <td>
                Vehicle Color
            </td>
            <td>
                @Html.TextBoxFor(model => model.claim.AutoColor, new { id = "txtAutoColor" })
            </td>
        </tr>
        <tr>
            <td>
                Vehicle Damage
            </td>
            <td>
                @Html.TextAreaFor(model => model.claim.AutoDamage, new { @id = "txtAutoDamage"})
            </td>
            <td>
                Vehicle Instruction
            </td>
            <td>
                @Html.TextAreaFor(model => model.claim.AutoInstructions, new { @id = "txtAutoInstructions" })
            </td>
        </tr>
    </table>*@