﻿@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    #backgroundPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopup {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 550px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        
    }
</style>
<script type="text/javascript">
    function setCommonPopop(AssignmentID) {
        $.ajax({
            url: '@Url.Action("NotesHistory", "Notes")',
            contentType: 'application/json; charset=utf-8',
            data: { AssignmentID: AssignmentID},
            cache: false,
            success: function (result) {
                $('#NotesList').empty().append(result);
                loadPopup();
            },
            error: function (error) {
            }
        });
    }

function loadPopup() {
        //debugger;
        // popupDivVal = Edit;
        //loads popup only if it is disabled
        var popupStatus = 0;

        if (popupStatus == 0) {
            centerPopup();
            $("#backgroundPopup").css({
                "opacity": "0.7"
            });
            $("#backgroundPopup").fadeIn("slow");
            $("#NotesList").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }

    function disablePopup() {
        //debugger;
        //disables popup only if it is enabled 
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopup").fadeOut("slow");
            $("#NotesList").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopup() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#NotesList").height();
        var popupWidth = $("#NotesList").width();
        //centering  
        $("#NotesList").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#backgroundPopup").css({
            "height": windowHeight
        });
        return false;
    }

    </script>




<input type="button" name="OpenNotelist" value="OpenNotelist" onclick="loadPopup();" />
<div id="NotesList" style="display:none;" class="EditPopup"></div>
    
<div id="backgroundPopup" onclick="disablePopup();" class="backgroundPopup" style="display:none;"></div>
