﻿@model BLL.ViewModels.PropertyInvoiceViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneratePdfInvoice</title>
</head>
<body>
    <div>

        @{
            BLL.ChoiceSolutionsEntities css = new BLL.ChoiceSolutionsEntities();
        }
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        @* <link href="@Url.Content("~/Content/PageBody.css")" rel="stylesheet" type="text/css" />*@

        <table style="width: 100%; color:black !important; font-size:16px !important; font-family: verdana !important;" bgcolor="White" width="100%" cellpadding="0" cellspacing="0" >
            <tr>
                <td>
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 30%">
                                <div style="float: left">
                                    <img src="~/Content/Images/CSSLogo04.jpg" />
                                </div>
                            </td>
                            <td style="text-align: center; width: 40%;">
                                <div>
                                    <h2><b>Choice Solutions Services, Inc.</b></h2>
                                    <h3><b>1701 Gateway Dr. Suite 319,
                <br />
                                        Richardson, TX 75080.</b></h3>
                                    <br />
                                </div>
                            </td>
                            <td style="width: 30%;">
                                <div style="float: left; display: none;">
                                    <img src="~/Content/Images/CSSLogo04.png" />
                                </div>
                            </td>
                        </tr>
                    </table>


                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><table style="width: 100%; border: 1px solid black;">
                <tr>
                    <td colspan="2">
                        <table width="100%">

                            <tr>
                                <td align="center" valign="top" style="width: 50%">
                                    <table align="none" style="width: 90%; border: 1px solid black;" cellspacing="3">
                                        <tr>
                                            <td width="10px"></td>
                                            <th style="text-align: right;">Insurance Co. :</th>
                                            <td style="text-align: left">
                                                @Model.invoiceDetail.CompanyName</td>
                                        </tr>
                                        <tr>
                                            <td width="10px"></td>
                                            <th style="text-align: right">Policy Number :</th>
                                            <td style="text-align: left">@Model.invoiceDetail.PolicyNumber</td>
                                        </tr>

                                        <tr>
                                            <td width="10px"></td>
                                            <th style="text-align: right">Claim Number :</th>
                                            <td style="text-align: left">@Model.invoiceDetail.ClaimNumber</td>
                                        </tr>
                                        <tr>
                                            <td width="10px"></td>
                                            <th style="text-align: right">Loss Date :</th>
                                            <td style="text-align: left">@Model.invoiceDetail.DateofLoss</td>
                                        </tr>
                                        <tr>
                                            <td width="10px"></td>
                                            <th style="text-align: right">Adjuster Name :</th>
                                            <td style="text-align: left">@Model.invoiceDetail.OutSideAdujusterName</td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="center" valign="top" style="width: 50%">
                                    <table align="none" style="width: 95%; border: 1px solid black;" cellspacing="3">
                                        <tr>
                                            <td width="10px"></td>
                                            <th style="text-align: right;width:150px">Invoice No :</th>
                                            <td style="text-align: left">@Model.invoiceDetail.InvoiceNo</td>
                                        </tr>
                                        <tr>
                                            <td width="10px"></td>
                                            <th style="text-align: right">Insured Name :</th>
                                            <td style="text-align: left">@Model.invoiceDetail.InsuredFirstName @Model.invoiceDetail.InsuredLastName </td>
                                        </tr>
                                        <tr>
                                            <td width="10px"></td>
                                            <th style="text-align: right">Invoice Date :</th>
                                            <td style="text-align: left">@Model.invoiceDetail.InvoiceDate</td>
                                        </tr>
                                        <tr>
                                            <td width="10px"></td>
                                            <th style="text-align: right" valign="top">Loss Address :</th>
                                            <td style="text-align: left">@Model.invoiceDetail.PropertyAddress1 @Model.invoiceDetail.PropertyAddress2, @Model.invoiceDetail.PropertyCity @Model.invoiceDetail.PropertyState @Model.invoiceDetail.PropertyZip
                                                <br />
                                                @Model.invoiceDetail.InsuredHomePhone
                                                <br />
                                                @Model.invoiceDetail.PropertyContactPhone</td>
                                        </tr>
                                        <tr>
                                            <td width="10px"></td>
                                            <th style="text-align: right" valign="top">Tax Id :</th>
                                            <td style="text-align: left">@System.Configuration.ConfigurationManager.AppSettings["CSSTaxId"]</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="padding-left: 15%;">RCV : @(Model.invoiceDetail.RCV.HasValue ? (Convert.ToDouble(Model.invoiceDetail.RCV.Value) == 0.00 ? "0.00" : Model.invoiceDetail.RCV.Value.ToString(".00")) : "0.00") </td>
                </tr>
                <tr>
                    <td width="100%;" align="center" valign="top">

                        <table style="border-collapse: collapse; border: 1px solid black; text-align: left;" width="70%;">

                            <tr style="height:30px">

                                @*<th  width="60px" style="border:1px solid black; text-align:left">#</th>*@
                                <th style="border: 1px solid black; text-align: left">Description</th>
                                <th style="border: 1px solid black; text-align: right">$ Amount</th>
                            </tr>
                            @if (Model.invoiceDetail.SubTotal.HasValue)
                            {
                                if (Model.invoiceDetail.SubTotal > 0)
                                {
                                <tr style="height:30px">
                                    @*<td width="60px" style="border:1px solid black;">1</td>*@
                                    <td style="border: 1px solid black;"><b>Total Services</b></td>
                                    <td style="border: 1px solid black; text-align: right"><b>@(Model.invoiceDetail.SubTotal.HasValue ? (Convert.ToDouble(Model.invoiceDetail.SubTotal.Value) == 0.00 ? "0.00" : Model.invoiceDetail.SubTotal.Value.ToString(".00")) : "0.00")</b></td>
                                </tr>
                                }
                            }
                            @if (Model.invoiceDetail.ServicesCharges.HasValue)
                            {
                                if (Model.invoiceDetail.ServicesCharges > 0)
                                {
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;padding-left:5px;"></td>*@
                                <td style="border: 1px solid black; padding-left: 10px;">- Services</td>
                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.ServicesCharges.HasValue ? (Convert.ToDouble(Model.invoiceDetail.ServicesCharges.Value) == 0.00 ? "0.00" : Model.invoiceDetail.ServicesCharges.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                            }
                            }
                             @if (Model.invoiceDetail.OfficeFee.HasValue)
                            {
                                if (Model.invoiceDetail.OfficeFee > 0)
                                {
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;padding-left:5px;"></td>*@
                                <td style="border: 1px solid black; padding-left: 10px;">- TPA/Office Fee</td>
                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.OfficeFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.OfficeFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.OfficeFee.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                            }
                            }
                             @if (Model.invoiceDetail.FileSetupFee.HasValue)
                            {
                                if (Model.invoiceDetail.FileSetupFee > 0)
                                {
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;padding-left:5px;"></td>*@
                                <td style="border: 1px solid black; padding-left: 10px;">- File Set up Fee</td>
                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.FileSetupFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.FileSetupFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.FileSetupFee.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                            }
                            }
                              @if (Model.invoiceDetail.ReInspectionFee.HasValue)
                            {
                                if (Model.invoiceDetail.ReInspectionFee > 0)
                                {
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;padding-left:5px;"></td>*@
                                <td style="border: 1px solid black; padding-left: 10px;">- Reinspection Fee</td>
                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.ReInspectionFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.ReInspectionFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.ReInspectionFee.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                            }
                            }
                             @if (Model.invoiceDetail.Tax.HasValue)
                            {
                                if (Model.invoiceDetail.Tax > 0)
                                {
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;">2</td>*@
                                <td style="border: 1px solid black;"><b>Total Services Sales Tax</b></td>
                                <td style="border: 1px solid black; text-align: right"><b>@(Model.invoiceDetail.Tax.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Tax.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Tax.Value.ToString(".00")) : "0.00")</b></td>
                            </tr>
                            }
                            }
                             @if (Model.invoiceDetail.TotalMileage.HasValue)
                            {
                                if (Model.invoiceDetail.TotalMileage > 0)
                                {
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;">3</td>*@
                                <td style="border: 1px solid black;">Total Mileage</td>
                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.TotalMileage.HasValue ? (Convert.ToDouble(Model.invoiceDetail.TotalMileage.Value) == 0.00 ? "0.00" : Model.invoiceDetail.TotalMileage.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                            }
                            }
                              @if (Model.invoiceDetail.TotalPhotosCharges.HasValue)
                            {
                                if (Model.invoiceDetail.TotalPhotosCharges > 0)
                                {
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;">4</td>*@
                                <td style="border: 1px solid black;">Total Photos</td>
                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.TotalPhotosCharges.HasValue ? (Convert.ToDouble(Model.invoiceDetail.TotalPhotosCharges.Value) == 0.00 ? "0.00" : Model.invoiceDetail.TotalPhotosCharges.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                            }
                            }
                              @if (Model.invoiceDetail.Tolls.HasValue)
                            {
                                if (Model.invoiceDetail.Tolls > 0)
                                {
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;">5</td>*@
                                <td style="border: 1px solid black;">Tolls</td>
                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.Tolls.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Tolls.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Tolls.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                            }
                            }
                             @if (Model.invoiceDetail.OtherTravelCharge.HasValue)
                            {
                                if (Model.invoiceDetail.OtherTravelCharge > 0)
                                {
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;">6</td>*@
                                <td style="border: 1px solid black;">Other Travel</td>
                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.OtherTravelCharge.HasValue ? (Convert.ToDouble(Model.invoiceDetail.OtherTravelCharge.Value) == 0.00 ? "0.00" : Model.invoiceDetail.OtherTravelCharge.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                            }
                            }
                            @if (Model.invoiceDetail.AierialImageFee.HasValue)
                            {
                                if (Model.invoiceDetail.AierialImageFee > 0)
                                {
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;">7</td>*@
                                <td style="border: 1px solid black;">Aierial Image Fee</td>
                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.AierialImageFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.AierialImageFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.AierialImageFee.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                            }
                            }
                             @if (Model.invoiceDetail.EDIFee.HasValue)
                            {
                                if (Model.invoiceDetail.EDIFee > 0)
                                {
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;">8</td>*@
                                <td style="border: 1px solid black;">EDI Fee</td>
                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.EDIFee.HasValue ? (Convert.ToDouble(Model.invoiceDetail.EDIFee.Value) == 0.00 ? "0.00" : Model.invoiceDetail.EDIFee.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                            }
                            }
                             @if (Model.invoiceDetail.Airfare.HasValue)
                            {
                                if (Model.invoiceDetail.Airfare > 0)
                                {
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;">9</td>*@
                                <td style="border: 1px solid black;">Airfare</td>
                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.Airfare.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Airfare.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Airfare.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;" valign="top">10</td>*@
                                <td style="border: 1px solid black;" valign="top">Misc.
                                    <br />
                                    Comment: @(!String.IsNullOrEmpty(Model.invoiceDetail.MiscComment) ? Model.invoiceDetail.MiscComment : "-")
                                </td>
                                <td style="border: 1px solid black; text-align: right" valign="top">@(Model.invoiceDetail.Misc.HasValue ? (Convert.ToDouble(Model.invoiceDetail.Misc.Value) == 0.00 ? "0.00" : Model.invoiceDetail.Misc.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                            }
                            }
                               @if (Model.invoiceDetail.ContentCount.HasValue)
                            {
                                if (Model.invoiceDetail.ContentCount > 0)
                                {
                            
                            
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;">11</td>*@
                                <td style="border: 1px solid black;">Contents Count</td>
                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.ContentCount.HasValue ? (Convert.ToDouble(Model.invoiceDetail.ContentCount.Value) == 0.00 ? "0.00" : Model.invoiceDetail.ContentCount.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                            }
                            }
                             @if (Model.invoiceDetail.TotalAdditionalCharges.HasValue)
                            {
                                if (Model.invoiceDetail.TotalAdditionalCharges > 0)
                                {
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;">12</td>*@
                                <td style="border: 1px solid black;"><b>Total Additional Charges</b></td>
                                <td style="border: 1px solid black; text-align: right"><b>@(Model.invoiceDetail.TotalAdditionalCharges.HasValue ? (Convert.ToDouble(Model.invoiceDetail.TotalAdditionalCharges.Value) == 0.00 ? "0.00" : Model.invoiceDetail.TotalAdditionalCharges.Value.ToString(".00")) : "0.00")</b></td>
                            </tr>
                            }
                            }
                            
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;"></td>*@
                                <td style="border: 1px solid black;"><b>INVOICE TOTAL</b></td>
                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.GrandTotal.HasValue ? (Convert.ToDouble(Model.invoiceDetail.GrandTotal.Value) == 0.00 ? "0.00" : Model.invoiceDetail.GrandTotal.Value.ToString(".00")) : "0.00")</td>
                            </tr>

                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;"></td>*@
                                <td style="border: 1px solid black;"><b>PRIOR PAYMENTS ON CLAIMS (Includes all Prior Invocies)</b></td>

                                <td style="border: 1px solid black; text-align: right">@(Model.TotalAmountReceived.HasValue ? (Convert.ToDouble(Model.TotalAmountReceived.Value) == 0.00 ? "0.00" : Model.TotalAmountReceived.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                            <tr style="height:30px">
                                @*<td width="60px" style="border:1px solid black;"></td>*@
                                <td style="border: 1px solid black;"><b>BALANCE DUE</b></td>
                                <td style="border: 1px solid black; text-align: right">@(Model.invoiceDetail.BalanceDue.HasValue ? (Convert.ToDouble(Model.invoiceDetail.BalanceDue.Value) == 0.00 ? "0.00" : Model.invoiceDetail.BalanceDue.Value.ToString(".00")) : "0.00")</td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
       @* </td>
    </tr>
    <tr>
        <td></td>

    </tr>



        </table>*@

    </div>
</body>
</html>
