﻿@{
    Layout = "~/Views/Shared/_subMainLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <article id="post-281" class="post-281 page type-page status-publish has-post-thumbnail hentry pmpro-has-access odd">
                <div class="entry-content">
                    <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1468845674249 ult-vc-hide-row vc_row-has-fill" data-rtl="false" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="false" style="position: relative; left: -46.5px; box-sizing: border-box; width: 1263px; padding-left: 46.5px; padding-right: 46.5px;">
                        <div class="upb_row_bg vcpb-vz-jquery" data-upb_br_animation="" data-parallax_sense="30" data-bg-override="full" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" style="background-size: cover; background-repeat: no-repeat; background-color: rgba(0, 0, 0, 0); background-image: url(&quot;/wp-content/uploads/2014/12/Contact-IADA-Today.png&quot;); background-attachment: scroll; min-width: 1263px; left: 0px; width: 1263px; background-position: 50% -47px;"></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <div class="textshadow">
                                                <h2 style="text-align: center;"><span style="color: #ffffff; font-size: 175%;">It’s Time to Make the Connection</span></h2>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="vc_row-full-width vc_clearfix"></div><!-- Row Backgrounds --><div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_custom_1464098168719" style="position: relative; left: -46.5px; box-sizing: border-box; width: 1263px;">
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                                    <div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="fadeInLeftBig" data-animation-delay="0" data-animation-duration="3" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 0s; -moz-transition-delay: 0s; transition-delay: 0s;" data-opacity_start_effect="">
                                        <div class="ult-new-ib ult-ib-effect-style2  ult-ib-resp   animated fadeInLeftBig" data-min-width="768" data-max-width="900" style="opacity:1;-webkit-animation-delay:0s;-webkit-animation-duration:3s;-webkit-animation-iteration-count:1; -moz-animation-delay:0s;-moz-animation-duration:3s;-moz-animation-iteration-count:1; animation-delay:0s;animation-duration:3s;animation-iteration-count:1;background:#082942;" data-opacity=".4" data-hover-opacity=".04"><img class="ult-new-ib-img" style="opacity:.4;" alt="null" src="~/wp-content/uploads/2014/12/Insurance-Professionals-Resources.png"><div id="interactive-banner-wrap-1574" class="ult-new-ib-desc" style=""><h2 class="ult-new-ib-title ult-responsive" data-ultimate-target="#interactive-banner-wrap-1574 .ult-new-ib-title" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:25px;&quot;,&quot;line-height&quot;:&quot;desktop:28px;&quot;}" style="font-weight:normal;color:#ffffff;">Insurance Professionals</h2><div class="ult-new-ib-content ult-responsive" data-ultimate-target="#interactive-banner-wrap-1574 .ult-new-ib-content" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:14px;&quot;,&quot;line-height&quot;:&quot;desktop:18px;&quot;}" style="font-weight:normal;color:#ffffff;"><p>Get your free membership and connect with top-notch damage appraisal specialists.</p></div></div><a class="ult-new-ib-link" href="~/InsuranceSetup/CreateCompany" target=" _blank"></a></div>
                                        <script type="text/javascript" style="opacity: 1; animation-delay: 0s; animation-duration: 3s; animation-iteration-count: 1;" class="animated fadeInLeftBig">
			(function($){
				$(document).ready(function(){
					$(".ult-new-ib").css("opacity","1");
				});
			})(jQuery);
                                        </script>
                                    </div><div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="fadeInLeftBig" data-animation-delay="0" data-animation-duration="3" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 0s; -moz-transition-delay: 0s; transition-delay: 0s;" data-opacity_start_effect="">
                                        <div class="ult-new-ib ult-ib-effect-style2  ult-ib-resp   animated fadeInLeftBig" data-min-width="768" data-max-width="900" style="opacity:1;-webkit-animation-delay:0s;-webkit-animation-duration:3s;-webkit-animation-iteration-count:1; -moz-animation-delay:0s;-moz-animation-duration:3s;-moz-animation-iteration-count:1; animation-delay:0s;animation-duration:3s;animation-iteration-count:1;background:#082942;" data-opacity=".4" data-hover-opacity=".04"><img class="ult-new-ib-img" style="opacity:.4;" alt="null" src="~/wp-content/uploads/2016/04/iada-membership.png"><div id="interactive-banner-wrap-6313" class="ult-new-ib-desc" style=""><h2 class="ult-new-ib-title ult-responsive" data-ultimate-target="#interactive-banner-wrap-6313 .ult-new-ib-title" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:25px;&quot;,&quot;line-height&quot;:&quot;desktop:28px;&quot;}" style="font-weight:normal;color:#ffffff;">Join as a Member</h2><div class="ult-new-ib-content ult-responsive" data-ultimate-target="#interactive-banner-wrap-6313 .ult-new-ib-content" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:14px;&quot;,&quot;line-height&quot;:&quot;desktop:18px;&quot;}" style="font-weight:normal;color:#ffffff;"><p>Find out how you can become part of our winning team of appraisers.</p></div></div>@*<a class="ult-new-ib-link" href="" target=" _blank"></a>*@</div>@*~/claims-appraisal-membership/*@
                                        <script type="text/javascript" style="opacity: 1; animation-delay: 0s; animation-duration: 3s; animation-iteration-count: 1;" class="animated fadeInLeftBig">
			(function($){
				$(document).ready(function(){
					$(".ult-new-ib").css("opacity","1");
				});
			})(jQuery);
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-9">
                            <div class="vc_column-inner vc_custom_1463691075003">
                                <div class="wpb_wrapper">
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                            <div class="vc_column-inner vc_custom_1463691031776">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h1 style="text-align: left;">General Inquiries</h1>
                                                            <p style="text-align: justify;">We would like to hear from you. &nbsp;If you have questions or comments, or would simply like to know more about IADA, <span style="font-size: 150%;">please&nbsp;use the contact form below,</span> call or email.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner vc_custom_1463690964943">
                                                <div class="wpb_wrapper">
                                                    <div id="ultimate-heading-513757eb5cf9ac791" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-513757eb5cf9ac791 uvc-8541 " data-hspacer="line_only" data-halign="left" style="text-align:left">
                                                        <div class="uvc-main-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading-513757eb5cf9ac791 h2" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:16px;&quot;,&quot;line-height&quot;:&quot;desktop:30px;&quot;}"><h2 style="font-weight:bold;color:#000000;margin-top:40px;">Contact Information</h2></div><div class="uvc-heading-spacer line_only" style="margin-top:12px;margin-bottom:12px;height:2px;"><span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: rgb(48, 48, 48); width: 22px; float: left;"></span></div><div class="uvc-sub-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading-513757eb5cf9ac791 .uvc-sub-heading " data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:14px;&quot;,&quot;line-height&quot;:&quot;desktop:20px;&quot;}" style="font-weight:normal;color:#333333;margin-bottom:40px;">
                                                            <p></p>
                                                            <p style="text-align: left;"><strong>Mailing Address:</strong></p>
                                                            <p style="text-align: left;">P.O. Box 694, Christiansburg, VA 24068</p>
                                                            <p style="text-align: left;"><i class="fa fa-phone-square"></i> 800-369-IADA</p>
                                                            <p style="text-align: left;"><i class="fa fa-envelope"></i> <a href="mailto:admin@iada.org">admin@iada.org</a></p>
                                                            <p style="text-align: left;"><i class="fa fa-clock-o"></i> 9am to 5pm Mon-Fri</p>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div role="form" class="wpcf7" id="wpcf7-f4-p281-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <form action="/contact/#wpcf7-f4-p281-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                            <div style="display: none;">
                                                <input type="hidden" name="_wpcf7" value="4">
                                                <input type="hidden" name="_wpcf7_version" value="4.4.2">
                                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p281-o1">
                                                <input type="hidden" name="_wpnonce" value="b1564cb3ac">
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 form-group"><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Full Name"></span></div>
                                                <div class="col-md-6 form-group"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Email Address"></span></div>
                                            </div>
                                            <div class="form-group"><span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text form-control" aria-invalid="false" placeholder="Subject"></span></div>
                                            <div class="form-group"><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="5" class="wpcf7-form-control wpcf7-textarea form-control" aria-invalid="false" placeholder="message"></textarea></span></div>
                                            <div class="form-group"><input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit btn btn-primary"></div>
                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="vc_row-full-width vc_clearfix"></div>
                </div><!-- .entry-content -->
                <footer class="entry-meta"></footer><!-- .entry-meta -->
            </article><!-- #post -->
        </div>
    </div>
</div>