﻿@model BLL.ViewModels.NuGenPricingScheduleViewModel
@{
    Layout = "~/Views/Shared/_modalLayout.cshtml";
}

<style>
    .errorMsg {
        font-weight: bold;
        color: red;
        display: inline;
    }
</style>
<script type="text/javascript">

    function closepopup() {
        //debugger;
        window.parent.$("#LOBPricing").data("kendoWindow").close();
        //var kendoWindow = $("#LOBPricing").data("kendoWindow").close();
    }

    function addLOBPricingRow(tableID) {
        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;
        var newRowIndex = rowCount - 1;
        var row = table.insertRow(rowCount);
        row.vAlign = "top";
        var hdnRowCount = document.getElementById("hdnLOBPricingRowCount");
        hdnRowCount.value = parseInt(hdnRowCount.value) + 1;


        //StartRange
        var cell2 = row.insertCell(0);
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.style.width = "80px";
        element2.name = "LobPricingList[" + newRowIndex + "].StartRange";
        cell2.appendChild(element2);

        //EndRange
        var cell3 = row.insertCell(1);
        var element3 = document.createElement("input");
        element3.type = "text";
        element3.style.width = "80px";
        element3.name = "LobPricingList[" + newRowIndex + "].EndRange";
        cell3.appendChild(element3);

        //BaseServiceFee
        var cell4 = row.insertCell(2);
        var element4 = document.createElement("input");
        element4.type = "text";
        element4.style.width = "80px";
        element4.name = "LobPricingList[" + newRowIndex + "].BaseServiceFee";
        cell4.appendChild(element4);

        //SPServiceFee
        var cell5 = row.insertCell(3);
        var element5 = document.createElement("input");
        element5.type = "text";
        element5.style.width = "80px";
        element5.name = "LobPricingList[" + newRowIndex + "].SPServiceFee";
        cell5.appendChild(element5);

        //RCVPercent
        var cell6 = row.insertCell(4);
        var element6 = document.createElement("input");
        element6.type = "text";
        element6.style.width = "50px";
        element6.name = "LobPricingList[" + newRowIndex + "].SPServicePercent";
        cell6.appendChild(element6);

        ////SPRCVPercent
        //var cell7 = row.insertCell(5);
        //var element7 = document.createElement("input");
        //element7.type = "text";
        //element7.style.width = "50px";
        //element7.name = "LobPricingList[" + newRowIndex + "].SPRCVPercent";
        //cell7.appendChild(element7);

        ////RPXercent
        //var cell8 = row.insertCell(6);
        //var element8 = document.createElement("input");
        //element8.type = "text";
        //element8.style.width = "50px";
        //element8.name = "LobPricingList[" + newRowIndex + "].SPXPercent";
        //cell8.appendChild(element8);



        //NuGen new fields has been added---------------------------------------------------------
        //Hourly Rate
        var cell9 = row.insertCell(5);
        var element9 = document.createElement("input");
        element9.type = "text";
        element9.style.width = "40px";
        element9.name = "LobPricingList[" + newRowIndex + "].SPXPercent";
        cell9.appendChild(element9);

        //Free Miles
        var cell10 = row.insertCell(6);
        var element10 = document.createElement("input");
        element10.type = "text";
        element10.style.width = "80px";
        element10.name = "LobPricingList[" + newRowIndex + "].SPXPercent";
        cell10.appendChild(element10);

        //$ Per Mile
        var cell11 = row.insertCell(7);
        var element11 = document.createElement("input");
        element11.type = "text";
        element11.style.width = "40px";
        element11.name = "LobPricingList[" + newRowIndex + "].SPXPercent";
        cell11.appendChild(element11);

        //Total Loss Fee
        var cell12 = row.insertCell(8);
        var element12 = document.createElement("input");
        element12.type = "text";
        element12.style.width = "80px";
        element12.name = "LobPricingList[" + newRowIndex + "].SPXPercent";
        cell12.appendChild(element12);
        //----------------------------------------------------------------------------------------





        var cell13 = row.insertCell(9);
        cell13.align = "left";
        //cell9.innerHTML = "";
        var element13 = document.createElement("input");
        element13.type = "checkbox";
        element13.style.width = "50px";
        element13.name = "LobPricingList[" + newRowIndex + "].IsTimeNExpance";
        element13.setAttribute("onclick", "CheckChanged('tblLOBPricingList','" + newRowIndex + "','false')");
        cell13.appendChild(element13);

        //Delete
        var cell14 = row.insertCell(10);
        var element14 = document.getElementById("imgLOBPricingDeleteRowReplica").cloneNode(true);
        element14.id = "imgLOBPricingDeleteRow" + newRowIndex;
        cell14.appendChild(element14);
        if ((rowCount - 2) >= 0) {
            var deleteRowIcon = document.getElementById("imgLOBPricingDeleteRow" + (rowCount - 2));
            deleteRowIcon.style.display = "none";
        }

    }

    function CheckChanged(tableID, chkRNo, PrevVal) {
        
        var IrowNo = parseInt(chkRNo);
        var table = document.getElementById(tableID);
        
        if (PrevVal.toLowerCase() == 'true') {
            IrowNo = IrowNo + 1;
            $(table.rows[IrowNo].cells[2]).find("input").removeAttr("disabled");
            //$(table.rows[IrowNo].cells[3]).find("input").removeAttr("disabled");
            //$(table.rows[IrowNo].cells[4]).find("input").removeAttr("disabled");
            //$(table.rows[IrowNo].cells[5]).find("input").removeAttr("disabled");
            //$(table.rows[IrowNo].cells[6]).find("input").removeAttr("disabled");

            var cell13 = table.rows[IrowNo].cells[9];
            cell13.align = "left";
            cell13.innerHTML = "";
            var element13 = document.createElement("input");
            element13.type = "checkbox";
            element13.style.width = "50px";
            element13.name = "LobPricingList[" + parseInt(chkRNo) + "].IsTimeNExpance";

            element13.setAttribute("onclick", "CheckChanged('tblLOBPricingList','" + parseInt(chkRNo) + "','false')");
            cell13.appendChild(element13);
        }
        else{

            IrowNo = IrowNo + 1;
            $(table.rows[IrowNo].cells[2]).find("input").val('').attr("disabled", "disabled");
            //$(table.rows[IrowNo].cells[3]).find("input").val('').attr("disabled", "disabled");
            //$(table.rows[IrowNo].cells[4]).find("input").val('').attr("disabled", "disabled");
            //$(table.rows[IrowNo].cells[5]).find("input").val('').attr("disabled", "disabled");
            //$(table.rows[IrowNo].cells[6]).find("input").val('').attr("disabled", "disabled");

            var cell13 = table.rows[IrowNo].cells[9];
            cell13.align = "left";
            cell13.innerHTML = "";
            var element13 = document.createElement("input");
            element13.type = "checkbox";
            element13.style.width = "50px";
            element13.name = "LobPricingList[" + parseInt(chkRNo) + "].IsTimeNExpance";
            element13.value = "true";
            element13.setAttribute("onclick", "CheckChanged('tblLOBPricingList','" + parseInt(chkRNo) + "','true')");
            element13.checked = true;
            cell13.appendChild(element13);
        }
    }

    function deleteLOBPricingRow(tableID, lobPrcId) {
        try {
            //debugger;
            if (confirm('Do you want to delete this pricing?')) {
                if (lobPrcId != '0') {
                    var hdndellist = document.getElementById('hdnDelLobprcIDlst');
                    hdndellist.value = hdndellist.value + lobPrcId + ','
                    //alert(hdndellist.value);
                }
                var table = document.getElementById(tableID);
                var rowCount = table.rows.length;
                var hdnRowCount = document.getElementById("hdnLOBPricingRowCount");
                hdnRowCount.value = parseInt(hdnRowCount.value) - 1;
                table.deleteRow(rowCount - 1);
                if ((rowCount - 3) >= 0) {
                    var deleteRowIcon = document.getElementById("imgLOBPricingDeleteRow" + (rowCount - 3));
                    deleteRowIcon.style.display = "inline";
                }
            }
            else {
                //do nothing
            }

        } catch (e) {
            alert(e);
        }
    }
</script>
<body style="background-image: none">

    @*action="@Html.Action("LOBPricing","CompanyLOBPricing")" id="divLOBPricing"*@
    <form action="~/ServiceLOBPricing/LOBPricing" method="post">

        @{
            if (@Model.ServceTypeId != 0)
            {
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content" align="center">
                            <table bgcolor="White" width="100%" cellpadding="0" cellspacing="0" class="bodyFont">
                                <tr>
                                    <td class="subHeading borderBottomLightGray" nowrap="nowrap">
                                         @Model.ServiceType.ServiceDescription  @Model.strLobDesc
                                        <input type="hidden" id="hdnDelLobprcIDlst" name="hdnDelLobprcIDlst" value="@Model.Delstring" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div style="display: none;">
                                            @Html.HiddenFor(model => model.ServceTypeId, new { id = "hdnServiceTypeId" })
                                            @Html.HiddenFor(model => model.LobID, new { id = "hdnlobID" })
                                        </div>
                                        @if (Model.ValidationSummary != null && Model.ValidationSummary.Trim() != "")
                                        {

                                            @:<div style="padding-left:10px;" class="errorMsg"> <br />  @Html.Raw(Model.ValidationSummary)   </div>
                                           }


                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <br />
                                        <table align="center" id="tblLOBPricingList" cellspacing="0" cellpadding="0">
                                            <tr valign="top">
                                                <td class="tableHeader" width="80">
                                                    Invoice Range <br />From ($)
                                                </td>
                                                <td class="tableHeader" width="80">
                                                    Invoice Range <br />To ($)
                                                </td>
                                                <td class="tableHeader" width="90" nowrap="nowrap">
                                                    Base Service<br />Fee($)
                                                </td>
                                                <td class="tableHeader" width="80">
                                                    IADA Service<br />Fee ($)
                                                </td>
                                                <td class="tableHeader" width="50">
                                                    IADA Service <br />(%)
                                                </td>
                                                @*<td class="tableHeader" width="50">
                                                    SP<br />RCV (%)
                                                </td>
                                                <td class="tableHeader" width="50">
                                                    SPX <br />(%)
                                                </td>*@





                                                @*  New field has been added as per NuGen *@
                                                <td class="tableHeader" width="40">
                                                    Hourly <br />Rate ($)
                                                </td>
                                                <td class="tableHeader" width="80">
                                                    Free <br />Miles
                                                </td>
                                                <td class="tableHeader" width="40">
                                                    $ Per <br />Mile ($)
                                                </td>
                                                <td class="tableHeader" width="80">
                                                    Tatal Loss Fee ($)
                                                </td>
                                                @*  New field has been added as per NuGen *@



                                                <td class="tableHeader" width="50" align="left">
                                                    Time & Expense
                                                </td>





                                                <td width="100%">
                                                    <div style="display: none;">
                                                        <img id="imgLOBPricingDeleteRowReplica" onclick="deleteLOBPricingRow('tblLOBPricingList','0')" style="color: black; cursor: pointer;" src="~/Content/Images/Cancel.png" width="13" height="13" border="0" alt="Delete this row" />
                                                    </div>
                                                </td>

                                            </tr>
                                            @if (Model.LobPricingList.Count == 0)
                                            {
                                                <tr>
                                                    <td>
                                                        <input name="LobPricingList[0].StartRange" type="text" style="width: 80px;" />
                                                    </td>
                                                    <td>
                                                        <input name="LobPricingList[0].EndRange" type="text" style="width: 80px;" />
                                                    </td>
                                                    <td>
                                                        <input name="LobPricingList[0].BaseServiceFee" type="text" style="width: 80px;" />
                                                        <label id="lblPerhr[0]" title=" /hr " style="display: none"></label>
                                                    </td>
                                                    <td>
                                                        <input name="LobPricingList[0].SPServiceFee" type="text" style="width: 80px;" />
                                                    </td>
                                                    <td>
                                                        <input name="LobPricingList[0].SPServicePercent" type="text" style="width: 50px;" />
                                                    </td>
                                                    @*<td>
                                                        <input name="LobPricingList[0].SPRCVPercent" type="text" style="width: 50px;" />
                                                    </td>
                                                    <td>
                                                        <input name="LobPricingList[0].SPXPercent" type="text" style="width: 50px;" />
                                                    </td>*@



                                                    @* New Fields as per NuGen *@
                                                    <td>
                                                        <input name="LobPricingList[0].HourlyRate" type="text" style="width: 40px;" />
                                                    </td>
                                                    <td>
                                                        <input name="LobPricingList[0].FreeMile" type="text" style="width: 80px;" />
                                                    </td>
                                                    <td>
                                                        <input name="LobPricingList[0].DollarPerMile" type="text" style="width: 40px;" />
                                                    </td>
                                                    <td>
                                                        <input name="LobPricingList[0].TotalLossFee" type="text" style="width: 80px;" />
                                                    </td>
                                                    @* New Fields as per NuGen *@

                                                    <td align="left">
                                                        <input name="LobPricingList[0].IsTimeNExpance" type="checkbox" onclick="CheckChanged('tblLOBPricingList','0','false')" style="width: 50px;" />
                                                    </td>


                                                    <td>
                                                        <img id="imgLOBPricingDeleteRow0" onclick="deleteLOBPricingRow('tblLOBPricingList','0')" style="color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                {
                                                    for (int i = 0; i < Model.LobPricingList.Count; i++)
                                                    {
                                                        BLL.ServiceLOBPricing pricing = Model.LobPricingList.ElementAt(i);
                                                        <tr>

                                                            <td>
                                                                <input name="LobPricingList[@i].StartRange" type="text" value="@pricing.StartRange" style="width:80px;" />
                                                                <input name="LobPricingList[@i].ServiceLOBPricingId" type="text" value="@pricing.ServiceLOBPricingId" style="width:80px; display:none" />
                                                            </td>
                                                            <td>
                                                                <input name="LobPricingList[@i].EndRange" type="text" value="@pricing.EndRange" style="width:80px;" />
                                                            </td>

                                                            @if (pricing.IsTimeNExpance.HasValue ? (pricing.IsTimeNExpance.Value ? true : false) : false)
                                                            {
                                                                <td>
                                                                    <input name="LobPricingList[@i].BaseServiceFee" type="text" disabled="disabled" value="@pricing.BaseServiceFee" style="width:80px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].SPServiceFee" type="text"  value="@pricing.SPServiceFee" style="width:80px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].SPServicePercent" type="text"  value="@pricing.SPServicePercent" style="width:50px;" />
                                                                </td>
                                                                @*<td>
                                                                    <input name="LobPricingList[@i].SPRCVPercent" type="text" disabled="disabled" value="@pricing.SPRCVPercent" style="width:50px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].SPXPercent" type="text" disabled="disabled" value="@pricing.SPXPercent" style="width:50px;" />
                                                                </td>*@




                                                                //New fields has been added as per Nugen
                                                                <td>
                                                                    <input name="LobPricingList[@i].HourlyRate" value="@pricing.HourlyRate" type="text" style="width: 40px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].FreeMile" type="text" value="@pricing.FreeMile" style="width: 80px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].DollarPerMile" type="text" value="@pricing.DollarPerMile" style="width: 40px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].TotalLossFee" type="text" value="@pricing.TotalLossFee" style="width: 80px;" />
                                                                </td>
                                                                //-------------------------------------
                                                                
                                                                
                                                                <td align="left">
                                                                    <input name="LobPricingList[@i].IsTimeNExpance" type="checkbox" onclick="CheckChanged('tblLOBPricingList','@i    ','true')"
                                                                           checked="checked" value="@pricing.IsTimeNExpance.Value.ToString()" style="width:50px;" />
                                                                </td>

                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <input name="LobPricingList[@i].BaseServiceFee" type="text" value="@pricing.BaseServiceFee" style="width:80px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].SPServiceFee" type="text" value="@pricing.SPServiceFee" style="width:80px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].SPServicePercent" type="text" value="@pricing.SPServicePercent" style="width:50px;" />
                                                                </td>
                                                                @*<td>
                                                                    <input name="LobPricingList[@i].SPRCVPercent" type="text" value="@pricing.SPRCVPercent" style="width:50px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].SPXPercent" type="text" value="@pricing.SPXPercent" style="width:50px;" />
                                                                </td>*@




                                                                //New fields has been added as per Nugen
                                                                <td>
                                                                    <input name="LobPricingList[@i].HourlyRate" value="@pricing.HourlyRate" type="text" style="width: 40px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].FreeMile" type="text" value="@pricing.FreeMile" style="width: 80px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].DollarPerMile" type="text" value="@pricing.DollarPerMile" style="width: 40px;" />
                                                                </td>
                                                                <td>
                                                                    <input name="LobPricingList[@i].TotalLossFee" type="text" value="@pricing.TotalLossFee" style="width: 80px;" />
                                                                </td>
                                                                //-------------------------------------


                                                                <td align="left">
                                                                    <input name="LobPricingList[@i].IsTimeNExpance" type="checkbox" onclick="CheckChanged('tblLOBPricingList','@i    ','@pricing.IsTimeNExpance    ')"
                                                                           value="@pricing.IsTimeNExpance" style="width:50px;" />
                                                                </td>



                                                            }
                                                            <td>
                                                                <img id="@("imgLOBPricingDeleteRow" + i)" onclick="deleteLOBPricingRow('tblLOBPricingList','@pricing.ServiceLOBPricingId')"
                                                                     style="@(i == (Model.LobPricingList.Count - 1) ? "display:inline; " : "display:none; ")color: black; cursor: pointer;" src="@Url.Content("~/Content/Images/Cancel.png")" width="13" height="13" border="0" alt="Delete this row" />
                                                            </td>
                                                        </tr>
                                                    }

                                                }
                                            }
                                        </table>
                                        <table id="tblAddNewSave" align="center" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <br />
                                                    <b>
                                                        <a onclick="addLOBPricingRow('tblLOBPricingList')" style="border: none; color: black; cursor: pointer; text-align: right">
                                                            <img src="~/Content/Images/Addplus.png" width="8" height="8" border="0" />
                                                            Add Row
                                                        </a> &nbsp;
                                                    </b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="borderTopLightGray" align="right" style="padding-top:3px;">
                                                    @*onclick="return ValidatePage('tblLOBPricingList');" *@
                                                    <input id="hdnLOBPricingRowCount" name="hdnLOBPricingRowCount" type="hidden" value="@(Model.LobPricingList.Count == 0 ? "1" : Model.LobPricingList.Count + "")" />
                                                    @*   <input type="submit" id="newbtn2" class="buttonYellow_100" value="Save" name="newbtn2" />*@
                                                    <input type="submit" id="newbtn2" class="btn btn-primary" name="newbtn2" value="Save">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

            }


        }
    </form>

</body>

@section PageLevelScript{

    <script type="text/javascript">
        $(document).on('change blur', '.decimal', function () {
            var amt = parseFloat(this.value);
            if (isNaN(amt)) {
                $(this).val('');
            }
            else {
                $(this).val(amt.toFixed(2));
            }
        });

        var tblLOBPricingListWidth = $('#tblLOBPricingList').width();
        $('#tblAddNewSave').css('width', tblLOBPricingListWidth + 'px');

    </script>
}


