﻿@model BLL.ViewModels.ARReportViewModel
@{
    ViewBag.Title = "New ARReport";
}

<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });

</script>
@using (Html.BeginForm())
{
    <table width="100%">
        <tr>
            <td class="mainHeader">Report Filters</td>
        </tr>
        <tr>
            <td class="content">
                <div style="float: left;">
                    Insurance Company: @Html.DropDownListFor(model => model.HeadCompanyId, Model.CompaniesList)
                   
                    Pivot Date: @Html.TextBoxFor(model => model.PivotDate, Model.PivotDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style = "width:80px;" })
                </div>
                @*<div style="display:none;">
                    Include Client POC: @Html.CheckBoxFor(model => model.IncludeClientPOC)
                </div>*@
                @*<div style="float:right;">
                    Start Date: @Html.TextBoxFor(model => model.StartDate,Model.StartDate.ToString("MM/dd/yyyy"), new { @class="DatePickerTextBox", @style="width:80px;"})
                    End Date:@Html.TextBoxFor(model => model.EndDate, Model.EndDate.ToString("MM/dd/yyyy"), new { @class = "DatePickerTextBox", @style="width:80px;" })
                        </div>*@
            </td>
        </tr>
        <tr>
            <td class="footer" align="right">
                <input type="submit" value="Refresh Report" class="buttonLightYellow_100" />
            </td>
        </tr>
    </table>
    <div>
    </div>
}

<table width="100%" cellspacing="0">
    <tr>
        <td class="mainHeader"></td>
    </tr>
    <tr>
        <td class="content">
            <iframe src="@Url.Content(Model.ReportURL)" frameborder="0" width="100%" height="1050px"></iframe>
        </td>
    </tr>
    <tr>
        <td class="footer"></td>
    </tr>
</table>
