﻿@{
    ViewBag.Title = "Expense Commission Report";
}

<table width="100%">
    <tr><td class="mainHeader">Expense Commission Report</td></tr>
    <tr><td class="content"><iframe src="@Url.Content("~/Reports/ExpenseCommissionReport.aspx")" frameborder="0" width="100%" height="1300px"></iframe></td></tr>
    <tr><td class="footer"></td></tr>
</table>



