﻿@model BLL.ViewModels.PayrollSummaryReportViewModel
@using CSS
@{
    ViewBag.Title = "Payroll Summary Report";
}
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css")" rel="stylesheet"
    type="text/css" />
<script type="text/javascript">

    function cbSelect_OnChange(sourceCheckBoxId, destinationFieldId) {
        $('#' + destinationFieldId).val($('#' + sourceCheckBoxId).attr('checked') == 'checked' ? 'true' : 'false');
    }
    function btnSelectAll_Click() {
        $('[type="checkbox"]:not(:disabled)').attr('checked', 'checked');
    }
    function btnVerifyRelease_Click() {
        var numberOfChecked = $('input[type="checkbox"]:checkbox:checked').length;
        if (numberOfChecked > 0) {
            $("#imgProcessingPayroll").show();
            $("#btnVerifyRelease").prop('disabled', true);
            $("#btnVerifyRelease2").prop('disabled', true);
            $("#frmPayrollSummaryReportProcess").submit();
            //return true;
        }
        else {
            alert("No selections were made.");
            return false;
        }
    }
    function expand_Click(spId) {
        $("#imgCollapse_" + spId).show();
        $("#trDetails_" + spId).show();
        $("#imgExpand_" + spId).hide();
    }
    function collapse_Click(spId) {
        $("#imgCollapse_" + spId).hide();
        $("#trDetails_" + spId).hide();
        $("#imgExpand_" + spId).show();
    }
    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });
</script>
<div>
@using (Html.BeginForm("PayrollSummaryReport","Reporting"))
{
    <table width="100%">
        <tr>
            <td class="mainHeader">Search Filter
            </td>
        </tr>
        <tr>
            <td class="content" align="left" nowrap="nowrap">Invoice Created Uptill: @Html.TextBoxFor(model => model.EndDate, "{0:MM/dd/yyyy}", new { style = "width:100px;", @class = "DatePickerTextBox" })
&nbsp;&nbsp;&nbsp;User Type: @Html.RadioButtonFor(model => model.UserTypeId,0) Both &nbsp;&nbsp;@Html.RadioButtonFor(model => model.UserTypeId,1) Service Provider &nbsp;&nbsp;@Html.RadioButtonFor(model => model.UserTypeId,8)QA Agent
                &nbsp;&nbsp;&nbsp;<input type="submit" value="Search" class="buttonLightYellow_100" />

            </td>
        </tr>
        <tr>
            <td class="footer">
                <br />
            </td>
        </tr>
    </table>
}
    </div>
<br />
<br />
<div>
@using (Html.BeginForm("PayrollSummaryReportProcess", "Reporting", FormMethod.Post, new { id = "frmPayrollSummaryReportProcess" }))
{
    decimal totalAmount = 0;
    double totalSpPayPercent = 0;
    @Html.HiddenFor(model => model.EndDate)
    <table width="100%">
        <tr>
            <td class="mainHeader">
                <table width="100%">
                    <tr valign="baseline">
                        <td align="left" nowrap="nowrap">Payroll Summary Report</td>
                        <td nowrap="nowrap" align="left" style="font-size:10px;color:gray;float:right;font-weight:normal;vertical-align:baseline;">&nbsp;&nbsp;(Displaying records till @Model.EndDate.ToString("MM/dd/yyyy"))</td>
                        <td align="right" width="100%" nowrap="nowrap">@if (Model.PayrollSummaryReport.Count > 0)
                {
                    
                        <input type="button" value="Select All" onclick="btnSelectAll_Click()" class="buttonLightYellow_100" />
                       
    <input type="button" value="Process Payroll" onclick="return btnVerifyRelease_Click()" class="buttonYellow_100" id="btnVerifyRelease" />
                            <img id="imgProcessingPayroll" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Processing Payroll" />
                    
                }</td>
                    </tr>
                </table>
                <div style="float: left">
                    <div ></div>
                </div>
                
            </td>
        </tr>
        <tr>
            <td class="content" align="center">
                <br />
                <table width="98%">
                    <tr>
                        <td align="right">
                            <table width="230">
                                        <tr style="color: #c8c8c8;">
                                            <td width="80">Avg. Pay</td>
                                            <td width="150" align="right">Total Payment</td>

                                        </tr>
                                    </table>
                        </td>
                    </tr>
                    @{
                                                                       for (int i = 0; i < Model.PayrollSummaryReport.Count; i++)
                                                                       {
                                                                           var record = Model.PayrollSummaryReport[i];
                                                                           totalAmount += record.Master.PaymentAmount.HasValue ? record.Master.PaymentAmount.Value : 0;
                                                                           totalSpPayPercent += record.Master.TotalSPPayPercentAvg.HasValue ? record.Master.TotalSPPayPercentAvg.Value : 0;
                        <tr>
                            <td align="left" style="background-color: #ebebeb; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: lightgray;">
                                <div style="float: left;">
                                    &nbsp;&nbsp;
                            <a onclick="expand_Click('@(record.Master.SPId)')">
                                <img id="imgExpand_@(record.Master.SPId)" src="@Url.Content("~/Content/Images/plus.png")" style="cursor:pointer;" />
                            </a>
                                    <a onclick="collapse_Click('@(record.Master.SPId)')">
                                        <img id="imgCollapse_@(record.Master.SPId)" src="@Url.Content("~/Content/Images/minus.png")" style="display:none;cursor:pointer;"/>
                                    </a>&nbsp;&nbsp;
                                @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Master.SPId)
                                    @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Master.PaymentAmount)
                                    @{
                                                                           if (record.isSelectable)
                                                                           {
                                        @Html.CheckBoxFor(model => Model.PayrollSummaryReport[i].isSelected) 
                                                                           }
                                                                           else
                                                                           {
                                        @Html.CheckBox("cbDummy", false, new { @disabled = "disabled" })
                                                                           }
                                            
                                
                                    }
                                    <b>@record.Master.SPName</b>
                                </div>
                                <div style="float: right">
                                    <table width="230">
                                        <tr>
                                            <td width="80">@record.Master.TotalSPPayPercentAvg.Value.ToString("0.00")%</td>
                                            <td width="150" align="right"><b>$@Model.PayrollSummaryReport[i].Master.PaymentAmount.Value.ToString("#,0.00")</b></td>

                                        </tr>
                                    </table>
                                     
                                </div>

                            </td>

                        </tr>
                        <tr id="trDetails_@(record.Master.SPId)" style="display:none;">
                            <td align="right">
                                <table width="90%">
                                    <tr style="color: #c8c8c8;">
                                        <td width="200">Claim #</td>
                                        <td width="200">Invoice #</td>
                                        <td width="200">Total Pay %age</td>
                                        <td width="200">Payment Type</td>
                                        <td align="right" nowrap="nowrap">Payment Amount ($)</td>
                                    </tr>
                                    @for (int pr = 0; pr < Model.PayrollSummaryReport[i].Detail.Count; pr++)
                                    {
                                        var detail = Model.PayrollSummaryReport[i].Detail[pr];
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Detail[pr].PAId)
                                                @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Detail[pr].PaymentType)
                                                @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Detail[pr].PaymentAmount)
                                                @Html.HiddenFor(model => Model.PayrollSummaryReport[i].Detail[pr].HeadCompanyId)
                                                @Html.ActionLink(detail.ClaimNumber, "Details", "PropertyAssignment", new { claimId = Cypher.EncryptString(detail.ClaimId.ToString()) }, null)
                                            </td>
                                            <td>@detail.InvoiceNo</td>
                                            <td>@detail.TotalSPPayPercent.Value.ToString("0.00")</td>
                                            <td>@detail.PaymentTypeDesc</td>
                                            <td align="right">@detail.PaymentAmount.ToString("0.00")</td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                                    
                                                                       }
                                                                       if (Model.PayrollSummaryReport.Count == 0)
                                                                       {
        <tr><td colspan="4" align="center">- No record found - </td></tr>
                                                                       }
                                                                       else { totalSpPayPercent = totalSpPayPercent / Model.PayrollSummaryReport.Count; }
                    }
                </table>
                @*<br />*@
            </td>
        </tr>
        @if(Model.PayrollSummaryReport.Count!=0)
        {
        <tr>
            <td class="content" align="center">
                <table width="98%">
                    <tr>
                        <td align="left" style="height:20px;background-color: #ebebeb; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: lightgray;">
                            <div style="float: left;">
                             
                            </div>
                            <div style="float: right">
                                <table width="350">
                                    <tr>
                                        <td width="120"><b>Total</b></td>
                                        <td width="80"><b>@totalSpPayPercent.ToString("0.00")%</b></td>
                                        <td width="150" align="right"><b>$@totalAmount.ToString("#,0.00")</b></td>

                                    </tr>
                                </table>
                                
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        }
        <tr>
            <td class="footer">
                @if (Model.PayrollSummaryReport.Count > 20)
                {
                    <div style="float: right">
                        @*<input type="submit" value="Process Payroll" onclick="return btnVerifyRelease_Click()" class="buttonYellow_100" />*@
                        <input type="button" value="Process Payroll" onclick="return btnVerifyRelease_Click()" class="buttonYellow_100" id="btnVerifyRelease2" />
                    </div>
                }
                else
                {
                    <br />
                }

            </td>
        </tr>
    </table>

}
    </div>
<br />
<br />
