﻿/* Added by  jay 
   Class for line spacing */
.lnht5 {
    line-height: 5px;
}

.lnht10 {
    padding:1px;
    line-height: 10px;
}

lnht15 {
    padding:1px;
    line-height: 15px;
}

.lnht20 {
   padding:1px;
    line-height: 20px;
}

.lnht25 {
    padding:1px;
    line-height: 25px;
}

.lnht30 {
    padding:1px;
    line-height: 30px;
}

lnht10 > p {
    line-height:10px;
    padding:1px;
    margin:1px;
}

lnht5 > p {
    line-height:5px;
    padding:1px;
    margin:1px;
}


lnht5 > Body {
    line-height:5px;
    padding:1px;
    margin:1px;
}


 body {
        padding-top: 5px;
        line-height: 5px;
    }