﻿@model BLL.ViewModels.ClaimImportViewModel
@{
    ViewBag.Title = "Import Claims";
}
<table width="50%">
    <tr><td class="mainHeader">Import Claims</td></tr>
    <tr><td class="content"> <br />
    
            
            @if(Model.statusflag==1)
            {
                 <text> Please Provide Company </text>
            }
            else if(Model.statusflag==2)
            {
                
                <text>Company does not exist</text>
            }
            else
            {
                <text> Claims have been imported </text>
            }
        

       <br /><br /></td></tr>
    <tr><td class="footer"><br /></td></tr>
</table>

<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />

