﻿@{
    Layout = "~/Views/Shared/_subNewsLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-9 main-content-wrap">

            <article id="post-2690" class="post-2690 post type-post status-publish format-standard has-post-thumbnail hentry category-news pmpro-has-access odd">

                <div class="row">

                    <div class="col-md-12">
                        <header class="entry-header text-center">
                            <img width="1024" height="683" src="@Url.Content("~/wp-content/uploads/2016/07/IADA-Helps-St-Judes.jpeg")" class="img-responsive wp-post-image" alt="IADA-Helps-St-Judes" srcset="@Url.Content("~/wp-content/uploads/2016/07/IADA-Helps-St-Judes.jpeg") 1024w, @Url.Content("~/wp-content/uploads/2016/07/IADA-Helps-St-Judes-300x200.jpeg") 300w" sizes="(max-width: 1024px) 100vw, 1024px">				<div class="label-ribbon-row {f}">
                                <div class="label-info-ribbon-row-wrapper">
                                    <div class="label-info-ribbon-row">
                                        <div class="ribbons" id="ribbon-15">
                                            <div class="ribbon-wrap">
                                                <div class="content">
                                                    <div class="ribbon">
                                                        <span class="ribbon-span">
                                                            Jul 27 2016
                                                        </span>
                                                    </div>
                                                </div><!-- /.content -->
                                            </div><!-- /.ribbon-wrap -->
                                        </div><!-- /.ribbons -->
                                    </div><!-- /.label-info-ribbon -->
                                </div><!-- /.ribbon-wrapper -->
                            </div><!-- /.label-ribbon -->
                        </header><!-- .entry-header -->
                    </div><!-- col-md-4 -->

                </div>
                <div class="row entry-author-info-wrap">
                    <div class="col-md-2 col-xs-2 entry-author-image">
                        <a>
                            <div class="javo-thb" style="width:80px; height:80px; background-image:url('/wp-content/uploads/2016/04/dennis.omahoney7-250x250.jpg');"></div>
                        </a>
                    </div>
                    <div class="col-md-10 col-xs-10 entry-author-meta-wrap">
                        <div class="entry-author-name">Dennis O'Mahoney</div>
                        <div class="entry-author-social">
                            <div class="entry-author-category">
                                <i class="fa fa-bookmark-o"></i>
                                <a href="~/category/news/" rel="category tag">News</a>
                            </div>
                            <div class="pull-left" style="margin:0 10px;">
                                <span class="separator">/</span>
                            </div>
                            <div class="entry-author-comment">
                                <i class="fa fa-comments-o"></i>
                                <a href="~/help-iada-save-a-life/#respond">0 Comment</a>
                            </div>
                        </div>
                    </div>
                </div><!--row entry-author-info-wrap-->
                <div class="row entry-description-wrap">
                    <div class="col-md-12 entry-description">
                        <h1 class="entry-title">IADA Gives Back</h1>
                        <div class="single-post-meta row">
                            <div class="col-md-10 post-meta-infor">

                            </div> <!-- col-md-10 -->

                            <div class="col-md-2 text-right post-social">
                                <span class="javo-sns-wrap social-wrap">
                                    <i class="sns-facebook" data-title="IADA Gives Back" data-url="~/help-iada-save-a-life/">
                                        <a class="facebook javo-tooltip" title="" data-original-title="Share Facebook"></a>
                                    </i>
                                    <i class="sns-twitter" data-title="IADA Gives Back" data-url="~/help-iada-save-a-life/">
                                        <a class="twitter javo-tooltip" title="" data-original-title="Share Twitter"></a>
                                    </i>
                                </span>
                            </div> <!-- col-md-2-->
                        </div> <!-- single-post-meta -->

                        <div class="entry-content">
                            <p>IADA’s “Save a Life” Project raises over $15,000 for St. Judes Children’s Research Hospital. The event was held at the NASCAR Hall of Fame as part of IADA’s 47th Vehicle Repair Conference in Charlotte, North Carolina. IADA would like to thank everyone who contributed to this wonderful cause! A special thanks to our friends at Audatex and Insurance Auto Auctions who’s donations put us over our event goal of $15,000! If you would like to contribute you can by visiting here: <a href="https://www.linkedin.com/company/iada-damage-appraisers-/redirect?url=https%3A%2F%2Flnkd%2Ein%2FeU8Ps92&amp;urlhash=KNdI&amp;actionToken=p%3Dp%253Dbiz-company-login%2526c%253D6f74e831-b5f6-42a5-9fa0-85ce17e2e161%2526m%253Dcompany_feed%2526n%253D0%26t%3Da%253DisFolloweeOfPoster%25253Dfalse%252526distanceFromActor%25253D-1%252526actorType%25253D%252526likedByUser%25253Dfalse%252526targetId%25253D%252526recentCommentUrns%25253D%252526targetType%25253D%252526sponsoredFlag%25253DORGANIC%252526verbType%25253Dlinkedin%2525253Ashare%252526objectType%25253Dlinkedin%2525253Acontent%252526totalShares%25253D0%252526activityId%25253Durn%2525253Ali%2525253Aactivity%2525253A6159425532615290881%252526recentLikerUrns%25253D%252526actorId%25253Durn%2525253Ali%2525253Acompany%2525253A9248761%252526totalComments%25253D0%252526relevanceScore%25253D0%2E0%252526recentCommenterUrns%25253D%252526isPublic%25253Dtrue%252526time%25253D-1%252526totalLikes%25253D0%252526objectId%25253Durn%2525253Ali%2525253Acontent%2525253AJPG%2525252FIMG%2525252F9a9729d910f44818bc8cc150ddc06824%252526distanceFromNestedActor%25253D-1%2526s%253DORGANIC%2526u%253Durn%25253Ali%25253Aactivity%25253A6159425532615290881&amp;atv=2&amp;actionType=CLICK" target="_blank" rel="nofollow">https://lnkd.in/eU8Ps92</a></p>

                        </div><!-- .entry-content -->
                    </div><!-- 12 Columns Close -->
                </div><!-- Row Close -->
                <footer class="entry-meta">
                    <div class="inner-footer">
                        <div class="inner-footer-more">
                            <a href="~/help-iada-save-a-life/">
                                more
                            </a>
                        </div>
                    </div>
                </footer><!-- .entry-meta -->

            </article><!-- #post -->

            <div id="comments" class="comments-area">



                @*<div id="respond" class="comment-respond">
                    <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/help-iada-save-a-life/#respond" style="display:none;">Cancel Reply</a></small></h3>				<form action="~/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                        <p class="logged-in-as">Logged in as <a href="~/wp-admin/profile.php">pramod.chavan340@gmail.com</a>. <a href="http://www.claimsappraisers.com/wp-login.php?action=logout&amp;redirect_to=http%3A%2F%2Fwww.claimsappraisers.com%2Fhelp-iada-save-a-life%2F&amp;_wpnonce=3f9d37ad22" title="Log out of this account">Log out?</a></p><div class="form-group comment-form-comment"><textarea class="form-control" id="comment" name="comment" cols="45" rows="8" aria-required="true" placeholder="Comment (required)"></textarea></div><button class="btn btn-primary" type="submit">Submit</button><p class="form-submit">
                            <input name="submit" type="submit" id="submit" class="submit" value="Submit Comment"> <input type="hidden" name="comment_post_ID" value="2690" id="comment_post_ID">
                            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                        </p>
                    </form>
                </div>*@<!-- #respond -->

            </div><!-- #comments .comments-area -->				<nav class="nav-single">
                <h3 class="assistive-text">Post navigation</h3>
                <span class="nav-previous">
                    <a href="~/the-47th-iada-vehicle-repair-conference-was-a-huge-success/" rel="prev"><span class="meta-nav"><i class="icon-arrow-left7"></i></span> Prev</a>
                </span>
                <span class="nav-next">
                </span>
            </nav><!-- .nav-single -->
        </div>

        <div class="col-md-3 sidebar-full">
            <div class="row">
                <div class="col-lg-12 siderbar-inner">
                    <style>
                        .rpwe-block ul {
                            list-style: none !important;
                            margin-left: 0 !important;
                            padding-left: 0 !important;
                        }

                        .rpwe-block li {
                            border-bottom: 1px solid #eee;
                            margin-bottom: 10px;
                            padding-bottom: 10px;
                            list-style-type: none;
                        }

                        .rpwe-block a {
                            display: inline !important;
                            text-decoration: none;
                        }

                        .rpwe-block h3 {
                            background: none !important;
                            clear: none;
                            margin-bottom: 0 !important;
                            margin-top: 0 !important;
                            font-weight: 400;
                            font-size: 12px !important;
                            line-height: 1.5em;
                        }

                        .rpwe-thumb {
                            border: 1px solid #EEE !important;
                            box-shadow: none !important;
                            margin: 2px 10px 2px 0;
                            padding: 3px !important;
                        }

                        .rpwe-summary {
                            font-size: 12px;
                        }

                        .rpwe-time {
                            color: #bbb;
                            font-size: 11px;
                        }

                        .rpwe-comment {
                            color: #bbb;
                            font-size: 11px;
                            padding-left: 5px;
                        }

                        .rpwe-alignleft {
                            display: inline;
                            float: left;
                        }

                        .rpwe-alignright {
                            display: inline;
                            float: right;
                        }

                        .rpwe-aligncenter {
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        .rpwe-clearfix:before, .rpwe-clearfix:after {
                            content: "";
                            display: table !important;
                        }

                        .rpwe-clearfix:after {
                            clear: both;
                        }

                        .rpwe-clearfix {
                            zoom: 1;
                        }
                    </style>
                    <div class="widget-1 widget-odd row widgets-wraps"><div class="widgettitle_wrap col-md-12"><h2 class="widgettitle"><span>Recent News</span></h2></div><div class="rpwe-block "><ul class="rpwe-ul"><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="~/the-47th-iada-vehicle-repair-conference-was-a-huge-success/" rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="~/wp-content/uploads/2016/07/header-8-45x45.png" alt="The 47th IADA Vehicle Repair Conference Was a Huge Success"></a><h3 class="rpwe-title"><a href="~/the-47th-iada-vehicle-repair-conference-was-a-huge-success/" title="Permalink to The 47th IADA Vehicle Repair Conference Was a Huge Success" rel="bookmark">The 47th IADA Vehicle Repair Conference Was a Huge Success</a></h3><time class="rpwe-time published" datetime="2016-07-24T15:04:07+00:00">July 24, 2016</time><div class="rpwe-summary">The 47th IADA Vehicle Repair Conference was a tremendous success, …</div></li><li class="rpwe-li rpwe-clearfix"><a class="rpwe-img" href="~/introducing-the-new-iada-logo/" rel="bookmark"><img class="rpwe-alignleft rpwe-thumb" src="~/wp-content/uploads/2016/07/logo-transition-6-45x45.png" alt="Introducing the New IADA Logo"></a><h3 class="rpwe-title"><a href="~/introducing-the-new-iada-logo/" title="Permalink to Introducing the New IADA Logo" rel="bookmark">Introducing the New IADA Logo</a></h3><time class="rpwe-time published" datetime="2016-07-01T15:57:12+00:00">July 1, 2016</time><div class="rpwe-summary">IADA is proud to unveil refreshed branding and a new …</div></li></ul></div><!-- Generated by http://wordpress.org/plugins/recent-posts-widget-extended/ --></div><div class="widget-2 widget-even widget-alt row widgets-wraps">
                        <div class="widgettitle_wrap col-md-12"><h2 class="widgettitle"><span>New Items</span></h2></div>
                        <div class="widget_posts_wrap">

                            <ul class="latest-posts items list-unstyled">
                                <li class="col-xs-4 col-sm-4 col-md-4">
                                    <span class="thumb">
                                        <a href="~/appraisal-service/complete-claims-service/">
                                            <div class="img-wrap-shadow">
                                                <img width="80" height="80" src="~/wp-content/uploads/2016/05/NE-Header-80x80.jpg" class="attachment-javo-tiny size-javo-tiny wp-post-image" alt="NE-Header" srcset="~/wp-content/uploads/2016/05/NE-Header-80x80.jpg 80w, ~/wp-content/uploads/2016/05/NE-Header-150x150.jpg 150w, ~/wp-content/uploads/2016/05/NE-Header-250x250.jpg 250w, ~/wp-content/uploads/2016/05/NE-Header-132x133.jpg 132w" sizes="(max-width: 80px) 100vw, 80px">
                                            </div>
                                        </a>
                                    </span>
                                </li>
                                <li class="col-xs-4 col-sm-4 col-md-4">
                                    <span class="thumb">
                                        <a href="~/appraisal-service/new-york-claims/">
                                            <div class="img-wrap-shadow">
                                                <img width="80" height="80" src="~/wp-content/uploads/2016/05/NE-Header-80x80.jpg" class="attachment-javo-tiny size-javo-tiny wp-post-image" alt="NE-Header" srcset="~/wp-content/uploads/2016/05/NE-Header-80x80.jpg 80w, ~/wp-content/uploads/2016/05/NE-Header-150x150.jpg 150w, ~/wp-content/uploads/2016/05/NE-Header-250x250.jpg 250w, ~/wp-content/uploads/2016/05/NE-Header-132x133.jpg 132w" sizes="(max-width: 80px) 100vw, 80px">
                                            </div>
                                        </a>
                                    </span>
                                </li>
                                <li class="col-xs-4 col-sm-4 col-md-4">
                                    <span class="thumb">
                                        <a href="~/appraisal-service/imperial-claim-service-2/">
                                            <div class="img-wrap-shadow">
                                                <img width="80" height="80" src="~/wp-content/uploads/2016/06/recreational-vehicles-80x80.jpg" class="attachment-javo-tiny size-javo-tiny wp-post-image" alt="Recreational Vehicle Damage Appraisal Service" srcset="~/wp-content/uploads/2016/06/recreational-vehicles-80x80.jpg 80w, ~/wp-content/uploads/2016/06/recreational-vehicles-150x150.jpg 150w, ~/wp-content/uploads/2016/06/recreational-vehicles-250x250.jpg 250w, ~/wp-content/uploads/2016/06/recreational-vehicles-132x133.jpg 132w" sizes="(max-width: 80px) 100vw, 80px">
                                            </div>
                                        </a>
                                    </span>
                                </li>
                                <li class="col-xs-4 col-sm-4 col-md-4">
                                    <span class="thumb">
                                        <a href="~/appraisal-service/willison-claim-service-llc/">
                                            <div class="img-wrap-shadow">
                                                <img width="80" height="80" src="~/wp-content/uploads/2016/06/auto-damage-appraisal-80x80.jpeg" class="attachment-javo-tiny size-javo-tiny wp-post-image" alt="Claims Appraisal Service" srcset="~/wp-content/uploads/2016/06/auto-damage-appraisal-80x80.jpeg 80w, ~/wp-content/uploads/2016/06/auto-damage-appraisal-150x150.jpeg 150w, ~/wp-content/uploads/2016/06/auto-damage-appraisal-250x250.jpeg 250w, ~/wp-content/uploads/2016/06/auto-damage-appraisal-132x133.jpeg 132w" sizes="(max-width: 80px) 100vw, 80px">
                                            </div>
                                        </a>
                                    </span>
                                </li>
                                <li class="col-xs-4 col-sm-4 col-md-4">
                                    <span class="thumb">
                                        <a href="~/appraisal-service/western-wyoming-claims/">
                                            <div class="img-wrap-shadow">
                                                <img width="80" height="80" src="~/wp-content/uploads/2016/06/heavy-equipment-appraisals-1-80x80.jpg" class="attachment-javo-tiny size-javo-tiny wp-post-image" alt="heavy-equipment-appraisals" srcset="~/wp-content/uploads/2016/06/heavy-equipment-appraisals-1-80x80.jpg 80w, ~/wp-content/uploads/2016/06/heavy-equipment-appraisals-1-150x150.jpg 150w, ~/wp-content/uploads/2016/06/heavy-equipment-appraisals-1-250x250.jpg 250w, ~/wp-content/uploads/2016/06/heavy-equipment-appraisals-1-132x133.jpg 132w" sizes="(max-width: 80px) 100vw, 80px">
                                            </div>
                                        </a>
                                    </span>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div> <!-- pp-siderbar inner -->
            </div> <!-- new row -->
        </div><!-- Side bar -->
    </div>
</div>
