﻿@model BLL.ViewModels.AssignmentServiceProviderSearchViewModel
@using CSS
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dhtmlxslider.css")" />
<script src="@Url.Content("~/Scripts/dhtmlSider/dhtmlxcommon.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/dhtmlSider/dhtmlxslider.js")" type="text/javascript"></script>


<script type="text/javascript">
    window.dhx_globalImgPath = "@Url.Content("~/Content/Images/dhtmlSlider/")"; // sets image path DHTMLSlider
    $(document).ready(function () {
        // debugger;

        $('#viewmoresp').click(function () {

            $('#SPList tr').each(function () {
                //  debugger;
                //alert($(this));
                $(this).css('display', 'table-row');


            });

        });



    });
</script>
<style type="text/css">
    .style1 {
        width: 16px;
        height: 16px;
    }

    .style3 {
        width: 100%;
    }
</style>
<table width="100%">
    <tr>
        <td valign="top" width="200">
            @using (Html.BeginForm("SelectServiceProvider", "NewAssignment", FormMethod.Post))
            {
                <table align="left" cellspacing="0" width="200">
                    <tr>
                        <td class="mainHeader">Search Filter
                        </td>
                    </tr>
                    <tr>
                        <td class="content">
                            <div class="errorMsg" style="width: 100%;">
                                @Html.ValidationSummary()
                            </div>
                            @Html.HiddenFor(model => model.AssignmentId)
                            @Html.Partial("_NewAssignmentSPSearchFilter")
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="footer">
                            <input type="submit" class="buttonLightYellow_100" value="Search" />
                        </td>
                    </tr>
                </table>
            }
        </td>
        <td valign="top">
            <table align="left" cellspacing="0" width="100%">
                <tr>
                    <td class="mainHeader">Outside Service Providers List
                    </td>
                </tr>
                @if (Model.ServiceProvidersList != null)
                {
                    if (Model.ServiceProvidersList.Count != 0)
                    {
                    <tr>
                        <td class="subHeading">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="content">

                            @Html.Partial("_GoogleMap", Model.GoogleMapViewModel)
                        </td>
                    </tr>
                    <tr>
                        <td class="subFooter">&nbsp;
                        </td>
                    </tr>
                    }
                }
                <tr>
                    <td class="content">
                        @using (Html.BeginForm("PropertyAssignment", "PropertyAssignment"))
                        {
                            <table cellpadding="3" cellspacing="0" width="100%" id="SPList">
                                <tr>
                                    <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;"></td>
                                    <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;">SP Name
                                    </td>
                                    <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;">Location
                                    </td>
                                    <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;" align="center" width="100">Miles
                                    </td>
                                    <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;">Phone No</td>
                                    <td bgcolor="#B2B2B2" style="padding: 5px; color: #FFFFFF; font-weight: bold;"></td>

                                </tr>
                                @{
                            bool isRecordAvailable = false;
                            if (Model.ServiceProvidersList != null)
                            {


                                foreach (BLL.AssignmentSPSearch_Result spDetail in Model.ServiceProvidersList)
                                {
                                    if (!isRecordAvailable)
                                    {
                                        //Model.ServiceProviderList be enumerated only once
                                        isRecordAvailable = true;
                                    }
                                  
                                    <tr @((spDetail.OverdueRank == null || spDetail.OverdueRank < 4) ? "style=display:none" : "style=display:table-row")>
                                        @*   <tr> *@
                                        <td bgcolor="#EAEAEA" valign="top">
                                            <img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=@spDetail.RowNumber|B2B2B2|000000" /></td>
                                        <td bgcolor="#EAEAEA" valign="top">
                                            @spDetail.Company<br />

                                            @switch (Convert.ToInt32(spDetail.OverdueRank))
                                            {
                                                case 1:
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                             
                                            
                                                    break;
                                                case 2:
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                    break;
                                                case 3:
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                    break;
                                                case 4:
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                    break;
                                                case 5:
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                <img alt="" src="@Url.Content("~/Content/Images/StarSelected01.gif")" />
                                                    break;
                                                default:
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                <img alt=""  src="@Url.Content("~/Content/Images/StarUnselected01.gif")" />
                                                    break;
                                            }




                                        </td>
                                        <td bgcolor="#EAEAEA" valign="top">
                                            @spDetail.Location
                                        </td>
                                        <td bgcolor="#EAEAEA" valign="top" align="center">
                                            @spDetail.Distance
                                        </td>
                                        <td bgcolor="#EAEAEA" valign="top">
                                            @spDetail.MobilePhone
                                        </td>
                                        <td bgcolor="#EAEAEA" valign="top">
                                            <a class="buttonYellow_100" href="@Url.Action("AssignServiceProvider", "NewAssignment", new { assignmentId = Model.AssignmentId, OAUserId = spDetail.userid })" style="text-decoration:none; text-align:center;vertical-align:middle;border: none; color: black; cursor: pointer;float:left;">Assign
                                            </a>
                                        </td>
                                    </tr>
                                }

                            }
                            else
                            {
                                isRecordAvailable = false;

                            }
                            if (!isRecordAvailable)
                            {
                                    <tr>
                                        <td colspan="5" align="center">
                                            <br />
                                            <br />
                                            - No records found -
                                            <br />
                                            <br />
                                        </td>
                                    </tr>
                            }
                               
                                }
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="footer">
                        @{
                            var prevurl = (string)Session["PreviousUrl"];
                            var prevclaim = (string)Session["claimid"];
                            if(prevurl != null)
                            {
                            bool b = prevurl.Contains("Search");
                                if (!b)
                               
                                {
                                    using (Html.BeginForm("Details", "PropertyAssignment", new { claimid = Cypher.EncryptString(prevclaim) }))
                                    {
                                        <input type="submit" class="buttonLightYellow_100" value="Back"  />
                                        if (Model.ServiceProvidersList != null && Model.ServiceProvidersList.Count() > 0)
                                        {
                                             <input type="button" class="buttonLightYellow_100" value="ViewMore" id="viewmoresp" />
                                       
                                        }
                                    }
                                }

                                else
                                {
                                    using (Html.BeginForm("Search", "PropertyAssignment"))
                                    {
                                        <input type="submit" class="buttonLightYellow_100" value="Back"  />
                                        if (Model.ServiceProvidersList != null && Model.ServiceProvidersList.Count() > 0)
                                        {
                                             <input type="button" class="buttonLightYellow_100" value="ViewMore" id="viewmoresp" />
                                       
                                        }
                                    }

                                }
                            }
                            else
                            {
                                using (Html.BeginForm("Search", "PropertyAssignment"))
                                {
                                    <input type="submit" class="buttonLightYellow_100" value="Back"  />
                                }
                                
                            }
                        }
                        @* @using (Html.BeginForm("Search", "PropertyAssignment"))
                        {
                            <input type="submit" class="buttonLightYellow_100" value="Back"  /> 
                        }*@
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
