﻿@{
    Layout = "~/Views/Shared/_subMainLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <article id="post-1573" class="post-1573 page type-page status-publish has-post-thumbnail hentry pmpro-has-access odd">
                <div class="entry-content">
                    <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid ult-vc-hide-row vc_row-has-fill" data-rtl="false" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" style="position: relative; left: -46.5px; box-sizing: border-box; width: 1263px; padding-left: 46.5px; padding-right: 46.5px;">
                        <div class="upb_row_bg vcpb-default" data-upb_br_animation="" data-parallax_sense="30" data-bg-override="0" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" style="background-size: cover; background-repeat: repeat; background-color: rgba(0, 0, 0, 0); background-image: url(&quot;/wp-content/uploads/2016/04/Claims-Appraisal-Service-Sub-Page-Header-1.png&quot;); background-attachment: scroll; min-width: 1263px; left: 0px; width: 1262px;"><div class="upb_bg_overlay" style="background-color:rgba(50,56,108,0.2);"></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <div class="textshadow">
                                                <h2 style="text-align: center;"><span style="color: #ffffff; font-size: 175%;">Get the Details about IADA</span></h2>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div>
                    </div><div class="vc_row-full-width vc_clearfix"></div><!-- Row Backgrounds --><div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="fadeInLeftBig" data-animation-delay="0" data-animation-duration="3" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 0s; -moz-transition-delay: 0s; transition-delay: 0s;" data-opacity_start_effect="">
                                        <div class="ult-new-ib ult-ib-effect-style13  ult-ib-resp   animated fadeInLeftBig" data-min-width="768" data-max-width="900" style="opacity:1;-webkit-animation-delay:0s;-webkit-animation-duration:3s;-webkit-animation-iteration-count:1; -moz-animation-delay:0s;-moz-animation-duration:3s;-moz-animation-iteration-count:1; animation-delay:0s;animation-duration:3s;animation-iteration-count:1;background:#082942;" data-opacity=".4" data-hover-opacity=".04"><img class="ult-new-ib-img" style="opacity: 0.04;" alt="null" src="~/wp-content/uploads/2016/04/Damage-Appraisal-FAQ.jpg"><div id="interactive-banner-wrap-6462" class="ult-new-ib-desc" style=""><h2 class="ult-new-ib-title ult-responsive" data-ultimate-target="#interactive-banner-wrap-6462 .ult-new-ib-title" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:25px;&quot;,&quot;line-height&quot;:&quot;desktop:28px;&quot;}" style="font-weight:normal;color:#ffffff;">Claims/Damage Appraisal Service Companies</h2><div class="ult-new-ib-content ult-responsive" data-ultimate-target="#interactive-banner-wrap-6462 .ult-new-ib-content" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:14px;&quot;,&quot;line-height&quot;:&quot;desktop:18px;&quot;}" style="font-weight:normal;color:#ffffff;"><p>Learn more about becoming an IADA field specialist.</p></div></div><a class="ult-new-ib-link" href="~/contact/"></a></div>
                                        <script type="text/javascript" style="opacity: 1; animation-delay: 0s; animation-duration: 3s; animation-iteration-count: 1;" class="animated fadeInLeftBig">
			(function($){
				$(document).ready(function(){
					$(".ult-new-ib").css("opacity","1");
				});
			})(jQuery);
                                        </script>
                                    </div><div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="fadeInLeftBig" data-animation-delay="1" data-animation-duration="3" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 1s; -moz-transition-delay: 1s; transition-delay: 1s;" data-opacity_start_effect="">
                                        <div class="ult-new-ib ult-ib-effect-style13  ult-ib-resp   animated fadeInLeftBig" data-min-width="768" data-max-width="900" style="opacity:1;-webkit-animation-delay:1s;-webkit-animation-duration:3s;-webkit-animation-iteration-count:1; -moz-animation-delay:1s;-moz-animation-duration:3s;-moz-animation-iteration-count:1; animation-delay:1s;animation-duration:3s;animation-iteration-count:1;background:#082942;" data-opacity=".4" data-hover-opacity=".04"><img class="ult-new-ib-img" style="opacity: 0.4;" alt="null" src="~/wp-content/uploads/2014/12/Insurance-Professionals-Resources.png"><div id="interactive-banner-wrap-1885" class="ult-new-ib-desc" style=""><h2 class="ult-new-ib-title ult-responsive" data-ultimate-target="#interactive-banner-wrap-1885 .ult-new-ib-title" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:25px;&quot;,&quot;line-height&quot;:&quot;desktop:28px;&quot;}" style="font-weight:normal;color:#ffffff;">Insurance Companies</h2><div class="ult-new-ib-content ult-responsive" data-ultimate-target="#interactive-banner-wrap-1885 .ult-new-ib-content" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:14px;&quot;,&quot;line-height&quot;:&quot;desktop:18px;&quot;}" style="font-weight:normal;color:#ffffff;"><p>Get your free membership today and you can start connecting with top-notch damage appraisal specialists.</p></div></div><a class="ult-new-ib-link" href="~/InsuranceSetup/CreateCompany" target="_blank"></a></div>
                                        <script type="text/javascript" style="opacity: 1; animation-delay: 1s; animation-duration: 3s; animation-iteration-count: 1;" class="animated fadeInLeftBig">
			(function($){
				$(document).ready(function(){
					$(".ult-new-ib").css("opacity","1");
				});
			})(jQuery);
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h2>Thank you for your interest in IADA –&nbsp;&nbsp;Independent Automotive Damage Appraisal (IADA) association.</h2>
                                            <p>This page will help you get started as an IADA member or with your free&nbsp;Insurance Company&nbsp;membership.</p>
                                            <p>You can learn more about us by clicking on the FAQ tabs below or on the images to your left.</p>
                                            <p>If you still have questions, feel free to&nbsp;<a href="~/contact/">contact us today!</a>&nbsp;We are here to help.</p>

                                        </div>
                                    </div>
                                    <style>
                                        .faq-cat-content .panel-body > p {
                                            color: #3d3d3d !important;
                                        }
                                    </style>
                                    <div class="javo-faq">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- Nav tabs category -->
                                                <ul class="nav nav-tabs faq-cat-tabs">
                                                    <li class="active"><a href="#javo-faq-all" data-toggle="tab">All</a></li>
                                                    <li><a href="#javo-faq-190" data-toggle="tab">Membership Requirements</a></li>
                                                    <li><a href="#javo-faq-191" data-toggle="tab">Operations</a></li>
                                                </ul>

                                                <!-- Tab panes -->
                                                <div class="tab-content faq-cat-content">
                                                    <!-- ALL -->
                                                    <div class="tab-pane active in fade" id="javo-faq-all">
                                                        <div class="panel-group" id="javo-faq-con-all">
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-all" href="#javo-faq-sub-con-2147">
                                                                        <h4 class="panel-title">
                                                                            How Long Has the IADA Been Established?															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-2147" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>The IADA was founded in 1947 and has a long history of bringing quality and integrity into the claims appraisal industry. &nbsp;<!--<a href="~/about-us-2/">Read more about our history and current organization here.</a>--></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-all" href="#javo-faq-sub-con-2146">
                                                                        <h4 class="panel-title">
                                                                            What Service Areas are Covered by IADA?															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-2146" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>We are a nationwide association, with over 600 locations across the United States.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-all" href="#javo-faq-sub-con-2095">
                                                                        <h4 class="panel-title">
                                                                            How Does Centralized Billing Work?															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-2095" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>For your convenience, all invoices can be paid with a single monthly payment</p>
                                                                        <p>IADA offers a central billing service whereby companies using services provided by our members frequently can make a single payment to IADA, who then distributes the funds to the members involved.</p>
                                                                        <p>Unless you make arrangements for central billing, the normal method is for you to make payment to our individual member companies for their services, mailing each check to the individual member’s address printed on their invoice.</p>
                                                                        <p>Under central billing, you would make a monthly payment to IADA for invoices from all our member offices that provided service to you that month. Under central billing, your postage expense, number of checks, record keeping time, and year-end reporting would be minimized.</p>
                                                                        <p>For more information on our central billing system, or to initiate using this service, please contact IADA Headquarters at 800-369-IADA or <a href="~/contact/">use the contact form here.</a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-all" href="#javo-faq-sub-con-2094">
                                                                        <h4 class="panel-title">
                                                                            What Services are Provided by IADA Members?															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-2094" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>Available at most locations:</p>
                                                                        <ul>
                                                                            <li>Audit Team Assistance (material damage claims)</li>
                                                                            <li>Catastrophic Assistance (wind/hail/flood) Physical Damage Appraisals</li>
                                                                            <li>Classic, Antique, Special Interest Auto Valuations</li>
                                                                            <li>Daily Rental Car Management Assistance</li>
                                                                            <li>Damage Inspections/Repair Cost Appraisals</li>
                                                                            <li>Diminution of Value Opinion Reports</li>
                                                                            <li>Estimate (desk) Reviews/Audits Service</li>
                                                                            <li>Fire Cause and Origin Investigations</li>
                                                                            <li>Lease End Condition Inspections</li>
                                                                            <li>Local Market Valuations</li>
                                                                            <li>Low Impact Photography</li>
                                                                            <li>Mechanical Defect Investigations</li>
                                                                            <li>Mechanical Warranty Inspections</li>
                                                                            <li>Reinspections (DRP/PPO)</li>
                                                                            <li>Total Loss Settlement and Salvage Disposal Assistance</li>
                                                                            <li>Vendor/Single Interest Condition Appraisals</li>
                                                                            <li>24 Hour Over-the-Road Truck and Cargo Claim Assistance</li>
                                                                        </ul>
                                                                        <p>Vehicle, Equipment, and Property Classifications:</p>
                                                                        <ul>
                                                                            <li>Private Passenger and Commercial Automobiles</li>
                                                                            <li>Trucks and Trailers (heavy-duty over-the-road)</li>
                                                                            <li>Ambulances/Fire/Emergency Vehicles</li>
                                                                            <li>Buses and Mass Transport Equipment</li>
                                                                            <li>Construction, Agricultural Machinery, and Equipment</li>
                                                                            <li>Motorcycle/Snowmobile/ATV/Personal Watercraft</li>
                                                                            <li>Recreational Vehicles (travel trailers – motor homes)</li>
                                                                            <li>Boats and Motors (small craft to 35′)</li>
                                                                            <li>Aircraft</li>
                                                                            <li>Residential Structures</li>
                                                                            <li>Commercial Structures</li>
                                                                            <li>Personal Property</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-all" href="#javo-faq-sub-con-2093">
                                                                        <h4 class="panel-title">
                                                                            What are the Service Time Standards?															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-2093" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>IADA’s standard service practices are:</p>
                                                                        <ul>
                                                                            <li>Capability to receive assignments 24 hours a day.</li>
                                                                            <li>Contact vehicle owner within 24 hours of assignment.</li>
                                                                            <li>Vehicle inspection within 48 hours.</li>
                                                                            <li>Status to assignee, if unable to inspect within 48 hours.</li>
                                                                            <li>Completed appraisal/report to assignee within 72 hours.</li>
                                                                        </ul>
                                                                        <p>&nbsp;</p>
                                                                        <p>IADA’s on-going program features:</p>
                                                                        <ul>
                                                                            <ul>
                                                                                <li>20-Point Appraisal Program</li>
                                                                                <li>Code of Ethics</li>
                                                                                <li>Membership Standards</li>
                                                                                <li>Service Time Standards</li>
                                                                                <li>Many Types of Appraisal</li>
                                                                                <li>Central Billing Plan</li>
                                                                                <li>Highly Trained Appraisers</li>
                                                                                <li>More Than 300 Service Locations</li>
                                                                                <li>Computerized Appraisals (We can accommodate most any specialized service guidelines you may have.)</li>
                                                                            </ul>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-all" href="#javo-faq-sub-con-2091">
                                                                        <h4 class="panel-title">
                                                                            What are the Membership Standards?															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-2091" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>All IADA members must successfully pass a comprehensive background investigation and on-site review. Investigative screening verifies education/training, work experience, financial responsibility, past or present criminal activity, existence of conflicts of interest, and client service satisfaction. The on-site review focuses on the applicant’s automotive damage assessment and administrative skills. There are several requirements mandated to maintain membership in the organization, including abiding by its Code of Ethics and Bylaws, compliance with the 20-point Appraisal Program, Service Time Standards, and attending one of three yearly IADA educational functions.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-all" href="#javo-faq-sub-con-2090">
                                                                        <h4 class="panel-title">
                                                                            What is the IADA Code of Ethics?															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-2090" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>This is a pledge taken by every IADA member to ensure complete objectivity, fairness, and integrity. Each IADA member shall:</p>
                                                                        <ul>
                                                                            <li>Conduct himself or herself personally and professionally as an automotive property damage appraiser in such a manner as to inspire public confidence by fair and honorable dealings;</li>
                                                                            <li>Approach the appraisal of damaged motor vehicles or other property without prejudice against or favoritism toward any party involved for the purpose of making fair and impartial appraisals;</li>
                                                                            <li>Disregard any efforts on the part of owners, repairers, insurance personnel, third party administrators, attorneys, or others to influence his or her appraisals in any way in the interest of parties involved;</li>
                                                                            <li>As a general practice, prepare an independent appraisal of damage;</li>
                                                                            <li>Uphold the integrity of the Association, and be in every way consistent with honest policy to enhance its position with the public, the insurance industry, and the automotive repair business;</li>
                                                                            <li>Employ only the most competent assistance available in carrying on the independent automotive damage appraisal profession;</li>
                                                                            <li>At all times maintain a fiduciary relationship with clients.</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-all" href="#javo-faq-sub-con-1582">
                                                                        <h4 class="panel-title">
                                                                            Define the 20-Point Inspection.															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-1582" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>The IADA’s 20-Point Appraisal Program establishes standards that assure quality control for all customers of IADA members, and in addition, furthering vehicular safety standards. In making an appraisal, every IADA member will:</p>
                                                                        <ol>
                                                                            <li>Prepare a detailed appraisal utilizing knowledgeable and experienced personnel.</li>
                                                                            <li>Give proper identification of vehicle including VIN, year, make, model, body style, and list of equipment.</li>
                                                                            <li>Describe condition of vehicle.</li>
                                                                            <li>List unrelated damage.</li>
                                                                            <li>Provide description or picture of point of impact.</li>
                                                                            <li>Stipulate accurate time allowances on all items to be repaired or replaced.</li>
                                                                            <li>Consider replacement allowances only when parts cannot be economically or properly repaired.</li>
                                                                            <li>Consider the use of L.K.Q. parts, where applicable, when a savings can be realized.</li>
                                                                            <li>Recommend the use of recycled or after-market parts when applicable.</li>
                                                                            <li>Remove overlap on related operations.</li>
                                                                            <li>Identify betterment or depreciation when applicable.</li>
                                                                            <li>Recommend appearance allowances when applicable.</li>
                                                                            <li>Consider plastic and vinyl damage repair where practical.</li>
                                                                            <li>Report related towing and storage charges.</li>
                                                                            <li>Upon request, show A.C.V. and salvage figures on all vehicles considered to be Borderline or Total Loss.</li>
                                                                            <li>Obtain agreement with repairer unless instructed otherwise by customer.</li>
                                                                            <li>Reinspect any hidden or additional damage and document as necessary.</li>
                                                                            <li>Maintain a quality control program which includes field reviews of appraisers.</li>
                                                                            <li>Pursue an ongoing training program involving new design changes and repair procedures.</li>
                                                                            <li>Conduct all business in a professional manner.</li>
                                                                        </ol>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="javo-faq-190">
                                                        <div class="panel-group" id="javo-faq-con-190">
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-190" href="#javo-faq-sub-con-190-2093">
                                                                        <h4 class="panel-title">
                                                                            What are the Service Time Standards?															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-190-2093" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>IADA’s standard service practices are:</p>
                                                                        <ul>
                                                                            <li>Capability to receive assignments 24 hours a day.</li>
                                                                            <li>Contact vehicle owner within 24 hours of assignment.</li>
                                                                            <li>Vehicle inspection within 48 hours.</li>
                                                                            <li>Status to assignee, if unable to inspect within 48 hours.</li>
                                                                            <li>Completed appraisal/report to assignee within 72 hours.</li>
                                                                        </ul>
                                                                        <p>&nbsp;</p>
                                                                        <p>IADA’s on-going program features:</p>
                                                                        <ul>
                                                                            <ul>
                                                                                <li>20-Point Appraisal Program</li>
                                                                                <li>Code of Ethics</li>
                                                                                <li>Membership Standards</li>
                                                                                <li>Service Time Standards</li>
                                                                                <li>Many Types of Appraisal</li>
                                                                                <li>Central Billing Plan</li>
                                                                                <li>Highly Trained Appraisers</li>
                                                                                <li>More Than 300 Service Locations</li>
                                                                                <li>Computerized Appraisals (We can accommodate most any specialized service guidelines you may have.)</li>
                                                                            </ul>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-190" href="#javo-faq-sub-con-190-2091">
                                                                        <h4 class="panel-title">
                                                                            What are the Membership Standards?															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-190-2091" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>All IADA members must successfully pass a comprehensive background investigation and on-site review. Investigative screening verifies education/training, work experience, financial responsibility, past or present criminal activity, existence of conflicts of interest, and client service satisfaction. The on-site review focuses on the applicant’s automotive damage assessment and administrative skills. There are several requirements mandated to maintain membership in the organization, including abiding by its Code of Ethics and Bylaws, compliance with the 20-point Appraisal Program, Service Time Standards, and attending one of three yearly IADA educational functions.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-190" href="#javo-faq-sub-con-190-2090">
                                                                        <h4 class="panel-title">
                                                                            What is the IADA Code of Ethics?															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-190-2090" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>This is a pledge taken by every IADA member to ensure complete objectivity, fairness, and integrity. Each IADA member shall:</p>
                                                                        <ul>
                                                                            <li>Conduct himself or herself personally and professionally as an automotive property damage appraiser in such a manner as to inspire public confidence by fair and honorable dealings;</li>
                                                                            <li>Approach the appraisal of damaged motor vehicles or other property without prejudice against or favoritism toward any party involved for the purpose of making fair and impartial appraisals;</li>
                                                                            <li>Disregard any efforts on the part of owners, repairers, insurance personnel, third party administrators, attorneys, or others to influence his or her appraisals in any way in the interest of parties involved;</li>
                                                                            <li>As a general practice, prepare an independent appraisal of damage;</li>
                                                                            <li>Uphold the integrity of the Association, and be in every way consistent with honest policy to enhance its position with the public, the insurance industry, and the automotive repair business;</li>
                                                                            <li>Employ only the most competent assistance available in carrying on the independent automotive damage appraisal profession;</li>
                                                                            <li>At all times maintain a fiduciary relationship with clients.</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-190" href="#javo-faq-sub-con-190-1582">
                                                                        <h4 class="panel-title">
                                                                            Define the 20-Point Inspection.															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-190-1582" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>The IADA’s 20-Point Appraisal Program establishes standards that assure quality control for all customers of IADA members, and in addition, furthering vehicular safety standards. In making an appraisal, every IADA member will:</p>
                                                                        <ol>
                                                                            <li>Prepare a detailed appraisal utilizing knowledgeable and experienced personnel.</li>
                                                                            <li>Give proper identification of vehicle including VIN, year, make, model, body style, and list of equipment.</li>
                                                                            <li>Describe condition of vehicle.</li>
                                                                            <li>List unrelated damage.</li>
                                                                            <li>Provide description or picture of point of impact.</li>
                                                                            <li>Stipulate accurate time allowances on all items to be repaired or replaced.</li>
                                                                            <li>Consider replacement allowances only when parts cannot be economically or properly repaired.</li>
                                                                            <li>Consider the use of L.K.Q. parts, where applicable, when a savings can be realized.</li>
                                                                            <li>Recommend the use of recycled or after-market parts when applicable.</li>
                                                                            <li>Remove overlap on related operations.</li>
                                                                            <li>Identify betterment or depreciation when applicable.</li>
                                                                            <li>Recommend appearance allowances when applicable.</li>
                                                                            <li>Consider plastic and vinyl damage repair where practical.</li>
                                                                            <li>Report related towing and storage charges.</li>
                                                                            <li>Upon request, show A.C.V. and salvage figures on all vehicles considered to be Borderline or Total Loss.</li>
                                                                            <li>Obtain agreement with repairer unless instructed otherwise by customer.</li>
                                                                            <li>Reinspect any hidden or additional damage and document as necessary.</li>
                                                                            <li>Maintain a quality control program which includes field reviews of appraisers.</li>
                                                                            <li>Pursue an ongoing training program involving new design changes and repair procedures.</li>
                                                                            <li>Conduct all business in a professional manner.</li>
                                                                        </ol>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="javo-faq-191">
                                                        <div class="panel-group" id="javo-faq-con-191">
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-191" href="#javo-faq-sub-con-191-2146">
                                                                        <h4 class="panel-title">
                                                                            What Service Areas are Covered by IADA?															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-191-2146" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>We are a nationwide association, with over 600 locations across the United States.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-191" href="#javo-faq-sub-con-191-2095">
                                                                        <h4 class="panel-title">
                                                                            How Does Centralized Billing Work?															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-191-2095" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>For your convenience, all invoices can be paid with a single monthly payment</p>
                                                                        <p>IADA offers a central billing service whereby companies using services provided by our members frequently can make a single payment to IADA, who then distributes the funds to the members involved.</p>
                                                                        <p>Unless you make arrangements for central billing, the normal method is for you to make payment to our individual member companies for their services, mailing each check to the individual member’s address printed on their invoice.</p>
                                                                        <p>Under central billing, you would make a monthly payment to IADA for invoices from all our member offices that provided service to you that month. Under central billing, your postage expense, number of checks, record keeping time, and year-end reporting would be minimized.</p>
                                                                        <p>For more information on our central billing system, or to initiate using this service, please contact IADA Headquarters at 800-369-IADA or <a href="~/contact/">use the contact form here.</a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-191" href="#javo-faq-sub-con-191-2094">
                                                                        <h4 class="panel-title">
                                                                            What Services are Provided by IADA Members?															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-191-2094" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>Available at most locations:</p>
                                                                        <ul>
                                                                            <li>Audit Team Assistance (material damage claims)</li>
                                                                            <li>Catastrophic Assistance (wind/hail/flood) Physical Damage Appraisals</li>
                                                                            <li>Classic, Antique, Special Interest Auto Valuations</li>
                                                                            <li>Daily Rental Car Management Assistance</li>
                                                                            <li>Damage Inspections/Repair Cost Appraisals</li>
                                                                            <li>Diminution of Value Opinion Reports</li>
                                                                            <li>Estimate (desk) Reviews/Audits Service</li>
                                                                            <li>Fire Cause and Origin Investigations</li>
                                                                            <li>Lease End Condition Inspections</li>
                                                                            <li>Local Market Valuations</li>
                                                                            <li>Low Impact Photography</li>
                                                                            <li>Mechanical Defect Investigations</li>
                                                                            <li>Mechanical Warranty Inspections</li>
                                                                            <li>Reinspections (DRP/PPO)</li>
                                                                            <li>Total Loss Settlement and Salvage Disposal Assistance</li>
                                                                            <li>Vendor/Single Interest Condition Appraisals</li>
                                                                            <li>24 Hour Over-the-Road Truck and Cargo Claim Assistance</li>
                                                                        </ul>
                                                                        <p>Vehicle, Equipment, and Property Classifications:</p>
                                                                        <ul>
                                                                            <li>Private Passenger and Commercial Automobiles</li>
                                                                            <li>Trucks and Trailers (heavy-duty over-the-road)</li>
                                                                            <li>Ambulances/Fire/Emergency Vehicles</li>
                                                                            <li>Buses and Mass Transport Equipment</li>
                                                                            <li>Construction, Agricultural Machinery, and Equipment</li>
                                                                            <li>Motorcycle/Snowmobile/ATV/Personal Watercraft</li>
                                                                            <li>Recreational Vehicles (travel trailers – motor homes)</li>
                                                                            <li>Boats and Motors (small craft to 35′)</li>
                                                                            <li>Aircraft</li>
                                                                            <li>Residential Structures</li>
                                                                            <li>Commercial Structures</li>
                                                                            <li>Personal Property</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default panel-faq">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" data-parent="#javo-faq-con-191" href="#javo-faq-sub-con-191-1582">
                                                                        <h4 class="panel-title">
                                                                            Define the 20-Point Inspection.															<span class="pull-left"><i class="glyphicon glyphicon-plus"></i></span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div id="javo-faq-sub-con-191-1582" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <p>The IADA’s 20-Point Appraisal Program establishes standards that assure quality control for all customers of IADA members, and in addition, furthering vehicular safety standards. In making an appraisal, every IADA member will:</p>
                                                                        <ol>
                                                                            <li>Prepare a detailed appraisal utilizing knowledgeable and experienced personnel.</li>
                                                                            <li>Give proper identification of vehicle including VIN, year, make, model, body style, and list of equipment.</li>
                                                                            <li>Describe condition of vehicle.</li>
                                                                            <li>List unrelated damage.</li>
                                                                            <li>Provide description or picture of point of impact.</li>
                                                                            <li>Stipulate accurate time allowances on all items to be repaired or replaced.</li>
                                                                            <li>Consider replacement allowances only when parts cannot be economically or properly repaired.</li>
                                                                            <li>Consider the use of L.K.Q. parts, where applicable, when a savings can be realized.</li>
                                                                            <li>Recommend the use of recycled or after-market parts when applicable.</li>
                                                                            <li>Remove overlap on related operations.</li>
                                                                            <li>Identify betterment or depreciation when applicable.</li>
                                                                            <li>Recommend appearance allowances when applicable.</li>
                                                                            <li>Consider plastic and vinyl damage repair where practical.</li>
                                                                            <li>Report related towing and storage charges.</li>
                                                                            <li>Upon request, show A.C.V. and salvage figures on all vehicles considered to be Borderline or Total Loss.</li>
                                                                            <li>Obtain agreement with repairer unless instructed otherwise by customer.</li>
                                                                            <li>Reinspect any hidden or additional damage and document as necessary.</li>
                                                                            <li>Maintain a quality control program which includes field reviews of appraisers.</li>
                                                                            <li>Pursue an ongoing training program involving new design changes and repair procedures.</li>
                                                                            <li>Conduct all business in a professional manner.</li>
                                                                        </ol>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div></div>
                </div><!-- .entry-content -->
                <footer class="entry-meta"></footer><!-- .entry-meta -->
            </article><!-- #post -->
        </div>
    </div>
</div>

